/* ----- ----- ----- ----- ----- */
/* ##### COLOR ##### */
/* ----- ----- ----- ----- ----- */
.bg-black {
  background-color: #000000;
}
/* ----- ----- ----- ----- ----- */
/* ##### FONT ##### */
/* ----- ----- ----- ----- ----- */
html,
body {
  font-family: 'SST W20 Roman', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: auto;
  background-image: url(../img/bg-template.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .35s ease;
       -o-transition: color .35s ease;
          transition: color .35s ease;
}
a:hover,
a:focus,
a.active {
  color: #f15a22;
  text-decoration: none;
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 61px;
  z-index: 1000;
  background-image: url(../img/bg-header-2.png);
  background-repeat: repeat-x;
}
header .logo {
  top: 25px;
  left: 40px;
  position: absolute;
  display: inline-block;
}
header nav {
  font-size: 16px;
  margin-top: 25px;
}
header nav img {
  vertical-align: baseline;
}
header nav a {
  margin: 0 45px;
}
.secondary-nav {
  margin-top: 61px;
  height: 60px;
  background-color: #1f1f1f;
  background-image: url(../img/bg-secondary_nav.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto auto;
          background-size: auto;
}
.secondary-nav a p {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  line-height: 60px;
}
.secondary-nav span {
  margin: auto 10px;
  display: inline-block;
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 179px;
  z-index: 1000;
  background-image: url(../img/bg-footer.png);
}
footer .pull-left {
  font-size: 26px;
  color: #f15a22;
  font-family: 'SST W20 Italic';
  position: relative;
  top: 110px;
  left: 40px;
}
footer .pull-left .logo,
footer .pull-left p {
  display: inline-block;
}
footer .pull-left p {
  position: relative;
  top: 5px;
  left: 10px;
}
footer .pull-right {
  position: relative;
  top: 60px;
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
