<section id="content" class="container-fluid thai">

    <div class="row">

        <!-- Desktop -->
        <div class="col-sm-12 photographer-container">

            <div class="row">


                <!--
                <div id="photographer-id-benny" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-benny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:benny', 'ilc:sea:thai', 'ilc:sea:thai:home:benny', 'microsite|ilc:sea:thai|home|benny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพงานแต่ง</p>
                            </div>
                            <p class="photographer-name">Benny Lim</p>
                            <p class="country-name">อินโดนีเซีย</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-id-nicoline" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:nicoline', 'ilc:sea:thai', 'ilc:sea:thai:home:nicoline', 'microsite|ilc:sea:thai|home|nicoline');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพบุคคล + แฟชั่น</p>
                            </div>
                            <p class="photographer-name">Nicoline Patricia Malina</p>
                            <p class="country-name">อินโดนีเซีย</p>
                        </div>

                    </a>

                </div> -->



                <div id="photographer-ph-pilar" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/@@language/profile-pilar.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:pilar', 'ilc:sea:thai', 'ilc:sea:thai:home:pilar', 'microsite|ilc:sea:thai|home|pilar');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพบุคคล + งานแต่ง + แฟชั่น</p>
                            </div>
                            <p class="photographer-name">Pilar Trigo Bonnin</p>
                            <p class="country-name">ฟิลิปปินส์</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-my-fakrul" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-fakrul.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:fakrul', 'ilc:sea:thai', 'ilc:sea:thai:home:fakrul', 'microsite|ilc:sea:thai|home|fakrul');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพภูมิทัศน์</p>
                            </div>
                            <p class="photographer-name">Fakrul Jamil</p>
                            <p class="country-name">มาเลเซีย</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-th-tavepong" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-tavepong.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:tavepong', 'ilc:sea:thai', 'ilc:sea:thai:home:tavepong', 'microsite|ilc:sea:thai|home|tavepong');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">สตรีท</p>
                            </div>
                            <p class="photographer-name">Tavepong Pratoomwong</p>
                            <p class="country-name">ไทย</p>
                        </div>

                    </a>

                </div>





                <div id="photographer-sg-bryan" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:bryan', 'ilc:sea:thai', 'ilc:sea:thai:home:bryan', 'microsite|ilc:sea:thai|home|bryan');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพโฆษณา + ภาพข่าว</p>
                            </div>
                            <p class="photographer-name">Bryan van der Beek</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>


                    </a>

                </div>

                <div id="photographer-th-vin" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-vin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:vin', 'ilc:@@country', 'ilc:@@country:home:vin', 'microsite|ilc:@@country|home|vin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพภูมิทัศน์ + ช่างภาพงานแต่ง</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">ไทย</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-my-eric" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-eric.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:eric', 'ilc:sea:thai', 'ilc:sea:thai:home:eric', 'microsite|ilc:sea:thai|home|eric');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพงานแต่ง</p>
                            </div>
                            <p class="photographer-name">Ooi Eric</p>
                            <p class="country-name">มาเลเซีย</p>
                        </div>

                    </a>

                </div>




                <div id="home-main" class="home-main col-md-12 hidden-sm hidden-xs">
                    <div class="bg desktop"></div>
                </div>


                <div id="photographer-sg-darren" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-darren.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:darren', 'ilc:sea:thai', 'ilc:sea:thai:home:darren', 'microsite|ilc:sea:thai|home|darren');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพสถาปัตยกรรม</p>
                            </div>
                            <p class="photographer-name">Darren Soh</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>


                    </a>

                </div>



                <div id="photographer-ph-manny" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/@@language/profile-manny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:manny', 'ilc:sea:thai', 'ilc:sea:thai:home:manny', 'microsite|ilc:sea:thai|home|manny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพบุคคล + ท่องเที่ยว + แฟชั่น</p>
                            </div>
                            <p class="photographer-name">Manny Librodo</p>
                            <p class="country-name">ฟิลิปปินส์</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-sg-edward" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-edward.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:edward', 'ilc:sea:thai', 'ilc:sea:thai:home:edward', 'microsite|ilc:sea:thai|home|edward');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพภูมิทัศน์ + ทิวทัศน์เมือง</p>
                            </div>
                            <p class="photographer-name">Edward Tian</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-th-urasha" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-urasha.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:urasha', 'ilc:sea:thai', 'ilc:sea:thai:home:urasha', 'microsite|ilc:sea:thai|home|urasha');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพบุคคล + ภูมิทัศน์ + ท่องเที่ยว</p>
                            </div>
                            <p class="photographer-name">Urasha Jakkachaphol</p>
                            <p class="country-name">ไทย</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-th-kriengkrai" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:kriengkrai', 'ilc:sea:thai', 'ilc:sea:thai:home:kriengkrai', 'microsite|ilc:sea:thai|home|kriengkrai');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพท่องเที่ยว + สารคดี + ท้องถนน</p>
                            </div>
                            <p class="photographer-name">Kriengkrai Waiyakij</p>
                            <p class="country-name">ไทย</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-sg-kelvin" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-kelvin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:kelvin', 'ilc:sea:thai', 'ilc:sea:thai:home:kelvin', 'microsite|ilc:sea:thai|home|kelvin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพงานแต่ง</p>
                            </div>
                            <p class="photographer-name">Kelvin Koh</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>


                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <!-- <div id="photographer-id-glenn" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-glenn.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:glenn', 'ilc:sea:thai', 'ilc:sea:thai:home:glenn', 'microsite|ilc:sea:thai|home|glenn');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพบุคคล + แฟชั่น</p>
                            </div>
                            <p class="photographer-name">Glenn Prasetya</p>
                            <p class="country-name">อินโดนีเซีย</p>
                        </div>


                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div> -->



                <div id="photographer-sg-chester" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:chester', 'ilc:sea:thai', 'ilc:sea:thai:home:chester', 'microsite|ilc:sea:thai|home|chester');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพภูมิทัศน์</p>
                            </div>
                            <p class="photographer-name">Chester Chen</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>


                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-my-nick" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-nick.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:nick', 'ilc:sea:thai', 'ilc:sea:thai:home:nick', 'microsite|ilc:sea:thai|home|nick');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพท่องเที่ยว + สารคดี</p>
                            </div>
                            <p class="photographer-name">Nick Ng</p>
                            <p class="country-name">มาเลเซีย</p>
                        </div>


                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <!-- <div id="photographer-sg-bryan" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:home:bryan', 'ilc:sea:thai', 'ilc:sea:thai:home:bryan', 'microsite|ilc:sea:thai|home|bryan');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพโฆษณา + ภาพข่าว</p>
                            </div>
                            <p class="photographer-name">Bryan van der Beek</p>
                            <p class="country-name">สิงคโปร์</p>
                        </div>


                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div> -->



                <div id="photographer-sg-aloysius" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-aloysius.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:aloysius', 'ilc:@@country', 'ilc:@@country:home:aloysius', 'microsite|ilc:@@country|home|aloysius');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพงานแต่ง + ภาพงานดนตรี</p>
                            </div>
                            <p class="photographer-name">Aloysius Lim</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>

                <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">

                    <div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <!-- <p class="photographer-name">และอีกมากมาย เร็วๆ นี้</p> -->
                            <p class="photographer-name">เร็วๆ นี้</p>
                        </div>

                    </div>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">

                    <div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <!-- <p class="photographer-name">และอีกมากมาย เร็วๆ นี้</p> -->
                            <p class="photographer-name">เร็วๆ นี้</p>
                        </div>

                    </div>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">

                    <div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <!-- <p class="photographer-name">และอีกมากมาย เร็วๆ นี้</p> -->
                            <p class="photographer-name">เร็วๆ นี้</p>
                        </div>

                    </div>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>




                <!-- <div id="photographer-th-vin" class="photographer-coming-soon photographer col-sm-12 col-md-2">

                    <a onclick="return false;">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/comingsoon_blurb.png" height="117" width="117" alt="More coming soon">
                            <img class="hidden-md hidden-lg" src="img/home/comingsoon_blurb-mobile.png" height="234" width="234" alt="More coming soon">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">ช่างภาพภูมิทัศน์ + ช่างภาพงานแต่ง</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">ไทย</p>
                        </div>

                    </a>

                </div> -->



                <!-- <div class="clearfix"></div> -->



                <div class="col-xs-12 empty"></div>



            </div>

        </div>

    </div>

</section>
