<div class="thai" id="profile-kelvin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:235px;">
            <div>
                <p class="type">ช่างภาพงานแต่ง</p>
                <p class="name">Kelvin Koh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">สิงคโปร์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">ช่างภาพงานแต่ง</p>
                    <p class="name">Kelvin Koh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div class="row clearfix">
                    <p class="country">สิงคโปร์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เคลวิน โคห์ (Kelvin Koh) คือผู้ก่อตั้งสตูดิโอถ่ายภาพ Lightedpixels เขาเป็นนักถ่ายภาพงานแต่ง, ครอบครัว, และภาพถ่ายบุคคล ซึ่งน่าสนใจตรงที่ว่ามีงาน 2 งานเกี่ยวกับอาหารที่ได้รับการตีพิมพ์ โดยเป็นงานถ่ายภาพเชฟสร้างสรรค์ที่ประสบความสำเร็จ นั่นคือเจนิเซ วอง (Janice Wong) แห่งร้านขนมหวาน 2AM Dessert Bar</p>

            <p>สตูดิโอ Lightedpixels ของเขานั้นมีงานมากมายเกี่ยวกับการถ่ายภาพครอบครัวและภาพบุคคลในระดับภูมิภาค ซึ่งทำให้เขาได้รับรางวัลมากมายสำหรับผลงานที่แสดงออกมาทั้งในและต่างประเทศ อีกทั้งยังเป็นบริษัทเดียวในสิงคโปร์ที่ได้รับรางวัล Tatler’s Best of Singapore มากถึง 9 ปีซ้อนนับตั้งแต่ปี 2007 เป็นต้นมา</p>

            <p>ชื่อของเขาเป็นที่น่าเชื่อถือในวงการถ่ายภาพแต่งงานและภาพข่าวชั้นนำในสิงคโปร์ ทั้งยังเป็นที่ต้องการอย่างกว้างขวางสำหรับการติดต่อถ่ายภาพในงานแต่งงาน ผลงานภาพงานแต่งของเขากลายเป็นแรงบันดาลใจของคนรุ่นต่อไปที่กำลังเข้าสู่วงการการถ่ายภาพงานแต่ง และช่างภาพหนุ่มสาวสมัยใหม่ก็ยังต้องการคำแนะนำดีๆ จากเขาอยู่เสมอ</p>

            <p>เคลวินยังจัดการสัมมนาและเวิร์คช็อปด้านการถ่ายภาพงานแต่ง โดยในปีนี้เขาเริ่มเวิร์คช็อปแรกเกี่ยวกับการถ่ายภาพท่องเที่ยวในภูมิภาคเสร็จสิ้นแล้วในกรุงโตเกียว ประเทศญี่ปุ่น</p>

            <p>คุณสามารถชมผลงานของเขาได้ที่
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:kelvin:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:kelvin:works:link', 'microsite|ilc:sea:thai|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เคลวิน โคห์ (Kelvin Koh) คือผู้ก่อตั้งสตูดิโอถ่ายภาพ Lightedpixels เขาเป็นนักถ่ายภาพงานแต่ง, ครอบครัว, และภาพถ่ายบุคคล ซึ่งน่าสนใจตรงที่ว่ามีงาน 2 งานเกี่ยวกับอาหารที่ได้รับการตีพิมพ์ โดยเป็นงานถ่ายภาพเชฟสร้างสรรค์ที่ประสบความสำเร็จ นั่นคือเจนิเซ วอง (Janice Wong) แห่งร้านขนมหวาน 2AM Dessert Bar</p>

            <p>สตูดิโอ Lightedpixels ของเขานั้นมีงานมากมายเกี่ยวกับการถ่ายภาพครอบครัวและภาพบุคคลในระดับภูมิภาค ซึ่งทำให้เขาได้รับรางวัลมากมายสำหรับผลงานที่แสดงออกมาทั้งในและต่างประเทศ อีกทั้งยังเป็นบริษัทเดียวในสิงคโปร์ที่ได้รับรางวัล Tatler’s Best of Singapore มากถึง 9 ปีซ้อนนับตั้งแต่ปี 2007 เป็นต้นมา</p>

            <p>ชื่อของเขาเป็นที่น่าเชื่อถือในวงการถ่ายภาพแต่งงานและภาพข่าวชั้นนำในสิงคโปร์ ทั้งยังเป็นที่ต้องการอย่างกว้างขวางสำหรับการติดต่อถ่ายภาพในงานแต่งงาน ผลงานภาพงานแต่งของเขากลายเป็นแรงบันดาลใจของคนรุ่นต่อไปที่กำลังเข้าสู่วงการการถ่ายภาพงานแต่ง และช่างภาพหนุ่มสาวสมัยใหม่ก็ยังต้องการคำแนะนำดีๆ จากเขาอยู่เสมอ</p>

            <p>เคลวินยังจัดการสัมมนาและเวิร์คช็อปด้านการถ่ายภาพงานแต่ง โดยในปีนี้เขาเริ่มเวิร์คช็อปแรกเกี่ยวกับการถ่ายภาพท่องเที่ยวในภูมิภาคเสร็จสิ้นแล้วในกรุงโตเกียว ประเทศญี่ปุ่น</p>

            <p>คุณสามารถชมผลงานของเขาได้ที่
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:kelvin:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:kelvin:works:link', 'microsite|ilc:sea:thai|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Kelvin</span>
                </p>
                <img data-original="img/profile/sg/kelvin/profile_pic-1.jpg" class="lazy" width="315" height="415" alt="พูดคุย กับ Kelvin">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/kelvin/quote-1-th.png" width="295" height="190" alt="Kevin's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/kelvin/quote-2-th.png" width="310" height="266" alt="Kevin's quote">

                <!-- <img class="quote-3 img-responsive center-block" src="img/profile/sg/kelvin/quote-3.png" width="289" height="303" alt="Kevin's quote"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมพูดได้ว่ามันคือเรื่องราวที่ผมสามารถสำรวจความเป็นไปของชีวิตได้จากการถ่ายภาพในทุกๆ วัน ซึ่งในฐานช่างภาพงานแต่งและภาพบุคคล มันคือความพึงพอใจและเป็นความสุขเล็กๆ ของการได้เป็นส่วนหนึ่งในการบันทึกภาพโอกาสสำคัญของบุคคลต่างๆ และในชีวิตคู่ ซึ่งผมมีแรงบันดาลใจจากประสบการณ์ต่างๆ ที่สั่งสมมาสู่ความเป็นช่างภาพนี้</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">แน่นอนว่ามันสำคัญอย่างยิ่ง มันเป็นสิ่งที่ผมทำได้ดีที่สุด และผมได้ใช้มันเป็นสื่อกลางในการแสดงออกว่าผมคือใคร และผมทำอะไรได้</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Kevin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มันควรเป็นส่วนหนึ่งของตัวตนผม อุปกรณ์ถ่ายภาพของผมควรเป็นเรื่องง่ายและสะดวกสบายต่อการใช้ และยังต้องมีทุกคุณสมบัติที่เกี่ยวข้องเพื่อจะทำให้ผมใช้งานได้สะดวกมากขึ้น ในฐานะที่ผมเป็นช่างภาพผมเชื่อว่าการบันทึกทุกช่วงเวลาและทุกสิ่งอย่างนั้นมีความหมายที่สำคัญ ซึ่งทุกครั้งจะเป็นครั้งแรกและครั้งสำคัญที่สุดในใจของผม ผมจะรักอุปกรณ์ที่สามารถช่วยเหลือผมในการบรรลุเป้าหมายและไม่เป็นอุปสรรคต่อการทำงาน</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมพูดได้เลยว่าบุคคลสำคัญของผมคือเอลลิออต เอร์วิตต์ (Elliot Erwitt) และภรรยาของผมอลิซาเบธ ผมรักสิ่งที่เอลลิออตแสดงให้เห็นถึงวิถีชีวิตที่สะท้อนจากภาพถ่ายของเขา ซึ่งได้เปิดเผยบางสิ่งอย่างชาญฉลาด ส่วนภรรยาของผมอลิซาเบธก็ให้การสนับสนุนผมเป็นอย่างดี บ่อยครั้งที่ผมถ่ายภาพจะมีพื้นฐานมาจากความรู้สึกและเธอก็ได้ช่วยผมมาอย่างมากมาย และที่สำคัญที่สุดคือเธอช่วยให้ผมมีความรู้สึกและความรักนั่นเอง</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมถ่ายภาพมานานกว่า 10 ปี และเมื่อเร็วๆ มานี้ผมเริ่มรู้สึกว่ากล้องและอุปกรณ์ต่างๆ ที่ผมสะพายหลังอยู่มันหนักขึ้นทุกทีและอาจส่งผลกับหลังของผม ในขณะที่ a7 ที่มีขนาดเล็กและเบากว่าจึงเข้ามาและทำให้รู้สึกตัวเบาขึ้น ที่สำคัญคือผมไม่ต้องสูญเสียคุณสมบัติที่สำคัญไป เหมือนกับกล้องฟลูเฟรมที่แอบซ่อนคุณสมบัติมากมายเอาไว้เบื้องหลัง</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ก่อนจะมาเป็นช่างถ่ายภาพงานแต่ง ผมถ่ายภาพในลักษณะของงานข่าวมาก่อน มันเป็นสิ่งสำคัญสำหรับผมกับการใช้อุปกรณ์โดยไม่ให้เกิดการดึงดูดความสนใจมากจนเกินไป ทั้งยังต้องใช้งานง่ายและคล่องตัวโดยเฉพาะอย่างยิ่งในระยะหลังๆ ผมยังต้องการความน่าเชื่อถือในตัวกล้อง ซึ่งต้องไม่มีความผิดพลาดใดๆ เกิดขึ้นในช่วงเวลาสำคัญระหว่างในพิธีงานแต่ง และผมเชื่อว่ากล้องโซนี่ตะกูล a7 สามารถตอบโจทย์ผมได้ทุกข้อด้วยคุณสมบัติมากมายเมื่อเทียบกับขนาดของมัน ผมเพิ่งจะวาดฝันไว้ถึงเลนส์ชุดล่าสุดที่จะมาพร้อมกับบางสิ่งบางอย่างที่ดีที่สุดในวงการนี้ สรุปก็คือ ผมรู้สึกตื่นเต้นมากที่ได้ใช้กล้องกับการทำงานถ่ายภาพการแต่งงานได้เป็นอย่างดีนอกจากการถ่ายภาพท่องเที่ยวและภาพส่วนตัว</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ประการแรกคือเรื่องของน้ำหนัก การเป็นช่างภาพที่ต้องเดินทางตลอดเวลาทำให้ผมต้องการถืออุปกรณ์ได้อย่างคล่องตัว และใช้พื้นที่เก็บอุปกรณ์ได้มากขึ้นโดยต้องไม่มีน้ำหนักมากจนเกินไป ประการที่ 2 คือขนาด การเป็นช่างภาพงานแต่งมันช่วยให้ผมมีความระมัดระวังมากขึ้นและรู้สึกกลายเป็นส่วนเกินน้อยลงในการเก็บภาพช่วงเวลาเหล่านั้นอย่างใกล้ชิด
                        <br/>
                        <br/> ต่อมาเป็นเรื่องของช่องมองภาพอิเล็กทรอนิกส์ช่วยทำให้ผมมีโอกาสที่จะบันทึกภาพได้อย่างแม่นยำยิ่งขึ้นไม่ว่าจะเป็นภาพมุมต่ำหรือสูง และสร้างสรรค์บางสิ่งที่ผมไม่สามารถทำได้กับกล้อง DSLR ตัวเดิม
                        <br/>
                        <br/> และสุดท้ายคือฟังก์ชั่น Focus Peaking ยังเป็นประโยชน์มากเมื่อผมตัดสินใจใช้เลนส์โฟกัสด้วยมือ มันง่ายมากและทำให้แน่ใจว่าภาพถูกโฟกัสอย่างถูกต้อง ทั้งหมดที่ผมกล่าวมาทำให้ผมสามารถเก็บภาพสวยๆ ได้มากกว่าเดิม</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมพูดได้เลยว่าอาจเป็นถึงหนึ่งในผู้นำ ด้วยเทคโนโลยีอันชาญฉลาดและความสดใหม่ของโซนี่ทำให้อยู่ในระดับแนวหน้าอยู่เสมอ ส่วนตัวผมชอบวิธีควบคุมกล้องที่พวกเขาได้ออกแบบไว้เป็นอย่างดี ซึ่งเป็นอะไรที่เข้าใจได้และง่ายต่อการใช้งานมากๆ ผมยังชอบช่วงความกว้างของแสงในตัวกล้อง ซึ่งทำให้พื้นหลังไม่สวง่างจ้าหรือมืดเกินไปอย่างสม่ำเสมอ ซึ่งเป็นกล้องที่มีระบบสมดุลแสงที่น่าชื่นชม ให้โทนสีผิวที่สวยงามน่ารักอีกด้วย</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Kevin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับตอนนี้ผมชอบเลนส์ Zeiss 35 ม.ม. f1.4 มากที่สุด ผมรักการสร้างสรรค์ภาพและการสร้างสี ประหนึ่งเป็นผลงานที่สร้างขึ้นจากคุณภาพอันงดงาม</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในกระเป๋าผมจะมี a7II พร้อมกับเลนส์ Zeiss 35 ม.ม. f1.4, เลนส์โซนี่ 55 ม.ม. F1.8 และเลนส์ G 70-200 ม.ม. F2.8 ซึ่งนอกจากกล้องและอุปกรณ์ต่างๆ แล้ว ก็ยังมีสเปรย์ไล่ยุงและเจลล้างมือด้วยนะ</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Kelvin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/kelvin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Kelvin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมพูดได้ว่ามันคือเรื่องราวที่ผมสามารถสำรวจความเป็นไปของชีวิตได้จากการถ่ายภาพในทุกๆ วัน ซึ่งในฐานช่างภาพงานแต่งและภาพบุคคล มันคือความพึงพอใจและเป็นความสุขเล็กๆ ของการได้เป็นส่วนหนึ่งในการบันทึกภาพโอกาสสำคัญของบุคคลต่างๆ และในชีวิตคู่ ซึ่งผมมีแรงบันดาลใจจากประสบการณ์ต่างๆ ที่สั่งสมมาสู่ความเป็นช่างภาพนี้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">แน่นอนว่ามันสำคัญอย่างยิ่ง มันเป็นสิ่งที่ผมทำได้ดีที่สุด และผมได้ใช้มันเป็นสื่อกลางในการแสดงออกว่าผมคือใคร และผมทำอะไรได้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มันควรเป็นส่วนหนึ่งของตัวตนผม อุปกรณ์ถ่ายภาพของผมควรเป็นเรื่องง่ายและสะดวกสบายต่อการใช้ และยังต้องมีทุกคุณสมบัติที่เกี่ยวข้องเพื่อจะทำให้ผมใช้งานได้สะดวกมากขึ้น ในฐานะที่ผมเป็นช่างภาพผมเชื่อว่าการบันทึกทุกช่วงเวลาและทุกสิ่งอย่างนั้นมีความหมายที่สำคัญ ซึ่งทุกครั้งจะเป็นครั้งแรกและครั้งสำคัญที่สุดในใจของผม ผมจะรักอุปกรณ์ที่สามารถช่วยเหลือผมในการบรรลุเป้าหมายและไม่เป็นอุปสรรคต่อการทำงาน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมพูดได้เลยว่าบุคคลสำคัญของผมคือเอลลิออต เอร์วิตต์ (Elliot Erwitt) และภรรยาของผมอลิซาเบธ ผมรักสิ่งที่เอลลิออตแสดงให้เห็นถึงวิถีชีวิตที่สะท้อนจากภาพถ่ายของเขา ซึ่งได้เปิดเผยบางสิ่งอย่างชาญฉลาด ส่วนภรรยาของผมอลิซาเบธก็ให้การสนับสนุนผมเป็นอย่างดี บ่อยครั้งที่ผมถ่ายภาพจะมีพื้นฐานมาจากความรู้สึกและเธอก็ได้ช่วยผมมาอย่างมากมาย และที่สำคัญที่สุดคือเธอช่วยให้ผมมีความรู้สึกและความรักนั่นเอง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมถ่ายภาพมานานกว่า 10 ปี และเมื่อเร็วๆ มานี้ผมเริ่มรู้สึกว่ากล้องและอุปกรณ์ต่างๆ ที่ผมสะพายหลังอยู่มันหนักขึ้นทุกทีและอาจส่งผลกับหลังของผม ในขณะที่ a7 ที่มีขนาดเล็กและเบากว่าจึงเข้ามาและทำให้รู้สึกตัวเบาขึ้น ที่สำคัญคือผมไม่ต้องสูญเสียคุณสมบัติที่สำคัญไป เหมือนกับกล้องฟลูเฟรมที่แอบซ่อนคุณสมบัติมากมายเอาไว้เบื้องหลัง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ก่อนจะมาเป็นช่างถ่ายภาพงานแต่ง ผมถ่ายภาพในลักษณะของงานข่าวมาก่อน มันเป็นสิ่งสำคัญสำหรับผมกับการใช้อุปกรณ์โดยไม่ให้เกิดการดึงดูดความสนใจมากจนเกินไป ทั้งยังต้องใช้งานง่ายและคล่องตัวโดยเฉพาะอย่างยิ่งในระยะหลังๆ ผมยังต้องการความน่าเชื่อถือในตัวกล้อง ซึ่งต้องไม่มีความผิดพลาดใดๆ เกิดขึ้นในช่วงเวลาสำคัญระหว่างในพิธีงานแต่ง และผมเชื่อว่ากล้องโซนี่ตะกูล a7 สามารถตอบโจทย์ผมได้ทุกข้อด้วยคุณสมบัติมากมายเมื่อเทียบกับขนาดของมัน ผมเพิ่งจะวาดฝันไว้ถึงเลนส์ชุดล่าสุดที่จะมาพร้อมกับบางสิ่งบางอย่างที่ดีที่สุดในวงการนี้ สรุปก็คือ ผมรู้สึกตื่นเต้นมากที่ได้ใช้กล้องกับการทำงานถ่ายภาพการแต่งงานได้เป็นอย่างดีนอกจากการถ่ายภาพท่องเที่ยวและภาพส่วนตัว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ประการแรกคือเรื่องของน้ำหนัก การเป็นช่างภาพที่ต้องเดินทางตลอดเวลาทำให้ผมต้องการถืออุปกรณ์ได้อย่างคล่องตัว และใช้พื้นที่เก็บอุปกรณ์ได้มากขึ้นโดยต้องไม่มีน้ำหนักมากจนเกินไป ประการที่ 2 คือขนาด การเป็นช่างภาพงานแต่งมันช่วยให้ผมมีความระมัดระวังมากขึ้นและรู้สึกกลายเป็นส่วนเกินน้อยลงในการเก็บภาพช่วงเวลาเหล่านั้นอย่างใกล้ชิด
                                <br/>
                                <br/> ต่อมาเป็นเรื่องของช่องมองภาพอิเล็กทรอนิกส์ช่วยทำให้ผมมีโอกาสที่จะบันทึกภาพได้อย่างแม่นยำยิ่งขึ้นไม่ว่าจะเป็นภาพมุมต่ำหรือสูง และสร้างสรรค์บางสิ่งที่ผมไม่สามารถทำได้กับกล้อง DSLR ตัวเดิม
                                <br/>
                                <br/> และสุดท้ายคือฟังก์ชั่น Focus Peaking ยังเป็นประโยชน์มากเมื่อผมตัดสินใจใช้เลนส์โฟกัสด้วยมือ มันง่ายมากและทำให้แน่ใจว่าภาพถูกโฟกัสอย่างถูกต้อง ทั้งหมดที่ผมกล่าวมาทำให้ผมสามารถเก็บภาพสวยๆ ได้มากกว่าเดิม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมพูดได้เลยว่าอาจเป็นถึงหนึ่งในผู้นำ ด้วยเทคโนโลยีอันชาญฉลาดและความสดใหม่ของโซนี่ทำให้อยู่ในระดับแนวหน้าอยู่เสมอ ส่วนตัวผมชอบวิธีควบคุมกล้องที่พวกเขาได้ออกแบบไว้เป็นอย่างดี ซึ่งเป็นอะไรที่เข้าใจได้และง่ายต่อการใช้งานมากๆ ผมยังชอบช่วงความกว้างของแสงในตัวกล้อง ซึ่งทำให้พื้นหลังไม่สวง่างจ้าหรือมืดเกินไปอย่างสม่ำเสมอ ซึ่งเป็นกล้องที่มีระบบสมดุลแสงที่น่าชื่นชม ให้โทนสีผิวที่สวยงามน่ารักอีกด้วย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับตอนนี้ผมชอบเลนส์ Zeiss 35 ม.ม. f1.4 มากที่สุด ผมรักการสร้างสรรค์ภาพและการสร้างสี ประหนึ่งเป็นผลงานที่สร้างขึ้นจากคุณภาพอันงดงาม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในกระเป๋าผมจะมี a7II พร้อมกับเลนส์ Zeiss 35 ม.ม. f1.4, เลนส์โซนี่ 55 ม.ม. F1.8 และเลนส์ G 70-200 ม.ม. F2.8 ซึ่งนอกจากกล้องและอุปกรณ์ต่างๆ แล้ว ก็ยังมีสเปรย์ไล่ยุงและเจลล้างมือด้วยนะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
