<div class="thai" id="profile-vin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">แลนด์สเคป + ช่างภาพงานแต่ง</p>
                <p class="name">Dow - Wasiksiri</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ไทย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">Art &amp; Street photography</p>
                    <p class="name">Dow - Wasiksiri</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ไทย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ดาว วาสิกศิริ<br/>
            นับเป็นหนึ่งในบรรดาช่างภาพชาวไทยที่ประสบความสำเร็จอย่างสูงและเป็นที่รู้จักอย่างกว้างขวาง ในเวทีต่างประเทศ ผลงานภาพถ่ายของดาวได้ถูกนำไปจัดแสดงที่พิพิธภัณฑ์และหอศิลปะชั้นนำ ตามเมืองสำคัญๆของประเทศต่างๆ เช่น ฝรั่งเศส อังกฤษ สหรัฐอเมริกา แคนาดา ออสเตรเลีย กรีซ ลิทัวเนีย จีน ญี่ปุ่น เกาหลี และสิงคโปร์ เป็นต้น ส่วนในเมืองไทย ก็ได้ถูกนำไปแสดงที่ศูนย์ศิลปะและวัฒนธรรมกรุงเทพฯ พิพิธพัณฑ์สถานแห่งชาติหอศิลป์และอื่นๆ อีกหลายแห่ง เนื่องจากมีบิดาเป็นนักการทูต ดาวจึงได้ใช้ชีวิตเติบโตอยู่ในต่างประเทศเป็นเวลานานนับหลายปี ไม่ว่าจะเป็นที่ออสเตรเลีย นิวซีแลนด์ หรือสหรัฐอเมริกา ซึ่งประสบการณ์ที่ได้สั่งสมมา จากหลากหลายสังคมและวัฒนธรรมเหล่านั้น ส่งผลให้ดาวสามารถมองเมืองไทยและคนไทยได้จากมุมมองของทั้งคนไทยและคนต่างชาติ</p>
            <p>ดาวเริ่มต้นวิชาชีพการถ่ายภาพตั้งแต่กลับมาอยู่ในเมืองไทยเมื่อปี พ.ศ. 2526 ด้วยการถ่ายภาพแฟชั่นให้กับนิตยสารชั้นนำหลายฉบับ โดยได้เปิดสตูดิโอชื่อ Persona ขึ้นมาในปีเดียวกัน และมีผลงานที่เป็นทั้งงานโฆษณาและงานสร้างสรรค์เชิงศิลปะอย่างต่อเนื่องตลอดมา นับได้ว่าดาวเป็นช่างภาพคนแรกๆ ในเมืองไทยที่เริ่มทำการค้นหาตัวตนและจิตภาวะอย่างจริงจัง</p>
            <p>เพื่อถ่ายทอดออกมาเป็นภาพถ่าย อีกทั้งยังมีความตั้งใจในการบันทึกภาพเรื่องราวเกี่ยวกับสังคมไทยอีกด้วย ซึ่งการที่ผลงานมีลักษณะสร้างสรรค์เฉพาะตัวอย่างชัดเจน ทำให้ ดาว วาสิกศิริ ได้รับรางวัลต่างๆ หลายรางวัลตลอดระยะเวลาที่ผ่านมา</p>

            <!-- <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div> -->

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ดาว วาสิกศิริ<br/>
            นับเป็นหนึ่งในบรรดาช่างภาพชาวไทยที่ประสบความสำเร็จอย่างสูงและเป็นที่รู้จักอย่างกว้างขวาง ในเวทีต่างประเทศ ผลงานภาพถ่ายของดาวได้ถูกนำไปจัดแสดงที่พิพิธภัณฑ์และหอศิลปะชั้นนำ ตามเมืองสำคัญๆของประเทศต่างๆ เช่น ฝรั่งเศส อังกฤษ สหรัฐอเมริกา แคนาดา ออสเตรเลีย กรีซ ลิทัวเนีย จีน ญี่ปุ่น เกาหลี และสิงคโปร์ เป็นต้น ส่วนในเมืองไทย ก็ได้ถูกนำไปแสดงที่ศูนย์ศิลปะและวัฒนธรรมกรุงเทพฯ พิพิธพัณฑ์สถานแห่งชาติหอศิลป์และอื่นๆ อีกหลายแห่ง เนื่องจากมีบิดาเป็นนักการทูต ดาวจึงได้ใช้ชีวิตเติบโตอยู่ในต่างประเทศเป็นเวลานานนับหลายปี ไม่ว่าจะเป็นที่ออสเตรเลีย นิวซีแลนด์ หรือสหรัฐอเมริกา ซึ่งประสบการณ์ที่ได้สั่งสมมา จากหลากหลายสังคมและวัฒนธรรมเหล่านั้น ส่งผลให้ดาวสามารถมองเมืองไทยและคนไทยได้จากมุมมองของทั้งคนไทยและคนต่างชาติ</p>
            <p>ดาวเริ่มต้นวิชาชีพการถ่ายภาพตั้งแต่กลับมาอยู่ในเมืองไทยเมื่อปี พ.ศ. 2526 ด้วยการถ่ายภาพแฟชั่นให้กับนิตยสารชั้นนำหลายฉบับ โดยได้เปิดสตูดิโอชื่อ Persona ขึ้นมาในปีเดียวกัน และมีผลงานที่เป็นทั้งงานโฆษณาและงานสร้างสรรค์เชิงศิลปะอย่างต่อเนื่องตลอดมา นับได้ว่าดาวเป็นช่างภาพคนแรกๆ ในเมืองไทยที่เริ่มทำการค้นหาตัวตนและจิตภาวะอย่างจริงจัง</p>
            <p>เพื่อถ่ายทอดออกมาเป็นภาพถ่าย อีกทั้งยังมีความตั้งใจในการบันทึกภาพเรื่องราวเกี่ยวกับสังคมไทยอีกด้วย ซึ่งการที่ผลงานมีลักษณะสร้างสรรค์เฉพาะตัวอย่างชัดเจน ทำให้ ดาว วาสิกศิริ ได้รับรางวัลต่างๆ หลายรางวัลตลอดระยะเวลาที่ผ่านมา</p>

            <!-- <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div> -->

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/>กับ
                    <span class="intv-photographer">Dow - Wasiksiri</span>
                </p>
                <img data-original="img/profile/th/vin/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Vin">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/vin/quote-1-th.png" width="309" height="291" alt="Vin's quote">

                <img class="quote-2 img-responsive" src="img/profile/th/vin/quote-2-th.png" width="277" height="229" alt="Vin's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมต้องการที่จะสร้างงานศิลปและแสดงตัวตนที่แท้จริงของผมออกมา โดยใช้กล้องเป็นสื่อ<br/>นอกจากนั้นการถ่ายภาพนี้เป็นการบันทึกประวัติศาตร์ ให้น้องน้อง ในอนาคตได้สัมผัสสิ่งที่เกิดขึ้นในปัจจุบัน</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพมีความสำคัญมากกับตัวผม เพราะอาชีพผมคือเป็นช่างภาพถ่ายโฆษณา เวลาว่างผมก็ยังถ่ายภาพดวยหา project ส่วนตัวทำอาทิเช่นออกไปถ่ายภาพแนว street หรือสร้างงานศิลปขึ้นมาเป็นชุดซึ่งจะใช้เวลานานเป็นหลายเดือนบางชุดก็เป็นปี</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-2.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">คุณภาพของfileต้องดี มากๆ เลนส์ก็ต้อง คุณภาพสูงตาม</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ช่วงที่เริ่มถ่ายรูปเป็นมืออาชีพ30 กว่า ปีที่แล้ว บุคคลที่เป็นแรงบันดาลใจก็คือ Moshe Brakha เป็นช่างภาพถ่ายแฟชั่นในแนว<br/>New wave ในยุคนั้น</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">สิ่งที่ท้าทายที่สุดสำหรับผมเวลาถ่ายรูปก็คือ สภาวะของแสงธรรมชาติ อาทิเช่นแสงที่มี contrast จัด แสงที่ขมุกขมัว ที่ไม่มี contrast เลยหรือแสงที่ค่อนข้างมืด ฉะนั้นมีเซ็นเซอร์ที่ดีและ ไฟล์ภาพที่มีคุณภาพนี้ช่วยได้เยอะเวลาไปปรับไฟล์เพิ่มใน post production ไฟล์ภาพก็ยังดีอยู่</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> ผมเป็นคนงานเยอะ และงานยุ่ง ทำแทบตลอดเวลา ก่อนที่ผมจะรู้จัก a7 เนี่ย เพื่อผมบอกว่าผมเป็นคนที่ไม่ชอบถ่ายภาพ คือถ้าไม่ได้อยู่ในงาน ผมจะไม่จับกล้องเลยเพราะผมรู้สึกว่าเมื่อผมจับกล้องมันคือผมทำงาน พอรู้จัก a7 เนี่ย มันเป็นอะไรที่ไปกับเราได้ตลอด ผมสามารถพกกล้องตัวเล็กๆ และก็มีประสิทธิภาพค่อนข้างรุนแรง ผมสามารถถือกล้องไปถ่าย ขึ้นห้อง ลงห้อง พอรู้ว่าจะไปถ่ายรูปก็พกไปนู้นไปนี่ ได้ตลอด มันก็ทำให้ปลุกความเป็นช่างภาพของตัวเองขึ้นมาจากเดิมได้ค่อนข้างเยอะเลยทีเดียว อย่างที่บอกครับ เมื่อก่อนผมถ่ายแต่งาน ถ้าไม่ถ่ายงานก็คือไม่จับกล้องเลย แต่ a7 ทำให้จับกล้องเยอะมาก และก็ถ่ายรูปเยอะขึ้นมากที่ไม่ใช่งาน ไปเดินห้างก็ถ่าย ไปไหนมาไหนก็ถ่าย</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">นอกจากไฟล์ที่ดีมากแล้วก็ยังมีเรื่องของ ตัวกล้องที่มีขนาดเล็กและเบา design ก็สวย แล้วยังมีเลนส์ ตระกูลสุดยอดอย่าง G Master รองรับ apart from the file that is of high quality</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">คุณภาพของไฟล์ภาพที่เชื่อถือ และไว้ใจได้</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ผมเลือกใช้กล้อง Sony คะแนนก็ต้องสูงอยู่แล้ว</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมเลือกใช้กล้อง Sony คะแนนก็ต้องสูงอยู่แล้ว</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-3.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">24-70 G Master ครับ</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในกระเป๋าผมจะมี เลนส์ 16-35 F4 Zeiss และแบตเตอรี่สองก้อนครับ สวนกล่อง A7r II ติด เลนส์ 24- 70 G Master จะสพายอยู่ตลอดเวลาไม่เคยใส่ในกระเป๋าเลยเวลาขับรถกล้องที่มีเลนส์ติดอยู่ก็อยู่ใต้เบาะพร้อมถ่ายตลอดเวลา พอถึงบ้านก็เอากล้องวางไว้บนโต๊ะ</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>

        <!-- <p>ในการเดินทางไปยังพื้นที่ต่าง ๆในประเทศไทย ผมได้บันทึกภาพภูมิทัศน์
        สิ่งแวดล้อม ที่ตนเองได้ประสบพบเห็นระหว่างทางซื่งมีลักษณะของความเจริญ
        ที่หลากหลายผสมปนเป กันไปจนความแตกต่างระหว่างเมืองกับชนบทเริ่มไม่ค่อยชัดเจน
        โดยในขณะบันทึกภาพเหล่านั้น ผมไม่ได้สนใจที่จะเอาเรื่องความสวย
        ความงามมาเป็นประเด็นแต่ได้หันไปสนใจในสิ่งที่เรามักจะมองข้าม
        และเห็นเป็นเรื่องธรรมดากันมากกว่าพร้อมกับมีความถามต่าง ๆ นานา
        เกิดขึ้นมาในใจ ซึ่งโดยส่วนตัวแล้วภาพเหล่านั้นชวนให้อ่านเข้าไปในเรื่องราว
        เกี่ยวกับรสนิยมและวิถีชีวิตที่ทำให้สังคมไทยได้เปลี่ยนไปจนส่งผลให้
        ภูมิทัศน์ของสถาพแวดล้อม พลอยเปลี่ยนไปด้วยอย่างที่เห็นกันอยู่</p> -->
        
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Vin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/vin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Vin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <!-- Q&A 1 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมต้องการที่จะสร้างงานศิลปและแสดงตัวตนที่แท้จริงของผมออกมา โดยใช้กล้องเป็นสื่อ<br/>นอกจากนั้นการถ่ายภาพนี้เป็นการบันทึกประวัติศาตร์ ให้น้องน้อง ในอนาคตได้สัมผัสสิ่งที่เกิดขึ้นในปัจจุบัน</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 1 -->
            
            <!-- Q&A 2 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพมีความสำคัญมากกับตัวผม เพราะอาชีพผมคือเป็นช่างภาพถ่ายโฆษณา เวลาว่างผมก็ยังถ่ายภาพดวยหา project ส่วนตัวทำอาทิเช่นออกไปถ่ายภาพแนว street หรือสร้างงานศิลปขึ้นมาเป็นชุดซึ่งจะใช้เวลานานเป็นหลายเดือนบางชุดก็เป็นปี</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 2 -->
            

            <!-- Q&A 3 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อยากให้อุปกรณ์ที่ใช้ มันตอบสนองสมองผมได้ อยากให้มันตอบสนองความคิดผมได้ อย่างเช่นพอผมคิดปั๊บ แล้วกล้องมันตอบสนองได้ทันที ผมว่าถ้ามันได้ในทุกๆ ด้านมันจะประเสริฐมากกับการทำงาน</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 3 -->

            <!-- Q&A 4 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ช่วงที่เริ่มถ่ายรูปเป็นมืออาชีพ30 กว่า ปีที่แล้ว บุคคลที่เป็นแรงบันดาลใจก็คือ Moshe Brakha เป็นช่างภาพถ่ายแฟชั่นในแนว<br/>New wave ในยุคนั้น</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 4 -->

            <!-- Q&A 5 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเป็นคนงานเยอะ และงานยุ่ง ทำแทบตลอดเวลา ก่อนที่ผมจะรู้จัก a7 เนี่ย เพื่อผมบอกว่าผมเป็นคนที่ไม่ชอบถ่ายภาพ คือถ้าไม่ได้อยู่ในงาน ผมจะไม่จับกล้องเลยเพราะผมรู้สึกว่าเมื่อผมจับกล้องมันคือผมทำงาน พอรู้จัก a7 เนี่ย มันเป็นอะไรที่ไปกับเราได้ตลอด ผมสามารถพกกล้องตัวเล็กๆ และก็มีประสิทธิภาพค่อนข้างรุนแรง ผมสามารถถือกล้องไปถ่าย ขึ้นห้อง ลงห้อง พอรู้ว่าจะไปถ่ายรูปก็พกไปนู้นไปนี่ ได้ตลอด มันก็ทำให้ปลุกความเป็นช่างภาพของตัวเองขึ้นมาจากเดิมได้ค่อนข้างเยอะเลยทีเดียว อย่างที่บอกครับ เมื่อก่อนผมถ่ายแต่งาน ถ้าไม่ถ่ายงานก็คือไม่จับกล้องเลย แต่ a7 ทำให้จับกล้องเยอะมาก และก็ถ่ายรูปเยอะขึ้นมากที่ไม่ใช่งาน ไปเดินห้างก็ถ่าย ไปไหนมาไหนก็ถ่าย</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 5 -->

            <!-- Q&A 6 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">นอกจากไฟล์ที่ดีมากแล้วก็ยังมีเรื่องของ ตัวกล้องที่มีขนาดเล็กและเบา design ก็สวย แล้วยังมีเลนส์ ตระกูลสุดยอดอย่าง G Master รองรับ apart from the file that is of high quality</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 6 -->


            <!-- Q&A 7 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">คุณภาพของไฟล์ภาพที่เชื่อถือ และไว้ใจได้</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 7 -->

            <!-- Q&A 8 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเลือกใช้กล้อง Sony คะแนนก็ต้องสูงอยู่แล้ว</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 8 -->

            <!-- Q&A 9 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">24-70 G Master ครับ</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 9 -->

            <!-- Q&A 10 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในกระเป๋าผมจะมี เลนส์ 16-35 F4 Zeiss และแบตเตอรี่สองก้อนครับ สวนกล่อง A7r II ติด เลนส์ 24- 70 G Master จะสพายอยู่ตลอดเวลาไม่เคยใส่ในกระเป๋าเลยเวลาขับรถกล้องที่มีเลนส์ติดอยู่ก็อยู่ใต้เบาะพร้อมถ่ายตลอดเวลา พอถึงบ้านก็เอากล้องวางไว้บนโต๊ะ</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 10 -->

            <!-- Interview End -->

            <!-- <p>ในการเดินทางไปยังพื้นที่ต่าง ๆในประเทศไทย ผมได้บันทึกภาพภูมิทัศน์
                    สิ่งแวดล้อม ที่ตนเองได้ประสบพบเห็นระหว่างทางซื่งมีลักษณะของความเจริญ
                    ที่หลากหลายผสมปนเป กันไปจนความแตกต่างระหว่างเมืองกับชนบทเริ่มไม่ค่อยชัดเจน
                    โดยในขณะบันทึกภาพเหล่านั้น ผมไม่ได้สนใจที่จะเอาเรื่องความสวย
                    ความงามมาเป็นประเด็นแต่ได้หันไปสนใจในสิ่งที่เรามักจะมองข้าม
                    และเห็นเป็นเรื่องธรรมดากันมากกว่าพร้อมกับมีความถามต่าง ๆ นานา
                    เกิดขึ้นมาในใจ ซึ่งโดยส่วนตัวแล้วภาพเหล่านั้นชวนให้อ่านเข้าไปในเรื่องราว
                    เกี่ยวกับรสนิยมและวิถีชีวิตที่ทำให้สังคมไทยได้เปลี่ยนไปจนส่งผลให้
                    ภูมิทัศน์ของสถาพแวดล้อม พลอยเปลี่ยนไปด้วยอย่างที่เห็นกันอยู่</p> -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
