<div class="thai" id="profile-bryan">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ช่างภาพโฆษณา + ภาพข่าว</p>
                <p class="name">Bryan van der Beek</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">สิงคโปร์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">ช่างภาพโฆษณา + ภาพข่าว</p>
                    <p class="name">Bryan van der Beek</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">สิงคโปร์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ไบรอัน แวน เดอร์ บีค(Bryan van der Beek) เป็นช่างภาพที่ได้รับรางวัลชนะเลิศภาพถ่ายโฆษณาและภาพตกแต่งในประเทศสิงคโปร์ รูปภาพของเขาถูกเผยแพร่ทั้งในเอเชีย, อเมริกาเหนือ, และยุโรป</p>

            <p>ไบรอันคืออดีตผู้บริหารช่างภาพข่าวในสำนักข่าวสเตรทส์ไทม์สของสิงคโปร์ และยังเคยทำงานกับหนังสือพิมพ์ในประเทศสหรัฐอเมริกามาก่อนด้วย ภาพของเขาได้ปรากฎอยู่ในสื่อสิ่งพิมพ์ของหลายประเทศไม่ว่าจะเป็นนิตยสารไทม์, ไทม์เอเชีย, นิวส์วีค, และวอชิงตันโพสต์ นอกจากนี้ภาพของเขายังให้อารมณ์ทางศิลปะจนได้รับการจัดแสดงเป็นคอลเลคชั่นถาวรในพิพิธภัณฑ์แห่งชาติสิงคโปร์ โดยเขาจบการศึกษามาจากมหาวิทยาลัยการศึกษาอินเดียน่าด้านวารสารศาสตร์ และเขายังได้รับเกียรติให้บรรยาความรู้ที่โรงเรียนศิลปะ การออกแบบ และสื่อในมหาวิทยาลัยเทคโนโลยีนันยาง วิทยาลัยเทคนิคเทมาเซค และออปเจคทิฟส์เซ็นเซอร์ด้านภาพถ่ายและภาพยนตร์</p>

            <p>สามารถชมผลงานของเขาได้ที่
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:bryan:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:bryan:works:link', 'microsite|ilc:sea:thai|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ไบรอัน แวน เดอร์ บีค(Bryan van der Beek) เป็นช่างภาพที่ได้รับรางวัลชนะเลิศภาพถ่ายโฆษณาและภาพตกแต่งในประเทศสิงคโปร์ รูปภาพของเขาถูกเผยแพร่ทั้งในเอเชีย, อเมริกาเหนือ, และยุโรป</p>

            <p>ไบรอันคืออดีตผู้บริหารช่างภาพข่าวในสำนักข่าวสเตรทส์ไทม์สของสิงคโปร์ และยังเคยทำงานกับหนังสือพิมพ์ในประเทศสหรัฐอเมริกามาก่อนด้วย ภาพของเขาได้ปรากฎอยู่ในสื่อสิ่งพิมพ์ของหลายประเทศไม่ว่าจะเป็นนิตยสารไทม์, ไทม์เอเชีย, นิวส์วีค, และวอชิงตันโพสต์ นอกจากนี้ภาพของเขายังให้อารมณ์ทางศิลปะจนได้รับการจัดแสดงเป็นคอลเลคชั่นถาวรในพิพิธภัณฑ์แห่งชาติสิงคโปร์ โดยเขาจบการศึกษามาจากมหาวิทยาลัยการศึกษาอินเดียน่าด้านวารสารศาสตร์ และเขายังได้รับเกียรติให้บรรยาความรู้ที่โรงเรียนศิลปะ การออกแบบ และสื่อในมหาวิทยาลัยเทคโนโลยีนันยาง วิทยาลัยเทคนิคเทมาเซค และออปเจคทิฟส์เซ็นเซอร์ด้านภาพถ่ายและภาพยนตร์</p>

            <p>สามารถชมผลงานของเขาได้ที่
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:bryan:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:bryan:works:link', 'microsite|ilc:sea:thai|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Bryan</span>
                </p>
                <img data-original="img/profile/sg/bryan/profile_pic-1.jpg" class="lazy" width="316" height="415" alt="พูดคุย กับ Bryan">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/bryan/quote-1-th.png" width="306" height="292" alt="Bryan's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/bryan/quote-2-th.png" width="301" height="198" alt="Bryan's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมชอบที่จะได้บอกเล่าทุกเรื่องราว ซึ่งผมเชื่อว่าภาพที่สวยงามจะไม่มีคุณค่าจนกว่าผู้ชมจะได้รับอะไรบางอย่างจากมัน จากความทรงจำในเสี้ยววินาที เกิดเป็นอารมณ์ความรู้สึก และการสื่อสารที่เข้าถึง ทั้งหมดนี้หลอมรวมกับภาพที่มองเห็นได้และเกิดเป็นความสวยงามที่มีคุณค่ามากกว่าภาพพระอาทิตย์ตกดินสวยๆ ทุกแห่งในโลกสำหรับผม</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมถ่ายภาพอย่างจริงจังมาตั้งแต่ 20 ปีที่แล้ว ซึ่งนานพอที่จะบอกได้ว่าการถ่ายภาพคือส่วนหนึ่งของชีวิตผม ไม่มีวันใดเลยที่ผมจะไม่หยิบกล้องขึ้นมาถ่ายภาพใดสักภาพ ไม่ว่าจะเป็นการเก็บช่วงเวลาที่ลูกของผมเติบโต หรือถ่ายภาพบางสิ่งที่น่าสนใจเมื่อผมพบเจอบนถนน แน่นอนว่าในความเป็นจริงผมสร้างชีวิตของผมให้เป็นช่างภาพอาชีพตลอดเวลา และมันก็ได้มอบโอกาสที่จะได้เห็นมุมมองและช่วงเวลาต่างๆ มากกว่าที่คนทั่วไปจะมองเห็น ดังนั้นผมจึงใช้โอกาสนี้ในการแบ่งปันประสบการณ์ของตนเองให้แก่ผู้คนรอบด้าน</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Bryan">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เมื่อผมยังเด็ก ผมมีอุปกรณ์อยู่กับตัวมากมาย มีตัวเลือกใช้อย่างหลากหลาย แต่น่าเสียดายที่อุปกรณ์เหล่านั้นมีน้ำหนักที่มากมายเหลือเกิน แล้วมาถึงตอนนี้ผมรู้สึกดีมากกว่าที่ได้จำกัดการทำงานร่วมกับอุปกรณ์ของตนเองแต่พอดีเท่านั้น แค่เลือกเลนส์เหมาะๆ แล้วลงมือถ่ายภาพได้ทันที แต่ในความต้องการนี้ผมก็จำเป็นต้องใช้กล้องที่มีบอดี้อันทนทาน สามารถรับแรงกระแทกได้เป็นครั้งคราว (โดยเฉพาะเมื่อผมต้องไล่เก็บภาพข่าวให้ทันต่อสถานการณ์) และยังมีการป้องกันสภาพอากาศที่แปรปรวนได้เป็นอย่างดี แล้วผมยังต้องการเลนส์พื้นฐานในการทำงาน 3 ชิ้นเพื่อใช้ในการทำข่าว (ได้แก่ 16-35, 24-70, และ 70-200 ม.ม.) เพื่อให้แน่ใจว่าผมมีเลนส์ทุกความยาวโฟกัสที่ผมต้องการ และผมยังต้องถ่ายภาพอย่างรวดเร็ว และต้องมีรูรับแสงขนาดใหญ่สำหรับการถ่ายภาพบุคคลและภาพบนถนนซึ่งเป็นสิ่งที่มีความจำเป็น นอกจากนี้การโฟกัสอย่างรวดเร็วและการออกแบบให้เหมาะต่อการทำงานก็เป็นสิ่งที่ช่วยได้อีกด้วย</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เป็นเรื่องง่ายๆ ที่จะนึกถึงช่างภาพที่มีชื่อเสียงซึ่งเป็นตัวอย่างที่ดีในชีวิตของผมอย่างเช่นเซบัสเตียน ซัลกาโด (Sebastiao Salgado), เจมส์ แนชต์วีย์ (James Nachtwey), และอเล็กซ์ เว็บบ์ (Alex Webb) แต่ก็ยังมีอีกเป็นจำนวนมากที่มีชื่อเสียงน้อยกว่าความสามารถอันมากมายของพวกเขา ซึ่งอาชีพช่างภาพที่ผมได้ทำงานนั้นอยู่ในวงการหนังสือพิมพ์และสื่อสิ่งพิมพ์ จึงทำให้การถ่ายภาพข่าวได้มีส่วนร่วมบุคคลอันหลากหลายในอาชีพการถ่ายภาพของผมเอง</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ด้วยความที่ผมเป็นคนตัวใหญ่ และเคยมีช่วงเวลาน่าตื่นเต้นอย่างง่ายๆ ที่ต้องถ่ายภาพโดยให้กลมกลืนไปกับฉากหลัง แต่เสียงของชัตเตอร์ของกล้องบางครั้งก็ทำให้ทุกคนหันมามองที่ผมเป็นสายตาเดียวกัน แต่ด้วยชัตเตอร์อิเล็กทรอนิกส์ของ a7S เป็นเหมือนสิ่งที่สวรรค์ส่งมาให้ผม เมื่อใช้แล้วจะพบว่ามันไร้ซึ่งเสียงที่น่ารำคาญ ทำให้ถ่ายภาพได้อย่างเงียบกริบโดยไม่รบกวนใคร</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เพราะมันมีขนาดเล็กและยังมีเลนส์ที่เพิ่มมากขึ้นเรื่อยๆ ทำให้ง่ายต่อการพกพากล้องฟลูเฟรมไปใช้งานได้ทุกที่ที่ผมอยากไป ซึ่งก่อนหน้านี้ผมต้องพกอุปกรณ์มากองไว้และถ่ายภาพสำหรับวันนั้นได้เพียงแค่เดินอยู่รอบๆ บริเวณเท่านั้น แต่ในวันนี้ผมแค่พก a7S ไม่ก็ a7II แค่นี้ก็ช่วยให้ผมถ่ายภาพด้วยคุณภาพระดับกล้อง DSLR ได้โดยหมดห่วงเรื่องน้ำหนักและการต้องพกอุปกรณ์อันเทอะทะใหญ่โตไปได้เลย</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ดังที่กล่าวไว้ข้างต้นว่าความเบาและขนาดที่เล็กเป็นประโยชน์ต่อการใช้งานอย่างมาก นอกจากนี้ยังมีข้อเท็จจริงที่ว่ามันมีตัวแปลงเลนส์ซึ่งช่วยผมให้สามารถนำเลนส์เดิมที่ผมรักจากกล้องระบบอื่นๆ มาใช้งานได้ ผมเคยใช้เลนส์วัดระยะ และในตอนนี้ผมก็ยังสามารถใช้เลนส์วัดระยะได้ในบอดี้ของ a7 ซึ่งทำให้เลนส์เก่าที่ผมรักยังเป็นประโยชน์ กับความสามารถในการถ่ายโอนรูปภาพมายังโทรศัพท์มือถือผ่าน NFC และ Wi-Fi® ซึ่งเหมาะมากต่อการจัดเก็บภาพอย่างรวดเร็วและส่งไปให้ลูกค้าเพื่อติดตามความคืบหน้าของงานได้อย่างคล่องตัว</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">นับว่าโซนี่แน่มากสำหรับการปล่อยกล้องฟลูเฟรมขนาดเล็กที่มีความคล่องตัวออกมาขายในตลาด พร้อมราคาที่น่าสนใจต่อผู้บริโภคและช่างภาพมืออาชีพเช่น และเป็นเรื่องดีที่นำกล้องแบบนี้เข้ามาสู่วงการการถ่ายภาพดิจิตอล โดยเฉพาะผู้ใช้ถ่ายภาพยนตร์ที่ไม่เต็มใจว่าต้องถูกตัดครอบภาพจากที่เห็นในเลนส์ของพวกเขาทิ้งไป</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Bryan">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ที่ผมเคยชอบใช้มากที่สุดคือเลนส์ 55 ม.ม. f1.8 จนกระทั่งเลนส์ 35 ม.ม. f1.4 ออกมา แต่ในแง่ของการใช้งานจริงและความคล่องตัวผมต้องยกให้เลนส์ 6-35 ม.ม. f4 ซึ่งเป็นเลนส์ที่ผมจะเลือกใช้หากต้องเลือกเลนส์ชิ้นใดชิ้นหนึ่งเพื่อพกพาไปใช้งานตลอดทั้งวัน</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับงานถ่ายภาพข่าวส่วนใหญ่ผมจะพก a7S และ a7II ลงในกระเป๋าพร้อมกับเลนส์ 16-35 ม.ม., 70-200 ม.ม., 55 ม.ม., และเลนส์ 35 ม.ม.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Bryan</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/bryan/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Bryan"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมชอบที่จะได้บอกเล่าทุกเรื่องราว ซึ่งผมเชื่อว่าภาพที่สวยงามจะไม่มีคุณค่าจนกว่าผู้ชมจะได้รับอะไรบางอย่างจากมัน จากความทรงจำในเสี้ยววินาที เกิดเป็นอารมณ์ความรู้สึก และการสื่อสารที่เข้าถึง ทั้งหมดนี้หลอมรวมกับภาพที่มองเห็นได้และเกิดเป็นความสวยงามที่มีคุณค่ามากกว่าภาพพระอาทิตย์ตกดินสวยๆ ทุกแห่งในโลกสำหรับผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมถ่ายภาพอย่างจริงจังมาตั้งแต่ 20 ปีที่แล้ว ซึ่งนานพอที่จะบอกได้ว่าการถ่ายภาพคือส่วนหนึ่งของชีวิตผม ไม่มีวันใดเลยที่ผมจะไม่หยิบกล้องขึ้นมาถ่ายภาพใดสักภาพ ไม่ว่าจะเป็นการเก็บช่วงเวลาที่ลูกของผมเติบโต หรือถ่ายภาพบางสิ่งที่น่าสนใจเมื่อผมพบเจอบนถนน แน่นอนว่าในความเป็นจริงผมสร้างชีวิตของผมให้เป็นช่างภาพอาชีพตลอดเวลา และมันก็ได้มอบโอกาสที่จะได้เห็นมุมมองและช่วงเวลาต่างๆ มากกว่าที่คนทั่วไปจะมองเห็น ดังนั้นผมจึงใช้โอกาสนี้ในการแบ่งปันประสบการณ์ของตนเองให้แก่ผู้คนรอบด้าน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เมื่อผมยังเด็ก ผมมีอุปกรณ์อยู่กับตัวมากมาย มีตัวเลือกใช้อย่างหลากหลาย แต่น่าเสียดายที่อุปกรณ์เหล่านั้นมีน้ำหนักที่มากมายเหลือเกิน แล้วมาถึงตอนนี้ผมรู้สึกดีมากกว่าที่ได้จำกัดการทำงานร่วมกับอุปกรณ์ของตนเองแต่พอดีเท่านั้น แค่เลือกเลนส์เหมาะๆ แล้วลงมือถ่ายภาพได้ทันที แต่ในความต้องการนี้ผมก็จำเป็นต้องใช้กล้องที่มีบอดี้อันทนทาน สามารถรับแรงกระแทกได้เป็นครั้งคราว (โดยเฉพาะเมื่อผมต้องไล่เก็บภาพข่าวให้ทันต่อสถานการณ์) และยังมีการป้องกันสภาพอากาศที่แปรปรวนได้เป็นอย่างดี แล้วผมยังต้องการเลนส์พื้นฐานในการทำงาน 3 ชิ้นเพื่อใช้ในการทำข่าว (ได้แก่ 16-35, 24-70, และ 70-200 ม.ม.) เพื่อให้แน่ใจว่าผมมีเลนส์ทุกความยาวโฟกัสที่ผมต้องการ และผมยังต้องถ่ายภาพอย่างรวดเร็ว และต้องมีรูรับแสงขนาดใหญ่สำหรับการถ่ายภาพบุคคลและภาพบนถนนซึ่งเป็นสิ่งที่มีความจำเป็น นอกจากนี้การโฟกัสอย่างรวดเร็วและการออกแบบให้เหมาะต่อการทำงานก็เป็นสิ่งที่ช่วยได้อีกด้วย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เป็นเรื่องง่ายๆ ที่จะนึกถึงช่างภาพที่มีชื่อเสียงซึ่งเป็นตัวอย่างที่ดีในชีวิตของผมอย่างเช่นเซบัสเตียน ซัลกาโด (Sebastiao Salgado), เจมส์ แนชต์วีย์ (James Nachtwey), และอเล็กซ์ เว็บบ์ (Alex Webb) แต่ก็ยังมีอีกเป็นจำนวนมากที่มีชื่อเสียงน้อยกว่าความสามารถอันมากมายของพวกเขา ซึ่งอาชีพช่างภาพที่ผมได้ทำงานนั้นอยู่ในวงการหนังสือพิมพ์และสื่อสิ่งพิมพ์ จึงทำให้การถ่ายภาพข่าวได้มีส่วนร่วมบุคคลอันหลากหลายในอาชีพการถ่ายภาพของผมเอง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ด้วยความที่ผมเป็นคนตัวใหญ่ และเคยมีช่วงเวลาน่าตื่นเต้นอย่างง่ายๆ ที่ต้องถ่ายภาพโดยให้กลมกลืนไปกับฉากหลัง แต่เสียงของชัตเตอร์ของกล้องบางครั้งก็ทำให้ทุกคนหันมามองที่ผมเป็นสายตาเดียวกัน แต่ด้วยชัตเตอร์อิเล็กทรอนิกส์ของ a7S เป็นเหมือนสิ่งที่สวรรค์ส่งมาให้ผม เมื่อใช้แล้วจะพบว่ามันไร้ซึ่งเสียงที่น่ารำคาญ ทำให้ถ่ายภาพได้อย่างเงียบกริบโดยไม่รบกวนใคร</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เพราะมันมีขนาดเล็กและยังมีเลนส์ที่เพิ่มมากขึ้นเรื่อยๆ ทำให้ง่ายต่อการพกพากล้องฟลูเฟรมไปใช้งานได้ทุกที่ที่ผมอยากไป ซึ่งก่อนหน้านี้ผมต้องพกอุปกรณ์มากองไว้และถ่ายภาพสำหรับวันนั้นได้เพียงแค่เดินอยู่รอบๆ บริเวณเท่านั้น แต่ในวันนี้ผมแค่พก a7S ไม่ก็ a7II แค่นี้ก็ช่วยให้ผมถ่ายภาพด้วยคุณภาพระดับกล้อง DSLR ได้โดยหมดห่วงเรื่องน้ำหนักและการต้องพกอุปกรณ์อันเทอะทะใหญ่โตไปได้เลย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ดังที่กล่าวไว้ข้างต้นว่าความเบาและขนาดที่เล็กเป็นประโยชน์ต่อการใช้งานอย่างมาก นอกจากนี้ยังมีข้อเท็จจริงที่ว่ามันมีตัวแปลงเลนส์ซึ่งช่วยผมให้สามารถนำเลนส์เดิมที่ผมรักจากกล้องระบบอื่นๆ มาใช้งานได้ ผมเคยใช้เลนส์วัดระยะ และในตอนนี้ผมก็ยังสามารถใช้เลนส์วัดระยะได้ในบอดี้ของ a7 ซึ่งทำให้เลนส์เก่าที่ผมรักยังเป็นประโยชน์ กับความสามารถในการถ่ายโอนรูปภาพมายังโทรศัพท์มือถือผ่าน NFC และ Wi-Fi® ซึ่งเหมาะมากต่อการจัดเก็บภาพอย่างรวดเร็วและส่งไปให้ลูกค้าเพื่อติดตามความคืบหน้าของงานได้อย่างคล่องตัว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">นับว่าโซนี่แน่มากสำหรับการปล่อยกล้องฟลูเฟรมขนาดเล็กที่มีความคล่องตัวออกมาขายในตลาด พร้อมราคาที่น่าสนใจต่อผู้บริโภคและช่างภาพมืออาชีพเช่น และเป็นเรื่องดีที่นำกล้องแบบนี้เข้ามาสู่วงการการถ่ายภาพดิจิตอล โดยเฉพาะผู้ใช้ถ่ายภาพยนตร์ที่ไม่เต็มใจว่าต้องถูกตัดครอบภาพจากที่เห็นในเลนส์ของพวกเขาทิ้งไป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ที่ผมเคยชอบใช้มากที่สุดคือเลนส์ 55 ม.ม. f1.8 จนกระทั่งเลนส์ 35 ม.ม. f1.4 ออกมา แต่ในแง่ของการใช้งานจริงและความคล่องตัวผมต้องยกให้เลนส์ 6-35 ม.ม. f4 ซึ่งเป็นเลนส์ที่ผมจะเลือกใช้หากต้องเลือกเลนส์ชิ้นใดชิ้นหนึ่งเพื่อพกพาไปใช้งานตลอดทั้งวัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับงานถ่ายภาพข่าวส่วนใหญ่ผมจะพก a7S และ a7II ลงในกระเป๋าพร้อมกับเลนส์ 16-35 ม.ม., 70-200 ม.ม., 55 ม.ม., และเลนส์ 35 ม.ม.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
