<div class="thai" id="profile-edward">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ช่างภาพภูมิทัศน์ + ทิวทัศน์เมือง</p>
                <p class="name">Edward Tian</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">สิงคโปร์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">ช่างภาพภูมิทัศน์ + ทิวทัศน์เมือง</p>
                    <p class="name">Edward Tian</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">สิงคโปร์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เอดเวิร์ด เตียน (Edward Tian) เป็นช่างภาพอิสระและเป็นที่ปรึกษาด้านยานยนต์ในสิงคโปร์ เขามีความเชี่ยวชาญทางด้านการถ่ายภาพ โดยเฉพาะภาพภูมิทัศน์, ทิวทัศน์เมือง, การท่องเที่ยว, และภาพผู้คน</p>

            <p>เอดเวิร์ดจะหาวิธีการถ่ายภาพใหม่ๆ อยู่เสมอ และถ่ายทอดมุมมองที่โดดเด่นไม่ซ้ำกันให้แก่กลุ่มผู้ชมภาพของเขา โดยงานด้านที่ปรึกษาของเขาได้นำตนเองไปยังหลากหลายภูมิภาคในเอเชีย ทำให้เขาได้บันทึกเรื่องราวเกี่ยวกับทัศนยภาพและวัฒนธรรมได้อย่างหลากหลาย</p>

            <p>นอกจากนี้เขายังได้จัดการการฝึกอบรมการถ่ายภาพในช่วงเวลาว่างๆ ของเขา ซึ่งมีส่วนรวมทั้งงานของ Getty และ Stocksy</p>

            <p>เรื่องการประสบความสำเร็จที่ยิ่งใหญ่ของเอดเวิร์ดในเส้นทางการถ่ายภาพบางส่วนนั้นคือการชนะรางวัลที่ 1 ในงานประกวด Marina Bay Countdown Photo Competition ประจำปี 2013 และงานประกวด National Geographic CapitaLand Photo Competition 2014</p>

            <p>เอดเวิร์ด เตียน ยังเป็นสมาชิกผู้ก่อตั้งกลุ่มนักล่าภูมิทัศน์แห่งเอเชีย ซึ่งเป็นกลุ่มที่มีความจริงจังเรื่องการถ่ายภาพภูมิทัศน์และสถาปัตยกรรม พวกเขาอุทิศตนเพื่อแบ่งปันแนวคิดและประสบการณ์และมีเครือข่ายทั่วโลก</p>

            <p>สามารถชมผลงานของเขาได้ที่
                <a href="http://edwardtian.prosite.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:edward:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:edward:works:link', 'microsite|ilc:sea:thai|profile|edward|works|link');" target="_blank">edwardtian.prosite.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTulp3eKt94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เอดเวิร์ด เตียน (Edward Tian) เป็นช่างภาพอิสระและเป็นที่ปรึกษาด้านยานยนต์ในสิงคโปร์ เขามีความเชี่ยวชาญทางด้านการถ่ายภาพ โดยเฉพาะภาพภูมิทัศน์, ทิวทัศน์เมือง, การท่องเที่ยว, และภาพผู้คน</p>

            <p>เอดเวิร์ดจะหาวิธีการถ่ายภาพใหม่ๆ อยู่เสมอ และถ่ายทอดมุมมองที่โดดเด่นไม่ซ้ำกันให้แก่กลุ่มผู้ชมภาพของเขา โดยงานด้านที่ปรึกษาของเขาได้นำตนเองไปยังหลากหลายภูมิภาคในเอเชีย ทำให้เขาได้บันทึกเรื่องราวเกี่ยวกับทัศนยภาพและวัฒนธรรมได้อย่างหลากหลาย</p>

            <p>นอกจากนี้เขายังได้จัดการการฝึกอบรมการถ่ายภาพในช่วงเวลาว่างๆ ของเขา ซึ่งมีส่วนรวมทั้งงานของ Getty และ Stocksy</p>

            <p>เรื่องการประสบความสำเร็จที่ยิ่งใหญ่ของเอดเวิร์ดในเส้นทางการถ่ายภาพบางส่วนนั้นคือการชนะรางวัลที่ 1 ในงานประกวด Marina Bay Countdown Photo Competition ประจำปี 2013 และงานประกวด National Geographic CapitaLand Photo Competition 2014</p>

            <p>เอดเวิร์ด เตียน ยังเป็นสมาชิกผู้ก่อตั้งกลุ่มนักล่าภูมิทัศน์แห่งเอเชีย ซึ่งเป็นกลุ่มที่มีความจริงจังเรื่องการถ่ายภาพภูมิทัศน์และสถาปัตยกรรม พวกเขาอุทิศตนเพื่อแบ่งปันแนวคิดและประสบการณ์และมีเครือข่ายทั่วโลก</p>

            <p>สามารถชมผลงานของเขาได้ที่
                <a href="http://edwardtian.prosite.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:edward:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:edward:works:link', 'microsite|ilc:sea:thai|profile|edward|works|link');" target="_blank">edwardtian.prosite.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTulp3eKt94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Edward</span>
                </p>
                <img data-original="img/profile/sg/edward/profile_pic-1.jpg" class="lazy" width="316" height="415" alt="พูดคุย กับ Edward">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/edward/quote-1-th.png" width="303" height="258" alt="Edward's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/edward/quote-2-th.png" width="306" height="333" alt="Edward's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีความสุขตลอดทุกช่วงเวลาที่ได้ถ่ายภาพ โดยผมเชื่อมันคือช่วงเวลาอันเป็นนิรันดร์ที่สามารถถ่ายทอดได้ไม่รู้จบ แต่ผมไม่ได้เริ่มต้นถ่ายภาพอย่างจริงจังจนกระทั่งคุณปู่ของผมได้มอบกระเป๋าและกล้อง SLR แบบฟิล์มให้แก่ผมเมื่อ 4 ปีที่ผ่านมา และการลืมตาดูโลกของลูกสาวแสนรักก็ได้จุดประกายความเป็นช่างภาพในตัวผมและเริ่มทำให้ผมถ่ายภาพอย่างจริงจัง โดยทั้งสองเหตุการณ์เกิดขึ้นในช่วงเวลาเดียวกันด้วย ผมจึงมีเพลิดเพลินไปกับการถ่ายภาพช่วงเวลาต่างๆ ที่ลูกสาวของผมเติบโตขึ้นควบคู่ไปกับทัศนียภาพรอบตัวผม</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพกลายเป็นส่วนใหญ่ส่วนหนึ่งในชีวิตของผมร่วมกับการทำงานและการพักผ่อน ผมมีการเดินทางในการทำงานอยู่บ่อยครั้งและในช่วงเวลาว่างผมก็จะเดินสำรวจเมืองและจับภาพความงดงามในวัฒนธรรมของท้องถิ่น การถ่ายภาพได้ช่วยผ่อนคลายความเครียดจากการทำงาน มันจึงพัฒนาขึ้นจากความรักของผมโดยเฉพาะ</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/edward/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Edward">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีความคาดหวังสูงกับกล้องและอุปกรณ์ที่ผมใช้ พวกมันจะต้องตอบสนองความต้องการของผมด้วยการให้ผลลัพธ์ที่ต้องการและอยู่ในมาตรฐานที่ผมกำหนดไว้</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">แรงบันดาลใจที่ยิ่งใหญ่ที่สุดของผมคือเพื่อนที่ดีและผู้ที่ให้คำปรึกษากับผมเอเลีย โลคาร์ดี (Elia Locardi) ผมยกย่องเขาในฐานผู้ที่สอนเรื่องความคิดสร้างสรรค์และวิธีการถ่ายภาพ สไตล์ของเขาเป็นแรงบันดาลใจให้แก่ผม</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ความท้าทายที่ใหญ่ที่สุดสำหรับผมคือการพกพาและการปรับแต่ง เพราะเป็นที่ทราบกันแลวว่าผมเดินทางบ่อยและอุปกรณ์ที่ผมพกไปนั้นจะต้องมีประสิทธิภาพที่ดี และเมื่อโซนี่เปิดตัวกล้องตระกูล a7 ออกมา ผมได้เปลี่ยนกล้องไปซื้อ a7R ในทันทีที่มันเปิดตัวออกมาเป็นครั้งแรก และมันก็ตรงกับความต้องการของผมเหมือนสวมถุงมือได้พอดี </div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ขนาดของ a7 ที่ทำขึ้นมาได้กล้องดูน่ากลัวน้อยลงโดยเฉพาะกับเด็กๆ และมันยังสะดวกต่อการพกพามากๆ สำหรับการเดินทางของผม</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/edward/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย with Edward">

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมอยากจะบอกว่าความสามารถเรื่อง Focus Peaking และช่วงความกว้างของแสงใน a7 นั้นมีความว่องไวอย่างไม่น่าเชื่อ คุคุณสมบัติ Focus Peaking ได้มอบความสามารถในการโฟกัสไปยังวัตถุอย่างแม่นยำแก่ผม แตกต่างจากกล้อง DSLR โดยทั่วไปที่คุณจะต้องพึ่งพาสายตาของคุณเองเท่านั้น และช่วงความกว้างของแสงในกล้อง a7R ก็มีมากกว่า 14 ช่วงที่ทำให้มันเป็น 1 ในอุปกรณ์ที่ดีที่สุดในตลาด นอกจากนี้การปรับกล้องเข้ากับเลนส์จากผู้ผลิตอื่นๆ ก็ช่วยทำให้ผมมีตัวเลือกในการถ่ายภาพได้มากขึ้น</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมสามารถบอกได้เลยว่าโซนี่คืออันดับท็อปของตาราง เพราะไม่มีกล้องฟลูเฟรมรุ่นใดที่สามารถให้เซ็นเซอร์ที่มีประสิทธิภาพ การปรับเปลี่ยนเลนส์ และการพกพาได้ดีเท่ากับที่โซนี่ทำอีกแล้ว</div>
                </div>
                <!-- Q&A 8 -->

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ที่ผมชื่นชอบใน a7R คือเลนส์ 17 ม.ม. f4.0 ในขณะที่เลนส์ที่ผมชื่นชอบใน a7S นั้นไม่น่าเชื่อเลยว่ามันคือเลนส์ 40 ม.ม. f1.4</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในสถานการณ์ทั่วไปผมจะพก a7R ของผมร่วมกับ FE16-35 ม.ม. F4 และ a7S กับ FE28 F2 แต่ถ้าเป็นงานถ่ายภาพภูมิทัศน์ผมจะใช้ a7R ร่วมกับ FE16-35 ม.ม. F4 เพียงอย่างเดียว ซึ่งมันเป็นการทำงานร่วมกันที่สมบูรณ์แล้ว ในขณะที่ a7S กับ FE28 F2 จะเหมาะกับการถ่ายภาพถนนและภาพที่มีแสงน้อยมากกว่า</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Edward</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/edward/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Edward"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีความสุขตลอดทุกช่วงเวลาที่ได้ถ่ายภาพ โดยผมเชื่อมันคือช่วงเวลาอันเป็นนิรันดร์ที่สามารถถ่ายทอดได้ไม่รู้จบ แต่ผมไม่ได้เริ่มต้นถ่ายภาพอย่างจริงจังจนกระทั่งคุณปู่ของผมได้มอบกระเป๋าและกล้อง SLR แบบฟิล์มให้แก่ผมเมื่อ 4 ปีที่ผ่านมา และการลืมตาดูโลกของลูกสาวแสนรักก็ได้จุดประกายความเป็นช่างภาพในตัวผมและเริ่มทำให้ผมถ่ายภาพอย่างจริงจัง โดยทั้งสองเหตุการณ์เกิดขึ้นในช่วงเวลาเดียวกันด้วย ผมจึงมีเพลิดเพลินไปกับการถ่ายภาพช่วงเวลาต่างๆ ที่ลูกสาวของผมเติบโตขึ้นควบคู่ไปกับทัศนียภาพรอบตัวผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพกลายเป็นส่วนใหญ่ส่วนหนึ่งในชีวิตของผมร่วมกับการทำงานและการพักผ่อน ผมมีการเดินทางในการทำงานอยู่บ่อยครั้งและในช่วงเวลาว่างผมก็จะเดินสำรวจเมืองและจับภาพความงดงามในวัฒนธรรมของท้องถิ่น การถ่ายภาพได้ช่วยผ่อนคลายความเครียดจากการทำงาน มันจึงพัฒนาขึ้นจากความรักของผมโดยเฉพาะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีความคาดหวังสูงกับกล้องและอุปกรณ์ที่ผมใช้ พวกมันจะต้องตอบสนองความต้องการของผมด้วยการให้ผลลัพธ์ที่ต้องการและอยู่ในมาตรฐานที่ผมกำหนดไว้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">แรงบันดาลใจที่ยิ่งใหญ่ที่สุดของผมคือเพื่อนที่ดีและผู้ที่ให้คำปรึกษากับผมเอเลีย โลคาร์ดี (Elia Locardi) ผมยกย่องเขาในฐานผู้ที่สอนเรื่องความคิดสร้างสรรค์และวิธีการถ่ายภาพ สไตล์ของเขาเป็นแรงบันดาลใจให้แก่ผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ความท้าทายที่ใหญ่ที่สุดสำหรับผมคือการพกพาและการปรับแต่ง เพราะเป็นที่ทราบกันแลวว่าผมเดินทางบ่อยและอุปกรณ์ที่ผมพกไปนั้นจะต้องมีประสิทธิภาพที่ดี และเมื่อโซนี่เปิดตัวกล้องตระกูล a7 ออกมา ผมได้เปลี่ยนกล้องไปซื้อ a7R ในทันทีที่มันเปิดตัวออกมาเป็นครั้งแรก และมันก็ตรงกับความต้องการของผมเหมือนสวมถุงมือได้พอดี</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ขนาดของ a7 ที่ทำขึ้นมาได้กล้องดูน่ากลัวน้อยลงโดยเฉพาะกับเด็กๆ และมันยังสะดวกต่อการพกพามากๆ สำหรับการเดินทางของผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมอยากจะบอกว่าความสามารถเรื่อง Focus Peaking และช่วงความกว้างของแสงใน a7 นั้นมีความว่องไวอย่างไม่น่าเชื่อ คุคุณสมบัติ Focus Peaking ได้มอบความสามารถในการโฟกัสไปยังวัตถุอย่างแม่นยำแก่ผม แตกต่างจากกล้อง DSLR โดยทั่วไปที่คุณจะต้องพึ่งพาสายตาของคุณเองเท่านั้น และช่วงความกว้างของแสงในกล้อง a7R ก็มีมากกว่า 14 ช่วงที่ทำให้มันเป็น 1 ในอุปกรณ์ที่ดีที่สุดในตลาด นอกจากนี้การปรับกล้องเข้ากับเลนส์จากผู้ผลิตอื่นๆ ก็ช่วยทำให้ผมมีตัวเลือกในการถ่ายภาพได้มากขึ้น</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมสามารถบอกได้เลยว่าโซนี่คืออันดับท็อปของตาราง เพราะไม่มีกล้องฟลูเฟรมรุ่นใดที่สามารถให้เซ็นเซอร์ที่มีประสิทธิภาพ การปรับเปลี่ยนเลนส์ และการพกพาได้ดีเท่ากับที่โซนี่ทำอีกแล้ว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ที่ผมชื่นชอบใน a7R คือเลนส์ 17 ม.ม. f4.0 ในขณะที่เลนส์ที่ผมชื่นชอบใน a7S นั้นไม่น่าเชื่อเลยว่ามันคือเลนส์ 40 ม.ม. f1.4</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในสถานการณ์ทั่วไปผมจะพก a7R ของผมร่วมกับ FE16-35 ม.ม. F4 และ a7S กับ FE28 F2 แต่ถ้าเป็นงานถ่ายภาพภูมิทัศน์ผมจะใช้ a7R ร่วมกับ FE16-35 ม.ม. F4 เพียงอย่างเดียว ซึ่งมันเป็นการทำงานร่วมกันที่สมบูรณ์แล้ว ในขณะที่ a7S กับ FE28 F2 จะเหมาะกับการถ่ายภาพถนนและภาพที่มีแสงน้อยมากกว่า</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
