<div class="thai" id="profile-urasha">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">ช่างภาพบุคคล + แลนด์สเคป + ท่องเที่ยว</p>
                <p class="name">Urasha Jakkachaphol</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ไทย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">ช่างภาพบุคคล + แลนด์สเคป + ท่องเที่ยว</p>
                    <p class="name">Urasha Jakkachaphol</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ไทย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>อุรชา จักรคชาพล เป็นช่างภาพไทยที่มีจุดมุ่งหมายอันโดดเด่น และกำลังทำหน้าที่เป็นคณะกรรมการของสมาคมถ่ายภาพแห่งประเทศไทย ในพระบรมราชูปถัมภ์ (RPST)</p>

            <p>อุรชาเกิดในกรุงเทพฯ ประเทศไทย เธอมีโอกาสที่จะได้สัมผัสกับความหลากหลายทางวัฒนธรรมมากมายผ่านการเดินทางทั้งในและต่างประเทศ โดยการเส้นทางของเธอได้เริ่มต้นเข้าสู่โลกของการถ่ายภาพในช่วงฤดูใบไม้ร่วงในปี 2007 เมื่อเธอได้ลงทะเบียนในหลักสูตรที่จะกำหนดอาชีพของเธอในอนาคต โดยก่อนหน้านี้เธอจบการศึกษาระดับปริญญาตรีจากมหาวิทยาลัยอัสสัมชัญในประเทศไทย และจบ MSC จากมหาวิทยาลัยเซอร์รี่ ประเทศอังกฤษ และเธอก็ยังได้การันตีการศึกษาจากวิทยาลัยการสื่อสารลอนดอนในปี 2008 อีกด้วย</p>

            <p>ความรักที่มีต่อการถ่ายภาพของอุรชาผลักดันเธอให้ไปไกลถึงประเทศฝรั่งเศสจนเธอเป็นที่ยอมรับในสถาบันการถ่ายภาพ Spéos Paris จากการทุ่มเทและความขยันไล่ตามความฝันจึงทำให้เธอได้จบการศึกษาในระดับปริญญาโทที่ European Master of Professional Photography 2009</p>

            <p>ในช่วงแรกการทำงานของอุรชามุ่งเน้นไปที่การถ่ายภาพเรื่องราวการดำรงวิถีชีวิตของท้องถิ่นและสิ่งที่เกี่ยวข้องกับปัญหาของสังคม แต่ในภายหลังเธอได้เปลี่ยนเป็นงานด้านภูมิประเทศและภูมิทัศน์ของเมือง นอกจากนี้เธอยังมีความสนใจในเรื่องศิลปะและภาพเกี่ยวกับสิ่งแวดล้อมอีกด้วย</p>

            <p>ด้วยสไตล์ที่ไม่ซ้ำใคร ความสามารถ และความเข้าใจในสายอาชีพของอุรชา ทำให้เธอได้รับรางวัลมากมาย ตัวอย่างเช่น Prix de la Photographie และ International Photography Awards ในหลากหลายสาขา</p>

            <p>ปัจจุบันอุรชาเป็นอาจารย์ในสถาบันเทคโนโลยีพระเจ้าเกล้าเจ้าคุณทหารลาดกระบัง (KMITL) กรุงเทพฯ และเป็นแบรนด์แอมบาสเดอร์ของโซนี่ประเทศไทย</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>อุรชา จักรคชาพล เป็นช่างภาพไทยที่มีจุดมุ่งหมายอันโดดเด่น และกำลังทำหน้าที่เป็นคณะกรรมการของสมาคมถ่ายภาพแห่งประเทศไทย ในพระบรมราชูปถัมภ์ (RPST)</p>

            <p>อุรชาเกิดในกรุงเทพฯ ประเทศไทย เธอมีโอกาสที่จะได้สัมผัสกับความหลากหลายทางวัฒนธรรมมากมายผ่านการเดินทางทั้งในและต่างประเทศ โดยการเส้นทางของเธอได้เริ่มต้นเข้าสู่โลกของการถ่ายภาพในช่วงฤดูใบไม้ร่วงในปี 2007 เมื่อเธอได้ลงทะเบียนในหลักสูตรที่จะกำหนดอาชีพของเธอในอนาคต โดยก่อนหน้านี้เธอจบการศึกษาระดับปริญญาตรีจากมหาวิทยาลัยอัสสัมชัญในประเทศไทย และจบ MSC จากมหาวิทยาลัยเซอร์รี่ ประเทศอังกฤษ และเธอก็ยังได้การันตีการศึกษาจากวิทยาลัยการสื่อสารลอนดอนในปี 2008 อีกด้วย</p>

            <p>ความรักที่มีต่อการถ่ายภาพของอุรชาผลักดันเธอให้ไปไกลถึงประเทศฝรั่งเศสจนเธอเป็นที่ยอมรับในสถาบันการถ่ายภาพ Spéos Paris จากการทุ่มเทและความขยันไล่ตามความฝันจึงทำให้เธอได้จบการศึกษาในระดับปริญญาโทที่ European Master of Professional Photography 2009</p>

            <p>ในช่วงแรกการทำงานของอุรชามุ่งเน้นไปที่การถ่ายภาพเรื่องราวการดำรงวิถีชีวิตของท้องถิ่นและสิ่งที่เกี่ยวข้องกับปัญหาของสังคม แต่ในภายหลังเธอได้เปลี่ยนเป็นงานด้านภูมิประเทศและภูมิทัศน์ของเมือง นอกจากนี้เธอยังมีความสนใจในเรื่องศิลปะและภาพเกี่ยวกับสิ่งแวดล้อมอีกด้วย</p>

            <p>ด้วยสไตล์ที่ไม่ซ้ำใคร ความสามารถ และความเข้าใจในสายอาชีพของอุรชา ทำให้เธอได้รับรางวัลมากมาย ตัวอย่างเช่น Prix de la Photographie และ International Photography Awards ในหลากหลายสาขา</p>

            <p>ปัจจุบันอุรชาเป็นอาจารย์ในสถาบันเทคโนโลยีพระเจ้าเกล้าเจ้าคุณทหารลาดกระบัง (KMITL) กรุงเทพฯ และเป็นแบรนด์แอมบาสเดอร์ของโซนี่ประเทศไทย</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Urasha</span>
                </p>
                <img data-original="img/profile/th/urasha/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Urasha">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/urasha/quote-1-th.png" width="310" height="463" alt="Urasha's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/urasha/quote-2-th.png" width="303" height="400" alt="Urasha's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">แรงบันดาลใจของฟาในการถ่ายภาพก็คือ ฟาสามารถถ่ายทอดความรู้สึกของฟาผ่านออกมาสู่ภาพถ่าย  หลายๆครั้งการบรรยายความรู้สึกออกมาเป็นคำพูดมันช่างยากนัก การถ่ายทอดความรู้สึกออกมาเป็นชุดภาพ มันทำให้เราสามารถปลดปล่อยความคิดและความรู้สึกต่างๆที่อยู่ภายในใจ และในจิตวิญญาณของเราออกมาให้เป็นรูปธรรมมากขึ้น และนั่นก็หมายความว่า คนที่ได้รับชมภาพนั้น ก็จะมีความรู้สึกคล้อยตาม ในแบบที่เราต้องการจะสื่อ หรือรู้สึกนึกคิดไปต่างๆนานาขึ้นอยู่กับประสบการณ์ของเขาที่จะอ่านและตีความหมายของภาพนั้นๆ</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพนั้นสำคัญมาก สำหรับฟาแล้ว มันมากพอที่จะเปลี่ยนชีวิตของฟา จากนักการโรงแรม มาเป็นศิลปินช่างภาพ และยังได้มีโอกาสเป็นอาจารย์สอนถ่ายภาพอีกด้วย นั่นหมายความว่า ในทุกๆวันของฟานั้น ต้องหมุนเวียนเกี่ยวข้องกับการถ่ายภาพ  อาชีพของฟานั้น มันทำให้เราเกิดแรงบันดาลใจในทุกๆวัน มันทำให้ฟาหยุดมองและสังเกตุสิ่งเล็กๆรอบตัวไม่ว่าจะเป็นต้นไม้ใบหญ้า สิ่งละอันพันละน้อย มันทำให้ฟามีความละเอียดอ่อนมากขึ้น และการถ่ายภาพนั้น ทำให้ฟารักที่จะมองดูโลกใบนี้อย่างมีความสุขค่ะ</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Urasha">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สิ่งที่ฟาคาดหวังกับอุปกรณ์ถ่ายภาพมากที่สุดก็คือคุณภาพของไฟล์ค่ะ การได้ไฟล์ภาพที่คมชัด มีโทนภาพที่สวยงาม มีสีที่อิ่มและเที่ยงตรง ทุกครั้งที่ฟาเปิดดูไฟล์ภาพ ฟาจะมีความสุขมากถ้าคุณภาพของไฟล์เป็นที่น่าพอใจ และนั่นก็หมายความว่า เทคโนโลยีนั้นมีความสำคัญมากทีเดียว ความคาดหวังอีกอย่างที่ขาดไม่ได้สำหรับฟา นั่นก็คือ น้ำหนักของกล้องและเลนส์ เนื่องจากว่าฟาสะพายกล้องที่มีน้ำหนักมากมาตลอด ไหล่ของฟาจึงมีปัญหา ฟาจึงคิดว่า อุปกรณ์ถ่ายภาพนั้นควรมีน้ำหนักที่เบาเพื่อความคล่องตัว Sony Alpha a7R ii เหมือนเปลี่ยนชีวิตของฟา มันทำให้ฟารู้สึกว่าน้ำหนักของกล้องที่สะพายอยู่บนไหล่ มันไม่ได้อุปสรรคอีกต่อไป แต่กลับช่วยทำให้ฟาถ่ายภาพได้คล่องตัวขึ้น และสามารถนำอุปกรณ์ไปใช้ในระหว่างการเดินทางได้มากขึ้นค่ะ</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจ ในเส้นทางถ่ายภาพของฟา
                    พี่ดาว วาสิกศิริ เป็นศิลปินช่างภาพที่ฟาชื่นชอบและนับถือค่ะ ฟาเรียนรู้จากพี่ดาว ที่จะสร้างเเรงบันดาลใจมาจากการมองเห็นศิลปะที่อยู่รอบตัว และนอกเหนือจากนั้น ฟายังได้เรียนรู้วิธีการสร้างงานโดยผ่านกระบวนการความคิดอย่างมีระบบด้วยค่ะ
                    Martin Parr เป็นศิลปินที่ฟาชื่นชอบอีกคนหนึ่ง งานของ Martin Parr เข้าใจง่าย สนุกและแฝงความตลกร้ายเอาไว้ ฟาชื่นชมงานของเขาเพราะว่าฟาชอบสังเกตสิ่งของและเรื่องราว รวมไปถึงความไม่เหมือนในลักษณะต่างๆของคนในแต่ละพื้นที่ค่ะ
                    นอกจากนี้ศิลปินที่เป็นแรงบันดาลใจก็จะมี Erwin Olaf และ Loretta Lux ค่ะ ฟาชอบความสมบูรณ์แบบในงานและการใช้สีของเขา นอกจากนั้นฟายังประทับใจในแนวคิดของศิลปินดังกล่าว ฟารู้สึกว่างานของพวกเขานั้นน่าสนใจดีค่ะ</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปสรรคของฟาที่ยิ่งใหญ่ที่สุดในการถ่ายภาพก็คือ อุปกรณ์ที่ใหญ่และมีน้ำหนักมาก เวลาที่ฟาต้องเดินทางไปในที่ไกลๆแล้วต้องสมบุกสมบัน แต่พอฟาเปลี่ยนมาใช้ Sony a7RII ซึ่งมีน้ำหนักเบา แถมยังมีคุณสมบัติของไฟล์ภาพที่ดีเยี่ยมนั้น มันช่วยแก้ปัญหาไปเลยค่ะ</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปสรรคของฟาที่ยิ่งใหญ่ที่สุดในการถ่ายภาพก็คือ อุปกรณ์ที่ใหญ่และมีน้ำหนักมาก เวลาที่ฟาต้องเดินทางไปในที่ไกลๆแล้วต้องสมบุกสมบัน แต่พอฟาเปลี่ยนมาใช้ Sony a7RII ซึ่งมีน้ำหนักเบา แถมยังมีคุณสมบัติของไฟล์ภาพที่ดีเยี่ยมนั้น มันช่วยแก้ปัญหาไปเลยค่ะ</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> ฟาว่าข้อได้เปรียบของ Sony a7RII ก็คือเทคโนโลยีที่ทันสมัย น้ำหนักเบา และยังสามารถใช้กับเลนส์ของค่ายอื่นได้อีกด้วยค่ะ </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ฟาคงให้คะแนนเต็มกับกล้องตัวนี้ค่ะ เพราะกล้องตัวนี้มีทุกอย่างที่ฟาคิดว่ากล้องถ่ายภาพควรจะมี คุณภาพของไฟล์มันดีมากจริงๆแล้วฟาคิดว่ากล้องตัวนี้มีเทคโนโลยีที่ล้ำสมัยมากที่สุดตัวหนึ่ง ในท้องตลาดตอนนี้ค่ะ และฟาก็รักกล้องตัวนี้มาก</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Urasha">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ตัวโปรดของฟาน่าจะเป็น Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS  ค่ะ เพราะว่าฟารู้สึกว่ามันคือเลนส์ที่ฟาสามารถใช้ถ่ายในสถานการณ์ต่างๆได้ ในเวลาที่ฟาต้องเดินทาง และไม่สะดวกที่จะเปลี่ยนเลนส์ตลอดเวลา เลนส์ตัวนี้ยังให้คุณภาพไฟล์ที่ดีจนฟาประทับใจมากๆด้วยค่ะ
                    <br/><br/>
                    เลนส์อีกตัวที่ต้องติดตัวตลอดก็คือเลนส์ Sony Distagon T FE 35mm f/1.4 ZA ค่ะ เลนส์ตัวนี่ฟาจะชอบใช้เวลาถ่ายพอร์เทรต เหตุผลที่ใช้เลนส์ตัวนี้เพราะเป็นเลนส์ที่มีมุมกว้างพอที่จะเก็บบรรยากาศรอบๆได้พอดิบพอดี และยังมีความชัดตื้นมากจนทำให้แบบดูเด่นค่ะ
                    </div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">ในกระเป๋าของฟาประกอบไปด้วยเลนส์โซนี่ Sony Distagon T FE 35mm f/1.4 ZA, เลนส์โซนี่ Vario-Tessar T FE 24-70mm f/4 ZA OSS, เลนส์โซนี่ Sonnar T FE 55mm f/1.8 ZA, กล้อง Sony a7RII, แบตเตอรี่เสริม 2 ชุด และ SD Card 64GB อีก 4 ชิ้น</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Urasha</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/urasha/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Urasha"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">แรงบันดาลใจของฟาในการถ่ายภาพก็คือ ฟาสามารถถ่ายทอดความรู้สึกของฟาผ่านออกมาสู่ภาพถ่าย  หลายๆครั้งการบรรยายความรู้สึกออกมาเป็นคำพูดมันช่างยากนัก การถ่ายทอดความรู้สึกออกมาเป็นชุดภาพ มันทำให้เราสามารถปลดปล่อยความคิดและความรู้สึกต่างๆที่อยู่ภายในใจ และในจิตวิญญาณของเราออกมาให้เป็นรูปธรรมมากขึ้น และนั่นก็หมายความว่า คนที่ได้รับชมภาพนั้น ก็จะมีความรู้สึกคล้อยตาม ในแบบที่เราต้องการจะสื่อ หรือรู้สึกนึกคิดไปต่างๆนานาขึ้นอยู่กับประสบการณ์ของเขาที่จะอ่านและตีความหมายของภาพนั้นๆ
                            ความรู้สึกที่เกิดขึ้นตลอดเวลาในชีวิตทุกๆวันของเรามันไม่เคยหยุด นั่นหมายถึงภาพถ่ายก็จะคงทำหน้าที่เป็นสื่อกลางในการแสดงออกถึงความรู้สึกของฟาไปเรื่อยๆ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพนั้นสำคัญมาก สำหรับฟาแล้ว มันมากพอที่จะเปลี่ยนชีวิตของฟา จากนักการโรงแรม มาเป็นศิลปินช่างภาพ และยังได้มีโอกาสเป็นอาจารย์สอนถ่ายภาพอีกด้วย นั่นหมายความว่า ในทุกๆวันของฟานั้น ต้องหมุนเวียนเกี่ยวข้องกับการถ่ายภาพ  อาชีพของฟานั้น มันทำให้เราเกิดแรงบันดาลใจในทุกๆวัน มันทำให้ฟาหยุดมองและสังเกตุสิ่งเล็กๆรอบตัวไม่ว่าจะเป็นต้นไม้ใบหญ้า สิ่งละอันพันละน้อย มันทำให้ฟามีความละเอียดอ่อนมากขึ้น และการถ่ายภาพนั้น ทำให้ฟารักที่จะมองดูโลกใบนี้อย่างมีความสุขค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สิ่งที่ฟาคาดหวังกับอุปกรณ์ถ่ายภาพมากที่สุดก็คือคุณภาพของไฟล์ค่ะ การได้ไฟล์ภาพที่คมชัด มีโทนภาพที่สวยงาม มีสีที่อิ่มและเที่ยงตรง ทุกครั้งที่ฟาเปิดดูไฟล์ภาพ ฟาจะมีความสุขมากถ้าคุณภาพของไฟล์เป็นที่น่าพอใจ และนั่นก็หมายความว่า เทคโนโลยีนั้นมีความสำคัญมากทีเดียว ความคาดหวังอีกอย่างที่ขาดไม่ได้สำหรับฟา นั่นก็คือ น้ำหนักของกล้องและเลนส์ เนื่องจากว่าฟาสะพายกล้องที่มีน้ำหนักมากมาตลอด ไหล่ของฟาจึงมีปัญหา ฟาจึงคิดว่า อุปกรณ์ถ่ายภาพนั้นควรมีน้ำหนักที่เบาเพื่อความคล่องตัว Sony Alpha a7R ii เหมือนเปลี่ยนชีวิตของฟา มันทำให้ฟารู้สึกว่าน้ำหนักของกล้องที่สะพายอยู่บนไหล่ มันไม่ได้อุปสรรคอีกต่อไป แต่กลับช่วยทำให้ฟาถ่ายภาพได้คล่องตัวขึ้น และสามารถนำอุปกรณ์ไปใช้ในระหว่างการเดินทางได้มากขึ้นค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจ ในเส้นทางถ่ายภาพของฟา
                            พี่ดาว วาสิกศิริ เป็นศิลปินช่างภาพที่ฟาชื่นชอบและนับถือค่ะ ฟาเรียนรู้จากพี่ดาว ที่จะสร้างเเรงบันดาลใจมาจากการมองเห็นศิลปะที่อยู่รอบตัว และนอกเหนือจากนั้น ฟายังได้เรียนรู้วิธีการสร้างงานโดยผ่านกระบวนการความคิดอย่างมีระบบด้วยค่ะ
                            Martin Parr เป็นศิลปินที่ฟาชื่นชอบอีกคนหนึ่ง งานของ Martin Parr เข้าใจง่าย สนุกและแฝงความตลกร้ายเอาไว้ ฟาชื่นชมงานของเขาเพราะว่าฟาชอบสังเกตสิ่งของและเรื่องราว รวมไปถึงความไม่เหมือนในลักษณะต่างๆของคนในแต่ละพื้นที่ค่ะ
                            นอกจากนี้ศิลปินที่เป็นแรงบันดาลใจก็จะมี Erwin Olaf และ Loretta Lux ค่ะ ฟาชอบความสมบูรณ์แบบในงานและการใช้สีของเขา นอกจากนั้นฟายังประทับใจในแนวคิดของศิลปินดังกล่าว ฟารู้สึกว่างานของพวกเขานั้นน่าสนใจดีค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปสรรคของฟาที่ยิ่งใหญ่ที่สุดในการถ่ายภาพก็คือ อุปกรณ์ที่ใหญ่และมีน้ำหนักมาก เวลาที่ฟาต้องเดินทางไปในที่ไกลๆแล้วต้องสมบุกสมบัน แต่พอฟาเปลี่ยนมาใช้ Sony a7RII ซึ่งมีน้ำหนักเบา แถมยังมีคุณสมบัติของไฟล์ภาพที่ดีเยี่ยมนั้น มันช่วยแก้ปัญหาไปเลยค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปสรรคของฟาที่ยิ่งใหญ่ที่สุดในการถ่ายภาพก็คือ อุปกรณ์ที่ใหญ่และมีน้ำหนักมาก เวลาที่ฟาต้องเดินทางไปในที่ไกลๆแล้วต้องสมบุกสมบัน แต่พอฟาเปลี่ยนมาใช้ Sony a7RII ซึ่งมีน้ำหนักเบา แถมยังมีคุณสมบัติของไฟล์ภาพที่ดีเยี่ยมนั้น มันช่วยแก้ปัญหาไปเลยค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"> ฟาว่าข้อได้เปรียบของ Sony a7RII ก็คือเทคโนโลยีที่ทันสมัย น้ำหนักเบา และยังสามารถใช้กับเลนส์ของค่ายอื่นได้อีกด้วยค่ะ </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ฟาคงให้คะแนนเต็มกับกล้องตัวนี้ค่ะ เพราะกล้องตัวนี้มีทุกอย่างที่ฟาคิดว่ากล้องถ่ายภาพควรจะมี คุณภาพของไฟล์มันดีมากจริงๆแล้วฟาคิดว่ากล้องตัวนี้มีเทคโนโลยีที่ล้ำสมัยมากที่สุดตัวหนึ่ง ในท้องตลาดตอนนี้ค่ะ และฟาก็รักกล้องตัวนี้มาก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ตัวโปรดของฟาน่าจะเป็น Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS  ค่ะ เพราะว่าฟารู้สึกว่ามันคือเลนส์ที่ฟาสามารถใช้ถ่ายในสถานการณ์ต่างๆได้ ในเวลาที่ฟาต้องเดินทาง และไม่สะดวกที่จะเปลี่ยนเลนส์ตลอดเวลา เลนส์ตัวนี้ยังให้คุณภาพไฟล์ที่ดีจนฟาประทับใจมากๆด้วยค่ะ
                            <br/><br/>
                            เลนส์อีกตัวที่ต้องติดตัวตลอดก็คือเลนส์ Sony Distagon T FE 35mm f/1.4 ZA ค่ะ เลนส์ตัวนี่ฟาจะชอบใช้เวลาถ่ายพอร์เทรต เหตุผลที่ใช้เลนส์ตัวนี้เพราะเป็นเลนส์ที่มีมุมกว้างพอที่จะเก็บบรรยากาศรอบๆได้พอดิบพอดี และยังมีความชัดตื้นมากจนทำให้แบบดูเด่นค่ะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในกระเป๋าของฟาประกอบไปด้วยเลนส์โซนี่ Sony Distagon T FE 35mm f/1.4 ZA, เลนส์โซนี่ Vario-Tessar T FE 24-70mm f/4 ZA OSS, เลนส์โซนี่ Sonnar T FE 55mm f/1.8 ZA, กล้อง Sony a7RII, แบตเตอรี่เสริม 2 ชุด และ SD Card 64GB อีก 4 ชิ้น</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
