<div class="thai" id="profile-kriengkrai">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ช่างภาพท่องเที่ยว + สารคดี + สตรีท</p>
                <p class="name">Kriengkrai Waiyakij</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ไทย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">ช่างภาพท่องเที่ยว + สารคดี + สตรีท</p>
                    <p class="name">Kriengkrai Waiyakij</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ไทย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เกรียงไกร ไวยกิจ (Kriengkrai Waiyakij)  เกิดและเติบโตที่จังหวัดราชบุรี  เมื่อเป็นเด็ก
            เขารักการวาดภาพเป็นชีวิตจิตใจ ภายหลังจบมัธยมต้น จึงเข้าไปศึกษาต่อด้านศิลปะ
            ที่กรุงเทพฯ เมื่อเรียนชั้นปี 2 ได้รวบรวมผลงานศิลปะที่สร้างขึ้นระหว่างอายุ 12 ถึง 20 ปี 
            จัดแสดงนิทรรศการชื่อ "12 ศิลปะ 20" ณ จังหวัดราชบุรี โดยได้รับเกียรติจาก 
            ม.ร.ว. คึกฤทธิ์ ปราโมช อดีตนายกรัฐมนตรี เป็นประธานในพิธีเปิด นอกจากนี้ขณะศึกษา
            อยู่ที่ วิทยาลัยช่างศิลป์ กรมศิลปากร เขายังได้รับทุนการศึกษา สมเด็จพระเจ้าบรมวงศ์เธอ 
            เจ้าฟ้ากรมพระยานริศรานุวัดติวงศ์ ซึ่งเป็นรางวัลที่มอบให้สำหรับผู้ที่มีความสามารถทางศิลปะ 
            และ ความคิดสร้างสรรค์.</p>

            <p>เป็นเวลากว่า 30 ปีในฐานะช่างภาพอิสระ เขาได้รับเชิญ และร่วมแสดงนิทรรศการ
            ศิลปะภาพถ่ายทั้งในและต่างประเทศหลายครั้ง เช่น การแสดงภาพถ่ายเดี่ยว  Under the Moon Light 
            ที่  Rare Art Gallery  ถนนข้าวสาร  กรุงเทพฯ, งานเทศกาลศิลปะภาพถ่าย China 6th 
            Photographic Art Festival ในประเทศจีน, งานจัดแสดงภาพถ่ายนานาชาติดูยิน ครั้งที่ 2 ในประเทศจีน,
            การแสดงภาพถ่าย “ SEE SEA : Southeast Asian Spirit ของคณะศิลปศาสตร์ มหาวิทยาลัยธรรมศาสตร์,
            งานฉลองครบรอบ 65 ปี ความสัมพันธ์ทางการทูตไทย – พม่า, งานเฉลิมฉลอง “ต้นธารสยาม - ลังกาวงศ์ 260 ปี”
            นอกจากนี้ยังมีผลงานตีพิมพ์ในหนังสือที่สำคัญของประเทศหลากหลายเล่ม อาทิ 50 ช่างภาพ 
            บันทึกแผ่นดินทองฉลองกาญจนาภิเษก, หนังสือภาพแห่งความทรงจำในงานพระราชพิธีถวายพระเพลิงพระบรมศพ  สมเด็จพระศรีนครินทราบรมราชชนนี, หนังสือเศรษฐกิจพอเพียง, และอื่นๆ อีกมากมาย.</p>

            <p>เกรียงไกร ได้รับการยอมรับว่า มีมุมมองบันทึกภาพที่สะท้อนให้เห็นถึงศรัทธาต่อความเชื่อของมนุษย์ และ
            ความงดงามของชีวิตผู้คน   เขายังเป็นอาจารย์พิเศษ กรรมการตัดสินภาพถ่าย  และวิทยากรในสถาบันการศึกษา
            ภาครัฐและเอกชน ตลอดจนองค์กรไม่แสวงหาผลกำไรอีกหลายแห่ง  นอกจากนี้ยังได้รับรางวัลเกียรติยศ 
            บุคคลแห่งปีสาขาสร้างสรรค์ภาพถ่ายเพื่อชีวิตและชุมชน จากมหาวิทยาลัยราชภัฏจันทรเกษม ประจำปี 2553 และ
            ในปีเดียวกันนั้นกับ รางวัลศิลปินนักถ่ายภาพไทย จากสมาพันธ์สมาคมถ่ายภาพแห่งประเทศไทย.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เกรียงไกร ไวยกิจ (Kriengkrai Waiyakij)  เกิดและเติบโตที่จังหวัดราชบุรี  เมื่อเป็นเด็ก
            เขารักการวาดภาพเป็นชีวิตจิตใจ ภายหลังจบมัธยมต้น จึงเข้าไปศึกษาต่อด้านศิลปะ
            ที่กรุงเทพฯ เมื่อเรียนชั้นปี 2 ได้รวบรวมผลงานศิลปะที่สร้างขึ้นระหว่างอายุ 12 ถึง 20 ปี 
            จัดแสดงนิทรรศการชื่อ "12 ศิลปะ 20" ณ จังหวัดราชบุรี โดยได้รับเกียรติจาก 
            ม.ร.ว. คึกฤทธิ์ ปราโมช อดีตนายกรัฐมนตรี เป็นประธานในพิธีเปิด นอกจากนี้ขณะศึกษา
            อยู่ที่ วิทยาลัยช่างศิลป์ กรมศิลปากร เขายังได้รับทุนการศึกษา สมเด็จพระเจ้าบรมวงศ์เธอ 
            เจ้าฟ้ากรมพระยานริศรานุวัดติวงศ์ ซึ่งเป็นรางวัลที่มอบให้สำหรับผู้ที่มีความสามารถทางศิลปะ 
            และ ความคิดสร้างสรรค์.</p>

            <p>เป็นเวลากว่า 30 ปีในฐานะช่างภาพอิสระ เขาได้รับเชิญ และร่วมแสดงนิทรรศการ
            ศิลปะภาพถ่ายทั้งในและต่างประเทศหลายครั้ง เช่น การแสดงภาพถ่ายเดี่ยว  Under the Moon Light 
            ที่  Rare Art Gallery  ถนนข้าวสาร  กรุงเทพฯ, งานเทศกาลศิลปะภาพถ่าย China 6th 
            Photographic Art Festival ในประเทศจีน, งานจัดแสดงภาพถ่ายนานาชาติดูยิน ครั้งที่ 2 ในประเทศจีน,
            การแสดงภาพถ่าย “ SEE SEA : Southeast Asian Spirit ของคณะศิลปศาสตร์ มหาวิทยาลัยธรรมศาสตร์,
            งานฉลองครบรอบ 65 ปี ความสัมพันธ์ทางการทูตไทย – พม่า, งานเฉลิมฉลอง “ต้นธารสยาม - ลังกาวงศ์ 260 ปี”
            นอกจากนี้ยังมีผลงานตีพิมพ์ในหนังสือที่สำคัญของประเทศหลากหลายเล่ม อาทิ 50 ช่างภาพ 
            บันทึกแผ่นดินทองฉลองกาญจนาภิเษก, หนังสือภาพแห่งความทรงจำในงานพระราชพิธีถวายพระเพลิงพระบรมศพ  สมเด็จพระศรีนครินทราบรมราชชนนี, หนังสือเศรษฐกิจพอเพียง, และอื่นๆ อีกมากมาย.</p>

            <p>เกรียงไกร ได้รับการยอมรับว่า มีมุมมองบันทึกภาพที่สะท้อนให้เห็นถึงศรัทธาต่อความเชื่อของมนุษย์ และ
            ความงดงามของชีวิตผู้คน   เขายังเป็นอาจารย์พิเศษ กรรมการตัดสินภาพถ่าย  และวิทยากรในสถาบันการศึกษา
            ภาครัฐและเอกชน ตลอดจนองค์กรไม่แสวงหาผลกำไรอีกหลายแห่ง  นอกจากนี้ยังได้รับรางวัลเกียรติยศ 
            บุคคลแห่งปีสาขาสร้างสรรค์ภาพถ่ายเพื่อชีวิตและชุมชน จากมหาวิทยาลัยราชภัฏจันทรเกษม ประจำปี 2553 และ
            ในปีเดียวกันนั้นกับ รางวัลศิลปินนักถ่ายภาพไทย จากสมาพันธ์สมาคมถ่ายภาพแห่งประเทศไทย.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
                <img data-original="img/profile/th/kriengkrai/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Kriengkrai">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/kriengkrai/quote-1-th.png" width="291" height="225" alt="Kriengkrai's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/kriengkrai/quote-2-th.png" width="282" height="197" alt="Kriengkrai's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมชอบวาดภาพ และเรียนมาทางนี้ แต่เมื่อผมได้สัมผัสและเรียนรู้โลกของกล้องแล้ว ผมก็รู้สึกเหมือนได้สัมผัสความสุขภายในใจ นั่นคือการเติมเต็มความรู้สึกเมื่อได้ถ่ายภาพ</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมเริ่มถ่ายภาพเพราะรักเป็นหลัก และงานตามมาหลังจากได้ทำสิ่งที่รัก กล้องกลายเป็นส่วนหนึ่งของชีวิต และมีความสำคัญกับความรู้สึกเท่าๆ กับหลายอย่างในชีวิตของผม</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Kriengkrai">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">จากการเป็นช่างภาพ ผมได้เห็นการพัฒนาของกล้องรุ่นต่างๆ มากมาย ซึ่งผมพอใจกับเทคโนโลยีใหม่ๆ ที่มาพร้อมกับมัน และผมยังคงมองต่อไปข้างหน้าว่ารุ่นต่อๆ ไปที่ตามมาจะมีอะไรเปลี่ยนแปลงบ้าง แต่ผมก็ไม่ได้คาดหวังมากไปกว่าที่กล้องในมือที่ทำให้ผมรู้สึกพึงพอใจกับสิ่งที่มีเลย</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">พ่อ เขาเป็นให้ผมจับกล้องตั้งแต่เด็กๆ เป็นกล้องเล็กๆ ราคาถูก แต่มีคุณค่ามากกับผม เสน่ห์ของภาพที่เกิดจากกล้องและมุมมอง เชื่อมโยงกันโดยอัติโนมัติกับการวาดภาพที่ผมรัก โดยไม่มีใครอื่นเป็นแรงบันดาลใจได้เท่านี้อีก</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">โชคดีที่ผมไม่เคยมีอุปสรรคใดๆในการถ่ายภาพ อย่างไรก็ตาม a7 ช่วยเรื่องน้ำหนัก ความคล่องตัว และไม่แสดงความเป็นช่างภาพให้เห็นเด่นชัด ด้วยขนาดที่กะทัดรัดได้ช่วยทำให้การถือกล้องกลมกลืนไม่เป็นที่สังเกตุของผู้คนและไม่รบกวนใคร</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อย่างที่กล่าวข้างต้นในหลายๆ ประเด็น งานถ่ายภาพและเรื่องส่วนตัว ผมประสานเป็นหนึ่งเดียวกัน เมื่อผมรับงาน ผมจะบอกความต้องการของอิสระในเชิงความคิดสร้างสรรค์ ถ้าผู้ว่าจ้างรับได้เราจะทำมันด้วยความสุข งานก็จะออกมาอย่างน่าพึ่งพอใจ</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เซ็นเซอร์ฟูลเฟรมในกล้องขนาดเล็ก งานออกแบบดูน่าใช้งาน ที่สำคัญคุณภาพไฟล์ที่ออกมาเพียงพอกับความพอใจและการใช้งาน</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมใช้ผลิตภัณฑ์โซนี่หลายอย่างด้วยความพึงพอใจส่วนตัว ซึ่งไม่เกี่ยวกับการเอาอกเอาใจ แต่กล้องดิจิตอลโซนี่ก็เป็นอุปกรณ์ถ่ายภาพตัวแรกที่เลือกใช้หลังจากยุคของกล้องฟิล์ม ดังนั้นเมื่อจะต้องให้คะแนน ความรู้สึกที่ดีกับสิ่งที่ใช้ น่าจะเป็นสิ่งที่เหนือกว่าคำพูดและตัวเลขใดๆ</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Kriengkrai">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์หนึ่งที่ผมชื่นชอบคือเลนส์ 70-400 มม. เป็นเลนส์ซูมที่มีคุณภาพดีมากๆ ผมมักอัศจรรย์กับผลงานของเลนส์ตัวนี้อยู่บ่อยๆ และมันยังไม่เคยทำให้ผมผิดหวัง</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">มีความสุขครับ ผมติดกล้องไปทุกหนทุกแห่ง โดยมี a7 กับเลนส์ 24-70 ม.ม. และ 70-200 ม.ม. อยู่ในกระเป๋า และพกติดตัวไว้เคียงข้างด้วยกันกับผมไม่ต่างกับกล้อง RX1R เลยทีเดียว</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/kriengkrai/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Kriengkrai"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมชอบวาดภาพ และเรียนมาทางนี้ แต่เมื่อผมได้สัมผัสและเรียนรู้โลกของกล้องแล้ว ผมก็รู้สึกเหมือนได้สัมผัสความสุขภายในใจ นั่นคือการเติมเต็มความรู้สึกเมื่อได้ถ่ายภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเริ่มถ่ายภาพเพราะรักเป็นหลัก และงานตามมาหลังจากได้ทำสิ่งที่รัก กล้องกลายเป็นส่วนหนึ่งของชีวิต และมีความสำคัญกับความรู้สึกเท่าๆ กับหลายอย่างในชีวิตของผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">จากการเป็นช่างภาพ ผมได้เห็นการพัฒนาของกล้องรุ่นต่างๆ มากมาย ซึ่งผมพอใจกับเทคโนโลยีใหม่ๆ ที่มาพร้อมกับมัน และผมยังคงมองต่อไปข้างหน้าว่ารุ่นต่อๆ ไปที่ตามมาจะมีอะไรเปลี่ยนแปลงบ้าง แต่ผมก็ไม่ได้คาดหวังมากไปกว่าที่กล้องในมือที่ทำให้ผมรู้สึกพึงพอใจกับสิ่งที่มีเลย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">พ่อ เขาเป็นให้ผมจับกล้องตั้งแต่เด็กๆ เป็นกล้องเล็กๆ ราคาถูก แต่มีคุณค่ามากกับผม เสน่ห์ของภาพที่เกิดจากกล้องและมุมมอง เชื่อมโยงกันโดยอัติโนมัติกับการวาดภาพที่ผมรัก โดยไม่มีใครอื่นเป็นแรงบันดาลใจได้เท่านี้อีก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">โชคดีที่ผมไม่เคยมีอุปสรรคใดๆในการถ่ายภาพ อย่างไรก็ตาม a7 ช่วยเรื่องน้ำหนัก ความคล่องตัว และไม่แสดงความเป็นช่างภาพให้เห็นเด่นชัด ด้วยขนาดที่กะทัดรัดได้ช่วยทำให้การถือกล้องกลมกลืนไม่เป็นที่สังเกตุของผู้คนและไม่รบกวนใคร</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อย่างที่กล่าวข้างต้นในหลายๆ ประเด็น งานถ่ายภาพและเรื่องส่วนตัว ผมประสานเป็นหนึ่งเดียวกัน เมื่อผมรับงาน ผมจะบอกความต้องการของอิสระในเชิงความคิดสร้างสรรค์ ถ้าผู้ว่าจ้างรับได้เราจะทำมันด้วยความสุข งานก็จะออกมาอย่างน่าพึ่งพอใจ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เซ็นเซอร์ฟูลเฟรมในกล้องขนาดเล็ก งานออกแบบดูน่าใช้งาน ที่สำคัญคุณภาพไฟล์ที่ออกมาเพียงพอกับความพอใจและการใช้งาน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมใช้ผลิตภัณฑ์โซนี่หลายอย่างด้วยความพึงพอใจส่วนตัว ซึ่งไม่เกี่ยวกับการเอาอกเอาใจ แต่กล้องดิจิตอลโซนี่ก็เป็นอุปกรณ์ถ่ายภาพตัวแรกที่เลือกใช้หลังจากยุคของกล้องฟิล์ม ดังนั้นเมื่อจะต้องให้คะแนน ความรู้สึกที่ดีกับสิ่งที่ใช้ น่าจะเป็นสิ่งที่เหนือกว่าคำพูดและตัวเลขใดๆ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์หนึ่งที่ผมชื่นชอบคือเลนส์ 70-400 มม. เป็นเลนส์ซูมที่มีคุณภาพดีมากๆ ผมมักอัศจรรย์กับผลงานของเลนส์ตัวนี้อยู่บ่อยๆ และมันยังไม่เคยทำให้ผมผิดหวัง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มีความสุขครับ ผมติดกล้องไปทุกหนทุกแห่ง โดยมี a7 กับเลนส์ 24-70 ม.ม. และ 70-200 ม.ม. อยู่ในกระเป๋า และพกติดตัวไว้เคียงข้างด้วยกันกับผมไม่ต่างกับกล้อง RX1R เลยทีเดียว</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
