<div class="thai" id="profile-pilar">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพบุคคล + งานแต่ง + แฟชั่น</p>
                <p class="name">Pilar Trigo Bonnin</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ฟิลิปปินส์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">ช่างภาพบุคคล + งานแต่ง + แฟชั่น</p>
                    <p class="name">Pilar Trigo Bonnin</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ฟิลิปปินส์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Pilar Trigo Bonnin เป็นหนึ่งในชาวฟิลิปปินส์ เป็นหนึ่งในชาวฟิลิปปินส์ที่ได้รับการยอมรับและเป็นที่ต้องการตัวมากที่สุดในการถ่ายภาพงานแต่ง, ภาพบุคคล, และภาพแฟชั่น เธอถ่ายภาพงานแต่งเป็นครั้งแรกเมื่อ 14 ปีที่ผ่านมาและได้รับรางวัลมาอย่างมากมายจนถึงปัจจุบัน โดยเธอได้รับรางวัลเกี่ยวกับช่างภาพเป็นครั้งแรกในปี 2003 จากสามารถคมช่างภาพงานแต่งและบุคคลแห่งฟิลิปปินส์ และเธอยังมีความมุ่งมั่นเพื่อปรับปรุงพัฒนาฝีมือการถ่ายภาพงานแต่งและภาพบุคคลของเธอ โดยพิลลาร์ได้รับการศึกษาจาก Classical Portraiture กับช่างภาพระดับตำนานมอนเต ซัคเกอร์ (Monte Zucker) (พิลลาร์เป็นเพียงช่างภาพงานแต่งเพียงคนเดียวในฟิลิปปินส์ที่ได้รับการศึกษา Classical technique จากมอนเต ซัคเกอร์)</p>

            <p>ในฐานะช่างภาพแฟชั่นและโฆษณา พิลลาร์ได้ร่วมงานโฆษณากับแบรนด์ต่างๆ มากมายทั้งโซนี่, เพนช็อปป์, โดฟ, อยาลา พร็อพเพอร์ตี้, โรบินสัน พร็อพเพอร์ตี้, วาโก้, มีด จอห์นสัน, กลีเดิร์ม, เบเวอร์ลีฮิลล์ 6750, ทรูแบคส์, อาร์มส์คอร์, เทียรา ดิ เอสปานา, คัตตอนสตัฟฟ์, เอ็นบีเอ เบบี้ส์, บริษัทสต็อกเก็ด, และแบรนด์อื่นๆ อีกมาก นอกจากนี้เธอยังถ่ายภาพโฆษณาให้นักออกแบบหลายๆ คนเช่นจูน เอสคาริโอ (Jun Escario), โอลิเวอร์ โทเลนติโน (Oliver Tolentino), และ คริสเทล ยูโล (Kristel Yulo)</p>

            <p>ด้วยความเป็นช่างภาพของพิลลาร์ เธอรักที่จะถ่ายภาพในสตูดิโอเช่นเดียวกันกับสถานที่ต่างๆ โดยเฉพาะอย่างยิ่งกับสถานที่ที่มีช่วงเวลาและแสงไฟอันงดงาม พิลลาร์จึงกลายเป็นช่างภาพข่าวชั้นนำทั้งในนิตยสารภาพถ่ายและภาพดิจิตอลของฟิลิปปินส์ และเธอยังเป็นผู้กำกับศิลป์ของโลนลี่แพลเน็ต ฟิลิปปินส์, เว็ดดิ้ง เบลล์, และนิตยสารโอลีฟ</p>

            <p>พิลลาร์ยังเป็นวิทยากรฝึกอบรมเวิร์คช็อปสำหรับสตูดิโอมาแล้วหลายครั้ง ทั้งภาพถ่ายบุคคลและภาพถ่ายสำหรับงานแต่งงาน</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Pilar Trigo Bonnin เป็นหนึ่งในชาวฟิลิปปินส์ เป็นหนึ่งในชาวฟิลิปปินส์ที่ได้รับการยอมรับและเป็นที่ต้องการตัวมากที่สุดในการถ่ายภาพงานแต่ง, ภาพบุคคล, และภาพแฟชั่น เธอถ่ายภาพงานแต่งเป็นครั้งแรกเมื่อ 14 ปีที่ผ่านมาและได้รับรางวัลมาอย่างมากมายจนถึงปัจจุบัน โดยเธอได้รับรางวัลเกี่ยวกับช่างภาพเป็นครั้งแรกในปี 2003 จากสามารถคมช่างภาพงานแต่งและบุคคลแห่งฟิลิปปินส์ และเธอยังมีความมุ่งมั่นเพื่อปรับปรุงพัฒนาฝีมือการถ่ายภาพงานแต่งและภาพบุคคลของเธอ โดยพิลลาร์ได้รับการศึกษาจาก Classical Portraiture กับช่างภาพระดับตำนานมอนเต ซัคเกอร์ (Monte Zucker) (พิลลาร์เป็นเพียงช่างภาพงานแต่งเพียงคนเดียวในฟิลิปปินส์ที่ได้รับการศึกษา Classical technique จากมอนเต ซัคเกอร์)</p>

            <p>ในฐานะช่างภาพแฟชั่นและโฆษณา พิลลาร์ได้ร่วมงานโฆษณากับแบรนด์ต่างๆ มากมายทั้งโซนี่, เพนช็อปป์, โดฟ, อยาลา พร็อพเพอร์ตี้, โรบินสัน พร็อพเพอร์ตี้, วาโก้, มีด จอห์นสัน, กลีเดิร์ม, เบเวอร์ลีฮิลล์ 6750, ทรูแบคส์, อาร์มส์คอร์, เทียรา ดิ เอสปานา, คัตตอนสตัฟฟ์, เอ็นบีเอ เบบี้ส์, บริษัทสต็อกเก็ด, และแบรนด์อื่นๆ อีกมาก นอกจากนี้เธอยังถ่ายภาพโฆษณาให้นักออกแบบหลายๆ คนเช่นจูน เอสคาริโอ (Jun Escario), โอลิเวอร์ โทเลนติโน (Oliver Tolentino), และ คริสเทล ยูโล (Kristel Yulo)</p>

            <p>ด้วยความเป็นช่างภาพของพิลลาร์ เธอรักที่จะถ่ายภาพในสตูดิโอเช่นเดียวกันกับสถานที่ต่างๆ โดยเฉพาะอย่างยิ่งกับสถานที่ที่มีช่วงเวลาและแสงไฟอันงดงาม พิลลาร์จึงกลายเป็นช่างภาพข่าวชั้นนำทั้งในนิตยสารภาพถ่ายและภาพดิจิตอลของฟิลิปปินส์ และเธอยังเป็นผู้กำกับศิลป์ของโลนลี่แพลเน็ต ฟิลิปปินส์, เว็ดดิ้ง เบลล์, และนิตยสารโอลีฟ</p>

            <p>พิลลาร์ยังเป็นวิทยากรฝึกอบรมเวิร์คช็อปสำหรับสตูดิโอมาแล้วหลายครั้ง ทั้งภาพถ่ายบุคคลและภาพถ่ายสำหรับงานแต่งงาน</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Pilar</span>
                </p>
                <img data-original="img/profile/ph/pilar/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Pilar">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pilar/quote-1-th.png" width="308" height="359" alt="Pilar's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/pilar/quote-2-th.png" width="312" height="401" alt="Pilar's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ตั้งแต่ฉันเป็นช่างภาพถ่ายรูปผู้คน รูปแบบการแสดงออกใดๆ ไม่ว่าจะเป็นความรัก, ความสวยงาม, ความตื่นเต้น, และการได้ออกไปพบเจอสถานที่ใหม่ๆ ได้เปิดประสบการณ์สู่สิ่งใหม่ที่ไม่ซ้ำซากจำเจ มันคือแรงกระตุ้นสำหรับฉัน แม้แต่บางสิ่งบางอย่างที่ดูเรียบง่ายก็ทำให้เกิดแรงบันดาลใจ เหมือนภาพถ่ายจากภาพยนตร์ที่ฉันดูอยู่ในทุกๆ วัน และทำให้ฉันต้องการจะถ่ายภาพและสร้างผลงานในแบบของฉันขึ้นมาเอง</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับการทำงาน ฉันจินตนาการไม่ออกเลยว่าฉันจะไปทำงานอะไรได้นอกจากสิ่งนี้ มันเป็นทั้งชีวิตและความหลงใหลของฉัน ฉันมีความสุขมากที่ฉันได้พบกับความรักของตนเองและไม่อาจจะใช้ชีวิตแยกจากมันได้ สำหรับชีวิตส่วนตัวของฉันก็คือการแสดงออกถึงความเป็นฉัน ไม่ว่าจะเป็นเรื่องเกี่ยวกับการเดินทางและความรักก็ด้วย ความชอบส่วนตัวของฉันถูกส่งต่อให้ลูกๆ ของฉัน มันเป็นของขวัญที่ดีที่พวกเขาจะได้เห็นทุกเรื่องราวในแต่ละวันถูกบันทึกไว้จากการถ่ายภาพที่เริ่มมาตั้งแต่แรกเกิด</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Pilar">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สิ่งที่ฉันคาดหวังไว้คืออุปกรณ์ที่สามารถพึ่งพาได้ในทุกๆ ความต้องการ ฉันต้องการเชื่อมโยงและควบคุมกล้องได้อย่างสมบูรณ์ในทุกเวลาที่ฉันจำเป็นต้องถ่ายภาพ กล้องและอุปกรณ์จะต้องกลายเป็นส่วนหนึ่งของฉันได้อย่างแท้จริง และฉันไม่ต้องการความกลัวที่จะพลาดโอกาสโอกาสดีๆ จากข้อจำกัดของกล้องที่ใช้อยู่</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ฉํนได้รับแรงบันดาลใจจากช่างภาพที่ดีหลายคน อาทิเช่นงานคลาสสิกอย่างจอร์จ เฮร์เรลล์ (George Hurrell) ในงานภาพบุคคล, เฮนรี่ คาร์เทียร์-เบรสสัน (Henri Cartier-Bresson) ในงานภาพถ่ายท้องถนนของเขา และช่างภาพอีกหลายคน และฉันยังได้อิทธิพลจากงานเขียนศิลปะยุคเรเนอซองค์และงานภาพคลาสสิกอีกมากมาย</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เรื่องน้ำหนักเป็นปัญหาใหญ่สำหรับฉันอย่างแน่นอน แต่ตอนนี้ปัญหาเหล่านั้นหมดไปแล้วเพราะฉันได้ย้ายมาใช้กล้องตระกูล a7 แทน ฉันรักที่จะใช้ a7 ในทุกๆ อย่างที่ฉันทำ ทั้งในงานแต่ง, งานสตูดิโอ, การท่อเที่ยว, และการถ่ายภาพบุคคล ซึ่งตอนนี้ฉันแทบจะไม่ใช้แฟลชแล้วเพราะมีระบบ ISO ที่ดีเยี่ยมในกล้องซึ่งช่วยให้ฉันไม่ดูน่ารำคาญในขณะถ่ายภาพในระหว่างงานแต่งงาน</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ฉันรักการที่กล้องตัวนี้ดูเล็กๆ เหมือนไม่มีอะไรแต่กลับให้ผลลัพธ์ที่น่าตื่นตา สำหรับการเดินทางท่องเที่ยวส่วนตัวฉันจำไมได้เลยว่าฉันเคยมีกระเป๋ากล้องที่เล็กได้ขนาดนี้ ฉันสามารถเที่ยวไปกับกล้องเพียงตัวเดียวกับเลนส์เพียงไม่กี่ชิ้นและได้ผลลัพธ์กลับมาเหมือนหรือว่าดีกว่ากล้อง DSLR ขนาดใหญ่ ฉันไม่รู้สึกเหมือนทาสที่ต้องแบกกล้องและอุปกรณ์หนักๆ ไปทั่วเพื่อถ่ายภาพให้ได้ผลอย่างเดียวกับที่ a7 สามารถถ่ายให้ฉันได้</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">แน่นอนเลยว่าฉันรักเรื่องของขนาด ความเก่งการในการใช้เลนส์จากกล้อง a99 ของฉันด้วยตัวแปลง และยังรองรับเลนส์แมนนวลเก่าๆ (ของผู้ผลิตอื่น) ได้อีกด้วย มันเป็นเหมือนการเปิดประตูสู่โลกใหม่ของการถ่ายภาพ และฉันก็รักคุณสมบัติ Peaking Colors ที่ช่วยคุณในการให้ได้มาซึ่งภาพอันคมกริบ และการป้องกันการสั่นไหวภาพแบบ 5 แกนที่ช่วยได้จริงเมื่อฉันต้องถ่ายภาพในที่ที่มีแสงน้อย โดยเฉพาะอย่างยิ่งในงานแต่งงาน และอีกคุณสมบัติหนึ่งที่ฉันเพลิดเพลินไปกับมันได้จริงคือช่องมองภาพ OLED ที่ฉันหายกังวลได้ทุกครั้งเมื่อถ่ายภาพ ซึ่งฉันจะมองเห็นได้ทันทีในช่องมอง และเปรียบเปลี่ยนการตั้งค่าและการรับแสงได้อย่างรวดเร็วทันทีที่ฉันต้องการ</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">จะไม่มีใครสงสัยเลยถ้านี่คือผู้นำทางด้านการถ่ายภาพดิจิตอล ซึ่งไม่มีกล้องตัวอื่นใดจะทำได้ใกล้เคียงกับสิ่งที่โซนี่ได้ทำไว้และจะยังพัฒนาต่อไป</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Pilar">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มีเลนส์ดีๆ ที่ฉันชอบอยู่หลายตัว แต่สำหรับการถ่ายภาพบุคคลกลางแจ้ง ฉันชอบใช้เลนส์ 135 1.8 Zeiss มากที่สุด ส่วนงานในสตูดิโอ ฉันใช้เลนส์ 85 1.4 ทั้ง 2 เลนส์ให้ความคมชัดและสีที่สมบูรณ์แบบตรงสู่กล้องอย่างสวยงาม</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ฉันใช้ a7II พร้อมกับเลนส์ 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8, และเลนส์ 100 มาโคร 2.8 </div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Pilar</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pilar/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Pilar"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ตั้งแต่ฉันเป็นช่างภาพถ่ายรูปผู้คน รูปแบบการแสดงออกใดๆ ไม่ว่าจะเป็นความรัก, ความสวยงาม, ความตื่นเต้น, และการได้ออกไปพบเจอสถานที่ใหม่ๆ ได้เปิดประสบการณ์สู่สิ่งใหม่ที่ไม่ซ้ำซากจำเจ มันคือแรงกระตุ้นสำหรับฉัน แม้แต่บางสิ่งบางอย่างที่ดูเรียบง่ายก็ทำให้เกิดแรงบันดาลใจ เหมือนภาพถ่ายจากภาพยนตร์ที่ฉันดูอยู่ในทุกๆ วัน และทำให้ฉันต้องการจะถ่ายภาพและสร้างผลงานในแบบของฉันขึ้นมาเอง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับการทำงาน ฉันจินตนาการไม่ออกเลยว่าฉันจะไปทำงานอะไรได้นอกจากสิ่งนี้ มันเป็นทั้งชีวิตและความหลงใหลของฉัน ฉันมีความสุขมากที่ฉันได้พบกับความรักของตนเองและไม่อาจจะใช้ชีวิตแยกจากมันได้ สำหรับชีวิตส่วนตัวของฉันก็คือการแสดงออกถึงความเป็นฉัน ไม่ว่าจะเป็นเรื่องเกี่ยวกับการเดินทางและความรักก็ด้วย ความชอบส่วนตัวของฉันถูกส่งต่อให้ลูกๆ ของฉัน มันเป็นของขวัญที่ดีที่พวกเขาจะได้เห็นทุกเรื่องราวในแต่ละวันถูกบันทึกไว้จากการถ่ายภาพที่เริ่มมาตั้งแต่แรกเกิด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สิ่งที่ฉันคาดหวังไว้คืออุปกรณ์ที่สามารถพึ่งพาได้ในทุกๆ ความต้องการ ฉันต้องการเชื่อมโยงและควบคุมกล้องได้อย่างสมบูรณ์ในทุกเวลาที่ฉันจำเป็นต้องถ่ายภาพ กล้องและอุปกรณ์จะต้องกลายเป็นส่วนหนึ่งของฉันได้อย่างแท้จริง และฉันไม่ต้องการความกลัวที่จะพลาดโอกาสโอกาสดีๆ จากข้อจำกัดของกล้องที่ใช้อยู่</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ฉํนได้รับแรงบันดาลใจจากช่างภาพที่ดีหลายคน อาทิเช่นงานคลาสสิกอย่างจอร์จ เฮร์เรลล์ (George Hurrell) ในงานภาพบุคคล, เฮนรี่ คาร์เทียร์-เบรสสัน (Henri Cartier-Bresson) ในงานภาพถ่ายท้องถนนของเขา และช่างภาพอีกหลายคน และฉันยังได้อิทธิพลจากงานเขียนศิลปะยุคเรเนอซองค์และงานภาพคลาสสิกอีกมากมาย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เรื่องน้ำหนักเป็นปัญหาใหญ่สำหรับฉันอย่างแน่นอน แต่ตอนนี้ปัญหาเหล่านั้นหมดไปแล้วเพราะฉันได้ย้ายมาใช้กล้องตระกูล a7 แทน ฉันรักที่จะใช้ a7 ในทุกๆ อย่างที่ฉันทำ ทั้งในงานแต่ง, งานสตูดิโอ, การท่อเที่ยว, และการถ่ายภาพบุคคล ซึ่งตอนนี้ฉันแทบจะไม่ใช้แฟลชแล้วเพราะมีระบบ ISO ที่ดีเยี่ยมในกล้องซึ่งช่วยให้ฉันไม่ดูน่ารำคาญในขณะถ่ายภาพในระหว่างงานแต่งงาน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ฉันรักการที่กล้องตัวนี้ดูเล็กๆ เหมือนไม่มีอะไรแต่กลับให้ผลลัพธ์ที่น่าตื่นตา สำหรับการเดินทางท่องเที่ยวส่วนตัวฉันจำไมได้เลยว่าฉันเคยมีกระเป๋ากล้องที่เล็กได้ขนาดนี้ ฉันสามารถเที่ยวไปกับกล้องเพียงตัวเดียวกับเลนส์เพียงไม่กี่ชิ้นและได้ผลลัพธ์กลับมาเหมือนหรือว่าดีกว่ากล้อง DSLR ขนาดใหญ่ ฉันไม่รู้สึกเหมือนทาสที่ต้องแบกกล้องและอุปกรณ์หนักๆ ไปทั่วเพื่อถ่ายภาพให้ได้ผลอย่างเดียวกับที่ a7 สามารถถ่ายให้ฉันได้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">แน่นอนเลยว่าฉันรักเรื่องของขนาด ความเก่งการในการใช้เลนส์จากกล้อง a99 ของฉันด้วยตัวแปลง และยังรองรับเลนส์แมนนวลเก่าๆ (ของผู้ผลิตอื่น) ได้อีกด้วย มันเป็นเหมือนการเปิดประตูสู่โลกใหม่ของการถ่ายภาพ และฉันก็รักคุณสมบัติ Peaking Colors ที่ช่วยคุณในการให้ได้มาซึ่งภาพอันคมกริบ และการป้องกันการสั่นไหวภาพแบบ 5 แกนที่ช่วยได้จริงเมื่อฉันต้องถ่ายภาพในที่ที่มีแสงน้อย โดยเฉพาะอย่างยิ่งในงานแต่งงาน และอีกคุณสมบัติหนึ่งที่ฉันเพลิดเพลินไปกับมันได้จริงคือช่องมองภาพ OLED ที่ฉันหายกังวลได้ทุกครั้งเมื่อถ่ายภาพ ซึ่งฉันจะมองเห็นได้ทันทีในช่องมอง และเปรียบเปลี่ยนการตั้งค่าและการรับแสงได้อย่างรวดเร็วทันทีที่ฉันต้องการ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">จะไม่มีใครสงสัยเลยถ้านี่คือผู้นำทางด้านการถ่ายภาพดิจิตอล ซึ่งไม่มีกล้องตัวอื่นใดจะทำได้ใกล้เคียงกับสิ่งที่โซนี่ได้ทำไว้และจะยังพัฒนาต่อไป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มีเลนส์ดีๆ ที่ฉันชอบอยู่หลายตัว แต่สำหรับการถ่ายภาพบุคคลกลางแจ้ง ฉันชอบใช้เลนส์ 135 1.8 Zeiss มากที่สุด ส่วนงานในสตูดิโอ ฉันใช้เลนส์ 85 1.4 ทั้ง 2 เลนส์ให้ความคมชัดและสีที่สมบูรณ์แบบตรงสู่กล้องอย่างสวยงาม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ฉันใช้ a7II พร้อมกับเลนส์ 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8, และเลนส์ 100 มาโคร 2.8</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
