<div class="thai" id="profile-darren">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพสถาปัตยกรรม</p>
                <p class="name">Darren Soh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">สิงคโปร์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>



    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">ช่างภาพสถาปัตยกรรม</p>
                    <p class="name">Darren Soh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">สิงคโปร์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ดาร์เรน โซห์ (Darren Soh) เกิดและเติบโตในสิงคโปร์ เขาได้รับปริญญาด้านสังคมวิทยาจากมหาวิทยาลัยแห่งชาติสิงคโปร์ในปี 2001 ขณะที่เขาทำงานเป็นช่างภาพให้กับหนังสือพิมพ์ชั้นนำของอังกฤษและสำนักข่าวเสตรท์ไทม์สในสิงคโปร์</p>

            <p>นับตั้งแต่ปี 2001 ดาร์เรนกลายเป็นช่างภาพอิสระเต็มตัว และมีความสนใจต่อการถ่ายภาพสถาปัตยกรรมและภูมิทัศน์มากเป็นพิเศษ</p>

            <p>ดาร์เรนได้ทำหนังสือภาพขึ้นเล่มแรกในชื่อ "While You Were Sleeping" ซึ่งเป็นคอเลคชั่นภาพที่ใช้บอกเล่าภูมิทัศน์ยามค่ำคืนของประเทศสิงคโปร์ และถูกตีพิมพ์ในปี 2004 หลังจากนั้นเขาก็ได้นำเสนอภาพจากหนังสือในงานนิทรรศการที่โรงละครเอสพลานาดที่อ่าวสิงคโปร์ด้วย</p>

            <p>ต่อมาในปี 2006 ดาร์เรนได้รับเชิญจากกระทรวงสารสนเทศ การสื่อสาร และศิลปะของสิงคโปร์ (MICA) ให้มีส่วนร่วมในการทำงานกับโครงการศิลปะแห่งการถ่ายภาพในสิงคโปร์ที่มีชื่อว่า "Canvas"</p>

            <p>ในปี 2007 ผลงานสะสมของดาร์เรนเกี่ยวกับงานสถาปัตยกรรมที่อยู่อาศัยก็ได้รับการแสดงสู่สายตาสาธารณะของสิงคโปร์ในแกลเลอรี่ของสถาปนิกเคย์ งี ตัน (Kay Ngee Tan) กับโครงการที่มีชื่อว่า Building Blocks ซึ่งยังคงจัดแสดงอยู่จนถึงทุกวันนี้</p>

            <p>จนถึงปี 2009 ดาร์เรนก็ได้เป็นส่วนหนึ่งของกลุ่มช่างภาพอาสาสมัคร โดยเขาได้มีส่วนร่วมงานกับเพลง Resonance: Songs of Our Forefathers และเป็นผู้ถ่ายภาพสถาปัตยกรรมของอนุสรณ์สถานแห่งชาติสิงคโปร์ประกอบหนึ่งสืออีกด้วย</p>

            <p>ปี 2010 เขาได้ร่วมกับช่างภาพคนอื่นๆ อีกหลายคนในการก่อตั้ง Platform.SG ซึ่งเป็นพื้นที่ของการแสดงความคิดสร้างสรรค์ในการถ่ายภาพสารคดีของสิงคโปร์โดยช่างภาพชาวสิงคโปร์</p>

            <p>ต่อมาดาร์เรนได้ทำงานในการเลือกตั้งทั่วไปของสิงคโปร์ประจำปี 2011 และเขาก็ได้แสดงผลงานอย่างสมเกียรติในงานเทศกาลภาพถ่าย Noorderlicht Photo Festival 2011 ซึ่งจัดขึ้นในประเทศเนเธอร์แลนด์</p>

            <p>ปีต่อมาดาร์เรนก็ถูกส่งรายชื่อเข้าชิงรางวัลและการประกวดระดับนานาชาติหลายรายการ อาทิเช่น Commonwealth Photographic Awards, Prix de la Photographie, และรางวัล Paris and the International Photography Awards</p>

            <p>ดาร์เรนยังคงคร่ำวอดอยู่ในวงการถ่ายภาพชั้นนำ ทั้งใน Photo District News Magazine (PDN) ของนิวยอร์ก ซึ่งเขาเป็น 1 ใน 30 ช่างภาพเกิดใหม่จากการจัดอันดับของ PDN ในปี 2009</p>

            <p>และเมื่อเร็วๆ นี้ดาร์เรนได้รับรางวัล Discernment Award 2013 จาก ICON de Martell Cordon Bleu Photography Award อีกด้วย</p>

            <p>ในปี 2013 ดาร์เรนได้ตีพิมพ์หนังสือเล่มที่ 2 ของเขาชื่อ "For My Son" เป็นคอเลคชั่นภาพท้องถิ่นในสิงคโปร์อันเป็นส่วนหนึ่งของแรงบันดาลใจในโครงการ Twentyfifteen.SG เพื่อรำลึกถึงการครบรอบ 50 ปีของสิงคโปร์ในปี 2015</p>

            <p>มีตัวอย่างบางส่วนในกลุ่มลูกค้าด้านสถาปัตยกรรมจากต่างประเทศของดาร์เรน อาทิเช่น Aedas, ARUP, Wilkinson Eyre, Monocle, และนิตยสาร Wallpaper*</p>

            <p>ชมผลงานของเขาได้จาก darrensoh.com และ
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:darren:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:darren:works:link', 'microsite|ilc:sea:thai|profile|darren|works|link');" target="_blank">darrensoh.com</a> and
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:darren:works:linkFB', 'ilc:sea:thai', 'ilc:sea:thai:profile:darren:works:linkFB', 'microsite|ilc:sea:thai|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ดาร์เรน โซห์ (Darren Soh) เกิดและเติบโตในสิงคโปร์ เขาได้รับปริญญาด้านสังคมวิทยาจากมหาวิทยาลัยแห่งชาติสิงคโปร์ในปี 2001 ขณะที่เขาทำงานเป็นช่างภาพให้กับหนังสือพิมพ์ชั้นนำของอังกฤษและสำนักข่าวเสตรท์ไทม์สในสิงคโปร์</p>

            <p>นับตั้งแต่ปี 2001 ดาร์เรนกลายเป็นช่างภาพอิสระเต็มตัว และมีความสนใจต่อการถ่ายภาพสถาปัตยกรรมและภูมิทัศน์มากเป็นพิเศษ</p>

            <p>ดาร์เรนได้ทำหนังสือภาพขึ้นเล่มแรกในชื่อ "While You Were Sleeping" ซึ่งเป็นคอเลคชั่นภาพที่ใช้บอกเล่าภูมิทัศน์ยามค่ำคืนของประเทศสิงคโปร์ และถูกตีพิมพ์ในปี 2004 หลังจากนั้นเขาก็ได้นำเสนอภาพจากหนังสือในงานนิทรรศการที่โรงละครเอสพลานาดที่อ่าวสิงคโปร์ด้วย</p>

            <p>ต่อมาในปี 2006 ดาร์เรนได้รับเชิญจากกระทรวงสารสนเทศ การสื่อสาร และศิลปะของสิงคโปร์ (MICA) ให้มีส่วนร่วมในการทำงานกับโครงการศิลปะแห่งการถ่ายภาพในสิงคโปร์ที่มีชื่อว่า "Canvas"</p>

            <p>ในปี 2007 ผลงานสะสมของดาร์เรนเกี่ยวกับงานสถาปัตยกรรมที่อยู่อาศัยก็ได้รับการแสดงสู่สายตาสาธารณะของสิงคโปร์ในแกลเลอรี่ของสถาปนิกเคย์ งี ตัน (Kay Ngee Tan) กับโครงการที่มีชื่อว่า Building Blocks ซึ่งยังคงจัดแสดงอยู่จนถึงทุกวันนี้</p>

            <p>จนถึงปี 2009 ดาร์เรนก็ได้เป็นส่วนหนึ่งของกลุ่มช่างภาพอาสาสมัคร โดยเขาได้มีส่วนร่วมงานกับเพลง Resonance: Songs of Our Forefathers และเป็นผู้ถ่ายภาพสถาปัตยกรรมของอนุสรณ์สถานแห่งชาติสิงคโปร์ประกอบหนึ่งสืออีกด้วย</p>

            <p>ปี 2010 เขาได้ร่วมกับช่างภาพคนอื่นๆ อีกหลายคนในการก่อตั้ง Platform.SG ซึ่งเป็นพื้นที่ของการแสดงความคิดสร้างสรรค์ในการถ่ายภาพสารคดีของสิงคโปร์โดยช่างภาพชาวสิงคโปร์</p>

            <p>ต่อมาดาร์เรนได้ทำงานในการเลือกตั้งทั่วไปของสิงคโปร์ประจำปี 2011 และเขาก็ได้แสดงผลงานอย่างสมเกียรติในงานเทศกาลภาพถ่าย Noorderlicht Photo Festival 2011 ซึ่งจัดขึ้นในประเทศเนเธอร์แลนด์</p>

            <p>ปีต่อมาดาร์เรนก็ถูกส่งรายชื่อเข้าชิงรางวัลและการประกวดระดับนานาชาติหลายรายการ อาทิเช่น Commonwealth Photographic Awards, Prix de la Photographie, และรางวัล Paris and the International Photography Awards</p>

            <p>ดาร์เรนยังคงคร่ำวอดอยู่ในวงการถ่ายภาพชั้นนำ ทั้งใน Photo District News Magazine (PDN) ของนิวยอร์ก ซึ่งเขาเป็น 1 ใน 30 ช่างภาพเกิดใหม่จากการจัดอันดับของ PDN ในปี 2009</p>

            <p>และเมื่อเร็วๆ นี้ดาร์เรนได้รับรางวัล Discernment Award 2013 จาก ICON de Martell Cordon Bleu Photography Award อีกด้วย</p>

            <p>ในปี 2013 ดาร์เรนได้ตีพิมพ์หนังสือเล่มที่ 2 ของเขาชื่อ "For My Son" เป็นคอเลคชั่นภาพท้องถิ่นในสิงคโปร์อันเป็นส่วนหนึ่งของแรงบันดาลใจในโครงการ Twentyfifteen.SG เพื่อรำลึกถึงการครบรอบ 50 ปีของสิงคโปร์ในปี 2015</p>

            <p>มีตัวอย่างบางส่วนในกลุ่มลูกค้าด้านสถาปัตยกรรมจากต่างประเทศของดาร์เรน อาทิเช่น Aedas, ARUP, Wilkinson Eyre, Monocle, และนิตยสาร Wallpaper*</p>

            <p>ชมผลงานของเขาได้จาก darrensoh.com และ
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:darren:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:darren:works:link', 'microsite|ilc:sea:thai|profile|darren|works|link');" target="_blank">darrensoh.com</a> and
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:darren:works:linkFB', 'ilc:sea:thai', 'ilc:sea:thai:profile:darren:works:linkFB', 'microsite|ilc:sea:thai|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Darren</span>
                </p>
                <img data-original="img/profile/sg/darren/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Darren">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/darren/quote-1-th.png" width="306" height="258" alt="Darren's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2-th.png" width="307" height="299" alt="Darren's quote">

                <!-- <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2.png" width="304" height="215" alt="Darren's quote"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ปกติแล้วผมคือช่างภาพสถาปัตยกรรมและภูมิทัศน์เป็นหลัก เพราะสภาพแวดล้อมที่คนเราสร้างขึ้นบนพื้นที่ต่างๆ นั้นทำให้ผมรู้สึกประทับใจ จากการพัฒนาของเมืองที่เกิดขึ้นเร็วเสียจนไม่มีประเทศอื่นใดในโลกจะเติบโตเร็วได้เที่ยบเท่า และการเปลี่ยนแปลงสภาพแวดล้อมที่เกิดขึ้นในสิงคโปร์ทำให้ผมเกิดศรัทธาอย่างแรงกล้าต่อการเก็บบันทึกดสภาพแวดล้อมที่เป็นอยู่ในเวลานั้น เพื่อให้แน่ใจว่าลูกหลานชาวสิงคโปร์ในอนาคตจะได้เห็นการเจริญเติบโตจากภาพเหล่านั้นนับตั้งแต่ปี 1990 และตราบจนกว่าที่ผมจะมีแรงถ่ายรูปต่อไป</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมทำงานเป็นช่างภาพ แต่การถ่ายภาพนั้นไม่มีเงินเดือน (555) แต่สิ่งที่จริงจังกว่าคือการถ่ายภาพเป็นส่วนหนึ่งของชีวิตผมมาตั้งแต่อายุ 14 มันจึงอยู่กับผมมาอย่างยาวนานกว่าครึ่งชีวิต และมีความก้าวหน้าขึ้นเรื่อยๆ จากงานอดิเรกที่จริงจังสู่การใช้ภาพเป็นภาษาสื่อสารความคิดเห็นของผมไปยังผู้คนทั่วโลก </div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Darren">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมใช้อุปกรณ์ถ่ายภาพของคุณเกือบ 7 วันต่อสัปดาห์ในทุกสัปดาห์ของเดือน และทุกๆ เดือนตลอดปี ดังนั้นมีคำเดียวสำหรับผมคือ "ความน่าเชื่อถือ" แน่นอนว่าอุปกรณ์ถ่ายภาพต้องเข้าใจถึงวิสัยทัศน์ของการเป็นช่างภาพในตัวผม เพื่อให้ภาพที่ผมต้องการแทนสิ่งที่ผมอยากจะพูดออกมา</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มีช่างภาพที่ผมชื่นชอบอยู่หลายคนอย่างเช่นปีเตอร์ เบียลอบร์เซสกี (Peter Bialobrzeski) ซึ่งเป็นแรงบันดาลใจแรกของผมในการถ่ายทิวทัศน์เมืองและภูมิทัศน์ และทำให้ผมมีความพิถีพิถันในการเก็บบันทึกการเปลี่ยนแปลงของภูมิทัศน์ในสิงคโปร์ หรือปีเตอร์ มาร์โลว์ (Peter Marlow) จากแม็กนัมโฟโต้ ซึ่งมีความสามารถในการทำให้สถานที่ซ้ำๆ ที่เคยเห็นกันอยู่แล้วดูน่าสนใจมากขึ้น และเหล่าช่างภาพจากโรงเรียนดัสเซลดอร์ฟ ที่ให้ความสนใจและคำติชมในทุกๆ รายละเอียดเมื่อเข้าสู่วงการการถ่ายภาพ</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมพบเจอกับอุปสรรคและความท้าทายมาอย่างมากมายตลอดชีวิตของการเป็นช่างภาพ หนึ่งในปัญหาใหญ่ที่สุดที่ต้องเจอคือความสมดุลระหว่างคุณภาพของภาพที่ถ่ายออกมาจากกล้องเมื่อเทียบกับขนาดและน้ำหนักของมัน ก่อนที่กล้องโซนี่ตระกูล a7 จะวางจำหน่าย กล้องฟลูเฟรมเปลี่ยนเลนส์ได้ที่เบาที่สุดนั้นคือกล้อง DSLR ขนาดใหญ่และหนักมาก แล้ว a7R ทำให้ผมต้องเปลี่ยนความรู้สึกแรกที่เคยมีต่อกล้องไปเลย มันมีทั้งคุณภาพที่ยอดเยี่ยม แต่ก็ยังพกพาได้ง่ายและมีน้ำหนักเบาอย่างเหลือเชื่อ</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ขนาดและน้ำหนักของกล้องเป็นส่วนสำคัญต่อการพิจารณา แต่คุณภาพที่น่าตื่นตาของภาพที่สร้างขึ้นจากเซ็นเซอร์ CMOS ขนาด 36 ล้านพิกเซลใน a7R นั้นน่าตื่นตายิ่งกว่า ทำให้มันกลายเป็นกล้องตัวแรกที่ผมเลือก และเป็นความจริงที่ว่ากล้องตระกูล a7 เป็นกล้อง Mirrorless ที่ช่วยให้ผมปรับกล้องเข้ากับเลนส์อื่นๆ จากผู้ผลิตใดๆ ก็ได้ ซึ่งทำให้มันกลายเป็นกล้องที่ก้าวไกลกว่าในฐานะกล้องฟลูเฟรมที่มีความหลากหลายที่สุดในโลก</div>
                </div>
                <!-- Q&A 6 -->


                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เหมือนกับที่พูดไว้ก่อนหน้านี้คือขนาดและน้ำหนักของกล้อง เช่นเดียวกับความสามารถในการใช้งานและรองรับเกือบทุกเลนส์จากผู้ผลิตอื่นๆ ทำให้เป็นกล้องแรกที่ผมจะเลือกใช้ และเซ็นเซอร์ Exmor CMOS ขนาด 36 ล้านพิกเซลที่ดีที่สุดเท่าที่ผมเคยสัมผัสมากับกล้องขนาด 35 ม.ม. เมื่อได้พินิจไปถึงรายละเอียด และช่วงความกว้างของแสงในภาพ พร้อมฟังก์ชั่นการปรับแต่งระดับสูงที่อัดแน่นในเรือนร่างเล็กจิ๋ว และมีอะไรยังมากกว่า...มากกว่านั้นอีกมากเลยทีเดียว</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ถ้าคุณบอกผมเมื่อ 10 ปีที่แล้วว่า ในวันหนึ่งช่างภาพมืออาชีพอย่างผมจะเลือกกล้องโซนี่เป็นรุ่นแรกจากกล้องที่มีอยู่ในตลาดมากมายล่ะก็ ผมอาจจะหัวเราะใส่คุณก็เป็นได้ แต่ตอนนี้น่ะหรือ? ผมดีใจที่จะบอกว่าโซนี่คือหนึ่งในผู้นำทางด้านนี้อย่างแน่นอน แล้วถ้าไม่ก็คงจะไม่มีใครเป็นผู้นำด้านการถ่ายภาพดิจิตอลได้ดีเท่านี้อีกแล้ว</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Darren">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">น่าเสียดายสำหรับเลนส์ที่ผมชอบนั้นไม่ได้เป็นเลนส์ที่ผลิตโดยโซนี่ แต่มันเป็นเลนส์ชิ้นที่พิเศษไม่เหมือนใครเลยจริงๆ ซึ่งมันคือเลนส์ 17 ม.ม. แบบ Tilt Shift</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">
                        กล้องที่ใช้ดีมากๆ อย่าง a7R พร้อมเลนส์โซนี่ 70-200 f4 FE OSS G และยังมีเลนส์ Tilt Shift ดังนี้:
                        <br/> 17 ม.ม. TSE
                        <br/> 24 ม.ม. TSE
                        <br/> 45 ม.ม. TSE
                        <br/> 35 ม.ม.
                        <br/> 85 ม.ม.
                    </div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Darren</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/darren/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Darren"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ปกติแล้วผมคือช่างภาพสถาปัตยกรรมและภูมิทัศน์เป็นหลัก เพราะสภาพแวดล้อมที่คนเราสร้างขึ้นบนพื้นที่ต่างๆ นั้นทำให้ผมรู้สึกประทับใจ จากการพัฒนาของเมืองที่เกิดขึ้นเร็วเสียจนไม่มีประเทศอื่นใดในโลกจะเติบโตเร็วได้เที่ยบเท่า และการเปลี่ยนแปลงสภาพแวดล้อมที่เกิดขึ้นในสิงคโปร์ทำให้ผมเกิดศรัทธาอย่างแรงกล้าต่อการเก็บบันทึกดสภาพแวดล้อมที่เป็นอยู่ในเวลานั้น เพื่อให้แน่ใจว่าลูกหลานชาวสิงคโปร์ในอนาคตจะได้เห็นการเจริญเติบโตจากภาพเหล่านั้นนับตั้งแต่ปี 1990 และตราบจนกว่าที่ผมจะมีแรงถ่ายรูปต่อไป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมทำงานเป็นช่างภาพ แต่การถ่ายภาพนั้นไม่มีเงินเดือน (555) แต่สิ่งที่จริงจังกว่าคือการถ่ายภาพเป็นส่วนหนึ่งของชีวิตผมมาตั้งแต่อายุ 14 มันจึงอยู่กับผมมาอย่างยาวนานกว่าครึ่งชีวิต และมีความก้าวหน้าขึ้นเรื่อยๆ จากงานอดิเรกที่จริงจังสู่การใช้ภาพเป็นภาษาสื่อสารความคิดเห็นของผมไปยังผู้คนทั่วโลก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมใช้อุปกรณ์ถ่ายภาพของคุณเกือบ 7 วันต่อสัปดาห์ในทุกสัปดาห์ของเดือน และทุกๆ เดือนตลอดปี ดังนั้นมีคำเดียวสำหรับผมคือ "ความน่าเชื่อถือ" แน่นอนว่าอุปกรณ์ถ่ายภาพต้องเข้าใจถึงวิสัยทัศน์ของการเป็นช่างภาพในตัวผม เพื่อให้ภาพที่ผมต้องการแทนสิ่งที่ผมอยากจะพูดออกมา</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มีช่างภาพที่ผมชื่นชอบอยู่หลายคนอย่างเช่นปีเตอร์ เบียลอบร์เซสกี (Peter Bialobrzeski) ซึ่งเป็นแรงบันดาลใจแรกของผมในการถ่ายทิวทัศน์เมืองและภูมิทัศน์ และทำให้ผมมีความพิถีพิถันในการเก็บบันทึกการเปลี่ยนแปลงของภูมิทัศน์ในสิงคโปร์ หรือปีเตอร์ มาร์โลว์ (Peter Marlow) จากแม็กนัมโฟโต้ ซึ่งมีความสามารถในการทำให้สถานที่ซ้ำๆ ที่เคยเห็นกันอยู่แล้วดูน่าสนใจมากขึ้น และเหล่าช่างภาพจากโรงเรียนดัสเซลดอร์ฟ ที่ให้ความสนใจและคำติชมในทุกๆ รายละเอียดเมื่อเข้าสู่วงการการถ่ายภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมพบเจอกับอุปสรรคและความท้าทายมาอย่างมากมายตลอดชีวิตของการเป็นช่างภาพ หนึ่งในปัญหาใหญ่ที่สุดที่ต้องเจอคือความสมดุลระหว่างคุณภาพของภาพที่ถ่ายออกมาจากกล้องเมื่อเทียบกับขนาดและน้ำหนักของมัน ก่อนที่กล้องโซนี่ตระกูล a7 จะวางจำหน่าย กล้องฟลูเฟรมเปลี่ยนเลนส์ได้ที่เบาที่สุดนั้นคือกล้อง DSLR ขนาดใหญ่และหนักมาก แล้ว a7R ทำให้ผมต้องเปลี่ยนความรู้สึกแรกที่เคยมีต่อกล้องไปเลย มันมีทั้งคุณภาพที่ยอดเยี่ยม แต่ก็ยังพกพาได้ง่ายและมีน้ำหนักเบาอย่างเหลือเชื่อ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ขนาดและน้ำหนักของกล้องเป็นส่วนสำคัญต่อการพิจารณา แต่คุณภาพที่น่าตื่นตาของภาพที่สร้างขึ้นจากเซ็นเซอร์ CMOS ขนาด 36 ล้านพิกเซลใน a7R นั้นน่าตื่นตายิ่งกว่า ทำให้มันกลายเป็นกล้องตัวแรกที่ผมเลือก และเป็นความจริงที่ว่ากล้องตระกูล a7 เป็นกล้อง Mirrorless ที่ช่วยให้ผมปรับกล้องเข้ากับเลนส์อื่นๆ จากผู้ผลิตใดๆ ก็ได้ ซึ่งทำให้มันกลายเป็นกล้องที่ก้าวไกลกว่าในฐานะกล้องฟลูเฟรมที่มีความหลากหลายที่สุดในโลก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เหมือนกับที่พูดไว้ก่อนหน้านี้คือขนาดและน้ำหนักของกล้อง เช่นเดียวกับความสามารถในการใช้งานและรองรับเกือบทุกเลนส์จากผู้ผลิตอื่นๆ ทำให้เป็นกล้องแรกที่ผมจะเลือกใช้ และเซ็นเซอร์ Exmor CMOS ขนาด 36 ล้านพิกเซลที่ดีที่สุดเท่าที่ผมเคยสัมผัสมากับกล้องขนาด 35 ม.ม. เมื่อได้พินิจไปถึงรายละเอียด และช่วงความกว้างของแสงในภาพ พร้อมฟังก์ชั่นการปรับแต่งระดับสูงที่อัดแน่นในเรือนร่างเล็กจิ๋ว และมีอะไรยังมากกว่า...มากกว่านั้นอีกมากเลยทีเดียว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ถ้าคุณบอกผมเมื่อ 10 ปีที่แล้วว่า ในวันหนึ่งช่างภาพมืออาชีพอย่างผมจะเลือกกล้องโซนี่เป็นรุ่นแรกจากกล้องที่มีอยู่ในตลาดมากมายล่ะก็ ผมอาจจะหัวเราะใส่คุณก็เป็นได้ แต่ตอนนี้น่ะหรือ? ผมดีใจที่จะบอกว่าโซนี่คือหนึ่งในผู้นำทางด้านนี้อย่างแน่นอน แล้วถ้าไม่ก็คงจะไม่มีใครเป็นผู้นำด้านการถ่ายภาพดิจิตอลได้ดีเท่านี้อีกแล้ว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">น่าเสียดายสำหรับเลนส์ที่ผมชอบนั้นไม่ได้เป็นเลนส์ที่ผลิตโดยโซนี่ แต่มันเป็นเลนส์ชิ้นที่พิเศษไม่เหมือนใครเลยจริงๆ ซึ่งมันคือเลนส์ 17 ม.ม. แบบ Tilt Shift</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">
                                กล้องที่ใช้ดีมากๆ อย่าง a7R พร้อมเลนส์โซนี่ 70-200 f4 FE OSS G และยังมีเลนส์ Tilt Shift ดังนี้:
                                <br/> 17 ม.ม. TSE
                                <br/> 24 ม.ม. TSE
                                <br/> 45 ม.ม. TSE
                                <br/> 35 ม.ม.
                                <br/> 85 ม.ม.
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
