<div class="thai" id="profile-nick">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:370px;">
            <div>
                <p class="type">ช่างภาพท่องเที่ยว + สารคดี</p>
                <p class="name">Nick Ng</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">มาเลเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">ช่างภาพท่องเที่ยว + สารคดี</p>
                    <p class="name">Nick Ng</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">มาเลเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>นิคค์ เอง (Nick Ng) เริ่มต้นถ่ายภาพมาตั้งแต่ปี 2008 เขาเป็นช่างภาพท่องเที่ยวและการท่องเที่ยวตัวยงซึ่งมีความสนใจเป็นพิเศษเกี่ยวกับการถ่ายภาพบุคคล, สิงแวดล้อมรอบตัว, และวัฒนธรรมของพวกเขาเหล่านั้น ความสนใจในการถ่ายรูปของเขาได้รับการปลูกฝังมาตั้งแต่ตอนยังเป็นวัยรุ่น แต่เนื่องด้วยข้อจำกัดทางการเงินทำให้เขาเพิ่งมีกล้องตัวแรกเป็นของตนเองในปี 2008 และทำให้เขาได้รับรางวัลมาตั้งแต่นั้น และได้เข้ามาเป็นผู้ใช้กล้องโซนี่อัลฟ่ามาตั้งแต่ปี 2014</p>

            <p>"การถ่ายภาพทำให้ผมเติมเต็มความทรงจำในวัยเด็ก ผมจำได้ว่าคุณปู่ทำงานเป็นช่างทองในบริเวณที่มีแสงน้อย มันเป็นแรงบันดาลใจที่ทำให้ผมเริ่มต้นเดินทางค้นหาอัญมณีสวยงามที่หลอบซ่อนอยู่ในระหว่างการเดินทาง ความอิ่มเอิบใจของผมอยู่กับผู้คนที่ผมได้พบและสภาพแวดล้อมในวิถีชีวิตของพวกเขา เป็นเหมือนแม่พิมพ์ทางวัฒนธรรมและประเพณีท้องถิ่นไม่ว่าจะอยู่ในเมืองที่ทันสมัย หรือหมู่บ้านอันห่างไกล"</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>นิคค์ เอง (Nick Ng) เริ่มต้นถ่ายภาพมาตั้งแต่ปี 2008 เขาเป็นช่างภาพท่องเที่ยวและการท่องเที่ยวตัวยงซึ่งมีความสนใจเป็นพิเศษเกี่ยวกับการถ่ายภาพบุคคล, สิงแวดล้อมรอบตัว, และวัฒนธรรมของพวกเขาเหล่านั้น ความสนใจในการถ่ายรูปของเขาได้รับการปลูกฝังมาตั้งแต่ตอนยังเป็นวัยรุ่น แต่เนื่องด้วยข้อจำกัดทางการเงินทำให้เขาเพิ่งมีกล้องตัวแรกเป็นของตนเองในปี 2008 และทำให้เขาได้รับรางวัลมาตั้งแต่นั้น และได้เข้ามาเป็นผู้ใช้กล้องโซนี่อัลฟ่ามาตั้งแต่ปี 2014</p>

            <p>"การถ่ายภาพทำให้ผมเติมเต็มความทรงจำในวัยเด็ก ผมจำได้ว่าคุณปู่ทำงานเป็นช่างทองในบริเวณที่มีแสงน้อย มันเป็นแรงบันดาลใจที่ทำให้ผมเริ่มต้นเดินทางค้นหาอัญมณีสวยงามที่หลอบซ่อนอยู่ในระหว่างการเดินทาง ความอิ่มเอิบใจของผมอยู่กับผู้คนที่ผมได้พบและสภาพแวดล้อมในวิถีชีวิตของพวกเขา เป็นเหมือนแม่พิมพ์ทางวัฒนธรรมและประเพณีท้องถิ่นไม่ว่าจะอยู่ในเมืองที่ทันสมัย หรือหมู่บ้านอันห่างไกล"</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Nick</span>
                </p>
                <img data-original="img/profile/my/nick/profile_pic-1.jpg" class="lazy" width="316" height="384" alt="พูดคุย กับ Nick">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/nick/quote-1-th.png" width="310" height="391" alt="Nick's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/my/nick/quote-2-th.png" width="288" height="366" alt="Nick's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">โลกที่เราอาศัยอยู่นั้นมีสิ่งที่มีชีวิตชีวาอยู่มากมายร่วมกับวัฒนธรรมที่แตกต่างและประเพณีที่เราอาจได้เห็นอย่างรวดเร็วและมองข้ามไปในการดำเนินชีวิตในแต่ละวัน แต่ผมอาจได้สิทธิพิเศษที่มากกว่าในการเข้าถึงวิถีชีวิตที่ผมพบเจอ ซึ่งก็เป็นผู้คนเหมือนๆ กันกับคุณและผม แต่เมื่อเคารพในตัวเขา เขาก็จะเคารพกลับมาให้ด้วยเช่นกัน และผมก็ได้รับอนุญาตให้มองดูวิถีชีวิตของพวกเขาอย่างเงียบๆ และนั่นเป็นสิ่งที่กระตุ้นผมให้รักการถ่ายรูป</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในการทำงานของผม ขั้นตอนการแสดงก่อนเห็นนั้นสำคัญมากเช่นเดียวกับความสวยงามหลังจากเสร็จสิ้นแล้ว ในชีวิตของผมทุกอย่างรอบๆ ตัวจะมีความงามซ่อนอยู่ในนั้น และเราก็ต้องค้นหามันซึ่งในบางครั้งมันก็อาจอยู่เพียงหน้าประตูบ้านของคุณเอง ทั้งหมดนี้จะเกี่ยวข้องกับการถ่ายภาพของผมในการแสดงหาช่วงเวลาที่แม่นยำเพื่อหยุดวินาทีเหล่านั้นไว้ด้วยภาพนิ่ง ซึ่งการถ่ายภาพจะต้องครอบคลุมทั้งช่วงเวลาและความงดงามของชีวิตไว้ด้วย</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/nick/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Nick">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปกรณ์การถ่ายภาพของผมจะต้องสามารถชี้วัดได้ในทุกด้าน โดยด้านที่สำคัญที่สุดคือคุณภาพดิจิตอล แล้วมันจะต้องไม่สอดคล้องกับขนาด เช่นขนาดเล็ก ถือได้ด้วยมือ แต่มีความแข็งแกร็งมากพอที่ผมจะใช้งานมันได้อย่างเต็มที่ มันจะต้องมีความละเอียดอ่อน แต่สามารถทนต่อสภาพแวดล้อมที่หยาบกร้านของสถานที่ที่ผมจะต้องไป มันจะต้องไปในที่ยากลำบากกับผม แต่สามารถส่งมอบคุณภาพของภาพที่ดีที่สุดได้เช่นกัน</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมได้รับอิทธพลอย่างมากจากการทำงานร่วมกับสตีฟ แมคเคอร์รี่ (Steve McCurry) และเซบัสเตียน ซัลกาโด (Sebastiao Salgado) ทั้งสองคนนี้คือตำนานของวงการถ่ายภาพอย่างแท้จริง และได้ร่วมกันสร้างความหมายที่ลึกซึ้งพร้อมคุณค่าและความงามในผลงานของพวกเขา</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับอุปสรรคที่ใหญ่ที่สุดของผมคือผมเคยมีกล้องที่หนักและใหญ่มาก แล้วมันเตะสายตาผู้คนรอบๆ ในทุกที่ที่ผมเดินทางไป จริงๆ มันก็ไม่ได้หนักมากนักแต่ที่เห็นชัดคือมีกล้องตัวใหญ่ๆ แขวนคอผมอยู่ แต่การมาของตระกูล a7 เป็นเหมือนดั่งของขวัญจากสวรรค์ มันมาพร้อมกับระบบฟลูเฟรมในบอดี้ที่เล็กมากดั่งที่ผมต้องการ มันทำงานอย่างอัศจรรย์ในพื้นที่ที่มีสภาพแสงน้อยมากๆ แบบเดียวกับถนนหนทางที่ผมต้องเดินไป</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพของผมโดยทั้วไปนั้นเชื่อมโยงกันอย่างลึกซึ้งกับผู้คนที่ผมพบ ไม่ว่าจะเป็นในหมู่บ้านชนบทหรือใจกลางเมือง ไม่ว่าจะเป็นบนถนน หรือผู้คนที่อยู่ในสภาพแวดล้อมต่างๆ โดยกล้องตระกูล a7 ได้มอบเซ็นเซอร์แบบฟลูเฟรมในเรือนร่างที่เล็กจิ๋วให้แก่ผม พร้อมด้วยผลผลิตคุณภาพสูงเป็นอย่างมากดั่งที่ผมต้องการเมื่อต้องเดินทางไปถ่ายภาพทั้งในและต่างประเทศ บอดี้ขนาดเล็กทำให้การพกพาของผมมีพื้นที่ว่างมากขึ้นและเห็นได้ชัดว่าผมไม่ต้องถืออะไรใหญ่ๆ ตามติดตัวไปด้วย ทำให้ผมสามารถจับภาพช่วงเวลาอันเป็นธรรมชาติได้ทันต่อสถานการณ์</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">คุณภาพของภาพที่ดีมากๆ บนขนาดที่กะทัดรัดและบอดี้อันแข็งแกร่ง พร้อมเลนส์ที่สามารถเปลี่ยนได้อย่างง่ายดาย</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในปีที่ผ่านมาโซนี่ได้สร้างสรรค์กล้องดิจิตอลที่ดีเยี่ยมในราคาที่เหมาะสม และที่ดีที่สุดของกล้องทั้งหมดคือการผลิตกล้องฟลูเฟรมที่ยอดเยี่ยมจากตระกูล a7 ออกมา สำหรับผมแล้วถือว่าพวกมันถูกส่งมาจากสวรรค์!</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/nick/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Nick">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ปัจจุบันผมใช้เลนส์เฉพาะในการถ่ายรูป ส่วนใหญ่จะเป็น 28 ม.ม. F2.0 และ 55 ม.ม. F1.8 แต่บางครั้งผมก็จะใช้เลนส์ 16-35 ม.ม. F4.0 ด้วย ทั้งหมดนี้เป็นเลนส์ที่ผมชื่นชอบ แต่ถ้ามีการถ่ายรูปที่ต้องใช้ความท้าทายเป็นอย่างมาก ผมจะเลือกใช้เลนส์ 28 ม.ม. F2.0 พร้อมตัวแปลงเพียงอย่างเดียว</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">กล้อง a7S และ a7II พร้อมเลนส์ 55 ม.ม. F1.8, เลนส์ 28 ม.ม. F2.0 พร้อมคอนเวอร์เตอร์เป็นเลนส์มุมกว้าง, แบตเตอรี่อีก 8 ก้อน, ชุด SD Card, ตัวเป่าเลนส์, และผ้าเช็ดเลนส์</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Nick</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/nick/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Nick"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">โลกที่เราอาศัยอยู่นั้นมีสิ่งที่มีชีวิตชีวาอยู่มากมายร่วมกับวัฒนธรรมที่แตกต่างและประเพณีที่เราอาจได้เห็นอย่างรวดเร็วและมองข้ามไปในการดำเนินชีวิตในแต่ละวัน แต่ผมอาจได้สิทธิพิเศษที่มากกว่าในการเข้าถึงวิถีชีวิตที่ผมพบเจอ ซึ่งก็เป็นผู้คนเหมือนๆ กันกับคุณและผม แต่เมื่อเคารพในตัวเขา เขาก็จะเคารพกลับมาให้ด้วยเช่นกัน และผมก็ได้รับอนุญาตให้มองดูวิถีชีวิตของพวกเขาอย่างเงียบๆ และนั่นเป็นสิ่งที่กระตุ้นผมให้รักการถ่ายรูป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในการทำงานของผม ขั้นตอนการแสดงก่อนเห็นนั้นสำคัญมากเช่นเดียวกับความสวยงามหลังจากเสร็จสิ้นแล้ว ในชีวิตของผมทุกอย่างรอบๆ ตัวจะมีความงามซ่อนอยู่ในนั้น และเราก็ต้องค้นหามันซึ่งในบางครั้งมันก็อาจอยู่เพียงหน้าประตูบ้านของคุณเอง ทั้งหมดนี้จะเกี่ยวข้องกับการถ่ายภาพของผมในการแสดงหาช่วงเวลาที่แม่นยำเพื่อหยุดวินาทีเหล่านั้นไว้ด้วยภาพนิ่ง ซึ่งการถ่ายภาพจะต้องครอบคลุมทั้งช่วงเวลาและความงดงามของชีวิตไว้ด้วย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปกรณ์การถ่ายภาพของผมจะต้องสามารถชี้วัดได้ในทุกด้าน โดยด้านที่สำคัญที่สุดคือคุณภาพดิจิตอล แล้วมันจะต้องไม่สอดคล้องกับขนาด เช่นขนาดเล็ก ถือได้ด้วยมือ แต่มีความแข็งแกร็งมากพอที่ผมจะใช้งานมันได้อย่างเต็มที่ มันจะต้องมีความละเอียดอ่อน แต่สามารถทนต่อสภาพแวดล้อมที่หยาบกร้านของสถานที่ที่ผมจะต้องไป มันจะต้องไปในที่ยากลำบากกับผม แต่สามารถส่งมอบคุณภาพของภาพที่ดีที่สุดได้เช่นกัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมได้รับอิทธพลอย่างมากจากการทำงานร่วมกับสตีฟ แมคเคอร์รี่ (Steve McCurry) และเซบัสเตียน ซัลกาโด (Sebastiao Salgado) ทั้งสองคนนี้คือตำนานของวงการถ่ายภาพอย่างแท้จริง และได้ร่วมกันสร้างความหมายที่ลึกซึ้งพร้อมคุณค่าและความงามในผลงานของพวกเขา</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับอุปสรรคที่ใหญ่ที่สุดของผมคือผมเคยมีกล้องที่หนักและใหญ่มาก แล้วมันเตะสายตาผู้คนรอบๆ ในทุกที่ที่ผมเดินทางไป จริงๆ มันก็ไม่ได้หนักมากนักแต่ที่เห็นชัดคือมีกล้องตัวใหญ่ๆ แขวนคอผมอยู่ แต่การมาของตระกูล a7 เป็นเหมือนดั่งของขวัญจากสวรรค์ มันมาพร้อมกับระบบฟลูเฟรมในบอดี้ที่เล็กมากดั่งที่ผมต้องการ มันทำงานอย่างอัศจรรย์ในพื้นที่ที่มีสภาพแสงน้อยมากๆ แบบเดียวกับถนนหนทางที่ผมต้องเดินไป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพของผมโดยทั้วไปนั้นเชื่อมโยงกันอย่างลึกซึ้งกับผู้คนที่ผมพบ ไม่ว่าจะเป็นในหมู่บ้านชนบทหรือใจกลางเมือง ไม่ว่าจะเป็นบนถนน หรือผู้คนที่อยู่ในสภาพแวดล้อมต่างๆ โดยกล้องตระกูล a7 ได้มอบเซ็นเซอร์แบบฟลูเฟรมในเรือนร่างที่เล็กจิ๋วให้แก่ผม พร้อมด้วยผลผลิตคุณภาพสูงเป็นอย่างมากดั่งที่ผมต้องการเมื่อต้องเดินทางไปถ่ายภาพทั้งในและต่างประเทศ บอดี้ขนาดเล็กทำให้การพกพาของผมมีพื้นที่ว่างมากขึ้นและเห็นได้ชัดว่าผมไม่ต้องถืออะไรใหญ่ๆ ตามติดตัวไปด้วย ทำให้ผมสามารถจับภาพช่วงเวลาอันเป็นธรรมชาติได้ทันต่อสถานการณ์</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">คุณภาพของภาพที่ดีมากๆ บนขนาดที่กะทัดรัดและบอดี้อันแข็งแกร่ง พร้อมเลนส์ที่สามารถเปลี่ยนได้อย่างง่ายดาย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในปีที่ผ่านมาโซนี่ได้สร้างสรรค์กล้องดิจิตอลที่ดีเยี่ยมในราคาที่เหมาะสม และที่ดีที่สุดของกล้องทั้งหมดคือการผลิตกล้องฟลูเฟรมที่ยอดเยี่ยมจากตระกูล a7 ออกมา สำหรับผมแล้วถือว่าพวกมันถูกส่งมาจากสวรรค์!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ปัจจุบันผมใช้เลนส์เฉพาะในการถ่ายรูป ส่วนใหญ่จะเป็น 28 ม.ม. F2.0 และ 55 ม.ม. F1.8 แต่บางครั้งผมก็จะใช้เลนส์ 16-35 ม.ม. F4.0 ด้วย ทั้งหมดนี้เป็นเลนส์ที่ผมชื่นชอบ แต่ถ้ามีการถ่ายรูปที่ต้องใช้ความท้าทายเป็นอย่างมาก ผมจะเลือกใช้เลนส์ 28 ม.ม. F2.0 พร้อมตัวแปลงเพียงอย่างเดียว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">กล้อง a7S และ a7II พร้อมเลนส์ 55 ม.ม. F1.8, เลนส์ 28 ม.ม. F2.0 พร้อมคอนเวอร์เตอร์เป็นเลนส์มุมกว้าง, แบตเตอรี่อีก 8 ก้อน, ชุด SD Card, ตัวเป่าเลนส์, และผ้าเช็ดเลนส์</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
