<div class="thai" id="profile-tavepong">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">สตรีท</p>
                <p class="name">Tavepong Pratoomwong</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ไทย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-7">

                <div>
                    <p class="type">สตรีท</p>
                    <p class="name">Tavepong Pratoomwong</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ไทย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ทวีพงษ์  ประทุมวงษ์ เป็นช่างภาพแนวสตรีทโฟโต้ที่ได้รับรางวัลชนะเลิศจากการประกวดระดับนานาชาติมาแล้วหลายสถาบัน ภาพของเขาถูกจัดแสดงทั้งในเอเชีย, อเมริกาเหนือ, และยุโรป</p>

            <p>ทวีพงษ์เริ่มต้นถ่ายภาพตั้งแต่สมัยเรียนมหาวิทยาลัย หลังจบการศึกษาในระดับมหาวิทยาลัย เขาและเพื่อนได้ทำตามความฝันสมัยมัธยม นั่นก็คือถ่ายภาพสารคดีและมีผลงานตีพิมพ์ในนิตยสารแนชั่นแนลจีโอกราฟฟิคฉบับภาษาไทยสักครั้งหนึ่ง </p>

            <p>อย่างไรก็ตามเมื่อเวลาผ่านไป เขาได้ตั้งบริษัทของตัวเองและเริ่มทำธุรกิจ เนื่องจากต้องทุ่มเทให้กับบริษัทที่พึ่งเริ่มก่อตั้ง เขาจึงเริ่มถ่ายรูปน้อยลงและเริ่มหันเหไปสนใจในเรื่องของอุปกรณ์กล้องมากกว่าถ่ายภาพ จนเขาเกือบจะหยุดและหันหลังให้การถ่ายภาพอย่างสิ้นเชิงแล้ว จนกระทั้งปลายปี 2013 ภรรยาของเขาได้มอบของขวัญวันครบรอบแต่งงานชิ้นหนึ่ง มันคือตั๋วเครื่องบินไปยังเมืองพาราณสี อินเดีย ตั๋วเครื่องบินใบนั้นคือจุดเปลี่ยนสำคัญที่ทำให้ทวีพงษ์กลับมาถ่ายรูปอีกครั้ง</p>

            <p>หลังจากกลับประเทศไทย ทวีพงษ์ได้เข้าร่วมกิจกรรม ”365 days in 2014” ของกลุ่ม Street Photo Thailand ซึ่งนั่น เป็นจุดเริ่มต้นให้เขาใช้เวลาว่างในทุกๆวันของชีวิต ออกไปเก็บภาพในแนว Street Photo โดยไม่มีวันหยุดตั้งแต่นั้นเป็นต้นมา</p>

            <p>ผลจากการถ่ายภาพอย่างหนักหน่วงนี้เอง ทำให้ทวีพงษ์คว้ารางวัลชนะเลิศจากการถ่ายภาพสตรีทในระดับนานาชาติ อาทิเช่น</p>

            <p>
                รางวัลชนะเลิศจากการประกวด Miami Street Photography Festival 2014
                <br/> รางวัลชนะเลิศจากการประกวด EyeEm Awards 2014 ในหมวด Street Photography
                <br/> รางวัลชนะเลิศ จากการประกวด Street Shooting Around the World 2015 โดย The Los Angeles Center of Photography (LACP)
            </p>

            <p>อีกทั้งยังได้รับเลือกให้เป็น 1 ใน 20 ช่างภาพสตรีทที่ทรงอิทธิพลที่สุด ในปี 2015 จากเวบไซส์ Streethunter.net</p>

            <p>ขณะนี้ทวีพงษ์ก็ยังเป็นสมาชิคของกลุ่ม StreetPhotoThailand , FullFrontalFlash และ OBSERVE Collective อีกด้วย</p>

            <p>สามารถชมผลงานของเขาได้ที่ <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a>, <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ทวีพงษ์  ประทุมวงษ์ เป็นช่างภาพแนวสตรีทโฟโต้ที่ได้รับรางวัลชนะเลิศจากการประกวดระดับนานาชาติมาแล้วหลายสถาบัน ภาพของเขาถูกจัดแสดงทั้งในเอเชีย, อเมริกาเหนือ, และยุโรป</p>

            <p>ทวีพงษ์เริ่มต้นถ่ายภาพตั้งแต่สมัยเรียนมหาวิทยาลัย หลังจบการศึกษาในระดับมหาวิทยาลัย เขาและเพื่อนได้ทำตามความฝันสมัยมัธยม นั่นก็คือถ่ายภาพสารคดีและมีผลงานตีพิมพ์ในนิตยสารแนชั่นแนลจีโอกราฟฟิคฉบับภาษาไทยสักครั้งหนึ่ง </p>

            <p>อย่างไรก็ตามเมื่อเวลาผ่านไป เขาได้ตั้งบริษัทของตัวเองและเริ่มทำธุรกิจ เนื่องจากต้องทุ่มเทให้กับบริษัทที่พึ่งเริ่มก่อตั้ง เขาจึงเริ่มถ่ายรูปน้อยลงและเริ่มหันเหไปสนใจในเรื่องของอุปกรณ์กล้องมากกว่าถ่ายภาพ จนเขาเกือบจะหยุดและหันหลังให้การถ่ายภาพอย่างสิ้นเชิงแล้ว จนกระทั้งปลายปี 2013 ภรรยาของเขาได้มอบของขวัญวันครบรอบแต่งงานชิ้นหนึ่ง มันคือตั๋วเครื่องบินไปยังเมืองพาราณสี อินเดีย ตั๋วเครื่องบินใบนั้นคือจุดเปลี่ยนสำคัญที่ทำให้ทวีพงษ์กลับมาถ่ายรูปอีกครั้ง</p>

            <p>หลังจากกลับประเทศไทย ทวีพงษ์ได้เข้าร่วมกิจกรรม ”365 days in 2014” ของกลุ่ม Street Photo Thailand ซึ่งนั่น เป็นจุดเริ่มต้นให้เขาใช้เวลาว่างในทุกๆวันของชีวิต ออกไปเก็บภาพในแนว Street Photo โดยไม่มีวันหยุดตั้งแต่นั้นเป็นต้นมา</p>

            <p>ผลจากการถ่ายภาพอย่างหนักหน่วงนี้เอง ทำให้ทวีพงษ์คว้ารางวัลชนะเลิศจากการถ่ายภาพสตรีทในระดับนานาชาติ อาทิเช่น</p>

            <p>
                รางวัลชนะเลิศจากการประกวด Miami Street Photography Festival 2014
                <br/> รางวัลชนะเลิศจากการประกวด EyeEm Awards 2014 ในหมวด Street Photography
                <br/> รางวัลชนะเลิศ จากการประกวด Street Shooting Around the World 2015 โดย The Los Angeles Center of Photography (LACP)
            </p>

            <p>อีกทั้งยังได้รับเลือกให้เป็น 1 ใน 20 ช่างภาพสตรีทที่ทรงอิทธิพลที่สุด ในปี 2015 จากเวบไซส์ Streethunter.net</p>

            <p>ขณะนี้ทวีพงษ์ก็ยังเป็นสมาชิคของกลุ่ม StreetPhotoThailand , FullFrontalFlash และ OBSERVE Collective อีกด้วย</p>

            <p> <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a>, <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Tavepong</span>
                </p>
                <img data-original="img/profile/th/tavepong/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Tavepong">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/tavepong/quote-1-th.png" width="316" height="327" alt="Tavepong's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/tavepong/quote-2-th.png" width="303" height="400" alt="Tavepong's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อันที่จริงแล้วเมื่อหลายปีที่ผ่านมา แรงบันดาลใจในการถ่ายภาพของผมมันหายไปจากชีวิตจนใกล้หมด ผมเกือบที่จะหยุดถ่ายภาพโดยสิ้นเชิงอยู่แล้ว จนกระทั่งภรรยามอบของขวัญโดยการให้ไปถ่ายภาพที่อินเดีย และเมื่อกลับมาที่ไทยผมโชคดีมากๆที่ได้ร่วมกิจกรรม ”365 days in 2014” ของกลุ่ม สตรีทโฟโต้ไทยแลนด์ ซึ่งนั่นทำให้ผมได้ออกไปถ่ายภาพในทุกๆวันและเลือกภาพที่ชอบ เพื่อนำมาโพสที่เฟสบุคเพจ ช่วงเวลานั้นเองที่แรงบันดาลใจในการถ่ายภาพของผมกลับมา ผมค้นพบความสุขในการถ่ายภาพอีกครั้ง ที่สำคัญผมพบแนวทางการถ่ายภาพที่ผมชอบ นั้นคือ "สตรีทโฟโต้" ซึ่งผมคิดว่านั่นเป็นสิ่งที่สำคัญมากๆ แรงบันดาลใจจะไม่มีพลังเลยถ้าคุณยังไม่พบทางที่คุณจะมุ่งไป</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมรักที่จะถ่ายภาพในที่สาธารณะ ส่วนหนึ่งผมถือว่ามันคือการทำสมาธินะ มันต้องใช้สมาธิอย่างมากซึ่งนั่นทำให้ผมไม่ฟุ้งซ่าน อีกทั้งผมยังชอบที่จะเล่าเรื่องด้วยภาพ ในขณะเดียวกันงานหลักของผมก็ไม่เอื้อให้ออกไปถ่ายภาพเป็นทริปยาวๆบ่อยครั้งนัก ดังนั้น สตรีทโฟโต้ จึงเป็นคำตอบ ผมสามารถถ่ายภาพที่ไหนและเมื่อไรก็ได้รอบๆตัวด้วยมุมมองและทัศนะคติของผมเอง สำหรับชีวิตส่วนตัว ผมโชคดีที่มีภรรยาและเพื่อนสนิทเข้าใจในสิ่งที่ผมทำ พวกเค้าให้การสนับสนุนรวมถึงให้คำปรึกษาด้วยมุมมองของพวกเค้า ซึ่งผมคิดว่าสำคัญมากที่ช่างภาพควรถอยออกมาจากภาพตัวเองและรับฟังความคิดเห็นจากผู้อื่นที่ไม่ใช่เฉพาะในแวดวงช่างภาพเท่านั้น สำหรับผม "สตรีทโฟโต้" “ภรรยา" “เพื่อน" ไม่สามารถแยกออกจากกันได้</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Tavepong">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับผม กล้องที่ยอดเยี่ยมจะนำมาซึ่งความคิดสร้างสรรค์ที่ยิ่งใหญ่ ผมคิดว่ากล้องในซีรีย์อัลฟา7 มีฟังก์ชั่นที่มากมาย ที่ตอบสนองความคิดสร้างสรรค์ของผมอยู่แล้ว แต่ถ้าพูดถึงความคาดหวังในอนาคต ผมหวังว่าจะได้เห็นจอที่พลิกได้รอบด้าน 160° , การถ่ายโหมดต่อเนื่องที่เร็วขึ้น น้ำหนักกล้องที่เบาลง และเลนส์ 24-50F4 ตัวเล็กๆสักตัว</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Henri Cartier-Bresson เป็นแรงบันดาลใจในเส้นทางสำหรับเรื่องขององค์ประกอบภาพ, Elliott Erwitt ศิลปินช่างภาพสำหรับเรื่องอารมณ์ขัน, Alex Webb, David Alan Harvey ผู้เชี่ยวชาญในเรื่องเลเยอร์และคู่สี และ Richard Kalvar ศิลปินช่างภาพที่เป็นแรงบันดาลใจสำหรับเรื่องความพิศวงในภาพ</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมคิดว่าสำหรับ สตรีทโฟโต้ ขนาดกล้องที่เล็กทำให้ทุกๆอย่างง่ายขึ้น ผู้คนในที่สาธารณะมักจะตกใจกับกล้องและเลนส์ที่ใหญ่ ขนาดที่เล็กของกล้องในซีรีย์อัลฟา a7 ช่วยผมได้มากในขณะเดียวกันคุณภาพของไฟล์ไม่ได้เล็กตามขนาดกล้องเลย มันสมบูรณ์แบบมาก</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มันเริ่มต้นที่ทริป พาราณสีที่ผมเล่าไปข้างต้น อันที่จริงในเวลานั้นผมตั้งใจที่จะใช้ a7R เป็นเพียงกล้องสำรอง แต่หลังจากที่ได้ลองใช้มันเพียงครึ่งวัน มันก็กลายเป็นกล้องหลักของผมตั้งแต่นั้นเป็นต้นมา สิ่งที่ผมประทับใจอย่างมากในทริปนั้นก็คือ อิเล็กโทรนิควิวไฟเดอร์ ของ a7R โชว์ทุกอย่างให้ผมเห็นก่อนที่จะกดชัตเตอร์ ไม่ว่าจะเป็นระยะชัด ค่าแสง รวมถึงเฟรมมิ่งที่ถูกต้องแน่นอน100% ซึ่งผมไม่สามารถได้รับจากกล้องตัวก่อนหน้าที่เป็นเรนจ์ไฟเดอร์</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> - Silent shutter ใน a7S และ a7RII คือสุดยอดฟีเจอร์สำหรับผม มากกว่า 70% ผู้คนบนท้องถนนไม่รู้ตัวว่าโดนผมถ่ายภาพไปแล้ว และเมื่อใช้โหมด Silent shutter และ ปิด Auto Review คุณยังจะได้ชัตเตอร์แล็กที่น้อยลงจนไม่รู้สึกว่ามีชัตเตอร์แล็กด้วย
                        <br/>
                        <br/> - จอ LCDที่พลิกได้ ในท้องถนนโดยเฉพาะในกรุงเทพที่ฉากหลังเต็มไปด้วยความวุ่นวาย การยกกล้องขึ้นเพื่อถ่ายในมุมกด หรือ เสยกล้องจากมุมต่ำ ช่วยทำให้ภาพคลีนขึ้น และบางครั้ง คุณสามารถแคนดิตผู้คนในท้องถนนได้ง่ายขึ้น เพียงพลิกLCD แทนที่จะมองจากวิวไฟเดอร์
                        <br/>
                        <br/> - ISO โดยเฉพาะใน a7S ช่วยให้ผมถ่ายภาพได้ทุกสภาพแสงและที่สำคัญยังส่งผลต่อการควบคุม depth of field ให้ผมได้ภาพชัดลึกในสภาพแสงน้อยเพื่อสร้างความเชื่อมโยงของเรื่องราว ในขณะเดียวกันก็ยังได้ชัตเตอร์สปีทที่สูงพอที่จะหยุดการเคลื่อนไหวในจังหวะสำคัญ
                    </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมคิดว่าในตอนนี้ โซนี่ คืออันดับหนึ่งในการถ่ายภาพดิจิตอลนะ โดยเฉพาะเรื่องคุณภาพของตัวเซนเซอร์ นี่ไม่ใช่ความคิดเห็นของผมคนเดียวนะ คุณสามารถหาข้อมูลจาก Google ได้เลยโดยเฉพาะผลเทสในแล็ปของ a7RII</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Tavepong">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมชอบที่จะใช้เลนส์แมนนวล 28 , 35 , 50 สำหรับสตรีทโฟโต้ เพราะคุ้นเคยกับสเกลโฟกัส แต่ในกรณีของเลนส์อ้อโต้ ผมชอบเลนส์ Sony FE 24-70 F4 OSS เพราะว่ามันครอบคลุมช่วงที่ผมใช้งานอยู่ สำหรับรูปที่ชอบผมชอบจากเลนส์ตัวนี้ก็คือ "Freedom" เป็นภาพของนกที่ได้โบยบินอย่างอิสระในบรรยากาศพระอาทิตย์ตก ที่ท้องสนามหลวง</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">ผมจะมี a7RII, a7S หรือ RX100IV ตัวเลือกใดตัวหนึ่ง และจะมีเพียงกระเป๋าคาดเอวเล็กๆ เอาไว้ใส่ของจุกจิก Sony external Flash แฟลชกล้อง รุ่นHVL-F20M, แบตเตอรี่ และSD-Card อย่างละ 2อัน และลูกอมสมุนไพรไทย</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Tavepong</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/tavepong/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Tavepong"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อันที่จริงแล้วเมื่อหลายปีที่ผ่านมา แรงบันดาลใจในการถ่ายภาพของผมมันหายไปจากชีวิตจนใกล้หมด ผมเกือบที่จะหยุดถ่ายภาพโดยสิ้นเชิงอยู่แล้ว จนกระทั่งภรรยามอบของขวัญโดยการให้ไปถ่ายภาพที่อินเดีย และเมื่อกลับมาที่ไทยผมโชคดีมากๆที่ได้ร่วมกิจกรรม ”365 days in 2014” ของกลุ่ม สตรีทโฟโต้ไทยแลนด์ ซึ่งนั่นทำให้ผมได้ออกไปถ่ายภาพในทุกๆวันและเลือกภาพที่ชอบ เพื่อนำมาโพสที่เฟสบุคเพจ ช่วงเวลานั้นเองที่แรงบันดาลใจในการถ่ายภาพของผมกลับมา ผมค้นพบความสุขในการถ่ายภาพอีกครั้ง ที่สำคัญผมพบแนวทางการถ่ายภาพที่ผมชอบ นั้นคือ "สตรีทโฟโต้" ซึ่งผมคิดว่านั่นเป็นสิ่งที่สำคัญมากๆ แรงบันดาลใจจะไม่มีพลังเลยถ้าคุณยังไม่พบทางที่คุณจะมุ่งไป</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมรักที่จะถ่ายภาพในที่สาธารณะ ส่วนหนึ่งผมถือว่ามันคือการทำสมาธินะ มันต้องใช้สมาธิอย่างมากซึ่งนั่นทำให้ผมไม่ฟุ้งซ่าน อีกทั้งผมยังชอบที่จะเล่าเรื่องด้วยภาพ ในขณะเดียวกันงานหลักของผมก็ไม่เอื้อให้ออกไปถ่ายภาพเป็นทริปยาวๆบ่อยครั้งนัก ดังนั้น สตรีทโฟโต้ จึงเป็นคำตอบ ผมสามารถถ่ายภาพที่ไหนและเมื่อไรก็ได้รอบๆตัวด้วยมุมมองและทัศนะคติของผมเอง สำหรับชีวิตส่วนตัว ผมโชคดีที่มีภรรยาและเพื่อนสนิทเข้าใจในสิ่งที่ผมทำ พวกเค้าให้การสนับสนุนรวมถึงให้คำปรึกษาด้วยมุมมองของพวกเค้า ซึ่งผมคิดว่าสำคัญมากที่ช่างภาพควรถอยออกมาจากภาพตัวเองและรับฟังความคิดเห็นจากผู้อื่นที่ไม่ใช่เฉพาะในแวดวงช่างภาพเท่านั้น สำหรับผม "สตรีทโฟโต้" “ภรรยา" “เพื่อน" ไม่สามารถแยกออกจากกันได้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับผม กล้องที่ยอดเยี่ยมจะนำมาซึ่งความคิดสร้างสรรค์ที่ยิ่งใหญ่ ผมคิดว่ากล้องในซีรีย์อัลฟา7 มีฟังก์ชั่นที่มากมาย ที่ตอบสนองความคิดสร้างสรรค์ของผมอยู่แล้ว แต่ถ้าพูดถึงความคาดหวังในอนาคต ผมหวังว่าจะได้เห็นจอที่พลิกได้รอบด้าน 160° , การถ่ายโหมดต่อเนื่องที่เร็วขึ้น น้ำหนักกล้องที่เบาลง และเลนส์ 24-50F4 ตัวเล็กๆสักตัว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Henri Cartier-Bresson เป็นแรงบันดาลใจในเส้นทางสำหรับเรื่องขององค์ประกอบภาพ, Elliott Erwitt ศิลปินช่างภาพสำหรับเรื่องอารมณ์ขัน, Alex Webb, David Alan Harvey ผู้เชี่ยวชาญในเรื่องเลเยอร์และคู่สี และ Richard Kalvar ศิลปินช่างภาพที่เป็นแรงบันดาลใจสำหรับเรื่องความพิศวงในภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมคิดว่าสำหรับ สตรีทโฟโต้ ขนาดกล้องที่เล็กทำให้ทุกๆอย่างง่ายขึ้น ผู้คนในที่สาธารณะมักจะตกใจกับกล้องและเลนส์ที่ใหญ่ ขนาดที่เล็กของกล้องในซีรีย์อัลฟา a7 ช่วยผมได้มากในขณะเดียวกันคุณภาพของไฟล์ไม่ได้เล็กตามขนาดกล้องเลย มันสมบูรณ์แบบมาก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มันเริ่มต้นที่ทริป พาราณสีที่ผมเล่าไปข้างต้น อันที่จริงในเวลานั้นผมตั้งใจที่จะใช้ a7R เป็นเพียงกล้องสำรอง แต่หลังจากที่ได้ลองใช้มันเพียงครึ่งวัน มันก็กลายเป็นกล้องหลักของผมตั้งแต่นั้นเป็นต้นมา สิ่งที่ผมประทับใจอย่างมากในทริปนั้นก็คือ อิเล็กโทรนิควิวไฟเดอร์ ของ a7R โชว์ทุกอย่างให้ผมเห็นก่อนที่จะกดชัตเตอร์ ไม่ว่าจะเป็นระยะชัด ค่าแสง รวมถึงเฟรมมิ่งที่ถูกต้องแน่นอน100% ซึ่งผมไม่สามารถได้รับจากกล้องตัวก่อนหน้าที่เป็นเรนจ์ไฟเดอร์</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"> - Silent shutter ใน a7S และ a7RII คือสุดยอดฟีเจอร์สำหรับผม มากกว่า 70% ผู้คนบนท้องถนนไม่รู้ตัวว่าโดนผมถ่ายภาพไปแล้ว และเมื่อใช้โหมด Silent shutter และ ปิด Auto Review คุณยังจะได้ชัตเตอร์แล็กที่น้อยลงจนไม่รู้สึกว่ามีชัตเตอร์แล็กด้วย
                                <br/>
                                <br/> - จอ LCDที่พลิกได้ ในท้องถนนโดยเฉพาะในกรุงเทพที่ฉากหลังเต็มไปด้วยความวุ่นวาย การยกกล้องขึ้นเพื่อถ่ายในมุมกด หรือ เสยกล้องจากมุมต่ำ ช่วยทำให้ภาพคลีนขึ้น และบางครั้ง คุณสามารถแคนดิตผู้คนในท้องถนนได้ง่ายขึ้น เพียงพลิกLCD แทนที่จะมองจากวิวไฟเดอร์
                                <br/>
                                <br/> - ISO โดยเฉพาะใน a7S ช่วยให้ผมถ่ายภาพได้ทุกสภาพแสงและที่สำคัญยังส่งผลต่อการควบคุม depth of field ให้ผมได้ภาพชัดลึกในสภาพแสงน้อยเพื่อสร้างความเชื่อมโยงของเรื่องราว ในขณะเดียวกันก็ยังได้ชัตเตอร์สปีทที่สูงพอที่จะหยุดการเคลื่อนไหวในจังหวะสำคัญ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมคิดว่าในตอนนี้ โซนี่ คืออันดับหนึ่งในการถ่ายภาพดิจิตอลนะ โดยเฉพาะเรื่องคุณภาพของตัวเซนเซอร์ นี่ไม่ใช่ความคิดเห็นของผมคนเดียวนะ คุณสามารถหาข้อมูลจาก Google ได้เลยโดยเฉพาะผลเทสในแล็ปของ a7RII</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมชอบที่จะใช้เลนส์แมนนวล 28 , 35 , 50 สำหรับสตรีทโฟโต้ เพราะคุ้นเคยกับสเกลโฟกัส แต่ในกรณีของเลนส์อ้อโต้ ผมชอบเลนส์ Sony FE 24-70 F4 OSS เพราะว่ามันครอบคลุมช่วงที่ผมใช้งานอยู่ สำหรับรูปที่ชอบผมชอบจากเลนส์ตัวนี้ก็คือ "Freedom" เป็นภาพของนกที่ได้โบยบินอย่างอิสระในบรรยากาศพระอาทิตย์ตก ที่ท้องสนามหลวง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมจะมี a7RII, a7S หรือ RX100IV ตัวเลือกใดตัวหนึ่ง และจะมีเพียงกระเป๋าคาดเอวเล็กๆ เอาไว้ใส่ของจุกจิก Sony external Flash แฟลชกล้อง รุ่นHVL-F20M, แบตเตอรี่ และSD-Card อย่างละ 2อัน และลูกอมสมุนไพรไทย</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
