<div class="thai" id="other-profile-aloysius">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Aloysius Lim">
            <div>
                <p class="type">Wedding + Music</p>
                <p class="name">Aloysius Lim</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>ความรักของลอยเซียส(Aloysius€) ที่มีต่อการถ่ายภาพนั้นเริ่มต้นขึ้นเมื่อ 15 ปีก่อน เมื่อเขาได้ไปเที่ยวชมคอนเสิร์ตและถ่ายภาพด้วยกล้องคอมแพ็คของครอบครัว แล้วสองสามเดือนหลังจากนั้นเขาก็ตัดสินใจลงทุนซื้อกล้อง DSLR เพื่อถ่ายภาพได้สวยงามยิ่งขึ้น และตั้งปณิธานไว้ว่าวันหนึ่งเขาจะถ่ายภาพใครสักคนที่มีชื่อเสียงโด่งดังที่สุดบนเวทีให้ได้ จนกระทั่งในอีก 2 ปีต่อมา เขาก็ได้พบกับเรื่องน่าตื่นเต้นครั้งใหญ่ เมื่อมีโอกาสได้ถ่ายภาพวงดนตรีชาวสก็อตชื่อดัง "Franz Ferdinand" บนเวทีคอนเสิร์ต โดยการถ่ายภาพในครั้งนั้นทำให้อะดรีนาลีนของเขาพุ่งพล่านและยิ่งต้องการประสบการณ์นี้มากขึ้น โดยหลังจากนั้นไม่นานเขาก็เริ่มได้ถ่ายภาพนักดนตรีที่มีชื่อเสียงอย่างวง Coldplay, The Police, Rihanna, Jason Mraz และคนอื่นๆ อีกมาก ทำให้เขาได้เดินทางไปถ่ายภาพในคอนเสิร์ตและเทศกาลดนตรีต่างๆ มากมายทั้งในสิงคโปร์และทั่วทั้งภูมิภาค ส่วนความสนใจในการถ่ายภาพงานแต่งงานของเขานั้นเริ่มขึ้นในขณะกำลังค้นหาช่างภาพเพื่อมาถ่ายภาพงานแต่งงานของเขาเอง โดยเขาต้องการเรียนรู้การทำงานเพิ่มเติมจึงได้เข้าร่วมงานประชุมเชิงปฏิบัติการเกี่ยวกับการถ่ายภาพงานแต่งงาน และได้พบปะกับช่างภาพมากมายจาก <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:aloysius:works:link:wpn', 'ilc:sea:thai', 'ilc:sea:thai:profile:aloysius:works:link:wpn', 'microsite|ilc:sea:thai|profile|aloysius|works|link|wpn');" target="_blank">และหลังจากได้คิดใคร่ครวญมาเป็นอย่างดีแล้ว เขาตัดสินใจทิ้งงานประจำของเขาเพื่อเริ่มต้นการถ่ายภาพอย่างเต็มตัวในปี 2008 และไม่หันกลับไปเส้นทางเก่าเลยนับแต่นั้น ปัจจุบันลอยเซียส(Aloysius) เป็น 1 ใน 2 เจ้าของสตูดิโอ 39 East Photography ซึ่งมีความเชี่ยวชาญด้านการถ่ายภาพงานแต่ง และเป็นหนึ่งในสตูดิโอภาพแห่งแรกและเพียงไม่กี่แห่งของสิงคโปร์ที่ได้ใช้ระบบถ่ายภาพของโซนี่อย่างเต็มรูปแบบ</p>

                <p>คุณสามารถชมผลงานเกี่ยวกับงานแต่งงานของเขาได้ที่ 39 East Photography <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> และชมผลงานเกี่ยวกับงานดนตรีของเขาได้ที่ <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">ช่างภาพงานแต่ง + ภาพงานดนตรี</p>
                    <p class="name">Aloysius Lim</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ความรักของลอยเซียส(Aloysius€) ที่มีต่อการถ่ายภาพนั้นเริ่มต้นขึ้นเมื่อ 15 ปีก่อน เมื่อเขาได้ไปเที่ยวชมคอนเสิร์ตและถ่ายภาพด้วยกล้องคอมแพ็คของครอบครัว แล้วสองสามเดือนหลังจากนั้นเขาก็ตัดสินใจลงทุนซื้อกล้อง DSLR เพื่อถ่ายภาพได้สวยงามยิ่งขึ้น และตั้งปณิธานไว้ว่าวันหนึ่งเขาจะถ่ายภาพใครสักคนที่มีชื่อเสียงโด่งดังที่สุดบนเวทีให้ได้ จนกระทั่งในอีก 2 ปีต่อมา เขาก็ได้พบกับเรื่องน่าตื่นเต้นครั้งใหญ่ เมื่อมีโอกาสได้ถ่ายภาพวงดนตรีชาวสก็อตชื่อดัง "Franz Ferdinand" บนเวทีคอนเสิร์ต โดยการถ่ายภาพในครั้งนั้นทำให้อะดรีนาลีนของเขาพุ่งพล่านและยิ่งต้องการประสบการณ์นี้มากขึ้น โดยหลังจากนั้นไม่นานเขาก็เริ่มได้ถ่ายภาพนักดนตรีที่มีชื่อเสียงอย่างวง Coldplay, The Police, Rihanna, Jason Mraz และคนอื่นๆ อีกมาก ทำให้เขาได้เดินทางไปถ่ายภาพในคอนเสิร์ตและเทศกาลดนตรีต่างๆ มากมายทั้งในสิงคโปร์และทั่วทั้งภูมิภาค ส่วนความสนใจในการถ่ายภาพงานแต่งงานของเขานั้นเริ่มขึ้นในขณะกำลังค้นหาช่างภาพเพื่อมาถ่ายภาพงานแต่งงานของเขาเอง โดยเขาต้องการเรียนรู้การทำงานเพิ่มเติมจึงได้เข้าร่วมงานประชุมเชิงปฏิบัติการเกี่ยวกับการถ่ายภาพงานแต่งงาน และได้พบปะกับช่างภาพมากมายจาก <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:aloysius:works:link:wpn', 'ilc:sea:thai', 'ilc:sea:thai:profile:aloysius:works:link:wpn', 'microsite|ilc:sea:thai|profile|aloysius|works|link|wpn');" target="_blank">และหลังจากได้คิดใคร่ครวญมาเป็นอย่างดีแล้ว เขาตัดสินใจทิ้งงานประจำของเขาเพื่อเริ่มต้นการถ่ายภาพอย่างเต็มตัวในปี 2008 และไม่หันกลับไปเส้นทางเก่าเลยนับแต่นั้น ปัจจุบันลอยเซียส(Aloysius) เป็น 1 ใน 2 เจ้าของสตูดิโอ 39 East Photography ซึ่งมีความเชี่ยวชาญด้านการถ่ายภาพงานแต่ง และเป็นหนึ่งในสตูดิโอภาพแห่งแรกและเพียงไม่กี่แห่งของสิงคโปร์ที่ได้ใช้ระบบถ่ายภาพของโซนี่อย่างเต็มรูปแบบ</p>

                <p>คุณสามารถชมผลงานเกี่ยวกับงานแต่งงานของเขาได้ที่ 39 East Photography <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> และชมผลงานเกี่ยวกับงานดนตรีของเขาได้ที่ <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
                <!-- <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Aloysius"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในงานแต่งงาน แรงบันดาลใจของผมอาจเป็นได้ทั้งอ้อมกอดที่อบอุ่นระหว่างสมาชิกในครอบครัวทั้ง 2 ฝ่าย หรือใบหน้าของเจ้าบ่าวเมื่อแรกเห็นเจ้าสาวเดินเข้ามาในงานพิธี และยังเกิดขึ้นได้ในเวลาที่นักดนตรีกระโดดโลดเต้น หรือมือกีตาร์วาดลวดลายอย่างเมามันบนเวทีระหว่างการแสดงสด และความสามารถในการเล่าเรื่องผ่านภาพของผมให้ผู้คนได้ร่วมชมก็เป็นแรงกระตุ้นให้ผมด้วยเช่นกัน</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพนั้นมีบทบาทสำคัญต่อชีวิตของผมมาตลอดระยะเวลา 15 ปี มันทำให้ผมได้พบกับผู้คนที่ผมไม่เคยคาดหวังว่าจะมีโอกาสได้พบเจอ และยังทำให้ผมได้เข้าไปมีส่วนร่วมในชีวิตของคนที่ผมแทบจะไม่เคยรู้จักผ่านวันแต่งงานของพวกเขา และยังพาผมเดินทางไปยังสถานที่ต่างๆ ทั่วโลก และผมยังพูดได้เลยว่าการถ่ายภาพยังสอนให้ผมรู้จักกับความอดทน จนทำให้ผมได้เห็นความงดงามของทุกสิ่งในทุกๆ วัน และได้พบเจอกับบางสิ่งที่มักจะไม่มีใครสังเกตเห็นมาก่อน</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-2.jpg" width="611" height="207" alt="Interview with Aloysius">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">นอกจากปัญหาเรื่องน้ำหนักที่ผมมั่นใจว่าช่างภาพหลายๆ คนต้องพบเจอ หนึ่งในความท้าทายที่ยิ่งใหญ่ที่สุดสำหรับผมคือการถ่ายภาพที่ต้องทำมุม "แหวกแนว" ซึ่งมีโอกาสที่ผมจะต้องนอนราบลงไปกับพื้นหรือก้มโค้งเพื่อถ่ายภาพ อย่างไรก็ตามผมคงจะไม่สามารถถ่ายภาพได้ถ้าไม่มีพื้นที่ให้ผมได้มองภาพ หน้าจอแอลซีดีที่พลิกได้จึงเหมาะที่สุดสำหรับสถานการณ์เช่นนี้ เพราะผมสามารถจัดท่าถ่าย ปรับมุมมองภาพ ลั่นชัตเตอร์ แล้วทำงานต่อไปได้อย่างรวดเร็ว แต่ในบางครั้งก็ดูเหมือนว่าการถ่ายภาพด้วยหน้าจอพลิกได้จะไม่ใช่ความสามารถที่เด่นชัดเท่าไหร่นัก ถ้าหากผู้คนไม่ได้สนใจว่าคุณกำลังทำท่าถ่ายภาพแปลกๆ อยู่</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณสมบัติใดที่คุณรู้สึกชื่นชอบเมื่อได้ใช้กล้องในกลุ่ม a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">หนึ่งในคุณสมบัติที่ผมชื่อชอบนั้นก็คือการเชื่อมต่อผ่าน Wi-Fi<sup>&reg;</sup> ซึ่งสามารถถ่ายโอนภาพถ่ายแบบไร้สายไปยังโทรศัพท์มือถือหรือ iPad ได้ ก่อนที่จะอัปโหลดภาพไปยังสังคมออนไลน์ ผมชอบทำแบบนี้บ่อยๆ ในเวลาถ่ายภาพคอนเสิร์ต และเป็นวิธีที่ดีที่สุดในการทำให้เหล่าแฟนๆ ของศิลปินได้ตื่นเต้นกับภาพเหล่านั้น นอกจากนี้ผมยังค้นพบว่าหน้าจอแอลซีดีพลิกได้นั้นเป็นประโยชน์จริงๆ เมื่อผมต้องถ่ายภาพในมุมมองที่แตกต่าง และผมยังสามารถดูภาพและปรับแต่งได้ก่อนจะลั่นชัตเตอร์อีกด้วย โดยช่องมองภาพอิเล็กทรอนิกส์เหมาะอย่างยิ่งกับการดูตัวอย่างภาพได้สดๆ พร้อมปรับแรงสมดุลแสง เลือกโหมดสี, ขาว-ดำ และอื่นๆ ได้ทันที ส่วนคุณสมบัติที่เป็นประโยชน์อื่นๆ ที่ผมชอบใช้นั้นก็คือความสามารถในการเปลี่ยนการถ่ายภาพเป็น APS-C Crop Mode อย่างในสถานการณ์ที่ผมต้องถ่ายภาพคอนเสิร์ตและทีมงานอนุญาตให้ผมถ่ายภาพได้จากหอควบคุมเสียงเท่านั้น การเปิด APS-C Crop Mode นั้นช่วยทำให้ผมเข้าถึงเป้าหมายได้ไกลขึ้นโดยไม่จำเป็นต้องใช้เทเลคอนเวอเตอร์เลย</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ชิ้นโปรดของผมในปัจจุบันคือเลนส์ 55 มม. f/1.8 เพราะมันทั้งเล็ก เบา และผมก็ชอบในคุณภาพของภาพถ่าย นอกจากนี้ผมยังหลงรักเลนส์ 16-35 มม. f/4 อีกด้วย ดังนั้นจึงค่อนข้างเป็นเรื่องยากถ้าจะให้เลือกว่าชอบเลนส์ชิ้นหนึ่งชิ้นใด!</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับกล้องนั้นผมมี a7R II (พร้อมแท่นจับแบบมีแบตเตอรี่เสริม) และ a7 II เป็นกล้องหลักในการทำงาน และผมยังมี RX100 IV อีกด้วย โดยปัจจุบันนี้ผมใช้เลนส์อยู่ 3 แบบคือเลนส์ 16-35 มม. f/4 เลนส์ 55 มม. f/1.8 และเลนส์ 70-200 มม. f/4 ซึ่งเป็นชุดเลนส์ที่อยู่ติดตัวผมมากที่สุด นอกจากนี้ผมยังมีแฟลช HVL-F60M อีก 2 ตัว พร้อมแบตเตอรี่เสริมสำหรับกล้องถ่ายภาพและแฟลช และแบตเตอรี่เสริมสำหรับสมาร์ทโฟนและใช้ชาร์จกล้องฉุกเฉินผ่าน USB เมื่อมีความจำเป็น นอกเหนือจากอุปกรณ์ที่เกี่ยวกับกล้องแล้วผมยังมีไฟฉายที่ต้องใช้ประโยชน์เมื่ออยู่ในความมืดระหว่างงานคอนเสิร์ต หรือใช้เป็นแหล่งกำเนิดแสงเฉพาะกิจเมื่อต้องถ่ายภาพบุคคล และยังมีเสื้อคลุมไหล่และชุดกันฝนเพื่อป้องกันเลนส์และกล้องในเวลาฝนตก และสุดท้าย สิ่งสำคัญอย่างหนึ่งที่ขาดไม่ได้สำหรับผมคือปลั๊กอุดหู เพราะผมต้องใช้มันตลอดเวลาที่ต้องถ่ายภาพในงานคอนเสิร์ต ให้มันปกป้องหูของผมไว้!</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-3.jpg" width="611" height="207" alt="Interview with Aloysius">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/aloysius/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Aloysius"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->
            
            <!-- Q&A 1 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในงานแต่งงาน แรงบันดาลใจของผมอาจเป็นได้ทั้งอ้อมกอดที่อบอุ่นระหว่างสมาชิกในครอบครัวทั้ง 2 ฝ่าย หรือใบหน้าของเจ้าบ่าวเมื่อแรกเห็นเจ้าสาวเดินเข้ามาในงานพิธี และยังเกิดขึ้นได้ในเวลาที่นักดนตรีกระโดดโลดเต้น หรือมือกีตาร์วาดลวดลายอย่างเมามันบนเวทีระหว่างการแสดงสด และความสามารถในการเล่าเรื่องผ่านภาพของผมให้ผู้คนได้ร่วมชมก็เป็นแรงกระตุ้นให้ผมด้วยเช่นกัน</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 1 -->

            <!-- Q&A 2 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพนั้นมีบทบาทสำคัญต่อชีวิตของผมมาตลอดระยะเวลา 15 ปี มันทำให้ผมได้พบกับผู้คนที่ผมไม่เคยคาดหวังว่าจะมีโอกาสได้พบเจอ และยังทำให้ผมได้เข้าไปมีส่วนร่วมในชีวิตของคนที่ผมแทบจะไม่เคยรู้จักผ่านวันแต่งงานของพวกเขา และยังพาผมเดินทางไปยังสถานที่ต่างๆ ทั่วโลก และผมยังพูดได้เลยว่าการถ่ายภาพยังสอนให้ผมรู้จักกับความอดทน จนทำให้ผมได้เห็นความงดงามของทุกสิ่งในทุกๆ วัน และได้พบเจอกับบางสิ่งที่มักจะไม่มีใครสังเกตเห็นมาก่อน</div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Q&A 2 -->


            <!-- Q&A 3 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">นอกจากปัญหาเรื่องน้ำหนักที่ผมมั่นใจว่าช่างภาพหลายๆ คนต้องพบเจอ หนึ่งในความท้าทายที่ยิ่งใหญ่ที่สุดสำหรับผมคือการถ่ายภาพที่ต้องทำมุม "แหวกแนว" ซึ่งมีโอกาสที่ผมจะต้องนอนราบลงไปกับพื้นหรือก้มโค้งเพื่อถ่ายภาพ อย่างไรก็ตามผมคงจะไม่สามารถถ่ายภาพได้ถ้าไม่มีพื้นที่ให้ผมได้มองภาพ หน้าจอแอลซีดีที่พลิกได้จึงเหมาะที่สุดสำหรับสถานการณ์เช่นนี้ เพราะผมสามารถจัดท่าถ่าย ปรับมุมมองภาพ ลั่นชัตเตอร์ แล้วทำงานต่อไปได้อย่างรวดเร็ว แต่ในบางครั้งก็ดูเหมือนว่าการถ่ายภาพด้วยหน้าจอพลิกได้จะไม่ใช่ความสามารถที่เด่นชัดเท่าไหร่นัก ถ้าหากผู้คนไม่ได้สนใจว่าคุณกำลังทำท่าถ่ายภาพแปลกๆ อยู</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Q&A 3 -->

            <!-- Q&A 4 -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณสมบัติใดที่คุณรู้สึกชื่นชอบเมื่อได้ใช้กล้องในกลุ่ม a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">หนึ่งในคุณสมบัติที่ผมชื่อชอบนั้นก็คือการเชื่อมต่อผ่าน Wi-Fi<sup>&reg;</sup> ซึ่งสามารถถ่ายโอนภาพถ่ายแบบไร้สายไปยังโทรศัพท์มือถือหรือ iPad ได้ ก่อนที่จะอัปโหลดภาพไปยังสังคมออนไลน์ ผมชอบทำแบบนี้บ่อยๆ ในเวลาถ่ายภาพคอนเสิร์ต และเป็นวิธีที่ดีที่สุดในการทำให้เหล่าแฟนๆ ของศิลปินได้ตื่นเต้นกับภาพเหล่านั้น นอกจากนี้ผมยังค้นพบว่าหน้าจอแอลซีดีพลิกได้นั้นเป็นประโยชน์จริงๆ เมื่อผมต้องถ่ายภาพในมุมมองที่แตกต่าง และผมยังสามารถดูภาพและปรับแต่งได้ก่อนจะลั่นชัตเตอร์อีกด้วย โดยช่องมองภาพอิเล็กทรอนิกส์เหมาะอย่างยิ่งกับการดูตัวอย่างภาพได้สดๆ พร้อมปรับแรงสมดุลแสง เลือกโหมดสี, ขาว-ดำ และอื่นๆ ได้ทันที ส่วนคุณสมบัติที่เป็นประโยชน์อื่นๆ ที่ผมชอบใช้นั้นก็คือความสามารถในการเปลี่ยนการถ่ายภาพเป็น APS-C Crop Mode อย่างในสถานการณ์ที่ผมต้องถ่ายภาพคอนเสิร์ตและทีมงานอนุญาตให้ผมถ่ายภาพได้จากหอควบคุมเสียงเท่านั้น การเปิด APS-C Crop Mode นั้นช่วยทำให้ผมเข้าถึงเป้าหมายได้ไกลขึ้นโดยไม่จำเป็นต้องใช้เทเลคอนเวอเตอร์เลย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นโปรดของผมในปัจจุบันคือเลนส์ 55 มม. f/1.8 เพราะมันทั้งเล็ก เบา และผมก็ชอบในคุณภาพของภาพถ่าย นอกจากนี้ผมยังหลงรักเลนส์ 16-35 มม. f/4 อีกด้วย ดังนั้นจึงค่อนข้างเป็นเรื่องยากถ้าจะให้เลือกว่าชอบเลนส์ชิ้นหนึ่งชิ้นใด!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับกล้องนั้นผมมี a7R II (พร้อมแท่นจับแบบมีแบตเตอรี่เสริม) และ a7 II เป็นกล้องหลักในการทำงาน และผมยังมี RX100 IV อีกด้วย โดยปัจจุบันนี้ผมใช้เลนส์อยู่ 3 แบบคือเลนส์ 16-35 มม. f/4 เลนส์ 55 มม. f/1.8 และเลนส์ 70-200 มม. f/4 ซึ่งเป็นชุดเลนส์ที่อยู่ติดตัวผมมากที่สุด นอกจากนี้ผมยังมีแฟลช HVL-F60M อีก 2 ตัว พร้อมแบตเตอรี่เสริมสำหรับกล้องถ่ายภาพและแฟลช และแบตเตอรี่เสริมสำหรับสมาร์ทโฟนและใช้ชาร์จกล้องฉุกเฉินผ่าน USB เมื่อมีความจำเป็น นอกเหนือจากอุปกรณ์ที่เกี่ยวกับกล้องแล้วผมยังมีไฟฉายที่ต้องใช้ประโยชน์เมื่ออยู่ในความมืดระหว่างงานคอนเสิร์ต หรือใช้เป็นแหล่งกำเนิดแสงเฉพาะกิจเมื่อต้องถ่ายภาพบุคคล และยังมีเสื้อคลุมไหล่และชุดกันฝนเพื่อป้องกันเลนส์และกล้องในเวลาฝนตก และสุดท้าย สิ่งสำคัญอย่างหนึ่งที่ขาดไม่ได้สำหรับผมคือปลั๊กอุดหู เพราะผมต้องใช้มันตลอดเวลาที่ต้องถ่ายภาพในงานคอนเสิร์ต ให้มันปกป้องหูของผมไว้!</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
