<div class="thai" id="profile-glenn">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:200px;">
            <div>
                <p class="type">ช่างภาพบุคคล + แฟชั่น</p>
                <p class="name">Glenn Prasetya</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">อินโดนีเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">ช่างภาพบุคคล + แฟชั่น</p>
                    <p class="name">Glenn Prasetya</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">อินโดนีเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>7 ปีกับการทำงานในอุตสาหกรรมการถ่ายภาพอาจจะยังฟังดูไม่ยาวนาน แต่ความสำเร็จของเกลนน์ พราเซตยา (Glenn Prasetya) ไปไกลเกินกว่านั้นมาก เขาคือความสมบูรณ์แบบ ด้วยความใส่ใจในทุกรายละเอียดทำให้เขาเป็นบุคคลที่น่าเชื่อถือและเป็นที่หมายปองของวงการแฟชั่นและแบรนด์ชั้นนำด้านความงามทั้งในและต่างประเทศเป็นจำนวนมาก ผลงานของเขาประกอบไปด้วยการทำงานกับบุคคลที่มีชื่อเสียงและเป็นที่เคารพในอุตสาหกรรมแฟชั่น อาทิเช่นคริสโตฟี่ ไกลเล็ต (Christophe Gaillet), จาคส์ อัซซาดี (Jacques Uzzardi) และฮยอน เท (Hyun Tae) ในงานสื่อระดับภูมิภาค เช่นเดียวกับงานถ่ายภาพสำหรับแฟชั่นระดับโลก และเป็นธรรมดาทึ่ความสำเร็จเหล่านี้จะทำให้เขาเป็นที่ยอมรับผ่านรางวัลต่างๆ เช่น ช่างภาพแห่งปี 2011 จาก Elle Style และเขายังได้รับเลือกให้เป็นตัวแทนจากอินโดนีเซียของ ลอริอัลปารีสสาขาอินโดนีเซียในฐานช่างภาพอย่างเป็นทางการในงานเทศกาลภาพยนตร์เมืองคานส์ปี 2013 อีกด้วย</p>

            <p>นิทรรศการที่ผ่านมา:</p>

            <p>
                2008: a+ 8 elements of life กรุงจาร์กาตา
                <br/> 2009: IndividualistS, Galeri Salihara กรุงจาร์กาตา
                <br/> 2010: L’OREAL Open Your Eyes and Transform! ณ พาติโอแกลเลอรี่ กรุงจาร์กาตา
                <br/> 2011: BEYOND PHOTOGRAPHY 2011 ณ Ciputra Artpreneur Center กรุงจาร์กาตา
                <br/> 2013: FASHION MUSES, นิทรรศการเดี่ยว ณ พลาซ่าอินโดนีเซีย กรุงจาร์กาตา
                <br/> 2013: SHARP DRESSED MEN นิทรรศการเดี่ยว ควบคู่กับงาน MEN’S FOLIO ณ พลาซ่าอินโดนีเซีย
                <br/> 2013: BREAST CANCER CAMPAIGN Exhibition นิทรรศการร่วมกับ L’Officiel ณ พลาซ่าอินโดนีเซีย
                <br/> 2013: 24th YEARS PLAZA INDONESIA นิทรรศการร่วม ณ พลาซ่าอินโดนีเซีย กรุงจาร์กาตา
                <br/> 2014: TEMANTEMAN.ORG PHOTO EXHIBITION ณ ซีนายานซิตี้ กรุงจาร์กาตา
                <br/> 2014: URBAN ART EXHIBITION ควบคู่กับงาน STUDIO47 ณ คูนินกันซิตี้ กรุงจาร์กาตา
                <br/> 2014: IBU KOTA นิทรรศการร่วมกับ KELAS PAGI JOGJA ณ ยอกยาการ์ตา
                <br/> 2014 : TRAVELLING GENTLEMEN Exhibition ณ ซีนายานซิตี้ กรุงจาร์กาตา ด้วยการร่วมมือกับ MEN’S FOLIO อินโดนีเซีย กับ GARUDA อินโดนีเซีย
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>7 ปีกับการทำงานในอุตสาหกรรมการถ่ายภาพอาจจะยังฟังดูไม่ยาวนาน แต่ความสำเร็จของเกลนน์ พราเซตยา (Glenn Prasetya) ไปไกลเกินกว่านั้นมาก เขาคือความสมบูรณ์แบบ ด้วยความใส่ใจในทุกรายละเอียดทำให้เขาเป็นบุคคลที่น่าเชื่อถือและเป็นที่หมายปองของวงการแฟชั่นและแบรนด์ชั้นนำด้านความงามทั้งในและต่างประเทศเป็นจำนวนมาก ผลงานของเขาประกอบไปด้วยการทำงานกับบุคคลที่มีชื่อเสียงและเป็นที่เคารพในอุตสาหกรรมแฟชั่น อาทิเช่นคริสโตฟี่ ไกลเล็ต (Christophe Gaillet), จาคส์ อัซซาดี (Jacques Uzzardi) และฮยอน เท (Hyun Tae) ในงานสื่อระดับภูมิภาค เช่นเดียวกับงานถ่ายภาพสำหรับแฟชั่นระดับโลก และเป็นธรรมดาทึ่ความสำเร็จเหล่านี้จะทำให้เขาเป็นที่ยอมรับผ่านรางวัลต่างๆ เช่น ช่างภาพแห่งปี 2011 จาก Elle Style และเขายังได้รับเลือกให้เป็นตัวแทนจากอินโดนีเซียของ ลอริอัลปารีสสาขาอินโดนีเซียในฐานช่างภาพอย่างเป็นทางการในงานเทศกาลภาพยนตร์เมืองคานส์ปี 2013 อีกด้วย</p>

            <p>นิทรรศการที่ผ่านมา:</p>

            <p>
                2008: a+ 8 elements of life กรุงจาร์กาตา
                <br/> 2009: IndividualistS, Galeri Salihara กรุงจาร์กาตา
                <br/> 2010: L’OREAL Open Your Eyes and Transform! ณ พาติโอแกลเลอรี่ กรุงจาร์กาตา
                <br/> 2011: BEYOND PHOTOGRAPHY 2011 ณ Ciputra Artpreneur Center กรุงจาร์กาตา
                <br/> 2013: FASHION MUSES, นิทรรศการเดี่ยว ณ พลาซ่าอินโดนีเซีย กรุงจาร์กาตา
                <br/> 2013: SHARP DRESSED MEN นิทรรศการเดี่ยว ควบคู่กับงาน MEN’S FOLIO ณ พลาซ่าอินโดนีเซีย
                <br/> 2013: BREAST CANCER CAMPAIGN Exhibition นิทรรศการร่วมกับ L’Officiel ณ พลาซ่าอินโดนีเซีย
                <br/> 2013: 24th YEARS PLAZA INDONESIA นิทรรศการร่วม ณ พลาซ่าอินโดนีเซีย กรุงจาร์กาตา
                <br/> 2014: TEMANTEMAN.ORG PHOTO EXHIBITION ณ ซีนายานซิตี้ กรุงจาร์กาตา
                <br/> 2014: URBAN ART EXHIBITION ควบคู่กับงาน STUDIO47 ณ คูนินกันซิตี้ กรุงจาร์กาตา
                <br/> 2014: IBU KOTA นิทรรศการร่วมกับ KELAS PAGI JOGJA ณ ยอกยาการ์ตา
                <br/> 2014 : TRAVELLING GENTLEMEN Exhibition ณ ซีนายานซิตี้ กรุงจาร์กาตา ด้วยการร่วมมือกับ MEN’S FOLIO อินโดนีเซีย กับ GARUDA อินโดนีเซีย
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Glenn</span>
                </p>
                <img data-original="img/profile/id/glenn/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="พูดคุย กับ Glenn">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/glenn/quote-1-th.png" width="310" height="258" alt="Glenn's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/glenn/quote-2-th.png" width="314" height="240" alt="Glenn's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมรักแฟชั่น และการถ่ายภาพก็ทำให้ผมได้อยู่ตรงจุดนั้น ด้วยการถ่ายภาพทำให้ผมได้เก็บบันทึกสิ่งที่สวยงามและเป็นแรงบันดาลใจให้กับตัวเอง ดั้งนั้นจึงเป็นธรรมดาที่ผมจะบันทึกเรื่องราวของชีวิตและความรักผ่านการถ่ายภาพ</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับผมนั้นการถ่ายภาพคือสิ่งที่น่าหลงใหล ผมเคยผ่านบางช่วงเวลาที่เกี่ยวข้องกับการถ่ายภาพมาก่อน ผมเริ่มต้นจากความฝันในการเก็บภาพแฟชั่นสวยๆ ในครั้งที่ผู้คนไม่เชื่อว่าผมเป็นช่างภาพและการถ่ายภาพเป็นเพียงแค่งานอดิเรก แต่ในวันนี้การถ่ายภาพได้นำผมไปยังหลากหลายสถานที่ และหลากวิถีชีวิตอันเรียบง่ายและสวยงาม เหมือนสมบัติล้ำค่าให้แก่ครอบครัวเล็กๆ ของผม ใช่แล้ว การถ่ายภาพค่อนข้างจะเป็นส่วนหนึ่งในชีวิตประจำวันของผมเอามากๆ เลยทีเดียว</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Glenn">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เรียง่าย แต่มีประสิทธิภาพ!</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ทุกสิ่งทุกอย่างที่อยู่รอบๆ ตัวล้วนแล้วแต่มีอิทธิพลและเป็นแรงบันดาลใจต่อการทำงานและชีวิตส่วนตัวของผม ผมชอบท่องเที่ยวและเดินตามรอยการทำงานของช่างภาพบางคนที่ผมชื่นชอบเพื่อสร้างแรงบันดาลใจ ส่วนใหญ่จะเป็นช่างภาพแฟชั่นอย่างสตีเวน มีสเซล (Steven Meissel), คามิลลา อาร์ครานส์ (Camilla Arkrans) และเชน แมน (Chen Man)</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพได้นำผมไปยังสถานที่และสภาพแวดล้อมต่างๆ มากมาย ความท้าทายที่ยิ่งใหญ่ของผมก็คือการเดินทางอย่างคล่องตัวร่วมกับอุปกรณ์ที่ดีเพื่อสนับสนุนการทำงานของผม และโซนี่ a7R คือคำตอบในสิ่งที่ผมต้องการ</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เพราะมันมีน้ำหนักเบาและมีเทคโนโลยี Mirrorless ที่ทำให้ผมเดินทางได้อย่างคล่องตัวและยังผลิตภาพได้อย่างมีคุณภาพสูงสุด</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อย่าแรกเลยคือความละเอียด 36.3 ล้านพิกเซลแบบฟลูเฟรมที่รองรับความต้องการด้านการพิมพ์ของเรา และยังมีฟังก์ชั่นด้าน Wi-Fi ที่ช่วยแสดงตัวอย่างได้อย่างรวดเร็วให้ทีมงานได้ชมในระหว่างการถ่ายภาพ</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมจะให้คะแนนที่ 9 เต็ม 10 คะแนน ซึ่งผมมักจะหักออกไป 1 คะแนนเพื่อความยุติธรรม</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Glenn">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมรัก! การถ่ายภาพสวยๆ (Close-up เข้าไปใกล้ๆ) ด้วยเลนส์โซนี่ 90 ม.ม. ตัวใหม่ล่าสุด</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในกระเป๋าผมมีกล้องโซนี่ a7R, เลนส์ 24-70 ม.ม., SD Card 3 ชุด, เครื่องส่งสัญญาณ, และ MacBook Air</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Glenn</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/glenn/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Glenn"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมรักแฟชั่น และการถ่ายภาพก็ทำให้ผมได้อยู่ตรงจุดนั้น ด้วยการถ่ายภาพทำให้ผมได้เก็บบันทึกสิ่งที่สวยงามและเป็นแรงบันดาลใจให้กับตัวเอง ดั้งนั้นจึงเป็นธรรมดาที่ผมจะบันทึกเรื่องราวของชีวิตและความรักผ่านการถ่ายภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับผมนั้นการถ่ายภาพคือสิ่งที่น่าหลงใหล ผมเคยผ่านบางช่วงเวลาที่เกี่ยวข้องกับการถ่ายภาพมาก่อน ผมเริ่มต้นจากความฝันในการเก็บภาพแฟชั่นสวยๆ ในครั้งที่ผู้คนไม่เชื่อว่าผมเป็นช่างภาพและการถ่ายภาพเป็นเพียงแค่งานอดิเรก แต่ในวันนี้การถ่ายภาพได้นำผมไปยังหลากหลายสถานที่ และหลากวิถีชีวิตอันเรียบง่ายและสวยงาม เหมือนสมบัติล้ำค่าให้แก่ครอบครัวเล็กๆ ของผม ใช่แล้ว การถ่ายภาพค่อนข้างจะเป็นส่วนหนึ่งในชีวิตประจำวันของผมเอามากๆ เลยทีเดียว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เรียง่าย แต่มีประสิทธิภาพ!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ทุกสิ่งทุกอย่างที่อยู่รอบๆ ตัวล้วนแล้วแต่มีอิทธิพลและเป็นแรงบันดาลใจต่อการทำงานและชีวิตส่วนตัวของผม ผมชอบท่องเที่ยวและเดินตามรอยการทำงานของช่างภาพบางคนที่ผมชื่นชอบเพื่อสร้างแรงบันดาลใจ ส่วนใหญ่จะเป็นช่างภาพแฟชั่นอย่างสตีเวน มีสเซล (Steven Meissel), คามิลลา อาร์ครานส์ (Camilla Arkrans) และเชน แมน (Chen Man)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพได้นำผมไปยังสถานที่และสภาพแวดล้อมต่างๆ มากมาย ความท้าทายที่ยิ่งใหญ่ของผมก็คือการเดินทางอย่างคล่องตัวร่วมกับอุปกรณ์ที่ดีเพื่อสนับสนุนการทำงานของผม และโซนี่ a7R คือคำตอบในสิ่งที่ผมต้องการ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เพราะมันมีน้ำหนักเบาและมีเทคโนโลยี Mirrorless ที่ทำให้ผมเดินทางได้อย่างคล่องตัวและยังผลิตภาพได้อย่างมีคุณภาพสูงสุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อย่าแรกเลยคือความละเอียด 36.3 ล้านพิกเซลแบบฟลูเฟรมที่รองรับความต้องการด้านการพิมพ์ของเรา และยังมีฟังก์ชั่นด้าน Wi-Fi ที่ช่วยแสดงตัวอย่างได้อย่างรวดเร็วให้ทีมงานได้ชมในระหว่างการถ่ายภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมจะให้คะแนนที่ 9 เต็ม 10 คะแนน ซึ่งผมมักจะหักออกไป 1 คะแนนเพื่อความยุติธรรม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมรัก! การถ่ายภาพสวยๆ (Close-up เข้าไปใกล้ๆ) ด้วยเลนส์โซนี่ 90 ม.ม. ตัวใหม่ล่าสุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในกระเป๋าผมมีกล้องโซนี่ a7R, เลนส์ 24-70 ม.ม., SD Card 3 ชุด, เครื่องส่งสัญญาณ, และ MacBook Air</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
