<div class="thai" id="profile-eric">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:368px;">
            <div>
                <p class="type">ช่างภาพงานแต่ง</p>
                <p class="name">Ooi Eric</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">มาเลเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">ช่างภาพงานแต่ง</p>
                    <p class="name">Ooi Eric</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">มาเลเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>อูย อีริค (Ooi Eric) ใช่แล้วครับว่านี่คือชื่อจริงของผม และมันอาจเป็นชื่อที่สั้นที่สุดที่นับได้เพียง 7 ตัวอักษรเท่านั้นเอง!</p>

            <p>ผมเป็นช่างภาพงานแต่งและช่างภาพบุคคลจากกรุงกัวลาลัมเปอร์ ประเทศมาเลเซีย โดยรับงานถ่ายภาพบุคคลและงานแต่งทั้งในและต่างประเทศ ผมรักการถ่ายภาพงานแต่งเป็นอย่างมากเพราะมันคือช่วงเวลาหนึ่งที่มีความสุขที่สุดและมีโอกาสได้ใกล้ชิดกับช่วงเวลาเหล่านั้นที่ผ่านไปในชีวิตของเรา ซึ่งผมเชื่อว่าการถ่ายภาพงานแต่งที่ดีนั้นต้องมีความอบอุ่น, บริสุทธิ์, จริงใจ, สนุกสนาน และดีงามไปพร้อมๆ กันเพื่อประกอบกันเป็นภาพที่สามารถบอกเล่าเรื่องราวของวันแต่งงานนั้นได้อย่างดีที่สุด</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>อูย อีริค (Ooi Eric) ใช่แล้วครับว่านี่คือชื่อจริงของผม และมันอาจเป็นชื่อที่สั้นที่สุดที่นับได้เพียง 7 ตัวอักษรเท่านั้นเอง!</p>

            <p>ผมเป็นช่างภาพงานแต่งและช่างภาพบุคคลจากกรุงกัวลาลัมเปอร์ ประเทศมาเลเซีย โดยรับงานถ่ายภาพบุคคลและงานแต่งทั้งในและต่างประเทศ ผมรักการถ่ายภาพงานแต่งเป็นอย่างมากเพราะมันคือช่วงเวลาหนึ่งที่มีความสุขที่สุดและมีโอกาสได้ใกล้ชิดกับช่วงเวลาเหล่านั้นที่ผ่านไปในชีวิตของเรา ซึ่งผมเชื่อว่าการถ่ายภาพงานแต่งที่ดีนั้นต้องมีความอบอุ่น, บริสุทธิ์, จริงใจ, สนุกสนาน และดีงามไปพร้อมๆ กันเพื่อประกอบกันเป็นภาพที่สามารถบอกเล่าเรื่องราวของวันแต่งงานนั้นได้อย่างดีที่สุด</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Eric</span>
                </p>
                <img data-original="img/profile/my/eric/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Eric">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/eric/quote-1-th.png" width="303" height="358" alt="Eric's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/my/eric/quote-2-th.png" width="297" height="261" alt="Eric's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">แสงสว่างและช่วงเวลาที่สวยงาม ผมมักจะใช้วิธีการให้แสงส่องสว่างแก่สิ่งที่น่าสนใจเพื่อดึงดูดสายตาของผู้รับชมภาพอยู่เสมอ และเมื่อผมถ่ายภาพแต่งงาน ผมก็จะมองหาช่วงเวลาที่สามารถกำหนดโทนสีและลักษณะของงานแต่งในวันนั้น ซึ่งแนวการจัดงานแต่งงานในแต่ละงานก็คล้ายคลึงกันไปตามประเทศและวัฒนธรรม แต่จะทำอย่างไรให้งานแต่งของบ่าวสาวพร้อมครอบครัวและเพื่อนๆ ของเขามีเอกลักษณ์ที่ไม่จำเจ จึงทำให้ผมทุ่มเทอย่างต่อเนื่องเพื่อมองหาวิธีบอกเล่าเรื่องราวของพวกเขาให้แตกต่างกันออกไปจากเบื้องหลังของเลนส์</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมเริ่มต้นการถ่ายภาพจากความสนใจทั่วๆ ไปเป็นงานอดิเรก โดยผมซื้อกล้องมาเพราะอยากจะเก็บรูปการเดินทางท่องเที่ยวทั่วโลก แต่นั่นก็ทำให้ผมเริ่มรู้ถึงแนวทางเกี่ยวกับการถ่ายภาพสวยๆได้ ดังนั้นผมจึงเริ่มทำการศึกษาเทคนิคและศิลปะในการถ่ายภาพอย่างจริงจัง และเมื่อผมรู้มากขึ้น ผมก็เริ่มซื้อกล้องตัวแรกเพื่อใช้ถ่ายภาพภูมิทัศน์และท้องถนนโดยเฉพาะ จนวันหนึ่งเพื่อนของผมที่เป็นนักร้องและนักแต่งเพลงท้องถิ่นได้มาถามผมว่าจะถ่ายภาพเขาเพื่อนำไปใช้ในเว็บไซต์ได้หรือไม่ ผมจึงคว้าโอกาสนั้นไว้ทันทีและภาพถ่ายที่เกิดขึ้นในครั้งนั้นก็ทำให้ผมรู้สึกประหลาดใจ ผมรู้ในทันทีว่ามีบางอย่างเกิดขึ้นและผมก็ค้นพบความสนใจในการถ่ายภาพบุคคลจากผู้คนมากมายขึ้นมา เป็นเวลานับปีในเส้นทางการถ่ายภาพของคุณที่เริ่มผลิบานจากงานอดิเรกจนกลายเป็นอาชีพการงานจากความรัก และก้าวสู่ความเป็นช่างภาพเต็มตัว เพื่อสร้างผลงานภาพในชีวิตประจำวันทั้งการทำงานและเรื่องราวส่วนตัว
                    <br/><br/>
                    ผมรักการถ่ายภาพอย่างหมดใจ ผมสามารถทำให้ช่วงเวลาสำคัญในวันแต่งงานกลายเป็นนิรันดร์ และสร้างสรรค์ภาพถ่ายบุคคลที่เผยให้เห็นถึงจิตวิญญาณของผู้คนเหล่านั้นได้ การถ่ายภาพจึงเป็นประสบการณ์ที่ล้ำค่าที่เป็นความเที่ยงแท้ สัมผัสได้ และมาจากใจจริง
                    </div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/eric/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Eric">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมักต้องถ่ายภาพอยู่ในสถานการณ์ที่ค่อนข้างละเอียดอ่อน ซึ่งผมก็หวังว่าอุปกรณ์ถ่ายภาพของผมจะมีความน่าเชื่อใจอย่างมากและมีประสิทธิภาพสูงเพียงพอ</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เมื่อตอนที่ผมเริ่มถ่ายภาพบุคคลและงานแต่ง ผมได้เรียนรู้การจัดองค์ประกอบที่ดีจากช่างภาพชาวออสเตรเลียที่ชื่อเจอร์รี่ กัวนิส (Jerry Ghionis) เขาสอนให้ผม "มองหาแสง" ซึ่งผมรักวิธีการถ่ายภาพของเขาเพื่อทำให้ทุกคนมองเห็นเขาหรือเธอได้ดีที่สุดในภาพ</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">บ่อยครั้งที่ผมต้องถ่ายภาพในที่แสงน้อยจากภายในโบสถ์หรือห้องบอลรูม ซึ่งกล้องตระกูล a7 ก็สร้างผลงานที่ยอดเยี่ยมด้วยการช่วยผมถ่ายภาพโดยที่ยังรักษาคุณภาพของภาพได้เป็นอย่างดีจากการตั้งค่าตามแต่สถานการณ์ โดยเฉพาะอย่างยิ่งกับ a7SII ที่มี ISO ความไวแสงสูงที่มีประสิทธิภาพอย่างน่าประทับใจ</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">a7SII ได้มอบคุณภาพของภาพที่ยอดเยี่ยมให้ผม และยังเต็มไปด้วยรายละเอียดที่อัดแน่นอยู่ในภาพตลอดทุกช่วงความไวแสง ISO</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ISO ประสิทธิภาพสูงและยอดเยี่ยม เซ็นเซอร์ขนาด Full Frame ภายในบอดี้กล้องที่เล็กและเบา ได้เป็นภาพถ่ายที่มีคุณภาพดีที่สุดที่พร้อมรายละเอียดมากมายในภาพ</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">โซนี่เป็น 1 ในผู้นำของวงการเซ็นเซอร์ภาพถ่ายดิจิตอล และยังเป็นผู้นำหน้าของวงการกล้อง Mirrorless ในแบบที่ไม่เคยเห็นใครทำได้มาก่อนหน้านี้เลย</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/eric/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Eric">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์โซนี่ Zeiss 55 ม.ม. f/1.8 เพราะผมชอบเล่นช่วง 50 ม.ม. เป็นเลนส์ที่มีความยาวโฟกัสอันหลากหลาย ผมสามารถเดินถอยห่างเพื่อได้ภาพมุมมองกว้าง หรือเดินเข้าไปหาสิ่งที่จะถ่ายเพื่อเก็บรายละเอียดอย่างใกล้ชิดและคมชัดยิ่งขึ้น ซึ่งผมมีความสุขมากที่ได้เปิดรูรับแสงกว้างๆ เพื่อให้ภาพคมชัดไว้ที่ f/1.8</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีบอดี้กล้อง Full Frame อยู่ 2 ตัวพร้อมเลนส์มุมกว้างพิเศษ (16-35 ม.ม.), เลนส์กว้างถึงเทเลโฟโต้ระดับกล้าง (24-70 ม.ม.), เลนส์ครอบคลุมช่วงทั้งหมด (55 ม.ม.), เลนส์มาโคร (90 ม.ม.), เลนส์เทเลโฟโต้ (70-200 ม.ม.), แฟลช LED 1-3 กระบอก (ขึ้นอยู่กับสิ่งที่ผมจะถ่าย), แบตเตอรี่และการ์ดความจำอีกเป็นจำนวนมากสำรองไว้, คอมพิวเตอร์โน้ตบุ๊ก, และที่สำคัญที่สุดคือ...ขนมขบเคี้ยว (คุณอาจไม่เคยรู้ว่ามันสำคัญมากแค่ไหนเมื่อคุณคันปากอยากจะเคี้ยวอะไรสักอย่างในเวลาถ่ายภาพ!)</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Eric</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/eric/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Eric"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">แสงสว่างและช่วงเวลาที่สวยงาม ผมมักจะใช้วิธีการให้แสงส่องสว่างแก่สิ่งที่น่าสนใจเพื่อดึงดูดสายตาของผู้รับชมภาพอยู่เสมอ และเมื่อผมถ่ายภาพแต่งงาน ผมก็จะมองหาช่วงเวลาที่สามารถกำหนดโทนสีและลักษณะของงานแต่งในวันนั้น ซึ่งแนวการจัดงานแต่งงานในแต่ละงานก็คล้ายคลึงกันไปตามประเทศและวัฒนธรรม แต่จะทำอย่างไรให้งานแต่งของบ่าวสาวพร้อมครอบครัวและเพื่อนๆ ของเขามีเอกลักษณ์ที่ไม่จำเจ จึงทำให้ผมทุ่มเทอย่างต่อเนื่องเพื่อมองหาวิธีบอกเล่าเรื่องราวของพวกเขาให้แตกต่างกันออกไปจากเบื้องหลังของเลนส์</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเริ่มต้นการถ่ายภาพจากความสนใจทั่วๆ ไปเป็นงานอดิเรก โดยผมซื้อกล้องมาเพราะอยากจะเก็บรูปการเดินทางท่องเที่ยวทั่วโลก แต่นั่นก็ทำให้ผมเริ่มรู้ถึงแนวทางเกี่ยวกับการถ่ายภาพสวยๆได้ ดังนั้นผมจึงเริ่มทำการศึกษาเทคนิคและศิลปะในการถ่ายภาพอย่างจริงจัง และเมื่อผมรู้มากขึ้น ผมก็เริ่มซื้อกล้องตัวแรกเพื่อใช้ถ่ายภาพภูมิทัศน์และท้องถนนโดยเฉพาะ จนวันหนึ่งเพื่อนของผมที่เป็นนักร้องและนักแต่งเพลงท้องถิ่นได้มาถามผมว่าจะถ่ายภาพเขาเพื่อนำไปใช้ในเว็บไซต์ได้หรือไม่ ผมจึงคว้าโอกาสนั้นไว้ทันทีและภาพถ่ายที่เกิดขึ้นในครั้งนั้นก็ทำให้ผมรู้สึกประหลาดใจ ผมรู้ในทันทีว่ามีบางอย่างเกิดขึ้นและผมก็ค้นพบความสนใจในการถ่ายภาพบุคคลจากผู้คนมากมายขึ้นมา เป็นเวลานับปีในเส้นทางการถ่ายภาพของคุณที่เริ่มผลิบานจากงานอดิเรกจนกลายเป็นอาชีพการงานจากความรัก และก้าวสู่ความเป็นช่างภาพเต็มตัว เพื่อสร้างผลงานภาพในชีวิตประจำวันทั้งการทำงานและเรื่องราวส่วนตัว
                            <br/><br/>
                            ผมรักการถ่ายภาพอย่างหมดใจ ผมสามารถทำให้ช่วงเวลาสำคัญในวันแต่งงานกลายเป็นนิรันดร์ และสร้างสรรค์ภาพถ่ายบุคคลที่เผยให้เห็นถึงจิตวิญญาณของผู้คนเหล่านั้นได้ การถ่ายภาพจึงเป็นประสบการณ์ที่ล้ำค่าที่เป็นความเที่ยงแท้ สัมผัสได้ และมาจากใจจริง
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมักต้องถ่ายภาพอยู่ในสถานการณ์ที่ค่อนข้างละเอียดอ่อน ซึ่งผมก็หวังว่าอุปกรณ์ถ่ายภาพของผมจะมีความน่าเชื่อใจอย่างมากและมีประสิทธิภาพสูงเพียงพอ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เมื่อตอนที่ผมเริ่มถ่ายภาพบุคคลและงานแต่ง ผมได้เรียนรู้การจัดองค์ประกอบที่ดีจากช่างภาพชาวออสเตรเลียที่ชื่อเจอร์รี่ กัวนิส (Jerry Ghionis) เขาสอนให้ผม "มองหาแสง" ซึ่งผมรักวิธีการถ่ายภาพของเขาเพื่อทำให้ทุกคนมองเห็นเขาหรือเธอได้ดีที่สุดในภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">บ่อยครั้งที่ผมต้องถ่ายภาพในที่แสงน้อยจากภายในโบสถ์หรือห้องบอลรูม ซึ่งกล้องตระกูล a7 ก็สร้างผลงานที่ยอดเยี่ยมด้วยการช่วยผมถ่ายภาพโดยที่ยังรักษาคุณภาพของภาพได้เป็นอย่างดีจากการตั้งค่าตามแต่สถานการณ์ โดยเฉพาะอย่างยิ่งกับ a7SII ที่มี ISO ความไวแสงสูงที่มีประสิทธิภาพอย่างน่าประทับใจ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">a7SII ได้มอบคุณภาพของภาพที่ยอดเยี่ยมให้ผม และยังเต็มไปด้วยรายละเอียดที่อัดแน่นอยู่ในภาพตลอดทุกช่วงความไวแสง ISO</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ISO ประสิทธิภาพสูงและยอดเยี่ยม เซ็นเซอร์ขนาด Full Frame ภายในบอดี้กล้องที่เล็กและเบา ได้เป็นภาพถ่ายที่มีคุณภาพดีที่สุดที่พร้อมรายละเอียดมากมายในภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">โซนี่เป็น 1 ในผู้นำของวงการเซ็นเซอร์ภาพถ่ายดิจิตอล และยังเป็นผู้นำหน้าของวงการกล้อง Mirrorless ในแบบที่ไม่เคยเห็นใครทำได้มาก่อนหน้านี้เลย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์โซนี่ Zeiss 55 ม.ม. f/1.8 เพราะผมชอบเล่นช่วง 50 ม.ม. เป็นเลนส์ที่มีความยาวโฟกัสอันหลากหลาย ผมสามารถเดินถอยห่างเพื่อได้ภาพมุมมองกว้าง หรือเดินเข้าไปหาสิ่งที่จะถ่ายเพื่อเก็บรายละเอียดอย่างใกล้ชิดและคมชัดยิ่งขึ้น ซึ่งผมมีความสุขมากที่ได้เปิดรูรับแสงกว้างๆ เพื่อให้ภาพคมชัดไว้ที่ f/1.8</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีบอดี้กล้อง Full Frame อยู่ 2 ตัวพร้อมเลนส์มุมกว้างพิเศษ (16-35 ม.ม.), เลนส์กว้างถึงเทเลโฟโต้ระดับกล้าง (24-70 ม.ม.), เลนส์ครอบคลุมช่วงทั้งหมด (55 ม.ม.), เลนส์มาโคร (90 ม.ม.), เลนส์เทเลโฟโต้ (70-200 ม.ม.), แฟลช LED 1-3 กระบอก (ขึ้นอยู่กับสิ่งที่ผมจะถ่าย), แบตเตอรี่และการ์ดความจำอีกเป็นจำนวนมากสำรองไว้, คอมพิวเตอร์โน้ตบุ๊ก, และที่สำคัญที่สุดคือ...ขนมขบเคี้ยว (คุณอาจไม่เคยรู้ว่ามันสำคัญมากแค่ไหนเมื่อคุณคันปากอยากจะเคี้ยวอะไรสักอย่างในเวลาถ่ายภาพ!)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
