<div class="thai" id="profile-manny">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพบุคคล + ท่องเที่ยว + แฟชั่น</p>
                <p class="name">Manny Librodo</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ฟิลิปปินส์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5 col-sm-offset-1">

                <div>
                    <p class="type">ช่างภาพบุคคล + ท่องเที่ยว + แฟชั่น</p>
                    <p class="name">Manny Librodo</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ฟิลิปปินส์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>มานูเอล แอล. ลิโบรโด จูเนียร์ (Manuel L. Librodo JR.) หรือแมนนี่ ลิโบรโด เป็นช่างภาพตกแต่งระดับสูง ผู้ช่วยชาญด้านภาพท่องเที่ยว, ภาพบุคคลอันมีเสน่ห์, และภาพถ่ายแฟชั่น เขาเป็นที่นิยมติดตามในหมู่แฟนๆ ช่างภาพซึ่งเห็นได้ชัดจากบัญชี Pbase ของเขาที่มียอดสูงถึง 27 ล้านฮิต และมีผู้ติดตามใน Facebook กว่า 120,000 คนทั้งในบัญชีส่วนตัวและแฟนเพจ ภาพของเขาได้ปรากฎอยู่ในสิ่งพิมพ์หลายสื่อทั่วโลก รวมทั้งหน้าปกของเอเชียนจีโอกราฟิก และปฏิทินขององค์การยูนิเซฟหลายครั้ง</p>

            <p>ในจำนวนช่างภาพรายใหญ่ในระดับโลกก็มีอยู่เป็นจำนวนไม่น้อยที่ได้เอ่ยปากชื่นชมผลงานของแมนนี่ อาทิเช่นในปี 2009 สก็อตต์ เคลบี้ (Scott Kelby) ได้พูดถึงเขาว่า "มีวิสัยทัศน์ที่มหัศจรรย์" และเขายังได้ "สรรค์สร้างเวทมนตร์บริสุทธิ์" และยกย่องให้เป็น "1 ใน 5 ช่างภาพที่ดีที่สุดในโลกที่คุณาจไม่เคยได้ยินชื่อ" และยังมีช่างภาพอย่างแซคค์ อเรียส (Zack Arias) กูรูเรื่องการถ่ายภาพได้กล่าวว่าวิสัยทัศน์ของแมนนี่นั้นไปไกลเกินกว่าการถ่ายภาพแล้ว และเมื่อปีที่ผ่านมาบล็อกเกอร์ชื่อดังซึ่งมีผู้ติดตามกว่า 1.5 ล้านคนใน boredpanda.com ได้จัดอันดับให้เขาติด 1 ใน 10 อันดับช่างภาพที่มีชื่อเสียงมากที่สุดในโลกอีกด้วย</p>

            <p>โดยความเป็นจริงนั้นแมนนี่ก็ประสบความสำเร็จมาแล้วอย่างมากมาย และได้รับความเคารพเชื่อถืออย่างสูงจนถูกเชิญให้เป็นกรรมการตัดสินภาพถ่ายจากผู้เข้าแข่งขันในต่างประเทศ เช่นเดียวกับการพูดคุยในงานประชุมการถ่ายภาพในต่างประเทศควบคู่กับบุคคลที่มีชื่อเสียง อาทิโจอี้ รอวเรนซ์ (Joey Lawrence), ไมเคิล ยามาชิตะ (Michael Yamashita), แซค อเรียส, และสตีฟ แมคเคอร์รี่ (Steve McCurry)</p>

            <p>แมนนี่ยังเป็นที่ปรึกษาและวิทยากรระดับสูงจากการอบรมมากกว่า 150 เวิร์คช็อปทั่วโลกตั้งแต่ปี 2007 ซึ่งเขาได้เป็นวิทยากรให้กับนักเรียนหลายพันคน จนทำให้ประสบความสำเร็จในสายงานอาชีพของตนเองไปแล้วอย่างมากมาย เขายังได้ร่วมงานกับนายแบบนางแบบเป็นจำนวนมาก โดยเฉพาะแบบแสดงที่ได้รับรางวัลชนะการประกวดในระดับนานาชาติ และบุคคลที่มีชื่อเสียงอีกมากมาย</p>

            <p>แมนนี่ ลิโบรโดมาจากลัมบูนัว อิโลอิโล ประเทศฟิลิปปินส์ เขาจบการศึกษาในระดับมัธยมและจบปริญญาตรีด้านการศึกษามาจากมหาวิทยาลัยวิซายาในฟิลิปปินส์ ก่อนที่เขาจะเข้าสู่วงการถ่ายภาพเต็มตัวเขาก็เคยเป็นครูในโรงเรียนมัธยมนานาชาติชั้นนำในประเทศไทย</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>มานูเอล แอล. ลิโบรโด จูเนียร์ (Manuel L. Librodo JR.) หรือแมนนี่ ลิโบรโด เป็นช่างภาพตกแต่งระดับสูง ผู้ช่วยชาญด้านภาพท่องเที่ยว, ภาพบุคคลอันมีเสน่ห์, และภาพถ่ายแฟชั่น เขาเป็นที่นิยมติดตามในหมู่แฟนๆ ช่างภาพซึ่งเห็นได้ชัดจากบัญชี Pbase ของเขาที่มียอดสูงถึง 27 ล้านฮิต และมีผู้ติดตามใน Facebook กว่า 120,000 คนทั้งในบัญชีส่วนตัวและแฟนเพจ ภาพของเขาได้ปรากฎอยู่ในสิ่งพิมพ์หลายสื่อทั่วโลก รวมทั้งหน้าปกของเอเชียนจีโอกราฟิก และปฏิทินขององค์การยูนิเซฟหลายครั้ง</p>

            <p>ในจำนวนช่างภาพรายใหญ่ในระดับโลกก็มีอยู่เป็นจำนวนไม่น้อยที่ได้เอ่ยปากชื่นชมผลงานของแมนนี่ อาทิเช่นในปี 2009 สก็อตต์ เคลบี้ (Scott Kelby) ได้พูดถึงเขาว่า "มีวิสัยทัศน์ที่มหัศจรรย์" และเขายังได้ "สรรค์สร้างเวทมนตร์บริสุทธิ์" และยกย่องให้เป็น "1 ใน 5 ช่างภาพที่ดีที่สุดในโลกที่คุณาจไม่เคยได้ยินชื่อ" และยังมีช่างภาพอย่างแซคค์ อเรียส (Zack Arias) กูรูเรื่องการถ่ายภาพได้กล่าวว่าวิสัยทัศน์ของแมนนี่นั้นไปไกลเกินกว่าการถ่ายภาพแล้ว และเมื่อปีที่ผ่านมาบล็อกเกอร์ชื่อดังซึ่งมีผู้ติดตามกว่า 1.5 ล้านคนใน boredpanda.com ได้จัดอันดับให้เขาติด 1 ใน 10 อันดับช่างภาพที่มีชื่อเสียงมากที่สุดในโลกอีกด้วย</p>

            <p>โดยความเป็นจริงนั้นแมนนี่ก็ประสบความสำเร็จมาแล้วอย่างมากมาย และได้รับความเคารพเชื่อถืออย่างสูงจนถูกเชิญให้เป็นกรรมการตัดสินภาพถ่ายจากผู้เข้าแข่งขันในต่างประเทศ เช่นเดียวกับการพูดคุยในงานประชุมการถ่ายภาพในต่างประเทศควบคู่กับบุคคลที่มีชื่อเสียง อาทิโจอี้ รอวเรนซ์ (Joey Lawrence), ไมเคิล ยามาชิตะ (Michael Yamashita), แซค อเรียส, และสตีฟ แมคเคอร์รี่ (Steve McCurry)</p>

            <p>แมนนี่ยังเป็นที่ปรึกษาและวิทยากรระดับสูงจากการอบรมมากกว่า 150 เวิร์คช็อปทั่วโลกตั้งแต่ปี 2007 ซึ่งเขาได้เป็นวิทยากรให้กับนักเรียนหลายพันคน จนทำให้ประสบความสำเร็จในสายงานอาชีพของตนเองไปแล้วอย่างมากมาย เขายังได้ร่วมงานกับนายแบบนางแบบเป็นจำนวนมาก โดยเฉพาะแบบแสดงที่ได้รับรางวัลชนะการประกวดในระดับนานาชาติ และบุคคลที่มีชื่อเสียงอีกมากมาย</p>

            <p>แมนนี่ ลิโบรโดมาจากลัมบูนัว อิโลอิโล ประเทศฟิลิปปินส์ เขาจบการศึกษาในระดับมัธยมและจบปริญญาตรีด้านการศึกษามาจากมหาวิทยาลัยวิซายาในฟิลิปปินส์ ก่อนที่เขาจะเข้าสู่วงการถ่ายภาพเต็มตัวเขาก็เคยเป็นครูในโรงเรียนมัธยมนานาชาติชั้นนำในประเทศไทย</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Manny</span>
                </p>
                <img data-original="img/profile/ph/manny/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Manny">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/manny/quote-1-th.png" width="280" height="224" alt="Manny's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/manny/quote-2-th.png" width="284" height="366" alt="Manny's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ทุกสิ่งต้องถึงที่สุด มันอาจจะสวยงามมากที่สุด หรือแสดงความสุดยอด "ในแบบอื่น" ผมให้ความสนใจเสมอในสิ่งที่อาจอุดมไปด้วยสีสันแม้จะอยู่ในจุดที่มองไม่เห็นได้ด้วยสายตา สายตาผมก็ต้องค้นหาประกายแสงที่งดงามจากสิ่งเหล่านั้น มันจึงเป็นเรื่องที่น่าตื่นเต้นมากที่ผมได้มองเห็นและค้นพบมนต์ขลังอยู่ภายในทุกสิ่งรอบตัว เกิดเป็นความคิดสร้างสรรค์และวิสัยทัศน์ในตัวผม ทั้งหมดที่กล่าวมานี้ช่วยให้ผมชัดเจน และชัดเจนมากขึ้นในการสร้างสรรค์สิ่งที่ดีต่อทุกสายตา</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพคือชีวิตของผม ผมกินอยู่และหายใจกับการถ่ายภาพตั้งแต่ผมหยิบกล้องขึ้นมาและถ่ายภาพเป็นอาชีพ มันเป็นจุดยืนที่น่าสนุกสนานและเป็นตัวกำหนดการดำรงอยู่ของผม ถ้าผมเครียดกับการถ่ายภาพชีวิตของผมก็จะเครียดตามไปด้วย ดังนั้นการถ่ายภาพของผมจึงมีแต่ความสุขที่เกิดขึ้นเอง (ก็เป็นส่วนใหญ่นะ) และเพลิดเพลินไปกับมัน</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Manny">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปกรณ์ของผมจะต้องเข้ากับสไตล์การถ่ายภาพของผม เพราะผมคือ "ผู้ใช้ความรู้สึก" ไม่ใช่ "ผู้ใช้ความคิด" และผมก็ไม่ได้เป็นช่างภาพทางเทคนิค ดังนั้นกล้องของผมจึงต้องมีแต่ความคิดสร้างสรรค์ ความเป็นนักถ่ายภาพของผมมันเกิดขึ้นเอง ดังนั้นผมจึงต้องการเลนส์ทุกตัวที่ใช้กับกล้องของผมได้ทุกเวลาที่ต้องการ ทุกสิ่งควรเป็นเรื่องง่าย และเข้าใจได้ในการใช้งาน เพราะผมค่อนข้างจะมุ่งเน้นไปที่การถ่ายภาพอย่างเป็นศิลปะมากกว่าความกังวลที่จะสร้างภาพให้มีเทคนิคที่สมบูรณ์แบบ</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">พี่ชายของผมโจเซ โบบอย ลิโบรโด (Jose Boboy Librodo) เขาเป็นศิลปินในครอบครัว เขาสอนให้ผมรู้สึกพื้นฐานของศิลปะในแบบที่ง่ายมาก เขาคือตัวกระตุ้นและผลักดันให้ผมกลายเป็นศิลปินที่ดีกว่า นอกจากนี้ฉันยังมีไอดอลที่ดีที่สุดอย่างสตัฟ แมคเคอร์รี่ (Steve McCurry) ที่ผมชื่นชอบภาพของเขาภาพหนึ่ง เป็นภาพของสาวชาวอัฟกานิสถาน ซึ่งมีองค์ประกอบทั้งหมดที่ผมมองหาในภาพถ่ายสักภาพ</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มันคือเกม "การคาดเดา" เป็นเรื่องวุ่นวายที่จะต้องกะการเปิดรับแสง, สมดุลแสง, และค่าอื่นๆ ให้เหมาะกับภาพที่มีลักษณะเฉพาะ ซึ่ง a7 จะแสดงตัวอย่างให้คุณดูก่อนการกดชัตเตอร์ นอกจากนี้หากใครสักคนต้องเดินทางและถ่ายภาพเป็นจำนวนมาก ผมก็ต้องหาอุปกรณ์ที่ครอบคลุมการทำงานที่จำเป็นได้ทุกอย่าง และต้องมีน้ำหนักเบา a7 จึงเป็นเหมือนดั่งสวรรค์มาโปรด ด้วยเรือนร่างเล็กพริกขี้หนู ที่มอบผลลัพธ์อันยิ่งใหญ่และน่าอัศจรรย์ยิ่งนัก</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">a7 คือส่วนเติมเต็มให้ผม มันช่วยให้ผมดูดี (555) แต่เอาจริงๆ แล้วมันมีลักษณะที่เพรียวบางและดูหล่อเหลาเอาการมาก และผมยังต้องพูดถึงเรื่องน้ำหนักที่เบากว่า, ฉลาดกว่า, และสะดวกสบายยิ่งกว่า ทุกๆ อย่างที่ผมต้องการในกล้องนั้นมีอยู่แล้วในกล้องตระกูล a7 แล้วทำไมผมต้องมองหาอะไรอย่างอื่นอีก?</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">จริงๆ มีเยอะมาก แต่ผมขอแบ่งออกเป็น 2 กลุ่มหลักๆ คือ:
                        <br/>
                        <br/> ประการแรก ลักษณะโดยรวมของมันรวมทั้งขนาดและน้ำหนักทำให้เป็นเรื่องง่ายมากที่จะเคลื่อนย้าย หรือพกไปมา และผมสามารถแพ็คมันใส่กระเป๋ากับเลนส์ที่ต้องการใช้ได้ ลักษณะภายนอกก็ดูเก่งกาจ ดูดี และสวยงาม ผมยังต้องอธิบายอะไรเพิ่มเติมอีกไหม?
                        <br/>
                        <br/> ประการที่ 2 คือผลลัพธ์ของภาพ มันมีความลึกของเฉดสีและช่วงความกว้างของแสงที่สูงจนน่าตื่นตาตื่นใจ ขณะที่ผมต้องพึ่งพาสีและแสงจากธรรมชาติเป็นอย่างมากในการสร้างการสื่อสารของศิลปะในภาพที่ผมถ่าย ผมก็ต้องการภาพที่คมชัดและโดดเด่น และกล้องตระกูล a7 ก็มอบสิ่งนั้นให้ผมแล้ว
                    </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ยอดเยี่ยม! ผมสามารถตอบได้ทันทีแม้กระทั่งก่อนการกดชัตเตอร์ มุมมองที่ผมเห็นนั้นมันช่างสวยงดงดงามและไม่มีพื้นที่เหลือสำหรับความผิดพลาด เพราะคุณสามารถปรับแต่งและดูผลลัพธ์ต่างๆ ได้ทันทีแม้จะยังไม่ได้กดถ่ายภาพ ซึ่งนั่นคือสาระสำคัญของการถ่ายภาพดิจิตอล</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Manny">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ที่ผมชื่นชอบคือเลนส์ในกลุ่ม 24-70 ม.ม. ของ Zeiss ซึ่งผมได้ถ่ายภาพของหญิงชาวเสียมราฐในกัมพูชาคนหนึ่งในทริปการถ่ายภาพครั้งนั้น ซึ่งมันมีความคมชัดอย่างไม่น่าเชื่อ</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">โซนี่ a7R และ a7II พร้อมเลนส์ Zeiss 24-70 ม.ม., 70-200 ม.ม. และเลนส์ 55 ม.ม. และพกความกะตือรือร้นไปด้วยอย่างเต็มเปี่ยม</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Manny</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/manny/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Manny"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ทุกสิ่งต้องถึงที่สุด มันอาจจะสวยงามมากที่สุด หรือแสดงความสุดยอด "ในแบบอื่น" ผมให้ความสนใจเสมอในสิ่งที่อาจอุดมไปด้วยสีสันแม้จะอยู่ในจุดที่มองไม่เห็นได้ด้วยสายตา สายตาผมก็ต้องค้นหาประกายแสงที่งดงามจากสิ่งเหล่านั้น มันจึงเป็นเรื่องที่น่าตื่นเต้นมากที่ผมได้มองเห็นและค้นพบมนต์ขลังอยู่ภายในทุกสิ่งรอบตัว เกิดเป็นความคิดสร้างสรรค์และวิสัยทัศน์ในตัวผม ทั้งหมดที่กล่าวมานี้ช่วยให้ผมชัดเจน และชัดเจนมากขึ้นในการสร้างสรรค์สิ่งที่ดีต่อทุกสายตา</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพคือชีวิตของผม ผมกินอยู่และหายใจกับการถ่ายภาพตั้งแต่ผมหยิบกล้องขึ้นมาและถ่ายภาพเป็นอาชีพ มันเป็นจุดยืนที่น่าสนุกสนานและเป็นตัวกำหนดการดำรงอยู่ของผม ถ้าผมเครียดกับการถ่ายภาพชีวิตของผมก็จะเครียดตามไปด้วย ดังนั้นการถ่ายภาพของผมจึงมีแต่ความสุขที่เกิดขึ้นเอง (ก็เป็นส่วนใหญ่นะ) และเพลิดเพลินไปกับมัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปกรณ์ของผมจะต้องเข้ากับสไตล์การถ่ายภาพของผม เพราะผมคือ "ผู้ใช้ความรู้สึก" ไม่ใช่ "ผู้ใช้ความคิด" และผมก็ไม่ได้เป็นช่างภาพทางเทคนิค ดังนั้นกล้องของผมจึงต้องมีแต่ความคิดสร้างสรรค์ ความเป็นนักถ่ายภาพของผมมันเกิดขึ้นเอง ดังนั้นผมจึงต้องการเลนส์ทุกตัวที่ใช้กับกล้องของผมได้ทุกเวลาที่ต้องการ ทุกสิ่งควรเป็นเรื่องง่าย และเข้าใจได้ในการใช้งาน เพราะผมค่อนข้างจะมุ่งเน้นไปที่การถ่ายภาพอย่างเป็นศิลปะมากกว่าความกังวลที่จะสร้างภาพให้มีเทคนิคที่สมบูรณ์แบบ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">พี่ชายของผมโจเซ โบบอย ลิโบรโด (Jose Boboy Librodo) เขาเป็นศิลปินในครอบครัว เขาสอนให้ผมรู้สึกพื้นฐานของศิลปะในแบบที่ง่ายมาก เขาคือตัวกระตุ้นและผลักดันให้ผมกลายเป็นศิลปินที่ดีกว่า นอกจากนี้ฉันยังมีไอดอลที่ดีที่สุดอย่างสตัฟ แมคเคอร์รี่ (Steve McCurry) ที่ผมชื่นชอบภาพของเขาภาพหนึ่ง เป็นภาพของสาวชาวอัฟกานิสถาน ซึ่งมีองค์ประกอบทั้งหมดที่ผมมองหาในภาพถ่ายสักภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มันคือเกม "การคาดเดา" เป็นเรื่องวุ่นวายที่จะต้องกะการเปิดรับแสง, สมดุลแสง, และค่าอื่นๆ ให้เหมาะกับภาพที่มีลักษณะเฉพาะ ซึ่ง a7 จะแสดงตัวอย่างให้คุณดูก่อนการกดชัตเตอร์ นอกจากนี้หากใครสักคนต้องเดินทางและถ่ายภาพเป็นจำนวนมาก ผมก็ต้องหาอุปกรณ์ที่ครอบคลุมการทำงานที่จำเป็นได้ทุกอย่าง และต้องมีน้ำหนักเบา a7 จึงเป็นเหมือนดั่งสวรรค์มาโปรด ด้วยเรือนร่างเล็กพริกขี้หนู ที่มอบผลลัพธ์อันยิ่งใหญ่และน่าอัศจรรย์ยิ่งนัก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">a7 คือส่วนเติมเต็มให้ผม มันช่วยให้ผมดูดี (555) แต่เอาจริงๆ แล้วมันมีลักษณะที่เพรียวบางและดูหล่อเหลาเอาการมาก และผมยังต้องพูดถึงเรื่องน้ำหนักที่เบากว่า, ฉลาดกว่า, และสะดวกสบายยิ่งกว่า ทุกๆ อย่างที่ผมต้องการในกล้องนั้นมีอยู่แล้วในกล้องตระกูล a7 แล้วทำไมผมต้องมองหาอะไรอย่างอื่นอีก?</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">จริงๆ มีเยอะมาก แต่ผมขอแบ่งออกเป็น 2 กลุ่มหลักๆ คือ:
                                <br/>
                                <br/> ประการแรก ลักษณะโดยรวมของมันรวมทั้งขนาดและน้ำหนักทำให้เป็นเรื่องง่ายมากที่จะเคลื่อนย้าย หรือพกไปมา และผมสามารถแพ็คมันใส่กระเป๋ากับเลนส์ที่ต้องการใช้ได้ ลักษณะภายนอกก็ดูเก่งกาจ ดูดี และสวยงาม ผมยังต้องอธิบายอะไรเพิ่มเติมอีกไหม?
                                <br/>
                                <br/> ประการที่ 2 คือผลลัพธ์ของภาพ มันมีความลึกของเฉดสีและช่วงความกว้างของแสงที่สูงจนน่าตื่นตาตื่นใจ ขณะที่ผมต้องพึ่งพาสีและแสงจากธรรมชาติเป็นอย่างมากในการสร้างการสื่อสารของศิลปะในภาพที่ผมถ่าย ผมก็ต้องการภาพที่คมชัดและโดดเด่น และกล้องตระกูล a7 ก็มอบสิ่งนั้นให้ผมแล้ว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ยอดเยี่ยม! ผมสามารถตอบได้ทันทีแม้กระทั่งก่อนการกดชัตเตอร์ มุมมองที่ผมเห็นนั้นมันช่างสวยงดงดงามและไม่มีพื้นที่เหลือสำหรับความผิดพลาด เพราะคุณสามารถปรับแต่งและดูผลลัพธ์ต่างๆ ได้ทันทีแม้จะยังไม่ได้กดถ่ายภาพ ซึ่งนั่นคือสาระสำคัญของการถ่ายภาพดิจิตอล</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ที่ผมชื่นชอบคือเลนส์ในกลุ่ม 24-70 ม.ม. ของ Zeiss ซึ่งผมได้ถ่ายภาพของหญิงชาวเสียมราฐในกัมพูชาคนหนึ่งในทริปการถ่ายภาพครั้งนั้น ซึ่งมันมีความคมชัดอย่างไม่น่าเชื่อ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">โซนี่ a7R และ a7II พร้อมเลนส์ Zeiss 24-70 ม.ม., 70-200 ม.ม. และเลนส์ 55 ม.ม. และพกความกะตือรือร้นไปด้วยอย่างเต็มเปี่ยม</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
