<div class="thai" id="profile-vin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">แลนด์สเคป + ช่างภาพงานแต่ง</p>
                <p class="name">Vin Buddy</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ไทย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">แลนด์สเคป + ช่างภาพงานแต่ง</p>
                    <p class="name">Vin Buddy</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ไทย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ประวัติ คุณวิน ภูริต เนติมงคลชัย ช่างภาพและ Wedding Planner ชื่อดังของเมืองไทย ด้านการศึกษา จบการศึกษาปริญญาตรีจากมหาวิทยาลัยกรุงเทพ คณะนิเทศศาสตร์ ภาควิชาโฆษณา โทประชาสัมพันธ์ เป็นผู้ก่อตั้ง Buddy’s Wedding ที่รับถ่ายภาพงานแต่งให้กับดาราชื่อดังมาแล้วมากมาย รวมถึงการถ่ายภาพ Wedding ทั้งในและต่างประเทศมาแล้วเป็น 1,000 คู่</p>

            <p>เมื่อตอนวัยเด็กคุณวินมีความฝันที่อยากจะเป็นนักดนตรี แต่บังเอิญพบกับความสนุกของการถ่ายภาพ จึงยอมทิ้งความฝันในวัยเด็กและมุ่งมั่น จริงจังในเรื่องของการถ่ายภาพด้วยการไปเรียนต่อด้านการถ่ายภาพที่ประเทศออสเตรเลีย พอกลับมา เขาก็สานต่อความฝันที่อยากมีธุรกิจส่วนตัว ความรักในการถ่ายภาพ และความรักสัตว์มารวมกัน เกิดเป็นสตูดิโอถ่ายภาพสัตว์เลี้ยงชื่อ Buddy's Poppy ต่อมาลูกค้าพอใจในผลงาน กลายเป็นจุดเริ่มต้นที่ทาให้เกิดเป็นการถ่ายภาพพรีเวดดิ้ง แล้วนั่นก็กลายเป็นจุดเริ่มต้นของ ""Buddy′s wedding"" จนสามารถพิสูจน์ความสามารถของตนเองได้สาเร็จกลายเป็นช่างภาพงานแต่งงานที่ถูกพูดถึงมากที่สุดและถ่ายภาพคู่รักมากกว่า 200 คู่ต่อปี นอกจากนั้นคุณวิน ภูริต เนติมงคลชัย ยังเป็น Brand Ambassdor ให้กับแบรนด์ระดับโลก อาทิ Gopro , Sony, Manfrotto , และ Incase แต่ตอนนี้คนส่วนใหญ่จะเข้าใจผิดว่าคุณวินนั้นรับแต่งานถ่ายภาพ Wedding ซึ่งจริงๆแล้วคุณวินรับงานถ่ายภาพทุกอย่าง รวมถึงงานด้าน Commercial ต่างๆด้วย และยังเปิดโอกาสให้คนที่สนใจการถ่ายภาพด้วยการทาการจัด Workshop ให้กับผู้ที่สนใจทุกๆปีอีกด้วย</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ประวัติ คุณวิน ภูริต เนติมงคลชัย ช่างภาพและ Wedding Planner ชื่อดังของเมืองไทย ด้านการศึกษา จบการศึกษาปริญญาตรีจากมหาวิทยาลัยกรุงเทพ คณะนิเทศศาสตร์ ภาควิชาโฆษณา โทประชาสัมพันธ์ เป็นผู้ก่อตั้ง Buddy’s Wedding ที่รับถ่ายภาพงานแต่งให้กับดาราชื่อดังมาแล้วมากมาย รวมถึงการถ่ายภาพ Wedding ทั้งในและต่างประเทศมาแล้วเป็น 1,000 คู่</p>

            <p>เมื่อตอนวัยเด็กคุณวินมีความฝันที่อยากจะเป็นนักดนตรี แต่บังเอิญพบกับความสนุกของการถ่ายภาพ จึงยอมทิ้งความฝันในวัยเด็กและมุ่งมั่น จริงจังในเรื่องของการถ่ายภาพด้วยการไปเรียนต่อด้านการถ่ายภาพที่ประเทศออสเตรเลีย พอกลับมา เขาก็สานต่อความฝันที่อยากมีธุรกิจส่วนตัว ความรักในการถ่ายภาพ และความรักสัตว์มารวมกัน เกิดเป็นสตูดิโอถ่ายภาพสัตว์เลี้ยงชื่อ Buddy's Poppy ต่อมาลูกค้าพอใจในผลงาน กลายเป็นจุดเริ่มต้นที่ทาให้เกิดเป็นการถ่ายภาพพรีเวดดิ้ง แล้วนั่นก็กลายเป็นจุดเริ่มต้นของ ""Buddy′s wedding"" จนสามารถพิสูจน์ความสามารถของตนเองได้สาเร็จกลายเป็นช่างภาพงานแต่งงานที่ถูกพูดถึงมากที่สุดและถ่ายภาพคู่รักมากกว่า 200 คู่ต่อปี นอกจากนั้นคุณวิน ภูริต เนติมงคลชัย ยังเป็น Brand Ambassdor ให้กับแบรนด์ระดับโลก อาทิ Gopro , Sony, Manfrotto , และ Incase แต่ตอนนี้คนส่วนใหญ่จะเข้าใจผิดว่าคุณวินนั้นรับแต่งานถ่ายภาพ Wedding ซึ่งจริงๆแล้วคุณวินรับงานถ่ายภาพทุกอย่าง รวมถึงงานด้าน Commercial ต่างๆด้วย และยังเปิดโอกาสให้คนที่สนใจการถ่ายภาพด้วยการทาการจัด Workshop ให้กับผู้ที่สนใจทุกๆปีอีกด้วย</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/>กับ
                    <span class="intv-photographer">Vin</span>
                </p>
                <img data-original="img/profile/th/vin/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Vin">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/vin/quote-1-th.png" width="309" height="291" alt="Vin's quote">

                <img class="quote-2 img-responsive" src="img/profile/th/vin/quote-2-th.png" width="277" height="229" alt="Vin's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมเป็นคนชอบเก็บโมเม้นต์ ผมคิดว่าถ้าโมเม้นต์นั้นมันหายไปแล้วมันก็ไม่อาจกลับมาใหม่ได้อีกเลย เพราะมันมีแค่เสี้ยววินาทีเดียวเอง</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อย่างที่ผมเคยบอกเอาไว้ ว่าผมเป็นคนชอบเก็บเรื่องราวต่างๆ ในชีวิต และมันก็สำคัญ เช่นยิ่งตอนนี้ผมมีลูก ผมเก็บรูปเค้าทุกวัน เพราะตอนนี้ลูกอายุเท่านี้ มันเป็นแค่ช่วงเวลาสั้นๆ เท่านั้นเอง แปบเดียวเค้าก็โตแล้วก็ไม่เหมือนเดิมอีกต่อไป และเรื่องงานก็สำคัญเพราะการถ่ายรูปมันคืออาชีพหลักครับ ถ้าไม่ทำก็ไม่มีกินครับ (ฮา) </div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-2.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อยากให้อุปกรณ์ที่ใช้ มันตอบสนองสมองผมได้ อยากให้มันตอบสนองความคิดผมได้ อย่างเช่นพอผมคิดปั๊บ แล้วกล้องมันตอบสนองได้ทันที ผมว่าถ้ามันได้ในทุกๆ ด้านมันจะประเสริฐมากกับการทำงาน</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในหลวงครับ ทรงเป็นแรงบรรดาลใจในการถ่ายภาพของผม</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> ผมเป็นคนงานเยอะ และงานยุ่ง ทำแทบตลอดเวลา ก่อนที่ผมจะรู้จัก a7 เนี่ย เพื่อผมบอกว่าผมเป็นคนที่ไม่ชอบถ่ายภาพ คือถ้าไม่ได้อยู่ในงาน ผมจะไม่จับกล้องเลยเพราะผมรู้สึกว่าเมื่อผมจับกล้องมันคือผมทำงาน พอรู้จัก a7 เนี่ย มันเป็นอะไรที่ไปกับเราได้ตลอด ผมสามารถพกกล้องตัวเล็กๆ และก็มีประสิทธิภาพค่อนข้างรุนแรง ผมสามารถถือกล้องไปถ่าย ขึ้นห้อง ลงห้อง พอรู้ว่าจะไปถ่ายรูปก็พกไปนู้นไปนี่ ได้ตลอด มันก็ทำให้ปลุกความเป็นช่างภาพของตัวเองขึ้นมาจากเดิมได้ค่อนข้างเยอะเลยทีเดียว อย่างที่บอกครับ เมื่อก่อนผมถ่ายแต่งาน ถ้าไม่ถ่ายงานก็คือไม่จับกล้องเลย แต่ a7 ทำให้จับกล้องเยอะมาก และก็ถ่ายรูปเยอะขึ้นมากที่ไม่ใช่งาน ไปเดินห้างก็ถ่าย ไปไหนมาไหนก็ถ่าย</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">รข้อแรกที่เห็น a7 อยู่ในสายตาก็คือเรื่องของ Quality ของไฟล์ครับ และก็เรื่องของไซส์ที่คอมแพ็ค และก็พกพาง่าย สะดวก เพราะผมเดินทางบ่อย ก็ช่วยได้เยอะมาก</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมว่าเรื่องของไซส์และเรื่องของ Quality ของไฟล์ที่ค่อนข้างยืดหยุ่นสูง ไดนามิคเร้นจ์สูง </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ให้ 8 เต็ม10 ครับ ถ้าถามผมนะ ผมคิดว่าจะมีแค่บางส่วนที่อยากให้ปรับปรุง เช่น เรื่องของบอดี้เชป และกริปในการจับ ฟังก์ชั่นต่างๆ ของกล้องก็สำคัญ  ในการช่วยให้ช่างถ่ายภาพตั้งค่า premise เพื่อการถ่ายภาพที่ดี</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-3.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">น่าจะเป็น 24-70 G Master ครับ</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">กระเป๋าสำหรับทำงานจะมี a7RM2 สองตัวครับ a7SM2 อีกหนึ่งตัวครับ และมี A6300 แล้วก็เลนส์ช่วง 55, 35, 70-200, 25 Baltis, 85, 75 Voigtlander, 21 Zeiss, 16-35 เท่าที่จำได้นะครับ แต่ยังมีอีก ถ้าโดยส่วนตัวไปไหนมาไหนคนเดียว ก็จะมีแค่ a7RM2 แค่ตัวเดียว กับเลนส์ 85, 16-35 และ 55 ประมาณนี้ครับ ที่พกบ่อยจะเป็น 35 กับ 55 เพราะมันเล็ก เวลาออกจากบ้านจะชอบพกอะไรเล็กๆ ยิ่งเวลาไปต่างประเทศ ยิ่งพยายามจะเอาเล็กๆ เบาๆ ไป เพราะถ้าขนของเหนื่อย ก็ขี้เกียจถ่ายรูปแล้วครับ</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Vin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/vin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Vin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเป็นคนชอบเก็บโมเม้นต์ ผมคิดว่าถ้าโมเม้นต์นั้นมันหายไปแล้วมันก็ไม่อาจกลับมาใหม่ได้อีกเลย เพราะมันมีแค่เสี้ยววินาทีเดียวเอง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อย่างที่ผมเคยบอกเอาไว้ ว่าผมเป็นคนชอบเก็บเรื่องราวต่างๆ ในชีวิต และมันก็สำคัญ เช่นยิ่งตอนนี้ผมมีลูก ผมเก็บรูปเค้าทุกวัน เพราะตอนนี้ลูกอายุเท่านี้ มันเป็นแค่ช่วงเวลาสั้นๆ เท่านั้นเอง แปบเดียวเค้าก็โตแล้วก็ไม่เหมือนเดิมอีกต่อไป และเรื่องงานก็สำคัญเพราะการถ่ายรูปมันคืออาชีพหลักครับ ถ้าไม่ทำก็ไม่มีกินครับ (ฮา) </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อยากให้อุปกรณ์ที่ใช้ มันตอบสนองสมองผมได้ อยากให้มันตอบสนองความคิดผมได้ อย่างเช่นพอผมคิดปั๊บ แล้วกล้องมันตอบสนองได้ทันที ผมว่าถ้ามันได้ในทุกๆ ด้านมันจะประเสริฐมากกับการทำงาน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในหลวงครับ ทรงเป็นแรงบรรดาลใจในการถ่ายภาพของผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเป็นคนงานเยอะ และงานยุ่ง ทำแทบตลอดเวลา ก่อนที่ผมจะรู้จัก a7 เนี่ย เพื่อผมบอกว่าผมเป็นคนที่ไม่ชอบถ่ายภาพ คือถ้าไม่ได้อยู่ในงาน ผมจะไม่จับกล้องเลยเพราะผมรู้สึกว่าเมื่อผมจับกล้องมันคือผมทำงาน พอรู้จัก a7 เนี่ย มันเป็นอะไรที่ไปกับเราได้ตลอด ผมสามารถพกกล้องตัวเล็กๆ และก็มีประสิทธิภาพค่อนข้างรุนแรง ผมสามารถถือกล้องไปถ่าย ขึ้นห้อง ลงห้อง พอรู้ว่าจะไปถ่ายรูปก็พกไปนู้นไปนี่ ได้ตลอด มันก็ทำให้ปลุกความเป็นช่างภาพของตัวเองขึ้นมาจากเดิมได้ค่อนข้างเยอะเลยทีเดียว อย่างที่บอกครับ เมื่อก่อนผมถ่ายแต่งาน ถ้าไม่ถ่ายงานก็คือไม่จับกล้องเลย แต่ a7 ทำให้จับกล้องเยอะมาก และก็ถ่ายรูปเยอะขึ้นมากที่ไม่ใช่งาน ไปเดินห้างก็ถ่าย ไปไหนมาไหนก็ถ่าย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">รข้อแรกที่เห็น a7 อยู่ในสายตาก็คือเรื่องของ Quality ของไฟล์ครับ และก็เรื่องของไซส์ที่คอมแพ็ค และก็พกพาง่าย สะดวก เพราะผมเดินทางบ่อย ก็ช่วยได้เยอะมาก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมว่าเรื่องของไซส์และเรื่องของ Quality ของไฟล์ที่ค่อนข้างยืดหยุ่นสูง ไดนามิคเร้นจ์สูง </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ให้ 8 เต็ม10 ครับ ถ้าถามผมนะ ผมคิดว่าจะมีแค่บางส่วนที่อยากให้ปรับปรุง เช่น เรื่องของบอดี้เชป และกริปในการจับ ฟังก์ชั่นต่างๆ ของกล้องก็สำคัญ  ในการช่วยให้ช่างถ่ายภาพตั้งค่า premise เพื่อการถ่ายภาพที่ดี</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">น่าจะเป็น 24-70 G Master ครับ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">กระเป๋าสำหรับทำงานจะมี a7RM2 สองตัวครับ a7SM2 อีกหนึ่งตัวครับ และมี A6300 แล้วก็เลนส์ช่วง 55, 35, 70-200, 25 Baltis, 85, 75 Voigtlander, 21 Zeiss, 16-35 เท่าที่จำได้นะครับ แต่ยังมีอีก ถ้าโดยส่วนตัวไปไหนมาไหนคนเดียว ก็จะมีแค่ a7RM2 แค่ตัวเดียว กับเลนส์ 85, 16-35 และ 55 ประมาณนี้ครับ ที่พกบ่อยจะเป็น 35 กับ 55 เพราะมันเล็ก เวลาออกจากบ้านจะชอบพกอะไรเล็กๆ ยิ่งเวลาไปต่างประเทศ ยิ่งพยายามจะเอาเล็กๆ เบาๆ ไป เพราะถ้าขนของเหนื่อย ก็ขี้เกียจถ่ายรูปแล้วครับ</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
