<div class="thai" id="profile-fakrul">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ช่างภาพภูมิทัศน์</p>
                <p class="name">Fakrul Jamil</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">มาเลเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">ช่างภาพภูมิทัศน์</p>
                    <p class="name">Fakrul Jamil</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">มาเลเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ฟาครูล จามิล (Fakrul Jamil) มีความหลงใหลต่อการถ่ายภาพภูมิทัศน์เป็นอย่างมาก เขาเป็นช่างภาพที่อาศัยอยู่ในกรุงกัวลาลัมเปอร์ในประเทศมาเลเซีย เขามีความเชี่ยวชาญในการถ่ายภาพภูมิทัศน์ซึ่งมีแสงสวยที่สุดจากทุกๆ ที่ที่เป็นไปได้</p>

            <p>ในวันธรรมดาเขาจะถ่ายภาพที่เกี่ยวข้องกับการทำงาน 5-9 งาน แต่คุณอาจพบเห็นฟาครูลอยู่ในป่าและพื้นที่ห่างไกลของประเทศได้ในช่วงสุดสัปดาห์ และบ่อยครั้งที่เดินทางไปไกลข้ามโลก</p>

            <p>งานภาพถ่ายระดับมืออาชีพบางงานได้ส่งเขาไปไกลถึงบางสถานที่ที่สวยงามที่สุดในโลก ซึ่งเป็นประสบการณ์หนึ่งที่เขาชื่นชอบและกลายเป็นช่างภาพเต็มตัว</p>

            <p>เขาได้เดินทางไปยังหลายหลายนประเทศในโลกอย่างเช่นโซนโอเชียเนีย (ออสเตรเลียและนิวซีแลนด์), ยุโรป (ปารีส, มาดริด, เทเนริฟ, หมู่เกาะคานารี, ลอนดอน, แมนเชสเตอร์, และสกอตแลนด์) รวมทั้งเอเชีย (อินโดนีเซีย)</p>

            <p>"การถ่ายภาพได้มอบความคิดสร้างสรรค์ในธรรมชาติให้ผมอย่างรื่นรมณ์" เขากล่าว "มันสนุกและน่าตื่นเต้น ผมชอบที่จะได้เห็นวิวทิวทัศน์ที่สวยงาม และผมอยากแบ่งปันให้โลกได้ชม"</p>

            <p>ผลงานของฟาครูลสามารถชมได้ที่
                <a href="//www.fakruljamil.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:fakrul:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:fakrul:works:link', 'microsite|ilc:sea:thai|profile|fakrul|works|link');" target="_blank">www.fakruljamil.com</a>
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ฟาครูล จามิล (Fakrul Jamil) มีความหลงใหลต่อการถ่ายภาพภูมิทัศน์เป็นอย่างมาก เขาเป็นช่างภาพที่อาศัยอยู่ในกรุงกัวลาลัมเปอร์ในประเทศมาเลเซีย เขามีความเชี่ยวชาญในการถ่ายภาพภูมิทัศน์ซึ่งมีแสงสวยที่สุดจากทุกๆ ที่ที่เป็นไปได้</p>

            <p>ในวันธรรมดาเขาจะถ่ายภาพที่เกี่ยวข้องกับการทำงาน 5-9 งาน แต่คุณอาจพบเห็นฟาครูลอยู่ในป่าและพื้นที่ห่างไกลของประเทศได้ในช่วงสุดสัปดาห์ และบ่อยครั้งที่เดินทางไปไกลข้ามโลก</p>

            <p>งานภาพถ่ายระดับมืออาชีพบางงานได้ส่งเขาไปไกลถึงบางสถานที่ที่สวยงามที่สุดในโลก ซึ่งเป็นประสบการณ์หนึ่งที่เขาชื่นชอบและกลายเป็นช่างภาพเต็มตัว</p>

            <p>เขาได้เดินทางไปยังหลายหลายนประเทศในโลกอย่างเช่นโซนโอเชียเนีย (ออสเตรเลียและนิวซีแลนด์), ยุโรป (ปารีส, มาดริด, เทเนริฟ, หมู่เกาะคานารี, ลอนดอน, แมนเชสเตอร์, และสกอตแลนด์) รวมทั้งเอเชีย (อินโดนีเซีย)</p>

            <p>"การถ่ายภาพได้มอบความคิดสร้างสรรค์ในธรรมชาติให้ผมอย่างรื่นรมณ์" เขากล่าว "มันสนุกและน่าตื่นเต้น ผมชอบที่จะได้เห็นวิวทิวทัศน์ที่สวยงาม และผมอยากแบ่งปันให้โลกได้ชม"</p>

            <p>ผลงานของฟาครูลสามารถชมได้ที่
                <a href="//www.fakruljamil.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:fakrul:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:fakrul:works:link', 'microsite|ilc:sea:thai|profile|fakrul|works|link');" target="_blank">www.fakruljamil.com</a>
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Fakrul</span>
                </p>
                <img data-original="img/profile/my/fakrul/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Fakrul">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/fakrul/quote-1-th.png" width="310" height="224" alt="Fakrul's quote">

                <img id="th" class="quote-2 img-responsive center-block" src="img/profile/my/fakrul/quote-2-th.png" width="306" height="368" alt="Fakrul's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีความรักกับมุมมองและภาพถ่ายที่สวยงามอย่างชั่วนิรันดร์ ซึ่งได้พาตัวผมไปยังสถานที่ที่งดงามมาแล้วทั่วโลก เป็นประสบการณ์ด้านหนึ่งที่ผมชื่นชอบและก้าวเข้าสู่การเป็นช่างภาพ</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพได้กลายเป็นส่วนสำคัญส่วนหนึ่งในชีวิตของผม ผมชอบที่จะสำรวจความเป็นไปของโลกมากขึ้นในทุกๆ วัน แม้ว่าตอนนี้จะมีข้อจำกัดในเรื่องการงานที่ทำแบบเต็มเวลา แต่ผมก็ฝันว่าสักวันผมอยากจะเปลี่ยนตนเองให้กลายเป็นช่างภาพท่องเที่ยวเต็มเวลาบ้าง</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/fakrul/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Fakrul">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มันจะต้องมีความน่าเชื่อถือและทนทานพอที่จะป้องกันตนเองจากสิ่งแวดล้อมที่รุนแรงที่ผมมักจะเจอเมื่อออกผจญภัยไปยังที่ต่างๆ ทั้งอุณหภูมิต่ำกว่าจุดศูนย์, น้ำเค็ม, ละอองจากน้ำตก, หรือแม้แต่ฝน ซึ่งอุปกรณ์ที่ผมใช้จะต้องทนทานต่อเงื่อนไขเหล่านี้ได้ นอกเหนือจากนี้การมีช่วงความกว้างของแสงสูงก็เป็นหนึ่งในสิ่งสำคัญต่อการตามล่าหาแสงที่สวยที่สุด ไม่ว่าจะเป็นตอนพระอาทิตย์ขึ้นหรือพระอาทิตย์ตกที่แสงจะเต็มไปด้วยความคมสวยและมีมนต์ขลัง</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อลองโซ ดิแอซ (Alonso Diaz) ตำนานของช่างถ่ายภาพทิวทัศน์ทะเลซึ่งอาศัยอยู่ในประเทศโปรตุเกส และเขายังเป็นตัวแทนของแบรนด์โซนี่ในสหราชอาณาจักรอีกด้วย</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในฐานะช่างภาพภูมิทัศน์ ผมมักจะพบว่าตัวเองต้องอยู่ในถิ่นทุระกันดารบ่อยครั้งทั้งการเดินป่าและขึ้นเขา แต่ด้วยความเพรียวบางและน้ำหนักที่ลดลงของกล้อง Mirrorless อย่าง a7RII ก็ช่วยบรรเทาปัญหาในการเดินทางไปได้ และยังมาพร้อมกับคุณสมบัติที่น่าตื่นตาตื่นใจซึ่งเหมาะเจาะอย่างที่ผมต้องการพอดี</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">หลักๆ แล้วคือเรื่องของขนาดและน้ำหนักในตัวกล้อง แต่ที่เหนือกว่านั้นคือความละเอียดที่สูงถึง 42 ล้านพิกเซล เรียกได้ว่ามันคือของขวัญจากสวรรค์สู่มือของช่างถ่ายภาพภูมิทัศน์เลยทีเดียว</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ขนาดเล็กและกะทัดรัด, มีช่วงความกว้างของแสงสูง, และจุดโฟกัสที่ดีจริง ทำให้ถ่ายภาพได้อย่างรวดเร็วและคมชัดเป็นอย่างมาก</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เอาไปเลย 10 เต็ม 10 เพราะโซนี่ทั้งดีกว่าและแกร่งกว่าแล้วในตอนนี้</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/fakrul/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Fakrul">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมใช้เวลาส่วนใหญ่ไปกับการถ่ายภาพภูมิทัศน์หรือทิวทัศน์เมืองเพียงอย่างเดียว ซึ่งเลนส์มุมกว้างพิเศษ Vario-Tessar T* FE 16-35mm f/4 ZA OSS Lens คือตัวเลือกแรกและเป็นเลนส์ดีที่สุดสำหรับผม</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มี a7RII พร้อมเลนส์ Vario-Tessar T* FE 16-35mm f/4 ZA OSS Lens ขาตั้งกล้องที่ผมไม่เคยให้มันอยู่ห่างกายเลยมาตั้งแต่ผมเริ่มถ่ายภาพทิวทัศน์ และคู่หูฟิลเตอร์อย่าง Big Stopper และ Circular Polarizer (CPL)</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Fakrul</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/fakrul/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Fakrul"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีความรักกับมุมมองและภาพถ่ายที่สวยงามอย่างชั่วนิรันดร์ ซึ่งได้พาตัวผมไปยังสถานที่ที่งดงามมาแล้วทั่วโลก เป็นประสบการณ์ด้านหนึ่งที่ผมชื่นชอบและก้าวเข้าสู่การเป็นช่างภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพได้กลายเป็นส่วนสำคัญส่วนหนึ่งในชีวิตของผม ผมชอบที่จะสำรวจความเป็นไปของโลกมากขึ้นในทุกๆ วัน แม้ว่าตอนนี้จะมีข้อจำกัดในเรื่องการงานที่ทำแบบเต็มเวลา แต่ผมก็ฝันว่าสักวันผมอยากจะเปลี่ยนตนเองให้กลายเป็นช่างภาพท่องเที่ยวเต็มเวลาบ้าง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มันจะต้องมีความน่าเชื่อถือและทนทานพอที่จะป้องกันตนเองจากสิ่งแวดล้อมที่รุนแรงที่ผมมักจะเจอเมื่อออกผจญภัยไปยังที่ต่างๆ ทั้งอุณหภูมิต่ำกว่าจุดศูนย์, น้ำเค็ม, ละอองจากน้ำตก, หรือแม้แต่ฝน ซึ่งอุปกรณ์ที่ผมใช้จะต้องทนทานต่อเงื่อนไขเหล่านี้ได้ นอกเหนือจากนี้การมีช่วงความกว้างของแสงสูงก็เป็นหนึ่งในสิ่งสำคัญต่อการตามล่าหาแสงที่สวยที่สุด ไม่ว่าจะเป็นตอนพระอาทิตย์ขึ้นหรือพระอาทิตย์ตกที่แสงจะเต็มไปด้วยความคมสวยและมีมนต์ขลัง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อลองโซ ดิแอซ (Alonso Diaz) ตำนานของช่างถ่ายภาพทิวทัศน์ทะเลซึ่งอาศัยอยู่ในประเทศโปรตุเกส และเขายังเป็นตัวแทนของแบรนด์โซนี่ในสหราชอาณาจักรอีกด้วย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในฐานะช่างภาพภูมิทัศน์ ผมมักจะพบว่าตัวเองต้องอยู่ในถิ่นทุระกันดารบ่อยครั้งทั้งการเดินป่าและขึ้นเขา แต่ด้วยความเพรียวบางและน้ำหนักที่ลดลงของกล้อง Mirrorless อย่าง a7RII ก็ช่วยบรรเทาปัญหาในการเดินทางไปได้ และยังมาพร้อมกับคุณสมบัติที่น่าตื่นตาตื่นใจซึ่งเหมาะเจาะอย่างที่ผมต้องการพอดี</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">หลักๆ แล้วคือเรื่องของขนาดและน้ำหนักในตัวกล้อง แต่ที่เหนือกว่านั้นคือความละเอียดที่สูงถึง 42 ล้านพิกเซล เรียกได้ว่ามันคือของขวัญจากสวรรค์สู่มือของช่างถ่ายภาพภูมิทัศน์เลยทีเดียว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ขนาดเล็กและกะทัดรัด, มีช่วงความกว้างของแสงสูง, และจุดโฟกัสที่ดีจริง ทำให้ถ่ายภาพได้อย่างรวดเร็วและคมชัดเป็นอย่างมาก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">โซนี่กลายเป็นที่รู้จักอย่างแพร่หลายหลังจากปล่อยชุดกล้อง Full-Frame ในตระกูล a7 ออกมา และตามมาด้วย a7RII และ a7SII ที่พิสูจน์ให้เห็นแล้วว่าโซนี่คือผู้นำที่แข็งแกร่งและโดดเด่นที่สุดในวงการนี้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมใช้เวลาส่วนใหญ่ไปกับการถ่ายภาพภูมิทัศน์หรือทิวทัศน์เมืองเพียงอย่างเดียว ซึ่งเลนส์มุมกว้างพิเศษ Vario-Tessar T* FE 16-35mm f/4 ZA OSS Lens คือตัวเลือกแรกและเป็นเลนส์ดีที่สุดสำหรับผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มี a7RII พร้อมเลนส์ Vario-Tessar T* FE 16-35mm f/4 ZA OSS Lens ขาตั้งกล้องที่ผมไม่เคยให้มันอยู่ห่างกายเลยมาตั้งแต่ผมเริ่มถ่ายภาพทิวทัศน์ และคู่หูฟิลเตอร์อย่าง Big Stopper และ Circular Polarizer (CPL)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
