<section id="content" class="container-fluid thai">

    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12 header">

            <span>
                        <img src="img/logo-alpha.png" height="38" width="54" alt="Alpha logo">
                    </span>

            <h1 class="text-left center-block">Accessories</h1>

        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2 col-sm-12 mobile">

            <div class="accessories-content center-block">

                <script id="accessories-content" type="text/x-handlebars-template">​

                    {{#each this}}

                        <div class="acces-content">

                            <div>
                                <img src="{{image}}" class="img-responsive center-block mobile" alt="{{name}} - {{model}}">
                            </div>

                            <div class="content center-block">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 left">

                                        <p class="name">{{name}}</p>

                                        <p class="model">Model: {{model}}</p>

                                        <div class="divider">
                                            <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                        </div>

                                        <a class="sony-btn" target="_blank" href="{{url}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:a7Series:accessories:{{model}}:discover', 'ilc:sea:thai', 'ilc:sea:thai:a7Series:accessories:{{model}}:discover', 'microsite|ilc:sea:thai|a7Series|accessories|{{model}}|discover','event50');">Discover <span>&rsaquo;</span></a>

                                    </div>

                                    <div class="col-xs-12 col-sm-8 col-md-7 left">

                                        <ul class="features">
                                            {{#each features}}
                                                <li class="feature">{{{this}}}</li>
                                            {{/each}}
                                        </ul>

                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                            </div>

                        </div>

                    {{/each}}

                </script>

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="accessories-carousel row max-width center-block" id="maincontent">

                <script id="accessories-carousel" type="text/x-handlebars-template">​
                    {{#each this}}

                        <a class="hidden-xs acces-carousel non-mobile text-center" rel="acces-gallery" href="#" data-model="{{model}}">
                            <div class="wrapper">
                                <img src="{{thumbnail}}" class="img-responsive center-block" height="329" width="225" alt="{{name}} - {{model}}">
                                <div class="acces-carousel-details">
                                    <p class="name">{{name}}</p>
                                    <p class="model">Model: {{model}}</p>
                                </div>
                            </div>
                        </a>
                    {{/each}}


                    {{#each this}}
                        <a class="hidden-sm hidden-md hidden-lg acces-carousel col-xs-4 text-center" rel="acces-gallery" href="#" data-model="{{model}}">
                            <div class="wrapper">
                                <img src="{{thumbnail-mobile}}" class="img-responsive center-block" height="329" width="225" alt="{{name}} - {{model}}">
                                <div class="acces-carousel-details">
                                    <p class="name">{{name}}</p>
                                    <p class="model">Model: {{model}}</p>
                                </div>
                            </div>
                        </a>

                    {{/each}}
                    ​</script>

            </div>

        </div>

    </div>

</section>
