<div class="thai" id="profile-benny">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพงานแต่ง</p>
                <p class="name">Benny Lim</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">อินโดนีเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">ช่างภาพงานแต่ง</p>
                    <p class="name">Benny Lim</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">อินโดนีเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เบนนี่เป็นผู้ก่อตั้งและผู้ที่อยู่เบื้องหลังเว็บไซต์<a href="http://www.junoproduction.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:benny:works:link:juno', 'ilc:@@country', 'ilc:@@country:profile:benny:works:link:juno', 'microsite|ilc:@@country|profile|benny|works|link|juno');" target="_blank">www.junoproduction</a>.comโดยศิลปะของการจับภาพวัตถุที่สวยงามเบื้องหลังเลนส์ไม่ได้สร้างความสนใจให้แก่เขามากนัก จนกระทั่งเขาเริ่มใช้กล้องมืออาชีพเป็นครั้งแรกในปี 2009 เขาจึงเริ่มเปิดธุรกิจเป็นของตนเองในปี 2010 ในชื่อว่าจูโน่โปรดักชั่น (JUNO Production)</p>

            <p>และเขามีความเชี่ยวชาญในด้านการถ่ายภาพการจัดงานแต่งงานและวิถีชีวิตความคิดสร้างสรรค์ และแนวคิดอันยอดเยี่ยมมักจะโลดแล่นออกจากหัวของเขา เมื่อใดก็ตามที่เขาพูดถึงการถ่ายภาพต้องขอขอบคุณสายตาที่ดีในการจัดองค์ประกอบที่ไม่ซ้ำแบบของเขา ที่สามารถแสดงให้เห็นถึงความทรงจำอันงดงามจากศิลปะการถ่ายภาพขั้นสูง</p>
            
            <p>และเขายังสามารถถ่ายทอดช่วงเวลาอันทรงคุณค่าพร้อมกับเก็บภาพความโรแมนติกได้อย่างเป็นธรรมชาติที่สุดด้วยนอกจากนี้เขายังเป็นผู้ก่อตั้ง<a href="http://www.handsinframe.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:benny:works:link:hands', 'ilc:sea:thai', 'ilc:sea:thai:profile:benny:works:link:hands', 'microsite|ilc:sea:thai|profile|benny|works|link|hands');" target="_blank">www.hifcreative.com</a>เว็บไซต์ ซึ่งทุ่มเทความรู้ให้กับชุมชนนักถ่ายภาพ จากเหล่าผู้มีประสบการณ์ในชุมชนเอง</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เบนนี่เป็นผู้ก่อตั้งและผู้ที่อยู่เบื้องหลังเว็บไซต์<a href="http://www.junoproduction.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:benny:works:link:juno', 'ilc:@@country', 'ilc:@@country:profile:benny:works:link:juno', 'microsite|ilc:@@country|profile|benny|works|link|juno');" target="_blank">www.junoproduction</a>.comโดยศิลปะของการจับภาพวัตถุที่สวยงามเบื้องหลังเลนส์ไม่ได้สร้างความสนใจให้แก่เขามากนัก จนกระทั่งเขาเริ่มใช้กล้องมืออาชีพเป็นครั้งแรกในปี 2009 เขาจึงเริ่มเปิดธุรกิจเป็นของตนเองในปี 2010 ในชื่อว่าจูโน่โปรดักชั่น (JUNO Production)</p>

            <p>และเขามีความเชี่ยวชาญในด้านการถ่ายภาพการจัดงานแต่งงานและวิถีชีวิตความคิดสร้างสรรค์ และแนวคิดอันยอดเยี่ยมมักจะโลดแล่นออกจากหัวของเขา เมื่อใดก็ตามที่เขาพูดถึงการถ่ายภาพต้องขอขอบคุณสายตาที่ดีในการจัดองค์ประกอบที่ไม่ซ้ำแบบของเขา ที่สามารถแสดงให้เห็นถึงความทรงจำอันงดงามจากศิลปะการถ่ายภาพขั้นสูง</p>
            
            <p>และเขายังสามารถถ่ายทอดช่วงเวลาอันทรงคุณค่าพร้อมกับเก็บภาพความโรแมนติกได้อย่างเป็นธรรมชาติที่สุดด้วยนอกจากนี้เขายังเป็นผู้ก่อตั้ง<a href="http://www.handsinframe.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:benny:works:link:hands', 'ilc:sea:thai', 'ilc:sea:thai:profile:benny:works:link:hands', 'microsite|ilc:sea:thai|profile|benny|works|link|hands');" target="_blank">www.hifcreative.com</a>เว็บไซต์ ซึ่งทุ่มเทความรู้ให้กับชุมชนนักถ่ายภาพ จากเหล่าผู้มีประสบการณ์ในชุมชนเอง</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Benny</span>
                </p>
                <img data-original="img/profile/id/benny/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="พูดคุย กับ Benny">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/benny/quote-1-th.png" width="290" height="359" alt="Benny's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/benny/quote-2-th.png" width="293" height="369" alt="Benny's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เพราะผมสามารถจับภาพในทุกช่วงเวลาสำคัญ และทำให้มันกลายเป็นความทรงจำที่ทรงคุณค่าได้</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพคือสิ่งที่ผมหลงใหล ผมเริ่มต้นความหลงใหลนี้ด้วยงานอดิเรก และนั่นคือเหตุผลที่ผมรักงานของผม ซึ่งผมก็ทำมันด้วยความหลงใหลที่ผมมีต่อการถ่ายภาพ</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/benny/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Benny">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปกรณ์เหล่านั้นจะต้องมีน้ำหนักเบาพร้อมด้วยระบบออโต้โฟกัสที่รวดเร็ว และยังมีคุณภาพที่คมชัด</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมได้รับแรงบันดาลใจตลอดเวลาจากทุกสิ่งทุกอย่างรอบตัวผม โดยผมไม่ได้มีชื่อเฉพาะเจาะจงสำหรับช่างภาพคนใดที่เป็นแรงบันดาลใจในการถ่ายภาพ เพราะมีผู้คนมากมายเกินกว่าจะเอ่ยได้หมดที่สร้างแรงบันดาลใจให้ผมในทุกๆ วัน</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมทำงานมากมายที่เกี่ยวกับการต้องเดินทางไปต่างประเทศ และความเล็กกะทัดรัดของ a7 พร้อมเม็ดพิกเซลเป็นจำนวนมาก และความคมชัดของเลนส์คุณภาพสูงก็ช่วยผมได้ดีจริงๆ</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมเริ่มใช้กล้อง Mirrorless เป็นครั้งแรกในปี 2012 สำหรับชีวิตประจำวันของผม ซึ่งในขณะนั้นผมยังใช้กล้อง DSLR ของผมสำหรับการทำงานอยู่ จนกระทั่งผมได้ยินว่าโซนี่ได้ผลิตกล้องตระกูล a7 ที่มาพร้อมเซ็นเซอร์ Full-Frame ในกล้องขนาด Mirrorless ผมก็เริ่มอยากรู้ถึงประสิทธิภาพของมัน และผมก็หลงรักมันในทันทีตั้งแต่แรกใช้ หลังจากนั้น 6 เดือนผมจึงตัดสินใจขายกล้อง DSLR ทุกตัวของผม เพราะกล้องตัวเล็กๆ แต่มีประสิทธิภาพสูงเพียงตัวเดียวตัวนี้ก็ตอบสนองได้ทุกความต้องการของผมในอาชีพช่างภาพงานแต่งงานแล้ว</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ช่วงความกว้างของแสงสูง, มาพร้อม Wi-Fi<sup>&reg;</sup> และ NFC, พร้อมด้วยเซ็นเซอร์แบบ Full-Frame ในขนาดกะทัดรัดเหมาะมือ</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">นี่คือหนึ่งในกล้อง Mirrorless แบบเซ็นเซอร์ Full-Frame ที่ดีที่สุดสำหรับผม หากคะแนนเต็มสัก 10 ก็เอาคะแนนจากผมไปเลย 9-10 คะแนน</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/benny/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Benny">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์ FE 16-35 มม. ของโซนี่เหมาะมากสำหรับสำหรับการถ่ายภาพทิวทัศน์, เลนส์ FE 35 มม. สามารถครอบคลุมการถ่ายภาพแต่งงานได้, เลนส์ FE 55 มม. สำหรับการจับภาพทั่วไปและภาพถ่ายบุคคล, และสุดท้ายคือเลนส์ 135 มม. F1.8 คือเลนส์ที่ดีที่สุดสำหรับการถ่ายภาพบุคคลให้ได้อารมณ์ที่สุด</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีกล้องโซนี่ a7R II, a7II, เลนส์ FE 16-35 มม., เลนส์ FE 35 มม., เลนส์ CZ 135 มม. พร้อมอแดปเตอร์แปลงเลนส์, SD Card ขนาด 64GB อีก 3 อัน, แฟลชโซนี่, และยังมีแบตเตอรี่ 5 ก้อนพร้อมที่ชาร์จไฟอีก 2 ตัว</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Benny</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/benny/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Benny"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เพราะผมสามารถจับภาพในทุกช่วงเวลาสำคัญ และทำให้มันกลายเป็นความทรงจำที่ทรงคุณค่าได้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพคือสิ่งที่ผมหลงใหล ผมเริ่มต้นความหลงใหลนี้ด้วยงานอดิเรก และนั่นคือเหตุผลที่ผมรักงานของผม ซึ่งผมก็ทำมันด้วยความหลงใหลที่ผมมีต่อการถ่ายภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปกรณ์เหล่านั้นจะต้องมีน้ำหนักเบาพร้อมด้วยระบบออโต้โฟกัสที่รวดเร็ว และยังมีคุณภาพที่คมชัด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมได้รับแรงบันดาลใจตลอดเวลาจากทุกสิ่งทุกอย่างรอบตัวผม โดยผมไม่ได้มีชื่อเฉพาะเจาะจงสำหรับช่างภาพคนใดที่เป็นแรงบันดาลใจในการถ่ายภาพ เพราะมีผู้คนมากมายเกินกว่าจะเอ่ยได้หมดที่สร้างแรงบันดาลใจให้ผมในทุกๆ วัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมทำงานมากมายที่เกี่ยวกับการต้องเดินทางไปต่างประเทศ และความเล็กกะทัดรัดของ a7 พร้อมเม็ดพิกเซลเป็นจำนวนมาก และความคมชัดของเลนส์คุณภาพสูงก็ช่วยผมได้ดีจริงๆ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมเริ่มใช้กล้อง Mirrorless เป็นครั้งแรกในปี 2012 สำหรับชีวิตประจำวันของผม ซึ่งในขณะนั้นผมยังใช้กล้อง DSLR ของผมสำหรับการทำงานอยู่ จนกระทั่งผมได้ยินว่าโซนี่ได้ผลิตกล้องตระกูล a7 ที่มาพร้อมเซ็นเซอร์ Full-Frame ในกล้องขนาด Mirrorless ผมก็เริ่มอยากรู้ถึงประสิทธิภาพของมัน และผมก็หลงรักมันในทันทีตั้งแต่แรกใช้ หลังจากนั้น 6 เดือนผมจึงตัดสินใจขายกล้อง DSLR ทุกตัวของผม เพราะกล้องตัวเล็กๆ แต่มีประสิทธิภาพสูงเพียงตัวเดียวตัวนี้ก็ตอบสนองได้ทุกความต้องการของผมในอาชีพช่างภาพงานแต่งงานแล้ว</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ช่วงความกว้างของแสงสูง, มาพร้อม Wi-Fi<sup>&reg;</sup> และ NFC, พร้อมด้วยเซ็นเซอร์แบบ Full-Frame ในขนาดกะทัดรัดเหมาะมือ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">นี่คือหนึ่งในกล้อง Mirrorless แบบเซ็นเซอร์ Full-Frame ที่ดีที่สุดสำหรับผม หากคะแนนเต็มสัก 10 ก็เอาคะแนนจากผมไปเลย 9-10 คะแนน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์ FE 16-35 มม. ของโซนี่เหมาะมากสำหรับสำหรับการถ่ายภาพทิวทัศน์, เลนส์ FE 35 มม. สามารถครอบคลุมการถ่ายภาพแต่งงานได้, เลนส์ FE 55 มม. สำหรับการจับภาพทั่วไปและภาพถ่ายบุคคล, และสุดท้ายคือเลนส์ 135 มม. F1.8 คือเลนส์ที่ดีที่สุดสำหรับการถ่ายภาพบุคคลให้ได้อารมณ์ที่สุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีกล้องโซนี่ a7R II, a7II, เลนส์ FE 16-35 มม., เลนส์ FE 35 มม., เลนส์ CZ 135 มม. พร้อมอแดปเตอร์แปลงเลนส์, SD Card ขนาด 64GB อีก 3 อัน, แฟลชโซนี่, และยังมีแบตเตอรี่ 5 ก้อนพร้อมที่ชาร์จไฟอีก 2 ตัว</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
