<div class="thai" id="profile-nicoline">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพบุคคล + แฟชั่น</p>
                <p class="name">Nicoline Patricia Malina</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">อินโดนีเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">ช่างภาพบุคคล + แฟชั่น</p>
                    <p class="name">Nicoline Patricia Malina</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">อินโดนีเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>นิโคไลน์ พาทริเซีย มาลินา (Nicoline Patricia Malina) เกิดในเมืองสุราบายา จบการศึกษาด้านศิลปศาสตร์จากอูเทรคช์ และปัจจุบันถ่ายภาพอยู่ในกรุงจาการ์ตา การถ่ายภาพที่งดงามและโดดเด่นของเธอนั้นเป็นภาพที่เต็มไปด้วยสีสันและความรู้สึกอันไร้ที่ติจากรายละเอียดและองค์ประกอบร่วมกับสีขาวดำแบบภาพยนตร์ จากภูมิทัศน์ธรรมชาติไปยังห้องพักในโรงแรมเล็กๆ เธอได้ทำให้ผู้คนที่ปรากฎในรูปดูสวยงามราวกับว่าได้รับการสร้างขึ้นมาเพื่อถ่ายทำโดยเฉพาะ</p>

            <p>นิโคไลน์ถ่ายภาพให้นิตยสารและโฆษณาในอินโดนีเซียและในต่างประเทศมาแล้วอย่างนับไม่ถ้วน เธอเป็นช่างภาพประจำของนิตยสารฮาร์เปอร์ บาซาร์, เอลล์, เอมิกา, เอสไควร์, แม็กซิม, คอสโมโปลิแทน, แมรี่ แคลร์, และอื่นๆ อีกมากในกลุ่มลูกค้าอื่นๆ ซึ่งเธอมีชื่อเสียงไปทั่วทั้งเอเชียทั้งในวงการแฟชั่น, ไลฟ์สไตล์, การบริการ, และวงการอาหารและเครื่องดื่ม อาทิเช่น โคคาโคล่า, อะ มายด์, ดับบิวดับบิวเอฟ, เจเจ รอยัล คอฟฟี่, ทานิชค์, จอห์น เพลเยอร์ส, เวโร โมดา, เซนายานซิตี้, เกีย, และ อิมมิแกรนท์</p>

            <p>ในปี 2007 เธอได้รับรางวัล "Iconique Societas Excellence in Fashion Photography" ซึ่งเป็นรางวัลที่เป็นทราบกันในวงการถ่ายภาพแฟชั่น และเป็นประตูที่ทำให้เธอก้าวเข้าสู่อุตสาหกรรมแฟชั่น ต่อมาในปี 2009 เธอได้รับรางวัลช่างภาพหนุ่มสาวแห่งปีจากนิตยสาร ELLE และรางวัลช่างภาพแห่งปีจาก A+ Scarlett Celebrity Fashion Awards และเธอยังได้เป็นสัญลักษณ์ของช่างภาพแห่ง Kuningan City iKonography ประจำปี 2013 อีกด้วย และนิโคไลน์ยังได้จัดนิทรรศการเดี่ยวเป็นของตนเองถึง 2 ครั้ง และมีนิทรรศการกลุ่มอีกหลายครั้งทั้งในจาร์กาตา, บาหลี, และมิลาน</p>

            <p>นิโคไลน์ยังได้ก่อตั้ง NPM Photography ในปี 2013 เพื่อบริหารจัดการศิลปินสร้างสรรค์และให้คำปรึกษาด้านสื่อ รวมทั้งเป็นตัวแทนของช่างภาพ วิดีโอ และทีมผู้ผลิตที่มีความเชี่ยวชาญในการทำงานด้านแฟชั่น, ไลฟ์สไตล์, และการตกแต่งภายในแก่ลูกค้าที่สนใจ ต่อมาในปี 2014 เธอได้ก่อตั้ง The Class by NPM เพื่อปั้นช่างภาพที่ต้องการจะเป็นผู้สร้างสรรค์ผลงานให้ได้ทำในสิ่งที่พวกเขารัก และพัฒนาความสามารถ ซึ่งเพิ่มมาตรฐานของช่างภาพมือใหม่ให้เกิดขึ้นในวงการ</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>นิโคไลน์ พาทริเซีย มาลินา (Nicoline Patricia Malina) เกิดในเมืองสุราบายา จบการศึกษาด้านศิลปศาสตร์จากอูเทรคช์ และปัจจุบันถ่ายภาพอยู่ในกรุงจาการ์ตา การถ่ายภาพที่งดงามและโดดเด่นของเธอนั้นเป็นภาพที่เต็มไปด้วยสีสันและความรู้สึกอันไร้ที่ติจากรายละเอียดและองค์ประกอบร่วมกับสีขาวดำแบบภาพยนตร์ จากภูมิทัศน์ธรรมชาติไปยังห้องพักในโรงแรมเล็กๆ เธอได้ทำให้ผู้คนที่ปรากฎในรูปดูสวยงามราวกับว่าได้รับการสร้างขึ้นมาเพื่อถ่ายทำโดยเฉพาะ</p>

            <p>นิโคไลน์ถ่ายภาพให้นิตยสารและโฆษณาในอินโดนีเซียและในต่างประเทศมาแล้วอย่างนับไม่ถ้วน เธอเป็นช่างภาพประจำของนิตยสารฮาร์เปอร์ บาซาร์, เอลล์, เอมิกา, เอสไควร์, แม็กซิม, คอสโมโปลิแทน, แมรี่ แคลร์, และอื่นๆ อีกมากในกลุ่มลูกค้าอื่นๆ ซึ่งเธอมีชื่อเสียงไปทั่วทั้งเอเชียทั้งในวงการแฟชั่น, ไลฟ์สไตล์, การบริการ, และวงการอาหารและเครื่องดื่ม อาทิเช่น โคคาโคล่า, อะ มายด์, ดับบิวดับบิวเอฟ, เจเจ รอยัล คอฟฟี่, ทานิชค์, จอห์น เพลเยอร์ส, เวโร โมดา, เซนายานซิตี้, เกีย, และ อิมมิแกรนท์</p>

            <p>ในปี 2007 เธอได้รับรางวัล "Iconique Societas Excellence in Fashion Photography" ซึ่งเป็นรางวัลที่เป็นทราบกันในวงการถ่ายภาพแฟชั่น และเป็นประตูที่ทำให้เธอก้าวเข้าสู่อุตสาหกรรมแฟชั่น ต่อมาในปี 2009 เธอได้รับรางวัลช่างภาพหนุ่มสาวแห่งปีจากนิตยสาร ELLE และรางวัลช่างภาพแห่งปีจาก A+ Scarlett Celebrity Fashion Awards และเธอยังได้เป็นสัญลักษณ์ของช่างภาพแห่ง Kuningan City iKonography ประจำปี 2013 อีกด้วย และนิโคไลน์ยังได้จัดนิทรรศการเดี่ยวเป็นของตนเองถึง 2 ครั้ง และมีนิทรรศการกลุ่มอีกหลายครั้งทั้งในจาร์กาตา, บาหลี, และมิลาน</p>

            <p>นิโคไลน์ยังได้ก่อตั้ง NPM Photography ในปี 2013 เพื่อบริหารจัดการศิลปินสร้างสรรค์และให้คำปรึกษาด้านสื่อ รวมทั้งเป็นตัวแทนของช่างภาพ วิดีโอ และทีมผู้ผลิตที่มีความเชี่ยวชาญในการทำงานด้านแฟชั่น, ไลฟ์สไตล์, และการตกแต่งภายในแก่ลูกค้าที่สนใจ ต่อมาในปี 2014 เธอได้ก่อตั้ง The Class by NPM เพื่อปั้นช่างภาพที่ต้องการจะเป็นผู้สร้างสรรค์ผลงานให้ได้ทำในสิ่งที่พวกเขารัก และพัฒนาความสามารถ ซึ่งเพิ่มมาตรฐานของช่างภาพมือใหม่ให้เกิดขึ้นในวงการ</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Nicoline</span>
                </p>
                <img data-original="img/profile/id/nicoline/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Nicoline">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/nicoline/quote-1-th.png" width="310" height="391" alt="Nicoline's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/nicoline/quote-2-th.png" width="300" height="366" alt="Nicoline's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ความปรารถนาคอยกระตุ้นให้ฉันสร้างสรรค์และอยากบอกเล่าเรื่องราวการเดินทางที่ผ่านมาตั้งแต่ฉันอายุยังน้อย ฉันได้พยายามและหลงรักหลายๆ สื่อสร้างสรรค์ต่างๆ ทั้งการวาดภาพ, การออกแบบ, และการถ่ายภาพ ฉันเริ่มต้นการถ่ายภาพในปี 2005 เพราะฉันชื่นชอบการถ่ายภาพกิจกรรมกลางแจ้งจากการมองเข้าไปในโลกของท้องถนนและภูมิทัศน์ แต่แล้วฉันก็เริ่มก้าวเข้าสู่การเป็นช่างภาพแฟชั่น ซึ่งฉันจำตอนเข้าไปมีส่วนร่วมในงานแฟชั่นได้แล้วคิดว่า "นี่แหละสุดยอด! ฉันอยากทำสิ่งนี้เพื่อตัวเอง" แล้วนับจากนั้นมา การเป็นช่างภาพได้ทำให้ฉันพบปะกับผู้คนหน้าใหม่ๆ ได้เรียนรู้และพยายามดูชีวิตของเขาผ่านการมอง, การเดินทางไปยังประเทศที่ห่างไกล, และผ่านประสบการณ์ที่ล้ำค่าอันนับไม่ถ้วน ซึ่งในทุกๆ วันฉันก็มีความสุข</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">งานของฉันคือส่วนเติมเต็มในชีวิตฉัน มันเริ่มต้นจากงานอดิเรกที่น่าหลงใหล แล้วก็เริ่มทำเป็นงาน และจากนั้นฉันก็ทำมันแทบทุกชั่วโมงของทุกๆ วันจนกลายเป็นชีวิตปกติ ซึ่งมันกลายเป็นสิ่งสำคัญและฉันไม่สามารถหยุดและจะไม่มีวันหยุด มันเป็นเหมือนอาหารและน้ำดื่มสำหรับคนอื่นๆ โดยสำหรับฉันมันเป็นอะไรที่ดีเยี่ยมที่ได้ชมและได้ถ่ายถาพในสถานที่ต่างๆ และมันหลอมรวมอยู่กับฉันจนแยกไม่ได้มาตั้งแต่ 10 ปีที่ผ่านมา มันเป็นชีวิตที่น่าตื่นเต้นและเหมือนการผจญภัยที่ทำให้ฉันมีชีวิตอยู่ในตอนนี้ ในโลกของการเดินทาง, วัฒนธรรม, ผู้คน, และการถ่ายภาพกลมกลืนเป็นหนึ่งเดียวกัน</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Nicoline">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เช่นเดียวกับทุกๆ อย่างในชีวิตที่ฉันเป็น นั่นคือความแข็งแกร่ง, ทนทาน, และการทำงานที่มีประสิทธิภาพ</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การสร้างสรรค์ของฉันยังคงดำเนินต่อไปและยังเป็นกระบวนการเรียนรู้ที่ดีที่สุดทั้งร่างกายและจิตวิญญาณ ครั้งแรกที่ฉันตกหลุมรักกับการถ่ายภาพแฟชั่นคือตอนที่ฉันสะดุดตาเมื่อได้เห็นการเผยแพร่ภาพแฟชั่นที่ถ่ายโดยปีเตอร์ ลินด์เบิร์จ (Peter Lindbergh) ในปี 1993 ในนิตยสารฮาเปอร์บาซาร์ จากนั้นฉันก็ได้รับแรงบันดาลใจจากผลงานของวอง การ์ ไว (Wong Kar Wai) อันลึกซึ้งและโรแมนติก, ได้สายตาและทิศทางสำหรับการถ่ายภาพบุคคลมาจากสตีฟ แมคเคอร์รี่ (Steve McCurry) และเอลเลน วอน อันเวิร์ธ (Ellen von Unwerth) กับความสนุกสนานและเป็นธรรมชาติในการกำกับนางแบบ จิตใจและจิตวิญญาณเป็นส่วนหนึ่งของทั้งหมดที่ฉันเป็น และฉันยังไม่เคยหยุดที่จะรับฟังคำแนะนำจากทุกคน</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ฉันมีอยู่ปรัชญาหนึ่งที่ว่า "ยิ่งน้อยยิ่งมาก" สิ่งที่ฉันทำคือใส่อะไรลงในกระเป๋าให้น้อย เพื่อมุ่งเน้นความสร้างสรรค์ให้มากขึ้น แต่แล้วการเดินทางของฉันก็ต้องเจอกับกระเป๋าหนักๆ ในการเดินทางที่ต้องผ่านการตรวจสอบและโหลดในเครื่องบิน นอกจากที่ฉันต้องพกกล้องและอุปกรณ์ต่างๆ มากมายแล้ว ฉันยังต้องมีเชือก ไฟฉาย เข็มทิศ และบูทฤดูหนาวที่พกไปพร้อมกับกล้องและเลนส์ของฉัน แต่ฉันจะชอบมากถ้ากล้องและอุปกรณ์ขอฉันนั้นพกพาสะดวก น้ำหนักเบา และมีประสิทธิภาพที่น่าประทับใจ ฉันชอบที่จะเล่าเรื่องการทำงานของฉันแบบที่ไม่ต้องให้กระเป๋าทำงานเป็นภาระ แต่ฉันก็ยังจำเป็นต้องใช้กล้องที่สามารถติ๊กทุกเงื่อนไขที่ฉันเขียนในรายการคุณสมบัติของฉันได้ และฉันก็ยังหากล้องที่ต้องการไม่เจอจนกระทั่งได้พบกับ a7 ที่ทำให้ฉันได้เลิกพกพากล้อง SLR เทอะทะและอุปกรณ์ชิ้นโตๆ ซึ่งทำให้ได้เปรียบมากขึ้น</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">มันคือเรื่องตื่นเต้นที่เกิดขึ้นกับฉันมากที่สุดในปัจจุบัน หรืออย่างน้อยก็ตื่นเต้นเท่าๆ กับตอนที่ฉันหยิบกล้องขึ้นมาถ่ายภาพและบันทึกวิดีโอเป็นครั้งแรกเมื่อ 8 ปีก่อน ฉันคิดอะไรได้ใหญ่โตขึ้นก็เพราะ a7 มันได้ให้ความรู้สึกใหม่ของคำว่าอิสระเมื่อคุณคิดถึงการเดินทางและเคลื่อนไหวไปพร้อมๆ กับกล้องที่มีขนาดเล็ก น้ำหนักเบา และพร้อมใช้งานทุกเวลา และเกิดเป็นการพัฒนาฝีมือซึ่งฉันได้ค้นพบข้อดีเพิ่มเติมทั้งกระบวนการถ่ายภาพที่เหมือนดั่งเวทมนตร์สร้างให้เกิดประสิทธิภาพมากที่สุด ฉันต้องการกล้องเพียงหนึ่งเดียวที่สามารถทำได้ทุกสิ่งที่อยู่ในรายการคุณสมบัติที่ฉันต้องการ ทั้งความละเอียดไซส์ใหญ่ ซึ่งให้รายละเอียดอันคมชัดเพื่อนิตยสารและโฆษณา (ติ๊กถูก) มีน้ำหนักเบาพอที่จะใส่ในกระเป๋าของฉันในระหว่างการเดินทาง (ติ๊กถูก) แข็งแรงและทนทานต่อการใช้งานในทุกสภาพอากาศ (ติ๊กถูก) ใส่เลนส์ Zeiss ได้ (แล้วก็ติ๊กถูก!)</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">กล้องฟลูเฟรมเปลี่ยนเลนส์ได้ที่เบาที่สุดในโลกพร้อมความละเอียดถึง 24.3 ล้านพิกเซล, การเชื่อมต่อกับสมาร์ทโฟนผ่าน Wi-Fi® หรือ NFC และยังเข้ากันได้กับเลนส์ Carl Zeiss E-mount และเลนส์ฟลูเฟรม</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ด้วยเทคโนโลยีเหล่านี้ไม่ว่าจะเป็นเซ็นเซอร์ฟลูเฟรมในกล้องแบบ Mirrorless ฉันขอให้คะแนน 10 เต็ม 10 ไปเลย แต่ก็ยังต้องขอประเมินต่อไปยาวๆ แล้วกัน...</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Nicoline">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เลนส์โซนี่ 85 ม.ม. f/1.4 Zeiss Planar T* Prime เป็นเลนส์ที่ฉันรักเพราะให้ความสมจริง, ยอดเยี่ยม, และสง่างามจากความลึกตื้นของภาพเมื่อฉันใช้เลนส์นี้ในการถ่ายภาพบุคคล และในการถ่ายภาพทั่วๆ ไปนั้น สุดยอดเลนส์สำหรับถ่ายภาพข่าวและการท่องเที่ยวคงจะหนีไม่พ้นเลนส์ Zeiss Vario Tessar T* FE 24-70 ม.ม. F4 อย่างแน่นอน</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในกระเป๋าของฉันมีกล้องโซนี่ a7, a7II, เลนส์ Zeiss 85 ม.ม. f/1.4, เลนส์ Zeiss 24-70 ม.ม. F/4, เลนส์ Zeiss 55 ม.ม. F/1.8, SD card 3 ชุด (64GB), ตัวแปลงเลนส์, แฟลชโซนี่, แบตเตอรี่เผื่อ 5 ชุดพร้อมที่ชาร์จ 1 ตัว, และตัวแปลงหัวปลั๊กทั่วโลก และฉันก็ชอบทำฝาครอบเลนส์หายเป็นประจำทุกเดือน</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Nicoline</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/nicoline/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Nicoline"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ความปรารถนาคอยกระตุ้นให้ฉันสร้างสรรค์และอยากบอกเล่าเรื่องราวการเดินทางที่ผ่านมาตั้งแต่ฉันอายุยังน้อย ฉันได้พยายามและหลงรักหลายๆ สื่อสร้างสรรค์ต่างๆ ทั้งการวาดภาพ, การออกแบบ, และการถ่ายภาพ ฉันเริ่มต้นการถ่ายภาพในปี 2005 เพราะฉันชื่นชอบการถ่ายภาพกิจกรรมกลางแจ้งจากการมองเข้าไปในโลกของท้องถนนและภูมิทัศน์ แต่แล้วฉันก็เริ่มก้าวเข้าสู่การเป็นช่างภาพแฟชั่น ซึ่งฉันจำตอนเข้าไปมีส่วนร่วมในงานแฟชั่นได้แล้วคิดว่า "นี่แหละสุดยอด! ฉันอยากทำสิ่งนี้เพื่อตัวเอง" แล้วนับจากนั้นมา การเป็นช่างภาพได้ทำให้ฉันพบปะกับผู้คนหน้าใหม่ๆ ได้เรียนรู้และพยายามดูชีวิตของเขาผ่านการมอง, การเดินทางไปยังประเทศที่ห่างไกล, และผ่านประสบการณ์ที่ล้ำค่าอันนับไม่ถ้วน ซึ่งในทุกๆ วันฉันก็มีความสุข</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">งานของฉันคือส่วนเติมเต็มในชีวิตฉัน มันเริ่มต้นจากงานอดิเรกที่น่าหลงใหล แล้วก็เริ่มทำเป็นงาน และจากนั้นฉันก็ทำมันแทบทุกชั่วโมงของทุกๆ วันจนกลายเป็นชีวิตปกติ ซึ่งมันกลายเป็นสิ่งสำคัญและฉันไม่สามารถหยุดและจะไม่มีวันหยุด มันเป็นเหมือนอาหารและน้ำดื่มสำหรับคนอื่นๆ โดยสำหรับฉันมันเป็นอะไรที่ดีเยี่ยมที่ได้ชมและได้ถ่ายถาพในสถานที่ต่างๆ และมันหลอมรวมอยู่กับฉันจนแยกไม่ได้มาตั้งแต่ 10 ปีที่ผ่านมา มันเป็นชีวิตที่น่าตื่นเต้นและเหมือนการผจญภัยที่ทำให้ฉันมีชีวิตอยู่ในตอนนี้ ในโลกของการเดินทาง, วัฒนธรรม, ผู้คน, และการถ่ายภาพกลมกลืนเป็นหนึ่งเดียวกัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เช่นเดียวกับทุกๆ อย่างในชีวิตที่ฉันเป็น นั่นคือความแข็งแกร่ง, ทนทาน, และการทำงานที่มีประสิทธิภาพ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การสร้างสรรค์ของฉันยังคงดำเนินต่อไปและยังเป็นกระบวนการเรียนรู้ที่ดีที่สุดทั้งร่างกายและจิตวิญญาณ ครั้งแรกที่ฉันตกหลุมรักกับการถ่ายภาพแฟชั่นคือตอนที่ฉันสะดุดตาเมื่อได้เห็นการเผยแพร่ภาพแฟชั่นที่ถ่ายโดยปีเตอร์ ลินด์เบิร์จ (Peter Lindbergh) ในปี 1993 ในนิตยสารฮาเปอร์บาซาร์ จากนั้นฉันก็ได้รับแรงบันดาลใจจากผลงานของวอง การ์ ไว (Wong Kar Wai) อันลึกซึ้งและโรแมนติก, ได้สายตาและทิศทางสำหรับการถ่ายภาพบุคคลมาจากสตีฟ แมคเคอร์รี่ (Steve McCurry) และเอลเลน วอน อันเวิร์ธ (Ellen von Unwerth) กับความสนุกสนานและเป็นธรรมชาติในการกำกับนางแบบ จิตใจและจิตวิญญาณเป็นส่วนหนึ่งของทั้งหมดที่ฉันเป็น และฉันยังไม่เคยหยุดที่จะรับฟังคำแนะนำจากทุกคน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ฉันมีอยู่ปรัชญาหนึ่งที่ว่า "ยิ่งน้อยยิ่งมาก" สิ่งที่ฉันทำคือใส่อะไรลงในกระเป๋าให้น้อย เพื่อมุ่งเน้นความสร้างสรรค์ให้มากขึ้น แต่แล้วการเดินทางของฉันก็ต้องเจอกับกระเป๋าหนักๆ ในการเดินทางที่ต้องผ่านการตรวจสอบและโหลดในเครื่องบิน นอกจากที่ฉันต้องพกกล้องและอุปกรณ์ต่างๆ มากมายแล้ว ฉันยังต้องมีเชือก ไฟฉาย เข็มทิศ และบูทฤดูหนาวที่พกไปพร้อมกับกล้องและเลนส์ของฉัน แต่ฉันจะชอบมากถ้ากล้องและอุปกรณ์ขอฉันนั้นพกพาสะดวก น้ำหนักเบา และมีประสิทธิภาพที่น่าประทับใจ ฉันชอบที่จะเล่าเรื่องการทำงานของฉันแบบที่ไม่ต้องให้กระเป๋าทำงานเป็นภาระ แต่ฉันก็ยังจำเป็นต้องใช้กล้องที่สามารถติ๊กทุกเงื่อนไขที่ฉันเขียนในรายการคุณสมบัติของฉันได้ และฉันก็ยังหากล้องที่ต้องการไม่เจอจนกระทั่งได้พบกับ a7 ที่ทำให้ฉันได้เลิกพกพากล้อง SLR เทอะทะและอุปกรณ์ชิ้นโตๆ ซึ่งทำให้ได้เปรียบมากขึ้น</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">มันคือเรื่องตื่นเต้นที่เกิดขึ้นกับฉันมากที่สุดในปัจจุบัน หรืออย่างน้อยก็ตื่นเต้นเท่าๆ กับตอนที่ฉันหยิบกล้องขึ้นมาถ่ายภาพและบันทึกวิดีโอเป็นครั้งแรกเมื่อ 8 ปีก่อน ฉันคิดอะไรได้ใหญ่โตขึ้นก็เพราะ a7 มันได้ให้ความรู้สึกใหม่ของคำว่าอิสระเมื่อคุณคิดถึงการเดินทางและเคลื่อนไหวไปพร้อมๆ กับกล้องที่มีขนาดเล็ก น้ำหนักเบา และพร้อมใช้งานทุกเวลา และเกิดเป็นการพัฒนาฝีมือซึ่งฉันได้ค้นพบข้อดีเพิ่มเติมทั้งกระบวนการถ่ายภาพที่เหมือนดั่งเวทมนตร์สร้างให้เกิดประสิทธิภาพมากที่สุด ฉันต้องการกล้องเพียงหนึ่งเดียวที่สามารถทำได้ทุกสิ่งที่อยู่ในรายการคุณสมบัติที่ฉันต้องการ ทั้งความละเอียดไซส์ใหญ่ ซึ่งให้รายละเอียดอันคมชัดเพื่อนิตยสารและโฆษณา (ติ๊กถูก) มีน้ำหนักเบาพอที่จะใส่ในกระเป๋าของฉันในระหว่างการเดินทาง (ติ๊กถูก) แข็งแรงและทนทานต่อการใช้งานในทุกสภาพอากาศ (ติ๊กถูก) ใส่เลนส์ Zeiss ได้ (แล้วก็ติ๊กถูก!)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">กล้องฟลูเฟรมเปลี่ยนเลนส์ได้ที่เบาที่สุดในโลกพร้อมความละเอียดถึง 24.3 ล้านพิกเซล, การเชื่อมต่อกับสมาร์ทโฟนผ่าน Wi-Fi® หรือ NFC และยังเข้ากันได้กับเลนส์ Carl Zeiss E-mount และเลนส์ฟลูเฟรม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ด้วยเทคโนโลยีเหล่านี้ไม่ว่าจะเป็นเซ็นเซอร์ฟลูเฟรมในกล้องแบบ Mirrorless ฉันขอให้คะแนน 10 เต็ม 10 ไปเลย แต่ก็ยังต้องขอประเมินต่อไปยาวๆ แล้วกัน...</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เลนส์โซนี่ 85 ม.ม. f/1.4 Zeiss Planar T* Prime เป็นเลนส์ที่ฉันรักเพราะให้ความสมจริง, ยอดเยี่ยม, และสง่างามจากความลึกตื้นของภาพเมื่อฉันใช้เลนส์นี้ในการถ่ายภาพบุคคล และในการถ่ายภาพทั่วๆ ไปนั้น สุดยอดเลนส์สำหรับถ่ายภาพข่าวและการท่องเที่ยวคงจะหนีไม่พ้นเลนส์ Zeiss Vario Tessar T* FE 24-70 ม.ม. F4 อย่างแน่นอน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในกระเป๋าของฉันมีกล้องโซนี่ a7, a7II, เลนส์ Zeiss 85 ม.ม. f/1.4, เลนส์ Zeiss 24-70 ม.ม. F/4, เลนส์ Zeiss 55 ม.ม. F/1.8, SD card 3 ชุด (64GB), ตัวแปลงเลนส์, แฟลชโซนี่, แบตเตอรี่เผื่อ 5 ชุดพร้อมที่ชาร์จ 1 ตัว, และตัวแปลงหัวปลั๊กทั่วโลก และฉันก็ชอบทำฝาครอบเลนส์หายเป็นประจำทุกเดือน</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
