<div class="thai" id="profile-chester">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">ช่างภาพภูมิทัศน์</p>
                <p class="name">Chester Chen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">สิงคโปร์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">ช่างภาพภูมิทัศน์</p>
                    <p class="name">Chester Chen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">สิงคโปร์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เชสเตอร์ เชน (Chester Chen) ในวัย 49 ปี เกิดที่เมืองคิงส์ตัน ในประเทศจาไมก้า แล้วเคยอยู่อาศัยและทำงานอยู่ในกรุงโตรอนโต, ซานฟรานซิสโก, และลอนดอน ในปัจจุบันเขาอยู่ในประเทศสิงคโปร์ร่วมกับภรรยาและบุตรชายของเขา</p>

            <p>เชสเตอร์มีประสบการณ์มากกว่า 10 ปีในวงการเขียนรีวิวผลิตภัณฑ์ฮาร์ดแวร์และซอฟท์แวร์ และยังเคยทำงานด้านสื่อสิ่งพิมพ์และแบรนด์สินค้า อาทิเช่น สเตรทส์ไทม์ส, วีอาร์-โซน, และโซนี่</p>

            <p>เชสเตอร์ได้ตามเทรนด์เทคโนโลยีการถ่ายภาพดิจิตอลมาตั้งแต่ช่วงปี ค.ศ. 1990 จนถึงปี 2000 และในที่สุดก็ได้ฤกษ์ซื้อกล้อง DSLR ตัวแรกเมื่อบุตรชายของเขากำเนิด ตั้งแต่นั้นมาเขาก็ได้มุ่งเน้นในการสร้างสรรค์ผลงานสำหรับการพิมพ์และสื่อสิ่งพิมพ์ออนไลน์ และได้ถ่ายภาพอย่างเป็นมืออาชีพในงานกิจกรรมของบริษัท ทำให้แบรนด์ได้ตระหนักถึงความสามารถและออกใบอนุญาตให้เขาได้เผยแพร่งานไปทั่วโลก และตอนนี้เขาก็เพิ่งกลับไปใช้กล้องแบบฟิล์มซึ่งเป็นจุดเริ่มต้นในการถ่ายภาพของเขา รวมถึงการพัฒนาฟิล์มเนกาทีฟขาวดำอยู่ในห้องครัวของเขาเอง</p>

            <p>นอกจากนี้เชสเตอร์ เชนยังเป็นสมาชิกผู้ก่อตั้งกลุ่มนักล่าภูมิทัศน์แห่งเอเชีย เป็นกลุ่มก้อนสำหรับช่างภาพผู้คลั่งใคล้การถ่ายภาพภูมิทัศน์และสถาปัตยกรรม ซึ่งอุทิศตนเพื่อแบ่งปันแนวคิดใหม่ๆ และเป็นเครือข่ายเชื่อมโยงกันทั่วโลก</p>

            <p>คุณสามารถชมผลงานของเขาได้บน Flickr ที่
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:chester:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:chester:works:link', 'microsite|ilc:sea:thai|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เชสเตอร์ เชน (Chester Chen) ในวัย 49 ปี เกิดที่เมืองคิงส์ตัน ในประเทศจาไมก้า แล้วเคยอยู่อาศัยและทำงานอยู่ในกรุงโตรอนโต, ซานฟรานซิสโก, และลอนดอน ในปัจจุบันเขาอยู่ในประเทศสิงคโปร์ร่วมกับภรรยาและบุตรชายของเขา</p>

            <p>เชสเตอร์มีประสบการณ์มากกว่า 10 ปีในวงการเขียนรีวิวผลิตภัณฑ์ฮาร์ดแวร์และซอฟท์แวร์ และยังเคยทำงานด้านสื่อสิ่งพิมพ์และแบรนด์สินค้า อาทิเช่น สเตรทส์ไทม์ส, วีอาร์-โซน, และโซนี่</p>

            <p>เชสเตอร์ได้ตามเทรนด์เทคโนโลยีการถ่ายภาพดิจิตอลมาตั้งแต่ช่วงปี ค.ศ. 1990 จนถึงปี 2000 และในที่สุดก็ได้ฤกษ์ซื้อกล้อง DSLR ตัวแรกเมื่อบุตรชายของเขากำเนิด ตั้งแต่นั้นมาเขาก็ได้มุ่งเน้นในการสร้างสรรค์ผลงานสำหรับการพิมพ์และสื่อสิ่งพิมพ์ออนไลน์ และได้ถ่ายภาพอย่างเป็นมืออาชีพในงานกิจกรรมของบริษัท ทำให้แบรนด์ได้ตระหนักถึงความสามารถและออกใบอนุญาตให้เขาได้เผยแพร่งานไปทั่วโลก และตอนนี้เขาก็เพิ่งกลับไปใช้กล้องแบบฟิล์มซึ่งเป็นจุดเริ่มต้นในการถ่ายภาพของเขา รวมถึงการพัฒนาฟิล์มเนกาทีฟขาวดำอยู่ในห้องครัวของเขาเอง</p>

            <p>นอกจากนี้เชสเตอร์ เชนยังเป็นสมาชิกผู้ก่อตั้งกลุ่มนักล่าภูมิทัศน์แห่งเอเชีย เป็นกลุ่มก้อนสำหรับช่างภาพผู้คลั่งใคล้การถ่ายภาพภูมิทัศน์และสถาปัตยกรรม ซึ่งอุทิศตนเพื่อแบ่งปันแนวคิดใหม่ๆ และเป็นเครือข่ายเชื่อมโยงกันทั่วโลก</p>

            <p>คุณสามารถชมผลงานของเขาได้บน Flickr ที่
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:chester:works:link', 'ilc:sea:thai', 'ilc:sea:thai:profile:chester:works:link', 'microsite|ilc:sea:thai|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Chester</span>
                </p>
                <img data-original="img/profile/sg/chester/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Chester">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/chester/quote-1-th.png" width="312" height="188" alt="Chester's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/chester/quote-2-th.png" width="309" height="202" alt="Chester's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีความสุขกับการแบ่งปันช่วงเวลาที่ผมได้เห็น ไม่ว่าจะเป็นภาพถ่ายเดี่ยวในเวลาเพียงเสี้ยววินาที หรือจะเป็นช่วงเวลาที่ถูกอัดแน่นจากชั่วโมงสู่วินาทีในวิดีโอเร่งความเร็ว หรือแม้แต่ภาพที่เปิดรับแสงอย่างยาวนานนับนาที</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การถ่ายภาพได้ส่งผลกระทบถึง 3 ช่วงในชีวิตของผมตั้งแต่สมัยก่อน อย่างแรกเกิดขึ้นเมื่อผมได้เริ่มเรียนรู้เกี่ยวกับการถ่ายภาพในโรงเรียนมัธยมซึ่งเป็นส่วนหนึ่งของหลักสูตรที่ผมเรียน เกิดเป็นรากฐานในการทำงานอดิเรกและต่อยอดขยายมากขึ้นเมื่อผมได้ทำงานพิเศษในร้านขายกล้อง แต่พอถึงช่วงที่ 2 ในวัยรุ่นผมก็ลืมเรื่องการถ่ายภาพๆไปและมุ่งเน้นกับเทคโนโลยีสารสนเทศ แต่ผมก็ยังเชื่อในความรักต่อการถ่ายภาพที่ยังคงวนเวียนอยู่ในความคิดของผมอยู่บ่อยครั้ง และในปี 2006 เมื่อลูกชายเกิดผมก็ได้กลับเข้ามาสู่การถ่ายภาพอีกครั้ง ส่วนอย่างที่ 3 ยังไม่เกิดขึ้นจนถึงช่วงปี 2009 - 2010 เมื่อผมได้อยู่ในตำแหน่งท็อป 3 ของการประกวดการถ่ายภาพ และทำให้การถ่ายภาพกลายเป็นงานมากกว่าเรื่องส่วนตัวในที่สุด</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Chester">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ความท้าทายที่ใหญ่ที่สุดที่ผมต้องเจอในการถ่ายภาพคือปัญหาเรื่องน้ำหนักของอุปกรณ์และความเทอะทะ ผมไม่ใช่หนุ่มสาวแล้ว (แม้ว่าผมยังมีแรงพอในการแบกอุปกรณ์ของผมอยู่) ดังนั้นจึงต้องมองหาอุปกรณ์ที่ลดความเทอะทะและน้ำหนักลง ซึ่งกล้องกลุ่ม Mirrorless อย่าง a7 นั้นสามารถตอบโจทย์นี้ได้ด้วยขนาดที่ทำให้คุณพกกระเป๋าได้เล็กลง หรือถ้าคุณชอบกระเป๋าใบใหญ่ก็เพียงเปลี่ยนมันเป็นพื้นที่เก็บเลนส์และอุปกรณ์เสริมที่คุณอาจเคยทิ้งไว้ไม่ได้นำมาใช้งาน</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เหมือนกับที่กล่าวไว้ก่อนหน้า อุปสรรคที่ใหญ่ที่สุดที่ผมเผชิญคือการถ่ายภาพจากกล้องที่มีน้ำหนักมาก และใน a7 นั้นกะทัดรัดกว่า และลดความเทอะทะลงด้วยระบบ Mirrorless ที่ช่วยให้ผมไม่ต้องแบกรับอะไรให้หนักเพิ่มมากขึ้น เพราะมีน้ำหนักที่ลดลงจนรู้สึกได้ทันที หรือจะสละพื้นที่มาเป็นการพกพาเลนส์และอุปกรณ์เสริมอื่นๆ ก็ได้</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">สำหรับผม ผมนึกถึงช่องมองภาพอิเล็กทรอนิกส์ในทันที และความสามารถในการโฟกัสด้วยมือที่มีคุณสมบัติ Focus Peaking และผมชื่นชอบการเชื่อมต่อ Wi-Fi ที่ทำให้ผมสามารถเชื่อมโยงแบบไร้สายกับ α7 ได้ แล้วสั่งถ่ายภาพโดยใช้สมาร์ทโฟน ภาพที่ถูกถ่ายจะถูกดาวน์โหลดไปยังอุปกรณ์ที่เชื่อมต่ออยู่ในทันที ซึ่งมีหลายสิ่งที่คุณสามารถทำได้กับการถ่ายภาพแบบเรียลไทม์และความสามารถในการแบ่งปันจากกล้องนี้</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมจะให้อันดับการถ่ายภาพดิจิตอลของโซนี่ในความเป็นผู้นำของยุคปัจจุบัน และเป็นผู้ผลักดันนวัตกรรมและคุณสมบัติที่ดี ผมอยากจะให้อันดับที่ 2 หรือเป็นที่ 1 ร่วมกับแบรนด์อื่นสำหรับคุณภาพของภาพถ่ายที่ได้รับ</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-3.jpg" width="611" height="207" alt="พูดคุย กับ Chester">

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมรักเลนส์แบบ 55 ม.ม. f1.8 และยังคงรักอยู่ แต่ว่าเลนส์ 16-35 ม.ม. f/4 นั้นเหมาะที่สุดสำหรับการถ่ายภาพภูมิทัศน์ของผม</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมมีชุดฟิลเตอร์ และผมยังพกพาอินเตอร์วาโลมิเตอร์ 2 ชุด ซึ่งผมติดการใช้กล้องฟิล์มตัวเก่าจากโรงเรียนมา ดังนั้นผมจึงยังใส่เครื่องวัดแสงพกพาไว้ด้วย ผมยังพกรางตั้งกล้องซึ่งสำคัญมากสำหรับการถ่ายภาพพาโนรามา พร้อมแบตเตอรี่เสริม และชุดแบตเตอรี่พกพา แต่ส่วนใหญ่อย่างหลังมักจะนำมาใช้ชาร์จสมาร์ทโฟนของผมเองซะมากกว่า แต่มันสามารถนำมาใช้ชาร์จแบตเตอรี่กล้องผ่านทางพอร์ต USB ได้ในยามฉุกเฉิน
                        <br/>
                        <br/> ส่วนกล้องในกระเป๋าจะเป็น a7R หรือ a7S นั้นขึ้นอยู่กับว่าสิ่งที่ผมจะถ่ายคืออะไร และยังติดเลนส์ 16-35 ม.ม. f/4 เอาไว้เพราะเลนส์ 35 ม.ม. f2/8 มีขนาดเล็กมากจึงเป็นเลนส์ที่มักจะอยู่ในกระเป๋าของผมมากกว่า และผมจะพกกระเป๋าเพิ่มหากผมจะต้องถ่ายภาพวิดีโอเร่งความเร็วอย่างจริงจัง กระเป๋าที่เพิ่มเติมจะใส่สไลด์สำหรับถ่ายภาพเร่งความเร็ว, ราง, และรถเข็นกล้อง เพื่อให้ผมสามารถเคลื่อนกล้องสูง, ต่ำ, ซ้าย, หรือขวาได้อย่างอิสระ
                    </div>
                </div>
                <!-- Q&A 8 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>


    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-photographer">Chester</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/chester/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Chester"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือแรงบันดาลใจในการเป็นช่างภาพของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีความสุขกับการแบ่งปันช่วงเวลาที่ผมได้เห็น ไม่ว่าจะเป็นภาพถ่ายเดี่ยวในเวลาเพียงเสี้ยววินาที หรือจะเป็นช่วงเวลาที่ถูกอัดแน่นจากชั่วโมงสู่วินาทีในวิดีโอเร่งความเร็ว หรือแม้แต่ภาพที่เปิดรับแสงอย่างยาวนานนับนาที</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพสำคัญอย่างไรกับการทำงานและชีวิตส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การถ่ายภาพได้ส่งผลกระทบถึง 3 ช่วงในชีวิตของผมตั้งแต่สมัยก่อน อย่างแรกเกิดขึ้นเมื่อผมได้เริ่มเรียนรู้เกี่ยวกับการถ่ายภาพในโรงเรียนมัธยมซึ่งเป็นส่วนหนึ่งของหลักสูตรที่ผมเรียน เกิดเป็นรากฐานในการทำงานอดิเรกและต่อยอดขยายมากขึ้นเมื่อผมได้ทำงานพิเศษในร้านขายกล้อง แต่พอถึงช่วงที่ 2 ในวัยรุ่นผมก็ลืมเรื่องการถ่ายภาพๆไปและมุ่งเน้นกับเทคโนโลยีสารสนเทศ แต่ผมก็ยังเชื่อในความรักต่อการถ่ายภาพที่ยังคงวนเวียนอยู่ในความคิดของผมอยู่บ่อยครั้ง และในปี 2006 เมื่อลูกชายเกิดผมก็ได้กลับเข้ามาสู่การถ่ายภาพอีกครั้ง ส่วนอย่างที่ 3 ยังไม่เกิดขึ้นจนถึงช่วงปี 2009 - 2010 เมื่อผมได้อยู่ในตำแหน่งท็อป 3 ของการประกวดการถ่ายภาพ และทำให้การถ่ายภาพกลายเป็นงานมากกว่าเรื่องส่วนตัวในที่สุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือความท้าทายที่ยิ่งใหญ่ที่คุณต้องเผชิญในการถ่ายภาพ และ a7 ช่วยคุณจัดการกับอุปสรรคเหล่านั้นได้อย่างไร?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ความท้าทายที่ใหญ่ที่สุดที่ผมต้องเจอในการถ่ายภาพคือปัญหาเรื่องน้ำหนักของอุปกรณ์และความเทอะทะ ผมไม่ใช่หนุ่มสาวแล้ว (แม้ว่าผมยังมีแรงพอในการแบกอุปกรณ์ของผมอยู่) ดังนั้นจึงต้องมองหาอุปกรณ์ที่ลดความเทอะทะและน้ำหนักลง ซึ่งกล้องกลุ่ม Mirrorless อย่าง a7 นั้นสามารถตอบโจทย์นี้ได้ด้วยขนาดที่ทำให้คุณพกกระเป๋าได้เล็กลง หรือถ้าคุณชอบกระเป๋าใบใหญ่ก็เพียงเปลี่ยนมันเป็นพื้นที่เก็บเลนส์และอุปกรณ์เสริมที่คุณอาจเคยทิ้งไว้ไม่ได้นำมาใช้งาน</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพส่วนตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เหมือนกับที่กล่าวไว้ก่อนหน้า อุปสรรคที่ใหญ่ที่สุดที่ผมเผชิญคือการถ่ายภาพจากกล้องที่มีน้ำหนักมาก และใน a7 นั้นกะทัดรัดกว่า และลดความเทอะทะลงด้วยระบบ Mirrorless ที่ช่วยให้ผมไม่ต้องแบกรับอะไรให้หนักเพิ่มมากขึ้น เพราะมีน้ำหนักที่ลดลงจนรู้สึกได้ทันที หรือจะสละพื้นที่มาเป็นการพกพาเลนส์และอุปกรณ์เสริมอื่นๆ ก็ได้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ในความคิดของคุณ มีอะไรบ้างที่เป็นคุณสมบัติอันโดดเด่นและเป็นข้อดีของ a7?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">สำหรับผม ผมนึกถึงช่องมองภาพอิเล็กทรอนิกส์ในทันที และความสามารถในการโฟกัสด้วยมือที่มีคุณสมบัติ Focus Peaking และผมชื่นชอบการเชื่อมต่อ Wi-Fi ที่ทำให้ผมสามารถเชื่อมโยงแบบไร้สายกับ α7 ได้ แล้วสั่งถ่ายภาพโดยใช้สมาร์ทโฟน ภาพที่ถูกถ่ายจะถูกดาวน์โหลดไปยังอุปกรณ์ที่เชื่อมต่ออยู่ในทันที ซึ่งมีหลายสิ่งที่คุณสามารถทำได้กับการถ่ายภาพแบบเรียลไทม์และความสามารถในการแบ่งปันจากกล้องนี้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณจะให้คะแนนโซนี่ในด้านการถ่ายภาพดิจิตอลเท่าไหร่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมจะให้อันดับการถ่ายภาพดิจิตอลของโซนี่ในความเป็นผู้นำของยุคปัจจุบัน และเป็นผู้ผลักดันนวัตกรรมและคุณสมบัติที่ดี ผมอยากจะให้อันดับที่ 2 หรือเป็นที่ 1 ร่วมกับแบรนด์อื่นสำหรับคุณภาพของภาพถ่ายที่ได้รับ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เลนส์ชิ้นใดที่คุณชื่นชอบ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมรักเลนส์แบบ 55 ม.ม. f1.8 และยังคงรักอยู่ แต่ว่าเลนส์ 16-35 ม.ม. f/4 นั้นเหมาะที่สุดสำหรับการถ่ายภาพภูมิทัศน์ของผม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">มีอะไรอยู่ในกระเป๋ากล้องของคุณบ้าง?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมมีชุดฟิลเตอร์ และผมยังพกพาอินเตอร์วาโลมิเตอร์ 2 ชุด ซึ่งผมติดการใช้กล้องฟิล์มตัวเก่าจากโรงเรียนมา ดังนั้นผมจึงยังใส่เครื่องวัดแสงพกพาไว้ด้วย ผมยังพกรางตั้งกล้องซึ่งสำคัญมากสำหรับการถ่ายภาพพาโนรามา พร้อมแบตเตอรี่เสริม และชุดแบตเตอรี่พกพา แต่ส่วนใหญ่อย่างหลังมักจะนำมาใช้ชาร์จสมาร์ทโฟนของผมเองซะมากกว่า แต่มันสามารถนำมาใช้ชาร์จแบตเตอรี่กล้องผ่านทางพอร์ต USB ได้ในยามฉุกเฉิน
                                <br/>
                                <br/> ส่วนกล้องในกระเป๋าจะเป็น a7R หรือ a7S นั้นขึ้นอยู่กับว่าสิ่งที่ผมจะถ่ายคืออะไร และยังติดเลนส์ 16-35 ม.ม. f/4 เอาไว้เพราะเลนส์ 35 ม.ม. f2/8 มีขนาดเล็กมากจึงเป็นเลนส์ที่มักจะอยู่ในกระเป๋าของผมมากกว่า และผมจะพกกระเป๋าเพิ่มหากผมจะต้องถ่ายภาพวิดีโอเร่งความเร็วอย่างจริงจัง กระเป๋าที่เพิ่มเติมจะใส่สไลด์สำหรับถ่ายภาพเร่งความเร็ว, ราง, และรถเข็นกล้อง เพื่อให้ผมสามารถเคลื่อนกล้องสูง, ต่ำ, ซ้าย, หรือขวาได้อย่างอิสระ
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
