<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="photos-content">

                <script id="photos-content" type="text/x-handlebars-template">​

                    {{#each this}}

                        <div id="photo-{{id}}" class="photo-content center-block">

                            <div>
                                <img data-original="img/profile/{{country}}/{{photographer.nick}}/photo-{{id}}.jpg" class="img-responsive center-block lazy" alt="{{title}}" height="676" width="1024">
                            </div>

                            <div class="clearfix sg-kol {{#if lens}}hidden{{else}}show{{/if}}">
                                <div class="pull-right">
                                    <p class="text-right">{{specs}}</p>
                                </div>
                                <div class="pull-left">
                                    <div class="logo">
                                        <a href="{{camera.link}}?cid={{{camera.name}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:sea:thai', 'ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:sea:thai|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                </div>
                                <p class="title nobottomspacing">{{title}}</p>
                                <p class="photographer-name">{{photographer.name}}</p>
                                <p class="description">{{{description}}}</p>

                                <div class="fb-like text-left" data-href="@@country/@@language/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                            </div>

                            <div class="clearfix sg-kol {{#if lens}}show{{else}}hidden{{/if}}">
                                <div class="pull-right">
                                    <p class="text-right">{{specs}}</p>
                                </div>
                                <div class="pull-left">
                                    <div class="logo">
                                        <a href="{{camera.link}}?cid={{{camera.name}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:sea:thai', 'ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:sea:thai|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                    </div>

                                    <p>+</p>

                                    <!-- <p>{{{lens.specs1}}}</p> -->

                                    <div class="lens">
                                        {{#if lens.img}}
                                            <a href="{{lens.link}}?cid={{{lens.model}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'ilc:sea:thai', 'ilc:sea:thai:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'microsite|ilc:sea:thai|gallery|{{photographer.nick}}|photo|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{{{lens.specs}}}"></a>
                                        {{else}}
                                            <div class="placeholder hidden-xs hidden-sm"></div>
                                        {{/if}}
                                    </div>
                                    <p>{{{lens.specs}}}</p>

                                    {{#if lens2}}
                                    <div class="lens2-container">
                                        <p>+</p>

                                        <div class="lens">
                                            {{#if lens2.img}}
                                                <a href="{{lens2.link}}?cid={{{lens2.model}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{lens2.model}}|discover','event50');" target="_blank"><img src="{{lens2.img}}" alt="{{{lens2.specs}}}"></a>
                                            {{else}}
                                                <div class="placeholder hidden-xs hidden-sm"></div>
                                            {{/if}}
                                        </div>
                                        <p>{{{lens2.specs}}}</p>
                                    </div>
                                    {{else}}
                                        <div class="placeholder hidden-xs hidden-sm"></div>
                                    {{/if}}

                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                </div>
                                <p class="title nobottomspacing">{{title}}</p>
                                <p class="photographer-name">{{photographer.name}}</p>
                                <p class="description">{{{description}}}</p>

                                <div class="fb-like text-left" data-href="@@country/@@language/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                            </div>

                        </div>

                    {{/each}} ​

                </script>

            </div>


            <div class="photo-carousel-title hidden-xs hidden-sm">คลิกเพื่อดูภาพถ่ายจากช่างภาพ</div>


            <div class="photos-carousel hidden-xs hidden-sm text-center center-block">

                <script id="photos-carousel" type="text/x-handlebars-template">​

                    {{#each this}}

                        <a class="photo-carousel hidden-xs hidden-sm" rel="photo-gallery" href="#photo-{{id}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:{{photographer.nick}}:photo', 'ilc:sea:thai', 'ilc:sea:thai:profile:{{photographer.nick}}:photo', 'microsite|ilc:sea:thai|profile|{{photographer.nick}}|photo');">
                            <img data-lazy="img/profile/{{country}}/{{photographer.nick}}/thumb-{{id}}.jpg" class="img-responsive lazy center-block" height="136" width="210" alt="{{title}}">
                            <div class="border center-block"></div>
                        </a>

                    {{/each}}

                </script>

            </div>


            <div class="photos-carousel-mobile hidden-md hidden-lg text-center center-block">

                <script id="photos-carousel-mobile" type="text/x-handlebars-template">​

                    {{#each this}}

                        <a class="photo-carousel-mobile col-xs-4 hidden-md hidden-lg" rel="photo-gallery" href="#photo-{{id}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:{{photographer.nick}}:photo', 'ilc:sea:thai', 'ilc:sea:thai:profile:{{photographer.nick}}:photo', 'microsite|ilc:sea:thai|profile|{{photographer.nick}}|photo');">
                            <img data-original="img/profile/{{country}}/{{photographer.nick}}/thumb-{{id}}-mobile.jpg" class="img-responsive lazy" height="178" width="180" alt="{{title}}">
                        </a>

                    {{/each}}

                </script>

            </div>

            <div class="clearfix"></div>
            <div class="hidden-sm hidden-xs back-to-top" id="th"></div>

        </div>

        <div class="clearfix"></div>
        <div class="space hidden-md hidden-lg">&nbsp;</div>

    </div>

</div>
