<header class="container-fluid navbar-fixed-top thai">

    <div class="row">

        <div class="col-sm-12 navbar navbar-inverse">

            <div class="logo">
                <a href="./"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @@if (typeof country !== 'undefined' && country !== 'sg') {
            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/@@language/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:menu:main:home', 'ilc:sea:thai', 'ilc:sea:thai:menu:main:home', 'microsite|ilc:sea:thai|menu|main|home');" class="home">หน้าแรก</a>
                <a href="@@country/@@language/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:menu:main:gallery', 'ilc:sea:thai', 'ilc:sea:thai:menu:main:gallery', 'microsite|ilc:sea:thai|menu|main|gallery');" class="gallery">แกลเลอรี่</a>
                <!-- <a onclick="return false;" class="feature_pro last">โปรเจคโดดเด่น<br/><span>เร็วๆนี้</span></a> -->

                } @@if (typeof country !== 'undefined' && country === 'sg') {
                <nav id="navbar" class="text-center navbar-collapse collapse sg-main-nav">

                    <a href="@@country/@@language/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:menu:main:home', 'ilc:sea:thai', 'ilc:sea:thai:menu:main:home', 'microsite|ilc:sea:thai|menu|main|home');" class="home">หน้าแรก</a>
                    <a href="@@country/@@language/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:menu:main:gallery', 'ilc:sea:thai', 'ilc:sea:thai:menu:main:gallery', 'microsite|ilc:sea:thai|menu|main|gallery');" class="gallery">แกลเลอรี่</a>
                    <!-- <a onclick="return false;" class="feature_pro">โปรเจคโดดเด่น<br/><span>เร็วๆนี้</span></a> -->
                    <a href="@@country/@@language/series.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:menu:main:a7Series', 'ilc:sea:thai', 'ilc:sea:thai:menu:main:a7Series', 'microsite|ilc:sea:thai|menu|main|a7Series');" class="series"><img src="img/logo-alpha_7.png" alt="Alpha 7 Logo" width="27" height="13"> Series</a>
                    <!-- <a href="@@country/@@language/other-a7-users.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:Othera7Users', 'ilc:@@country', 'ilc:@@country:menu:main:Othera7Users', 'microsite|ilc:@@country|menu|main|Othera7Users');" class="other-a7users">Other <img src="img/logo-alpha_7.png" alt="Alpha 7 Logo" width="27" height="13"> Users</a> -->
                    <a href="sg/reviews.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:Reviews', 'ilc:@@country', 'ilc:@@country:menu:main:Reviews', 'microsite|ilc:@@country|menu|main|Reviews');" class="reviews">Reviews</a>

            }

            @@if ((typeof country !== 'undefined' && country === 'th') || (typeof country !== 'undefined' && country === 'sg') || (typeof country !== 'undefined' && country === 'id') || (typeof country !== 'undefined' && country === 'vn')) {
                <a href="//www.sony-asia.com/microsite/ilc/videographers/sea/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:videographers', 'ilc:@@country', 'ilc:@@country:menu:main:videographers', 'microsite|ilc:@@country|menu|main|videographers');" class="videographers last">
                    <img src="img/professional-video.png" alt="Alpha - Professionals Videographers" width="153" height="24">
                </a>
            }

            @@if ((typeof country !== 'undefined' && country === 'my') || (typeof country !== 'undefined' && country === 'ph') || (typeof country !== 'undefined' && country === 'sea') ) {
                <a href="//www.sony-asia.com/microsite/ilc/videographers/@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:videographers', 'ilc:@@country', 'ilc:@@country:menu:main:videographers', 'microsite|ilc:@@country|menu|main|videographers');" class="videographers last">
                    <img src="img/professional-video.png" alt="Alpha - Professionals Videographers" width="153" height="24">
                </a>
            }

            </nav>


    <div class="divider hidden-md hidden-lg">
        <img src="img/profile/divider-white.png" alt="" width="301" height="2">
    </div>

    <div class="language">
        <select name="language" id="language" class="hidden-xs">
            <option value="en" selected>English</option>
            <option value="thai">Thai</option>
            <option value="viet">Vietnamese</option>
        </select>
        <select name="language" id="language-mobile" class="hidden-sm hidden-md hidden-lg">
            <option value="en" selected>EN</option>
            <option value="thai">TH</option>
            <option value="viet">VN</option>
        </select>
    </div>

</div>

</div>

</header>

<div class="container-fluid secondary-nav text-center hidden-xs hidden-sm">

    <div class="row">

        <div class="col-sm-12">

            <div class="secondary-nav-wrapper text-center">



                <!-- SINGAPORE -->
                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'sg') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'sg') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden sg">

                }

                <a href="@@country/@@language/profile-edward.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:edward', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:edward', 'microsite|ilc:sea:thai|profile|menu|edward');" id="edward">
                    <p>Edward Tian</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-kelvin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:kelvin', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:kelvin', 'microsite|ilc:sea:thai|profile|menu|kelvin');" id="kelvin">
                    <p>Kelvin Koh</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:chester', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:chester', 'microsite|ilc:sea:thai|profile|menu|chester');" id="chester">
                    <p>Chester Chen</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:bryan', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:bryan', 'microsite|ilc:sea:thai|profile|menu|bryan');" id="bryan">
                    <p>Bryan van der beek</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-darren.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:darren', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:darren', 'microsite|ilc:sea:thai|profile|menu|darren');" id="darren">
                    <p>Darren Soh</p>
                </a>

                </div>
                <!-- SINGAPORE -->



                <!-- MALAYSIA -->
                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'my') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'my') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden my">

                }

                <a href="@@country/@@language/profile-eric.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:eric', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:eric', 'microsite|ilc:sea:thai|profile|menu|eric');" id="eric">
                    <p>Ooi Eric</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-nick.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:nick', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:nick', 'microsite|ilc:sea:thai|profile|menu|nick');" id="nick">
                    <p>Nick Ng</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-fakrul.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:fakrul', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:fakrul', 'microsite|ilc:sea:thai|profile|menu|fakrul');" id="fakrul">
                    <p>Fakrul Jamil</p>
                </a>

                </div>
                <!-- MALAYSIA -->




                <!-- PHILIPPINES -->
                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'ph') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'ph') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden ph">

                }

                <a href="@@country/@@language/profile-manny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:manny', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:manny', 'microsite|ilc:sea:thai|profile|menu|manny');" id="manny">
                    <p>Manny Librodo</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-pilar.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:pilar', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:pilar', 'microsite|ilc:sea:thai|profile|menu|pilar');" id="pilar">
                    <p>Pilar Trigo Bonnin</p>
                </a>

                </div>
                <!-- PHILIPPINES -->





                <!-- INDONESIA -->
                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'id') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'id') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden id">

                }

                <a href="@@country/@@language/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:nicoline', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:nicoline', 'microsite|ilc:sea:thai|profile|menu|nicoline');" id="nicoline">
                    <p>Nicoline Patricia Malina</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-glenn.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:glenn', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:glenn', 'microsite|ilc:sea:thai|profile|menu|glenn');" id="glenn">
                    <p>Glenn Prasetya</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-benny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:benny', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:benny', 'microsite|ilc:sea:thai|profile|menu|benny');" id="benny">
                    <p>Benny Lim</p>
                </a>

                </div>
                <!-- INDONESIA -->




                <!-- THAILAND -->

                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'th') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'th') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden th">

                }

                <a href="@@country/@@language/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:kriengkrai', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:kriengkrai', 'microsite|ilc:sea:thai|profile|menu|kriengkrai');" id="kriengkrai">
                    <p>Kriengkrai Waiyakij</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-tavepong.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:tavepong', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:tavepong', 'microsite|ilc:sea:thai|profile|menu|tavepong');" id="tavepong">
                    <p>Tavepong Pratoomwong</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-urasha.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:urasha', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:urasha', 'microsite|ilc:sea:thai|profile|menu|urasha');" id="urasha">
                    <p>Urasha Jakkachaphol</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/@@language/profile-vin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:vin', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:vin', 'microsite|ilc:sea:thai|profile|menu|vin');" id="vin">
                    <p>Vin Buddy</p>
                </a>


                </div>
                <!-- THAILAND -->




                <!-- VIETNAM -->

                @@if (typeof photographerCountry !== 'undefined' && photographerCountry === 'vn') {

                <div class="nav_middle pull-left show">

                } @@if (typeof photographerCountry !== 'undefined' && photographerCountry !== 'vn') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof photographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden vn">

                }

                &nbsp;



                </div>
                <!-- VIETNAM -->



                <div class="nav_countries pull-left text-right">
                    <!-- <a href="@@country/@@language/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:ID', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:ID', 'microsite|ilc:sea:thai|profile|menu|ID');" id="id">
                        <img src="img/profile/flag-id.jpg" height="18" width="24" alt="Indonesia">
                    </a> -->

                    <a href="@@country/@@language/profile-eric.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:MY', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:MY', 'microsite|ilc:sea:thai|profile|menu|MY');" id="my">
                        <img src="img/profile/flag-my.jpg" height="18" width="24" alt="Malaysia">
                    </a>

                    <a href="@@country/@@language/profile-manny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:PH', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:PH', 'microsite|ilc:sea:thai|profile|menu|PH');" id="ph">
                        <img src="img/profile/flag-ph.jpg" height="18" width="24" alt="Philippines">
                    </a>

                    <a href="@@country/@@language/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:SG', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:SG', 'microsite|ilc:sea:thai|profile|menu|SG');" id="sg">
                        <img src="img/profile/flag-sg.jpg" height="18" width="24" alt="Singapore">
                    </a>

                    <a href="@@country/@@language/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:thai:profile:menu:TH', 'ilc:sea:thai', 'ilc:sea:thai:profile:menu:TH', 'microsite|ilc:sea:thai|profile|menu|TH');" id="th">
                        <img src="img/profile/flag-th.jpg" height="18" width="24" alt="Thailand">
                    </a>



                </div>



                <div class="clearfix"></div>


            </div>



        </div>

    </div>

</div>


<div class="container-fluid secondary-nav-mobile text-center hidden-md hidden-lg">
    <div class="row">
        <select id="kol-select">
            <option value="" selected disabled>เลือกช่างภาพ</option>

            <optgroup label="Indonesia">
                <option id="option-benny" value="@@country/@@language/profile-benny.html">Benny Lim</option>
                <option id="option-glenn" value="@@country/@@language/profile-glenn.html">Glenn Prasetya</option>
                <option id="option-nicoline" value="@@country/@@language/profile-nicoline.html">Nicoline Patricia Malina</option>
            </optgroup>

            <optgroup label="Malaysia">
                <option id="option-eric" value="@@country/@@language/profile-eric.html">Ooi Eric</option>
                <option id="option-fakrul" value="@@country/@@language/profile-fakrul.html">Fakrul Jamil</option>
                <option id="option-nick" value="@@country/@@language/profile-nick.html">Nick Ng</option>
            </optgroup>

            <optgroup label="Philippines">
                <option id="option-manny" value="@@country/@@language/profile-manny.html">Manny Librodo</option>
                <option id="option-pilar" value="@@country/@@language/profile-pilar.html">Pilar Trigo Bonnin</option>
            </optgroup>

            <optgroup label="Singapore">
                <option id="option-bryan" value="@@country/@@language/profile-bryan.html">Bryan van der Beek</option>
                <option id="option-chester" value="@@country/@@language/profile-chester.html">Chester Chen</option>
                <option id="option-darren" value="@@country/@@language/profile-darren.html">Darren Soh</option>
                <option id="option-edward" value="@@country/@@language/profile-edward.html">Edward Tian</option>
                <option id="option-kelvin" value="@@country/@@language/profile-kelvin.html">Kelvin Koh</option>
            </optgroup>

            <optgroup label="Thailand">
                <option id="option-kriengkrai" value="@@country/@@language/profile-kriengkrai.html">Kriengkrai Waiyakij</option>
                <option id="option-tavepong" value="@@country/@@language/profile-tavepong.html">Tavepong Pratoomwong</option>
                <option id="option-urasha" value="@@country/@@language/profile-urasha.html">Urasha Jakkachaphol</option>
                <option id="option-vin" value="@@country/@@language/profile-vin.html">Vin Buddy</option>
            </optgroup>



        </select>

        <div class="divider hidden-md hidden-lg">
            <img src="img/profile/divider-white.png" alt="" width="301" height="2">
        </div>

        <div class="clearfix"></div>
    </div>
</div>
