<div id="profile-manny">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Travel + Portrait + Fashion Photographer</p>
                <p class="name">Manny Librodo</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5 col-sm-offset-1">

                <div>
                    <p class="type">Travel + Portrait + Fashion Photographer</p>
                    <p class="name">Manny Librodo</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>MANUEL L. LIBRODO JR. is a highly decorated photographer. Specialising in travel and people, glamour and fashion photography, his popularity among photographers and photography fans is evident through more than 27 million hits in his Pbase account alone and more than 120,000 followers he has on his Facebook personal and fan pages. His images have appeared in many publications worldwide, including several cover pages for Asian Geographic and calendars for UNICEF.</p>

            <p>A number of big names in international photography have given praise to Librodo&rsquo;s works. In 2009, Scott Kelby called Librodo a photographer who has "phenomenal vision" who "creates pure magic". For that, Kelby said Librodo was "one of the world&rsquo;s five best photographers that you probably haven&rsquo;t heard about." Zack Arias, another photography guru, also observed that Librodo&rsquo;s vision extends beyond photography. Last year, a popular blogger (with over 1.5 million followers) at boredpanda.com, cited him as one of the top ten of the world’s most famous portrait photographers.</p>

            <p>In fact, Librodo has already achieved such a highly respected stature that he has already been invited to judge in a number of international photography contests as well as speak in international photography conferences alongside famous personalities as Joey Lawrence, Michael Yamashita, Zack Arias & Steve McCurry.</p>

            <p>Librodo is also a highly-sought photography mentor, having conducted more than 150 workshops worldwide since 2007. He has mentored more than a thousand students, many of whom have now become successful in their own respective photography careers. He has also collaborated with countless number of models including international beauty pageant winners and other famous personalities.</p>

            <p>Manny Librodo is from Lambunao, Iloilo, Philippines. He graduated Valedictorian in high school and was a college scholar at University in the Philippines in the Visayas in college. Before he ventured into photography full-time, he was a high school teacher in one of Thailand’s premier international schools.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>MANUEL L. LIBRODO JR. is a highly decorated photographer. Specialising in travel and people, glamour and fashion photography, his popularity among photographers and photography fans is evident through more than 27 million hits in his Pbase account alone and more than 120,000 followers he has on his Facebook personal and fan pages. His images have appeared in many publications worldwide, including several cover pages for Asian Geographic and calendars for UNICEF.</p>

            <p>A number of big names in international photography have given praise to Librodo&rsquo;s works. In 2009, Scott Kelby called Librodo a photographer who has "phenomenal vision" who "creates pure magic". For that, Kelby said Librodo was "one of the world&rsquo;s five best photographers that you probably haven&rsquo;t heard about." Zack Arias, another photography guru, also observed that Librodo&rsquo;s vision extends beyond photography. Last year, a popular blogger (with over 1.5 million followers) at boredpanda.com, cited him as one of the top ten of the world’s most famous portrait photographers.</p>

            <p>In fact, Librodo has already achieved such a highly respected stature that he has already been invited to judge in a number of international photography contests as well as speak in international photography conferences alongside famous personalities as Joey Lawrence, Michael Yamashita, Zack Arias & Steve McCurry.</p>

            <p>Librodo is also a highly-sought photography mentor, having conducted more than 150 workshops worldwide since 2007. He has mentored more than a thousand students, many of whom have now become successful in their own respective photography careers. He has also collaborated with countless number of models including international beauty pageant winners and other famous personalities.</p>

            <p>Manny Librodo is from Lambunao, Iloilo, Philippines. He graduated Valedictorian in high school and was a college scholar at University in the Philippines in the Visayas in college. Before he ventured into photography full-time, he was a high school teacher in one of Thailand’s premier international schools.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Manny</span>
                </p>
                <img data-original="img/profile/ph/manny/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Manny">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/manny/quote-1.png" width="265" height="209" alt="Manny's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/manny/quote-2.png" width="309" height="334" alt="Manny's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Anything extreme. It can be extremely beautiful or extremely “otherwise”. I am always attracted to rich colours in the same manner that the lack thereof guides my eyes into something that I can zero in to provide a focal point. I also have the eye in finding light. Thus, when I see something magical, it builds up this excitement within me and it pumps creative adrenaline into my vision. All of the above enhances contrast. Contrast is, by itself, a great subject.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography is my life. I eat and breathe photography. Since I took up photography as a full-time job, I make it a point to continue enjoying it because it defines my existence. If I am stressed out about my photography, life is also stressful. Thus, my photography has to be happy, spontaneous and (most of the time) joyful.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-2.jpg" width="611" height="207" alt="Interview with Manny">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My gear has to compliment my photography style. I am a “feeler” and not a “thinker”. I am not a technical photographer. Thus, my camera has to be intelligent. I am a spontaneous shooter. So I need an all-around lens attached to my camera most of the time. Everything should be easy to understand and operate because I would rather focus on injecting a lot of artistry into my photography rather than worrying about how to create a technically flawless picture.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My brother Jose “Boboy” Librodo. He’s the artist in the family. He taught me the rudiments of art in a very simplistic way. He subliminally pushed me to become a better artist than him. I also look up to my ultimate idol, “the” Steve McCurry. My absolute favourite image of him is the famous picture of the Afghan girl, as all the elements I look for in a picture are there.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The “guessing” game about how the picture would look like especially in terms of exposure, white balance, etc. The a7 provides a preview even before you press the shutter. Also, as someone who travels and shoots a lot, I need to literally cover a lot of ground so I need a lighter equipment. The a7 is heaven-sent. A small “beast” with amazingly big results.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The a7 is an extension of me. It looks good (hahaha). Seriously, it looks sleek and handsome. I also have to mention the lightness, smartness and easiness factors. Everything that I need in a camera is contained in the a7 series. Why look elsewhere?</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">There are many. But I will categorise them into 2:
                        <br/>
                        <br/> Firstly, the looks of it, including its size and the weight. It is easy to move around and I can pack in my bag with more lenses now. Appearance-wise, it is good-looking and classy. Need I say more?
                        <br/>
                        <br/> Secondly, the image results. It has an amazing colour depth and dynamic range. As I rely heavily on colours and natural light in communicating the artistry of my images, I need my images to be crisp and rich. The a7 series delivers that and more.
                    </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">EXCELLENT. I get immediate feedback even before I press the shutter. The live view is pretty accurate and there is no room for mistakes as it allows you to adjust and view the corresponding results even before the image is taken. That’s the essence of digital imaging.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-3.jpg" width="611" height="207" alt="Interview with Manny">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My favorite lens is the all-round 24-70 Zeiss lens. I took a picture of a girl in Siem Reap, Cambodia in one of my trips and the clarity of the picture is mind-blowing.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7R and a7II. Zeiss lenses 24-70, 70-200 and 55. And lots of enthusiasm.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Manny</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/manny/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Manny"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Anything extreme. It can be extremely beautiful or extremely “otherwise”. I am always attracted to rich colours in the same manner that the lack thereof guides my eyes into something that I can zero in to provide a focal point. I also have the eye in finding light. Thus, when I see something magical, it builds up this excitement within me and it pumps creative adrenaline into my vision. All of the above enhances contrast. Contrast is, by itself, a great subject.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography is my life. I eat and breathe photography. Since I took up photography as a full-time job, I make it a point to continue enjoying it because it defines my existence. If I am stressed out about my photography, life is also stressful. Thus, my photography has to be happy, spontaneous and (most of the time) joyful.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My gear has to compliment my photography style. I am a “feeler” and not a “thinker”. I am not a technical photographer. Thus, my camera has to be intelligent. I am a spontaneous shooter. So I need an all-around lens attached to my camera most of the time. Everything should be easy to understand and operate because I would rather focus on injecting a lot of artistry into my photography rather than worrying about how to create a technically flawless picture.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My brother Jose “Boboy” Librodo. He’s the artist in the family. He taught me the rudiments of art in a very simplistic way. He subliminally pushed me to become a better artist than him. I also look up to my ultimate idol, “the” Steve McCurry. My absolute favourite image of him is the famous picture of the Afghan girl, as all the elements I look for in a picture are there.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The “guessing” game about how the picture would look like especially in terms of exposure, white balance, etc. The a7 provides a preview even before you press the shutter. Also, as someone who travels and shoots a lot, I need to literally cover a lot of ground so I need a lighter equipment. The a7 is heaven-sent. A small “beast” with amazingly big results.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The a7 is an extension of me. It looks good (hahaha). Seriously, it looks sleek and handsome. I also have to mention the lightness, smartness and easiness factors. Everything that I need in a camera is contained in the a7 series. Why look elsewhere?</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">There are many. But I will categorise them into 2:
                                <br/>
                                <br/> Firstly, the looks of it, including its size and the weight. It is easy to move around and I can pack in my bag with more lenses now. Appearance-wise, it is good-looking and classy. Need I say more?
                                <br/>
                                <br/> Secondly, the image results. It has an amazing colour depth and dynamic range. As I rely heavily on colours and natural light in communicating the artistry of my images, I need my images to be crisp and rich. The a7 series delivers that and more.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">EXCELLENT. I get immediate feedback even before I press the shutter. The live view is pretty accurate and there is no room for mistakes as it allows you to adjust and view the corresponding results even before the image is taken. That’s the essence of digital imaging.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My favorite lens is the all-round 24-70 Zeiss lens. I took a picture of a girl in Siem Reap, Cambodia in one of my trips and the clarity of the picture is mind-blowing.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7R and a7II. Zeiss lenses 24-70, 70-200 and 55. And lots of enthusiasm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
