<div id="profile-kelvin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:235px;">
            <div>
                <p class="type">Wedding Photographer</p>
                <p class="name">Kelvin Koh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Wedding Photographer</p>
                    <p class="name">Kelvin Koh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div class="row clearfix">
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Kelvin Koh is the founder of Lightedpixels. He shoots wedding, family and personal portraits but incidentally, his two published works are on food – shooting for the very successful and creative chef, Janice Wong of 2amdessertbar.</p>

            <p>His studio, Lightedpixels, is much sought after in the region for weddings and family portraits. It has garnered numerous awards for their works, both locally and internationally. They are also the only company to be awarded Singapore Tatler’s Best of Singapore list for 9 consecutive years, starting from 2007.</p>

            <p>He is credited with popularising wedding photojournalism in Singapore and is widely sought after for his wedding destination shoots. His wedding works have inspired a generation of wedding photographers here and in the region and he is constantly sought for advice among young upcoming photographers.</p>

            <p>Kelvin also conducts wedding photography workshops and seminars. This year, he is embarking on a regional workshop tour having just completed his first workshop in Tokyo.</p>

            <p>You can find his works on
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:kelvin:works:link', 'ilc:@@country', 'ilc:@@country:profile:kelvin:works:link', 'microsite|ilc:@@country|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Kelvin Koh is the founder of Lightedpixels. He shoots wedding, family and personal portraits but incidentally, his two published works are on food – shooting for the very successful and creative chef, Janice Wong of 2amdessertbar.</p>

            <p>His studio, Lightedpixels, is much sought after in the region for weddings and family portraits. It has garnered numerous awards for their works, both locally and internationally. They are also the only company to be awarded Singapore Tatler’s Best of Singapore list for 9 consecutive years, starting from 2007.</p>

            <p>He is credited with popularising wedding photojournalism in Singapore and is widely sought after for his wedding destination shoots. His wedding works have inspired a generation of wedding photographers here and in the region and he is constantly sought for advice among young upcoming photographers.</p>

            <p>Kelvin also conducts wedding photography workshops and seminars. This year, he is embarking on a regional workshop tour having just completed his first workshop in Tokyo.</p>

            <p>You can find his works on
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:kelvin:works:link', 'ilc:@@country', 'ilc:@@country:profile:kelvin:works:link', 'microsite|ilc:@@country|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Kelvin</span>
                </p>
                <img data-original="img/profile/sg/kelvin/profile_pic-1.jpg" class="lazy" width="315" height="415" alt="Interview with Kelvin">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/kelvin/quote-1.png" width="283" height="211" alt="Kevin's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/kelvin/quote-2.png" width="294" height="274" alt="Kevin's quote">

                <img class="quote-3 img-responsive center-block" src="img/profile/sg/kelvin/quote-3.png" width="289" height="303" alt="Kevin's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I would say it’s to be able to explore life through photography on a daily basis. As a wedding and portrait photographer, it is also the quiet satisfaction and joy of playing a part in capturing an important occasion in a person or couple’s life. I am also motivated by any growth I experience as a photographer.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Extremely important. It is what I do best, and I use it as a medium for expressing who I am and what I can do.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-2.jpg" width="611" height="207" alt="Interview with Kevin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It should be an extension of who I am. My photography equipment should be easy and comfortable to use, and yet have all the relevant features that would make what I do easier. As a photographer, I believe that capturing a moment and everything it represents is important. That is first and foremost on my mind. I would love for my equipment to assist me in achieving that and not hinder the process.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I would say it's Elliot Erwitt and my wife, Elizabeth. I love what Elliot sees in life as reflected in his shots. There’s a certain candidness and wit. My wife, Elizabeth, has been a great support. A lot of what I shoot is based on how I feel and she has helped me immensely with that – allowing me to feel and love.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have been shooting for more than ten years now and lately, the size and weight of my camera gear are starting to put a strain on my back. The relatively smaller and lighter a7 helps to make it less strenuous. Importantly it does this without sacrificing important features like it being full-frame besides having a whole myriad of other features.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Being a wedding photographer, I shoot in a journalistic manner. It is important for me to go about using my gear without attracting too much attention. I also value ease of use and mobility, especially the latter. I would also need to be confident that the camera is reliable and will not fail me in crucial moments during the wedding. I believe the Sony a7 series offers me all of that. I also think it has a tremendous amount of features for a camera its size. I am also drawn to their recent range of lenses which are some of the best for its class. So to sum it up, I am pretty excited about the possibility of using the camera to shoot weddings besides using it for my personal photography journey.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For one, weight. As a travelling photographer it allows me to be more mobile and to bring more gear without having to lug all the weight around. Second is size. Being a wedding photographer, it allows me to be more discreet and less obtrusive in capturing those intimate moments.
                        <br/>
                        <br/> Next I would say is the Electronic Viewfinder. This allows me the opportunity to precisely compose my shots from low or high angles. Something I couldn't do with my DSLR.
                        <br/>
                        <br/> The peak focusing function is also useful when I decide to use my manual focus lenses. It's so much easier to be sure the image is correctly focused. All of the above makes my job in capturing journalistic images a lot easier.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I would say among the leaders. Technology-wise, Sony is always at the forefront of what is new. Personally, I like how the controls on their cameras are laid out. It’s always very intuitive and easy to use. I also like how the camera handles dynamic range. The background is almost always never overexposed or underexposed. The camera’s native white balance is also very pleasing – skin tones are lovely.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-3.jpg" width="611" height="207" alt="Interview with Kevin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For now it's my Zeiss 35mm f1.4 lens. I love the way it reproduces bokeh and renders colour, as well as the gorgeous build quality.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It would be a Sony a7II plus the Zeiss 35mm f/1.4 and the Sony 55mm f/1.8 and 70-200mm f/2.8G lenses. Besides my camera and gear, I also bring along mosquito repellents and hand sanitisers.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Kelvin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/kelvin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Kelvin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I would say it’s to be able to explore life through photography on a daily basis. As a wedding and portrait photographer, it is also the quiet satisfaction and joy of playing a part in capturing an important occasion in a person or couple’s life. I am also motivated by any growth I experience as a photographer.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Extremely important. It is what I do best, and I use it as a medium for expressing who I am and what I can do.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It should be an extension of who I am. My photography equipment should be easy and comfortable to use, and yet have all the relevant features that would make what I do easier. As a photographer, I believe that capturing a moment and everything it represents is important. That is first and foremost on my mind. I would love for my equipment to assist me in achieving that and not hinder the process.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I would say it's Elliot Erwitt and my wife, Elizabeth. I love what Elliot sees in life as reflected in his shots. There’s a certain candidness and wit. My wife, Elizabeth, has been a great support. A lot of what I shoot is based on how I feel and she has helped me immensely with that – allowing me to feel and love.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have been shooting for more than ten years now and lately, the size and weight of my camera gear are starting to put a strain on my back. The relatively smaller and lighter a7 helps to make it less strenuous. Importantly it does this without sacrificing important features like it being full-frame besides having a whole myriad of other features.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Being a wedding photographer, I shoot in a journalistic manner. It is important for me to go about using my gear without attracting too much attention. I also value ease of use and mobility, especially the latter. I would also need to be confident that the camera is reliable and will not fail me in crucial moments during the wedding. I believe the Sony a7 series offers me all of that. I also think it has a tremendous amount of features for a camera its size. I am also drawn to their recent range of lenses which are some of the best for its class. So to sum it up, I am pretty excited about the possibility of using the camera to shoot weddings besides using it for my personal photography journey.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For one, weight. As a travelling photographer it allows me to be more mobile and to bring more gear without having to lug all the weight around. Second is size. Being a wedding photographer, it allows me to be more discreet and less obtrusive in capturing those intimate moments.
                                <br/>
                                <br/> Next I would say is the Electronic Viewfinder. This allows me the opportunity to precisely compose my shots from low or high angles. Something I couldn't do with my DSLR.
                                <br/>
                                <br/> The peak focusing function is also useful when I decide to use my manual focus lenses. It's so much easier to be sure the image is correctly focused. All of the above makes my job in capturing journalistic images a lot easier.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I would say among the leaders. Technology-wise, Sony is always at the forefront of what is new. Personally, I like how the controls on their cameras are laid out. It’s always very intuitive and easy to use. I also like how the camera handles dynamic range. The background is almost always never overexposed or underexposed. The camera’s native white balance is also very pleasing – skin tones are lovely.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For now it's my Zeiss 35mm f1.4 lens. I love the way it reproduces bokeh and renders colour, as well as the gorgeous build quality.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It would be a Sony a7II plus the Zeiss 35mm f/1.4 and the Sony 55mm f/1.8 and 70-200mm f/2.8G lenses. Besides my camera and gear, I also bring along mosquito repellents and hand sanitisers.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
