<section id="content" class="container-fluid">

    <div class="row">

        <!-- <div class="col-md-8 col-md-offset-2 col-sm-12"> -->
        <div class="col-md-12 col-sm-12">

            <div class="row max-width center-block marginBottom">

                <div class="col-sm-12">

                    <h1 class="text-center">Other <div class="logo-a7"><img src="img/logo-alpha_7-large.png" alt="a7" width="89" height="36" class="img-responsive center-block"></div> Users</h1>

                </div>

                <div class="clearfix"></div>
                
                    <div class="othera7users-content">

                    </div>

                        <script id="othera7users-content" type="text/x-handlebars-template">​
                        {{#each this}}

                            <div class="box-wrapper col-md-3 col-sm-4 col-xs-6">
                                <a href="@@country/other-profile-{{othera7usersRenameTracking name}}.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:othera7Users:{{othera7usersRenameTracking name}}', 'ilc:@@country', 'ilc:@@country:othera7Users:{{othera7usersRenameTracking name}}', 'microsite|ilc:@@country|othera7Users|{{othera7usersRenameTracking name}}');">
                                    <div class="box-wrap center-block">
                                        <img data-original="img/other-a7users/{{othera7usersRenameTracking name}}.jpg" alt="{{name}} {{lastname}}" class="img-responsive lazy" width="580" height="411">
                                        <h2>{{name}} {{lastname}}</h2>
                                        <p class="genre">{{genre}} Photographer</p>
                                    </div>
                                </a>
                            </div>

                        {{/each}}
                        </script>

                
                
               

            </div>

        </div>

    </div>

</section>
