<div id="profile-pilar">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Wedding + Portrait + Fashion Photographer</p>
                <p class="name">Pilar Trigo Bonnin</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">Wedding + Portrait + Fashion Photographer</p>
                    <p class="name">Pilar Trigo Bonnin</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Pilar Trigo Bonnin is one of Philippines&rsquo; most respected and sought-after Wedding, Portrait and Fashion Photographer. She photographed her first wedding 14 years ago and has won many awards for her work. She also won the first Photographer of the Year in 2003 with the association, Wedding and Portrait Photographers of the Philippines. Desiring to improve her craft as a Wedding and Portrait photographer, Pilar studied Classical Portraiture and lighting from the legendary photographer, the late Monte Zucker (Pilar is the only Wedding photographer from the Philippines who has learned the Classical technique from Monte Zucker).</p>

            <p>As a Fashion/Advertising Photographer, Pilar has done ad campaigns for Sony, Penshoppe, Dove, Ayala Properties, Robinson Properties, Wacoal, Mead Johnson, GlyDerm, Beverly Hills 6750, Tru Bags, Armscor, Tierra de Espana, Cotton Stuff, NBA Babies, Stoked Inc. and many other brands. She has also photographed advertising material for designers Jun Escario, Oliver Tolentino and Kristel Yulo.</p>

            <p>As a Portrait Photographer, Pilar loves to photograph her subjects in the studio as well as on location while being very particular about her lighting at the same time. Pilar was Editor-In-Chief for the Philippines number one Photography Magazine, Digital Photographer Philippines. She was also Creative Director for Lonely Planet Philippines, Wedding Belle and Olive Magazine.</p>

            <p>Pilar has also given and done many workshops for Studio Lighting, Portraiture and Wedding Photography.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Pilar Trigo Bonnin is one of Philippines&rsquo; most respected and sought-after Wedding, Portrait and Fashion Photographer. She photographed her first wedding 14 years ago and has won many awards for her work. She also won the first Photographer of the Year in 2003 with the association, Wedding and Portrait Photographers of the Philippines. Desiring to improve her craft as a Wedding and Portrait photographer, Pilar studied Classical Portraiture and lighting from the legendary photographer, the late Monte Zucker (Pilar is the only Wedding photographer from the Philippines who has learned the Classical technique from Monte Zucker).</p>

            <p>As a Fashion/Advertising Photographer, Pilar has done ad campaigns for Sony, Penshoppe, Dove, Ayala Properties, Robinson Properties, Wacoal, Mead Johnson, GlyDerm, Beverly Hills 6750, Tru Bags, Armscor, Tierra de Espana, Cotton Stuff, NBA Babies, Stoked Inc. and many other brands. She has also photographed advertising material for designers Jun Escario, Oliver Tolentino and Kristel Yulo.</p>

            <p>As a Portrait Photographer, Pilar loves to photograph her subjects in the studio as well as on location while being very particular about her lighting at the same time. Pilar was Editor-In-Chief for the Philippines number one Photography Magazine, Digital Photographer Philippines. She was also Creative Director for Lonely Planet Philippines, Wedding Belle and Olive Magazine.</p>

            <p>Pilar has also given and done many workshops for Studio Lighting, Portraiture and Wedding Photography.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Pilar</span>
                </p>
                <img data-original="img/profile/ph/pilar/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Pilar">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pilar/quote-1.png" width="273" height="333" alt="Pilar's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/pilar/quote-2.png" width="314" height="418" alt="Pilar's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Since I am a people photographer, any form of expression of Love, Beauty, Excitement, and going to a new place and experiencing something new and unique always motivates me. Something as simple as getting inspired by great cinematography in a movie I watch always makes me want to take photographs and create my version of a scene in the movie.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For work, I cannot imagine doing any other job. This is my life and my passion. I am so blessed that I have found my passion and be able to make a living out of it. For my personal life, it is an expression of my being. Whether it is about my travels or of my loved ones. My personal favorites will always be of my children. It is a great gift to them to be able to properly document their everyday life and their portraits from the time they were born.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-2.jpg" width="611" height="207" alt="Interview with Pilar">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My expectation of my photography gear is that I can rely on it for every need that arises. I want to be fully in control and connected to my gear so that when I need to take a photograph, my camera and gear literally becomes an extension of my body and that I wont have any fear of losing a moment or opportunity due to gear restrictions.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have been influenced by many great photographers, mostly the classics like George Hurrell for portraits, Henri Cartier-Bresson for his street photography and many other photographers. I also get inspired by many renaissance painters for their classical portraits.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The weight issue is definitely a huge difference now that I have moved to the a7 series. I love using the a7 for everything I do. Weddings, studio work, travel and portraiture. I also now hardly use my flash due to the great ISO that the camera delivers which makes me even more unobtrusive now at weddings and events.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love how unobtrusive the camera is and delivers amazing results. For personal travels, my camera bag has never been this small. I can travel with one body and a few lenses and get the same or even better results than a bulky DSLR. I don’t feel like a slave to my gear with all the weight you need to carry around to accomplish the same results as what the a7 can deliver.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I absolutely love the size, the versatility of being able to use my a99 lenses on it with a mount and also being able to use my old manual lenses (third party). It is like a whole new world of photography has opened its doors to me. I also love the peaking colours feature, it assists you in taking tack sharp images at the biggest opening. And the 5-Axis image stabilisation really helps when I have available light in low light situations especially with wedding photography. One more feature I truly enjoy is the OLED view finder. I don’t have to worry about “chimping” every time I take a photo. I get a quick preview in the viewfinder as I take the photo so quick adjustments to the exposure are done as I go.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">They are without a doubt leading in the field of digital imaging. Nothing and no other camera comes even close to what they have created and continue to create.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-3.jpg" width="611" height="207" alt="Interview with Pilar">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have many favorites especially prime lenses but for outdoor portraits, I especially love using the 135 1.8 Zeiss. For studio work, I use the 85 1.4. They are both tack sharp and the colours are perfect straight out of camera.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I use a7II, 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8 and 100 Macro 2.8. </div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Pilar</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pilar/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Pilar"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Since I am a people photographer, any form of expression of Love, Beauty, Excitement, and going to a new place and experiencing something new and unique always motivates me. Something as simple as getting inspired by great cinematography in a movie I watch always makes me want to take photographs and create my version of a scene in the movie.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For work, I cannot imagine doing any other job. This is my life and my passion. I am so blessed that I have found my passion and be able to make a living out of it. For my personal life, it is an expression of my being. Whether it is about my travels or of my loved ones. My personal favorites will always be of my children. It is a great gift to them to be able to properly document their everyday life and their portraits from the time they were born.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My expectation of my photography gear is that I can rely on it for every need that arises. I want to be fully in control and connected to my gear so that when I need to take a photograph, my camera and gear literally becomes an extension of my body and that I wont have any fear of losing a moment or opportunity due to gear restrictions.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have been influenced by many great photographers, mostly the classics like George Hurrell for portraits, Henri Cartier-Bresson for his street photography and many other photographers. I also get inspired by many renaissance painters for their classical portraits.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The weight issue is definitely a huge difference now that I have moved to the a7 series. I love using the a7 for everything I do. Weddings, studio work, travel and portraiture. I also now hardly use my flash due to the great ISO that the camera delivers which makes me even more unobtrusive now at weddings and events.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love how unobtrusive the camera is and delivers amazing results. For personal travels, my camera bag has never been this small. I can travel with one body and a few lenses and get the same or even better results than a bulky DSLR. I don’t feel like a slave to my gear with all the weight you need to carry around to accomplish the same results as what the a7 can deliver.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I absolutely love the size, the versatility of being able to use my a99 lenses on it with a mount and also being able to use my old manual lenses (third party). It is like a whole new world of photography has opened its doors to me. I also love the peaking colours feature, it assists you in taking tack sharp images at the biggest opening. And the 5-Axis image stabilisation really helps when I have available light in low light situations especially with wedding photography. One more feature I truly enjoy is the OLED view finder. I don’t have to worry about “chimping” every time I take a photo. I get a quick preview in the viewfinder as I take the photo so quick adjustments to the exposure are done as I go.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">They are without a doubt leading in the field of digital imaging. Nothing and no other camera comes even close to what they have created and continue to create.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have many favorites especially prime lenses but for outdoor portraits, I especially love using the 135 1.8 Zeiss. For studio work, I use the 85 1.4. They are both tack sharp and the colours are perfect straight out of camera.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I use a7II, 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8 and 100 Macro 2.8.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
