<div id="profile-darren">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Architectural Photographer</p>
                <p class="name">Darren Soh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>



    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Architectural Photographer</p>
                    <p class="name">Darren Soh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Born and based in Singapore, Darren obtained a degree in Sociology from the National University of Singapore in 2001 while serving as a contract photographer at the country’s leading English broadsheet newspaper, The Straits Times.</p>

            <p>Since 2001, Darren has been a full time independent photographer with a particular interest in architectural and landscape photography.</p>

            <p>Darren's first monograph While You Were Sleeping, a collection of nocturnal landscapes from Singapore was published in 2004. Subsequently, Esplanade – Theatres on the Bay in Singapore presented the images from the book as an exhibition</p>

            <p>In 2006, Darren was invited by Singapore's Ministry of Information, Communications and The Arts (MICA) to contribute his work to Canvas, an anthology of photographic work from Singapore.</p>

            <p>In 2007, a folio of Darren's architectural work on public housing in Singapore was shown at the Kay Ngee Tan Architects Gallery. The project, titled Building Blocks, is still ongoing.</p>

            <p>In 2009, as part of a collective of volunteer photographers, Darren contributed to Resonance: Songs of Our Forefathers, an architectural photography tome documenting the National Monuments of Singapore.</p>

            <p>In 2010, together with several other photographers, Darren founded Platform.SG, an initiative to showcase documentary photography of Singapore or by Singaporean photographers.</p>

            <p>Darren's work from the Singapore General Elections 2011 was also shown at the prestigious Noorderlicht Photo Festival in The Netherlands in 2011.</p>

            <p>Over the years, Darren has been placed in several international photography awards including the Commonwealth Photographic Awards, the Prix de la Photographie, Paris and the International Photography Awards.</p>

            <p>Darren was also listed by industry-leading Photo District News Magazine (PDN) from New York as one of PDN's 30 Emerging Photographers to watch in 2009.</p>

            <p>Most recently, Darren was awarded the Discernment Award at the 2013 ICON de Martell Cordon Bleu Photography Award.</p>

            <p>In 2013, Darren also published his second book For My Son, a collection of images of vernacular spaces in Singapore as part of the Twentyfifteen.sg initiative to commemorate Singapore's 50th anniversary in 2015.</p>

            <p>Some of Darren's international architectural clients include Aedas, ARUP, Wilkinson Eyre, Monocle and Wallpaper* Magazine.</p>

            <p>His work can be seen at
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:darren:works:link', 'ilc:@@country', 'ilc:@@country:profile:darren:works:link', 'microsite|ilc:@@country|profile|darren|works|link');" target="_blank">darrensoh.com</a> and
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:darren:works:linkFB', 'ilc:@@country', 'ilc:@@country:profile:darren:works:linkFB', 'microsite|ilc:@@country|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Born and based in Singapore, Darren obtained a degree in Sociology from the National University of Singapore in 2001 while serving as a contract photographer at the country’s leading English broadsheet newspaper, The Straits Times.</p>

            <p>Since 2001, Darren has been a full time independent photographer with a particular interest in architectural and landscape photography.</p>

            <p>Darren's first monograph While You Were Sleeping, a collection of nocturnal landscapes from Singapore was published in 2004. Subsequently, Esplanade – Theatres on the Bay in Singapore presented the images from the book as an exhibition</p>

            <p>In 2006, Darren was invited by Singapore's Ministry of Information, Communications and The Arts (MICA) to contribute his work to Canvas, an anthology of photographic work from Singapore.</p>

            <p>In 2007, a folio of Darren's architectural work on public housing in Singapore was shown at the Kay Ngee Tan Architects Gallery. The project, titled Building Blocks, is still ongoing.</p>

            <p>In 2009, as part of a collective of volunteer photographers, Darren contributed to Resonance: Songs of Our Forefathers, an architectural photography tome documenting the National Monuments of Singapore.</p>

            <p>In 2010, together with several other photographers, Darren founded Platform.SG, an initiative to showcase documentary photography of Singapore or by Singaporean photographers.</p>

            <p>Darren's work from the Singapore General Elections 2011 was also shown at the prestigious Noorderlicht Photo Festival in The Netherlands in 2011.</p>

            <p>Over the years, Darren has been placed in several international photography awards including the Commonwealth Photographic Awards, the Prix de la Photographie, Paris and the International Photography Awards.</p>

            <p>Darren was also listed by industry-leading Photo District News Magazine (PDN) from New York as one of PDN's 30 Emerging Photographers to watch in 2009.</p>

            <p>Most recently, Darren was awarded the Discernment Award at the 2013 ICON de Martell Cordon Bleu Photography Award.</p>

            <p>In 2013, Darren also published his second book For My Son, a collection of images of vernacular spaces in Singapore as part of the Twentyfifteen.sg initiative to commemorate Singapore's 50th anniversary in 2015.</p>

            <p>Some of Darren's international architectural clients include Aedas, ARUP, Wilkinson Eyre, Monocle and Wallpaper* Magazine.</p>

            <p>His work can be seen at
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:darren:works:link', 'ilc:@@country', 'ilc:@@country:profile:darren:works:link', 'microsite|ilc:@@country|profile|darren|works|link');" target="_blank">darrensoh.com</a> and
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:darren:works:linkFB', 'ilc:@@country', 'ilc:@@country:profile:darren:works:linkFB', 'microsite|ilc:@@country|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Darren</span>
                </p>
                <img data-original="img/profile/sg/darren/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Darren">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/darren/quote-1.png" width="308" height="270" alt="Darren's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2.png" width="308" height="243" alt="Darren's quote">

                <!-- <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2.png" width="304" height="215" alt="Darren's quote"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I’m primarily an architectural and landscape photographer so the built environment and how human beings are using a space on any scale fascinates me. In a more local context, there is probably no other country in the world that experiences a faster rate of urban renewal and thus change in the built environment than Singapore, so my almost rabid fervency in documenting the built environment is really to ensure that future generations of Singaporeans or anyone who is interested at all, will be able to see through my images what Singapore looked like in the late 1990s till as long as I can physically photograph.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I work as a photographer, so no photography no income. Ha ha. But seriously, photography has been part of my life since I was 14, so it has been with me for more than half my life. It has progressed from a serious hobby to a language that I now use to communicate my thoughts and ideas to the world with. </div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-2.jpg" width="611" height="207" alt="Interview with Darren">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I use my photography equipment almost seven days of the week, every week of the month and every month of the year, so one word for me - reliability. Of course the equipment needs to realise my vision as a photographer in order for my images to properly convey what I want them to say.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photographers whose work I admire include Peter Bialobrzeski whose cityscape and landscape photos first inspired me to meticulously document the changing landscape of Singapore, Peter Marlow from Magnum Photos for the ability to make the most banal places look interesting in photographs and photographers from the Düsseldorf School for their impeccable attention to details when it comes to the photography of spaces.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I face many challenges in my photography. One of the greatest must be the constant balance between the image quality of a camera’s output versus its size and weight. Before the Sony a7 series of cameras came along, the lightest full-frame interchangeable lens cameras were heavy Digital SLRs. The a7R that I use is a game changer in the sense that for the first time ever, an extremely high quality camera could be so portable and light.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The size and weight of the camera were prime considerations, but the amazing quality of the files produced by the 36MP Exmor CMOS sensor that is found in the a7R makes it a no-brainer as a first choice of a camera for me. The fact that the a7 series of cameras are mirrorless and allows me to adapt almost ANY third party lens makes it by far the most versatile full-frame camera in the world.</div>
                </div>
                <!-- Q&A 6 -->


                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As mentioned before, the size and weight of the camera as well as the ability to use almost any third party lens on it makes it my first choice of a camera. The 36MP EXMOR CMOS sensor is also the best sensor I've ever used in any 35mm digital camera when it comes to details and dynamic range bar none. The high level of customisable functions squeezed into such a small body is also a big, big plus.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ten years ago, if you told me that one day, professional photographers would be choosing a Sony camera as their first choice as an imaging device, I would probably have laughed in your face. But today, I would say that Sony is one of the leaders, if not THE leader in the field of professional digital photography.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-3.jpg" width="611" height="207" alt="Interview with Darren">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Unfortunately my favourite lens isn’t currently a lens manufactured by Sony but that is because it is a really specialised piece of equipment. The lens is a 17mm Tilt Shift.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">
                        A very well-used Sony a7R.
                        <br/> A Sony 70-200 f4 FE OSS G and the following tilt and shift lenses:
                        <br/> 17mm TSE
                        <br/> 24mm TSE
                        <br/> 45mm TSE
                        <br/> 35mm
                        <br/> 85mm
                    </div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Darren</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/darren/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Darren"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I’m primarily an architectural and landscape photographer so the built environment and how human beings are using a space on any scale fascinates me. In a more local context, there is probably no other country in the world that experiences a faster rate of urban renewal and thus change in the built environment than Singapore, so my almost rabid fervency in documenting the built environment is really to ensure that future generations of Singaporeans or anyone who is interested at all, will be able to see through my images what Singapore looked like in the late 1990s till as long as I can physically photograph.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I work as a photographer, so no photography no income. Ha ha. But seriously, photography has been part of my life since I was 14, so it has been with me for more than half my life. It has progressed from a serious hobby to a language that I now use to communicate my thoughts and ideas to the world with.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I use my photography equipment almost seven days of the week, every week of the month and every month of the year, so one word for me - reliability. Of course the equipment needs to realise my vision as a photographer in order for my images to properly convey what I want them to say.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photographers whose work I admire include Peter Bialobrzeski whose cityscape and landscape photos first inspired me to meticulously document the changing landscape of Singapore, Peter Marlow from Magnum Photos for the ability to make the most banal places look interesting in photographs and photographers from the Düsseldorf School for their impeccable attention to details when it comes to the photography of spaces.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I face many challenges in my photography. One of the greatest must be the constant balance between the image quality of a camera’s output versus its size and weight. Before the Sony a7 series of cameras came along, the lightest full-frame interchangeable lens cameras were heavy Digital SLRs. The a7R that I use is a game changer in the sense that for the first time ever, an extremely high quality camera could be so portable and light.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The size and weight of the camera were prime considerations, but the amazing quality of the files produced by the 36MP Exmor CMOS sensor that is found in the a7R makes it a no-brainer as a first choice of a camera for me. The fact that the a7 series of cameras are mirrorless and allows me to adapt almost ANY third party lens makes it by far the most versatile full-frame camera in the world.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As mentioned before, the size and weight of the camera as well as the ability to use almost any third party lens on it makes it my first choice of a camera. The 36MP EXMOR CMOS sensor is also the best sensor I've ever used in any 35mm digital camera when it comes to details and dynamic range bar none. The high level of customisable functions squeezed into such a small body is also a big, big plus.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ten years ago, if you told me that one day, professional photographers would be choosing a Sony camera as their first choice as an imaging device, I would probably have laughed in your face. But today, I would say that Sony is one of the leaders, if not THE leader in the field of professional digital photography.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Unfortunately my favourite lens isn’t currently a lens manufactured by Sony but that is because it is a really specialised piece of equipment. The lens is a 17mm Tilt Shift.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">
                                A very well-used Sony a7R.
                                <br/> A Sony 70-200 f4 FE OSS G and the following tilt and shift lenses:
                                <br/> 17mm TSE
                                <br/> 24mm TSE
                                <br/> 45mm TSE
                                <br/> 35mm
                                <br/> 85mm
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
