<div id="other-profile-ericchen">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/ericchen/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Eric Chen RR">
            <div>
                <p class="type">Commercial + Travel</p>
                <p class="name">Eric Chen RR</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>Eric Chen RR (<a href="http://www.ericchenrr.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:ericchenrr', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:ericchenrr', 'microsite|ilc:@@country|profile|ericchen|works|link|ericchenrr');" target="_blank">www.ericchenrr.com</a>) is an up-and-coming advertising & commercial photographer who is currently based in Singapore. On the side, he loves to travel and has amassed quite a following on Instagram for his travel photography.</p>

                <p>His interest in creating images started when he first studied in film school. There he found a fascination in making images and went on to major in cinematography. After serving his military duty, he enrolled in university and graduated with a business degree. During that time, he co-founded <a href="http://www.tftstudio.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:thefinishingtouchstudio', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:thefinishingtouchstudio', 'microsite|ilc:@@country|profile|ericchen|works|link|thefinishingtouchstudio');" target="_blank">The Finishing Touch Studio.</a></p>

                <p>Eric’s style has been heavily influenced by the world of high-end advertising photography. This is mainly due to being personally mentored by Sebastian Tan, Managing Director/Photographer of Shooting Gallery Asia, for an apprenticeship programme held by Noise Singapore. He worked at Shooting Gallery Asia where he learnt the exciting creative process of advertising photography. Since then, he has worked with the best in the business and meticulously sharpened his skills. In 2011, he decided to strike it out on his own and started The Finishing Touch Studio.</p>

                <p>Despite his young age, Eric has already shot advertisements and worked on international campaigns for top clients such as Toyota, Samsung, Volkswagen, Casio, Clubmed, Far East Organisation and The Sam Willows, just to name a few. He is highly sought after for his keen understanding about his clients' brands and his creative approach in his work.</p>

                <p>Right now, he is expanding and growing The Finishing Touch Studio with his trusted colleagues and partners. You can follow him on Instagram (<a href="https://www.instagram.com/ericchenrr/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:instag', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:instag', 'microsite|ilc:@@country|profile|ericchen|works|link|instag');" target="_blank">@ericchenrr</a>) to see his adventures.</p>

                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-6 col-sm-4">

                <div>
                    <p class="type">Commercial + Travel</p>
                    <p class="name">Eric Chen RR</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Eric Chen RR (<a href="http://www.ericchenrr.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:ericchenrr', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:ericchenrr', 'microsite|ilc:@@country|profile|ericchen|works|link|ericchenrr');" target="_blank">www.ericchenrr.com</a>) is an up-and-coming advertising & commercial photographer who is currently based in Singapore. On the side, he loves to travel and has amassed quite a following on Instagram for his travel photography.</p>

            <p>His interest in creating images started when he first studied in film school. There he found a fascination in making images and went on to major in cinematography. After serving his military duty, he enrolled in university and graduated with a business degree. During that time, he co-founded <a href="http://www.tftstudio.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:thefinishingtouchstudio', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:thefinishingtouchstudio', 'microsite|ilc:@@country|profile|ericchen|works|link|thefinishingtouchstudio');" target="_blank">The Finishing Touch Studio.</a></p>

            <p>Eric’s style has been heavily influenced by the world of high-end advertising photography. This is mainly due to being personally mentored by Sebastian Tan, Managing Director/Photographer of Shooting Gallery Asia, for an apprenticeship programme held by Noise Singapore. He worked at Shooting Gallery Asia where he learnt the exciting creative process of advertising photography. Since then, he has worked with the best in the business and meticulously sharpened his skills. In 2011, he decided to strike it out on his own and started The Finishing Touch Studio.</p>

            <p>Despite his young age, Eric has already shot advertisements and worked on international campaigns for top clients such as Toyota, Samsung, Volkswagen, Casio, Clubmed, Far East Organisation and The Sam Willows, just to name a few. He is highly sought after for his keen understanding about his clients' brands and his creative approach in his work.</p>

            <p>Right now, he is expanding and growing The Finishing Touch Studio with his trusted colleagues and partners. You can follow him on Instagram (<a href="https://www.instagram.com/ericchenrr/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:ericchen:works:link:instag', 'ilc:@@country', 'ilc:@@country:profile:ericchen:works:link:instag', 'microsite|ilc:@@country|profile|ericchen|works|link|instag');" target="_blank">@ericchenrr</a>) to see his adventures.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Eric</span>
                </p>
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love to create. Since I was a very young boy, I remember playing with Lego<sup>&reg;</sup> and interestingly I would disregard the instructions on how to build it according to the supposed design, but would instead create things that I thought was cool. In my line of photography work, there are many times I have to create an image from a blank canvas and that makes me excited as it allows me to take something that looks empty and boring and make it come to life.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Being able to do what I like to do and get paid for doing it is something that is quite hard to explain, unless you experience it for yourself. With that being said, it was definitely not a walk in the park as it was really tough at the start, but doing photography as a career has taught me more than just shooting. It has opened new worlds for me and has challenged me personally to learn how to run a business which was out of my element. That changed the way I looked at work and life.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/ericchen/profile_pic-2.jpg" width="611" height="207" alt="Interview with Eric">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">One of the challenges I face in photography is the camera not being able to capture the details and nuances my eye can see. On top of that, I travel very often and what I want from a camera is for it to have very high resolution yet easy to bring around. The a7R II is the closest camera so far that meets that expectation. It packs a lot of punch without the excess weight.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Which is/are your favourite features found on the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">What drew me to the a7 series is the ability to get a huge amount of dynamic range and details that other sensors are not able to provide. It allows me to be able to shoot and capture details that would normally be lost in challenging scenarios. On top of that, it is just so lightweight and easy to bring around. That for me, is a key feature which gives me more time and energy to enjoy my craft.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite pair of lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I use the 24-70mm F4 lens most of the time. Though it is a general lens, it is one of the most versatile lens. I will not leave home without it. However, that being said, I am looking forward to use the brand new Sony's G Master 24-70mm f/2.8 which gives me an additional stop as well as the improved lens technology to produce even sharper images.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have the amazing a7R II with the 24-70mm f/4 ZEISS® lens. A third party adapter which allows me to use non-E mount lens from time to time. My lighting system also goes along quite frequently on my shoots as well. That being said, every shoot for me requires a different set of gear. I customise my gear according to shoot requirements, so the items in my bag vary often from time to time.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/ericchen/profile_pic-3.jpg" width="611" height="207" alt="Interview with Eric">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Eric</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/ericchen/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Eric"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love to create. Since I was a very young boy, I remember playing with Lego<sup>&reg;</sup> and interestingly I would disregard the instructions on how to build it according to the supposed design, but would instead create things that I thought was cool. In my line of photography work, there are many times I have to create an image from a blank canvas and that makes me excited as it allows me to take something that looks empty and boring and make it come to life.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Being able to do what I like to do and get paid for doing it is something that is quite hard to explain, unless you experience it for yourself. With that being said, it was definitely not a walk in the park as it was really tough at the start, but doing photography as a career has taught me more than just shooting. It has opened new worlds for me and has challenged me personally to learn how to run a business which was out of my element. That changed the way I looked at work and life.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">One of the challenges I face in photography is the camera not being able to capture the details and nuances my eye can see. On top of that, I travel very often and what I want from a camera is for it to have very high resolution yet easy to bring around. The a7R II is the closest camera so far that meets that expectation. It packs a lot of punch without the excess weight.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Which is/are your favourite features found on the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">What drew me to the a7 series is the ability to get a huge amount of dynamic range and details that other sensors are not able to provide. It allows me to be able to shoot and capture details that would normally be lost in challenging scenarios. On top of that, it is just so lightweight and easy to bring around. That for me, is a key feature which gives me more time and energy to enjoy my craft.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite pair of lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I use the 24-70mm F4 lens most of the time. Though it is a general lens, it is one of the most versatile lens. I will not leave home without it. However, that being said, I am looking forward to use the brand new Sony's G Master 24-70mm f/2.8 which gives me an additional stop as well as the improved lens technology to produce even sharper images.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What's in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have the amazing a7R II with the 24-70mm f/4 ZEISS® lens. A third party adapter which allows me to use non-E mount lens from time to time. My lighting system also goes along quite frequently on my shoots as well. That being said, every shoot for me requires a different set of gear. I customise my gear according to shoot requirements, so the items in my bag vary often from time to time.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
