<section id="content" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg drop-downs">

            <select id="filter">
                <option value="" selected disabled>SELECT FILTER</option>

                <option value="camera">CAMERA MODEL</option>
                <option value="kol">PHOTOGRAPHER</option>
                <option value="category">CATEGORY</option>
                @@if (typeof country !== 'undefined' && country === 'sg') {
                <option value="othera7users">OTHER &alpha;7 USERS</option>
                }
            </select>

            <div class="divider drop-down-divider hidden">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

            <select id="kol" class="hidden">
                <option value="" selected disabled>SELECT PHOTOGRAPHER</option>

                <optgroup label="Indonesia">
                    <option value="benny">Benny Lim</option>
                    <option value="glenn">Glenn Prasetya</option>
                    <option value="nicoline">Nicoline Patricia Malina</option>
                </optgroup>

                <optgroup label="Malaysia">
                    <option value="eric">Ooi Eric</option>
                    <option value="fakrul">Fakrul Jamil</option>
                    <option value="nick">Nick Ng</option>
                </optgroup>

                <optgroup label="Philippines">
                    <option value="manny">Manny Librodo</option>
                    <option value="pilar">Pilar Trigo Bonnin</option>
                </optgroup>

                <optgroup label="Singapore">
                    <option value="bryan">Bryan van der Beek</option>
                    <option value="chester">Chester Chen</option>
                    <option value="darren">Darren Soh</option>
                    <option value="edward">Edward Tian</option>
                    <option value="kelvin">Kelvin Koh</option>
                </optgroup>

                <optgroup label="Thailand">
                    <option id="option-kriengkrai" value="kriengkrai">Kriengkrai Waiyakij</option>
                    <option id="option-tavepong" value="tavepong">Tavepong Pratoomwong</option>
                    <option id="option-urasha" value="urasha">Urasha Jakkachaphol</option>
                    <option id="option-vin" value="vin">Vin Buddy</option>
                </optgroup>

            </select>
            
            @@if (typeof country !== 'undefined' && country === 'sg') {
            <select id="othera7users" class="hidden">
                <option value="" selected disabled>SELECT OTHER &alpha;7 USERS</option>

                <option value="aloysius">ALOYSIUS LIM</option>
                <option value="daniel">DANIEL NG</option>
                <option value="ericchen">ERIC CHEN RR</option>
                <option value="joyce">JOYCE LE MEASURIER</option>

            </select>
            }

            <select id="category" class="hidden">
                <option value="" selected disabled>SELECT CATEGORY</option>

                <option value="architectural">Architectural</option>
                <option value="cityscape">Cityscape</option>
                <option value="commercial">Commercial</option>
                <option value="documentary">Documentary</option>
                <option value="editorial">Editorial</option>
                <option value="fashion">Fashion</option>
                <option value="landscape">Landscape</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="macro">Macro</option>
                <option value="portrait">Portrait</option>
                <option value="street">Street</option>
                <option value="travel">Travel</option>
                <option value="wedding">Wedding</option>
                <option value="wildlife">Wildlife</option>
            </select>

            <select id="camera" class="hidden">
                <option value="" selected disabled>SELECT CAMERA MODEL</option>

                <option value="ILCE-7">&alpha;7</option>
                <option value="ILCE-7M2">&alpha;7II</option>
                <option value="ILCE-7R">&alpha;7R</option>
                <option value="ILCE-7RM2">&alpha;7RII</option>
                <option value="ILCE-7S">&alpha;7S</option>
                <option value="ILCE-7SM2">&alpha;7SII</option>
                <option value="ILCE-6300">&alpha;6300</option>
                <option value="SLT-A99V">&alpha;99</option>
            </select>

            <div class="divider">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2">

            <div class="row max-width marginBottom center-block">

                <div class="col-sm-12 navbar navbar-inverse">
                    <h1 class="text-center">Gallery</h1>
                    <button type="button" class="navbar-toggle collapsed hidden-xs hidden-sm" data-toggle="collapse" aria-expanded="false" data-target=".filters">
                        <p>Filter</p>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>

        <div class="text-center filters navbar-collapse collapse" role="navigation">
            <div class="filters-wrapper center-block">
                <table>

                    <tr>
                        <th>Photographer</th>
                        <th>Category</th>
                        <th>Camera Model</th>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="country" colspan="2">Singapore
                                                    <div>
                                                        <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-bryan" value="bryan">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-bryan">Bryan van der
                                                        <br class="hidden-sm hidden-md hidden-lg" />Beek</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-chester" value="chester">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-chester">Chester Chen</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-darren" value="darren">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-darren">Darren Soh</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-edward" value="edward">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-edward">Edward Tian</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-kelvin" value="kelvin">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-kelvin">Kelvin Koh</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Malaysia
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-eric" value="eric">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-eric">Ooi Eric</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-fakrul" value="fakrul">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-fakrul">Fakrul Jamil</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-nick" value="nick">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-nick">Nick Ng</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Indonesia
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-benny" value="benny">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-benny">Benny Lim</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-glenn" value="glenn">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-glenn">Glenn Prasetya</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-nicoline" value="nicoline">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-nicoline">Nicoline Patricia
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Malina</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td>
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Thailand
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-kriengkrai" value="kriengkrai">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-kriengkrai">Kriengkrai
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Waiyakij</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-tavepong" value="tavepong">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-tavepong">Tavepong
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Pratoomwong</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-urasha" value="urasha">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-urasha">Urasha
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Jakkachaphol</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-vin" value="vin">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-vin">Vin
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Buddy</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Philippines
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-manny" value="manny">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-manny">Manny Librodo</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-pilar" value="pilar">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-pilar">Pilar Trigo Bonnin</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <table>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-architectural" value="architectural">
                                    </td>
                                    <td>
                                        <label for="cell-architectural">Architectural</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-lifestyle" value="lifestyle">
                                    </td>
                                    <td>
                                        <label for="cell-lifestyle">Lifestyle</label>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-cityscape" value="cityscape">
                                    </td>
                                    <td>
                                        <label for="cell-cityscape">Cityscape</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-macro" value="macro">
                                    </td>
                                    <td>
                                        <label for="cell-macro">Macro</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-commercial" value="commercial">
                                    </td>
                                    <td>
                                        <label for="cell-commercial">Commercial</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-portrait" value="portrait">
                                    </td>
                                    <td>
                                        <label for="cell-portrait">Portrait</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-documentary" value="documentary">
                                    </td>
                                    <td>
                                        <label for="cell-documentary">Documentary</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-street" value="street">
                                    </td>
                                    <td>
                                        <label for="cell-street">Street</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-editorial" value="editorial">
                                    </td>
                                    <td>
                                        <label for="cell-editorial">Editorial</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-travel" value="travel">
                                    </td>
                                    <td>
                                        <label for="cell-travel">Travel</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-fashion" value="fashion">
                                    </td>
                                    <td>
                                        <label for="cell-fashion">Fashion</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-wedding" value="wedding">
                                    </td>
                                    <td>
                                        <label for="cell-wedding">Wedding</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-landscape" value="landscape">
                                    </td>
                                    <td>
                                        <label for="cell-landscape">Landscape</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-wildlife" value="wildlife">
                                    </td>
                                    <td>
                                        <label for="cell-wildlife">Wildlife</label>
                                    </td>
                                </tr>
                                <!-- @@if (typeof country !== 'undefined' && country === 'sg') {
                                    <tr>
                                        <td class="checkbox-cell">
                                            <input type="checkbox" name="category" id="cell-landscape" value="landscape">
                                        </td>
                                        <td>
                                            <label for="cell-landscape">Landscape</label>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                } -->

                            </table>
                        </td>

                        <td>
                            <table>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7" value="ILCE-7">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7"><img src="img/filter_a7.png" height="12" width="30" alt="α7"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7M2" value="ILCE-7M2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7M2"><img src="img/filter_a7ii.png" height="12" width="37" alt="α7II"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7R" value="ILCE-7R">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7R"><img src="img/filter_a7r.png" height="12" width="38" alt="α7R"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7RM2" value="ILCE-7RM2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7RM2"><img src="img/filter_a7rii.png" height="12" width="45" alt="α7RII"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7S" value="ILCE-7S">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7S"><img src="img/filter_a7s.png" height="12" width="36" alt="α7S"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7SM2" value="ILCE-7SM2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7SM2"><img src="img/filter_a7sii.png" height="12" width="46" alt="α7SII"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-6300" value="ILCE-6300">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-6300"><img src="img/filter_a6300.png" height="12" width="56" alt="α6300"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-SLT-A99V" value="SLT-A99V">
                                    </td>
                                    <td>
                                        <label for="cell-SLT-A99V"><img src="img/filter_a99.png" height="15" width="46" alt="α99"></label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>



                        
                    @@if (typeof country !== 'undefined' && country === 'sg') {

                    <tr>
                        <th colspan="3">&nbsp;</th>
                    </tr>

                    <tr>
                        <th colspan="3">Other <img src="img/filter_a7.png" height="12" width="30" alt="α7"> Users</th>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <table style="width:80%;">
                                <tr>
                                    <td style="width:20%;">
                                        <table>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="photographer" id="cell-aloysius" value="aloysius">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-aloysius">Aloysius Lim</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td style="width:20%;">
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-daniel" value="daniel">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-daniel">Daniel Ng</label>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-joyce" value="joyce">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-joyce">Joyce Le Mesurier</label>
                                                            </td>
                                                        </tr> -->
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td style="width:20%;">
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-ericchen" value="ericchen">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-ericchen">Eric Chen</label>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-andrew" value="andrew">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-andrew">Andrew Scriven</label>
                                                            </td>
                                                        </tr> -->
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td style="width:20%;">
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-joyce" value="joyce">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-joyce">Joyce Le Mesurier</label>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-andrew" value="andrew">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-andrew">Andrew Scriven</label>
                                                            </td>
                                                        </tr> -->
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    <!-- <td>
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-somboon" value="somboon">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-somboon">Somboon Arthit</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="photographer" id="cell-andrew" value="andrew">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-andrew">Andrew Scriven</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td> -->

                                </tr>
                            </table>
                        </td>

                    </tr>
                    }



                </table>
                <a href="#" class="clear">CLEAR ALL</a>
            </div>
            <a href="#" class="toggle hidden-xs hidden-sm">
                <div>
                    <img class="up" src="img/filter_arrow_up.png" height="10" width="21" alt="">
                </div>
                FILTER
                <div>
                    <img class="down" src="img/filter_arrow_down.png" height="10" width="21" alt="">
                </div>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <p class="message text-center">No results found. Please widen your search by selecting fewer filters.</p>
            <div class="photos-content">
            </div>
            <script id="photos-content" type="text/x-handlebars-template">​ {{#each this}}
                <div id="photo-{{count}}" class="photo-content center-block" data-photographer="{{photographer.nick}}">
                    <div>
                        <img data-original="img/profile/{{country}}/{{photographer.nick}}/photo-{{id}}.jpg" class="img-responsive center-block lazy" alt="{{title}}" height="676" width="1024">
                    </div>


                    <div class="clearfix max-width center-block sg-kol {{#if lens}}hidden{{else}}show{{/if}}">
                        <div class="pull-right">
                            <p class="text-right">{{specs}}</p>
                        </div>
                        <div class="pull-left">
                            <div class="logo">
                                <a href="{{camera.link}}?cid={{{camera.name}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <img src="img/separator-left.png" height="1" width="297" alt="divider">
                        </div>
                        <p class="title nobottomspacing">{{title}}</p>
                        <p class="photographer-name">{{photographer.name}}</p>
                        <p class="description">{{{description}}}</p>

                        <div class="fb-like text-left" data-href="@@country/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                    </div>

                    <div class="clearfix max-width center-block sg-kol {{#if lens}}show{{else}}hidden{{/if}}">
                        <div class="pull-right">
                            <p class="text-right">{{specs}}</p>
                        </div>
                        <div class="pull-left">
                            <div class="logo">
                                <a href="{{camera.link}}?cid={{{camera.name}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                            </div>

                            <p>+</p>

                            <div class="lens">
                                {{#if lens.img}}
                                <a href="{{lens.link}}?cid={{{lens.model}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{{{lens.specs}}}"></a>
                                {{else}}
                                <div class="placeholder hidden-xs hidden-sm"></div>
                                {{/if}}
                            </div>
                            <p>{{{lens.specs}}}</p>

                            {{#if lens2}}
                            <div class="lens2-container">
                                <p>+</p>

                                <div class="lens">
                                    {{#if lens2.img}}
                                        <a href="{{lens2.link}}?cid={{{lens2.model}}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{lens2.model}}|discover','event50');" target="_blank"><img src="{{lens2.img}}" alt="{{{lens2.specs}}}"></a>
                                    {{else}}
                                        <div class="placeholder hidden-xs hidden-sm"></div>
                                    {{/if}}
                                </div>
                                <p>{{{lens2.specs}}}</p>
                            </div>
                            {{else}}
                                <div class="placeholder hidden-xs hidden-sm"></div>
                            {{/if}}
                                    
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <img src="img/separator-left.png" height="1" width="297" alt="divider">
                        </div>
                        <p class="title nobottomspacing">{{title}}</p>
                        <p class="photographer-name">{{photographer.name}}</p>
                        <p class="description">{{{description}}}</p>

                        <div class="fb-like text-left" data-href="@@country/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                    </div>
                </div>
                {{/each}}
            </script>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="photos-carousel max-width center-block" id="photos-wall">
            </div>
            <script id="photos-carousel" type="text/x-handlebars-template">​ {{#each this}}
                <a class="photo-carousel photo-carousel-non-mobile text-center photographer-{{photographer.id}} hidden-xs" rel="photo-gallery" data-photo="{{count}}" href="#photo-{{count}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo');">
                    <img data-original="img/profile/{{country}}/{{photographer.nick}}/thumb-{{id}}.jpg" class="img-responsive center-block lazy" height="136" width="210" alt="{{title}}">
                    <div class="center-block border hidden-sm hidden-md"></div>
                </a>
                {{/each}} {{#each this}}
                <a class="photo-carousel photo-carousel-mobile text-center photographer-{{photographer.id}} hidden-sm hidden-md hidden-lg" rel="photo-gallery-mobile" data-photo="{{count}}" href="#photo-{{count}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo');">
                    <img data-original="img/profile/{{country}}/{{photographer.nick}}/thumb-{{id}}-mobile.jpg" class="img-responsive center-block lazy" height="90" width="90" alt="{{title}}">
                </a>
                {{/each}}
            </script>
        </div>
    </div>
</section>
