<div id="profile-urasha">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">Portrait + Travel + Landscape Photographer</p>
                <p class="name">Urasha Jakkachaphol</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">Portrait + Travel + Landscape Photographer</p>
                    <p class="name">Urasha Jakkachaphol</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Urasha Jakkachaphol is an aspiring Thai photographer and is currently serving on the board of the Royal Photographic Society of Thailand (RPST).</p>

            <p>Born in Bangkok, Thailand, she had the opportunity to experience many diverse cultures through her travels both domestically and abroad. Her journey into the world of photography began in the Autumn of 2007 when she enrolled into a course that would define her career today. Previously having graduated from Assumption University, Thailand with a BA and a MSC from University of Surrey, UK, she then completed her post graduate certificate from the London College of Communication in 2008.</p>

            <p>Her passion in photography drove her across the Channel to France where she was accepted into Spéos Paris Photographic Institute. Through much dedication and perseverance she persued her ambition and completed a Master degree in European Master of Professional Photography in 2009.</p>

            <p>Initially, her work focused on the livelihood of communities and the associated social problems. This later transformed into a landscapes and cityscapes perspective. She also explored fine arts and environmental portraits.</p>

            <p>Urasha's unique style, talent and understanding of her subjects has won her many awards such as Prix de la Photographie, International Photography Awards in a variety of categories.</p>

            <p>Urasha is currently a Lecturer at King’s Mongkut’s Institute of Technology Ladkrabang (KMITL), Bangkok, Thailand and a brand ambassador for Sony Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Urasha Jakkachaphol is an aspiring Thai photographer and is currently serving on the board of the Royal Photographic Society of Thailand (RPST).</p>

            <p>Born in Bangkok, Thailand, she had the opportunity to experience many diverse cultures through her travels both domestically and abroad. Her journey into the world of photography began in the Autumn of 2007 when she enrolled into a course that would define her career today. Previously having graduated from Assumption University, Thailand with a BA and a MSC from University of Surrey, UK, she then completed her post graduate certificate from the London College of Communication in 2008.</p>

            <p>Her passion in photography drove her across the Channel to France where she was accepted into Spéos Paris Photographic Institute. Through much dedication and perseverance she persued her ambition and completed a Master degree in European Master of Professional Photography in 2009.</p>

            <p>Initially, her work focused on the livelihood of communities and the associated social problems. This later transformed into a landscapes and cityscapes perspective. She also explored fine arts and environmental portraits.</p>

            <p>Urasha's unique style, talent and understanding of her subjects has won her many awards such as Prix de la Photographie, International Photography Awards in a variety of categories.</p>

            <p>Urasha is currently a Lecturer at King’s Mongkut’s Institute of Technology Ladkrabang (KMITL), Bangkok, Thailand and a brand ambassador for Sony Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Urasha</span>
                </p>
                <img data-original="img/profile/th/urasha/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Urasha">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/urasha/quote-1.png" width="290" height="392" alt="Urasha's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/urasha/quote-2.png" width="289" height="363" alt="Urasha's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography is a tool for expressing my feelings and how I convey a message to the audience. Sometimes, they see the picture as I want them to but sometimes the picture itself plays with their feelings. For me that is the exciting part. The meaning of a photograph can be changing all the time depending on an individual’s own life experiences and that's how amazing photography is. For myself, as long as the feeling emerges every day in my life, photography will be my medium to express such feelings.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography holds such significance in my life that I changed professions from being a hotelier to becoming a photographer and photography teacher. I found myself falling in love with photography and my camera became my constant companion when I travelled. I would then go back and look at the pictures until I fell asleep - that's the importance of photography to me. Moreover, photography gives me the ability to see the little details of life all around me such as trees, animals, people and everything that I might have ignored if it wasn’t for photography. I have found such a sense of happiness through photography looking around this wonderful world every day.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-2.jpg" width="611" height="207" alt="Interview with Urasha">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">In terms of my expectations from camera gears, I need them to be trustworthy in terms of the file quality - the sharpness, the colour accuracy and the dynamic range. It makes me happy when I can see the high reliability of a file every time I open it. Another expectation I have from equipment is its convenience.  Having carried a camera around for a prolonged time I now suffer shoulder problems. Therefore, I prefer a lightweight camera that makes me feel comfortable, and this also means I can bring more lenses along on my trip.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Dow Wasiksiri is one of my favourite artists, from him I became inspired and learnt how to appreciate the arts happening around me. More than that, I have learnt how to create work systematically from him too.
                    <br/><br/>
                    Another one of my favourite photographers is Martin Parr, his work is easy to understand and a bit sarcastic. I like him because I love to see the stories of how diverse the lives are of people living in different places.
                    <br/><br/>
                    Additionally, Erwin Olaf and Loretta Lux’s works have also inspired me in terms of their use of colours, the perfection and the concept behind them.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> Often when I travel it's not easy to bring along heavy gear especially if I have to travel for many days and some routes are not very comfortable. I have found Sony a7RII to be the most suitable choice in every way, especially in terms of weight and image quality and would say switching to the Sony a7RII is the best choice I ever made.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7RII makes my photography more fun and productive since I can bring it along with me all the time. It gives me the same feeling like when I first touched my first ever camera. I feel very motivated to go out and explore the world more and more every day as well as that I am able to capture the personal images of my everyday life with ease.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The most unbeatable advantage of Sony a7RII is the advanced technology that has been designed in a lightweight body. Why do you have to carry a bigger camera when there is one that is smaller and better in quality? Sony a7RII just sounds perfect to me.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Numbers can’t really describe enough of the advantages of the Sony a7RII, it is the most advanced technology offered in the market and provides everything I could ever wish for. This camera has become my buddy and I love it so much.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-3.jpg" width="611" height="207" alt="Interview with Urasha">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My favourite lens is the Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS because this is like an around-the-world lens for me. I can travel with this lens and shoot many different subjects and the quality is amazing.
                    <br/><br/>
                    Besides that, I love the Sony Distagon T FE 35mm f/1.4 ZA for my environmental portrait photography. The angle is wide enough to capture the surroundings whilst its depth can make the subject stand out perfectly.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My camera bag contains the Sony Distagon T FE 35mm f/1.4 ZA, Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS, Sony Sonnar T FE 55mm f/1.8 ZA, Sony Alpha a7RII, 2 extra batteries and 4 x 64GB SD Cards.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Urasha</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/urasha/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Urasha"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography is a tool for expressing my feelings and how I convey a message to the audience. Sometimes, they see the picture as I want them to but sometimes the picture itself plays with their feelings. For me that is the exciting part. The meaning of a photograph can be changing all the time depending on an individual’s own life experiences and that's how amazing photography is. For myself, as long as the feeling emerges every day in my life, photography will be my medium to express such feelings.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography holds such significance in my life that I changed professions from being a hotelier to becoming a photographer and photography teacher. I found myself falling in love with photography and my camera became my constant companion when I travelled. I would then go back and look at the pictures until I fell asleep - that's the importance of photography to me. Moreover, photography gives me the ability to see the little details of life all around me such as trees, animals, people and everything that I might have ignored if it wasn’t for photography. I have found such a sense of happiness through photography looking around this wonderful world every day.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">In terms of my expectations from camera gears, I need them to be trustworthy in terms of the file quality - the sharpness, the colour accuracy and the dynamic range. It makes me happy when I can see the high reliability of a file every time I open it. Another expectation I have from equipment is its convenience.  Having carried a camera around for a prolonged time I now suffer shoulder problems. Therefore, I prefer a lightweight camera that makes me feel comfortable, and this also means I can bring more lenses along on my trip.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Dow Wasiksiri is one of my favourite artists, from him I became inspired and learnt how to appreciate the arts happening around me. More than that, I have learnt how to create work systematically from him too.
                            <br/><br/>
                            Another one of my favourite photographers is Martin Parr, his work is easy to understand and a bit sarcastic. I like him because I love to see the stories of how diverse the lives are of people living in different places.
                            <br/><br/>
                            Additionally, Erwin Olaf and Loretta Lux’s works have also inspired me in terms of their use of colours, the perfection and the concept behind them.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Often when I travel it's not easy to bring along heavy gear especially if I have to travel for many days and some routes are not very comfortable. I have found Sony a7RII to be the most suitable choice in every way, especially in terms of weight and image quality and would say switching to the Sony a7RII is the best choice I ever made.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7RII makes my photography more fun and productive since I can bring it along with me all the time. It gives me the same feeling like when I first touched my first ever camera. I feel very motivated to go out and explore the world more and more every day as well as that I am able to capture the personal images of my everyday life with ease.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The most unbeatable advantage of Sony a7RII is the advanced technology that has been designed in a lightweight body. Why do you have to carry a bigger camera when there is one that is smaller and better in quality? Sony a7RII just sounds perfect to me.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Numbers can’t really describe enough of the advantages of the Sony a7RII, it is the most advanced technology offered in the market and provides everything I could ever wish for. This camera has become my buddy and I love it so much.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My favourite lens is the Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS because this is like an around-the-world lens for me. I can travel with this lens and shoot many different subjects and the quality is amazing.
                            <br/><br/>
                            Besides that, I love the Sony Distagon T FE 35mm f/1.4 ZA for my environmental portrait photography. The angle is wide enough to capture the surroundings whilst its depth can make the subject stand out perfectly.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My camera bag contains the Sony Distagon T FE 35mm f/1.4 ZA, Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS, Sony Sonnar T FE 55mm f/1.8 ZA, Sony Alpha a7RII, 2 extra batteries and 4 x 64GB SD Cards.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
