<section id="content" class="container-fluid">

    <div class="row">

        <div class="col-sm-12 clearfix">
            <div class="reviews">
                <div class="reviews-wrapper">

                    <div class="reviews-container">

                        <h1>Review Articles</h1>

                        <a href="sg/reviews/SEL100F28GM.html">
                            <div id="main-review">
                                <div class="review-details">
                                    <h2>Sony FE 100mm F2.8 STF GM OSS review</h2>
                                    <h3>The hallmark of bokeh effects</h3>
                                </div>
                            </div>
                        </a>

                        <div class="row sub-reviews-section">

                            <a href="sg/reviews/SEL100400GM.html">
                                <div class="sub-review col-sm-6 col-md-6 clearfix left-review">
                                    <div id="review05">
                                        <div class="review-details">
                                            <h2>Sony FE 100-400mm f4.5-5.6 GM Review</h2>
                                            <h3>A clear victory, from post to post</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="sg/reviews/SEL1635GM.html">
                                <div class="sub-review col-sm-6 col-md-6 clearfix right-review">
                                    <div id="review04">
                                        <div class="review-details">
                                            <h2>Sony FE 16-35mm f/2.8 GM Review</h2>
                                            <h3>Full speed ahead with options wide open</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row sub-reviews-section">    
                            <a href="sg/reviews/SEL1224G.html">
                                <div class="sub-review col-sm-6 col-md-6 clearfix left-review">
                                    <div id="review02">
                                        <div class="review-details">
                                            <h2>Sony FE 12-24mm G Lens Review</h2>
                                            <h3>An ultra-wide perspective of life</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="sg/reviews/SEL85F14GM.html">
                                <div class="sub-review col-sm-6 col-md-6 clearfix right-review">
                                    <div id="review03">
                                        <div class="review-details">
                                            <h2>Sony FE 85mm f1.4 GM Review</h2>
                                            <h3>A marriage made in heaven</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>

</section>
