<div id="profile-glenn">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:200px;">
            <div>
                <p class="type">Fashion + Portrait Photographer</p>
                <p class="name">Glenn Prasetya</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Indonesia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Fashion + Portrait Photographer</p>
                    <p class="name">Glenn Prasetya</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Indonesia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Seven years working as a photographer is not considered to be a long time in the industry but Glenn Prasetya&rsquo;s achievements have gone beyond those time. A perfectionist, his attention to detail has made him a trusted option for numerous fashion and beauty brands, locally as well as internationally. His portfolio consists of working with respected names within the industry such as Christophe Gaillet, Jacques Uzzardi and Hyun Tae on regional print campaigns, as well as editorial projects for international fashion titles. Naturally, these achievements are acknowledged through a series of awards such as the 2011 Elle Style Award: Photographer of the Year and he has also been selected to represent Indonesia as the L&rsquo;Oreal Paris Indonesia Official Photographer at Cannes Film Festival 2013.</p>

            <p>Exhibitions:</p>

            <p>
                2008: a+ 8 elements of life, Jakarta
                <br/> 2009: IndividualistS, Galeri Salihara, Jakarta
                <br/> 2010: L&rsquo;OREAL Open Your Eyes and Transform!, Patio Gallery, Jakarta
                <br/> 2011: BEYOND PHOTOGRAPHY 2011, Ciputra Artpreneur Center, Jakarta
                <br/> 2013: FASHION MUSES, Solo Exhibitions at Plaza Indonesia, Jakarta
                <br/> 2013: SHARP DRESSED MEN, Solo Exhibition in conjunction with MEN&rsquo;S FOLIO at Plaza Indonesia
                <br/> 2013: BREAST CANCER CAMPAIGN Exhibition, Joint Exhibition with L&rsquo;Officiel at Plaza Indonesia
                <br/> 2013: 24th YEARS PLAZA INDONESIA Joint Exhibition, at Plaza Indonesia, Jakarta
                <br/> 2014: TEMANTEMAN.ORG PHOTO EXHIBITION at Senayan City, Jakarta
                <br/> 2014: URBAN ART EXHIBITION in Conjunction with STUDIO47 at Kuningan City, Jakarta
                <br/> 2014: IBU KOTA Joint Exhibition of KELAS PAGI JOGJA, Yogyakarta
                <br/> 2014 : TRAVELLING GENTLEMEN Exhibition at Senayan City, Jakarta collaboration with MEN&rsquo;S FOLIO Indonesia and GARUDA Indonesia
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Seven years working as a photographer is not considered to be a long time in the industry but Glenn Prasetya&rsquo;s achievements have gone beyond those time. A perfectionist, his attention to detail has made him a trusted option for numerous fashion and beauty brands, locally as well as internationally. His portfolio consists of working with respected names within the industry such as Christophe Gaillet, Jacques Uzzardi and Hyun Tae on regional print campaigns, as well as editorial projects for international fashion titles. Naturally, these achievements are acknowledged through a series of awards such as the 2011 Elle Style Award: Photographer of the Year and he has also been selected to represent Indonesia as the L&rsquo;Oreal Paris Indonesia Official Photographer at Cannes Film Festival 2013.</p>

            <p>Exhibitions:</p>

            <p>
                2008: a+ 8 elements of life, Jakarta
                <br/> 2009: IndividualistS, Galeri Salihara, Jakarta
                <br/> 2010: L&rsquo;OREAL Open Your Eyes and Transform!, Patio Gallery, Jakarta
                <br/> 2011: BEYOND PHOTOGRAPHY 2011, Ciputra Artpreneur Center, Jakarta
                <br/> 2013: FASHION MUSES, Solo Exhibitions at Plaza Indonesia, Jakarta
                <br/> 2013: SHARP DRESSED MEN, Solo Exhibition in conjunction with MEN&rsquo;S FOLIO at Plaza Indonesia
                <br/> 2013: BREAST CANCER CAMPAIGN Exhibition, Joint Exhibition with L&rsquo;Officiel at Plaza Indonesia
                <br/> 2013: 24th YEARS PLAZA INDONESIA Joint Exhibition, at Plaza Indonesia, Jakarta
                <br/> 2014: TEMANTEMAN.ORG PHOTO EXHIBITION at Senayan City, Jakarta
                <br/> 2014: URBAN ART EXHIBITION in Conjunction with STUDIO47 at Kuningan City, Jakarta
                <br/> 2014: IBU KOTA Joint Exhibition of KELAS PAGI JOGJA, Yogyakarta
                <br/> 2014 : TRAVELLING GENTLEMEN Exhibition at Senayan City, Jakarta collaboration with MEN&rsquo;S FOLIO Indonesia and GARUDA Indonesia
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Glenn</span>
                </p>
                <img data-original="img/profile/id/glenn/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Glenn">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/glenn/quote-1.png" width="315" height="237" alt="Glenn's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/glenn/quote-2.png" width="314" height="240" alt="Glenn's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love fashion, and photography has been the medium for me. Through photography I capture beautiful things that inspire me. So basically, I capture life and passion through photography.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For me photography is my passion. I’ve been through some stages of life with photography. I started as a dreamer who loves to capture fashion, when people did not believe that being a photographer was not a real job and was just a hobby. Today, photography has brought me to many many places and a great simple life which I treasure most with my little family. So yes, photography has been very personal to me.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-2.jpg" width="611" height="207" alt="Interview with Glenn">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Simple yet impactfull!</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">All the things surrounding me influence my work and personal life. I love to travel and I follow some of my favourite photographers' work to get inspired, mostly fashion photographers such as Steven Meissel, Camilla Arkrans and Chen Man.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography brings me to many many places and conditions, therefore my greatest challenge would be to travel light with a really good equipment to support my work. That’s how my Sony a7R meet my needs.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Because of its light weight and the mirrorless technology, I could travel light and yet still produce such great image quality.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The first is the 36.3-megapixel full-frame image to support the need of our printing works, and also the Wi-Fi function to help the quick preview for the whole team during the photoshoot.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Maybe I could say 9 out of 10. I always leave 1 out for perfection.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-3.jpg" width="611" height="207" alt="Interview with Glenn">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I loooove taking beauty shots (a close-up image) with Sony’s new 90mm Lens.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7R, 24-70 mm Lens, 70-200 mm Lens, 3 SD cards, a transmitter, and a Macbook air.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Glenn</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/glenn/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Glenn"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love fashion, and photography has been the medium for me. Through photography I capture beautiful things that inspire me. So basically, I capture life and passion through photography.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For me photography is my passion. I’ve been through some stages of life with photography. I started as a dreamer who loves to capture fashion, when people did not believe that being a photographer was not a real job and was just a hobby. Today, photography has brought me to many many places and a great simple life which I treasure most with my little family. So yes, photography has been very personal to me.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Simple yet impactfull!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">All the things surrounding me influence my work and personal life. I love to travel and I follow some of my favourite photographers' work to get inspired, mostly fashion photographers such as Steven Meissel, Camilla Arkrans and Chen Man.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography brings me to many many places and conditions, therefore my greatest challenge would be to travel light with a really good equipment to support my work. That’s how my Sony a7R meet my needs.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Because of its light weight and the mirrorless technology, I could travel light and yet still produce such great image quality.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The first is the 36.3-megapixel full-frame image to support the need of our printing works, and also the Wi-Fi function to help the quick preview for the whole team during the photoshoot.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Maybe I could say 9 out of 10. I always leave 1 out for perfection.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I loooove taking beauty shots (a close-up image) with Sony’s new 90mm Lens.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7R, 24-70 mm Lens, 70-200 mm Lens, 3 SD cards, a transmitter, and a Macbook air.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
