<div id="profile-nicoline">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Fashion + Portrait Photographer</p>
                <p class="name">Nicoline Patricia Malina</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Indonesia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">Fashion + Portrait Photographer</p>
                    <p class="name">Nicoline Patricia Malina</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Indonesia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Nicoline Patricia Malina was born in Surabaya, studied Fine Art in Utrecht, and currently shoots in Jakarta. Her photographic aesthetic is distinctive; rich colours and impeccable sense of details dominate the scene, combined with raw and cinematic black and white. From natural landscapes to tiny hotel rooms, she makes them all appear as if they are sets which have been specifically constructed for the shoot taking place.</p>

            <p>Nicoline has shot for numerous Indonesian and International magazines and advertisements. She regularly contributes to Harper’s Bazaar, Elle, Amica, Esquire, Maxim, Cosmopolitan, Marie Claire amongst others, and has shot for prestigious clients all over Asia ranging from Fashion, Lifestyle, Hospitality and F&B such as Coca Cola, A Mild, WWF, JJ Royal Coffee, Tanishq, John Players, Vero Moda, Senayan City, GIA and Immigrant.</p>

            <p>In 2007 she won the "Iconique Societas Excellence in Fashion Photography", an International recognition in Fashion Photography, which along the way has opened her doors to the industry. In 2009 she was awarded both "Young Photographer of The Year" by ELLE Magazine and "Photographer of The Year" by A+ Scarlett Celebrity Fashion Awards. She’s also the photographer icon of Kuningan City iKonography in 2013 and was selected as "Most Stylish Creative" on Senayan City Style Maker Awards in 2014. Nicoline has done two solo exhibitions and several group exhibitions in Jakarta, Bali and Milan.</p>

            <p>Nicoline founded NPM Photography on 2013, a creative artist management and media consultancy representing photographers, illustrators, video directors and production team with the work expertise ranging from fashion, portrait, lifestyle, still life and interior. In 2014, she founded The Class by NPM, a platform to shape and motivate aspiring photographers to become creators based on their passion, talents and ambition. The class has helped to launch new emerging photographers into the industry.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Nicoline Patricia Malina was born in Surabaya, studied Fine Art in Utrecht, and currently shoots in Jakarta. Her photographic aesthetic is distinctive; rich colours and impeccable sense of details dominate the scene, combined with raw and cinematic black and white. From natural landscapes to tiny hotel rooms, she makes them all appear as if they are sets which have been specifically constructed for the shoot taking place.</p>

            <p>Nicoline has shot for numerous Indonesian and International magazines and advertisements. She regularly contributes to Harper’s Bazaar, Elle, Amica, Esquire, Maxim, Cosmopolitan, Marie Claire amongst others, and has shot for prestigious clients all over Asia ranging from Fashion, Lifestyle, Hospitality and F&B such as Coca Cola, A Mild, WWF, JJ Royal Coffee, Tanishq, John Players, Vero Moda, Senayan City, GIA and Immigrant.</p>

            <p>In 2007 she won the "Iconique Societas Excellence in Fashion Photography", an International recognition in Fashion Photography, which along the way has opened her doors to the industry. In 2009 she was awarded both "Young Photographer of The Year" by ELLE Magazine and "Photographer of The Year" by A+ Scarlett Celebrity Fashion Awards. She’s also the photographer icon of Kuningan City iKonography in 2013 and was selected as "Most Stylish Creative" on Senayan City Style Maker Awards in 2014. Nicoline has done two solo exhibitions and several group exhibitions in Jakarta, Bali and Milan.</p>

            <p>Nicoline founded NPM Photography on 2013, a creative artist management and media consultancy representing photographers, illustrators, video directors and production team with the work expertise ranging from fashion, portrait, lifestyle, still life and interior. In 2014, she founded The Class by NPM, a platform to shape and motivate aspiring photographers to become creators based on their passion, talents and ambition. The class has helped to launch new emerging photographers into the industry.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Nicoline</span>
                </p>
                <img data-original="img/profile/id/nicoline/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Nicoline">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/nicoline/quote-1.png" width="303" height="420" alt="Nicoline's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/nicoline/quote-2.png" width="316" height="362" alt="Nicoline's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The urging desire to create, to tell a story and to travel has come to me since an early age. I have tried and loved many mediums, from painting, designing and taking photos. I started photography in 2005 by looking into the world of street and landscapes. I love the outdoors but then I went down this track towards becoming a Fashion Photographer. I remember being involved in a fashion shoot and thinking, “This is wonderful. I want to do this for life.” Since then, being a photographer has taken me to meeting new people; learning through and trying to see life through their vision, traveling to distant countries, passing through countless and priceless experiences, and every day I feel blessed.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My work is the extension of my life. It started as a passionate hobby, then a job, then I do it every hour of the day, then it naturally became a daily necessity that I can’t and won’t stop. It’s water to drink and food to eat for other people, but for me it’s a place to visit and a photo to shoot. It’s been inseparable for the past 10 years, photography and my life. It’s an exciting and adventurous life I’m living right now – the world of travel, cultures, people and photography all rolled into one.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-2.jpg" width="611" height="207" alt="Interview with Nicoline">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Just like how I like everything in my life to be: strong, durable, efficient and practical.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My creation journey has been and still is a great learning process, physically and spiritually. The first time I fell in love with Fashion photography was when I stumbled upon a fashion spread shot by Peter Lindbergh for a 1993 issue of Harper’s Bazaar magazine. Then along the way I got inspired by Wong Kar Wai’s subtle definition of romance, Steve McCurry’s eyes and direction for epic portraits and Ellen von Unwerth’s spontaneous and fun way of directing models. Mentally and spiritually in the part of the whole process, I have my mother who never ceases to give me guidance.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have a philosophy: less is more. The less stuff I have hanging off me and in bags, the more focused I am on being creative. Back then there were plenty of trips when I needed several heavy bags to check in on and under the plane. Some of them were not even photography equipment, they were my traveling kits. I pack my ropes, ladder, reflector, flashlight, compass and winter boots along with my cameras and lenses. It’s part of a traveling photographer’s life; but I’d very much prefer my gear to be portable, light weight and awesome. I like to be in the storytelling business, not the luggage moving business. I need a camera that can tick all the words written on my checklist; and back then, such features in one camera didn’t exist. Before I found the a7, I had to carry a few big, bulky SLR cameras, each with its own advantage.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It occurred to me just recently that I’m more excited today or at least equally as excited about photography and video today as I was when I first picked up a camera eight years ago. I think it’s largely because of a7. It was a new sense of freedom if you think about the movement a small, lighter camera enabled. There is an evolution in my craft now that I discover more about the advantages; the whole process is magical and done in the most effective way. I only need one camera to be able to do all things on the list: A large resolution with sharp details for my editorial and advertising shoot, check. Light enough to carry on my handbag during my travels, check. Strong and durable to be used in any weather and climate conditions, check. Zeiss mounting, check!</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The world's lightest interchangeable lens full-frame camera with 24.3MP resolution, the connectivity to smartphones via Wi-Fi<sup>&reg;</sup> or NFC, the compatibility with Zeiss E-mount and full-frame lenses.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">This technology, a full-frame sensor on a mirrorless camera. Being able to rate 10 out of 10 on this would be…still underrated.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-3.jpg" width="611" height="207" alt="Interview with Nicoline">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony 85mm f/1.4 Zeiss Planar T* Prime Lens, I love the cinematic, sublime and elegant feel from the shallow depth of field I get when making portraits with this lens. The all-range, super practical editorial and travel lens would be Zeiss Vario Tessar T* FE 24-70mm F4.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7, a7II, 85mm f/1.4 Zeiss, 24-70mm F/4 Zeiss, 55mm F/1.8 Zeiss, 3 SD cards (64gb), lens mount adaptor, Sony external flash, 5 spare batteries & 1 charger, an international plug & socket. I have a problem with losing my lens caps once every few months.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Nicoline</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/nicoline/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Nicoline"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The urging desire to create, to tell a story and to travel has come to me since an early age. I have tried and loved many mediums, from painting, designing and taking photos. I started photography in 2005 by looking into the world of street and landscapes. I love the outdoors but then I went down this track towards becoming a Fashion Photographer. I remember being involved in a fashion shoot and thinking, “This is wonderful. I want to do this for life.” Since then, being a photographer has taken me to meeting new people; learning through and trying to see life through their vision, traveling to distant countries, passing through countless and priceless experiences, and every day I feel blessed.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My work is the extension of my life. It started as a passionate hobby, then a job, then I do it every hour of the day, then it naturally became a daily necessity that I can’t and won’t stop. It’s water to drink and food to eat for other people, but for me it’s a place to visit and a photo to shoot. It’s been inseparable for the past 10 years, photography and my life. It’s an exciting and adventurous life I’m living right now – the world of travel, cultures, people and photography all rolled into one.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Just like how I like everything in my life to be: strong, durable, efficient and practical.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My creation journey has been and still is a great learning process, physically and spiritually. The first time I fell in love with Fashion photography was when I stumbled upon a fashion spread shot by Peter Lindbergh for a 1993 issue of Harper’s Bazaar magazine. Then along the way I got inspired by Wong Kar Wai’s subtle definition of romance, Steve McCurry’s eyes and direction for epic portraits and Ellen von Unwerth’s spontaneous and fun way of directing models. Mentally and spiritually in the part of the whole process, I have my mother who never ceases to give me guidance.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have a philosophy: less is more. The less stuff I have hanging off me and in bags, the more focused I am on being creative. Back then there were plenty of trips when I needed several heavy bags to check in on and under the plane. Some of them were not even photography equipment, they were my traveling kits. I pack my ropes, ladder, reflector, flashlight, compass and winter boots along with my cameras and lenses. It’s part of a traveling photographer’s life; but I’d very much prefer my gear to be portable, light weight and awesome. I like to be in the storytelling business, not the luggage moving business. I need a camera that can tick all the words written on my checklist; and back then, such features in one camera didn’t exist. Before I found the a7, I had to carry a few big, bulky SLR cameras, each with its own advantage.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It occurred to me just recently that I’m more excited today or at least equally as excited about photography and video today as I was when I first picked up a camera eight years ago. I think it’s largely because of a7. It was a new sense of freedom if you think about the movement a small, lighter camera enabled. There is an evolution in my craft now that I discover more about the advantages; the whole process is magical and done in the most effective way. I only need one camera to be able to do all things on the list: A large resolution with sharp details for my editorial and advertising shoot, check. Light enough to carry on my handbag during my travels, check. Strong and durable to be used in any weather and climate conditions, check. Zeiss mounting, check!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The world's lightest interchangeable lens full-frame camera with 24.3MP resolution, the connectivity to smartphones via Wi-Fi<sup>&reg;</sup> or NFC, the compatibility with Zeiss E-mount and full-frame lenses.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">This technology, a full-frame sensor on a mirrorless camera. Being able to rate 10 out of 10 on this would be…still underrated.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony 85mm f/1.4 Zeiss Planar T* Prime Lens, I love the cinematic, sublime and elegant feel from the shallow depth of field I get when making portraits with this lens. The all-range, super practical editorial and travel lens would be Zeiss Vario Tessar T* FE 24-70mm F4.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7, a7II, 85mm f/1.4 Zeiss, 24-70mm F/4 Zeiss, 55mm F/1.8 Zeiss, 3 SD cards (64gb), lens mount adaptor, Sony external flash, 5 spare batteries & 1 charger, an international plug & socket. I have a problem with losing my lens caps once every few months.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
