<div id="profile-bryan">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Commercial + Editorial Photographer</p>
                <p class="name">Bryan van der Beek</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Commercial + Editorial Photographer</p>
                    <p class="name">Bryan van der Beek</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Bryan van der Beek is an award-winning commercial and editorial photographer based in Singapore. His images span Asia, North America and Europe.</p>

            <p>A former Executive Photojournalist with The Straits Times in Singapore, Bryan has also worked with newspapers in the United States. His photographs have appeared in several international publications including: Time, Time Asia, Newsweek and The Washington Post. In addition, his photographs, known for their artistic sensibility, can be found in the permanent collection of the National Museum of Singapore. A graduate of the Indiana University School of Journalism, he has lectured at the School of Art, Design and Media at Nanyang Technological University, Temasek Polytechnic and the Objectifs Centre for Photography and Film.</p>

            <p>His work can be seen at
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:bryan:works:link', 'ilc:@@country', 'ilc:@@country:profile:bryan:works:link', 'microsite|ilc:@@country|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Bryan van der Beek is an award-winning commercial and editorial photographer based in Singapore. His images span Asia, North America and Europe.</p>

            <p>A former Executive Photojournalist with The Straits Times in Singapore, Bryan has also worked with newspapers in the United States. His photographs have appeared in several international publications including: Time, Time Asia, Newsweek and The Washington Post. In addition, his photographs, known for their artistic sensibility, can be found in the permanent collection of the National Museum of Singapore. A graduate of the Indiana University School of Journalism, he has lectured at the School of Art, Design and Media at Nanyang Technological University, Temasek Polytechnic and the Objectifs Centre for Photography and Film.</p>

            <p>His work can be seen at
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:bryan:works:link', 'ilc:@@country', 'ilc:@@country:profile:bryan:works:link', 'microsite|ilc:@@country|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Bryan</span>
                </p>
                <img data-original="img/profile/sg/bryan/profile_pic-1.jpg" class="lazy" width="316" height="415" alt="Interview with Bryan">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/bryan/quote-1.png" width="314" height="242" alt="Bryan's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/bryan/quote-2.png" width="295" height="247" alt="Bryan's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I'm all about story telling. I believe that a pretty picture isn't worth much unless there is something that viewers can get out of it - a fleeting moment, the emotions, the interactions - all these coupled with a visual picture does more for me than all the pretty sunset pictures in the world.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I've been taking pictures seriously for the past 20 years and suffice to say that it has become an integral part of my life. Not a day goes by without me taking a photo of some sort, whether it's documenting my kids growing up, or capturing something interesting I see on the street. Of course the fact that I make my living as a professional photographer also gives me the opportunity to see and document things that a normal person would never get the chance to, so I take those opportunities to try and share with people my experiences.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-2.jpg" width="611" height="207" alt="Interview with Bryan">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">When I was younger, the more equipment I had with me, the more options I had. Unfortunately, more equipment also translated to greater weight. These days, I am much better working within the constraints of the gear I have with me, so I just choose a couple of lenses I am comfortable with and head out. But the requirements are the same, I need a camera body that is rugged and can take the occasional hard knock (especially when I am chasing a news event), and some basic weather sealing in case of inclement weather. I also need the basic three lens set up for editorial work (16-35, 24-70, 70-200mm) to ensure that I have all the focal lengths I need. I also tend to use fast, large aperture prime lenses for portraits and street photography, so it's important that I have those too. Quick autofocus and good ergonomics also help.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It's easy to list the famous photographers who have figured prominently in my life like Sebastiao Salgado, James Nachtwey and Alex Webb to name a few, but there were also a lot of lesser names with no less talent. Photographers I worked with at newspapers and publications as well as editors who were more personally involved in the personal forming of my photography career.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Being a big guy, I've had a surprisingly easy time blending into the background, but the sound of the camera shutter sometimes still turns heads. The electronic shutter of the a7S is a godsend for me when it comes to being unobtrusive and taking pictures quietly.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The small size of the camera and the increasing number of lenses make it easy to carry a full-frame camera around with me everywhere I go. I used to carry a point and shoot for days when I am just walking around, but these days, I tend to tote around a7S or an a7II that allows me to capture pictures with the quality of a DSLR, but at a fraction of the weight or bulk.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As mentioned above, the light weight and small size are huge advantages, also the fact that there are converters out there that allow me to use legacy lenses that I love from other systems on my set up. I used to use a rangefinder, and these days I can still use my rangefinder lenses on the a7 bodies to take advantage of the lenses I love. The ability to transfer images to my mobile device via NFC and Wi-Fi<sup>&reg;</sup> is also great for quick filing of photos to clients and streamlining my workflow.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony has definitely made a huge splash by releasing a small full-frame camera with such versatility to the market. The prices are attractive to both consumers and professional photographers alike, and it’s a great entry to digital photography - especially to film users who weren't willing to embrace a crop factor on their lenses.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-3.jpg" width="611" height="207" alt="Interview with Bryan">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My favourite used to be the 55mm f1.8 until the 35mm f1.4 came out. But in terms of practicality and versatility, the 16-35mm f4 is the one lens I would choose if I had to pick one to carry around all the time.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For most editorial shoots, I'd carry an a7S and an a7II, as well as 16-35mm, 24-70mm, 70-200mm, 55mm and 35mm lenses.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Bryan</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/bryan/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Bryan"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I'm all about story telling. I believe that a pretty picture isn't worth much unless there is something that viewers can get out of it - a fleeting moment, the emotions, the interactions - all these coupled with a visual picture does more for me than all the pretty sunset pictures in the world.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I've been taking pictures seriously for the past 20 years and suffice to say that it has become an integral part of my life. Not a day goes by without me taking a photo of some sort, whether it's documenting my kids growing up, or capturing something interesting I see on the street. Of course the fact that I make my living as a professional photographer also gives me the opportunity to see and document things that a normal person would never get the chance to, so I take those opportunities to try and share with people my experiences.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">When I was younger, the more equipment I had with me, the more options I had. Unfortunately, more equipment also translated to greater weight. These days, I am much better working within the constraints of the gear I have with me, so I just choose a couple of lenses I am comfortable with and head out. But the requirements are the same, I need a camera body that is rugged and can take the occasional hard knock (especially when I am chasing a news event), and some basic weather sealing in case of inclement weather. I also need the basic three lens set up for editorial work (16-35, 24-70, 70-200mm) to ensure that I have all the focal lengths I need. I also tend to use fast, large aperture prime lenses for portraits and street photography, so it's important that I have those too. Quick autofocus and good ergonomics also help.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It's easy to list the famous photographers who have figured prominently in my life like Sebastiao Salgado, James Nachtwey and Alex Webb to name a few, but there were also a lot of lesser names with no less talent. Photographers I worked with at newspapers and publications as well as editors who were more personally involved in the personal forming of my photography career.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Being a big guy, I've had a surprisingly easy time blending into the background, but the sound of the camera shutter sometimes still turns heads. The electronic shutter of the a7S is a godsend for me when it comes to being unobtrusive and taking pictures quietly.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The small size of the camera and the increasing number of lenses make it easy to carry a full-frame camera around with me everywhere I go. I used to carry a point and shoot for days when I am just walking around, but these days, I tend to tote around a7S or an a7II that allows me to capture pictures with the quality of a DSLR, but at a fraction of the weight or bulk.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As mentioned above, the light weight and small size are huge advantages, also the fact that there are converters out there that allow me to use legacy lenses that I love from other systems on my set up. I used to use a rangefinder, and these days I can still use my rangefinder lenses on the a7 bodies to take advantage of the lenses I love. The ability to transfer images to my mobile device via NFC and Wi-Fi<sup>&reg;</sup> is also great for quick filing of photos to clients and streamlining my workflow.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony has definitely made a huge splash by releasing a small full-frame camera with such versatility to the market. The prices are attractive to both consumers and professional photographers alike, and it’s a great entry to digital photography - especially to film users who weren't willing to embrace a crop factor on their lenses.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My favourite used to be the 55mm f1.8 until the 35mm f1.4 came out. But in terms of practicality and versatility, the 16-35mm f4 is the one lens I would choose if I had to pick one to carry around all the time.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For most editorial shoots, I'd carry an a7S and an a7II, as well as 16-35mm, 24-70mm, 70-200mm, 55mm and 35mm lenses.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
