<div id="other-profile-aloysius">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Aloysius Lim">
            <div>
                <p class="type">Wedding + Music</p>
                <p class="name">Aloysius Lim</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>Aloysius' love for photography began some 15 years ago when he went to a concert and started shooting with the family's point-and-shoot camera. A couple of months later, he decided to invest in a DSLR to capture better quality images and hoped that one day he could photograph some of the biggest names on stage. Two years later, he got his big break when he got the opportunity to photograph Scottish band, Franz Ferdinand, in concert. The adrenaline felt during the shoot was overwhelming, but he wanted more of it. Soon after he started photographing musicians like Coldplay, The Police, Rihanna, Jason Mraz, etc. Since then, he has gone on to shoot many more concerts and music festivals in Singapore and around the region. His interest in wedding photography started while searching for a photographer for his own wedding. Wanting to learn more about the craft, he attended a wedding photography workshop and met many photographers from the <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:wpn', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:wpn', 'microsite|ilc:@@country|profile|aloysius|works|link|wpn');" target="_blank">Wedding Photographers Network (WPN)</a>. After much thought, he left his day job to pursue photography full-time in 2008 and has not looked back since. Aloysius is one half of 39 East Photography, specialising in weddings, and the company is one of the first few in Singapore to fully use Sony's system.</p>

                <p>You can see his wedding work at 39 East Photography <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> and his music photography work at his personal website <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Wedding + Music</p>
                    <p class="name">Aloysius Lim</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Aloysius' love for photography began some 15 years ago when he went to a concert and started shooting with the family's point-and-shoot camera. A couple of months later, he decided to invest in a DSLR to capture better quality images and hoped that one day he could photograph some of the biggest names on stage. Two years later, he got his big break when he got the opportunity to photograph Scottish band, Franz Ferdinand, in concert. The adrenaline felt during the shoot was overwhelming, but he wanted more of it. Soon after he started photographing musicians like Coldplay, The Police, Rihanna, Jason Mraz, etc. Since then, he has gone on to shoot many more concerts and music festivals in Singapore and around the region. His interest in wedding photography started while searching for a photographer for his own wedding. Wanting to learn more about the craft, he attended a wedding photography workshop and met many photographers from the <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:wpn', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:wpn', 'microsite|ilc:@@country|profile|aloysius|works|link|wpn');" target="_blank">Wedding Photographers Network (WPN)</a>. After much thought, he left his day job to pursue photography full-time in 2008 and has not looked back since. Aloysius is one half of 39 East Photography, specialising in weddings, and the company is one of the first few in Singapore to fully use Sony's system.</p>

            <p>You can see his wedding work at 39 East Photography <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> and his music photography work at his personal website <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
                <!-- <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Aloysius"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">At a wedding, it could be that warm hug between two family members, or the look of a groom when he sees his bride walking down the aisle. It could be a jump shot or the guitarist smashing his guitar on stage during a live show. Being able to tell a story with the images I've made and sharing it with people motivates me.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography has played an important role in my life for the past 15 years. It has allowed me to meet people that I've never expected I would meet. It has also allowed me into the lives of people whom I hardly know on their wedding day and also brought me to places all over the world. I would say it has also taught me to be more patient and allowed me to see beauty in everyday things and occurrences that would usually go unnoticed.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-2.jpg" width="611" height="207" alt="Interview with Aloysius">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Besides the weight issue, which I'm sure many photographers face, one of the greatest challenges for me would be shooting at "unconventional" angles. There have been occasions where I would need to get on the ground and lie low to shoot. However, I can't do that if there is no space. The LCD flip screen is great for such situations. I can quickly compose and adjust my images, get my shot, and move on to the next one. Sometimes, shooting with the flip screen also seems more inconspicuous and people are less aware of your presence.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Which is/are your favourite features found on the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">One of my favourite features would be the Wi-Fi<sup>&reg;</sup> connectivity where I can wirelessly transfer images to my phone or iPad, before uploading the images to social media platforms. I do this quite often whenever I'm shooting concerts and it's a great way to keep fans and even the artistes excited. I also find the LCD flip screen to be really useful as it allows me to shoot in different angles, view the image and make adjustments before taking the shot. The electronic viewfinder is also great as I can preview live with all kinds of options - white balance, colour options, black and white, etc. Another useful feature I enjoy using is the ability to switch to the APS-C crop mode. In situations where I am shooting a concert and am only allowed to shoot from the soundboard, turning on the APS-C crop mode gives me a little more reach without the need for a teleconverter.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite pair of lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My current favourite lens is the 55mm f/1.8. It's small, light and I love its image quality. I also love the 16-35mm f/4 so it's quite difficult to choose one favourite!</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For cameras, the a7R II (with battery grip) and the a7II are the main workhorses. I also have the RX100 IV. Currently I have three lenses, the 16-35mm f/4, 55mm f/1.8 and 70-200mm f/4, with me most of the time. I also have two HVL-F60M flashes, extra batteries for the cameras and flashes, and a powerbank for charging my smartphone or for emergency charging of the battery via the USB port if the need arises. Apart from the camera related equipment, I have a mini led torchlight which is useful when I need to pack up in the dark at concerts or even as an extra light source when shooting portraits, as well as a poncho and rainsleeves for the cameras and lenses during rainy situations. One of the most important items for me would be earplugs. I use them all the time when I'm shooting concerts. Got to protect my ears!</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-3.jpg" width="611" height="207" alt="Interview with Aloysius">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/aloysius/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Aloysius"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">At a wedding, it could be that warm hug between two family members, or the look of a groom when he sees his bride walking down the aisle. It could be a jump shot or the guitarist smashing his guitar on stage during a live show. Being able to tell a story with the images I've made and sharing it with people motivates me.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography has played an important role in my life for the past 15 years. It has allowed me to meet people that I've never expected I would meet. It has also allowed me into the lives of people whom I hardly know on their wedding day and also brought me to places all over the world. I would say it has also taught me to be more patient and allowed me to see beauty in everyday things and occurrences that would usually go unnoticed.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Besides the weight issue, which I'm sure many photographers face, one of the greatest challenges for me would be shooting at "unconventional" angles. There have been occasions where I would need to get on the ground and lie low to shoot. However, I can't do that if there is no space. The LCD flip screen is great for such situations. I can quickly compose and adjust my images, get my shot, and move on to the next one. Sometimes, shooting with the flip screen also seems more inconspicuous and people are less aware of your presence.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Which is/are your favourite features found on the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">One of my favourite features would be the Wi-Fi<sup>&reg;</sup> connectivity where I can wirelessly transfer images to my phone or iPad, before uploading the images to social media platforms. I do this quite often whenever I'm shooting concerts and it's a great way to keep fans and even the artistes excited. I also find the LCD flip screen to be really useful as it allows me to shoot in different angles, view the image and make adjustments before taking the shot. The electronic viewfinder is also great as I can preview live with all kinds of options - white balance, colour options, black and white, etc. Another useful feature I enjoy using is the ability to switch to the APS-C crop mode. In situations where I am shooting a concert and am only allowed to shoot from the soundboard, turning on the APS-C crop mode gives me a little more reach without the need for a teleconverter.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite pair of lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My current favourite lens is the 55mm f/1.8. It's small, light and I love its image quality. I also love the 16-35mm f/4 so it's quite difficult to choose one favourite!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What's in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For cameras, the a7R II (with battery grip) and the a7II are the main workhorses. I also have the RX100 IV. Currently I have three lenses, the 16-35mm f/4, 55mm f/1.8 and 70-200mm f/4, with me most of the time. I also have two HVL-F60M flashes, extra batteries for the cameras and flashes, and a powerbank for charging my smartphone or for emergency charging of the battery via the USB port if the need arises. Apart from the camera related equipment, I have a mini led torchlight which is useful when I need to pack up in the dark at concerts or even as an extra light source when shooting portraits, as well as a poncho and rainsleeves for the cameras and lenses during rainy situations. One of the most important items for me would be earplugs. I use them all the time when I'm shooting concerts. Got to protect my ears!</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
