<div id="profile-chester">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Landscape Photographer</p>
                <p class="name">Chester Chen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Landscape Photographer</p>
                    <p class="name">Chester Chen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Born in Kingston, Jamaica, Chester Chen is 49 years old and has lived and worked in Toronto, San Francisco and London. He now resides in Singapore with his wife and son.</p>

            <p>Chester has more than ten years of experience in writing hardware and software product reviews, having worked for publications and brands like The Straits Times, VR-Zone and Sony.</p>

            <p>Chester kept up with digital imaging technology trends from the late 1990’s through to early 2000 and eventually bought a DSLR in 2006 when his son was born. Since then he has focused on content creation for print and online publications. He shoots professionally at corporate events, is a brand awareness campaigner, and licenses his content globally. He has recently gone back to his photography roots with film cameras including developing black and white negatives in his kitchen.</p>

            <p>Chester Chen is also a founding member of Landscape Hunters Asia, a group of hardcore Landscape/Architecture photographers dedicated to sharing ideas and networking globally.</p>

            <p>You can see his work on Flickr.
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:chester:works:link', 'ilc:@@country', 'ilc:@@country:profile:chester:works:link', 'microsite|ilc:@@country|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Born in Kingston, Jamaica, Chester Chen is 49 years old and has lived and worked in Toronto, San Francisco and London. He now resides in Singapore with his wife and son.</p>

            <p>Chester has more than ten years of experience in writing hardware and software product reviews, having worked for publications and brands like The Straits Times, VR-Zone and Sony Singapore.</p>

            <p>Chester kept up with digital imaging technology trends from the late 1990’s through to early 2000 and eventually bought a DSLR in 2006 when his son was born. Since then he has focused on content creation for print and online publications. He shoots professionally at corporate events, is a brand awareness campaigner, and licenses his content globally. He has recently gone back to his photography roots with film cameras including developing black and white negatives in his kitchen.</p>

            <p>Chester Chen is also a founding member of Landscape Hunters Asia, a group of hardcore Landscape/Architecture photographers dedicated to sharing ideas and networking globally.</p>

            <p>You can see his work on Flickr.
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:chester:works:link', 'ilc:@@country', 'ilc:@@country:profile:chester:works:link', 'microsite|ilc:@@country|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Chester</span>
                </p>
                <img data-original="img/profile/sg/chester/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Chester">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/chester/quote-1.png" width="340" height="226" alt="Chester's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/chester/quote-2.png" width="340" height="193" alt="Chester's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I take pleasure in sharing a slice of time I have witnessed either as a single photograph in a split second, time compressed from hours to seconds in a time-lapse video or a long exposure amounting to minutes.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Photography has made an impact at three stages of my life thus far. The first was when I started learning about photography in Secondary School as part of my curriculum. That took root as a hobby and expanded when I worked part-time at a camera store. During my teens while I just about forgot about photography and focused on Information Technology, I believed that love for photography was always lingering in me. True enough in 2006 when my son was born I got back into photography. The third influence wasn’t until 2009-2010 when I was placed in the Top 3 of a photography contest that photography became more work than personal.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-2.jpg" width="611" height="207" alt="Interview with Chester">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My greatest challenge faced in photography is gear weight and bulk. I’m no longer a “spring chicken” (although I’m still fit enough to lug my gear), thus the reduced bulk and weight of a mirrorless system like the a7 series allows for a smaller equipment bag or if you like you can convert that to packing an additional lens or accessory that you may otherwise leave behind.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As mentioned earlier, the greatest challenge I face in photography is gear weight. The a7’s compactness and reduced bulk of a mirrorless system allows me to not be burdened with the extra weight. The weight savings can be realised right away or sacrificed by carrying an additional lens or accessory.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For me, I immediately latched on to the electronic viewfinder and the ability to perform manual focusing with the Focus Peaking feature. I really like the Wi-Fi<sup>&reg;</sup> connectivity where I can tether wirelessly with the a7 and shoot using my smartphone. Captured images are immediately downloaded to the remote device and there is so much you can do with this kind of real-time shoot and share capability.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I would rate Sony’s digital imaging as the current leader pushing the envelope of innovation and features. I’d rate it second or tied for first with another brand for Image Quality.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-3.jpg" width="611" height="207" alt="Interview with Chester">

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love the 55mm f1.8 and still do, but the 16-35 f/4 best fits my genre of landscape photography.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have a set of filters and I also carry two intervalometers. I usually have an old school film camera with me so I also pack a handheld light meter. I carry a Nodal rail for shooting single row panoramas, extra batteries and a mobile battery pack. The latter is usually for charging my smartphone but it can be used for emergency top-up of the battery in camera via the USB port.
                        <br/>
                        <br/> The a7R or a7S is also in the bag- it just depends on what I am shooting. The 16-35 f/4 and because the 35mm f/2.8 lenses are so small it is usually in my bag. I will pack an additional bag if I am shooting serious time-lapse footage. That additional bag will carry the time-lapse slider, rails and cart. The rails allow me to shoot time-lapses with a linear up, down, left or right motion.
                    </div>
                </div>
                <!-- Q&A 8 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>


    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Chester</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/chester/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Chester"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I take pleasure in sharing a slice of time I have witnessed either as a single photograph in a split second, time compressed from hours to seconds in a time-lapse video or a long exposure amounting to minutes.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Photography has made an impact at three stages of my life thus far. The first was when I started learning about photography in Secondary School as part of my curriculum. That took root as a hobby and expanded when I worked part-time at a camera store. During my teens while I just about forgot about photography and focused on Information Technology, I believed that love for photography was always lingering in me. True enough in 2006 when my son was born I got back into photography. The third influence wasn’t until 2009-2010 when I was placed in the Top 3 of a photography contest that photography became more work than personal.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My greatest challenge faced in photography is gear weight and bulk. I’m no longer a “spring chicken” (although I’m still fit enough to lug my gear), thus the reduced bulk and weight of a mirrorless system like the a7 series allows for a smaller equipment bag or if you like you can convert that to packing an additional lens or accessory that you may otherwise leave behind.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As mentioned earlier, the greatest challenge I face in photography is gear weight. The a7’s compactness and reduced bulk of a mirrorless system allows me to not be burdened with the extra weight. The weight savings can be realised right away or sacrificed by carrying an additional lens or accessory.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For me, I immediately latched on to the electronic viewfinder and the ability to perform manual focusing with the Focus Peaking feature. I really like the Wi-Fi<sup>&reg;</sup> connectivity where I can tether wirelessly with the a7 and shoot using my smartphone. Captured images are immediately downloaded to the remote device and there is so much you can do with this kind of real-time shoot and share capability.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I would rate Sony’s digital imaging as the current leader pushing the envelope of innovation and features. I’d rate it second or tied for first with another brand for Image Quality.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love the 55mm f1.8 and still do, but the 16-35 f/4 best fits my genre of landscape photography.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have a set of filters and I also carry two intervalometers. I usually have an old school film camera with me so I also pack a handheld light meter. I carry a Nodal rail for shooting single row panoramas, extra batteries and a mobile battery pack. The latter is usually for charging my smartphone but it can be used for emergency top-up of the battery in camera via the USB port.
                                <br/>
                                <br/> The a7R or a7S is also in the bag- it just depends on what I am shooting. The 16-35 f/4 and because the 35mm f/2.8 lenses are so small it is usually in my bag. I will pack an additional bag if I am shooting serious time-lapse footage. That additional bag will carry the time-lapse slider, rails and cart. The rails allow me to shoot time-lapses with a linear up, down, left or right motion.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
