<div id="profile-kriengkrai">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Street + Travel + Documentary Photographer</p>
                <p class="name">Kriengkrai Waiyakij</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">Street + Travel + Documentary Photographer</p>
                    <p class="name">Kriengkrai Waiyakij</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Growing up in Ratchaburi Province, Kriengkrai loved drawing wholeheartedly. After graduating from high school, he went on to study art in Bangkok. During his second year of university, he compiled all the works that he had created from when he was 12 – 20 years old, and displayed them at a solo exhibition under the name “12 Arts 20”. At the opening ceremony, Kukrit Pramoj, then-Prime Minister of Thailand, honoured him. While studying fine arts, he also received the HRH Prince Narisara Nuvadtivongs Foundation Scholarship, a prize awarded to those who have particularly demonstrated artistic skill, creativity and academic achievement.</p>

            <p>Kriengkrai spent over 30 years as a freelance photographer, during which, his photographs were exhibited both locally and overseas. These included the exhibitions “Under the Moon Light” at Rare Art Gallery in Bangkok, “China 6<sup>th</sup> Photographic Art Festival” and “2<sup>nd</sup> Duyun International Photographic Expo” in China and “SEE SEA: Southeast Asian Spirit” at Thammasat University in Bangkok. His photographs were also shown at the 65<sup>th</sup> Anniversary of Thailand-Myanmar Diplomatic Relations, as well as at “Ton Tharn Siam – Lankawongs 260 years”, a celebratory event for the historical relations between Thailand and Sri Lanka.</p>

            <p>A successful photographer and curator, his works have been published in various significant national books such as “The Golden Jubilee – The 50th Anniversary Celebrations of His Majesty’s Accession to the Throne”, “The Memoir of Her Royal Highness Princess Srinagarindra: The Royal Cremation Ceremony” and “Self Sufficient Economy”.</p>

            <p>According to Kriengkrai, his photographs reflect his faith and the beauty of human life. He has also been an educator and photography judge at numerous colleges, universities, governmental institutions and non-profit organisations.</p>

            <p>In 2010, he received the honourable “Person of the Year” award in the area of creative photography for the life and community, presented by Rajabhat Chandrakasem University. In the same year, he also received the “Artist Photographers of Thailand” award from The Royal Photographic Society of Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Growing up in Ratchaburi Province, Kriengkrai loved drawing wholeheartedly. After graduating from high school, he went on to study art in Bangkok. During his second year of university, he compiled all the works that he had created from when he was 12 – 20 years old, and displayed them at a solo exhibition under the name “12 Arts 20”. At the opening ceremony, Kukrit Pramoj, then-Prime Minister of Thailand, honoured him. While studying fine arts, he also received the HRH Prince Narisara Nuvadtivongs Foundation Scholarship, a prize awarded to those who have particularly demonstrated artistic skill, creativity and academic achievement.</p>

            <p>Kriengkrai spent over 30 years as a freelance photographer, during which, his photographs were exhibited both locally and overseas. These included the exhibitions “Under the Moon Light” at Rare Art Gallery in Bangkok, “China 6<sup>th</sup> Photographic Art Festival” and “2<sup>nd</sup> Duyun International Photographic Expo” in China and “SEE SEA: Southeast Asian Spirit” at Thammasat University in Bangkok. His photographs were also shown at the 65<sup>th</sup> Anniversary of Thailand-Myanmar Diplomatic Relations, as well as at “Ton Tharn Siam – Lankawongs 260 years”, a celebratory event for the historical relations between Thailand and Sri Lanka.</p>

            <p>A successful photographer and curator, his works have been published in various significant national books such as “The Golden Jubilee – The 50th Anniversary Celebrations of His Majesty’s Accession to the Throne”, “The Memoir of Her Royal Highness Princess Srinagarindra: The Royal Cremation Ceremony” and “Self Sufficient Economy”.</p>

            <p>According to Kriengkrai, his photographs reflect his faith and the beauty of human life. He has also been an educator and photography judge at numerous colleges, universities, governmental institutions and non-profit organisations.</p>

            <p>In 2010, he received the honourable “Person of the Year” award in the area of creative photography for the life and community, presented by Rajabhat Chandrakasem University. In the same year, he also received the “Artist Photographers of Thailand” award from The Royal Photographic Society of Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>


            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
                <img data-original="img/profile/th/kriengkrai/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Kriengkrai">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/kriengkrai/quote-1.png" width="296" height="211" alt="Kriengkrai's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/kriengkrai/quote-2.png" width="292" height="243" alt="Kriengkrai's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love drawing and learnt through this. But when I experience and learn through the world of cameras, pleasure fills my mind. That's fulfilling.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I started shooting with love essentially, then a career followed from doing what I love. The camera has become a part of life and is equally important with many things in my life.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-2.jpg" width="611" height="207" alt="Interview with Kriengkrai">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As a photographer, I have encountered various camera advancements and am satisfied with every new technology that has been introduced together with it. I continue to look forward to improvements in the next generation of equipment but I am not expecting much as I’m currently mostly satisfied with what I have.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My father, he let me use a camera when I was a child. It’s a tiny camera and it’s cheap, but valuable to me. The charm of the pictures from the camera and perspectives automatically gets associated with the drawings that I love. No one else is more of an inspiration.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Luckily there have not been many obstacles in my shooting. However, a7 enables lightness, mobility, and doesn’t show off as the professional photographer ostensibly. The compact size allows me to shoot easily in public in an unobtrusive way.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As mentioned above in many aspects. My photography work and living are combined. When I get a job, I will specify requirements for the freedom in creativity. If the employer agrees to this condition, we’ll do it together and the work will be completed in satisfactory manner.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Full-frame sensor in compact camera, pratical design, and most importantly, superb quality output files for post-production.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I am satisfied with many Sony products that I personally use or own. This isn’t flattery, Sony digital camera was the first imaging device of my choice after the film camera's era. My satisfaction towards Sony products are beyond words and numbers.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-3.jpg" width="611" height="207" alt="Interview with Kriengkrai">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">One of my favourite lens is the 70-400 mm G lens. It’s very good quality zoom lens. I’m constantly amazed with performance of this lens and so far I have never been disappointed.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">Happiness! I carry a camera everywhere. a7, 24-70 mm and 70-200 mm lenses are in my bag. They are often together with me as well as RX1R.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/kriengkrai/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Kriengkrai"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love drawing and learnt through this. But when I experience and learn through the world of cameras, pleasure fills my mind. That's fulfilling.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I started shooting with love essentially, then a career followed from doing what I love. The camera has become a part of life and is equally important with many things in my life.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As a photographer, I have encountered various camera advancements and am satisfied with every new technology that has been introduced together with it. I continue to look forward to improvements in the next generation of equipment but I am not expecting much as I’m currently mostly satisfied with what I have.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My father, he let me use a camera when I was a child. It’s a tiny camera and it’s cheap, but valuable to me. The charm of the pictures from the camera and perspectives automatically gets associated with the drawings that I love. No one else is more of an inspiration.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Luckily there have not been many obstacles in my shooting. However, a7 enables lightness, mobility, and doesn’t show off as the professional photographer ostensibly. The compact size allows me to shoot easily in public in an unobtrusive way.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As mentioned above in many aspects. My photography work and living are combined. When I get a job, I will specify requirements for the freedom in creativity. If the employer agrees to this condition, we’ll do it together and the work will be completed in satisfactory manner.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Full-frame sensor in compact camera, pratical design, and most importantly, superb quality output files for post-production.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I am satisfied with many Sony products that I personally use or own. This isn’t flattery, Sony digital camera is the first imaging device of my choices after film camera’s era. My satisfaction towards Sony products are beyond words and numbers.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">One of my favourite lens is the 70-400 mm G lens. It’s very good quality zoom lens. I’m constantly amazed with performance of this lens and so far I have never been disappointed.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Happiness! I carry a camera everywhere. a7, 24-70 mm and 70-200 mm lenses are in my bag. They are often together with me as well as RX1R.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
