<div id="profile-tavepong">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Street Photographer</p>
                <p class="name">Tavepong Pratoomwong</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-7">

                <div>
                    <p class="type">Street Photographer</p>
                    <p class="name">Tavepong Pratoomwong</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Tavepong Pratoomwong is an award-winning Street photography based in Bangkok, Thailand. He exhibits his works in Asia, North America and Europe.</p>

            <p>Tavepong Pratoomwong began his photography in University. After graduation, he and his friend followed the dream they had when they were in high school. That dream was to do a photo documentary and publish it in Thailand’s National Geographic magazine.</p>

            <p>After he established his own company, he had to spend most of his time on the new born business. He took photos less and less as time went by but was still interested in camera equipment. He almost stopped and never thought to return to take photos anymore. That was until the end of 2013 when his wife surprised him with a wedding anniversary gift. It was a ticket to Varanasi, India. That ticket, that trip was the turning point for him to take pictures again.</p>

            <p>After he went back to Thailand, he joined the Street Photo Thailand’s activities “365 days in 2014”. It let him go out and take photos every day since then.</p>

            <p>The result from the hard work won him many international street photography awards such as:
                <br/> 2014 : 1st Place Winner Miami Street Photography Festival
                <br/> 2014 : The winners EyeEm Awards (Street Photographer)
                <br/> 2015 : 1st prize Winner Street Shooting Around the World 2015 : The Los Angeles Center of Photography (LACP)</p>

            <p>He was also selected to be The 20 most Influential Street Photographers of 2015 from Streethunters.net.</p>

            <p>Now, he is part of 3 photographic collectives: StreetPhotoThailand , FullFrontalFlash and OBSERVE Collective.</p>

            <p>His work can be seen at <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a>, <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Tavepong Pratoomwong is an award-winning Street photography based in Bangkok, Thailand. He exhibits his works in Asia, North America and Europe.</p>

            <p>Tavepong Pratoomwong began his photography in University. After graduation, he and his friend followed the dream they had when they were in high school. That dream was to do a photo documentary and publish it in Thailand’s National Geographic magazine.</p>

            <p>After he established his own company, he had to spend most of his time on the new born business. He took photos less and less as time went by but was still interested in camera equipment. He almost stopped and never thought to return to take photos anymore. That was until the end of 2013 when his wife surprised him with a wedding anniversary gift. It was a ticket to Varanasi, India. That ticket, that trip was the turning point for him to take pictures again.</p>

            <p>After he went back to Thailand, he joined the Street Photo Thailand’s activities “365 days in 2014” . It let him go out and take photos every day since then.</p>

            <p>The result from the hard work won him many international street photography awards such as:
                <br/> 2014 : 1st Place Winner Miami Street Photography Festival
                <br/> 2014 : The winners EyeEm Awards (Street Photographer)
                <br/> 2015 : 1st prize Winner Street Shooting Around the World 2015 : The Los Angeles Center of Photography (LACP)</p>

            <p>He was also selected to be The 20 most Influential Street Photographers of 2015 from Streethunters.net.</p>

            <p>Now, he is part of 3 photographic collectives: StreetPhotoThailand , FullFrontalFlash and OBSERVE Collective.</p>

            <p>His work can be seen at <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a>, <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Tavepong</span>
                </p>
                <img data-original="img/profile/th/tavepong/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Tavepong">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/tavepong/quote-1.png" width="317" height="237" alt="Tavepong's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/tavepong/quote-2.png" width="289" height="304" alt="Tavepong's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Several years ago, the motivation towards photography was lost from my life. I almost stopped shooting until the end of 2013 when my wife surprised me with a wedding anniversary gift. It was a ticket to Varanasi, India. That ticket, that trip was the turning point for me to take pictures again. After I went back to Thailand, I was so lucky to join the Street Photo Thailand’s activities ”365 days in 2014”. That activity was go out to take a picture every day and choose one of your favourites to post on Facebook. At that time, my motivation of being a photographer returned. I found happiness when I took a picture, after I found the purpose of photography and I think that is really important.
                        <br/>
                        <br/> That motivate me to continue my passion in photography.
                    </div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I love to shoot in public. It’s the my way of meditation, and how I constantly challenge my comfort zone. I enjoy telling stories with photographs. Due to my job, I can’t have long trips frequently. So street photography is my answer. I can shoot anything around me anytime from my viewpoint. For my personal life, I am really lucky that my wife and my best friend are understanding and support me, including giving me their advice from their viewpoint. I think it's really important that photographers get feedback from others. My street photography will not be complete without the support of my wife and friends.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-2.jpg" width="611" height="207" alt="Interview with Tavepong">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For me, with great camera comes great creativity. I think a7 series has lots of functions that support my creativity. For my future expectations, if it's possible, I would like a flip LCD screen with 160° viewing angle, more continuous drive fps and a smaller zoom lens such as the 24-50 F4.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I respect Henri Cartier-Bresson for his sense of composition, Elliott Erwitt for his sense of humour, Alex Webb and David Alan Harvey for their sense of layer and colour and Richard Kalvar for his sense of mystery.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I think in street photography, small cameras make everything easiler. People in the street always panic with big lens and cameras. The small size of the a7 really helps me in this point and the quality of file is so perfect.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It started with the Varanasi trip that I told you. On that trip I had an a7R as my back-up camera. But after I used it for half a day, it's become my main camera since then. The most lasting impression on that trip is that the EVF of the a7R showed me everything even before I pressed the shutter. Be it depth of field, exposure, exactly framing – those were not seen in my previous camera.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> - Silent shutter in a7S and a7RII is the best feature for me. More than 70% of the people I’ve photographed don't know that I’d taken their picture with this mode. And when you are in Silent shutter mode and turn off the auto review, you still barely get any shutter lag.
                        <br/>
                        <br/> - Flip LCD screen on the street especially while photographing in Bangkok, where its background is often messy. I just need to aim higher or lower to have more a clearer background. Sometimes it’s easier to get candid shots of people with the flip LCD screen instead of using the viewfinder.
                        <br/>
                        <br/> - ISO especially in a7S, as I can shoot in every light condition. And the important thing is its effect to control the depth of field. I can get very deep depth and high enough shutter speed to freeze the moment.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony is now no 1 in digital imaging. It’s not only my opinion, you can google search for the lab tests, especially the a7RII.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-3.jpg" width="611" height="207" alt="Interview with Tavepong">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I prefer manual lens 28,35 or 50 mm for street photography. For autofocus lens I like Sony FE 24-70 F4 OSS because it covers all my familiar views and its anti-shake function works very well. My favourite photo from this lens is "Freedom", of flocks of birds flying over the Sanamluang field at sunset.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My bag contains the a7RII, a7S or RX100IV, external Flash Sony HVL-F20M, 2 spare batteries and SD-Card, and Thai Herbal Takabb Anti-cough.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Tavepong</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/tavepong/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Tavepong"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Several years ago, the motivation towards photography was lost from my life. I almost stopped shooting until the end of 2013 when my wife surprised me with a wedding anniversary gift. It was a ticket to Varanasi, India. That ticket, that trip was the turning point for me to take pictures again. After I went back to Thailand, I was so lucky to join the Street Photo Thailand’s activities ”365 days in 2014”. That activity was go out to take a picture every day and choose one of your favourites to post on Facebook. At that time, my motivation of being a photographer returned. I found happiness when I took a picture, after I found the purpose of photography and I think that is really important.
                                <br/>
                                <br/> That motivate me to continue my passion in photography.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I love to shoot in public. It’s the my way of meditation, and how I constantly challenge my comfort zone. I enjoy telling stories with photographs. Due to my job, I can’t have long trips frequently. So street photography is my answer. I can shoot anything around me anytime from my viewpoint. For my personal life, I am really lucky that my wife and my best friend are understanding and support me, including giving me their advice from their viewpoint. I think it's really important that photographers get feedback from others. My street photography will not be complete without the support of my wife and friends.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For me, with great camera comes great creativity. I think a7 series has lots of functions that support my creativity. For my future expectations, if it's possible, I would like a flip LCD screen with 160° viewing angle, more continuous drive fps and a smaller zoom lens such as the 24-50 F4.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I respect Henri Cartier-Bresson for his sense of composition, Elliott Erwitt for his sense of humour, Alex Webb and David Alan Harvey for their sense of layer and colour and Richard Kalvar for his sense of mystery.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I think in street photography, small cameras make everything easiler. People in the street always panic with big lens and cameras. The small size of the a7 really helps me in this point and the quality of file is so perfect.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It started with the Varanasi trip that I told you. On that trip I had an a7R as my back-up camera. But after I used it for half a day, it's become my main camera since then. The most lasting impression on that trip is that the EVF of the a7R showed me everything even before I pressed the shutter. Be it depth of field, exposure, exactly framing – those were not seen in my previous camera.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"> - Silent shutter in a7S and a7RII is the best feature for me. More than 70% of the people I’ve photographed don't know that I’d taken their picture with this mode. And when you are in Silent shutter mode and turn off the auto review, you still barely get any shutter lag.
                                <br/>
                                <br/> - Flip LCD screen on the street especially while photographing in Bangkok, where its background is often messy. I just need to aim higher or lower to have more a clearer background. Sometimes it’s easier to get candid shots of people with the flip LCD screen instead of using the viewfinder.
                                <br/>
                                <br/> - ISO especially in a7S, as I can shoot in every light condition. And the important thing is its effect to control the depth of field. I can get very deep depth and high enough shutter speed to freeze the moment.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony is now no 1 in digital imaging. It’s not only my opinion, you can google search for the lab tests, especially the a7RII.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I prefer manual lens 28,35 or 50 mm for street photography. For autofocus lens I like Sony FE 24-70 F4 OSS because it covers all my familiar views and its anti-shake function works very well. My favourite photo from this lens is "Freedom", of flocks of birds flying over the Sanamluang field at sunset.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My bag contains the a7RII, a7S or RX100IV, external Flash Sony HVL-F20M, 2 spare batteries and SD-Card, and Thai Herbal Takabb Anti-cough.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
