<div id="profile-dow">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">Art &amp; Street photography</p>
                <p class="name">Dow - Wasiksiri</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">Art &amp; Street photography</p>
                    <p class="name">Dow - Wasiksiri</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Dow Wasiksiri is one of thailand's most successful and celebrated photographer. His phootgraphs have exhibited in many leading international museums and galleries, such as the Saatchi Gallery in London. Royal Ontario Museum of Toronto, The Field Museum in Chicago, the Musée du quai Branly in Paris, Singapore Art Museum, Hangaram Art Museum in Seoul, GoEun Museum of Photography in Busan, The National Gallery in Bangkok, Museum of Imaging Technology in Bangkok and the Bangkok Art and Culture Center.</p>
            <p>As the son of a Thai diplomat, Wasiksiri spent his childhood in Western countries such as Australia, New Zealand and the United States. This multi-cultural experience has enabled Wasiksiri to view Thailand and its people with a dual insider-outsider perspective. Based in Thailand since 1983, Wasiksiri began his successful career as a professional photographer by shooting for well-known fashion magazines. He founded his own studio called Persona that year and has been doing commercial and art photography ever since. Wasiksiri was one of the first Thai photographers to seriously explore his inner psyche and transfer those ideas into photographs. He has also dedicated himself to documenting Thai society. His distinctive style has garnered him several awards</p>
            <!-- <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div> -->
            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Dow Wasiksiri is one of thailand's most successful and celebrated photographer. His phootgraphs have exhibited in many leading international museums and galleries, such as the Saatchi Gallery in London. Royal Ontario Museum of Toronto, The Field Museum in Chicago, the Musée du quai Branly in Paris, Singapore Art Museum, Hangaram Art Museum in Seoul, GoEun Museum of Photography in Busan, The National Gallery in Bangkok, Museum of Imaging Technology in Bangkok and the Bangkok Art and Culture Center.</p>
            <p>As the son of a Thai diplomat, Wasiksiri spent his childhood in Western countries such as Australia, New Zealand and the United States. This multi-cultural experience has enabled Wasiksiri to view Thailand and its people with a dual insider-outsider perspective. Based in Thailand since 1983, Wasiksiri began his successful career as a professional photographer by shooting for well-known fashion magazines. He founded his own studio called Persona that year and has been doing commercial and art photography ever since. Wasiksiri was one of the first Thai photographers to seriously explore his inner psyche and transfer those ideas into photographs. He has also dedicated himself to documenting Thai society. His distinctive style has garnered him several awards</p>

            <!-- <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div> -->

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Dow - Wasiksiri</span>
                </p>
                <img data-original="img/profile/th/dow/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with dow">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/dow/quote-1.png" width="277" height="363" alt="dow's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/dow/quote-2.png" width="257" height="158" alt="dow's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I want to create art and show my true identity with my camera.Photographs are historical records for younger ones to expereince the events happening today in the future.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">As a professional commercial Photographer, Photography is certainly very important to me.<br/>In my free time, I continue to take pictures for  private projects, such as going out to take a street portraits or create a set of art.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/dow/profile_pic-2.jpg" width="611" height="207" alt="Interview with dow">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your photography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Image quality and  high quality lens.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My biggest influences to be a phofessional photogrpaher began 30 years ago. When I was inspired by New Wave Fashion Photographer, Moshe Brakha.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The biggest challenge for me will be doing photoshoot with unfavourable natural light, such as lighting with high contrast, no contrast or in low light. In such conditions I need a camera with good sensors and Image quality, it helps a lot when I can adjust the image in post-production and it still looks great.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Apart from high quality image, the camera is also small, light-weighted, beautifully designed and supports the ultimate lens series like G Master Lens</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What, to you, are two or three key features / advantages of the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I always trusted on high quality Images from Sony a7 series.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you rate Sony in the field of digital imaging?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I rate Sony digital camera with high scores, because of the full frame format with high quality photos in compact package</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/dow/profile_pic-3.jpg" width="611" height="207" alt="Interview with dow">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">24-70 G Master</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What’s in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I always have the  A7r II with 24-70 G Master  on me but not on my bag, instead I have a 16-35 F4 Zeiss lens and two batteries inside. I always put my camera and Lens on my passender seat when dridowg so that i'm always ready to snap photos. When i'm home, i keep them on the table. </div>
                </div>
                <!-- Q&A 10 -->

            </div>

            <!-- <p>While Travling around Thailand, i took the opportunity to photograph the peri-urban landscapes. It's a raw mixture of development that blurs the differences between rural and urban city. I don't make judegements about what it looks like. Instead, i linger quizzically at scenes we tend to glance by without noticing. Through these photographs I want to ponder the tastes and lifestyles that have led Thai society to change our landscape in this way.</p> -->

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Dow - Wasiksiri</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/dow/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with dow"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->
            
            <!-- Q&A 1 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I want to create art and show my true identity with my camera.Photographs are historical records for younger ones to expereince the events happening today in the future.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 1 -->
            
            <!-- Q&A 2 -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">As a professional commercial Photographer, Photography is certainly very important to me.<br/>In my free time, I continue to take pictures for  private projects, such as going out to take a street portraits or create a set of art.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your photography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Image quality and  high quality lens.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My biggest influences to be a phofessional photogrpaher began 30 years ago. When I was inspired by New Wave Fashion Photographer, Moshe Brakha.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The biggest challenge for me will be doing photoshoot with unfavourable natural light, such as lighting with high contrast, no contrast or in low light. In such conditions I need a camera with good sensors and Image quality, it helps a lot when I can adjust the image in post-production and it still looks great.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal photography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Apart from high quality image, the camera is also small, light-weighted, beautifully designed and supports the ultimate lens series like G Master Lens</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What, to you, are two or three key features / advantages of the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I always trusted on high quality Images from Sony a7 series.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you rate Sony in the field of digital imaging?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I rate Sony digital camera with high scores, because of the full frame format with high quality photos in compact package</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">24-70 G Master</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What’s in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I always have the  A7r II with 24-70 G Master  on me but not on my bag, instead I have a 16-35 F4 Zeiss lens and two batteries inside. I always put my camera and Lens on my passender seat when dridowg so that i'm always ready to snap photos. When i'm home, i keep them on the table.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

            <!-- <p>While Travling around Thailand, i took the opportunity to photograph the peri-urban landscapes. It's a raw mixture of development that blurs the differences between rural and urban city. I don't make judegements about what it looks like. Instead, i linger quizzically at scenes we tend to glance by without noticing. Through these photographs I want to ponder the tastes and lifestyles that have led Thai society to change our landscape in this way.</p> -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
