<section id="content" class="container-fluid">

    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            {% if lens %}
            <h1 class="text-left center-block">{{title}}</h1> {% else %} {% endif %}

        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="photo center-block">

                <div>
                    <img src="img/profile/{{country}}/{{photographer.nick}}/photo-{{id}}.jpg" class="img-responsive center-block" alt="{{title}}" height="676" width="1024">
                </div>


                <div class="clearfix sg-kol {% if lens %}hidden{% else %}show{% endif %}">
                    <div class="pull-right">
                        <p class="text-right">{{specs}}</p>
                    </div>
                    <div class="pull-left">
                        <div class="logo">
                            <a href="{{camera.link}}?cid={{camera.name}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <img src="img/separator-left.png" height="1" width="297" alt="divider">
                    </div>
                    <p class="title nobottomspacing">{{title}}</p>
                    <p class="photographer-name">{{photographer.name}}</p>
                    <p class="description">{% autoescape false %}{{description}}{% endautoescape %}</p>
                    
                    <div class="fb-like text-left" data-href="@@country/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                </div>

                <div class="clearfix sg-kol {% if lens %}show{% else %}hidden{% endif %}">
                    <div class="pull-right">
                        <p class="text-right">{{specs}}</p>
                    </div>
                    <div class="pull-left">
                        <div class="logo">
                            <a href="{{camera.link}}?cid={{camera.name}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{camera.name}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                        </div>

                        <p>+</p>

                        <!-- <p>{{lens.specs1}}</p> -->

                        <div class="lens">
                            {% if lens.img %}
                            <a href="{{lens.link}}?cid={{lens.model}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens.model}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{% autoescape false %}{{lens.specs}}{% endautoescape %}"></a>
                            {% else %}
                            <div class="placeholder hidden-xs hidden-sm"></div>
                            {% endif %}
                        </div>
                        <p>{% autoescape false %}{{lens.specs}}{% endautoescape %}</p>

                        {% if lens2 %}
                             <div class="lens2-container">
                                <p>+</p>
                                <div class="lens">
                                    {% if lens2.img %}
                                    <a href="{{lens2.link}}?cid={{lens2.model}}:pdp:ilc:ms:photographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'ilc:@@country', 'ilc:@@country:gallery:{{photographer.nick}}:photo:{{lens2.model}}:discover', 'microsite|ilc:@@country|gallery|{{photographer.nick}}|photo|{{lens2.model}}|discover','event50');" target="_blank"><img src="{{lens2.img}}" alt="{% autoescape false %}{{lens2.specs}}{% endautoescape %}"></a>
                                    {% else %}
                                    <div class="placeholder hidden-xs hidden-sm"></div>
                                    {% endif %}
                                </div>
                                <p>{% autoescape false %}{{lens2.specs}}{% endautoescape %}</p>
                            </div>
                        {% else %}
                            <div class="placeholder hidden-xs hidden-sm"></div>
                        {% endif %}

                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <img src="img/separator-left.png" height="1" width="297" alt="divider">
                    </div>
                    <p class="title nobottomspacing">{{title}}</p>
                    <p class="photographer-name">{{photographer.name}}</p>
                    <p class="description">{% autoescape false %}{{description}}{% endautoescape %}</p>

                    <div class="fb-like text-left" data-href="@@country/photos/photo-{{photographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                </div>

            </div>

        </div>

    </div>

</section>
