<!-- build:js js/accessories-vendor.js -->
<script src="../bower_components/handlebars/handlebars.min.js"></script>
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="../bower_components/freewall/freewall.js"></script>
<!-- endbuild -->
