<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if yo u view the page via file:// -->
<!-- build:js js/ie8.js -->
<!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!-- endbuild -->
