<!-- build:js js/lenses-vendor.js -->
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/slick-carousel/slick/slick.js"></script>
<script src="../bower_components/freewall/freewall.js"></script>
<script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<!-- endbuild -->
