<!-- build:js js/other-a7users-vendor.js -->
<script src="../bower_components/handlebars/handlebars.min.js"></script>
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="../bower_components/freewall/freewall.js"></script>
<script src="../bower_components/jquery.lazyload/jquery.lazyload.js"></script>
<!-- endbuild -->
