<meta property="fb:app_id" content="##### fbId #####" />

<meta property="og:type" content="article" />
<!-- <meta property="og:url" content="http://newsblog.org/news/136756249803614" />  -->
<meta property="og:title" content="@@fbTitle" />
<meta property="og:image" content="@@fbImage" />
<meta property="og:description" content="@@fbDescription" />
