<base href="##### domain #####">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- <meta name="viewport" content="width=992"> -->
<title>@@title</title>

<!-- SSS Google Tags -->
<meta name="brand" content="sony" />
<meta name="locale" content="en_@@country" />
<meta name="audience" content="i" />
<meta name="section" content="Microsite" />
<meta name="logicalPage" content="Microsite" />
<meta name="icon" content="http://www.sony.com.sg/HP/images/layout/content/microsite.gif" />
<meta name="title" content="@@metaTitle" />
<meta name="segmentation" content="000000000000000" />
<meta name="description" content="@@metaDescription" />
<!-- EEE Google Tags -->

<link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />