// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



#accessories {
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: STARTS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
    #content {
        height: auto;
        background-position: top center;

        .paddingFooter ();
        .secondaryNavAndBg ();
        @media (max-width: @screen-sm-max) {
            background-position: top center;
            background-size: 150%;
        }
        .header {
            // font-size: 45px;
            // line-height: 0;
            margin-top: 20px;
            margin-bottom: 20px;

            .maxWidth ();
            span {
                font-size: 0;
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: @screen-sm-max) {
                    font-size: 26px;
                    line-height: 0;
                    margin-right: 5px;
                    margin-left: 5px;
                }
                img {
                    @media (max-width: @screen-sm-max) {
                        width: auto;
                        height: .85em;
                    }
                }
            }
            h1 {
                font-size: 45px;
                line-height: 1;
                display: inline-block;
                margin: 0;
                margin-left: 10px;
                vertical-align: middle;
                /* for all versions of Firefox */
                @-moz-document url-prefix() {
                    position: relative;
                    top: 5px;
                }
                @media (max-width: @screen-sm-max) {
                    font-size: 26px;
                    margin: 0;
                }
            }
        }
        .mobile {
            @media (max-width: @screen-sm-max) {
                padding: 0;
            }
        }
        .accessories-content {
            .maxWidth ();
            .acces-content {
                margin-bottom: 35px;
                @media (max-width: @screen-sm-max) {
                    padding: 0 15px;
                }
                @media (max-width: @screen-xs-max) {
                    margin-top: -10px;
                    margin-bottom: 0;
                }
                img.mobile {
                    width: auto;
                    max-height: 300px;
                    @media (max-width: @screen-xs-max) {
                        transform: scale(.75);
                    }
                }
                .content {
                    margin-top: 40px;
                    @media (max-width: @screen-xs-max) {
                        margin-top: 0;
                    }
                }
                .left {
                    .name {
                        font-size: 21px;
                        margin-bottom: 0;
                        color: @sony-orange;
                    }
                    .divider {
                        margin-bottom: 10px;
                    }
                }
                .right {
                    .functions {
                        text-align: left;
                        @media (max-width: @screen-xs-max) {
                            margin-bottom: 10px;
                            padding-left: 0;
                            text-align: center;
                        }
                        .function {
                            display: inline-block;
                            width: 70px;
                            text-align: center;
                            vertical-align: top;
                            p {
                                font-size: 11px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .features {
                    margin-bottom: 15px;
                    @media (max-width: @screen-xs-max) {
                        margin-top: 15px;
                        padding-left: 15px;
                    }
                }
            }
            .slick-next,
            .slick-prev {
                top: 20%;
                width: 30px;
                height: 120px;
                margin: 0;
                margin-top: -26px;
                transition: opacity .35s ease;
                opacity: .5;

                filter: alpha(opacity=50); /* IE8 and lower */
                @media (max-width:@screen-xs-max) {
                    top: 10%;
                }
                &:hover {
                    opacity: 1;

                    filter: alpha(opacity=100); /* IE8 and lower */
                }
            }
            .slick-next {
                right: -50px;
                @media (max-width: @screen-sm-max) {
                    right: 10px;
                }
                @media (max-width: @screen-xs-max) {
                    right: 0;
                }
                &:before {
                    content: '';
                }
            }
            .slick-prev {
                left: -50px;
                @media (max-width: @screen-sm-max) {
                    left: 10px;
                }
                @media (max-width: @screen-xs-max) {
                    left: 0;
                }
                &:before {
                    content: '';
                }
            }
        }
        .sony-btn {
            @media (max-width: @screen-xs-max) {
                position: relative;
                z-index: 3;
            }
        }
        .accessories-carousel {
            .maxWidth () ;
            @media (max-width: @screen-sm-max) {
                margin-bottom: 40px;
            }
            @media (max-width: @screen-xs-max) {
                margin-right: -15px;
                margin-left: -15px;
            }
            .acces-carousel {
                display: block;
                width: 225px;
                height: 329px;
                // cursor: pointer;
                transition: opacity .5s ease;
                opacity: .35 !important;

                filter: alpha(opacity=35) !important; /* IE8 and lower */
                @media (max-width: @screen-sm-max) {
                    opacity: 1 !important;
                }
                @media (max-width: @screen-xs-max) {
                    width: 33.33333333%;
                    height: auto;
                    min-height: 230px;
                    padding: 0 5px;
                }
                .wrapper {
                    position: relative;
                    display: inline-block;
                    img {
                        @media (max-width: @screen-xs-max) {
                            // clip: rect(5px, 0px, 40px, 0px);
                            // -webkit-clip-path: inset(5px 0px 40px 0px);
                            margin-bottom: 10px;
                        }
                    }
                }
                &:hover,
                &.active {
                    opacity: 1 !important;

                    filter: alpha(opacity=100); /* IE8 and lower */
                    .name {
                        color: @sony-orange;
                    }
                }
            }
            .name {
                font-size: 21px;
                line-height: 21px;
                width: 90%;
                text-align: left;
                color: #ffffff;
                @media (max-width: @screen-xs-max) {
                    font-size: 1em;
                    line-height: 1.2;
                    // margin-top: -30px;
                    color: @sony-orange;
                }
            }
            .model {
                font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 14px;
                width: 90%;
                text-align: left;
                color: #ffffff;
            }
            .acces-carousel-details {
                position: absolute;
                bottom: 0;
                left: 8%;
                width: 80%;
                @media (max-width: @screen-xs-max) {
                    position: relative;
                    bottom: auto;
                    left: auto;
                    width: auto;
                }
                span {
                    white-space: nowrap;
                }
            }
        }
    }
    .fancybox-wrap {
        .photo-content {
            .photo ();
        }
    }
    .fancybox-skin {
        background-color: transparent;
    }
    .fancybox-nav {
        width: 60px;
        span {
            visibility: visible;
            width: 30px;
            height: 102px;
            margin-top: -51px;
            transition: opacity .35s ease;
            opacity: .5;

            filter: alpha(opacity=50); /* IE8 and lower */
        }
        &:hover {
            span {
                opacity: 1;

                filter: alpha(opacity=100); /* IE8 and lower */
            }
        }
    }
    .fancybox-close {
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-image: url(../img/ligthbox/btn-close.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .fancybox-next {
        right: -60px;
        span {
            background-image: url(../img/arrow-next.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    .fancybox-prev {
        left: -60px;
        span {
            background-image: url(../img/arrow-prev.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    .slick-slider {
        -webkit-user-select: text;
           -moz-user-select: text;
            -ms-user-select: text;
                user-select: text;

        -khtml-user-select: text;
        @media (max-width: @screen-xs-max) {
            margin-bottom: 0;
        }
    }
    .slick-list.draggable {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -khtml-user-select: none;
    }
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: ENDS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
}
