// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



#cameras {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		height: auto;
		padding: 0;
		background-image: url(../img/bg-cameras.png);

		.paddingFooter ();
		.secondaryNavAndBg ();
		@media (max-width: @screen-xs-max) {
			background-size: 200% !important;
		}
		@media (max-width: @screen-sm-max) {
			background-size: 180%;
		}
		.header {
			// font-size: 45px;
			// line-height: 0;
			margin-top: 20px;
			margin-bottom: 20px;
			// .maxWidth ();
			span {
				font-size: 0;
				line-height: 1;
				display: inline-block;
				vertical-align: middle;
				img {
					@media (max-width: @screen-sm-max) {
						width: auto;
						height: .85em;
					}
				}
			}
			.full-flame {
				@media (max-width: @screen-sm-max) {
					font-size: 43px;
					line-height: 0;
					margin-bottom: 12px;
				}
			}
			.logo-alpha7 {
				@media (max-width: @screen-sm-max) {
					font-size: 28px;
					line-height: 0;
					margin-left: 5px;
				}
				@media (max-width: @screen-xs-max) {
					font-size: 20px !important;
				}
			}
			h1 {
				font-size: 45px;
				line-height: 1;
				display: inline-block;
				margin: 0;
				margin-right: 15px;
				margin-left: 15px;
				vertical-align: middle;
				/* for all versions of Firefox */
				@-moz-document url-prefix() {
					position: relative;
					top: 5px;
					text-align: center;
				}
				@media (max-width: @screen-sm-max) {
					font-size: 34px;
					margin: 0;
				}
				@media (max-width: @screen-xs-max) {
					font-size: 24px !important;
				}
			}
			/*h1 {
            font-size: 45px;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }*/
		}
		.row {
			height: 100%;
			margin: 0;
			> div {
				height: 100%;
				padding: 0;
			}
			.cameras {
				@media (max-width: @screen-sm-max) {
					padding: 0 15px;
				}
				.camera {
					.awards {
						margin-top: 20px;
						margin-bottom: 25px;
					}
					.title {
						max-width: 440px;
						margin: 15px auto 0 auto;
						.btn-mobile {
							margin-top: 15px;
						}
						@media (max-width: @screen-sm-max) {
							margin-top: 15px;
						}
						.img-retina {
							@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
								width: auto;
								max-height: 70px;
							}
						}
					}
					.specs {
						max-width: 440px;
						margin-top: 20px;
						margin-bottom: 25px;
					}
					@media (max-width: @screen-sm-max) {
						margin-bottom: 50px;
					}
					.spacing {
						width: 100px;
					}
				}
				.camera-row {
					// overflow: hidden;
					margin-top: 20px;
					margin-bottom: 40px;
					// text-align: justify;
					text-align: center;
					// white-space: nowrap;
					.camera {
						position: relative;
						display: inline-block;
						margin: 0 10px;
						vertical-align: top;
						@media (max-width: @screen-sm-max) {
							display: block;
							margin: 0;
						}
						.new-blurb {
							position: absolute;
							width: 136px;
							margin: 5px auto auto -5px;
							@media (max-width: @screen-sm-max) {
								margin: 5px auto auto 160px;
							}
							@media (max-width: @screen-xs-max) {
								width: 100px;
								margin: 5px auto auto -5px;
							}
						}
						&#a7sm2 {
							.title {
								margin-top: 20px;
							}
						}
						&#a7rm2 {
							// margin-left: -70px;
							/*.awards {
								margin-top: -22px;
								margin-bottom: -25px;
								padding-left: 40px;
							}*/
							@media (max-width: @screen-sm-max) {
								margin-left: 0;
								.awards {
									margin-top: 20px;
									padding-left: 0;
								}
								.title {
									margin-top: 0;
								}
							}
							@media (max-width: @screen-xs-max) {
								margin-left: 0;
								.awards {
									margin-top: 20px;
									padding: 0 35px
								}
								.title {
									margin-top: -5px;
									padding-right: 60px !important;
								}
								.specs {
									padding: 0 30px !important;
								}
							}
						}
						&#a7m2 {
							@media (min-width: @screen-sm-min) and (max-width: 1322px) {
								margin-left: -50px;
							}
							@media (max-width: @screen-sm-max) {
								margin-left: 0;
							}
						}
						&#a7 {
							@media (min-width: @screen-sm-min) and (max-width: 1322px) {
								margin-top: 32px;
							}
							@media (max-width: @screen-sm-max) {
								.title {
									padding-right: 95px;
								}
								.specs {
									padding: 0 55px;
								}
							}
							@media (max-width: @screen-xs-max) {
								.awards {
									padding: 0 35px;
								}
								.title {
									padding-right: 60px !important;
								}
								.specs {
									padding: 0 50px !important;
								}
							}
						}
						&#a7s {
							@media (min-width: @screen-sm-min) and (max-width: 1322px) {
								margin-top: 32px;
							}
							@media (max-width: @screen-sm-max) {
								margin-top: 0;
								.title {
									padding-right: 82px;
								}
								.specs {
									padding: 0 25px;
								}
							}
							@media (max-width: @screen-xs-max) {
								.awards {
									padding: 0 35px;
								}
								.title {
									padding-right: 50px !important;
								}
							}
						}
						&#a7r {
							@media (min-width: @screen-sm-min) and (max-width: 1322px) {
								margin-top: 32px;
							}
							@media (max-width: @screen-sm-max) {
								.title {
									padding-right: 35px;
								}
								.specs {
									padding: 0 30px;
								}
							}
							@media (max-width: @screen-xs-max) {
								.awards {
									padding: 0 25px;
								}
								.title {
									padding-right: 40px !important;
								}
								.specs {
									padding: 0 30px !important;
								}
							}
						}
						@media (max-width: @screen-sm-max) {
							margin-bottom: 50px;
						}
					}
				}
			}
			.disclaimer {
				font-size: 11px;
				margin-top: 86px;
				padding: 0 35px;
				text-align: left;
				color: #999999;
				@media (max-width: @screen-sm-max) {
					margin-top: 0;
					margin-bottom: 30px;
				}
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
