#gallery {
	background-color: transparent;
	background-image: url(../img/bg-gallery.jpg);
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		height: auto;
		min-height: 100%;
		padding-top: 61px;
		background-color: transparent;
		background-image: url(../img/bg-gallery.jpg);
		.marginBottom {
			margin-bottom: 70px;
			@media (max-width: @screen-sm-max) {
				margin-bottom: 0;
			}
		}
		.drop-downs {
			padding: 0;
			text-align: center;
			select {
				font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;
				color: @sony-orange;
				border: 0;
				outline: none;
				background-color: transparent;
				background-image: url(../img/profile/arrow_down_org.png);
				background-repeat: no-repeat;
				background-position: center right;
				background-size: 30px;

				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				@media (max-width: @screen-sm-max) {
					font-size: 1em;
					width: 90%;
					height: 40px;
					background-size: 19px;
				}
				&#filter, &#camera, &#othera7users {
					text-transform: none;
				}
			}
			.divider {
				line-height: 0;
			}
		}
		.max-width {
			.maxWidth ();
			.navbar-inverse {
				border: none;
				background-color: transparent;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 0;
				}
				h1 {
					font-size: 45px;
					margin-bottom: 20px;
					@media (max-width: @screen-sm-max) {
						font-size: 26px;
						display: inline-block;
						float: left;
						text-align: left;
					}
				}
				.navbar-toggle {
					font-size: 1.15em;
					margin-top: 18px;
					margin-right: -15px;
					color: @sony-orange;
					border: none;
					background-color: transparent;
					&:hover,
					&:focus {
						border: none;
						background-color: transparent;
					}
					p {
						display: inline-block;
					}
				}
			}
		}
		.filters {
			font-size: 12px;
			position: absolute;
			z-index: 2;
			top: 140px;
			width: 100%;
			padding: 15px 0 30px;
			@media (max-width: @screen-sm-max) {
				line-height: 2;
				top: 70px;
				margin-bottom: 0;
			}
			@media (max-width: @screen-xs-max) {
				padding-bottom: 74px;
			}
			&.collapsing,
			&.in {
				border: none;
				background-image: none;
			}
			&.collapsing {
				padding: 0;
			}
			&:before {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: '';
				transition: opacity .35s ease;
				opacity: .6;
				background-image: url('../img/bg-filters.png');
				background-repeat: repeat-y;
				background-position: center center;
				background-size: contain;
				@media (max-width: @screen-sm-max) {
					opacity: 1;
					background-color: #333333;
					background-image: none;
				}
			}
			&.open:before {
				opacity: 1;
			}
			.filters-wrapper {
				position: relative;
				z-index: 2;
				display: none;
				// height: 380px;
				height: auto;
				padding-top: 20px;
				padding-bottom: 70px;

				.maxWidth ();
				@media (max-width: @screen-sm-max) {
					display: block;
					height: auto;
					padding-right: 30px;
					padding-bottom: 30px;
					padding-left: 30px;
				}
				@media (max-width: @screen-md-max) {
					padding-right: 30px;
					padding-left: 30px;
				}
				table {
					width: 100%;
					th {
						font-size: 16px;
						color: @sony-orange;
					}
					td {
						font-size: 13px;
						padding: 5px 0;
						text-align: left;
						vertical-align: top;
						&.country {
							color: @sony-orange;
							div {
								line-height: .75;
							}
						}
						&.no-padding-top {
							padding-top: 0;
						}
						&.no-padding-bottom {
							padding-bottom: 0;
						}
						&.checkbox-cell {
							overflow: hidden;
							width: 13px;
							white-space: nowrap;
						}
						input {
							margin-right: 10px;
						}
					}
				}
				.clear {
					position: absolute;
					right: 0;
					bottom: 0;
					display: inline-block;
					padding: 10px 15px;
					background-color: #484848;
					@media (max-width: @screen-sm-max) {
						right: 30px;
						bottom: 30px;
					}
					@media (max-width: @screen-md-max) {
						right: 30px;
					}
					@media (max-width: @screen-xs-max) {
						position: relative;
						right: auto;
						bottom: auto;
					}
				}
			}
			span {
				display: inline-block;
				margin: auto 5px;
			}
			.separator {
				line-height: 0;
				height: 1px;
				&.bottom {
					margin-top: -2px;
				}
			}
			a {
				position: relative;
				z-index: 2;
				display: inline-block;
				.up {
					display: none;
				}
			}
			.filter {
				@media (max-width: @screen-sm-max) {
					font-size: 1.1em;
					display: block;
					margin-right: -15px;
					padding-bottom: 5px;
					text-align: right;
				}
			}
		}
		.message {
			display: none;
		}
		.photos-content {
			.photo-content {
				display: none;
			}
		}
		.photos-carousel {
			margin-bottom: 179px;

			.maxWidth ();
			@media (max-width: @screen-sm-max) {
				margin-bottom: 70px;
			}
			.photo-carousel {
				display: inline-block;
				width: 210px;
				height: 136px;
				.border {
					position: relative;
					width: 100%;
					max-width: 210px;
					height: 100%;
					max-height: 136px;
					transition: opacity .35s ease;
					opacity: 0;
					border: 7px solid @sony-orange;

					filter: alpha(opacity=0); /* IE8 and lower */
					@media (max-width: @screen-sm-max) {
						display: none;
					}
					@media (min-width: @screen-md-min) and (max-width:1199px) {
						display: none;
					}
				}
				&:hover {
					.border {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
			}
			.photo-carousel-mobile {
				display: inline-block;
				width: 90px;
				height: 90px;
				img {
					width: 100%;
				}
				.border {
					position: relative;
					width: 100%;
					max-width: 180px;
					height: 100%;
					max-height: 180px;
					transition: opacity .35s ease;
					opacity: 0;
					border: 7px solid @sony-orange;

					filter: alpha(opacity=0); /* IE8 and lower */
				}
				&:hover {
					.border {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
			}
		}
	}
	.mfp-content {
		.photo-content {
			padding-top: 20px;
			padding-bottom: 40px;

			.maxWidth ();
			.photo ();
			@media (max-width: @screen-sm-max) {
				padding: 60px 10px 40px;
			}
		}
		@media (max-width: @screen-xs-max) {
			overflow-x: hidden;
			vertical-align: top;
		}
	}
	button.mfp-arrow {
		visibility: visible;
		width: 60px;
		height: 102px;
		transition: opacity .35s ease;
		opacity: .5;

		filter: alpha(opacity=50); /* IE8 and lower */
		@media (max-width: @screen-sm-max) {
			top: 45%;
		}
		@media (max-width: @screen-xs-max) {
			top: 30%;
		}
		&:hover,
		&:focus {
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	button.mfp-close {
		width: 30px;
		height: 30px;
		margin-top: 20px;
		margin-right: 20px;
		transition: opacity .45s ease;
		color: transparent !important;
		background-image: url(../img/lightbox/btn-close.png);
		background-repeat: no-repeat;
		background-position: center top;
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-image: url(../img/lightbox/btn-close.png);
			background-position: center bottom;
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	button.mfp-arrow-right {
		background-color: transparent;
		background-image: url(../img/lightbox/arrow-next.png);
		background-repeat: no-repeat;
		background-position: center center;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	button.mfp-arrow-left {
		background-color: transparent;
		background-image: url(../img/lightbox/arrow-prev.png);
		background-repeat: no-repeat;
		background-position: center center;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
