// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



#lenses {
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: STARTS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
    #content {
        height: auto;
        background-position: top left;

        .paddingFooter ();
        .secondaryNavAndBg ();
        @media (max-width: @screen-sm-max) {
            background-position: top center;
            background-size: 150%;
        }
        @media (max-width: @screen-xs-max) {
            margin-bottom: 40px;
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: auto;
            @media (max-width: @screen-sm-max) {
                background-position: top center;
                background-size: 150%;
            }
        }
        /*&:before {
            position: absolute;
            // z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            transition: opacity .35s ease;
            // opacity: .6;
            // background-image: url('../img/lenses/1-sel2870/bg.jpg');
            background-repeat: no-repeat;
            background-position: top left;
            background-size: auto;
        }*/
        .header {
            // font-size: 45px;
            // line-height: 0;
            margin-top: 20px;
            margin-bottom: 20px;

            .maxWidth ();
            span {
                font-size: 0;
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
                @media (max-width: @screen-sm-max) {
                    font-size: 36px;
                    line-height: 0;
                    margin-right: 5px;
                    margin-left: 5px;
                }
                img {
                    @media (max-width: @screen-sm-max) {
                        width: auto;
                        height: .85em;
                    }
                }
            }
            h1 {
                font-size: 45px;
                line-height: 1;
                display: inline-block;
                margin: 0;
                margin-left: 10px;
                vertical-align: middle;
                /* for all versions of Firefox */
                @-moz-document url-prefix() {
                    position: relative;
                    top: 5px;
                }
                @media (max-width: @screen-sm-max) {
                    font-size: 26px;
                    margin: 0;
                }
            }
            /*h1 {
            font-size: 45px;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }*/
        }
        .mobile {
            @media (max-width: @screen-sm-max) {
                padding: 0;
            }
        }
        .lenses-content {
            .maxWidth ();
            .lens-content {
                margin-bottom: 35px;
                @media (max-width: @screen-sm-max) {
                    padding: 0 15px;
                }
                @media (max-width: @screen-xs-max) {
                    margin-bottom: 0;
                }
                img.mobile {
                    width: auto;
                    max-height: 300px;
                    @media (max-width: @screen-xs-max) {
                        transform: scale(.75);
                    }
                }
                .content {
                    margin-top: 40px;
                    @media (max-width: @screen-xs-max) {
                        margin-top: 0;
                    }
                }
                .left {
                    .name {
                        font-size: 21px;
                        margin-bottom: 0;
                        color: @sony-orange;
                    }
                    .divider {
                        margin-bottom: 10px;
                    }
                }
                .right {
                    .functions {
                        padding-left: 2%;
                        text-align: left;
                        @media (max-width: @screen-xs-max) {
                            margin-bottom: 10px;
                            padding-left: 0;
                            text-align: center;
                        }
                        .function {
                            display: inline-block;
                            width: 70px;
                            text-align: center;
                            vertical-align: top;
                            p {
                                font-size: 11px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .features {
                    margin-bottom: 15px;
                    padding-left: 5%;
                    @media (max-width: @screen-xs-max) {
                        margin-top: 15px;
                        padding-left: 0;
                    }
                }
                .samples {
                    // padding: 0 55px;
                    p {
                        color: #898989;
                        @media (max-width: @screen-xs-max) {
                            margin-bottom: 0;
                        }
                    }
                    .sample {
                        .sample-image {
                            overflow: hidden;
                            // margin: 0 10px;
                            margin-right: 10px;
                            &:hover {
                                border: 7px solid @sony-orange;
                                img {
                                    margin: -7px;
                                }
                            }
                        }
                    }
                    .sample-mobile {
                        .sample-image {
                            // overflow: hidden;
                            padding: 5px 0;
                            // width: 121px;
                        }
                    }
                    .slick-next,
                    .slick-prev {
                        top: 50%;
                        width: 39px;
                        height: 39px;
                    }
                }
            }
            .slick-next,
            .slick-prev {
                // top: 20%;
                top: 140px;
                width: 30px;
                height: 120px;
                margin: 0;
                margin-top: -26px;
                transition: opacity .35s ease;
                opacity: .5;

                filter: alpha(opacity=50); /* IE8 and lower */
                @media (max-width:@screen-xs-max) {
                    top: 60px;
                }
                &:hover {
                    opacity: 1;

                    filter: alpha(opacity=100); /* IE8 and lower */
                }
            }
            .slick-slider {
                -webkit-user-select: text !important;
                   -moz-user-select: text !important;
                    -ms-user-select: text !important;
                        user-select: text !important;

                -khtml-user-select: text !important;
                @media (max-width: @screen-xs-max) {
                    margin-bottom: 0;
                }
            }
            .slick-list.draggable {
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;

                -khtml-user-select: none;
            }
            .slick-next {
                right: -50px;
                @media (max-width: @screen-sm-max) {
                    right: 10px;
                }
                @media (max-width: @screen-xs-max) {
                    right: 0;
                }
                &:before {
                    content: '';
                }
            }
            .slick-prev {
                left: -50px;
                @media (max-width: @screen-sm-max) {
                    left: 10px;
                }
                @media (max-width: @screen-xs-max) {
                    left: 0;
                }
                &:before {
                    content: '';
                }
            }
        }
        .divider {
            margin-bottom: 15px;
            @media (max-width: @screen-xs-max) {
                margin-top: 15px;
            }
        }
        .sony-btn {
            @media (max-width: @screen-xs-max) {
                position: relative;
                z-index: 3;
            }
        }
        .lenses-carousel {
            .maxWidth () ;
            @media (max-width: @screen-sm-max) {
                margin-bottom: 40px;
            }
            @media (max-width: @screen-xs-max) {
                margin-right: -15px;
                margin-left: -15px;
            }
            .lens-carousel {
                display: block;
                width: 225px;
                height: 329px;
                // cursor: pointer;
                transition: opacity .5s ease;
                opacity: .35 !important;

                filter: alpha(opacity=35); /* IE8 and lower */
                @media (max-width: @screen-sm-max) {
                    opacity: 1 !important;
                }
                @media (max-width: @screen-xs-max) {
                    width: 33.33333333%;
                    height: auto;
                    min-height: 280px;
                    padding: 0 5px;
                }
                .wrapper {
                    position: relative;
                    display: inline-block;
                    > img {
                        @media (max-width: @screen-xs-max) {
                            // clip: rect(5px, 0px, 40px, 0px);
                            // -webkit-clip-path: inset(5px 0px 40px 0px);
                            margin-bottom: 10px;
                        }
                    }
                }
                &:hover,
                &.active {
                    opacity: 1 !important;

                    filter: alpha(opacity=100); /* IE8 and lower */
                }
            }
            .name {
                font-size: 21px;
                line-height: 21px;
                width: 90%;
                text-align: left;
                color: #ffffff;
                @media (max-width: @screen-xs-max) {
                    font-size: 1em;
                    line-height: 1.2;
                    // margin-top: -30px;
                    color: @sony-orange;
                }
            }
            .model {
                font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 14px;
                width: 90%;
                text-align: left;
                color: #ffffff;
            }
            .lens-carousel-details {
                position: absolute;
                bottom: 0;
                left: 8%;
                width: 80%;
                @media (max-width: @screen-xs-max) {
                    position: relative;
                    bottom: auto;
                    left: auto;
                    width: auto;
                }
                span {
                    white-space: nowrap;
                }
            }
            .lens-logo {
                position: absolute;
                right: 5%;
                bottom: 10px;
                width: 45px;
                @media (max-width: @screen-xs-max) {
                    position: relative;
                    right: auto;
                    bottom: auto;
                    width: 30px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    // .fancybox-wrap {
    .mfp-content {
        .photo-content {
            padding-top: 20px;

            .maxWidth ();
            .photo ();
        }
    }
    // .fancybox-nav {
    button.mfp-arrow {
        // margin-top: -51px;
        visibility: visible;
        width: 60px;
        // span {
        // width: 30px;
        height: 102px;
        transition: opacity .35s ease;
        opacity: .5;

        filter: alpha(opacity=50); /* IE8 and lower */
        // }
        &:hover,
        &:focus {
            span {
                opacity: 1;

                filter: alpha(opacity=100); /* IE8 and lower */
            }
        }
    }
    // .fancybox-close {
    button.mfp-close {
        width: 30px;
        height: 30px;
        // top: 20px;
        // right: -40px;
        margin-top: 20px;
        margin-right: 20px;
        transition: opacity .45s ease;
        opacity: .5;
        color: transparent !important;
        background-image: url(../img/lightbox/btn-close.png);
        background-repeat: no-repeat;
        background-position: center top;

        filter: alpha(opacity=50); /* IE8 and lower */
        &:hover,
        &:focus {
            background-image: url(../img/lightbox/btn-close.png);
            background-position: center bottom;
            span {
                opacity: 1;

                filter: alpha(opacity=100); /* IE8 and lower */
            }
        }
    }
    // .fancybox-next {
    button.mfp-arrow-right {
        background-color: transparent;
        // right: -60px;
        // span {
        background-image: url(../img/lightbox/arrow-next.png);
        background-repeat: no-repeat;
        background-position: center center;
        // }
        &:before,
        &:after {
            content: '';
            border: none;
        }
    }
    // .fancybox-prev {
    button.mfp-arrow-left {
        background-color: transparent;
        // left: -60px;
        // span {
        background-image: url(../img/lightbox/arrow-prev.png);
        background-repeat: no-repeat;
        background-position: center center;
        //  }
        &:before,
        &:after {
            content: '';
            border: none;
        }
    }
    .mfp-counter {
        display: none;
    }
    /* overlay at start */
    .mfp-fade.mfp-bg {
        -webkit-transition: all .15s ease-out;
           -moz-transition: all .15s ease-out;
                transition: all .15s ease-out;
        opacity: 0;
    }
    /* overlay animate in */
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: .85;

        filter: alpha(opacity=85); /* IE8 and lower */
    }
    /* overlay animate out */
    .mfp-fade.mfp-bg.mfp-removing {
        opacity: 0;
    }
    /* content at start */
    .mfp-fade.mfp-wrap .mfp-content {
        -webkit-transition: all .15s ease-out;
           -moz-transition: all .15s ease-out;
                transition: all .15s ease-out;
        opacity: 0;
    }
    /* content animate it */
    .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
        opacity: 1;
    }
    /* content animate out */
    .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
        opacity: 0;
    }
    .slick-slider {
        -webkit-user-select: text;
           -moz-user-select: text;
            -ms-user-select: text;
                user-select: text;

        -khtml-user-select: text;
        @media (max-width: @screen-xs-max) {
            margin-bottom: 0;
        }
    }
    .slick-list.draggable {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -khtml-user-select: none;
    }
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: ENDS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
}
