#other-a7users {
    background-color: transparent;
    // background-image: url(../img/bg-gallery.jpg);
    height: auto;
    min-height: 100%;
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: STARTS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
    #content {
        height: auto;
        margin-top: 61px;

        .paddingFooter ();
        .row {
            height: 100%;
            // margin: 0;
            > div {
                height: 100%;
                // padding: 0;
            }
        }
        .max-width {
            .maxWidth ();
            @media (max-width: @screen-xs-max) {
                margin-right: -15px;
                margin-left: -15px;
            }
            h1 {
                font-size: 45px;
                margin-bottom: 20px;
                @media (max-width: @screen-sm-max) {
                    font-size: 26px;
                }
                .logo-a7{
                    vertical-align: baseline;
                    display: inline-block;
                    max-width: 89px;
                    @media (max-width: @screen-sm-max) {
                        width: 8%;
                    }
                    @media (max-width: @screen-xs-max) {
                        width: 14%;
                    }
                }
            }
            h2 {
                font-size: 14px;
                margin-bottom: 5px;
                // color: @sony-orange;
                // @media (max-width: @screen-sm-max) {
                //     font-size: 18px;
                // }
            }
            .genre{
                font-size: 12px;
                color: #999999;
                margin-bottom: 0;
            }
            span {
                white-space: nowrap;
            }

        }
        a{
            &:hover{
                transition: color .35s ease;
                color: @sony-orange;
                img{
                    opacity: .85;
                }
            }
            .box-wrap {
                margin-bottom: 30px;
            }
            img{
                transition: opacity .35s ease;
            }
        }
    }
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: ENDS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
}
