// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



#photo {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.secondary-nav {
		.secondary-nav-wrapper {
			font-size: 12px;
			margin: 0 auto;
			cursor: default;
			text-transform: uppercase;
			color: #818282;
			.nav_middle {
				width: 60%;
				margin-left: 20%;
				text-align: center;
			}
			.nav_countries {
				width: 20%;
				margin-top: 20px;
				text-align: left;
				a {
					margin-right: 11px;
					opacity: .30;

					filter: alpha(opacity=30); /* IE8 and lower */
					&:hover,
					&:active {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
				.active {
					opacity: 1;

					filter: alpha(opacity=100); /* IE8 and lower */
				}
			}
		}
		@media (max-width: @screen-sm-max) {
			display: none;
		}
	}
	#content {
		height: auto;

		.paddingFooter ();
		@media (max-width: @screen-sm-max) {
			margin-top: 61px;
			margin-bottom: 40px;
		}
		@media (max-width: @screen-xs-max) {
			overflow-x: hidden;
		}
		h1 {
			margin-bottom: 20px;

			.maxWidth ();
			@media (max-width: @screen-sm-max) {
				font-size: 26px;
			}
		}
		.photo {
			.maxWidth ();
			.photo ();
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
