// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';


#reviews {
	background: url(../img/bg-gallery.jpg) center center;
	header {
		height: 85px;
		background-image: url(../img/bg-header-2.png);
		@media (max-width: @screen-sm-max) {
			height: 61px;
			background-color: #000000;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		padding: 0;
		height: auto;
		// @media (max-width: @screen-sm-max) {
		// 	padding-top: 61px;
		// 	padding-bottom: 70px;
		// 	background-image: url(../img/reviews/bg-mobile.jpg);
		// 	background-position: center left;
		// 	background-size: contain;
		// }
		.row {
			// height: 100%;
			margin: 0;
			> div {
				// height: 100%;
				padding: 0;
			}
		}

		.reviews {
			font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
    		// margin: 135px auto 20px;
    		margin: auto;
    		// max-width: 1016px;
    		position: relative;
    		@media (max-width: @screen-sm-max) {
    			width: 85%;
    		}
    		@media (max-width: @screen-xs-max) {
    			width: 95%;
    		}
    		h1{
    			text-align: center;
    			font-size:52px;
    			@media (max-width: @screen-xs-max) {
    				font-size: 28px;
    				margin-bottom: 20px;
		    	}
    		}
			.reviews-wrapper{
				height: auto;
				// margin: 135px auto 200px;
				margin: 0 auto;
				margin-top:100px;
				width: 100%;
				position: absolute;
				@media (max-width: @screen-sm-max) {
					margin: 100px auto;
				}
				@media (max-width: @screen-xs-max) {
					margin: 100px auto 70px;
				}
			}
			.reviews-container{
				margin: auto;
    			max-width: 769px;
    			@media (max-width: @screen-xs-max) {
    				padding-bottom: 80px;
    			}
    			#main-review{
    				width: 100%;
    				height: 356px;
    				background:url(../img/reviews/review-aida-bg.jpg) center center;
    				position: relative;
    				margin-bottom:22px;
					background-size: cover;
					background-repeat: no-repeat;
    				@media (max-width: @screen-xs-max) {
		    			height: 250px;
		    			background-size:cover;
		    			margin-bottom:15px;
		    		}
    				.review-details{
    					position: absolute;
    					bottom:0;
    					padding: 18px 22px;
    					@media (max-width: @screen-sm-max) {
    						padding: 14px 20px;
			    		}
    					h2{
    						font-size:18px;
    						margin:0;
    						padding:0;
    						@media (max-width: @screen-sm-max) {
				    			font-size:15px;
				    		}
    					}
    					h3{
							font-size: 30px;
							margin: 0;
							padding-top: 8px;
							@media (max-width: @screen-sm-max) {
				    			font-size:19px;
				    		}
    					}
    				}
    			}
    			.sub-reviews-section{
    				margin-bottom: 85px;
    				
    				@media (max-width: @screen-sm-max) {
		    			margin-bottom:80px;
		    			@media (max-width: @screen-sm-max) {
			    			margin-bottom:0;
			    		}
		    		}
    			}
    			.sub-review{
    				height: 245px;
    				position: relative;
		    			margin-bottom:15px;
    				@media (max-width: @screen-sm-max) {
		    			height: 215px;
		    		}
    				&.left-review{
    					padding:0;
    					padding-right: 11px;
    					@media (max-width: @screen-xs-max) {
			    			padding:0;
			    		}
    				}
					&.middle-review {
						padding: 0 5px;
						@media (max-width: @screen-xs-max) {
			    			padding:0;
			    		}
					}
    				&.right-review{
    					padding:0;
    					padding-left: 11px;
    					@media (max-width: @screen-xs-max) {
			    			padding:0;
			    		}
    				}
    				#review02{
    					width: 100%;
    					height:100%;
    					background:url(../img/reviews/review02.jpg) center center;
    					@media (max-width: @screen-xs-max) {
			    			background-size:cover;
			    		}
    				}
    				#review03{
    					width: 100%;
    					height:100%;
    					background:url(../img/reviews/review03.jpg) center center;
    					@media (max-width: @screen-xs-max) {
			    			background-size:cover;
			    		}
    				}
					#review04{
    					width: 100%;
    					height:100%;
    					background:url(../img/reviews/review04.jpg) center top;
    					@media (max-width: @screen-xs-max) {
			    			background-size:cover;
			    		}
    				}
					#review05{
    					width: 100%;
    					height:100%;
    					background:url(../img/reviews/review05.jpg) center top;
    					@media (max-width: @screen-xs-max) {
			    			background-size:cover;
			    		}
    				}
    				.review-details{
    					position: absolute;
    					bottom:0;
    					padding: 14px 20px;
    					h2{
    						font-size:16px;
    						margin:0;
    						padding:0;
    						@media (max-width: @screen-sm-max) {
				    			font-size: 15px;
				    		}
    					}
    					h3{
							font-size: 21px;
							margin: 0;
							padding-top: 8px;
							@media (max-width: @screen-sm-max) {
				    			font-size: 19px;
				    			padding-top: 4px;
				    		}
    					}
    				}

    			}
			}

		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
.review-articles{
	header {
		height: 68px;
		background-image: url(../img/bg-header-2.png);
		@media (max-width: @screen-sm-max) {
			height: 61px;
			background-color: #000000;
		}
	}
	&#review-bryan{
		background: url(../img/reviews/review-bryan-bg.jpg) top center no-repeat;
		@media (max-width: @screen-xs-max) {
	    	background: url(../img/reviews/review-bryan-bg.jpg) top 30px center no-repeat;
			background-size: auto 60%;
	    }
	}
	&#review-darren{
		background: url(../img/reviews/review-darren-bg.jpg) top center no-repeat;
		@media (max-width: @screen-xs-max) {
	    	background: url(../img/reviews/review-darren-bg.jpg) top 30px center no-repeat;
			background-size: auto 62%;
	    }
	}
	&#review-kelvin{
		background: url(../img/reviews/review-kelvin-bg.jpg) top center no-repeat;
		@media (max-width: @screen-xs-max) {
	    	background: url(../img/reviews/review-kelvin-bg.jpg) top 30px right -150px no-repeat;
			background-size: auto 60%;
	    }
	}
	&#review-edward{
		background: url(../img/reviews/review-edward-bg.jpg) top center no-repeat;
		@media (max-width: @screen-xs-max) {
	    	background: url(../img/reviews/review-edward-bg.jpg) top 30px right -140px no-repeat;
			background-size: auto 40%;
	    }
	}
	&#review-aida{
		background: url(../img/reviews/review-aida-bg.jpg) top center no-repeat;
		@media (max-width: @screen-xs-max) {
	    	background: url(../img/reviews/review-aida-bg.jpg) top 30px right -140px no-repeat;
			background-size: auto 40%;
	    }
	}
	#content {
		padding: 0;
		height: auto;
		// @media (max-width: @screen-sm-max) {
		// 	padding-top: 61px;
		// 	padding-bottom: 70px;
		// 	background-image: url(../img/reviews/bg-mobile.jpg);
		// 	background-position: center left;
		// 	background-size: contain;
		// }
		.row {
			// height: 100%;
			margin: 0;
			> div {
				// height: 100%;
				padding: 0;
			}
			.review-article-wrapper{
				width: 100%;
				max-width: 1000px;
				margin:0 auto;
				margin-top:250px;
				margin-bottom:220px;
				@media (max-width: @screen-sm-max) {
	    			width: 85%;
	    			margin-top:210px;
	    		}
	    		@media (max-width: @screen-xs-max) {
	    			width: 95%;
	    			margin-bottom: 140px;
	    		}
				h1{
					margin:0;
					font-size:21px;
					@media (max-width: @screen-xs-max) {
	    				font-size:13px;
	    			}
			    	a{
			    		color: @sony-orange;
			    		&:hover{
			    			text-decoration: underline;
			    		}
			    	}
			    	&.thai-header {
			    		margin-bottom: 25px;
			    	}
				}
				h2{
					font-size: 48px;
					margin: 0;
					line-height: 1em;
					margin-top: 6px;
					@media (max-width: @screen-xs-max) {
	    				font-size:24px;
	    			}
				}
				h3{
					font-size:21px;
					margin-top:30px;
					margin-bottom:70px;
					@media (max-width: @screen-xs-max) {
	    				font-size:13px;
						margin-top: 22px;
						margin-bottom: 50px;
	    			}
			    	a{
			    		color: @sony-orange;
			    		&:hover{
			    			text-decoration: underline;
			    		}
			    	}
				}
				p{
					font-size:16px;
					margin-bottom:25px;
					@media (max-width: @screen-xs-max) {
	    				font-size:13px;
	    				margin-bottom: 18px;
	    			}
				}
				.stretch-img{
					width: 100%;
					margin: 16px 0;
				}
				.review-half-img-left{
					padding-right: 8px;
					@media (max-width: @screen-xs-max) {
						padding:0;
					}
				}
				.review-half-img-right{
					padding-left: 8px;
					@media (max-width: @screen-xs-max) {
						padding:0;
					}
				}
				.quote{
					width: 100%;
					margin-bottom:0;
				}
				.img-details{
					font-size:12px;
					margin-bottom:30px;
				}
				.review-next-prev{
					margin-top:60px;
					div{
						position: relative;
						&.prev{
							float: left;
							&:before{
								content: "<";
								position: absolute;
								top:0;
								left:0;
								@media (max-width: @screen-xs-max) {
									top:6px;
								}
							}
						}
						&.next{
							float: right;
							&:after{
								content: ">";
								position: absolute;
								top:0;
								right:0;
								@media (max-width: @screen-xs-max) {
									top:6px;
								}
							}
						}
						a{
							display: block;
							padding: 0 14px;
							@media (max-width: @screen-xs-max) {
								font-size:12px;
							}
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
