// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';


#series {
	header {
		height: 231px;
		height: 135px;
		background-image: url(../img/bg-header.png);
		@media (max-width: @screen-sm-max) {
			height: 61px;
			// background-image: url(../img/bg-header-2.png);
			background-color: #000000;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		padding: 0;
		height: auto;
		// @media (max-width: @screen-sm-max) {
		// 	padding-top: 61px;
		// 	padding-bottom: 70px;
		// 	background-image: url(../img/series/bg-mobile.jpg);
		// 	background-position: center left;
		// 	background-size: contain;
		// }
		.row {
			// height: 100%;
			margin: 0;
			> div {
				// height: 100%;
				padding: 0;
			}
		}

		.series {
			font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
    		// margin: 135px auto 20px;
    		margin: auto;
    		max-width: 1016px;
    		position: relative;
    		@media (max-width: @screen-sm-max) {
    			width: 85%;
    		}
    		@media (max-width: @screen-xs-max) {
    			width: 95%;
    		}
    		.textalign{
				text-align: right;
				@media (max-width: @screen-sm-max) {
					text-align: left;
				}
			}
			.space {
				height: 20px;
			}
			.series-wrapper{
				height: auto;
				// margin: 135px auto 200px;
				margin: 0 auto;
				margin-top:135px;
				width: 100%;
				position: absolute;
				@media (max-width: @screen-sm-max) {
					margin: 100px auto;
				}
				@media (max-width: @screen-xs-max) {
					margin: 100px auto 70px;
				}
			}
			.series-container{
				margin: auto;
    			max-width: 819px;
			}
			a{
				.title-wrap{
					margin-bottom: 8px;
					p{
		    			font-size: 45px;
						line-height: 1;
						display: inline-block;
						vertical-align: middle;
						margin-bottom: 0;
						/* for all versions of Firefox */
						@-moz-document url-prefix() {
							position: relative;
							top: 5px;
						}
						// @media (min-width: @screen-md-min) and (max-width:1199px) {
						// 	font-size: 40px;
						// }
						@media (max-width: @screen-sm-max) {
							font-size: 40px;
						}
						@media (max-width: @screen-xs-max) {
							font-size: 26px;
						}
		    		}
		    		> div {
						font-size: 0;
						line-height: 1;
						display: inline-block;
						vertical-align: middle;
						@media (max-width: @screen-sm-max) {
						    width: 80px;
						}
						@media (max-width: @screen-xs-max) {
						    width: 52px;
						}
						img {
							@media (max-width: @screen-sm-max) {
								position: relative;
								top: -1px;
								height: auto;
							}
						}
						.logo-alpha_7 {
							width: 99px;
							height: 40px;
							@media (min-width: @screen-md-min) and (max-width:1199px) {
								width: 80px;
								height: 32px;
								margin-bottom: 5px;
							}
							@media (max-width: @screen-sm-max) {
								width: 100%;
								height: auto;
							}
						}
					}
				}
				.sub-title{
	    			font-size: 25px;
	    			color: #999999;
	    			line-height: 1;
					@media (max-width: @screen-sm-max) {
						font-size: 16px;
					}
					@media (max-width: @screen-xs-max) {
						font-size: 12px;
					}
					// @media (min-width: @screen-md-min) and (max-width:1199px) {
					// 	font-size: 40px;
					// }
	    		}
	    		.bg,
				.bg-mobile {
					position: absolute;
					top: 0;
					left: 0;
					transition: all .35s ease;
					transform-origin: 50% 50%;
					transform: scale(1, 1);
					// opacity: .65;
					opacity: 1;
					background-repeat: no-repeat;
					background-position: center center;
					// background-size: contain;

					// -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)'; /* IE8 */
					//     filter: alpha(opacity=65); /* IE8 and lower */
					.fullWidthAndHeight ();
					@media (max-width: @screen-sm-max) {
						background-size: cover;
					}
				}
				&:hover {
					text-decoration: none;
					.name {
						color: @sony-orange;
					}
					.bg {
						transform: scale(1.1, 1.1);
						opacity: 1;

						-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)'; /* IE8 */
						    filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
				&:focus {
					text-decoration: none;
				}
			}
			.banner{
				&#join_our_workshops{
					margin-bottom: 200px;
				}
			    height: 136px;
			    margin-top: 10px;
			    width: 100%;
			    overflow: hidden;
			    @media (max-width: @screen-sm-max) {
			    	height: 205px;
			    	margin-bottom: 10px;
			    }
			    @media (max-width: @screen-xs-max) {
			    	height: 135px;
			    }
			    .title{
				    z-index: 1000;
				    display: table-cell;
				    vertical-align: middle;
				    font-size: 45px;
				    line-height: 1;
				    margin-left: 20px;
				    position: absolute;
					@media (min-width: @screen-sm-max) {
						top: 50%;
						transform: translateY(-50%);
					}
					@media (max-width: @screen-sm-max) {
						transform: none;
						bottom: 20px;
						font-size: 40px;
						margin-left: 0px;
					}
					@media (max-width: @screen-xs-max) {
						bottom: 10px;
						font-size: 26px;
					}
				    p{
				    	margin-bottom: 0;
		    		}

			    }
			}
			#where_to_buy {
				&.banner{
					margin-top: 60px;
					 @media (max-width: @screen-sm-max) {
				    	margin-top: 40px;
				    }
				}
				.bg {
					background-image: url(../img/series/where_to_buy.jpg);
					background-position: center 45%;
				}
				.bg-mobile {
					background-image: url(../img/series/where_to_buy-mobile.jpg);
					background-position: center 45%;
				}
			}
			#join_our_workshops {
				.title{
					@media (max-width: @screen-sm-max) {
						top: 50%;
						transform: translateY(-50%);
						bottom: auto;
					}
				}
				.bg {
					background-image: url(../img/series/join_our_workshops.jpg);
					background-position: center 45%;
				}
				.bg-mobile {
					background-image: url(../img/series/join_our_workshops-mobile.jpg);
					background-position: center right;
				}
			}
			
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
