// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



// html/*,
// body*/ {
//     background-image: url(../img/bg-gallery.jpg);
// }

// body {
//     background-color: transparent;
// }



#stores {
    background-color: transparent;
    background-image: url(../img/bg-gallery.jpg);
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: STARTS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
    #content {
        height: auto;
        margin-top: 61px;

        .paddingFooter ();
        .row {
            height: 100%;
            // margin: 0;
            > div {
                height: 100%;
                // padding: 0;
            }
        }
        .max-width {
            .maxWidth ();
            @media (max-width: @screen-xs-max) {
                margin-right: -15px;
                margin-left: -15px;
            }
            h1 {
                font-size: 45px;
                margin-bottom: 20px;
                @media (max-width: @screen-sm-max) {
                    font-size: 26px;
                }
            }
            h2 {
                font-size: 24px;
                margin-bottom: 30px;
                color: @sony-orange;
                @media (max-width: @screen-sm-max) {
                    font-size: 18px;
                }
            }
            p {
                margin-bottom: 25px;
            }
            span {
                white-space: nowrap;
            }
            .col-xs-2.text-center {
                padding: 0;
            }
            #dealers-header {
                margin-bottom: 15px;
            }
            .dealers {
                // display: table;
                .dealer {
                    margin-bottom: 5px;
                    // display: table-cell;
                    padding: 0 2px;
                    @media (max-width: @screen-sm-max) {
                        margin-bottom: 10px;
                        padding: 0 15px;
                    }
                    @media (min-width: @screen-md-min) and (max-width:1199px) {
                        width: 50%;
                    }
                    // float: none;
                    .no-links {
                        display: table;
                        width: 100%;
                        padding: 15px;
                        background-color: #ffffff;
                        p {
                            margin-bottom: 15px;
                            color: #000000;
                        }
                        .logo,
                        .description {
                            display: table-cell;
                            width: 50%;
                            vertical-align: middle;
                            strong {
                                font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
                            }
                            .last {
                                margin-bottom: 0;
                            }
                        }
                        .logo {
                            padding-right: 15px;
                        }
                    }
                    > a {
                        display: table;
                        // max-width: 334px;
                        width: 100%;
                        // height: 180px;
                        padding: 15px;
                        background-color: #ffffff;
                        p {
                            margin-bottom: 15px;
                            color: #000000;
                        }
                        .logo,
                        .description {
                            display: table-cell;
                            width: 50%;
                            vertical-align: middle;
                            strong {
                                font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
                            }
                            .last {
                                margin-bottom: 0;
                            }
                        }
                        .logo {
                            padding-right: 15px;
                        }
                    }
                    &.first {
                        padding-left: 15px;
                        @media (min-width: @screen-md-min) and (max-width:1199px) {
                            padding-left: 2px;
                        }
                    }
                    &.last {
                        padding-right: 15px;
                        @media (min-width: @screen-md-min) and (max-width:1199px) {
                            padding-right: 2px;
                        }
                    }
                    /*&.clearfix {
                    margin-bottom: 4px;
                    @media (max-width: @screen-sm-max) {
                        margin-bottom: 0;
                    }
                }*/
                }
            }
        }
    }
    /* ===== ===== ===== ===== ===== */
    /* ----- ----- ----- ----- ----- */
    /* ##### CONTENT :: ENDS ##### */
    /* ----- ----- ----- ----- ----- */
    /* ===== ===== ===== ===== ===== */
}
