@import '../bower_components/bootstrap/less/bootstrap.less';

@import (inline) '../bower_components/slick-carousel/slick/slick.css';
@import (inline) '../bower_components/slick-carousel/slick/slick-theme.css';
@import (inline) '../bower_components/magnific-popup/dist/magnific-popup.css';

@import 'template.less';

@import 'accessories.less';
@import 'cameras.less';
@import 'gallery.less';
@import 'lenses.less';
@import 'photo.less';
@import 'profile.less';
@import 'other-a7users.less';
@import 'other-profile.less';
@import 'series.less';
@import 'stores.less';
@import 'reviews.less';



html,
body {
	height: 100%;
}



#index {
	header,
	footer {
		// display: none;
		@media (max-width: @screen-sm-max) {
			background-color: #000000 !important;
		}
	}
	header {
		background: rgba(0,0,0,1);
		background:    -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
		background:      -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
		background:     -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
		background:         linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		@media (max-width: @screen-sm-max) {
			height: 61px;
		}
	}
	footer {
		height: 100px;
		background: url(../img/bg-footer-home.png) top center repeat-x;
		@media (max-width: @screen-sm-max) {
			height: 60px;
		}
		.pull-left {
			top: 40px;
			@media (max-width: @screen-sm-max) {
				top: 10px;
			}
		}
		.pull-right {
			top: 30px;
			@media (max-width: @screen-sm-max) {
				top: 16px;
			}
			@media (max-width: @screen-xs-max) {
				top: 26px;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### SPLASH :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#splash {
		position: absolute;
		z-index: 1100;
		top: 0;
		left: 0;
		display: none;
		background-image: url(../img/splash/bg-overlay.png);
		background-repeat: repeat;
		background-position: center center;
		background-size: cover;

		.fullWidthAndHeight ();
		@media (max-width: @screen-sm-max) {
			background-color: #000000;
		}
		.row {
			height: 100%;
			> div {
				height: 100%;
			}
		}
		.logo {
			position: absolute;
			top: 25px;
			left: 40px;
			@media (max-width: @screen-sm-max) {
				z-index: 2;
				top: 18px;
				left: 20px;
			}
		}
		.body-outer {
			@media (max-width: @screen-sm-max) {
				padding: 0;
			}
		}
		.body-wrapper {
			display: table;
			table-layout: fixed;
			background-image: url(../img/splash/bg.jpg);
			background-repeat: no-repeat;
			background-position: center center;

			.fullWidthAndHeight ();
			@media (max-width: @screen-sm-max) {
				background-image: none;
			}
			.body-container {
				position: absolute;
				width: 100%;
				height: 100%;
				.boxes {
					height: 25%;
					div {
						width: 33.333%;
						height: 100%;
						padding: 0;
						background-size: cover;
					}
					.bg-1 {
						background-image: url(../img/splash/bg-1.jpg);
					}
					.bg-2 {
						background-image: url(../img/splash/bg-2.jpg);
					}
					.bg-3 {
						background-image: url(../img/splash/bg-3.jpg);
					}
					.bg-4 {
						background-image: url(../img/splash/bg-4.jpg);
					}
					.bg-5 {
						background-image: url(../img/splash/bg-5.jpg);
					}
					.bg-6 {
						background-image: url(../img/splash/bg-6.jpg);
					}
					.bg-7 {
						background-image: url(../img/splash/bg-7.jpg);
					}
					.bg-8 {
						background-image: url(../img/splash/bg-8.jpg);
					}
					.bg-9 {
						background-image: url(../img/splash/bg-9.jpg);
					}
					.bg-10 {
						background-image: url(../img/splash/bg-10.jpg);
					}
					.bg-11 {
						background-image: url(../img/splash/bg-11.jpg);
					}
					.bg-12 {
						background-image: url(../img/splash/bg-12.jpg);
					}
					.bg-13 {
						background-image: url(../img/splash/bg-13.jpg);
					}
					.bg-14 {
						background-image: url(../img/splash/bg-14.jpg);
					}
					.bg-15 {
						background-image: url(../img/splash/bg-15.jpg);
					}
					.bg-16 {
						background-image: url(../img/splash/bg-16.jpg);
					}
					.bg-17 {
						background-image: url(../img/splash/bg-17.jpg);
					}
					.bg-18 {
						background-image: url(../img/splash/bg-18.jpg);
					}
				}
			}
			.body {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
				.logo {
					position: relative;
					top: auto;
					left: auto;
					margin: 0;
					img {
						max-width: 163px;
						@media (max-width: @screen-sm-max) {
							max-width: 30%;
							height: auto;
						}
					}
				}
				.slogan {
					line-height: .9;
					display: inline-block;
					margin-top: 25px;
					margin-bottom: 15px;
					@media (max-width: @screen-sm-max) {
						position: relative;
						margin-bottom: 35px;
					}
					@media (max-width: @screen-xs-max) {
						margin-bottom: 15px;
					}
					img {
						width: 35%;
						vertical-align: top;
						@media (max-width: @screen-sm-max) {
							width: 65%;
							height: auto;
						}
					}
				}
				.copy {
					font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
					font-size: 13px;
					margin-bottom: 0;
					text-transform: uppercase;
					@media (max-width: @screen-sm-max) {
						font-size: 20px;
						margin: 8px auto;
					}
					span {
						position: relative;
						top: -2px;
						display: inline-block;
						img {
							@media (max-width: @screen-sm-max) {
								width: 85%;
								height: auto;
							}
						}
					}
				}
				.row {
					width: 550px;
					height: auto;
					@media (max-width: @screen-sm-max) {
					}
					> div {
						font-size: 15px;
						line-height: 15px;
						height: auto;
						margin-top: 15px;
						color: #999999;
						span {
							font-size: .75em;
						}
					}
				}
			}
		}
		.country-selector {
			position: relative;
			select {
				font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
				font-size: 26px;
				width: 380px;
				height: 70px;
				text-transform: uppercase;
				border: 0;
				outline: none;
				background-color: transparent;
				background-image: url(../img/splash/arrow_down.png);
				background-repeat: no-repeat;
				background-position: center right;
				background-size: 30px;

				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				@media (max-width: @screen-xs-max) {
					font-size: 1em;
					width: 220px;
					height: 40px;
					background-size: 19px;
				}
				option {
					color: #000000;
					background-color: #ffffff;
				}
			}
		}
		.backstretch {
			img {
				@media (max-width: @screen-sm-max) {
					top: 50% !important;
					left: 50% !important;
					width: 300% !important;
					height: auto !important;
					margin-top: -150% !important;
					margin-left: -150% !important;
				}
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### SPLASH :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		display: none;
		padding: 0;
		@media (max-width: @screen-sm-max) {
			padding-top: 61px;
			padding-bottom: 60px;
		}
		.photographer-container {
			overflow-y: visible;
			margin-top: 40px;

			-webkit-overflow-scrolling: touch;
			@media (max-width: @screen-sm-max) {
				margin-top: 0px;
				// overflow-x: auto;
				// overflow-y: scroll; /* has to be scroll, not auto 
			}
		}
		.row {
			height: 100%;
			margin: 0;
			> div {
				height: 100%;
				padding: 0;
			}
		}
		.home-main {
			position: relative;
			overflow: hidden;
			// width: 100-16.666666667-16.666666667%;
			height: 32% !important;
			.bg {
				.fullWidthAndHeight ();
			}
		}
		.photographer {
			font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
			position: relative;
			overflow: hidden;
			// width: 16.666666667%;
			height: 32% !important;
			cursor: pointer;
			transition: opacity .35s ease;
			opacity: .45;

			filter: alpha(opacity=45); /* IE8 and lower */
			@media (max-width: @screen-sm-max) {
				// width: 100%;
				height: 180px !important;
				opacity: .5;

				filter: alpha(opacity=50); /* IE8 and lower */
			}
			@media (max-width: @screen-xs-max) {
				height: 68px !important;
			}
			.content-footer-bg {
				position: absolute;
				z-index: 100;
				bottom: -60px;
				width: 100%;
				height: 100px;
				background: url(../img/bg-footer-home.png) 25% 0;
			}
			&:hover {
				text-decoration: none;
				@media (min-width: @screen-md-min) {
					opacity: 1 !important;

					filter: alpha(opacity=100); /* IE8 and lower */
				}
				.name {
					.hover {
						transition: .35s ease;
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
						@media (max-width: @screen-sm-max) {
							display: none;
						}
					}
				}
				.bg {
					.backstretch {
						img {
							transform: scale(1.1, 1.1);
							@media (max-width: @screen-sm-max) {
								transform: none;
							}
						}
					}
				}
			}
			&#photographer-more {
				cursor: auto;
				p {
					font-family: 'SST W20 Medium', Helvetica, Arial, sans-serif;
					font-size: 16px;
					position: relative;
					z-index: 1;
					display: table-cell;
					vertical-align: middle;
				}
				&:hover {
					opacity: .8;

					filter: alpha(opacity=80); /* IE8 and lower */
					@media (min-width: @screen-md-min) {
						opacity: .8 !important;

						filter: alpha(opacity=80); /* IE8 and lower */
					}
					.bg {
						.backstretch {
							img {
								transform: none;
								@media (max-width: @screen-sm-max) {
									transform: none;
								}
							}
						}
					}
				}
			}
			&:focus {
				text-decoration: none;
			}
			a, > div {
				position: relative;
				// z-index: 1;
				display: table;
				table-layout: fixed;

				.fullWidthAndHeight ();
				.name {
					position: relative;
					z-index: 1;
					display: table-cell;
					padding-bottom: 43px;
					vertical-align: bottom;
					color: #ffffff;

					.fullWidthAndHeight ();
					@media (max-width: @screen-sm-max) {
						padding-right: 25px;
						padding-bottom: 40px;

						.text-right ();
					}
					@media (max-width: @screen-xs-max) {
						padding-right: 15px;
						padding-bottom: 15px;
					}
					p {
						margin: 0;
					}
					.photographer-name {
						font-family: 'SST W20 Medium', Helvetica, Arial, sans-serif;
						font-size: 16px;
						line-height: 22px;
						// z-index: 1;
						text-shadow: 0 0 10px rgba(0, 0, 0, .75);
						@media (max-width: @screen-sm-max) {
							font-size: 3em;
							line-height: 1.5em;
						}
						@media (max-width: @screen-xs-max) {
							font-size: 1.5em;
							line-height: 1.5em;
						}
					}
					.country-name {
						font-size: 12px;
						line-height: 14px;
						// z-index: 1;
						text-shadow: 0 0 8px rgba(0, 0, 0, 1);
						@media (max-width: @screen-sm-max) {
							font-size: 20px;
							line-height: 22px;
						}
						@media (max-width: @screen-xs-max) {
							font-size: 10px;
							line-height: 12px;
							padding-bottom: 0;
						}
					}
					.hover {
						transition: .35s ease;
						opacity: 0;

						filter: alpha(opacity=0); /* IE8 and lower */
						.genre {
							font-size: 12px;
							line-height: 14px;
							padding-bottom: 2px;
							text-shadow: 0 0 8px rgba(0, 0, 0, 1);
							@media (max-width: @screen-sm-max) {
								display: none;
							}
						}
					}
				}
				.bg {
					position: absolute;
					z-index: 1 !important;
					top: 0;
					left: 0;
					transition: all .35s ease;
					transform-origin: 50% 50%;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;

					-webkit-backface-visibility: hidden !important;
					.fullWidthAndHeight ();
					.backstretch {
						z-index: 1 !important;
						img {
							z-index: 1 !important;
							transition: all .35s ease;
						}
					}
				}
				.blurb {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					img {
						@media (max-width: @screen-sm-max) {
							width: 50%;
							height: auto;
						}
						@media (max-width: @screen-xs-max) {
							width: 25%;
							height: auto;
						}
					}
				}
			}
		}
		.empty {
			height: 100px !important;
			@media (max-width: @screen-sm-max) {
				height: 60px !important;
			}
		}
		.photographer-coming-soon {
			cursor: default;
			@media (min-width: @screen-sm-max) {
				height: 32% !important;
			}
			.name {
				padding: 0;
				vertical-align: middle;
			}
			/*.bg {
				.fullWidthAndHeight ();
			}*/
		}
		// content header
		.content-header-bg {
			position: absolute;
			z-index: 100;
			width: 100%;
			height: 130px;
		}
		#photographer-id-benny .content-header-bg {
			background: url(../img/bg-header.png) 0 -1px;
		}
		#photographer-id-nicoline .content-header-bg {
			background: url(../img/bg-header.png) 20% -1px;
		}
		#photographer-ph-pilar .content-header-bg {
			background: url(../img/bg-header.png) 40% -1px;
		}
		#photographer-my-fakrul .content-header-bg {
			background: url(../img/bg-header.png) 60% -1px;
		}
		#photographer-ph-tavepong .content-header-bg {
			background: url(../img/bg-header.png) 80% -1px;
		}
		#photographer-vn-nguyen .content-header-bg {
			background: url(../img/bg-header.png) 100% -1px;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
