<section id="content" class="container-fluid">

    <div class="row">

        <!-- Desktop -->
        <div class="col-sm-12 photographer-container">

            <div class="row">


                <!--
                <div id="photographer-id-benny" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/profile-benny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:benny', 'ilc:@@country', 'ilc:@@country:home:benny', 'microsite|ilc:@@country|home|benny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Wedding Photographer</p>
                            </div>
                            <p class="photographer-name">Benny Lim</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-id-nicoline" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:nicoline', 'ilc:@@country', 'ilc:@@country:home:nicoline', 'microsite|ilc:@@country|home|nicoline');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Fashion + Portrait Photographer</p>
                            </div>
                            <p class="photographer-name">Nicoline Patricia Malina</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                </div> -->

                <div id="photographer-sg-bryan" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:bryan', 'ilc:@@country', 'ilc:@@country:home:bryan', 'microsite|ilc:@@country|home|bryan');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Commercial + Editorial Photographer</p>
                            </div>
                            <p class="photographer-name">Bryan van der Beek</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>

                <div id="photographer-sg-chester" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:chester', 'ilc:@@country', 'ilc:@@country:home:chester', 'microsite|ilc:@@country|home|chester');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Landscape Photographer</p>
                            </div>
                            <p class="photographer-name">Chester Chen</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                <div id="photographer-sg-kelvin" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-kelvin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:kelvin', 'ilc:@@country', 'ilc:@@country:home:kelvin', 'microsite|ilc:@@country|home|kelvin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Wedding Photographer</p>
                            </div>
                            <p class="photographer-name">Kelvin Koh</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                <div id="photographer-sg-darren" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-darren.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:darren', 'ilc:@@country', 'ilc:@@country:home:darren', 'microsite|ilc:@@country|home|darren');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Architectural Photographer</p>
                            </div>
                            <p class="photographer-name">Darren Soh</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>

                <div id="photographer-sg-edward" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-edward.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:edward', 'ilc:@@country', 'ilc:@@country:home:edward', 'microsite|ilc:@@country|home|edward');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Landscape + Cityscape Photographer</p>
                            </div>
                            <p class="photographer-name">Edward Tian</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>

                <div id="photographer-sg-aloysius" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-aloysius.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:aloysius', 'ilc:@@country', 'ilc:@@country:home:aloysius', 'microsite|ilc:@@country|home|aloysius');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Wedding + Music</p>
                            </div>
                            <p class="photographer-name">Aloysius Lim</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>



                <div id="home-main" class="home-main col-md-12 hidden-sm hidden-xs">
                    <div class="bg desktop"></div>
                </div>


                <div id="photographer-ph-pilar" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/profile-pilar.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:pilar', 'ilc:@@country', 'ilc:@@country:home:pilar', 'microsite|ilc:@@country|home|pilar');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Wedding + Portrait + Fashion Photographer</p>
                            </div>
                            <p class="photographer-name">Pilar Trigo Bonnin</p>
                            <p class="country-name">Philippines</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-my-fakrul" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/profile-fakrul.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:fakrul', 'ilc:@@country', 'ilc:@@country:home:fakrul', 'microsite|ilc:@@country|home|fakrul');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Landscape Photographer</p>
                            </div>
                            <p class="photographer-name">Fakrul Jamil</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-th-tavepong" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/profile-tavepong.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:tavepong', 'ilc:@@country', 'ilc:@@country:home:tavepong', 'microsite|ilc:@@country|home|tavepong');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Street Photographer</p>
                            </div>
                            <p class="photographer-name">Tavepong Pratoomwong</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-th-vin" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/profile-vin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:vin', 'ilc:@@country', 'ilc:@@country:home:vin', 'microsite|ilc:@@country|home|vin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Landscape + Wedding Photographer</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-my-eric" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/profile-eric.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:eric', 'ilc:@@country', 'ilc:@@country:home:eric', 'microsite|ilc:@@country|home|eric');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Wedding Photographer</p>
                            </div>
                            <p class="photographer-name">Ooi Eric</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-ph-manny" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/profile-manny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:manny', 'ilc:@@country', 'ilc:@@country:home:manny', 'microsite|ilc:@@country|home|manny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Travel + Portrait + Fashion Photographer</p>
                            </div>
                            <p class="photographer-name">Manny Librodo</p>
                            <p class="country-name">Philippines</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-th-urasha" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/profile-urasha.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:urasha', 'ilc:@@country', 'ilc:@@country:home:urasha', 'microsite|ilc:@@country|home|urasha');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Portrait + Travel + Landscape Photographer</p>
                            </div>
                            <p class="photographer-name">Urasha Jakkachaphol</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-th-kriengkrai" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:kriengkrai', 'ilc:@@country', 'ilc:@@country:home:kriengkrai', 'microsite|ilc:@@country|home|kriengkrai');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Street + Travel + Documentary Photographer</p>
                            </div>
                            <p class="photographer-name">Kriengkrai Waiyakij</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <!-- <div id="photographer-id-glenn" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/profile-glenn.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:glenn', 'ilc:@@country', 'ilc:@@country:home:glenn', 'microsite|ilc:@@country|home|glenn');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Fashion + Portrait Photographer</p>
                            </div>
                            <p class="photographer-name">Glenn Prasetya</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div> -->





                <div id="photographer-my-nick" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/profile-nick.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:nick', 'ilc:@@country', 'ilc:@@country:home:nick', 'microsite|ilc:@@country|home|nick');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Travel + Documentary Photographer</p>
                            </div>
                            <p class="photographer-name">Nick Ng</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>


                 <div id="photographer-th-dow" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/profile-dow.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:dow', 'ilc:@@country', 'ilc:@@country:home:dow', 'microsite|ilc:@@country|home|dow');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Art &mp; Street photography</p>
                            </div>
                            <p class="photographer-name">Dow - Wasiksiri</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div>

                <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">

                    <div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <p class="photographer-name">Coming
                                <br />soon</p>
                        </div>

                    </div>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">

                    <div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <p class="photographer-name">Coming
                                <br />soon</p>
                        </div>

                    </div>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>


                <!-- <div id="photographer-th-vin" class="photographer-coming-soon photographer col-sm-12 col-md-2">
                    <a onclick="return false;">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/comingsoon_blurb.png" height="117" width="117" alt="More coming soon">
                            <img class="hidden-md hidden-lg" src="img/home/comingsoon_blurb-mobile.png" height="234" width="234" alt="More coming soon">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Landscape + Wedding Photographer</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div> -->




                <!-- <div class="clearfix"></div> -->



                <div class="col-xs-12 empty"></div>



            </div>

        </div>

    </div>

</section>