<div class="viet" id="other-profile-joyce">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/joyce/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Joyce Le Mesurier">
            <div>
                <p class="type">Travel</p>
                <p class="name">Joyce Le<br/>Mesurier</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>Joyce was born and raised in Singapore, and originally trained and practised as a lawyer for many years in Singapore, Hong Kong and London. Her love for travel and adventure was fuelled when she first travelled to Europe and the United States during her university holidays. Thereafter, the wanderlust set in. In 2000,  Joyce decided to take a break from the legal world to raise her young family and has never looked back! Joyce first dabbled in photography in the late 80s but with a point-and-shoot camera. She only decided to take up photography seriously as a hobby in 2010 when she purchased her first DSLR. In January 2013, Joyce went on her first photography trip to Myanmar and got completely hooked on travel photography. Since then, Joyce has travelled to Bhutan, Nepal, Sweden and Norway to capture the Northern Lights, and more recently to Ethiopia, Rajasthan and Iran. Joyce is passionate about life, travel and photography and has a great spirit of adventure. She enjoys discovering new places and learning about other cultures, and sharing her experiences through her photography. An award-winning photographer, Joyce's photographs have been featured in NatGeo Travel photography sites, Sony World Photography Organisation, Asian Geographic and the Smithsonian Magazine website. Joyce's photographs have been commissioned by a boutique hotel in Singapore and purchased by individuals from around the world. </p>

                <p>Her images can be viewed on her website <a href="http://fotojoys.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:fotojoys', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:fotojoys', 'microsite|ilc:sea:viet|profile|joyce|works|link|fotojoys');" target="_blank">www.fotojoys.com</a> as well as her Facebook page <a href="https://www.facebook.com/JoyceLeMesurierPhotography/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:mesurierphotography', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:mesurierphotography', 'microsite|ilc:sea:viet|profile|joyce|works|link|mesurierphotography');" target="_blank">Joyce Le Mesurier Photography</a> and Instagram account (<a href="https://www.instagram.com/fotojoys/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:instag', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:instag', 'microsite|ilc:sea:viet|profile|joyce|works|link|instag');" target="_blank">@fotojoys</a>).</p>

                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Travel</p>
                    <p class="name">Joyce Le Mesurier</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Joyce was born and raised in Singapore, and originally trained and practised as a lawyer for many years in Singapore, Hong Kong and London. Her love for travel and adventure was fuelled when she first travelled to Europe and the United States during her university holidays. Thereafter, the wanderlust set in. In 2000,  Joyce decided to take a break from the legal world to raise her young family and has never looked back! Joyce first dabbled in photography in the late 80s but with a point-and-shoot camera. She only decided to take up photography seriously as a hobby in 2010 when she purchased her first DSLR. In January 2013, Joyce went on her first photography trip to Myanmar and got completely hooked on travel photography. Since then, Joyce has travelled to Bhutan, Nepal, Sweden and Norway to capture the Northern Lights, and more recently to Ethiopia, Rajasthan and Iran. Joyce is passionate about life, travel and photography and has a great spirit of adventure. She enjoys discovering new places and learning about other cultures, and sharing her experiences through her photography. An award-winning photographer, Joyce's photographs have been featured in NatGeo Travel photography sites, Sony World Photography Organisation, Asian Geographic and the Smithsonian Magazine website. Joyce's photographs have been commissioned by a boutique hotel in Singapore and purchased by individuals from around the world. </p>

            <p>Her images can be viewed on her website <a href="http://fotojoys.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:fotojoys', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:fotojoys', 'microsite|ilc:sea:viet|profile|joyce|works|link|fotojoys');" target="_blank">www.fotojoys.com</a> as well as her Facebook page <a href="https://www.facebook.com/JoyceLeMesurierPhotography/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:mesurierphotography', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:mesurierphotography', 'microsite|ilc:sea:viet|profile|joyce|works|link|mesurierphotography');" target="_blank">Joyce Le Mesurier Photography</a> and Instagram account (<a href="https://www.instagram.com/fotojoys/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:joyce:works:link:instag', 'ilc:sea:viet', 'ilc:sea:viet:profile:joyce:works:link:instag', 'microsite|ilc:sea:viet|profile|joyce|works|link|instag');" target="_blank">@fotojoys</a>).</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Joyce</span>
                </p>
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For me, photography captures and encapsulates moments and memories that are often fleeting and irreplaceable, therefore impossible to repeat or reproduce. I find this especially true with portrait photography which is perhaps why I am most drawn to that genre of photography. I enjoy meeting people and interacting with them; the challenge I put to myself when I photograph people is to make them relax and feel comfortable in my presence. In the remote places I've travelled to, language is often a barrier but genuinely smiling at them often elicits a similar response from the subject being photographed. I like to try and capture the essence of a person through their portrait, and in most of the more remote and exotic places I have travelled to, I really enjoy the genuine happiness my subject feels from even just viewing what they look like on the back of my camera's LCD screen, as most of them have never been photographed or seen what they look like photographed.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Taking photographs of my children since they were born has been a key part of my love for photography in my personal life. Now that they are moody teenagers who are reluctant to be photographed, looking back at the happy memories and funny moments of the various stages of their growing years brings me a lot of joy. On the flip side, last year I lost my 80-year-old mum who had Alzheimer's in the last few years of her life. It was sad to witness the changes that were taking place in her life, over which she had no control. I tried to document these series of changes through photography but found it too overwhelming and sad. These days I look back at the photographs I captured of my mum in her happier years and am thankful for those memories of her. In terms of work, I have only recently started doing some assignments and commissioned work. It is important that I deliver a high standard of work for my clients as I want them to be happy with the end results.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/joyce/profile_pic-2.jpg" width="611" height="207" alt="Interview with Joyce">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The greatest challenge for me has been the heavy weight and bulk of my DSLR system. The mirrorless and full-frame Sony's a7 series is fantastic for reducing both the bulk and weight of the camera gear to be lugged about. It also makes it a lot easier for me if I want to do street photography without being so obtrusive.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Which is/are your favourite features found on the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I really like the electronic viewfinder and flipscreen; the latter allows me to shoot really low or elevated, and also in situations where I shoot street photography and want to be unobtrusive. I can view images through the flipscreen. I also like the Wi-Fi<sup>&reg;</sup> connectivity function which allows me to download the images from Sony's camera to my mobile phone very quickly, enabling me to then upload the images on social media in fairly quick real time.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite pair of lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Right now, I only shoot with the ZEISS<sup>&reg;</sup> 35mm f/2.8 lens as I am eagerly awaiting the official release of the 24-70mm f/2.8 lens, and am also seriously thinking of acquiring other lenses to go with my Sony camera!</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Neutral density filters, lens cleaner cloth, lens pen, my other DSLR camera with spare lenses, extra batteries, and a cable release for long exposure shots.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/joyce/profile_pic-3.jpg" width="611" height="207" alt="Interview with Joyce">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Joyce</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/joyce/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Joyce"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For me, photography captures and encapsulates moments and memories that are often fleeting and irreplaceable, therefore impossible to repeat or reproduce. I find this especially true with portrait photography which is perhaps why I am most drawn to that genre of photography. I enjoy meeting people and interacting with them; the challenge I put to myself when I photograph people is to make them relax and feel comfortable in my presence. In the remote places I've travelled to, language is often a barrier but genuinely smiling at them often elicits a similar response from the subject being photographed. I like to try and capture the essence of a person through their portrait, and in most of the more remote and exotic places I have travelled to, I really enjoy the genuine happiness my subject feels from even just viewing what they look like on the back of my camera's LCD screen, as most of them have never been photographed or seen what they look like photographed.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Taking photographs of my children since they were born has been a key part of my love for photography in my personal life. Now that they are moody teenagers who are reluctant to be photographed, looking back at the happy memories and funny moments of the various stages of their growing years brings me a lot of joy. On the flip side, last year I lost my 80-year-old mum who had Alzheimer's in the last few years of her life. It was sad to witness the changes that were taking place in her life, over which she had no control. I tried to document these series of changes through photography but found it too overwhelming and sad. These days I look back at the photographs I captured of my mum in her happier years and am thankful for those memories of her. In terms of work, I have only recently started doing some assignments and commissioned work. It is important that I deliver a high standard of work for my clients as I want them to be happy with the end results.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The greatest challenge for me has been the heavy weight and bulk of my DSLR system. The mirrorless and full-frame Sony's a7 series is fantastic for reducing both the bulk and weight of the camera gear to be lugged about. It also makes it a lot easier for me if I want to do street photography without being so obtrusive.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Which is/are your favourite features found on the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I really like the electronic viewfinder and flipscreen; the latter allows me to shoot really low or elevated, and also in situations where I shoot street photography and want to be unobtrusive. I can view images through the flipscreen. I also like the Wi-Fi<sup>&reg;</sup> connectivity function which allows me to download the images from Sony's camera to my mobile phone very quickly, enabling me to then upload the images on social media in fairly quick real time.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite pair of lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Right now, I only shoot with the ZEISS<sup>&reg;</sup> 35mm f/2.8 lens as I am eagerly awaiting the official release of the 24-70mm f/2.8 lens, and am also seriously thinking of acquiring other lenses to go with my Sony camera!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What's in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Neutral density filters, lens cleaner cloth, lens pen, my other DSLR camera with spare lenses, extra batteries, and a cable release for long exposure shots.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
