<div class="viet" id="profile-glenn">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:200px;">
            <div>
                <p class="type">Nhiếp ảnh gia Thời Trang + Chân Dung</p>
                <p class="name">Glenn Prasetya</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Indonesia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Thời Trang + Chân Dung</p>
                    <p class="name">Glenn Prasetya</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Indonesia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>7 năm kinh nghiệm trong lĩnh vực nhiếp ảnh có thể chưa được gọi là thâm niên nhưng những gì Glenn Prasetya đạt được trong khoảng thời gian này là vô cùng ấn tượng. Là một người cầu toàn, sự chú trọng đến từng chi tiết dù nhỏ nhất đã giúp Glenn trở thành một sự lựa chọn đáng tin cậy của nhiều nhãn hàng thời trang và làm đẹp, cả trong nước lẫn quốc tế. Danh mục các tác phẩm của anh có cả thời gian làm việc với các tên tuổi lớn trong ngành như Christophe Gaillet, Jacques Uzzardi và Hyun Tae trong các chiến dịch quảng cáo của vùng, cũng như các dự án cho những thương hiệu thời trang quốc tế. Như một lẽ tự nhiên, những thành tựu này của Glenn được ghi nhận qua hàng loạt các giải thưởng danh giá như: Nhiếp Ảnh Gia của Năm tại Elle Style Award 2011 và anh cũng được chọn để đại diện cho Nhiếp Ảnh Gia Chính Thức của L'Oreal Paris Indonesia tham dự Liên Hoan Phim Cannes 2013.</p>

            <p>Các triển lãm:</p>

            <p>
                2008: a+ 8 elements of life (8 nhân tố làm nên cuộc sống), Jakarta
                <br/>2009: IndividualistS (Những người theo chủ nghĩa cá nhân), Galeri Salihara, Jakarta
                <br/>2010: L'OREAL Open Your Eyes and Transform! (L'OREAl Mở Mắt Ra và Thay Đổi!), Thư viện Patio, Jakarta
                <br/>2011: BEYOND PHOTOGRAPHY 2011 (TRÊN CẢ NHIẾP ẢNH 2011), Trung tâm Ciputra Artpreneur, Jakarta
                <br/>2013: FASHION MUSES, triển lãm cá nhân tại Plaza Indonesia, Jakarta
                <br/>2013: SHARP DRESSED MEN, triển lãm cá nhân hợp tác với MEN'S FOLIO tại Plaza Indonesia
                <br/>2013: Triển lãm BREAST CANCER CAMPAIGN (CHIẾN DỊCH UNG THƯ VÚ), hợp tác với L'Officiel tại Plaza Indonesia
                <br/>2013: Triển lãm lần thứ 24 PLAZA INDONESIA tại Plaza Indonesia, Jakarta
                <br/>2014: Triễn lãm ảnh TEMANTEMAN.ORG tại Senayan City, Jakarta
                <br/>2014: Triễn lãm URBAN ART (NGHỆ THUẬT ĐÔ THỊ) cùng STUDIO47 tại Kuningan City, Jakarta
                <br/>2014: Triễn lãm hợp tác giữa IBU KOTA và KELAS PAGI JOGJA, Yogyakarta
                <br/>2014: Triễn lãm TRAVELLING GENTLEMEN (QUÝ ÔNG THÍCH DU HÍ) tại Senayan City, Jakarta hợp tác cùng MEN'S FOLIO Indonesia và GARUDA Indonesia
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>7 năm kinh nghiệm trong lĩnh vực nhiếp ảnh có thể chưa được gọi là thâm niên nhưng những gì Glenn Prasetya đạt được trong khoảng thời gian này là vô cùng ấn tượng. Là một người cầu toàn, sự chú trọng đến từng chi tiết dù nhỏ nhất đã giúp Glenn trở thành một sự lựa chọn đáng tin cậy của nhiều nhãn hàng thời trang và làm đẹp, cả trong nước lẫn quốc tế. Danh mục các tác phẩm của anh có cả thời gian làm việc với các tên tuổi lớn trong ngành như Christophe Gaillet, Jacques Uzzardi và Hyun Tae trong các chiến dịch quảng cáo của vùng, cũng như các dự án cho những thương hiệu thời trang quốc tế. Như một lẽ tự nhiên, những thành tựu này của Glenn được ghi nhận qua hàng loạt các giải thưởng danh giá như: Nhiếp Ảnh Gia của Năm tại Elle Style Award 2011 và anh cũng được chọn để đại diện cho Nhiếp Ảnh Gia Chính Thức của L'Oreal Paris Indonesia tham dự Liên Hoan Phim Cannes 2013.</p>

            <p>Các triển lãm:</p>

            <p>
                2008: a+ 8 elements of life (8 nhân tố làm nên cuộc sống), Jakarta
                <br/>2009: IndividualistS (Những người theo chủ nghĩa cá nhân), Galeri Salihara, Jakarta
                <br/>2010: L'OREAL Open Your Eyes and Transform! (L'OREAl Mở Mắt Ra và Thay Đổi!), Thư viện Patio, Jakarta
                <br/>2011: BEYOND PHOTOGRAPHY 2011 (TRÊN CẢ NHIẾP ẢNH 2011), Trung tâm Ciputra Artpreneur, Jakarta
                <br/>2013: FASHION MUSES, triển lãm cá nhân tại Plaza Indonesia, Jakarta
                <br/>2013: SHARP DRESSED MEN, triển lãm cá nhân hợp tác với MEN'S FOLIO tại Plaza Indonesia
                <br/>2013: Triển lãm BREAST CANCER CAMPAIGN (CHIẾN DỊCH UNG THƯ VÚ), hợp tác với L'Officiel tại Plaza Indonesia
                <br/>2013: Triển lãm lần thứ 24 PLAZA INDONESIA tại Plaza Indonesia, Jakarta
                <br/>2014: Triễn lãm ảnh TEMANTEMAN.ORG tại Senayan City, Jakarta
                <br/>2014: Triễn lãm URBAN ART (NGHỆ THUẬT ĐÔ THỊ) cùng STUDIO47 tại Kuningan City, Jakarta
                <br/>2014: Triễn lãm hợp tác giữa IBU KOTA và KELAS PAGI JOGJA, Yogyakarta
                <br/>2014: Triễn lãm TRAVELLING GENTLEMEN (QUÝ ÔNG THÍCH DU HÍ) tại Senayan City, Jakarta hợp tác cùng MEN'S FOLIO Indonesia và GARUDA Indonesia
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Glenn</span>
                </p>
                <img data-original="img/profile/id/glenn/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Glenn">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/glenn/quote-1-vn.png" width="303" height="304" alt="Glenn's quote">

                <img id="vn" class="quote-2 img-responsive center-block" src="img/profile/id/glenn/quote-2-vn.png" width="312" height="247" alt="Glenn's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi yêu thời trang và nhiếp ảnh là công cụ để tôi thể hiện được điều đó. Thông qua nhiếp ảnh, tôi có thể ghi lại những điều tuyệt vời đã truyền cảm hứng cho tôi. Do đó, về căn bản là tôi đang ghi lại cuộc sống và đam mê của mình thông qua nhiếp ảnh.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Với tôi nhiếp ảnh là một đam mê. Và tôi đã đi qua nhiều giai đoạn của cuộc đời với đam mê này. Tôi bắt đầu như một kẻ mơ mộng thích thời trang, vào cái thời mà người ta không tin rằng nhiếp ảnh gia là một nghề thực thụ mà chỉ là một sở thích thoáng qua. Và giờ đây, nhiếp ảnh đã đưa tôi đến nhiều nơi và mang đến cho tôi một cuộc sống đơn giản tuyệt vời hơn, đây cũng là điều mà tôi trân trọng nhất bên cạnh gia đình nhỏ của mình. Nên, câu trả lời là có, nhiếp ảnh là một phần rất quan trọng trong tôi.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-2.jpg" width="611" height="207" alt="Interview with Glenn">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đơn giản nhưng phải thật hiệu quả!</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Mọi thứ xung quanh, dù ít dù nhiều, đều có ảnh hưởng đến công việc và cuộc sống cá nhân của tôi. Tôi thích đi đây đi đó và học hỏi từ những nhiếp ảnh gia mà tôi thần tượng để được truyền cảm hứng, hầu hết là những nhiếp ảnh gia trong ngành thời trang như Steven Meissel, Camilla Arkrans và Chen Man.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh đưa tôi đến rất nhiều nơi với những điều kiện khác nhau; vì thế, thử thách lớn nhất đối với tôi là làm sao để di chuyển một cách nhẹ nhàng nhất với một thiết bị chụp ảnh hiệu năng cao để hỗ trợ cho công việc. Và Sony a7R đã đáp ứng được yêu cầu của tôi một cách hoàn hảo.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhờ thiết kế gọn nhẹ và công nghệ không gương lật, tôi có thể di chuyển vô cùng nhẹ nhàng mà vẫn có thể tạo ra những bức ảnh chất lượng cao.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đầu tiên phải kể đến cảm biến full-frame 36.3-megapixel đáp ứng được nhu cầu in ảnh chất lượng cao của tôi. Tiếp đó là kết nối Wi-Fi cho phép tôi xuất ảnh và cho các nhóm xem trước ngay trong buổi chụp.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi có thể nói là 9 trên 10. Tôi luôn chừa lại 1 điểm để dành cho sự hoàn hảo tuyệt đối.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/glenn/profile_pic-3.jpg" width="611" height="207" alt="Interview with Glenn">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích ghi lại những bức ảnh cận cảnh đẹp hoàn hảo với ống kính 90mm mới từ Sony.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Máy ảnh Sony a7R, ống kính 24-70mm, 70-200mm, 3 thẻ SD, bộ truyền dẫn, và 1 Macbook air.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Glenn</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/glenn/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Glenn"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi yêu thời trang và nhiếp ảnh là công cụ để tôi thể hiện được điều đó. Thông qua nhiếp ảnh, tôi có thể ghi lại những điều tuyệt vời đã truyền cảm hứng cho tôi. Do đó, về căn bản là tôi đang ghi lại cuộc sống và đam mê của mình thông qua nhiếp ảnh.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Với tôi nhiếp ảnh là một đam mê. Và tôi đã đi qua nhiều giai đoạn của cuộc đời với đam mê này. Tôi bắt đầu như một kẻ mơ mộng thích thời trang, vào cái thời mà người ta không tin rằng nhiếp ảnh gia là một nghề thực thụ mà chỉ là một sở thích thoáng qua. Và giờ đây, nhiếp ảnh đã đưa tôi đến nhiều nơi và mang đến cho tôi một cuộc sống đơn giản tuyệt vời hơn, đây cũng là điều mà tôi trân trọng nhất bên cạnh gia đình nhỏ của mình. Nên, câu trả lời là có, nhiếp ảnh là một phần rất quan trọng trong tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đơn giản nhưng phải thật hiệu quả!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Mọi thứ xung quanh, dù ít dù nhiều, đều có ảnh hưởng đến công việc và cuộc sống cá nhân của tôi. Tôi thích đi đây đi đó và học hỏi từ những nhiếp ảnh gia mà tôi thần tượng để được truyền cảm hứng, hầu hết là những nhiếp ảnh gia trong ngành thời trang như Steven Meissel, Camilla Arkrans và Chen Man.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đưa tôi đến rất nhiều nơi với những điều kiện khác nhau; vì thế, thử thách lớn nhất đối với tôi là làm sao để di chuyển một cách nhẹ nhàng nhất với một thiết bị chụp ảnh hiệu năng cao để hỗ trợ cho công việc. Và Sony a7R đã đáp ứng được yêu cầu của tôi một cách hoàn hảo.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhờ thiết kế gọn nhẹ và công nghệ không gương lật, tôi có thể di chuyển vô cùng nhẹ nhàng mà vẫn có thể tạo ra những bức ảnh chất lượng cao.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đầu tiên phải kể đến cảm biến full-frame 36.3-megapixel đáp ứng được nhu cầu in ảnh chất lượng cao của tôi. Tiếp đó là kết nối Wi-Fi cho phép tôi xuất ảnh và cho các nhóm xem trước ngay trong buổi chụp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi có thể nói là 9 trên 10. Tôi luôn chừa lại 1 điểm để dành cho sự hoàn hảo tuyệt đối.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích ghi lại những bức ảnh cận cảnh đẹp hoàn hảo với ống kính 90mm mới từ Sony.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Máy ảnh Sony a7R, ống kính 24-70mm, 70-200mm, 3 thẻ SD, bộ truyền dẫn, và 1 Macbook air.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
