<div class="viet" id="profile-pilar">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Ảnh Cưới + Chân Dung + Thời Trang</p>
                <p class="name">Pilar Trigo Bonnin</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">Nhiếp ảnh gia Ảnh Cưới + Chân Dung + Thời Trang</p>
                    <p class="name">Pilar Trigo Bonnin</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Pilar Trigo Bonnin là một nhiếp ảnh gia nổi tiếng và được săn đón nhất của Philippines trong lĩnh vực ảnh cưới, chân dung và thời trang. Cô chụp bộ ảnh cưới đầu tiên cách đây 14 năm và từ đó đến nay Pilar đã nhận được rất nhiều giải thưởng cho các tác phẩm của mình. Ngoài ra, cô còn được bình chọn là Nhiếp Ảnh Gia của Năm 2013 bởi Hiệp Hội Các Nhiếp Ảnh Gia Ảnh Cưới Và Chân Dung của Philippines. Với lòng đam mê học hỏi và mong muốn không ngừng nâng cao tay nghề, Pilar đã theo học khóa Chân Dung Cổ Điển và Ánh Sáng từ nhiếp ảnh gia huyền thoại Monte Zucker (Pilar là nhiếp ảnh gia ảnh cưới duy nhất đã học được những kĩ thuật cổ điển từ Monte Zucker).</p>

            <p>Trong lĩnh vực quảng cáo và thời trang, Pilar đã thực hiện các dự án ảnh quảng cáo cho Sony, Penshoppe, Dove, Ayala Properties, Robinson Properties, Wacoal, Mead Johnson, GlyDerm, Beverly Hills 6750, Tru Bags, Armscor, Tierra de Espana, Cotton Stuff, NBA Babies, Stoked Inc. và nhiều nhãn hàng khác. Ngoài ra, cô cũng từng chụp ảnh quảng cáo cho nhà thiết kế Jun Escario, Oliver Tolentino và Kristel Yulo.</p>

            <p>Trong lĩnh vực chân dung, Pilar thích chụp chủ thể trong studio cũng như ngoài trời, và luôn rất chú trọng về ánh sáng. Pilar là Tổng Biên Tập của Tạp Chí Nhiếp Ảnh hàng đầu Philippines, Digital Photographer Philippines. Đồng thời, cô cũng là Giám Đốc Sáng Tạo cho Lonely Planet Philippines, Wedding Belle và Olive Magazine.</p>

            <p>Bên cạnh đó, Pilar cũng tổ chức nhiều hội thảo về chủ đề Ánh Sáng Studio, Nghệ Thuật Chân Dung và Ảnh Cưới.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Pilar Trigo Bonnin là một nhiếp ảnh gia nổi tiếng và được săn đón nhất của Philippines trong lĩnh vực ảnh cưới, chân dung và thời trang. Cô chụp bộ ảnh cưới đầu tiên cách đây 14 năm và từ đó đến nay Pilar đã nhận được rất nhiều giải thưởng cho các tác phẩm của mình. Ngoài ra, cô còn được bình chọn là Nhiếp Ảnh Gia của Năm 2013 bởi Hiệp Hội Các Nhiếp Ảnh Gia Ảnh Cưới Và Chân Dung của Philippines. Với lòng đam mê học hỏi và mong muốn không ngừng nâng cao tay nghề, Pilar đã theo học khóa Chân Dung Cổ Điển và Ánh Sáng từ nhiếp ảnh gia huyền thoại Monte Zucker (Pilar là nhiếp ảnh gia ảnh cưới duy nhất đã học được những kĩ thuật cổ điển từ Monte Zucker).</p>

            <p>Trong lĩnh vực quảng cáo và thời trang, Pilar đã thực hiện các dự án ảnh quảng cáo cho Sony, Penshoppe, Dove, Ayala Properties, Robinson Properties, Wacoal, Mead Johnson, GlyDerm, Beverly Hills 6750, Tru Bags, Armscor, Tierra de Espana, Cotton Stuff, NBA Babies, Stoked Inc. và nhiều nhãn hàng khác. Ngoài ra, cô cũng từng chụp ảnh quảng cáo cho nhà thiết kế Jun Escario, Oliver Tolentino và Kristel Yulo.</p>

            <p>Trong lĩnh vực chân dung, Pilar thích chụp chủ thể trong studio cũng như ngoài trời, và luôn rất chú trọng về ánh sáng. Pilar là Tổng Biên Tập của Tạp Chí Nhiếp Ảnh hàng đầu Philippines, Digital Photographer Philippines. Đồng thời, cô cũng là Giám Đốc Sáng Tạo cho Lonely Planet Philippines, Wedding Belle và Olive Magazine.</p>

            <p>Bên cạnh đó, Pilar cũng tổ chức nhiều hội thảo về chủ đề Ánh Sáng Studio, Nghệ Thuật Chân Dung và Ảnh Cưới.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Pilar</span>
                </p>
                <img data-original="img/profile/ph/pilar/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Pilar">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pilar/quote-1-vn.png" width="310" height="300" alt="Pilar's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/pilar/quote-2-vn.png" width="305" height="373" alt="Pilar's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc chị trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Kể khi bắt đầu làm quen với nhiếp ảnh, bất kể sắc thái nào của tình yêu, vẻ đẹp và niềm hứng khởi, và việc đi đến một nơi mới để trải nghiệm những điều mới lạ và độc đáo luôn luôn là những nguồn động lực cho tôi.  Đơn giản như việc tìm được cảm hứng trong một bộ phim điện ảnh cũng khiến tôi muốn chụp ảnh và tạo ra phiên bản của chính tôi về một cảnh nào đó trong bộ phim.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của chị?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đối với công việc, tôi thật sự không thể hình dung ra mình có thể làm việc gì khác ngoài chụp ảnh. Đây là cuộc sống, là đam mê của tôi. Tôi rất may mắt khi tìm được đam mê và biến đam mê trở thành nghề của mình. Đối với cuộc sống cá nhân, nhiếp ảnh thể hiện cho sự tồn tại của tôi. Cho dù đó là về những chuyến đi hay về những người thân thương của tôi. Đối với tôi, con tôi là luôn là chủ đề ưa thích muôn thuở cho những bức ảnh. Tôi cẩn thận lưu giữ lại từng khoảnh khắc và những bức chân dung ngày qua ngày như một món quà cho chúng.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-2.jpg" width="611" height="207" alt="Interview with Pilar">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Kỳ vọng của tôi đối với những thiết bị chụp ảnh là phải đáp ứng được mọi nhu cầu của tôi khi cần. Tôi muốn kiểm soát một cách hoàn toàn với thiết bị của mình, để mỗi khi tôi cần chụp một điều gì đó, chiếc máy ảnh và các phụ kiện có thể hoạt động như một phần của tôi và tôi không bao giờ phải sợ mất đi một khoảnh khắc hay bất kỳ cơ hội nào vì những hạn chế của chúng.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của chị?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi chịu ảnh hưởng của rất nhiều nhiếp ảnh gia danh tiếng, chủ yếu là từ Geroge Hurrel đối với ảnh chân dung, Henri Cartier-Bresson đối với nhiếp ảnh đường phố và nhiều nhiều những nhiếp ảnh gia khác. Tôi cũng lấy cảm hứng từ nhiều bức chân dung cổ điển từ các hoạ sĩ thời Phục Hưng.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với chị trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Vấn đề trọng lượng giờ đây đã không còn kể từ khi tôi chuyển sang sử dụng a7 series. Tôi thích sử dụng a7 cho mọi bức ảnh. Đám cưới, ảnh studio, du lịch và chân dung. Tôi gần như không cần sử dụng flash nhờ dải ISO ấn tượng của máy, điều này giúp tôi “kín đáo” hơn mỗi khi chụp cưới hay chụp sự kiện.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao chị lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích sự “không phô trương” của chiếc máy ảnh và chất ảnh đáng kinh ngạc mà nó mang lại. Trong những chuyến du lịch cá nhân, túi máy ảnh của tôi chưa bao giờ nhỏ gọn đến thế. Tôi có thể du lịch chỉ với một máy ảnh và một vài ống kính, mà vẫn có được những bức ảnh thậm chí còn tuyệt vời hơn khi dùng những chiếc máy DSLR cồng kềnh. Giờ đây tôi cảm thấy như mình không còn là “nô lệ” của thiết bị, của những gánh nặng mà nó mang lại, chỉ để có được một kết quả tương tự như những gì a7 series đang làm được cho tôi.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi cực kỳ đánh giá cao kích thước, sự linh hoạt của việc có thể sử dụng các ống của a99 và các ống kính chỉnh tay cũ của tôi (từ hãng thứ ba) trên chiếc máy ảnh này. Đây như là một thế giới nhiếp ảnh hoàn toàn mới đang mở ra với tôi. Ngoài ra, tôi cũng thích tính năng Làm Nổi Cạnh (Focus Peaking) – một tính năng hỗ trợ cho tôi rất nhiều để có được những bức ảnh sắc nét ở các thiết lập khẩu độ lớn nhất. Và công nghệ ổn định ảnh 5 trục cũng rất hữu ích trong những điều kiện thiếu sáng khi chụp ảnh cưới. Một tính năng khác mà tôi rất thích chính là khe ngắm OLED. Tôi không còn phải “đoán già đoán non” mỗi khi chụp ảnh – giờ đây chỉ cần xem trước ngay trong khung ngắm và điều chỉnh độ sáng phù hợp trước khi chụp.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Không có gì nghi ngờ khi khẳng định họ là một thương hiệu dẫn đầu trong lĩnh vực ảnh số. Không một chiếc máy ảnh nào có thể bì kịp những gì mà họ đã và đang tạo ra.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pilar/profile_pic-3.jpg" width="611" height="207" alt="Interview with Pilar">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của chị là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi yêu thích rất nhiều mẫu ống kính, đặc biệt là những ống kính tiêu cự cố định. Nhưng đối với loại hình chân dung ngoài trời, tôi rất thích sử dụng ống kính Zeiss 135mm f1.8. Khi chụp trong studio, tôi thường dùng ống kính 85mm f1.4. Cả hai đều có khả năng mang đến hình ảnh sắc nét và màu sắc hoàn hảo ngay cả khi chưa chỉnh sửa.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi dùng a7II, 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8 và 100 Macro 2.8.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Pilar</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pilar/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Pilar"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc chị trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Kể khi bắt đầu làm quen với nhiếp ảnh, bất kể sắc thái nào của tình yêu, vẻ đẹp và niềm hứng khởi, và việc đi đến một nơi mới để trải nghiệm những điều mới lạ và độc đáo luôn luôn là những nguồn động lực cho tôi.  Đơn giản như việc tìm được cảm hứng trong một bộ phim điện ảnh cũng khiến tôi muốn chụp ảnh và tạo ra phiên bản của chính tôi về một cảnh nào đó trong bộ phim.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của chị?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đối với công việc, tôi thật sự không thể hình dung ra mình có thể làm việc gì khác ngoài chụp ảnh. Đây là cuộc sống, là đam mê của tôi. Tôi rất may mắt khi tìm được đam mê và biến đam mê trở thành nghề của mình. Đối với cuộc sống cá nhân, nhiếp ảnh thể hiện cho sự tồn tại của tôi. Cho dù đó là về những chuyến đi hay về những người thân thương của tôi. Đối với tôi, con tôi là luôn là chủ đề ưa thích muôn thuở cho những bức ảnh. Tôi cẩn thận lưu giữ lại từng khoảnh khắc và những bức chân dung ngày qua ngày như một món quà cho chúng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Kỳ vọng của tôi đối với những thiết bị chụp ảnh là phải đáp ứng được mọi nhu cầu của tôi khi cần. Tôi muốn kiểm soát một cách hoàn toàn với thiết bị của mình, để mỗi khi tôi cần chụp một điều gì đó, chiếc máy ảnh và các phụ kiện có thể hoạt động như một phần của tôi và tôi không bao giờ phải sợ mất đi một khoảnh khắc hay bất kỳ cơ hội nào vì những hạn chế của chúng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của chị?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi chịu ảnh hưởng của rất nhiều nhiếp ảnh gia danh tiếng, chủ yếu là từ Geroge Hurrel đối với ảnh chân dung, Henri Cartier-Bresson đối với nhiếp ảnh đường phố và nhiều nhiều những nhiếp ảnh gia khác. Tôi cũng lấy cảm hứng từ nhiều bức chân dung cổ điển từ các hoạ sĩ thời Phục Hưng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với chị trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Vấn đề trọng lượng giờ đây đã không còn kể từ khi tôi chuyển sang sử dụng a7 series. Tôi thích sử dụng a7 cho mọi bức ảnh. Đám cưới, ảnh studio, du lịch và chân dung. Tôi gần như không cần sử dụng flash nhờ dải ISO ấn tượng của máy, điều này giúp tôi “kín đáo” hơn mỗi khi chụp cưới hay chụp sự kiện.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao chị lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích sự “không phô trương” của chiếc máy ảnh và chất ảnh đáng kinh ngạc mà nó mang lại. Trong những chuyến du lịch cá nhân, túi máy ảnh của tôi chưa bao giờ nhỏ gọn đến thế. Tôi có thể du lịch chỉ với một máy ảnh và một vài ống kính, mà vẫn có được những bức ảnh thậm chí còn tuyệt vời hơn khi dùng những chiếc máy DSLR cồng kềnh. Giờ đây tôi cảm thấy như mình không còn là “nô lệ” của thiết bị, của những gánh nặng mà nó mang lại, chỉ để có được một kết quả tương tự như những gì a7 series đang làm được cho tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi cực kỳ đánh giá cao kích thước, sự linh hoạt của việc có thể sử dụng các ống của a99 và các ống kính chỉnh tay cũ của tôi (từ hãng thứ ba) trên chiếc máy ảnh này. Đây như là một thế giới nhiếp ảnh hoàn toàn mới đang mở ra với tôi. Ngoài ra, tôi cũng thích tính năng Làm Nổi Cạnh (Focus Peaking) – một tính năng hỗ trợ cho tôi rất nhiều để có được những bức ảnh sắc nét ở các thiết lập khẩu độ lớn nhất. Và công nghệ ổn định ảnh 5 trục cũng rất hữu ích trong những điều kiện thiếu sáng khi chụp ảnh cưới. Một tính năng khác mà tôi rất thích chính là khe ngắm OLED. Tôi không còn phải “đoán già đoán non” mỗi khi chụp ảnh – giờ đây chỉ cần xem trước ngay trong khung ngắm và điều chỉnh độ sáng phù hợp trước khi chụp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Không có gì nghi ngờ khi khẳng định họ là một thương hiệu dẫn đầu trong lĩnh vực ảnh số. Không một chiếc máy ảnh nào có thể bì kịp những gì mà họ đã và đang tạo ra.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của chị là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi yêu thích rất nhiều mẫu ống kính, đặc biệt là những ống kính tiêu cự cố định. Nhưng đối với loại hình chân dung ngoài trời, tôi rất thích sử dụng ống kính Zeiss 135mm f1.8. Khi chụp trong studio, tôi thường dùng ống kính 85mm f1.4. Cả hai đều có khả năng mang đến hình ảnh sắc nét và màu sắc hoàn hảo ngay cả khi chưa chỉnh sửa.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi dùng a7II, 16-35 CZ 2.8, 24-70 CZ 2.8, 70-200 2.8, 24 CZ 2.0, 85 CZ 1.4, 135 CZ 1.8 và 100 Macro 2.8.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
