<div class="viet" id="profile-manny">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Du Lịch + Chân Dung + Thời Trang</p>
                <p class="name">Manny Librodo</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5 col-sm-offset-1">

                <div>
                    <p class="type">Nhiếp ảnh gia Du Lịch + Chân Dung + Thời Trang</p>
                    <p class="name">Manny Librodo</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>MANUEL L. LIBRODO JR. là một nhiếp ảnh gia nổi tiếng, đặc biệt trong lĩnh vực nhiếp ảnh du lịch, con người và thời trang. Danh tiếng của anh trong giới nhiếp ảnh và với người hâm mộ được chứng minh với hơn 27 triệu lượt xem trên tài khoản Pbase của anh và hơn 120,000 người theo dõi trên trang Facebook cá nhân và fanpage. Các tác phẩm của anh đã xuất hiện trong nhiều ấn phẩm trên toàn thế giới, bao gồm hàng loạt các trang bìa tạp chí cho Asian Geographic và lịch của UNICEF.</p>

            <p>Một vài tên tuổi lớn trong giới nhiếp ảnh thế giới đã dành những lời khen ngợi cho các tác phẩm của Librodo. Năm 2009, Scott Kelby đã gọi Librodo là một nhiếp ảnh gia có “cái nhìn tinh tế” có khả năng “tạo ra phép màu thuần khiết”. Kelby cũng cho rằng Librodo là “một trong 5 nhiếp ảnh gia đẳng cấp nhất thế giới mà bạn có thể chưa nghe đến”. Zack Arias, một bậc thầy nhiếp ảnh khác, đã nhận định rằng tầm nhìn của Librodo vượt mọi giới hạn nhiếp ảnh. Năm ngoái, một blogger nổi tiếng (với hơn 15 triệu người theo dõi) tại boredpanda.com, đã nói đến anh như một trong 10 nhiếp ảnh gia nổi tiếng nhất thế giới về nhiếp ảnh chân dung.</p>

            <p>Thực tế, Librodo đã khẳng định được đẳng cấp của mình và được mời làm giám khảo trong hàng loạt các cuộc thi ảnh quốc tế, cũng như phát biểu tại những cuộc hội thảo quốc tế về nhiếp ảnh bên cạnh hàng loạt các nhận vật nổi tiếng như Joey Lawrence, Michael Yamashita, Zack Arias & Steve McCurry.</p>

            <p>Librodo cũng là một trong những cố vấn nhiếp ảnh được săn đón nhiều nhất, với hơn 150 buổi hội thảo trên toàn thế giới từ năm 2007. Anh đã dạy hơn 1000 học sinh, rất nhiều trong số đó đã gặt hái được những thành công nhất định trong sự nghiệp nhiếp ảnh của mình. Ngoài ra, anh cũng từng hợp tác với vô số người mẫu bao gồm cả những hoa hậu thế giới và các nhân vật nổi tiếng khác.</p>

            <p>Manny Librodo sinh ra tại Lambunao, Iloilo, Philippines. Anh tốt nghiệp thủ khoa ở trung học và theo học một trường đại học tại Visayas, Philippines. Trước khi cống hiến toàn bộ cho sự nghiệp nhiếp ảnh, anh đã từng là một giáo viên trung học tại một trường quốc tế hàng đầu của Thái Lan.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>MANUEL L. LIBRODO JR. là một nhiếp ảnh gia nổi tiếng, đặc biệt trong lĩnh vực nhiếp ảnh du lịch, con người và thời trang. Danh tiếng của anh trong giới nhiếp ảnh và với người hâm mộ được chứng minh với hơn 27 triệu lượt xem trên tài khoản Pbase của anh và hơn 120,000 người theo dõi trên trang Facebook cá nhân và fanpage. Các tác phẩm của anh đã xuất hiện trong nhiều ấn phẩm trên toàn thế giới, bao gồm hàng loạt các trang bìa tạp chí cho Asian Geographic và lịch của UNICEF.</p>

            <p>Một vài tên tuổi lớn trong giới nhiếp ảnh thế giới đã dành những lời khen ngợi cho các tác phẩm của Librodo. Năm 2009, Scott Kelby đã gọi Librodo là một nhiếp ảnh gia có “cái nhìn tinh tế” có khả năng “tạo ra phép màu thuần khiết”. Kelby cũng cho rằng Librodo là “một trong 5 nhiếp ảnh gia đẳng cấp nhất thế giới mà bạn có thể chưa nghe đến”. Zack Arias, một bậc thầy nhiếp ảnh khác, đã nhận định rằng tầm nhìn của Librodo vượt mọi giới hạn nhiếp ảnh. Năm ngoái, một blogger nổi tiếng (với hơn 15 triệu người theo dõi) tại boredpanda.com, đã nói đến anh như một trong 10 nhiếp ảnh gia nổi tiếng nhất thế giới về nhiếp ảnh chân dung.</p>

            <p>Thực tế, Librodo đã khẳng định được đẳng cấp của mình và được mời làm giám khảo trong hàng loạt các cuộc thi ảnh quốc tế, cũng như phát biểu tại những cuộc hội thảo quốc tế về nhiếp ảnh bên cạnh hàng loạt các nhận vật nổi tiếng như Joey Lawrence, Michael Yamashita, Zack Arias & Steve McCurry.</p>

            <p>Librodo cũng là một trong những cố vấn nhiếp ảnh được săn đón nhiều nhất, với hơn 150 buổi hội thảo trên toàn thế giới từ năm 2007. Anh đã dạy hơn 1000 học sinh, rất nhiều trong số đó đã gặt hái được những thành công nhất định trong sự nghiệp nhiếp ảnh của mình. Ngoài ra, anh cũng từng hợp tác với vô số người mẫu bao gồm cả những hoa hậu thế giới và các nhân vật nổi tiếng khác.</p>

            <p>Manny Librodo sinh ra tại Lambunao, Iloilo, Philippines. Anh tốt nghiệp thủ khoa ở trung học và theo học một trường đại học tại Visayas, Philippines. Trước khi cống hiến toàn bộ cho sự nghiệp nhiếp ảnh, anh đã từng là một giáo viên trung học tại một trường quốc tế hàng đầu của Thái Lan.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Manny</span>
                </p>
                <img data-original="img/profile/ph/manny/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Manny">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/manny/quote-1-vn.png" width="314" height="176" alt="Manny's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/ph/manny/quote-2-vn.png" width="313" height="501" alt="Manny's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đó là sự tuyệt đối. Đó có thể là vẻ đẹp tuyệt đối hoặc điều gì đó khác. Màu sắc phong phú và những tông màu đậm luôn hấp dẫn tôi một cách lạ kỳ, tôi luôn dán mắt vào nó một cách không thể cưỡng lại và cũng không thể nào giải thích được. Tôi cũng thích cảm nhận ánh sáng qua mắt của mình. Do đó, mỗi khi gặp một điều kỳ diệu nào đó, niềm hứng khởi trong tôi lại bắt đầu dâng trào và cảm hứng sáng tạo như trút thẳng trước mắt tôi. Tất cả những điều trên làm tăng sự tương phản. Và chính sự tương phản đã là một chủ thể tuyệt vời rồi.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh là cuộc sống của tôi. Tôi ăn và thở cùng nó. Vì tôi đã chọn nhiếp ảnh cho sự nghiệp của mình, tôi sẽ mãi luôn tận hưởng điều đó vì chính nhiếp ảnh là minh chứng và làm cho sự tồn tại của tôi có ý nghĩa. Nếu tôi cảm thấy áp lực về nhiếp ảnh, cuộc sống cũng sẽ trở nên căng thẳng hơn. Do đó, nhiếp ảnh của tôi cần phải hạnh phúc, phải ngẫu hứng và (hầu hết thời gian) phải là niềm vui.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-2.jpg" width="611" height="207" alt="Interview with Manny">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thiết bị chụp ảnh phải bổ trợ cho phong cách nhiếp ảnh của tôi. Tôi là một người thiên về “xúc cảm” hơn là “lý trí”. Tôi không phải là một nhiếp ảnh gia giỏi về kĩ thuật. Vì thế tôi cần một chiếc máy ảnh thật thông minh. Tôi là một người chụp ảnh ngẫu hứng. Vì thế tôi cần một ống kính toàn diện luôn sẵn sàng bất cứ lúc nào. Mỗi thứ cần phải dễ hiểu và dễ thao tác vì tôi muốn tập trung đưa tính nghệ thuật vào bức ảnh hơn là bận tâm về những thao tác kỹ thuật phức tạp.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đó là anh trai Jose "Boboy" Librodo của tôi. Anh ấy là một nghệ sĩ trong gia đình. Anh ấy đã dạy tôi những nguyên lý sơ đẳng về nghệ thuật theo cách vô cùng đơn giản. Anh luôn thôi thúc tôi phải trở thành một nghệ sĩ giỏi hơn anh. Và tôi cũng luôn hướng đến thần tượng của chính mình, Steve McCurry. Bức ảnh yêu thích nhất của ông đối với tôi chính là bức ảnh chụp cô gái Ap-ga-ni-xtăng nổi tiếng – mọi yếu tố tôi luôn tìm kiếm trong một bức ảnh đều ở đó.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đó là việc phải đoán xem bức ảnh sẽ trông như thế nào về độ sáng, cân bằng trắng… Dòng máy ảnh a7 mang cho phép tôi hình dùng ra bức ảnh thậm chí trước khi bấm nút chụp. Thêm vào đó, với tư cách là một người du lịch và chụp ảnh khá nhiều, tôi luôn phải đi lại rất nhiều, theo đúng nghĩa đen, nên đối với tôi, trọng lượng nhẹ là một lợi thế hoàn hảo. Dòng a7 là một “báu vật”. Một “quái vật” nhỏ mang trên mình một khả năng lớn đến kinh ngạc.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Dòng máy ảnh a7 như một phiên bản mở rộng của tôi. Vẻ ngoài rất đẹp (cười). Nghiêm túc mà nói, thiết kế của a7 rất tinh tế và bóng bẩy. Ngoài ra, tôi phải nhắc đến sự gọn nhẹ, thông minh và dễ sử dụng của nó. Mọi thứ tôi cần ở một chiếc máy ảnh đều có trên dòng a7. Cần gì phải tìm kiếm ở đâu xa?</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ưu điểm thì nhiều. Nhưng tôi chỉ phân chúng ra 2 loại:
                        <br/>
                        <br/>Thứ nhất là thiết kế, bao gồm kích thước và trọng lượng. Tôi có thể dễ dàng di chuyển và mang thêm nhiều ống kính hơn khi sử dụng chiếc máy ảnh này. Xét về thiết kế, nó thật sự rất đẹp và đẳng cấp. Chắc không cần phải nói thêm về điều này!
                        <br/>
                        <br/>Thứ hai là chất lượng ảnh. a7 series mang đến độ sâu màu đáng nể và dải tần nhạy sáng đáng kinh ngạc. Vì tôi chú trọng khá nhiều và màu sắc và ánh sáng tự nhiên trong việc truyền tải nghệ thuật thông qua những bức ảnh, tôi luôn đòi hỏi những bức ảnh của mình phải đạt được độ nét và tông màu hoàn hảo. Và dòng máy ảnh a7 series có thể đáp ứng được điều đó và thậm chí còn nhiều hơn thế nữa.
                    </div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">TUYỆT ĐỈNH. Tôi đã cảm nhận được điều này thậm chí còn trước khi bấm nút chụp. Chế độ hiển thị thời gian thực khá chính xác và hoàn toàn không có chỗ cho những sai lầm khi chiếc máy cho phép bạn điều chỉnh và xem kết quả tương ứng thậm chí còn trước khi bức ảnh được ghi lại. Tinh hoa của công nghệ ảnh số là ở chỗ đó!</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/manny/profile_pic-3.jpg" width="611" height="207" alt="Interview with Manny">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính yêu thích của tôi chính là mẫu ống kính toàn diện Zeiss 24-70mm. Tôi đã chụp ảnh một cô gái ở Siem Reap, Cam-pu-chia trong một chuyến đi và độ trong của bức ảnh phải nói là "nổi da gà".</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7R và a7II. Ống kính Zeiss 24-70, 70-200 và 55. Và tất nhiên là, rất nhiều đam mê.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Manny</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/manny/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Manny"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đó là sự tuyệt đối. Đó có thể là vẻ đẹp tuyệt đối hoặc điều gì đó khác. Màu sắc phong phú và những tông màu đậm luôn hấp dẫn tôi một cách lạ kỳ, tôi luôn dán mắt vào nó một cách không thể cưỡng lại và cũng không thể nào giải thích được. Tôi cũng thích cảm nhận ánh sáng qua mắt của mình. Do đó, mỗi khi gặp một điều kỳ diệu nào đó, niềm hứng khởi trong tôi lại bắt đầu dâng trào và cảm hứng sáng tạo như trút thẳng trước mắt tôi. Tất cả những điều trên làm tăng sự tương phản. Và chính sự tương phản đã là một chủ thể tuyệt vời rồi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh là cuộc sống của tôi. Tôi ăn và thở cùng nó. Vì tôi đã chọn nhiếp ảnh cho sự nghiệp của mình, tôi sẽ mãi luôn tận hưởng điều đó vì chính nhiếp ảnh là minh chứng và làm cho sự tồn tại của tôi có ý nghĩa. Nếu tôi cảm thấy áp lực về nhiếp ảnh, cuộc sống cũng sẽ trở nên căng thẳng hơn. Do đó, nhiếp ảnh của tôi cần phải hạnh phúc, phải ngẫu hứng và (hầu hết thời gian) phải là niềm vui.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thiết bị chụp ảnh phải bổ trợ cho phong cách nhiếp ảnh của tôi. Tôi là một người thiên về “xúc cảm” hơn là “lý trí”. Tôi không phải là một nhiếp ảnh gia giỏi về kĩ thuật. Vì thế tôi cần một chiếc máy ảnh thật thông minh. Tôi là một người chụp ảnh ngẫu hứng. Vì thế tôi cần một ống kính toàn diện luôn sẵn sàng bất cứ lúc nào. Mỗi thứ cần phải dễ hiểu và dễ thao tác vì tôi muốn tập trung đưa tính nghệ thuật vào bức ảnh hơn là bận tâm về những thao tác kỹ thuật phức tạp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đó là anh trai Jose "Boboy" Librodo của tôi. Anh ấy là một nghệ sĩ trong gia đình. Anh ấy đã dạy tôi những nguyên lý sơ đẳng về nghệ thuật theo cách vô cùng đơn giản. Anh luôn thôi thúc tôi phải trở thành một nghệ sĩ giỏi hơn anh. Và tôi cũng luôn hướng đến thần tượng của chính mình, Steve McCurry. Bức ảnh yêu thích nhất của ông đối với tôi chính là bức ảnh chụp cô gái Ap-ga-ni-xtăng nổi tiếng – mọi yếu tố tôi luôn tìm kiếm trong một bức ảnh đều ở đó.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đó là việc phải đoán xem bức ảnh sẽ trông như thế nào về độ sáng, cân bằng trắng… Dòng máy ảnh a7 mang cho phép tôi hình dùng ra bức ảnh thậm chí trước khi bấm nút chụp. Thêm vào đó, với tư cách là một người du lịch và chụp ảnh khá nhiều, tôi luôn phải đi lại rất nhiều, theo đúng nghĩa đen, nên đối với tôi, trọng lượng nhẹ là một lợi thế hoàn hảo. Dòng a7 là một “báu vật”. Một “quái vật” nhỏ mang trên mình một khả năng lớn đến kinh ngạc.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Dòng máy ảnh a7 như một phiên bản mở rộng của tôi. Vẻ ngoài rất đẹp (cười). Nghiêm túc mà nói, thiết kế của a7 rất tinh tế và bóng bẩy. Ngoài ra, tôi phải nhắc đến sự gọn nhẹ, thông minh và dễ sử dụng của nó. Mọi thứ tôi cần ở một chiếc máy ảnh đều có trên dòng a7. Cần gì phải tìm kiếm ở đâu xa?</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ưu điểm thì nhiều. Nhưng tôi chỉ phân chúng ra 2 loại:
                                <br/>
                                <br/>Thứ nhất là thiết kế, bao gồm kích thước và trọng lượng. Tôi có thể dễ dàng di chuyển và mang thêm nhiều ống kính hơn khi sử dụng chiếc máy ảnh này. Xét về thiết kế, nó thật sự rất đẹp và đẳng cấp. Chắc không cần phải nói thêm về điều này!
                                <br/>
                                <br/>Thứ hai là chất lượng ảnh. a7 series mang đến độ sâu màu đáng nể và dải tần nhạy sáng đáng kinh ngạc. Vì tôi chú trọng khá nhiều và màu sắc và ánh sáng tự nhiên trong việc truyền tải nghệ thuật thông qua những bức ảnh, tôi luôn đòi hỏi những bức ảnh của mình phải đạt được độ nét và tông màu hoàn hảo. Và dòng máy ảnh a7 series có thể đáp ứng được điều đó và thậm chí còn nhiều hơn thế nữa.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">TUYỆT ĐỈNH. Tôi đã cảm nhận được điều này thậm chí còn trước khi bấm nút chụp. Chế độ hiển thị thời gian thực khá chính xác và hoàn toàn không có chỗ cho những sai lầm khi chiếc máy cho phép bạn điều chỉnh và xem kết quả tương ứng thậm chí còn trước khi bức ảnh được ghi lại. Tinh hoa của công nghệ ảnh số là ở chỗ đó!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của tôi chính là mẫu ống kính toàn diện Zeiss 24-70mm. Tôi đã chụp ảnh một cô gái ở Siem Reap, Cam-pu-chia trong một chuyến đi và độ trong của bức ảnh phải nói là "nổi da gà".</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7R và a7II. Ống kính Zeiss 24-70, 70-200 và 55. Và tất nhiên là, rất nhiều đam mê.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
