<div class="viet" id="profile-edward">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Phong Cảnh + Cảnh Quan Đô Thị</p>
                <p class="name">Edward Tian</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Phong Cảnh + Cảnh Quan Đô Thị</p>
                    <p class="name">Edward Tian</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Edward Tian là một nhiếp ảnh gia tự do và nhà tư vấn ô tô tại Singapore. Những tác phẩm của anh chủ yếu chụp Phong cảnh/Cảnh quan đô thị/Du lịch và Con người.</p>

            <p>Xu hướng khai thác trong tác phẩm của Edward chủ yếu tìm đến điểm nhấn và góc ảnh độc đáo cho người xem. Là một chuyên viên tư vấn vùng, anh có cơ hội đặt chân đến nhiều nước ở Châu Á và ghi lại hình ảnh của cảnh vật và văn hoá con người nơi đây.</p>

            <p>Anh thường tổ chức các buổi hội thảo về nhiếp ảnh khi có thời gian, đồng thời đóng góp rất nhiều bức ảnh cho Getty và Stocksy.</p>

            <p>Một vài thành tựu lớn trong sự nghiệp nhiếp ảnh của Edward bao gồm: giải nhất cuộc thi ảnh Marina Bay Countdown năm 2013 và cuộc thi ảnh CapitaLand của National Geographic năm 2014.</p>

            <p>Edward Tian còn là thành viên sáng lập của Landscape Hunters Asia (Thợ Săn Phong Cảnh Châu Á), một nhóm nhiếp ảnh gia Phong Cảnh/Kiến Trúc kỳ cựu chuyên chia sẻ ý tưởng và kết nối với các nhiếp ảnh gia khác trên toàn thế giới.</p>

            <p>Xem các tác phẩm của Edward tại
                <a href="http://edwardtian.prosite.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:edward:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:edward:works:link', 'microsite|ilc:sea:viet|profile|edward|works|link');" target="_blank">edwardtian.prosite.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTulp3eKt94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Edward Tian là một nhiếp ảnh gia tự do và nhà tư vấn ô tô tại Singapore. Những tác phẩm của anh chủ yếu chụp Phong cảnh/Cảnh quan đô thị/Du lịch và Con người.</p>

            <p>Xu hướng khai thác trong tác phẩm của Edward chủ yếu tìm đến điểm nhấn và góc ảnh độc đáo cho người xem. Là một chuyên viên tư vấn vùng, anh có cơ hội đặt chân đến nhiều nước ở Châu Á và ghi lại hình ảnh của cảnh vật và văn hoá con người nơi đây.</p>

            <p>Anh thường tổ chức các buổi hội thảo về nhiếp ảnh khi có thời gian, đồng thời đóng góp rất nhiều bức ảnh cho Getty và Stocksy.</p>

            <p>Một vài thành tựu lớn trong sự nghiệp nhiếp ảnh của Edward bao gồm: giải nhất cuộc thi ảnh Marina Bay Countdown năm 2013 và cuộc thi ảnh CapitaLand của National Geographic năm 2014.</p>

            <p>Edward Tian còn là thành viên sáng lập của Landscape Hunters Asia (Thợ Săn Phong Cảnh Châu Á), một nhóm nhiếp ảnh gia Phong Cảnh/Kiến Trúc kỳ cựu chuyên chia sẻ ý tưởng và kết nối với các nhiếp ảnh gia khác trên toàn thế giới.</p>

            <p>Xem các tác phẩm của Edward tại
                <a href="http://edwardtian.prosite.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:edward:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:edward:works:link', 'microsite|ilc:sea:viet|profile|edward|works|link');" target="_blank">edwardtian.prosite.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTulp3eKt94?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Edward</span>
                </p>
                <img data-original="img/profile/sg/edward/profile_pic-1.jpg" class="lazy" width="316" height="415" alt="Interview with Edward">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/edward/quote-1-vn.png" width="311" height="367" alt="Edward's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/edward/quote-2-vn.png" width="308" height="342" alt="Edward's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi luôn tìm thấy niềm vui trong việc chụp ảnh vì mỗi khoảnh khắc lúc đó là duy nhất và chụp ảnh sẽ làm cho khoảnh khắc đó tồn tại mãi mãi. Nhưng tôi chỉ thực sự nghiêm túc về nhiếp ảnh khi ông tôi trao cho tôi một chiếc túi đựng những chiếc máy ảnh film SLR vào 4 năm trước. Sự ra đời của cô con gái cũng đã truyền cảm hứng cho tôi rất nhiều, và tôi đã thực sự sống trọn với nghề kể từ thời điểm đó – hai sự kiện này diễn ra gần như cùng một thời điểm. Tôi thích ghi lại hình ảnh trưởng thành từng ngày của cô con gái, cũng như tất cả những gì diễn ra quanh tôi.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh đã trở thành một phần rất quan trọng trong cuộc sống của tôi, đối với cả công việc lẫn giải trí. Tôi du lịch khá nhiều do tính chất công việc và cả trong thời gian rảnh, tôi luôn muốn khám phá và lưu lại vẻ đẹp, cũng như văn hoá, của những thành phố nơi tôi đặt chân đến qua ống kính của mình. Chụp ảnh giúp tôi giải tỏa căng thẳng của công việc và cuộc sống. Và ngay từ ngày đầu tiên, nó đã trở thành niềm đam mê không bao giờ tắt trong tôi.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/edward/profile_pic-2.jpg" width="611" height="207" alt="Interview with Edward">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi luôn trân trọng và kỳ vọng rất nhiều vào các thiết bị. Chúng phải đáp ứng được nhu cầu chụp ảnh của tôi, tạo ra những bức ảnh đẹp và phù hợp với tiêu chuẩn mà tôi đặt ra.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ảnh hưởng lớn nhất đối với tôi đến từ bạn thân và người hướng dẫn của tôi, Elia Locardi. Tôi ngưỡng mộ trường phái tư tưởng và hướng tiếp cận trong những bức ảnh của ông. Và dựa trên đó, tôi đã phát triển nên một phong cách cho riêng mình.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thách thức lớn nhất của tôi là tính linh động và khả năng thích ứng. Như đã đề cập từ trước, tôi di chuyển khá nhiều nên các thiết bị của tôi cần phải gọn nhẹ và có hiệu năng hoạt động tốt. Khi Sony giới thiệu dòng a7 series, tôi đã lập tức chuyển sang a7R ngay khi chiếc máy ảnh lần đầu tiên ra mắt và cho đến nay, chiếc máy ảnh vẫn phù hợp hoàn hảo với nhu cầu nhiếp ảnh của tôi, có thể ví như một chiếc găng tay được may riêng cho tôi vậy.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">a7 có kích thước nhỏ gọn nên khi chụp những chủ thể như trẻ em sẽ khiến chúng ít chú ý và e ngại hơn; và dòng máy ảnh này thực sự rất thuận tiện để mang theo trong những chuyến đi của tôi.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/edward/profile_pic-3.jpg" width="611" height="207" alt="Interview with Edward">

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi sẽ chọn tính năng Làm Nổi Cạnh (Focus Peaking), hiệu năng của dải tầng nhạy sáng (Dynamic Range) và nhất là khối lượng cực kỳ gọn nhẹ của máy. Tính năng Làm Nổi Cạnh (Focus Peaking) cho phép tôi lấy nét chính xác đối tượng chụp, không như những dòng DSLR thông thường khi việc lấy nét phụ thuộc phần lớn vào mắt của bạn. Dải tầng nhạy sáng của a7R có hơn 14 cấp độ, tốt nhất từ trước đến nay. Ngoài ra, khả năng kết hợp với các ống kính của hãng thứ ba cũng mang đến cho tôi nhiều chọn lựa hơn.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi đánh giá Sony là thương hiệu hàng đầu trên thị trường vì từ trước đến nay chưa có chiếc máy ảnh full-frame nào có thể mang đến cho tôi hiệu năng cảm biến, khả năng tương thích ống kính và sự linh hoạt cao như dòng máy ảnh a của Sony.</div>
                </div>
                <!-- Q&A 8 -->

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính yêu thích của tôi khi dùng với a7R là 17mm f4.0 và với a7S là 40mm f1.4.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trong điều kiện lý tưởng, tôi sẽ mang theo a7R + FE16-35mm F4 và a7S + FE28 F2. Vì tôi chuyên chụp phong cảnh nên a7R + FE16-35mm F4 là sự kết hợp hoàn hảo; trong khi đó a7S + FE28 F2 thích hợp để chụp ảnh đường phố và chụp trong những điều kiện thiếu sáng.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Edward</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/edward/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Edward"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi luôn tìm thấy niềm vui trong việc chụp ảnh vì mỗi khoảnh khắc lúc đó là duy nhất và chụp ảnh sẽ làm cho khoảnh khắc đó tồn tại mãi mãi. Nhưng tôi chỉ thực sự nghiêm túc về nhiếp ảnh khi ông tôi trao cho tôi một chiếc túi đựng những chiếc máy ảnh film SLR vào 4 năm trước. Sự ra đời của cô con gái cũng đã truyền cảm hứng cho tôi rất nhiều, và tôi đã thực sự sống trọn với nghề kể từ thời điểm đó – hai sự kiện này diễn ra gần như cùng một thời điểm. Tôi thích ghi lại hình ảnh trưởng thành từng ngày của cô con gái, cũng như tất cả những gì diễn ra quanh tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đã trở thành một phần rất quan trọng trong cuộc sống của tôi, đối với cả công việc lẫn giải trí. Tôi du lịch khá nhiều do tính chất công việc và cả trong thời gian rảnh, tôi luôn muốn khám phá và lưu lại vẻ đẹp, cũng như văn hoá, của những thành phố nơi tôi đặt chân đến qua ống kính của mình. Chụp ảnh giúp tôi giải tỏa căng thẳng của công việc và cuộc sống. Và ngay từ ngày đầu tiên, nó đã trở thành niềm đam mê không bao giờ tắt trong tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi luôn trân trọng và kỳ vọng rất nhiều vào các thiết bị. Chúng phải đáp ứng được nhu cầu chụp ảnh của tôi, tạo ra những bức ảnh đẹp và phù hợp với tiêu chuẩn mà tôi đặt ra.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ảnh hưởng lớn nhất đối với tôi đến từ bạn thân và người hướng dẫn của tôi, Elia Locardi. Tôi ngưỡng mộ trường phái tư tưởng và hướng tiếp cận trong những bức ảnh của ông. Và dựa trên đó, tôi đã phát triển nên một phong cách cho riêng mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất của tôi là tính linh động và khả năng thích ứng. Như đã đề cập từ trước, tôi di chuyển khá nhiều nên các thiết bị của tôi cần phải gọn nhẹ và có hiệu năng hoạt động tốt. Khi Sony giới thiệu dòng a7 series, tôi đã lập tức chuyển sang a7R ngay khi chiếc máy ảnh lần đầu tiên ra mắt và cho đến nay, chiếc máy ảnh vẫn phù hợp hoàn hảo với nhu cầu nhiếp ảnh của tôi, có thể ví như một chiếc găng tay được may riêng cho tôi vậy./div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">a7 có kích thước nhỏ gọn nên khi chụp những chủ thể như trẻ em sẽ khiến chúng ít chú ý và e ngại hơn; và dòng máy ảnh này thực sự rất thuận tiện để mang theo trong những chuyến đi của tôi./div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi sẽ chọn tính năng Làm Nổi Cạnh (Focus Peaking), hiệu năng của dải tầng nhạy sáng (Dynamic Range) và nhất là khối lượng cực kỳ gọn nhẹ của máy. Tính năng Làm Nổi Cạnh (Focus Peaking) cho phép tôi lấy nét chính xác đối tượng chụp, không như những dòng DSLR thông thường khi việc lấy nét phụ thuộc phần lớn vào mắt của bạn. Dải tầng nhạy sáng của a7R có hơn 14 cấp độ, tốt nhất từ trước đến nay. Ngoài ra, khả năng kết hợp với các ống kính của hãng thứ ba cũng mang đến cho tôi nhiều chọn lựa hơn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi đánh giá Sony là thương hiệu hàng đầu trên thị trường vì từ trước đến nay chưa có chiếc máy ảnh full-frame nào có thể mang đến cho tôi hiệu năng cảm biến, khả năng tương thích ống kính và sự linh hoạt cao như dòng máy ảnh a của Sony.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của tôi khi dùng với a7R là 17mm f4.0 và với a7S là 40mm f1.4.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trong điều kiện lý tưởng, tôi sẽ mang theo a7R + FE16-35mm F4 và a7S + FE28 F2. Vì tôi chuyên chụp phong cảnh nên a7R + FE16-35mm F4 là sự kết hợp hoàn hảo; trong khi đó a7S + FE28 F2 thích hợp để chụp ảnh đường phố và chụp trong những điều kiện thiếu sáng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
