<div class="viet" id="profile-tavepong">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia đường phố</p>
                <p class="name">Tavepong Pratoomwong</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thái Lan</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">Nhiếp ảnh gia đường phố</p>
                    <p class="name">Tavepong Pratoomwong</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thái Lan</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Tavepong Pratoomwong là một nhiếp ảnh gia đường phố đạt nhiều giải thưởng có trụ sở tại Bangkok, Thái Lan. Anh triển lãm các tác phẩm của mình tại Châu Á, Bắc Mỹ và Châu Âu.</p>

            <p>Tavepong Pratoomwong bắt đầu nhiếp ảnh tại trường đại học. Sau khi tốt nghiệp, anh và bạn của mình theo đuổi giấc mơ khi còn học cấp 3. Giấc mơ đó là thực hiện một bức ảnh tài liệu và đăng trên tạp chí National Geographic của Thái Lan.</p>

            <p>Sau khi thành lập công ty riêng, anh đã dành phần lớn thời gian cho công việc mới. Anh chụp ngày càng ít đi theo thời gian nhưng vẫn rất quan tâm đến thiết bị nhiếp ảnh. Anh đã gần như ngưng và tưởng chừng sẽ không bao giờ quay trở lại với nhiếp ảnh nữa. Cho đến cuối năm 2013 khi vợ anh tặng một món quà bất ngờ kỷ niệm ngày cưới. Đó là một chiếc vé đến Varanasi, Ấn Độ. Tấm vé đó, chuyến đi đó là bước ngoặc giúp anh trở lại với nhiếp ảnh.</p>

            <p>Sau khi trở về Thái Lan, anh tham gia hoạt động "365 ngày trong năm 2014" của Street Photo Thailand. Nó giúp anh bước ra ngoài và chụp ảnh mỗi ngày từ đó.</p>

            <p>Thành quả từ sự nỗ lực đã giúp anh chiến thắng nhiều giải thưởng ảnh đường phố quốc tế như:
                <br/> 2014 : Giải nhất Miami Street Photography Festival
                <br/> 2014 : Người chiến thắng EyeEm Awards (Nhiếp ảnh gia đường phố)
                <br/> 2015 : Giải nhất Street Shooting Around the World 2015 : The Los Angeles Center of Photography (LACP)</p>

            <p>Anh cũng được bình chọn là một trong số 20 nhiếp ảnh gia đường phố có sức ảnh hưởng lớn nhất 2015 của Streethunters.net.</p>

            <p>Giờ đây, anh là thành viên của 3 hội nhiếp ảnh: StreetPhotoThailand , FullFrontalFlash và OBSERVE Collective.</p>

            <p>Các tác phẩm của anh có thể được thưởng thức tại: <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a> , <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Tavepong Pratoomwong là một nhiếp ảnh gia đường phố đạt nhiều giải thưởng có trụ sở tại Bangkok, Thái Lan. Anh triển lãm các tác phẩm của mình tại Châu Á, Bắc Mỹ và Châu Âu.</p>

            <p>Tavepong Pratoomwong bắt đầu nhiếp ảnh tại trường đại học. Sau khi tốt nghiệp, anh và bạn của mình theo đuổi giấc mơ khi còn học cấp 3. Giấc mơ đó là thực hiện một bức ảnh tài liệu và đăng trên tạp chí National Geographic của Thái Lan.</p>

            <p>Sau khi thành lập công ty riêng, anh đã dành phần lớn thời gian cho công việc mới. Anh chụp ngày càng ít đi theo thời gian nhưng vẫn rất quan tâm đến thiết bị nhiếp ảnh. Anh đã gần như ngưng và tưởng chừng sẽ không bao giờ quay trở lại với nhiếp ảnh nữa. Cho đến cuối năm 2013 khi vợ anh tặng một món quà bất ngờ kỷ niệm ngày cưới. Đó là một chiếc vé đến Varanasi, Ấn Độ. Tấm vé đó, chuyến đi đó là bước ngoặc giúp anh trở lại với nhiếp ảnh.</p>

            <p>Sau khi trở về Thái Lan, anh tham gia hoạt động "365 ngày trong năm 2014" của Street Photo Thailand. Nó giúp anh bước ra ngoài và chụp ảnh mỗi ngày từ đó.</p>

            <p>Thành quả từ sự nỗ lực đã giúp anh chiến thắng nhiều giải thưởng ảnh đường phố quốc tế như:
                <br/> 2014 : Giải nhất Miami Street Photography Festival
                <br/> 2014 : Người chiến thắng EyeEm Awards (Nhiếp ảnh gia đường phố)
                <br/> 2015 : Giải nhất Street Shooting Around the World 2015 : The Los Angeles Center of Photography (LACP)</p>

            <p>Anh cũng được bình chọn là một trong số 20 nhiếp ảnh gia đường phố có sức ảnh hưởng lớn nhất 2015 của Streethunters.net.</p>

            <p>Giờ đây, anh là thành viên của 3 hội nhiếp ảnh: StreetPhotoThailand , FullFrontalFlash và OBSERVE Collective.</p>

            <p>Các tác phẩm của anh có thể được thưởng thức tại: <a href="http://www.tavepong.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.tavepong.com</a> , <a href="http://www.flickr.com/photos/tavepong/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.flickr.com/photos/tavepong/</a>, <a href="http://www.instagram.com/tavepong_street/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:tavepong:works:link', 'ilc:@@country', 'ilc:@@country:profile:tavepong:works:link', 'microsite|ilc:@@country|profile|tavepong|works|link');" target="_blank">www.instagram.com/tavepong_street/</a></p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uyaB05CQYhI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Tavepong</span>
                </p>
                <img data-original="img/profile/th/tavepong/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Trò chuyện cùng Tavepong">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/tavepong/quote-1-vn.png" width="313" height="272" alt="Tavepong's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/tavepong/quote-2-vn.png" width="313" height="309" alt="Tavepong's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Vài năm trước, cảm hứng về nhiếp ảnh đã bị đánh mất trong cuộc sống của tôi. Tôi gần như ngưng chụp cho đến cuối năm 2013 khi vợ tôi tạo sự bất ngờ với món quà kỷ niệm ngày cưới. Đó là một chiếc vé đến Varanasi, Ấn Độ. Chiếc vé đó, chuyến đi đó đã trở thành bước ngoặc giúp tôi trỡ lại với nhiếp ảnh. Sau khi về Thái Lan, tôi may mắn tham dự sự kiện "365 ngày trong năm 2014" của Street Photo Thailand. Sự kiện đó là ra ngoài chụp ảnh mỗi ngày và chọn một bức ảnh bạn thích nhất đăng lên Facebook, Vào thời điểm đó, cảm hứng trở thành một nhiếp ảnh gia của tôi đã trở lại. Tôi cảm thấy hạnh phúc khi bấm máy, sau khi tìm ra được ý nghĩa của nhiếp ảnh và đối với tôi điều này là rất quan trọng.
                        <br/>
                        <br/>Động lực đó giúp tôi tiếp tục đam mê nhiếp ảnh của mình.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích chụp nơi công cộng. Đó là cách mà tôi suy ngẫm, và phương pháp tôi thách thức bản thân. Tôi thích kể chuyện thông qua các bức ảnh. Vì công việc, tôi không thể thường xuyên có những chuyến du dịch dài. Do đó nhiếp ảnh đường phố là giải pháp của tôi. Tôi có thể chụp tất cả những thứ xung quanh ở góc độ của mình. Đối với cuộc sống cá nhân, tôi rất may mắn là vợ và người bạn thân của mình luôn thấu hiểu và ủng hộ, bao gồm cho tôi những lời khuyên từ góc nhìn của họ. Tôi nghĩ nó rất quan trọng đối với việc các nhiếp ảnh gia nhận phản hồi từ người khác. Phong cách nhiếp ảnh đường phố của tôi sẽ không thể hoàn thiện nếu không có sự hỗ trợ từ vợ và bạn bè.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-2.jpg" width="611" height="207" alt="Trò chuyện cùng Tavepong">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đối với tôi, chiếc máy ảnh tốt luôn đi cùng nhiều cảm hứng. Tôi nghĩ rằng dòng máy a7 có rất nhiều tính năng trợ giúp sự sáng tạo của tôi. Mong đợi trong tương lai của tôi, nếu khả thi, tôi muốn có màn hình LCD lật với góc nhìn 160 độ, tốc độ chụp ảnh liên tục nhanh hơn và ống kính zoom nhỏ hơn chẳng hạn như 24-50 F4.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi tôn trọng Henri Cartier-Bresso bởi bố cục của anh ấy, Elliott Erwitt bởi sự hài hước, Alex Webb và David Alen Harvey bởi các tần ảnh cùng màu sắc và Richard Kalvar bởi sự huyền bí.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi nghĩ trong nhiếp ảnh đường phố, máy ảnh nhỏ giúp mọi việc trở nên dễ dàng hơn. Mọi người trên phố luôn hoảng sợ ống kính và máy ảnh lớn. Kích thước nhỏ gọn của a7 thật sự đã giúp tôi rất nhiều về mặt này và chất lượng hình ảnh thật hoàn hảo.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nó bắt đầu từ chuyến du lịch Varanasi mà tôi kể với bạn trước đó. Trong chuyến đi, tôi đã có một chiếc a7R làm máy ảnh phụ. Nhưng sau khi sử dụng nửa ngày, nó trở thành máy ảnh chính của tôi từ đó. Ấn tượng khó quên nhất trong chuyến đó đó là ống ngắm điện tử EVF của a7R cho tôi thấy tất cả trước khi tôi bấm máy. Độ sâu trường ảnh, đo sáng, khung hình chính xác - chúng là nhiều điều không thể thấy được trong máy ảnh trước của tôi.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> - Silent Shutter trong a7S và a7RII là tính năng tuyệt vời nhất đối với tôi. Hơn 70% người mà tôi chụp không biết rằng tôi đã chụp họ với chế độ này. Khi sử dụng chế độ Silent Shutter và tắt tính năng tự động xem lại ảnh, bạn gần như không cảm nhận được độ trễ của màn trập.
                        <br/>
                        <br/> - Lật màn hình LCD trên phố đặc biệt là khi chụp ở Bangkok, nơi mà hậu cảnh thường rất rối. Tôi chỉ cần canh cao hơn hoặc thấp hơn để có hậu cảnh gọn hơn. Đôi lúc nó dễ dàng hơn để chụp người trong điều kiện thiếu sáng bằng cách lật màn hình LCD thay vì dùng ống ngắm.
                        <br/>
                        <br/> - ISO đặc biệt là đối với a7S, bởi tôi có thể chụp ở bất kỳ điều kiện sáng nào. Và điều quan trọng là nó ảnh hưởng đến khả năng kiểm soát độ sâu trường ảnh. Tôi có thể có trường ảnh cực kỳ sâu và tốc độ màn trập đủ nhanh để ngừng khoảnh khắc chuyển động.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony hiện nay là số 1 trong lĩnh vực ảnh số. Đó không chỉ là suy nghĩ của tôi, bạn có thể tìm kiếm google về những thử nghiệm trong phòng lab, đặc biệt là về a7RII.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/tavepong/profile_pic-3.jpg" width="611" height="207" alt="Trò chuyện cùng Tavepong">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích ống lấy nét tay tiêu cự 28, 35 hoặc 50mm cho nhiếp ảnh đường phố. Đối với ống kính lấy nét tự động tôi thích Sony FE 24-70 F4 OSS bởi vì nó bao gồm tất cả các tiêu cự mà tôi quen thuộc và tính năng chống rung hoạt động hiệu quả. Tấm ảnh yêu thích nhất của tôi với ống kính này là "Freedom", về một bầy chim bay ngang qua cánh đồng Sanamluang khi chiều xuống.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">Túi của tôi bao gồm a7RII, a7S hoặc RX100IV, đèn flash Sony HVL-F20M, 2 pin dự phòng và SD-Card, và thuốc chống ho Thai Herbal Takabb.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Tavepong</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/tavepong/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Trò chuyện cùng Tavepong"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Several years ago, the motivation towards photography was lost from my life. I almost stopped shooting until the end of 2013 when my wife surprised me with a wedding anniversary gift. It was a ticket to Varanasi, India. That ticket, that trip was the turning point for me to take pictures again. After I went back to Thailand, I was so lucky to join the Street Photo Thailand’s activities ”365 days in 2014”. That activity was go out to take a picture every day and choose one of your favourites to post on Facebook. At that time, my motivation of being a photographer returned. I found happiness when I took a picture, after I found the purpose of photography and I think that is really important.
                                <br/>
                                <br/>Động lực đó giúp tôi tiếp tục đam mê nhiếp ảnh của mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích chụp nơi công cộng. Đó là cách mà tôi suy ngẫm, và phương pháp tôi thách thức bản thân. Tôi thích kể chuyện thông qua các bức ảnh. Vì công việc, tôi không thể thường xuyên có những chuyến du dịch dài. Do đó nhiếp ảnh đường phố là giải pháp của tôi. Tôi có thể chụp tất cả những thứ xung quanh ở góc độ của mình. Đối với cuộc sống cá nhân, tôi rất may mắn là vợ và người bạn thân của mình luôn thấu hiểu và ủng hộ, bao gồm cho tôi những lời khuyên từ góc nhìn của họ. Tôi nghĩ nó rất quan trọng đối với việc các nhiếp ảnh gia nhận phản hồi từ người khác. Phong cách nhiếp ảnh đường phố của tôi sẽ không thể hoàn thiện nếu không có sự hỗ trợ từ vợ và bạn bè.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đối với tôi, chiếc máy ảnh tốt luôn đi cùng nhiều cảm hứng. Tôi nghĩ rằng dòng máy a7 có rất nhiều tính năng trợ giúp sự sáng tạo của tôi. Mong đợi trong tương lai của tôi, nếu khả thi, tôi muốn có màn hình LCD lật với góc nhìn 160 độ, tốc độ chụp ảnh liên tục nhanh hơn và ống kính zoom nhỏ hơn chẳng hạn như 24-50 F4.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi nghĩ trong nhiếp ảnh đường phố, máy ảnh nhỏ giúp mọi việc trở nên dễ dàng hơn. Mọi người trên phố luôn hoảng sợ ống kính và máy ảnh lớn. Kích thước nhỏ gọn của a7 thật sự đã giúp tôi rất nhiều về mặt này và chất lượng hình ảnh thật hoàn hảo.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nó bắt đầu từ chuyến du lịch Varanasi mà tôi kể với bạn trước đó. Trong chuyến đi, tôi đã có một chiếc a7R làm máy ảnh phụ. Nhưng sau khi sử dụng nửa ngày, nó trở thành máy ảnh chính của tôi từ đó. Ấn tượng khó quên nhất trong chuyến đó đó là ống ngắm điện tử EVF của a7R cho tôi thấy tất cả trước khi tôi bấm máy. Độ sâu trường ảnh, đo sáng, khung hình chính xác - chúng là nhiều điều không thể thấy được trong máy ảnh trước của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"> - Silent Shutter trong a7S và a7RII là tính năng tuyệt vời nhất đối với tôi. Hơn 70% người mà tôi chụp không biết rằng tôi đã chụp họ với chế độ này. Khi sử dụng chế độ Silent Shutter và tắt tính năng tự động xem lại ảnh, bạn gần như không cảm nhận được độ trễ của màn trập.
                                <br/>
                                <br/> - Lật màn hình LCD trên phố đặc biệt là khi chụp ở Bangkok, nơi mà hậu cảnh thường rất rối. Tôi chỉ cần canh cao hơn hoặc thấp hơn để có hậu cảnh gọn hơn. Đôi lúc nó dễ dàng hơn để chụp người trong điều kiện thiếu sáng bằng cách lật màn hình LCD thay vì dùng ống ngắm.
                                <br/>
                                <br/> - ISO đặc biệt là đối với a7S, bởi tôi có thể chụp ở bất kỳ điều kiện sáng nào. Và điều quan trọng là nó ảnh hưởng đến khả năng kiểm soát độ sâu trường ảnh. Tôi có thể có trường ảnh cực kỳ sâu và tốc độ màn trập đủ nhanh để ngừng khoảnh khắc chuyển động.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony hiện nay là số 1 trong lĩnh vực ảnh số. Đó không chỉ là suy nghĩ của tôi, bạn có thể tìm kiếm google về những thử nghiệm trong phòng lab, đặc biệt là về a7RII.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích ống lấy nét tay tiêu cự 28, 35 hoặc 50mm cho nhiếp ảnh đường phố. Đối với ống kính lấy nét tự động tôi thích Sony FE 24-70 F4 OSS bởi vì nó bao gồm tất cả các tiêu cự mà tôi quen thuộc và tính năng chống rung hoạt động hiệu quả. Tấm ảnh yêu thích nhất của tôi với ống kính này là "Freedom", về một bầy chim bay ngang qua cánh đồng Sanamluang khi chiều xuống.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Túi của tôi bao gồm a7RII, a7S hoặc RX100IV, đèn flash Sony HVL-F20M, 2 pin dự phòng và SD-Card, và thuốc chống ho Thai Herbal Takabb.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
