<div class="viet" id="profile-benny">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                <p class="name">Benny Lim</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Indonesia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                    <p class="name">Benny Lim</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Indonesia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Benny là người sáng lập, đồng thời cũng là bộ óc thiên tài đứng sau <a href="http://www.junoproduction.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:benny:works:link:juno', 'ilc:@@country', 'ilc:@@country:profile:benny:works:link:juno', 'microsite|ilc:@@country|profile|benny|works|link|juno');" target="_blank">www.junproduction.com</a>. Nghệ thuật lưu giữ vẻ đẹp của vạn vật đằng sau ống kính không thực sự thu hút anh, cho đến khi anh bắt đầu sử dụng một chiếc máy ảnh chuyên nghiệp lần đầu tiên vào năm 2009. Tiếp đó, anh đã mở một studio chụp ảnh cho riêng mình để phục vụ kinh doanh vào năm 2010, lấy tên là JUNO Production, chú trọng rất nhiều vào nhiếp ảnh đám cưới và nhiếp ảnh đời sống.</p>

            <p>Những ý tưởng chụp ảnh tuyệt vời luôn chực nhảy ra khỏi đầu Benny mỗi khi anh thảo luận về nhiếp ảnh. Nhờ có con mắt sắp xếp cùng cách tiếp cận vô cùng độc đáo tới bộ môn nhiếp ảnh, Benny có khả năng thể hiện những khoảnh khắc và chụp được những bức hình vô cùng nghệ thuật với phong cách tự nhiên.</p>
            
            <p>Anh cũng đồng thời là nhà sáng lập của<a href="http://www.handsinframe.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:benny:works:link:hands', 'ilc:sea:viet', 'ilc:sea:viet:profile:benny:works:link:hands', 'microsite|ilc:sea:viet|profile|benny|works|link|hands');" target="_blank">www.hifcreative.com</a>, một trang web được xây dựng bởi một cộng đồng, với muc đích cống hiến cho cộng đồng.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Benny là người sáng lập, đồng thời cũng là bộ óc thiên tài đứng sau <a href="http://www.junoproduction.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:benny:works:link:juno', 'ilc:@@country', 'ilc:@@country:profile:benny:works:link:juno', 'microsite|ilc:@@country|profile|benny|works|link|juno');" target="_blank">www.junproduction.com</a>. Nghệ thuật lưu giữ vẻ đẹp của vạn vật đằng sau ống kính không thực sự thu hút anh, cho đến khi anh bắt đầu sử dụng một chiếc máy ảnh chuyên nghiệp lần đầu tiên vào năm 2009. Tiếp đó, anh đã mở một studio chụp ảnh cho riêng mình để phục vụ kinh doanh vào năm 2010, lấy tên là JUNO Production, chú trọng rất nhiều vào nhiếp ảnh đám cưới và nhiếp ảnh đời sống.</p>

            <p>Những ý tưởng chụp ảnh tuyệt vời luôn chực nhảy ra khỏi đầu Benny mỗi khi anh thảo luận về nhiếp ảnh. Nhờ có con mắt sắp xếp cùng cách tiếp cận vô cùng độc đáo tới bộ môn nhiếp ảnh, Benny có khả năng thể hiện những khoảnh khắc và chụp được những bức hình vô cùng nghệ thuật với phong cách tự nhiên.</p>
            
            <p>Anh cũng đồng thời là nhà sáng lập của<a href="http://www.handsinframe.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:benny:works:link:hands', 'ilc:sea:viet', 'ilc:sea:viet:profile:benny:works:link:hands', 'microsite|ilc:sea:viet|profile|benny|works|link|hands');" target="_blank">www.hifcreative.com</a>, một trang web được xây dựng bởi một cộng đồng, với muc đích cống hiến cho cộng đồng.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Benny</span>
                </p>
                <img data-original="img/profile/id/benny/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Trò chuyện cùng Benny">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/benny/quote-1-vn.png" width="306" height="269" alt="Benny's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/id/benny/quote-2-vn.png" width="315" height="307" alt="Benny's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi có thể bắt lại những khoảnh khắc và lưu giữ những kỷ niệm.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh là niềm đam mê của tôi. Tôi đến với đam mê này như một thú vui và đó cũng là lý do khiến tôi yêu công việc của mình, bởi tôi đang làm công việc này bằng tất cả niềm đam mê.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/benny/profile_pic-2.jpg" width="611" height="207" alt="Trò chuyện cùng Benny">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chúng phải có trọng lượng thật nhẹ với khả năng bắt nét tự động thật nhanh, đồng thời phải tạo ra những bức ảnh sắc nét.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thường được tạo cảm hứng từ mọi thứ xung quanh mình. Tôi không có một cái tên cụ thể của bất kì nhiếp ảnh gia nào – Có quá nhiều người tạo cảm hứng cho tôi trong cuộc sống hàng ngày.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thường xuyên làm việc ở nước ngoài, và kích thước nhỏ gọn của α7 cùng số điểm ảnh lớn và độ sắc nét của hệ thống ống kính đã giúp tôi rất nhiều.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi bắt đầu sử dụng một chiếc máy ảnh không gương lật vào năm 2012 khi vẫn đang sử dụng máy ảnh DSLR cho công việc. Khi biết đến dòng máy ảnh không gương lật Sony α7 sở hữu cảm biến ảnh full-frame, tôi vô cùng tò mò về hiệu suất của chúng. Tôi yêu chúng từ khi ấy. Sau 6 tháng, tôi quyết định bán đi tất cả các máy ảnh DSLR của mình. Một chiếc máy ảnh gọn nhẹ với hiệu suất cao giải đáp tất cả những nhu cầu của tôi cho nhiếp ảnh đám cưới.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Dải nhạy sáng cao, kết nối Wi-Fi và NFC cùng cảm biến full-frame trong một thân hình nhỏ gọn.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Một trong những chiếc máy ảnh không gương lật với cảm biến full-frame tốt nhất. Với thang điểm 10, điểm đánh giá sẽ là 9 – 10 đối với tôi.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/benny/profile_pic-3.jpg" width="611" height="207" alt="Trò chuyện cùng Benny">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính Sony FE16-35mm để chụp phong cảnh, FE 35mm để chụp các sự kiện và đám cưới, và ống kính FE 55mm để chụp thông thường và những bức ảnh chân dung. Ống kính 135mm f1.8 cũng là một ống kính tuyệt vời để nắm bắt những khoảnh khắc của các bức chân dung.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chiếc máy ảnh Sony α7Rii, α7ii, ống kính FE 16-35, FE 35mm, FE 55mm, CZ 135mm với ngàm chuyển, ba thẻ nhớ SD 64GB, đèn flash Sony cùng năm viên pin và hai bộ sạc.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Benny</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/benny/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Trò chuyện cùng Benny"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi có thể bắt lại những khoảnh khắc và lưu giữ những kỷ niệm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh là niềm đam mê của tôi. Tôi đến với đam mê này như một thú vui và đó cũng là lý do khiến tôi yêu công việc của mình, bởi tôi đang làm công việc này bằng tất cả niềm đam mê.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chúng phải có trọng lượng thật nhẹ với khả năng bắt nét tự động thật nhanh, đồng thời phải tạo ra những bức ảnh sắc nét.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thường được tạo cảm hứng từ mọi thứ xung quanh mình. Tôi không có một cái tên cụ thể của bất kì nhiếp ảnh gia nào – Có quá nhiều người tạo cảm hứng cho tôi trong cuộc sống hàng ngày.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thường xuyên làm việc ở nước ngoài, và kích thước nhỏ gọn của α7 cùng số điểm ảnh lớn và độ sắc nét của hệ thống ống kính đã giúp tôi rất nhiều.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi bắt đầu sử dụng một chiếc máy ảnh không gương lật vào năm 2012 khi vẫn đang sử dụng máy ảnh DSLR cho công việc. Khi biết đến dòng máy ảnh không gương lật Sony α7 sở hữu cảm biến ảnh full-frame, tôi vô cùng tò mò về hiệu suất của chúng. Tôi yêu chúng từ khi ấy. Sau 6 tháng, tôi quyết định bán đi tất cả các máy ảnh DSLR của mình. Một chiếc máy ảnh gọn nhẹ với hiệu suất cao giải đáp tất cả những nhu cầu của tôi cho nhiếp ảnh đám cưới.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Dải nhạy sáng cao, kết nối Wi-Fi và NFC cùng cảm biến full-frame trong một thân hình nhỏ gọn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Một trong những chiếc máy ảnh không gương lật với cảm biến full-frame tốt nhất. Với thang điểm 10, điểm đánh giá sẽ là 9 – 10 đối với tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính Sony FE16-35mm để chụp phong cảnh, FE 35mm để chụp các sự kiện và đám cưới, và ống kính FE 55mm để chụp thông thường và những bức ảnh chân dung. Ống kính 135mm f1.8 cũng là một ống kính tuyệt vời để nắm bắt những khoảnh khắc của các bức chân dung.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chiếc máy ảnh Sony α7Rii, α7ii, ống kính FE 16-35, FE 35mm, FE 55mm, CZ 135mm với ngàm chuyển, ba thẻ nhớ SD 64GB, đèn flash Sony cùng năm viên pin và hai bộ sạc.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
