<div class="viet" id="profile-fakrul">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Phong Cảnh</p>
                <p class="name">Fakrul Jamil</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Malaysia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Phong Cảnh</p>
                    <p class="name">Fakrul Jamil</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Malaysia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Fakrul Jamil là một nhiếp ảnh gia đầy nhiệt huyết đối với thể loại ảnh phong cảnh hiện đang sống tại Kuala Lumpur, Malaysia. Anh chuyên chụp ảnh phong cảnh và nối tiếng với cách xử lý ánh sáng vô cùng tinh tế cho dù ở bất kỳ đâu hay bất kỳ lúc nào.</p>

            <p>Khi công việc đòi hỏi phải bận rộn từ sáng đến tối, Fakrul luôn dành cuối tuần của mình để thực hiện những chuyến leo núi đến những miền xa xôi cả trong và ngoài nước.</p>

            <p>Công việc nhiếp ảnh chuyên nghiệp đưa anh đến những địa danh tráng lệ bậc nhất thế giới – một trải nghiệp đã thôi thúc anh theo đuổi sự nghiệp nhiếp ảnh.</p>

            <p>Anh đã đặt chân đến nhiều châu lục trên toàn thế giới như Châu Đại Dương (Úc, New Zealand), Châu Âu (Paris, Madrid, Tenerife, quần đảo Canary, London, Manchester, Scotland) và châu Á (Indonesia).</p>

            <p>“Nhiếp ảnh giúp thoả mãn bản chất sáng tạo trong tôi,” anh giải thích.  “Đó là niềm vui và sự hưng phấn. Bản thân tôi luôn rất phấn khích mỗi khi đứng trước những cảnh đẹp, do đó tôi muốn chia sẻ chúng với toàn thế giới.</p>

            <p>Bạn có thể tìm xem những tác phẩm của Fakrul ở
                <a href="//www.fakruljamil.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:fakrul:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:fakrul:works:link', 'microsite|ilc:sea:viet|profile|fakrul|works|link');" target="_blank">www.fakruljamil.com</a>
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Fakrul Jamil là một nhiếp ảnh gia đầy nhiệt huyết đối với thể loại ảnh phong cảnh hiện đang sống tại Kuala Lumpur, Malaysia. Anh chuyên chụp ảnh phong cảnh và nối tiếng với cách xử lý ánh sáng vô cùng tinh tế cho dù ở bất kỳ đâu hay bất kỳ lúc nào.</p>

            <p>Khi công việc đòi hỏi phải bận rộn từ sáng đến tối, Fakrul luôn dành cuối tuần của mình để thực hiện những chuyến leo núi đến những miền xa xôi cả trong và ngoài nước.</p>

            <p>Công việc nhiếp ảnh chuyên nghiệp đưa anh đến những địa danh tráng lệ bậc nhất thế giới – một trải nghiệp đã thôi thúc anh theo đuổi sự nghiệp nhiếp ảnh.</p>

            <p>Anh đã đặt chân đến nhiều châu lục trên toàn thế giới như Châu Đại Dương (Úc, New Zealand), Châu Âu (Paris, Madrid, Tenerife, quần đảo Canary, London, Manchester, Scotland) và châu Á (Indonesia).</p>

            <p>“Nhiếp ảnh giúp thoả mãn bản chất sáng tạo trong tôi,” anh giải thích.  “Đó là niềm vui và sự hưng phấn. Bản thân tôi luôn rất phấn khích mỗi khi đứng trước những cảnh đẹp, do đó tôi muốn chia sẻ chúng với toàn thế giới.</p>

            <p>Bạn có thể tìm xem những tác phẩm của Fakrul ở
                <a href="//www.fakruljamil.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:fakrul:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:fakrul:works:link', 'microsite|ilc:sea:viet|profile|fakrul|works|link');" target="_blank">www.fakruljamil.com</a>
            </p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Fakrul</span>
                </p>
                <img data-original="img/profile/my/fakrul/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Fakrul">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/fakrul/quote-1-vn.png" width="303" height="206" alt="Fakrul's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/my/fakrul/quote-2-vn.png" width="313" height="270" alt="Fakrul's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Niềm đam mê đối với cảnh đẹp và nhiếp ảnh đã đưa tôi đến những vùng đất tuyệt diệu của thế giới, một trải nghiệp đã thôi thúc tôi theo đuổi sự nghiệp nhiếp ảnh.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh đã trở thành một phần quan trọng trong cuộc sống của tôi như là cách để tôi khám phá thêm thế giới xung quanh mình. Hiện tại, tôi bị hạn chế  thời gian cho công việc của mình nhưng tôi hy vọng mình có thể thay đổi để một ngày nào đó trở thành một nhiếp ảnh gia du lịch thực thụ.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/fakrul/profile_pic-2.jpg" width="611" height="207" alt="Interview with Fakrul">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chúng phải thật hiệu quả và đủ bền bỉ để tôi có thể tác nghiệp trong những môi trường chụp ảnh khắc nghiệt ở bên ngoài. Nhiệt độ âm, nước biển, dưới thác nước hay thậm chí là lúc trời mưa, thiết bị của tôi phải chịu được những điều kiện này. Bên cạnh đó, dải động cao cũng là điều hết sức cần thiết cho tôi săn được những bức ảnh có ánh sáng tốt nhất trong một ngày. Từ bình minh đến hoàng hôn, nơi ánh sáng đầy tương phản và màu sắc huyền dịệu.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Alonso Diaz, một bậc thầy về nhiếp ảnh cảnh biển đang sống ở Bồ Đào Nha. Anh ấy là đại sứ thương hiệu Sony UK.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Là một nhiếp ảnh phong cảnh, tôi thường tìm đến những điểm thiên nhiên hoang dã nơi mà tôi thường phải mất hàng giờ để đi bộ và leo núi. Việc giải phóng được trọng lượng với hệ thống máy ảnh a7RII đã giúp tôi giải quyết được vấn đề nan giải của tôi trước đây, một chiếc máy ảnh có những tính năng tuyệt vời và đủ gọn nhẹ mà tôi đang mong chờ.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Điểm 10 cho kích cỡ và trọng lượng tuyệt vời của chiếc máy. Và độ phân giải 42MP, thật là một điều tuyệt vời cho những nhiếp ảnh gia phong cảnh như tôi!</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhỏ gọn, dải tần nhạy sáng cao và tính năng làm nổi cạnh (focus peaking) khi lấy nét là những tính năng tuyệt vời, giúp tôi chụp một cách chính xác và vô cùng nhanh chóng.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony trở nên nổi tiếng kể từ khi dòng a7 ra đời. Và việc ra mắt A7RII và A7SII chứng minh Sony ngày càng mạnh hơn và chiếm ưu thế trong lĩnh vực này.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/fakrul/profile_pic-3.jpg" width="611" height="207" alt="Interview with Fakrul">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Hầu hết thời gian của tôi chỉ chụp ảnh phong cảnh và đô thị, ống kính góc cực rộng luôn là lựa chọn hàng đầu của tôi. Carl Zeiss FE16-35 f/4 là ống ống tuyệt vời mà tôi từng có.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tất nhiên là A7RII và ống kính yêu thích Carl Zeiss FE16-35 f/4, không thể thiếu một chân máy để chụp phong cảnh. Và một bộ đôi kính lọc gồm “Big Sopper” và Kính lọc phân cực xoay được (CPL).</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Fakrul</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/fakrul/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Fakrul"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Niềm đam mê đối với cảnh đẹp và nhiếp ảnh đã đưa tôi đến những vùng đất tuyệt diệu của thế giới, một trải nghiệp đã thôi thúc tôi theo đuổi sự nghiệp nhiếp ảnh.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đã trở thành một phần quan trọng trong cuộc sống của tôi như là cách để tôi khám phá thêm thế giới xung quanh mình. Hiện tại, tôi bị hạn chế  thời gian cho công việc của mình nhưng tôi hy vọng mình có thể thay đổi để một ngày nào đó trở thành một nhiếp ảnh gia du lịch thực thụ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chúng phải thật hiệu quả và đủ bền bỉ để tôi có thể tác nghiệp trong những môi trường chụp ảnh khắc nghiệt ở bên ngoài. Nhiệt độ âm, nước biển, dưới thác nước hay thậm chí là lúc trời mưa, thiết bị của tôi phải chịu được những điều kiện này. Bên cạnh đó, dải động cao cũng là điều hết sức cần thiết cho tôi săn được những bức ảnh có ánh sáng tốt nhất trong một ngày. Từ bình minh đến hoàng hôn, nơi ánh sáng đầy tương phản và màu sắc huyền dịệu.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Alonso Diaz, một bậc thầy về nhiếp ảnh cảnh biển đang sống ở Bồ Đào Nha. Anh ấy là đại sứ thương hiệu Sony UK.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Là một nhiếp ảnh phong cảnh, tôi thường tìm đến những điểm thiên nhiên hoang dã nơi mà tôi thường phải mất hàng giờ để đi bộ và leo núi. Việc giải phóng được trọng lượng với hệ thống máy ảnh a7RII đã giúp tôi giải quyết được vấn đề nan giải của tôi trước đây, một chiếc máy ảnh có những tính năng tuyệt vời và đủ gọn nhẹ mà tôi đang mong chờ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Điểm 10 cho kích cỡ và trọng lượng tuyệt vời của chiếc máy. Và độ phân giải 42MP, thật là một điều tuyệt vời cho những nhiếp ảnh gia phong cảnh như tôi!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhỏ gọn, dải tần nhạy sáng cao và tính năng làm nổi cạnh (focus peaking) khi lấy nét là những tính năng tuyệt vời, giúp tôi chụp một cách chính xác và vô cùng nhanh chóng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony trở nên nổi tiếng kể từ khi dòng a7 ra đời. Và việc ra mắt A7RII và A7SII chứng minh Sony ngày càng mạnh hơn và chiếm ưu thế trong lĩnh vực này.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Hầu hết thời gian của tôi chỉ chụp ảnh phong cảnh và đô thị, ống kính góc cực rộng luôn là lựa chọn hàng đầu của tôi. Carl Zeiss FE16-35 f/4 là ống ống tuyệt vời mà tôi từng có.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tất nhiên là A7RII và ống kính yêu thích Carl Zeiss FE16-35 f/4, không thể thiếu một chân máy để chụp phong cảnh. Và một bộ đôi kính lọc gồm “Big Sopper” và Kính lọc phân cực xoay được (CPL).</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
