<div class="viet" id="profile-nicoline">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Chân Dung + Thời Trang</p>
                <p class="name">Nicoline Patricia Malina</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Indonesia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-6 col-sm-6">

                <div>
                    <p class="type">Nhiếp ảnh gia Chân Dung + Thời Trang</p>
                    <p class="name">Nicoline Patricia Malina</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Indonesia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Nicoline Patricia Malina là một nhiếp ảnh gia sinh ra tại Surabay, đã từng theo học Mỹ thuật hiện đại ở Utrecht và hiện đang sinh sống tại Jakarta. Tính thẩm mỹ trong những tác phẩm của cô khá độc đáo, giàu màu sắc và hoàn hảo tuyệt đối đến từng chi tiết trong cách sắp xếp bố cục kết hợp với chất thô đen trắng của phim ảnh. Từ phong cảnh tự nhiên đến căn phòng khách sạn chật hẹp, cô cũng có cách khiến chúng xuất hiện một cách hoàn mỹ như thể chúng vốn đã được xếp đặt như vậy.</p>

            <p>Nicoline đã cộng tác với rất nhiều tạp chí quốc tế và trong nước. Những tạp chí thường xuyên xuất hiện các tác phẩm của cô bao gồm Bazaar, Elle, Amica, Esquire, Maxim, Cosmopolitan, Marie Claire Harper và cô cũng chụp cho nhiều khách hàng nổi tiếng trên khắp châu Á trong các lĩnh vực từ thời trang, phong cách sống, nhà hàng - khách sạn và ẩm thực như Coca Cola, A Mild, WWF, JJ Royal Coffee, Tanishq, John Players, Vero Moda, Senayan City, GIA và Immigrant.</p>

            <p>Năm 2007, cô đã nhận được giải thưởng ""Iconique Societas Excellence in Fashion Photography”, một danh hiệu quốc tế trong lĩnh vực nhiếp ảnh thời trang; theo đó, cánh cửa bước vào lĩnh vực này cũng rộng mở đối với cô. Năm 2009, cô được trao hai giải ""Nhiếp ảnh gia trẻ tuổi của năm"" do tạp chí ELLE bình chọn và ""Nhiếp ảnh gia của năm"" tại lễ trao giải A + Scarlett Celebrity Fashion Awards. Cô cũng là gương mặt nhiếp ảnh tiêu biểu của Kuningan City iKonography năm 2013 và được chọn là “Nghệ sĩ sáng tạo phong cách nhất” trong lễ trao giải Senayan City Style Maker Awards năm 2014. Nicoline đã tổ chức hai triển lãm cá nhân và nhiều triển lãm nhóm tại Jakarta, Bali và Milan.</p>

            <p>Nicoline thành lập nhóm nhiếp ảnh NPM vào năm 2013, một tổ chức tư vấn truyền thông và quản lý cho các nghệ sĩ sáng tạo bao gồm các nhiếp ảnh gia, họa sĩ, đạo diễn phim ảnh và nhà sản xuất với chuyên môn trên nhiều lĩnh vực, bao gồm: thời trang, chân dung, phong cách sống, tĩnh vật và nội thất. Năm 2014, cô thành lập The Class by NPM, một chương trình nhằm tạo ra và ủng hộ các nhiếp ảnh gia trở thành những nhà sáng tạo dựa trên niềm đam mê, tài năng và tham vọng của họ. The Class đã giúp đỡ nhiều nhiếp ảnh gia mới nổi trên con đường bước vào hoạt động chuyên nghiệp.</p>


            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Nicoline Patricia Malina là một nhiếp ảnh gia sinh ra tại Surabay, đã từng theo học Mỹ thuật hiện đại ở Utrecht và hiện đang sinh sống tại Jakarta. Tính thẩm mỹ trong những tác phẩm của cô khá độc đáo, giàu màu sắc và hoàn hảo tuyệt đối đến từng chi tiết trong cách sắp xếp bố cục kết hợp với chất thô đen trắng của phim ảnh. Từ phong cảnh tự nhiên đến căn phòng khách sạn chật hẹp, cô cũng có cách khiến chúng xuất hiện một cách hoàn mỹ như thể chúng vốn đã được xếp đặt như vậy.</p>

            <p>Nicoline đã cộng tác với rất nhiều tạp chí quốc tế và trong nước. Những tạp chí thường xuyên xuất hiện các tác phẩm của cô bao gồm Bazaar, Elle, Amica, Esquire, Maxim, Cosmopolitan, Marie Claire Harper và cô cũng chụp cho nhiều khách hàng nổi tiếng trên khắp châu Á trong các lĩnh vực từ thời trang, phong cách sống, nhà hàng - khách sạn và ẩm thực như Coca Cola, A Mild, WWF, JJ Royal Coffee, Tanishq, John Players, Vero Moda, Senayan City, GIA và Immigrant.</p>

            <p>Năm 2007, cô đã nhận được giải thưởng ""Iconique Societas Excellence in Fashion Photography”, một danh hiệu quốc tế trong lĩnh vực nhiếp ảnh thời trang; theo đó, cánh cửa bước vào lĩnh vực này cũng rộng mở đối với cô. Năm 2009, cô được trao hai giải ""Nhiếp ảnh gia trẻ tuổi của năm"" do tạp chí ELLE bình chọn và ""Nhiếp ảnh gia của năm"" tại lễ trao giải A + Scarlett Celebrity Fashion Awards. Cô cũng là gương mặt nhiếp ảnh tiêu biểu của Kuningan City iKonography năm 2013 và được chọn là “Nghệ sĩ sáng tạo phong cách nhất” trong lễ trao giải Senayan City Style Maker Awards năm 2014. Nicoline đã tổ chức hai triển lãm cá nhân và nhiều triển lãm nhóm tại Jakarta, Bali và Milan.</p>

            <p>Nicoline thành lập nhóm nhiếp ảnh NPM vào năm 2013, một tổ chức tư vấn truyền thông và quản lý cho các nghệ sĩ sáng tạo bao gồm các nhiếp ảnh gia, họa sĩ, đạo diễn phim ảnh và nhà sản xuất với chuyên môn trên nhiều lĩnh vực, bao gồm: thời trang, chân dung, phong cách sống, tĩnh vật và nội thất. Năm 2014, cô thành lập The Class by NPM, một chương trình nhằm tạo ra và ủng hộ các nhiếp ảnh gia trở thành những nhà sáng tạo dựa trên niềm đam mê, tài năng và tham vọng của họ. The Class đã giúp đỡ nhiều nhiếp ảnh gia mới nổi trên con đường bước vào hoạt động chuyên nghiệp.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chyện
                    <br/> với
                    <span class="intv-photographer">Nicoline</span>
                </p>
                <img data-original="img/profile/id/nicoline/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Nicoline">

                <img class="quote-1 img-responsive center-block" src="img/profile/id/nicoline/quote-1-vn.png" width="310" height="463" alt="Nicoline's quote">

                <img id="vn" class="quote-2 img-responsive center-block" src="img/profile/id/nicoline/quote-2-vn.png" width="308" height="376" alt="Nicoline's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc chị trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Mong muốn được sáng tạo, kể chuyện và du lịch đã thôi thúc tôi từ khi còn bé. Tôi đã thử qua và thật sự rất thích nhiều lĩnh vực, từ hội hoạ, thiết kế cho đến chụp ảnh. Tôi bắt đầu chụp ảnh từ năm 2005, bắt đầu từ những góc phố và phong cảnh xung quanh. Tôi thích không gian ngoài trời nhưng cuối cùng lại chọn con đường trở thành nhiếp ảnh gia thời trang. Tôi nhớ cái lần được tham gia một buổi chụp ảnh thời trang và khi đó tôi đã nghĩ trong đầu: “Quá tuyệt vời! Tôi muốn dành cả đời để làm điều này.” Kể từ đó, trở thành một nhiếp ảnh gia mang đến cho tôi cơ hội gặp gỡ những người bạn mới, để học hỏi và nhìn nhận cuộc sống qua lăng kính của họ, du lịch đến những miền đất xa xôi, đi qua hàng loạt những trải nghiệm vô giá. Và nhờ đó, tôi cảm thấy mình may mắn qua từng ngày.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của chị?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Công việc chính là một phần trong cuộc sống của tôi. Nó bắt đầu từ một đam mê, sau đó trở thành công việc, và từ khi nào tôi gắn liền với nó hằng ngày, hằng giờ, và nó trở thành một phần tất yếu trong cuộc sống hàng ngày của tôi, tự nhiên đến mức tôi không thể và sẽ không bao giờ dừng lại được. Nó như nước và thức ăn đối với những người khác, bạn không thể sống nếu thiếu nó. Nhưng đối với tôi, nó là một nơi để ghé thăm và một bức ảnh để ghi lại. Nó như một điều gì đó bất ly thân trong suốt 10 năm qua, nhiếp ảnh và cuộc sống. Tôi đang sống một cuộc sống vô cùng thú vị và phiêu lưu – thế giới của những chuyến đi, của những nền văn hoá, của con người và nhiếp ảnh – tất cả hoà quyện làm một.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-2.jpg" width="611" height="207" alt="Interview with Nicoline">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Giống như cách tôi muốn mọi thứ trong cuộc sống của mình: mạnh mẽ, bền bỉ, hiệu quả và thực tế.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của chị?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sự nghiệp sáng tạo của tôi đã và luôn là một quá trình học tập không ngừng, cả về thể chất lẫn tinh thần. Lần đầu tiên tôi đem lòng yêu nhiếp ảnh thời trang là khi tôi bắt gặp một bức ảnh của Peter Lindbergh trên một số báo năm 1993 của tạp chí Bazaar. Rồi sau đó, tôi lại tiếp tục được truyền cảm hứng trong cách nhìn nhận đầy tinh tế về sự lãng mạn của Wong Kar Wai, góc nhìn và định hướng nghệ thuật trong những bức chân dung của Steve McCurry, và cả cái cách tự phát và hóm hỉnh mà Ellen von Unwerth chỉ đạo người mẫu. Và cả mẹ tôi, người chưa bao giờ ngừng ủng hộ và cho tôi những lời khuyên vô giá.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với chị trong nhiếp ảnh là gì và a7 đã giúp chị giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi có một triết lý: ít hơn để được nhiều hơn. Càng mang theo ít “đồ nghề”, tôi càng tập trung vào việc sáng tạo. Trước đây, tôi thường mang đi rất nhiều túi xách cồng kềnh trong những chuyến đi của mình. Một vài trong số đó thậm chí còn không phải để chứa dụng cụ nhiếp ảnh, đơn thuần là những vật dụng cá nhân. Tôi mang theo dây thừng, thang, tấm hắt sáng, đèn pin, la bàn và ủng cùng với máy ảnh và ống kính. Chúng là một phần trong cuộc sống của các nhiếp ảnh gia du lịch; nhưng tôi luôn muốn những thiết bị của mình càng di dộng và gọn nhẹ càng tốt. Tôi muốn tập trung vào công việc tạo nên những bức ảnh đặc sắc, chứ không phải mang vác. Tôi cần một chiếc máy ảnh có thể đáp ứng được mọi nhu cầu của tôi; và vào thời điểm đó, một chiếc máy ảnh như vậy chưa hề tồn tại. Trước khi tôi biết đến a7, tôi phải mang theo cùng lúc một vài chiếc máy ảnh SLR nặng và cồng kềnh, vì mỗi chiếc đều có lợi thế riêng.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao chị lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Gần đây tôi cảm thấy đặc biệt hứng thú với việc chụp ảnh và quay phim, hoặc ít nhất là hứng thú như lần đầu tiên tôi cầm trên tay chiếc máy ảnh 8 năm về trước. Tôi nghĩ phần lớn là nhờ a7. Đó là một cảm giác tự do hoàn toàn mới – bạn cứ thử nghĩ đến sự tiện lợi và linh hoạt trong di chuyển mà một chiếc máy ảnh gọn nhẹ có thể mang lại mà xem. Đó gần như là một sự “lột xác” hoàn toàn, nhất là khi tôi khám phá ra những lợi thế mà chiếc máy ảnh có thể mang lại; toàn bộ thao tác được thực hiện một cách kỳ diệu và cực kỳ hiệu quả. Tôi chỉ cần một chiếc máy ảnh để có thể làm được mọi thứ mình đặt ra: độ phân giải lớn có khả năng mang đến những chi tiết sắc nét cho những bức ảnh quảng cáo và xã luận. Gọn nhẹ đủ để mang trong túi cầm tay trong suốt chuyến đi. Cứng cáp và bền bỉ để có thể sử dụng trong mọi điều khiện thời tiến và khí hấu. Và sử dụng ống kính Zeiss danh tiếng!</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Máy ảnh full-frame có thể thay đổi ống kính nhẹ nhất thế giới với độ phân giải 24.3MP, kết nối với smartphone qua Wi-Fi<sup>&reg;</sup> hoặc NFC, khả năng thích ứng với ống kính Carl Zeiss ngàm E và hàng loạt các ống kính full-frame khác.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Công nghệ tích hợp cảm biến full-frame trong máy ảnh không gương lật. Cho điểm 10/10 vẫn còn… hơi thấp.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/id/nicoline/profile_pic-3.jpg" width="611" height="207" alt="Interview with Nicoline">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của chị là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính tiêu cự cố định Sony 85mm f/1.4 Zeiss Planar T*. Tôi yêu chất điện ảnh, sự tinh tế và thanh lịch từ độ sâu trường ảnh hẹp khi chụp chân dung với ống kính này. Nếu cần một ống kính có dải tiêu cự rộng cho những bức ảnh trên báo và du lịch, tôi sẽ chọn Zeiss Vario Tessar T* FE 24-70mm F4.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Chị mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7, a7II, 85mm f/1.4 Zeiss, 24-70mm F/4 Zeiss, 55mm F/1.8 Zeiss, 3 thẻ SD (64GB), bộ tiếp hợp ngàm, đèn flash gắn ngoài Sony, 5 pin dự phòng & 1 bộ sạc, phích cắm và ổ điện thông dụng quốc tế. Tôi gặp phải vấn đề là cứ vài tháng sẽ làm mất nắp đậy ống kính một lần.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chyện
                    <br/> với
                    <span class="intv-photographer">Nicoline</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/id/nicoline/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Nicoline"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc chị trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Mong muốn được sáng tạo, kể chuyện và du lịch đã thôi thúc tôi từ khi còn bé. Tôi đã thử qua và thật sự rất thích nhiều lĩnh vực, từ hội hoạ, thiết kế cho đến chụp ảnh. Tôi bắt đầu chụp ảnh từ năm 2005, bắt đầu từ những góc phố và phong cảnh xung quanh. Tôi thích không gian ngoài trời nhưng cuối cùng lại chọn con đường trở thành nhiếp ảnh gia thời trang. Tôi nhớ cái lần được tham gia một buổi chụp ảnh thời trang và khi đó tôi đã nghĩ trong đầu: “Quá tuyệt vời! Tôi muốn dành cả đời để làm điều này.” Kể từ đó, trở thành một nhiếp ảnh gia mang đến cho tôi cơ hội gặp gỡ những người bạn mới, để học hỏi và nhìn nhận cuộc sống qua lăng kính của họ, du lịch đến những miền đất xa xôi, đi qua hàng loạt những trải nghiệm vô giá. Và nhờ đó, tôi cảm thấy mình may mắn qua từng ngày.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của chị?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Công việc chính là một phần trong cuộc sống của tôi. Nó bắt đầu từ một đam mê, sau đó trở thành công việc, và từ khi nào tôi gắn liền với nó hằng ngày, hằng giờ, và nó trở thành một phần tất yếu trong cuộc sống hàng ngày của tôi, tự nhiên đến mức tôi không thể và sẽ không bao giờ dừng lại được. Nó như nước và thức ăn đối với những người khác, bạn không thể sống nếu thiếu nó. Nhưng đối với tôi, nó là một nơi để ghé thăm và một bức ảnh để ghi lại. Nó như một điều gì đó bất ly thân trong suốt 10 năm qua, nhiếp ảnh và cuộc sống. Tôi đang sống một cuộc sống vô cùng thú vị và phiêu lưu – thế giới của những chuyến đi, của những nền văn hoá, của con người và nhiếp ảnh – tất cả hoà quyện làm một.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Giống như cách tôi muốn mọi thứ trong cuộc sống của mình: mạnh mẽ, bền bỉ, hiệu quả và thực tế.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của chị?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sự nghiệp sáng tạo của tôi đã và luôn là một quá trình học tập không ngừng, cả về thể chất lẫn tinh thần. Lần đầu tiên tôi đem lòng yêu nhiếp ảnh thời trang là khi tôi bắt gặp một bức ảnh của Peter Lindbergh trên một số báo năm 1993 của tạp chí Bazaar. Rồi sau đó, tôi lại tiếp tục được truyền cảm hứng trong cách nhìn nhận đầy tinh tế về sự lãng mạn của Wong Kar Wai, góc nhìn và định hướng nghệ thuật trong những bức chân dung của Steve McCurry, và cả cái cách tự phát và hóm hỉnh mà Ellen von Unwerth chỉ đạo người mẫu. Và cả mẹ tôi, người chưa bao giờ ngừng ủng hộ và cho tôi những lời khuyên vô giá.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với chị trong nhiếp ảnh là gì và a7 đã giúp chị giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi có một triết lý: ít hơn để được nhiều hơn. Càng mang theo ít “đồ nghề”, tôi càng tập trung vào việc sáng tạo. Trước đây, tôi thường mang đi rất nhiều túi xách cồng kềnh trong những chuyến đi của mình. Một vài trong số đó thậm chí còn không phải để chứa dụng cụ nhiếp ảnh, đơn thuần là những vật dụng cá nhân. Tôi mang theo dây thừng, thang, tấm hắt sáng, đèn pin, la bàn và ủng cùng với máy ảnh và ống kính. Chúng là một phần trong cuộc sống của các nhiếp ảnh gia du lịch; nhưng tôi luôn muốn những thiết bị của mình càng di dộng và gọn nhẹ càng tốt. Tôi muốn tập trung vào công việc tạo nên những bức ảnh đặc sắc, chứ không phải mang vác. Tôi cần một chiếc máy ảnh có thể đáp ứng được mọi nhu cầu của tôi; và vào thời điểm đó, một chiếc máy ảnh như vậy chưa hề tồn tại. Trước khi tôi biết đến a7, tôi phải mang theo cùng lúc một vài chiếc máy ảnh SLR nặng và cồng kềnh, vì mỗi chiếc đều có lợi thế riêng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao chị lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Gần đây tôi cảm thấy đặc biệt hứng thú với việc chụp ảnh và quay phim, hoặc ít nhất là hứng thú như lần đầu tiên tôi cầm trên tay chiếc máy ảnh 8 năm về trước. Tôi nghĩ phần lớn là nhờ a7. Đó là một cảm giác tự do hoàn toàn mới – bạn cứ thử nghĩ đến sự tiện lợi và linh hoạt trong di chuyển mà một chiếc máy ảnh gọn nhẹ có thể mang lại mà xem. Đó gần như là một sự “lột xác” hoàn toàn, nhất là khi tôi khám phá ra những lợi thế mà chiếc máy ảnh có thể mang lại; toàn bộ thao tác được thực hiện một cách kỳ diệu và cực kỳ hiệu quả. Tôi chỉ cần một chiếc máy ảnh để có thể làm được mọi thứ mình đặt ra: độ phân giải lớn có khả năng mang đến những chi tiết sắc nét cho những bức ảnh quảng cáo và xã luận. Gọn nhẹ đủ để mang trong túi cầm tay trong suốt chuyến đi. Cứng cáp và bền bỉ để có thể sử dụng trong mọi điều khiện thời tiến và khí hấu. Và sử dụng ống kính Zeiss danh tiếng!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Máy ảnh full-frame có thể thay đổi ống kính nhẹ nhất thế giới với độ phân giải 24.3MP, kết nối với smartphone qua Wi-Fi<sup>&reg;</sup> hoặc NFC, khả năng thích ứng với ống kính Carl Zeiss ngàm E và hàng loạt các ống kính full-frame khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Công nghệ tích hợp cảm biến full-frame trong máy ảnh không gương lật. Cho điểm 10/10 vẫn còn… hơi thấp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của chị là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính tiêu cự cố định Sony 85mm f/1.4 Zeiss Planar T*. Tôi yêu chất điện ảnh, sự tinh tế và thanh lịch từ độ sâu trường ảnh hẹp khi chụp chân dung với ống kính này. Nếu cần một ống kính có dải tiêu cự rộng cho những bức ảnh trên báo và du lịch, tôi sẽ chọn Zeiss Vario Tessar T* FE 24-70mm F4.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Chị mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7, a7II, 85mm f/1.4 Zeiss, 24-70mm F/4 Zeiss, 55mm F/1.8 Zeiss, 3 thẻ SD (64GB), bộ tiếp hợp ngàm, đèn flash gắn ngoài Sony, 5 pin dự phòng & 1 bộ sạc, phích cắm và ổ điện thông dụng quốc tế. Tôi gặp phải vấn đề là cứ vài tháng sẽ làm mất nắp đậy ống kính một lần.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
