<div class="viet" id="profile-chester">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Phong Cảnh</p>
                <p class="name">Chester Chen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Phong Cảnh</p>
                    <p class="name">Chester Chen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Sinh ra tại Kingston, Jamaica, nhiếp ảnh gia 49 tuổi Chester Chen đã từng có thời gian sinh sống và làm việc tại các thành phố lớn như Toronto, San Francisco và London. Hiện nay, anh đang sống tại Singapore với vợ và con trai.</p>

            <p>Chester có hơn 10 năm kinh nghiệm viết bài đánh giá các sản phẩm phần mềm và phần cứng, và đã từng có thời gian làm việc cho các toà soạn và thương hiệu như The Straits Times, VR-Zone và Sony.</p>

            <p>Chester bắt đầu theo đuổi trào lưu công nghệ ảnh số từ cuối những năm 1990 cho đến đầu năm 2000 và sở hữu chiếc máy ảnh DSLR đầu tiên vào năm 2006 khi con trai của anh ra đời. Kể từ đó, anh tập trung vào sự nghiệp tìm và tạo ra các nội dung báo chí và ấn phẩm trực tuyến. Anh thực hiện các dự án chụp ảnh chuyên nghiệp cho sự kiện của các tập đoàn lớn, là người thực hiện các chiến dịch tạo sự nhận biết thương hiệu, và cấp quyền cho những bức ảnh của mình trên toàn thế giới. Gần đây, anh đã quay trở lại với đam mê máy ảnh phim trước đây, bao gồm tạo phim âm bản trắng đen tại nhà.</p>

            <p>Ngoài ra, Chester Chen còn là thành viên sáng lập của Landscape Hunters Asia (Thợ Săn Phong Cảnh Châu Á), một nhóm nhiếp ảnh gia Phong Cảnh/Kiến Trúc kỳ cựu chuyên chia sẻ ý tưởng và kết nối với các nhiếp ảnh gia khác trên toàn thế giới.</p>

            <p>Bạn có thể xem các dự án ảnh của anh trên Flickr.
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:chester:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:chester:works:link', 'microsite|ilc:sea:viet|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Sinh ra tại Kingston, Jamaica, nhiếp ảnh gia 49 tuổi Chester Chen đã từng có thời gian sinh sống và làm việc tại các thành phố lớn như Toronto, San Francisco và London. Hiện nay, anh đang sống tại Singapore với vợ và con trai.</p>

            <p>Chester có hơn 10 năm kinh nghiệm viết bài đánh giá các sản phẩm phần mềm và phần cứng, và đã từng có thời gian làm việc cho các toà soạn và thương hiệu như The Straits Times, VR-Zone và Sony.</p>

            <p>Chester bắt đầu theo đuổi trào lưu công nghệ ảnh số từ cuối những năm 1990 cho đến đầu năm 2000 và sở hữu chiếc máy ảnh DSLR đầu tiên vào năm 2006 khi con trai của anh ra đời. Kể từ đó, anh tập trung vào sự nghiệp tìm và tạo ra các nội dung báo chí và ấn phẩm trực tuyến. Anh thực hiện các dự án chụp ảnh chuyên nghiệp cho sự kiện của các tập đoàn lớn, là người thực hiện các chiến dịch tạo sự nhận biết thương hiệu, và cấp quyền cho những bức ảnh của mình trên toàn thế giới. Gần đây, anh đã quay trở lại với đam mê máy ảnh phim trước đây, bao gồm tạo phim âm bản trắng đen tại nhà.</p>

            <p>Ngoài ra, Chester Chen còn là thành viên sáng lập của Landscape Hunters Asia (Thợ Săn Phong Cảnh Châu Á), một nhóm nhiếp ảnh gia Phong Cảnh/Kiến Trúc kỳ cựu chuyên chia sẻ ý tưởng và kết nối với các nhiếp ảnh gia khác trên toàn thế giới.</p>

            <p>Bạn có thể xem các dự án ảnh của anh trên Flickr.
                <a href="http://www.flickr.com/photos/jamcansing" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:chester:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:chester:works:link', 'microsite|ilc:sea:viet|profile|chester|works|link');" target="_blank">www.flickr.com/photos/jamcansing</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KjEiRYo-WGs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Chester</span>
                </p>
                <img data-original="img/profile/sg/chester/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Chester">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/chester/quote-1-vn.png" width="312" height="239" alt="Chester's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/chester/quote-2-vn.png" width="297" height="183" alt="Chester's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi rất vui khi được chia sẻ những khoảnh khắc mình đã chứng kiến, cho dù là qua những bức ảnh riêng lẻ, hoặc những đoạn phim time-lapse gói gọn hàng giờ đồng hồ trong vỏn vẹn vài giây, hoặc một bức ảnh chụp phơi sáng.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Việc chụp ảnh đã có những ảnh hưởng khác nhau trong ba giai đoạn của cuộc đời tôi. Giai đoạn đầu tiên là khi tôi bắt đầu học chụp ảnh như một môn học ở Trung Học. Chính điều này đã trở thành nền tảng cho thói quen và tôi đã trở nên gắn bó hơn với nó khi bắt đầu làm thêm tại cửa hàng máy ảnh. Khi còn là một cậu sinh viên, đã có lúc tôi phải gác lại việc chụp ảnh để tập trung vào lĩnh vực Công nghệ thông tin, nhưng tôi luôn tin rằng tình yêu nhiếp ảnh vẫn luôn ở đó, thường trực trong tôi. Mãi cho đến năm 2006, khi con trai của tôi chào đời, tôi đã quay lại với niềm đam mê nhiếp ảnh. Giai đoạn thứ ba là từ 2009-2010, khi tôi lọt vào Top 3 của một cuộc thi nhiếp ảnh, và từ đó chụp ảnh đã dần trở thành công việc hơn chỉ đơn thuần là sở thích cá nhân.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-2.jpg" width="611" height="207" alt="Interview with Chester">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Khó khăn lớn nhất đối với tôi là phải mang vác nặng cùng lúc máy ảnh và nhiều thiết bị khác. Tôi không còn là “gà tơ” (mặc dù vẫn đủ khỏe để mang theo tất cả), vì vậy kích thước và trọng lượng được giảm thiểu đáng kể của dòng máy ảnh không gương lật như a7 cho phép tôi mang một chiếc túi xách nhỏ gọn hơn, hoặc nếu thích, bạn cũng có thể mang thêm một vài ống kính hay phụ kiện khác.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Như đã đề cập từ trước, thử thách lớn nhất trong nhiếp ảnh mà tôi gặp phải chính là trọng lượng của máy. Sự gọn nhẹ và kích thước nhỏ gọn của một hệ thống không gương lật cho phép tôi giảm đáng kể khối lượng "đồ nghề" cần mang theo. Trọng lượng giảm đi giúp tôi mang vác đỡ mệt hơn, hoặc đôi lúc cho phép tôi mang thêm một vài ống kính hay phụ kiện khác.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm / lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi nghĩ ngay lập tức đến ống ngắm điện tử và khả năng lấy nét tay với tính năng Focus Peaking. Ngoài ra, tôi rất thích tính năng Wi-Fi<sup>&reg;</sup> của máy, cho phép kết nối không dây với các thiết bị khác trên a7 và thậm chí còn có thể điều khiển máy chụp ảnh ngay trên smartphone. Ảnh chụp được ngay sau đó có thể được chuyển sang thiết bị di động và bạn có làm được rất nhiều thứ khác với khả năng chụp và chia sẻ ngay trong thời gian thực này.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi đánh giá Sony là một thương hiệu dẫn dầu trong lĩnh vực ảnh số, góp phần đáng kể trong việc thúc đẩy những cải tiến và cho ra đời các tính năng mới. Tôi nghĩ Sony đang đứng thứ hai hoặc thậm chí đứng đầu về chất lượng ảnh so với những thương hiệu khác.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/chester/profile_pic-3.jpg" width="611" height="207" alt="Interview with Chester">

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích 55mm f1.8 nhưng có lẽ 16-35 f/4 phù hợp hơn với các yêu cầu chụp ảnh phong cảnh của tôi.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thường mang theo một bộ kính lọc và hai thiết bị hẹn giờ chụp cách quãng. Ngoài ra, tôi cũng mang theo một máy ảnh phim kiểu cũ và thiết bị đo sáng bằng tay. Để chụp panorama quét toàn cảnh, tôi luôn mang trên mình thanh trượt Nodal, pin dự phòng và bộ pin di động. Bộ sạc dự phòng thường dùng để sạc điện thoại nhưng có thể dùng để sạc máy ảnh trong một vài trường hợp khẩn cấp thông qua cổng USB.
                    <br/>
                    <br/>
                    Tôi chọn mang theo a7R hoặc a7S tùy vào mục đích chụp ảnh của mình. Thêm nữa là ống kính 16-35 f/4, vì 35mm f/2.8 khá nhỏ gọn nên tôi cũng thường mang theo bên người. Nếu hôm đó cần chụp timelapse, tôi sẽ mang thêm một túi phụ nữa. Túi phụ đó dùng để chứa thanh trượt, thanh ray và giá nâng, để hỗ trợ tôi khi chụp timelapse theo các hướng lên, xuống, trái và phải.
                    </div>
                </div>
                <!-- Q&A 8 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>


    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Chester</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/chester/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Chester"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi rất vui khi được chia sẻ những khoảnh khắc mình đã chứng kiến, cho dù là qua những bức ảnh riêng lẻ, hoặc những đoạn phim time-lapse gói gọn hàng giờ đồng hồ trong vỏn vẹn vài giây, hoặc một bức ảnh chụp phơi sáng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Việc chụp ảnh đã có những ảnh hưởng khác nhau trong ba giai đoạn của cuộc đời tôi. Giai đoạn đầu tiên là khi tôi bắt đầu học chụp ảnh như một môn học ở Trung Học. Chính điều này đã trở thành nền tảng cho thói quen và tôi đã trở nên gắn bó hơn với nó khi bắt đầu làm thêm tại cửa hàng máy ảnh. Khi còn là một cậu sinh viên, đã có lúc tôi phải gác lại việc chụp ảnh để tập trung vào lĩnh vực Công nghệ thông tin, nhưng tôi luôn tin rằng tình yêu nhiếp ảnh vẫn luôn ở đó, thường trực trong tôi. Mãi cho đến năm 2006, khi con trai của tôi chào đời, tôi đã quay lại với niềm đam mê nhiếp ảnh. Giai đoạn thứ ba là từ 2009-2010, khi tôi lọt vào Top 3 của một cuộc thi nhiếp ảnh, và từ đó chụp ảnh đã dần trở thành công việc hơn chỉ đơn thuần là sở thích cá nhân.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Khó khăn lớn nhất đối với tôi là phải mang vác nặng cùng lúc máy ảnh và nhiều thiết bị khác. Tôi không còn là “gà tơ” (mặc dù vẫn đủ khỏe để mang theo tất cả), vì vậy kích thước và trọng lượng được giảm thiểu đáng kể của dòng máy ảnh không gương lật như a7 cho phép tôi mang một chiếc túi xách nhỏ gọn hơn, hoặc nếu thích, bạn cũng có thể mang thêm một vài ống kính hay phụ kiện khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Như đã đề cập từ trước, thử thách lớn nhất trong nhiếp ảnh mà tôi gặp phải chính là trọng lượng của máy. Sự gọn nhẹ và kích thước nhỏ gọn của một hệ thống không gương lật cho phép tôi giảm đáng kể khối lượng "đồ nghề" cần mang theo. Trọng lượng giảm đi giúp tôi mang vác đỡ mệt hơn, hoặc đôi lúc cho phép tôi mang thêm một vài ống kính hay phụ kiện khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm / lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi nghĩ ngay lập tức đến ống ngắm điện tử và khả năng lấy nét tay với tính năng Focus Peaking. Ngoài ra, tôi rất thích tính năng Wi-Fi<sup>&reg;</sup> của máy, cho phép kết nối không dây với các thiết bị khác trên a7 và thậm chí còn có thể điều khiển máy chụp ảnh ngay trên smartphone. Ảnh chụp được ngay sau đó có thể được chuyển sang thiết bị di động và bạn có làm được rất nhiều thứ khác với khả năng chụp và chia sẻ ngay trong thời gian thực này.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi đánh giá Sony là một thương hiệu dẫn dầu trong lĩnh vực ảnh số, góp phần đáng kể trong việc thúc đẩy những cải tiến và cho ra đời các tính năng mới. Tôi nghĩ Sony đang đứng thứ hai hoặc thậm chí đứng đầu về chất lượng ảnh so với những thương hiệu khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích 55mm f1.8 nhưng có lẽ 16-35 f/4 phù hợp hơn với các yêu cầu chụp ảnh phong cảnh của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thường mang theo một bộ kính lọc và hai thiết bị hẹn giờ chụp cách quãng. Ngoài ra, tôi cũng mang theo một máy ảnh phim kiểu cũ và thiết bị đo sáng bằng tay. Để chụp panorama quét toàn cảnh, tôi luôn mang trên mình thanh trượt Nodal, pin dự phòng và bộ pin di động. Bộ sạc dự phòng thường dùng để sạc điện thoại nhưng có thể dùng để sạc máy ảnh trong một vài trường hợp khẩn cấp thông qua cổng USB.
                            <br/>
                            <br/>
                            Tôi chọn mang theo a7R hoặc a7S tùy vào mục đích chụp ảnh của mình. Thêm nữa là ống kính 16-35 f/4, vì 35mm f/2.8 khá nhỏ gọn nên tôi cũng thường mang theo bên người. Nếu hôm đó cần chụp timelapse, tôi sẽ mang thêm một túi phụ nữa. Túi phụ đó dùng để chứa thanh trượt, thanh ray và giá nâng, để hỗ trợ tôi khi chụp timelapse theo các hướng lên, xuống, trái và phải.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
