<section id="content" class="container-fluid viet">

    <div class="row">

        <!-- Desktop -->
        <div class="col-sm-12 photographer-container">

            <div class="row">



                <div id="photographer-id-benny" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-benny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:benny', 'ilc:sea:viet', 'ilc:sea:viet:home:benny', 'microsite|ilc:sea:viet|home|benny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Ảnh Cưới</p>
                            </div>
                            <p class="photographer-name">Benny Lim</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-id-nicoline" class="photographer-coming-soon photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:nicoline', 'ilc:sea:viet', 'ilc:sea:viet:home:nicoline', 'microsite|ilc:sea:viet|home|nicoline');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Thời Trang + Chân Dung</p>
                            </div>
                            <p class="photographer-name">Nicoline Patricia Malina</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-ph-pilar" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/@@language/profile-pilar.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:pilar', 'ilc:sea:viet', 'ilc:sea:viet:home:pilar', 'microsite|ilc:sea:viet|home|pilar');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Ảnh Cưới + Chân Dung + Thời Trang</p>
                            </div>
                            <p class="photographer-name">Pilar Trigo Bonnin</p>
                            <p class="country-name">Philippines</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-my-fakrul" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-fakrul.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:fakrul', 'ilc:sea:viet', 'ilc:sea:viet:home:fakrul', 'microsite|ilc:sea:viet|home|fakrul');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Phong Cảnh </p>
                            </div>
                            <p class="photographer-name">Fakrul Jamil</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-th-tavepong" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-tavepong.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:tavepong', 'ilc:sea:viet', 'ilc:sea:viet:home:tavepong', 'microsite|ilc:sea:viet|home|tavepong');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Đường phố</p>
                            </div>
                            <p class="photographer-name">Tavepong Pratoomwong</p>
                            <p class="country-name">Thái Lan</p>
                        </div>

                    </a>

                </div>




                <div id="photographer-sg-bryan" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:bryan', 'ilc:sea:viet', 'ilc:sea:viet:home:bryan', 'microsite|ilc:sea:viet|home|bryan');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Quảng Cáo + Tạp Chí</p>
                            </div>
                            <p class="photographer-name">Bryan van der Beek</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>



                <div id="home-main" class="home-main col-md-12 hidden-sm hidden-xs">
                    <div class="bg desktop"></div>
                </div>



                <div id="photographer-th-vin" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-vin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:vin', 'ilc:@@country', 'ilc:@@country:home:vin', 'microsite|ilc:@@country|home|vin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Phong Cảnh + Nhiếp ảnh gia Ảnh Cưới</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">Thái Lan</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-my-eric" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-eric.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:eric', 'ilc:sea:viet', 'ilc:sea:viet:home:eric', 'microsite|ilc:sea:viet|home|eric');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Ảnh cưới</p>
                            </div>
                            <p class="photographer-name">Ooi Eric</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-sg-darren" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-darren.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:darren', 'ilc:sea:viet', 'ilc:sea:viet:home:darren', 'microsite|ilc:sea:viet|home|darren');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Kiến Trúc</p>
                            </div>
                            <p class="photographer-name">Darren Soh</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-ph-manny" class="photographer col-sm-12 col-md-2" data-country="ph">

                    <a href="@@country/@@language/profile-manny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:manny', 'ilc:sea:viet', 'ilc:sea:viet:home:manny', 'microsite|ilc:sea:viet|home|manny');">

                        <div class="content-header-bg hidden-sm hidden-xs"></div>

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Du Lịch + Chân Dung + Thời Trang</p>
                            </div>
                            <p class="photographer-name">Manny Librodo</p>
                            <p class="country-name">Philippines</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-sg-edward" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-edward.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:edward', 'ilc:sea:viet', 'ilc:sea:viet:home:edward', 'microsite|ilc:sea:viet|home|edward');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Phong Cảnh + Cảnh Quan Đô Thị</p>
                            </div>
                            <p class="photographer-name">Edward Tian</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>



                <div id="photographer-th-urasha" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-urasha.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:urasha', 'ilc:sea:viet', 'ilc:sea:viet:home:urasha', 'microsite|ilc:sea:viet|home|urasha');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Chân dung, Du lịch & Phong cảnh</p>
                            </div>
                            <p class="photographer-name">Urasha Jakkachaphol</p>
                            <p class="country-name">Thái Lan</p>
                        </div>
                        
                    </a>

                </div>



                <div id="photographer-th-kriengkrai" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:kriengkrai', 'ilc:sea:viet', 'ilc:sea:viet:home:kriengkrai', 'microsite|ilc:sea:viet|home|kriengkrai');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Đường Phố + Du Lịch + Tư Liệu</p>
                            </div>
                            <p class="photographer-name">Kriengkrai Waiyakij</p>
                            <p class="country-name">Thái Lan</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-sg-kelvin" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-kelvin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:kelvin', 'ilc:sea:viet', 'ilc:sea:viet:home:kelvin', 'microsite|ilc:sea:viet|home|kelvin');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Ảnh Cưới</p>
                            </div>
                            <p class="photographer-name">Kelvin Koh</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-id-glenn" class="photographer col-sm-12 col-md-2" data-country="id">

                    <a href="@@country/@@language/profile-glenn.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:glenn', 'ilc:sea:viet', 'ilc:sea:viet:home:glenn', 'microsite|ilc:sea:viet|home|glenn');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Thời Trang + Chân Dung</p>
                            </div>
                            <p class="photographer-name">Glenn Prasetya</p>
                            <p class="country-name">Indonesia</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-sg-chester" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:chester', 'ilc:sea:viet', 'ilc:sea:viet:home:chester', 'microsite|ilc:sea:viet|home|chester');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Phong Cảnh</p>
                            </div>
                            <p class="photographer-name">Chester Chen</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>



                <div id="photographer-my-nick" class="photographer col-sm-12 col-md-2" data-country="my">

                    <a href="@@country/@@language/profile-nick.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:nick', 'ilc:sea:viet', 'ilc:sea:viet:home:nick', 'microsite|ilc:sea:viet|home|nick');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Du Lịch + Tư Liệu</p>
                            </div>
                            <p class="photographer-name">Nick Ng</p>
                            <p class="country-name">Malaysia</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div>

                 <div id="photographer-th-dow" class="photographer col-sm-12 col-md-2" data-country="th">

                    <a href="@@country/@@language/profile-dow.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:dow', 'ilc:@@country', 'ilc:@@country:home:dow', 'microsite|ilc:@@country|home|dow');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Art &mp; Street photography</p>
                            </div>
                            <p class="photographer-name">Dow - Wasiksiri</p>
                            <p class="country-name">Thailand</p>
                        </div>

                    </a>

                </div>


                <div id="photographer-sg-aloysius" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/profile-aloysius.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:home:aloysius', 'ilc:@@country', 'ilc:@@country:home:aloysius', 'microsite|ilc:@@country|home|aloysius');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/new_blurb.png" height="69" width="69" alt="">
                            <img class="hidden-md hidden-lg" src="img/home/new_blurb-mobile.png" height="138" width="138" alt="">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Đám cưới và âm nhạc</p>
                            </div>
                            <p class="photographer-name">Aloysius Lim</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                </div>



                <!-- <div id="photographer-sg-bryan" class="photographer col-sm-12 col-md-2" data-country="sg">

                    <a href="@@country/@@language/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:home:bryan', 'ilc:sea:viet', 'ilc:sea:viet:home:bryan', 'microsite|ilc:sea:viet|home|bryan');">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Quảng Cáo + Tạp Chí</p>
                            </div>
                            <p class="photographer-name">Bryan van der Beek</p>
                            <p class="country-name">Singapore</p>
                        </div>

                    </a>

                    <div class="content-footer-bg hidden-sm hidden-xs"></div>

                </div> -->



                <!-- <div id="photographer-coming-soon" class="photographer-coming-soon photographer col-sm-12 col-md-2 hidden-xs hidden-sm">
                
                    <div>
                
                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>
                
                        <div class="name text-center">
                            <p class="photographer-name">Còn nữa</p>
                            <p class="photographer-name">Sắp có</p>
                        </div>
                
                    </div>
                
                    <div class="content-footer-bg hidden-sm hidden-xs"></div>
                
                </div> -->




                <!-- <div id="photographer-th-vin" class="photographer-coming-soon photographer col-sm-12 col-md-2">

                    <a onclick="return false;">

                        <div class="bg desktop hidden-xs hidden-sm"></div>
                        <div class="bg mobile hidden-md hidden-lg"></div>

                        <div class="blurb">
                            <img class="hidden-xs hidden-sm" src="img/home/comingsoon_blurb.png" height="117" width="117" alt="More coming soon">
                            <img class="hidden-md hidden-lg" src="img/home/comingsoon_blurb-mobile.png" height="234" width="234" alt="More coming soon">
                        </div>

                        <div class="name text-center">
                            <div class="hover">
                                <p class="genre">Nhiếp ảnh gia Phong Cảnh + Nhiếp ảnh gia Ảnh Cưới</p>
                            </div>
                            <p class="photographer-name">Vin Buddy</p>
                            <p class="country-name">Thái Lan</p>
                        </div>

                    </a>

                </div> -->



                <!-- <div class="clearfix"></div> -->



                <div class="col-xs-12 empty"></div>



            </div>

        </div>

    </div>

</section>
