<div class="viet" id="profile-kelvin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:235px;">
            <div>
                <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                <p class="name">Kelvin Koh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                    <p class="name">Kelvin Koh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div class="row clearfix">
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Kelvin Koh là người đã sáng lập ra studio Lightedpixels. Anh chuyên chụp ảnh cưới, ảnh gia đình và chân dung cá nhân. Thế nhưng, hai tác phẩm được công bố của anh lại là về ẩm thực – được thực hiện cho Janice Wong của 2amdessertbar, một đầu bếp cực kỳ thành công và sáng tạo.</p>

            <p>Studio Lightedpixels của anh rất nổi tiếng về ảnh cưới và ảnh chân dung gia đình, và cũng gặt hái được rất nhiều giải thưởng cả trong nước lẫn quốc tế. Và đây cũng chính là studio duy nhất được vinh dự nhận giải Singapore Tatler’s Best trong 9 năm liên tiếp kể từ 2007.</p>

            <p>Kelvin Koh được vinh danh qua những bộ ảnh cưới nổi tiếng tại Singapore và được nhiều người biết đến nhờ những địa điểm chụp ảnh của mình. Những bộ ảnh cưới của anh đã truyền cảm hứng cho cả một thế hệ nhiếp ảnh gia cùng ngành, cả trong nước và trên toàn khu vực. Rất nhiều nhiếp ảnh gia trẻ mới vào nghề đã tìm đến anh để xin lời khuyên về nhiếp ảnh.</p>

            <p>Kelvin cũng tổ chức các buổi hội thảo và tọa đàm về ảnh cưới. Trong năm nay, anh sẽ tiến hành một chuỗi hội thảo trong khu vực và buổi đầu tiên vừa mới kết thúc ở Tokyo.</p>

            <p>Xem thêm các tác phẩm của Kelvin tại
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:kelvin:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:kelvin:works:link', 'microsite|ilc:sea:viet|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Kelvin Koh là người đã sáng lập ra studio Lightedpixels. Anh chuyên chụp ảnh cưới, ảnh gia đình và chân dung cá nhân. Thế nhưng, hai tác phẩm được công bố của anh lại là về ẩm thực – được thực hiện cho Janice Wong của 2amdessertbar, một đầu bếp cực kỳ thành công và sáng tạo.</p>

            <p>Studio Lightedpixels của anh rất nổi tiếng về ảnh cưới và ảnh chân dung gia đình, và cũng gặt hái được rất nhiều giải thưởng cả trong nước lẫn quốc tế. Và đây cũng chính là studio duy nhất được vinh dự nhận giải Singapore Tatler’s Best trong 9 năm liên tiếp kể từ 2007.</p>

            <p>Kelvin Koh được vinh danh qua những bộ ảnh cưới nổi tiếng tại Singapore và được nhiều người biết đến nhờ những địa điểm chụp ảnh của mình. Những bộ ảnh cưới của anh đã truyền cảm hứng cho cả một thế hệ nhiếp ảnh gia cùng ngành, cả trong nước và trên toàn khu vực. Rất nhiều nhiếp ảnh gia trẻ mới vào nghề đã tìm đến anh để xin lời khuyên về nhiếp ảnh.</p>

            <p>Kelvin cũng tổ chức các buổi hội thảo và tọa đàm về ảnh cưới. Trong năm nay, anh sẽ tiến hành một chuỗi hội thảo trong khu vực và buổi đầu tiên vừa mới kết thúc ở Tokyo.</p>

            <p>Xem thêm các tác phẩm của Kelvin tại
                <a href="http://www.lightedpixels.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:kelvin:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:kelvin:works:link', 'microsite|ilc:sea:viet|profile|kelvin|works|link');" target="_blank">www.lightedpixels.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2sXiOoJ2-s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Kelvin</span>
                </p>
                <img data-original="img/profile/sg/kelvin/profile_pic-1.jpg" class="lazy" width="315" height="415" alt="Interview with Kelvin">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/kelvin/quote-1-vn.png" width="289" height="239" alt="Kevin's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/kelvin/quote-2-vn.png" width="298" height="309" alt="Kevin's quote">

            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Có lẽ là việc nhiếp ảnh cho phép tôi khám phá cuộc sống thông qua lăng kính của chính mình. Công việc chụp ảnh cưới và chân dung cho tôi sự thỏa mãn và niềm vui khi tự mình góp mặt trong những thời khắc quan trọng của một người hay một cặp đôi. Những kinh nghiệm gặt hái được trong công việc cũng là nguồn động lực để tôi phát triển hơn trong sự nghiệp.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Vô cùng quan trọng. Đây là điều tôi có thể làm tốt nhất và tôi sử dụng nhiếp ảnh như một phương tiện để thể hiện bản thân – nói cho mọi người biết tôi là ai và tôi có thể làm được gì.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-2.jpg" width="611" height="207" alt="Interview with Kevin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thiết bị máy ảnh cần phải hỗ trợ và giúp tôi phát huy hết khả năng của mình. Ngoài ra, các thiết bị cũng nên dễ dàng và thoải mái khi sử dụng, và cần có những tính năng cần thiết để thao tác dễ dàng hơn. Là một nhiếp ảnh gia, tôi tin rằng việc ghi lại khoảnh khắc và truyền tải thông điệp qua tấm ảnh là rất quan trọng. Đó là điều đầu tiên và thiết yếu đối với tôi. Tôi luôn kỳ vọng các thiết bị có thể hỗ trợ và giúp tôi đạt được điều đó và không cản trở tôi trong quá trình tác nghiệp.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đó là Elliot Erwitt và vợ tôi, Elizabeth. Tôi thích cách nhìn của Elliot về cuộc sống, thể hiện qua những bức ảnh của anh. Chúng rấtchân thật và đôi lúc có phần hóm hỉnh. Về phía Elizabeth, cô ấy đã ủng hộ tôi rất nhiều trong công việc. Phần lớn những bức ảnh tôi chụp đều dựa trên cảm nhận của tôi và cô ấy đã giúp tôi làm được điều đó – cho tôi được cảm nhận và yêu thương.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Cho đến nay tôi đã chụp ảnh được hơn 10 năm và gần đây, kích thước và khối lượng của thiết bị đang bắt đầu là gánh nặng đối với tôi. Dòng máy ảnh a7, với kích thước tương đối nhẹ và nhỏ gọn, đã giúp tôi phần nào gỡ bỏ được gánh nặng đó. Quan trọng hơn hết, tôi có được điều này mà không cần phải hy sinh những tính năng quan trọng như cảm biến full-frame, đó là chưa kể đến hàng loạt những tính năng tuyệt vời khác.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Là nhiếp ảnh gia chuyên về ảnh cưới, tôi chủ yếu chụp theo phong cách phóng sự. Khi tác nghiệp, điều quan trọng nhất đối với tôi là không làm xao nhãng chủ thể. Tôi cũng đánh cao sự tiện dùng và đặc biệt là tính cơ động. Tôi cần phải chắc chắn rằng chiếc máy ảnh sẽ hoạt động tốt và không gặp sự cố gì trong suốt lễ cưới. Tôi tin dòng máy ảnh Sony a7 series sẽ mang đến cho tôi tất cả điều này. Ngoài ra, cá nhân tôi thấy chiếc máy ảnh mang trên mình khá nhiều tính năng tuyệt vời, nhất là đối với một kích thước nhỏ gọn như vậy. Thêm vào đó, tôi cũng bị thu hút bởi những mẫu ống kính gần đây của họ, có thể nói là những ống kính tốt nhất trong cùng phân khúc. Tóm lại, tôi rất hứng thú với việc sử dụng chiếc máy ảnh cho những dự án ảnh cưới sắp tới, và cả những chuyến chụp ảnh cá nhân của tôi.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thứ nhất là trọng lượng của máy. Công việc nhiếp ảnh đòi hỏi tôi phải di chuyển thường xuyên, và chiếc máy ảnh này cho phép tôi linh động hơn mà không phải mang theo quá nhiều đồ vật cồng kềnh. Thứ hai là kích thước nhỏ gọn. Khi chụp ảnh cưới, kích thước nhỏ gọn của máy giúp tôi thao tác nhẹ nhàng và kín đáo hơn để có thể nắm bắt được những khoảnh khắc tình cảm nhất của cặp đôi.
                    <br/>
                    <br/>Kế tiếp sẽ là ống ngắm điện tử. Tính năng này cho phép tôi canh chỉnh bố cục một cách chính xác vào chủ thể, từ những góc ảnh thấp cho đến cao. Điều mà tôi không thể có được trên DSLR.
                    <br/>
                    <br/>Chức năng Làm Nổi Cạnh khi lấy nét cũng khá hữu ích khi lấy nét bằng tay. Mọi thứ sẽ dễ dàng hơn khi chúc ta chắc chắn là bức ảnh đã được lấy nét một cách chính xác. Tất cả những điều trên đã giúp công việc của tôi dễ dàng hơn rất nhiều.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Có thể nói Sony là một trong những thương hiệu tiên phong trong lĩnh vực này. Về mặt công nghệ, Sony luôn đón đầu những xu hướng mới. Trên quan điểm cá nhân, tôi rất thích cách bố trí bộ điều khiển trên máy – vô cùng trực quan và dễ sử dụng. Ngoài ra, tôi cũng rất thích khả năng xử lý dải tầng nhạy sáng của máy. Phần phông nền không bao giờ bị cháy sáng hoặc quá tối. Và tính năng cân bằng trắng của máy cũng vô cùng hoàn hảo với khả năng xử lý màu da rất ấn tượng.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/kelvin/profile_pic-3.jpg" width="611" height="207" alt="Interview with Kevin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Hiện tại, ống kính yêu thích của tôi là Zeiss 35mm f1.4. Tôi thích cái cách mà ống kính này tái tạo lại hiệu ứng bokeh và màu sắc của bức ảnh, cũng như thiết kế vô cùng tinh tế và sang trọng.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Máy ảnh Sony a7II cùng ống kính Zeiss 35mm f/1.4 và Sony 55mm f/1.8 và 70-200mm f/2.8G. Bên cạnh máy ảnh và phụ kiện, tôi còn mang theo thuốc chống muỗi và dung dịch rửa tay.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->

        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Kelvin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/kelvin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Kelvin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Có lẽ là việc nhiếp ảnh cho phép tôi khám phá cuộc sống thông qua lăng kính của chính mình. Công việc chụp ảnh cưới và chân dung cho tôi sự thỏa mãn và niềm vui khi tự mình góp mặt trong những thời khắc quan trọng của một người hay một cặp đôi. Những kinh nghiệm gặt hái được trong công việc cũng là nguồn động lực để tôi phát triển hơn trong sự nghiệp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Vô cùng quan trọng. Đây là điều tôi có thể làm tốt nhất và tôi sử dụng nhiếp ảnh như một phương tiện để thể hiện bản thân – nói cho mọi người biết tôi là ai và tôi có thể làm được gì.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thiết bị máy ảnh cần phải hỗ trợ và giúp tôi phát huy hết khả năng của mình. Ngoài ra, các thiết bị cũng nên dễ dàng và thoải mái khi sử dụng, và cần có những tính năng cần thiết để thao tác dễ dàng hơn. Là một nhiếp ảnh gia, tôi tin rằng việc ghi lại khoảnh khắc và truyền tải thông điệp qua tấm ảnh là rất quan trọng. Đó là điều đầu tiên và thiết yếu đối với tôi. Tôi luôn kỳ vọng các thiết bị có thể hỗ trợ và giúp tôi đạt được điều đó và không cản trở tôi trong quá trình tác nghiệp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đó là Elliot Erwitt và vợ tôi, Elizabeth. Tôi thích cách nhìn của Elliot về cuộc sống, thể hiện qua những bức ảnh của anh. Chúng rấtchân thật và đôi lúc có phần hóm hỉnh. Về phía Elizabeth, cô ấy đã ủng hộ tôi rất nhiều trong công việc. Phần lớn những bức ảnh tôi chụp đều dựa trên cảm nhận của tôi và cô ấy đã giúp tôi làm được điều đó – cho tôi được cảm nhận và yêu thương.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Cho đến nay tôi đã chụp ảnh được hơn 10 năm và gần đây, kích thước và khối lượng của thiết bị đang bắt đầu là gánh nặng đối với tôi. Dòng máy ảnh a7, với kích thước tương đối nhẹ và nhỏ gọn, đã giúp tôi phần nào gỡ bỏ được gánh nặng đó. Quan trọng hơn hết, tôi có được điều này mà không cần phải hy sinh những tính năng quan trọng như cảm biến full-frame, đó là chưa kể đến hàng loạt những tính năng tuyệt vời khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Là nhiếp ảnh gia chuyên về ảnh cưới, tôi chủ yếu chụp theo phong cách phóng sự. Khi tác nghiệp, điều quan trọng nhất đối với tôi là không làm xao nhãng chủ thể. Tôi cũng đánh cao sự tiện dùng và đặc biệt là tính cơ động. Tôi cần phải chắc chắn rằng chiếc máy ảnh sẽ hoạt động tốt và không gặp sự cố gì trong suốt lễ cưới. Tôi tin dòng máy ảnh Sony a7 series sẽ mang đến cho tôi tất cả điều này. Ngoài ra, cá nhân tôi thấy chiếc máy ảnh mang trên mình khá nhiều tính năng tuyệt vời, nhất là đối với một kích thước nhỏ gọn như vậy. Thêm vào đó, tôi cũng bị thu hút bởi những mẫu ống kính gần đây của họ, có thể nói là những ống kính tốt nhất trong cùng phân khúc. Tóm lại, tôi rất hứng thú với việc sử dụng chiếc máy ảnh cho những dự án ảnh cưới sắp tới, và cả những chuyến chụp ảnh cá nhân của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thứ nhất là trọng lượng của máy. Công việc nhiếp ảnh đòi hỏi tôi phải di chuyển thường xuyên, và chiếc máy ảnh này cho phép tôi linh động hơn mà không phải mang theo quá nhiều đồ vật cồng kềnh. Thứ hai là kích thước nhỏ gọn. Khi chụp ảnh cưới, kích thước nhỏ gọn của máy giúp tôi thao tác nhẹ nhàng và kín đáo hơn để có thể nắm bắt được những khoảnh khắc tình cảm nhất của cặp đôi.
                            <br/>
                            <br/>Kế tiếp sẽ là ống ngắm điện tử. Tính năng này cho phép tôi canh chỉnh bố cục một cách chính xác vào chủ thể, từ những góc ảnh thấp cho đến cao. Điều mà tôi không thể có được trên DSLR.
                            <br/>
                            <br/>Chức năng Làm Nổi Cạnh khi lấy nét cũng khá hữu ích khi lấy nét bằng tay. Mọi thứ sẽ dễ dàng hơn khi chúc ta chắc chắn là bức ảnh đã được lấy nét một cách chính xác. Tất cả những điều trên đã giúp công việc của tôi dễ dàng hơn rất nhiều.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Có thể nói Sony là một trong những thương hiệu tiên phong trong lĩnh vực này. Về mặt công nghệ, Sony luôn đón đầu những xu hướng mới. Trên quan điểm cá nhân, tôi rất thích cách bố trí bộ điều khiển trên máy – vô cùng trực quan và dễ sử dụng. Ngoài ra, tôi cũng rất thích khả năng xử lý dải tầng nhạy sáng của máy. Phần phông nền không bao giờ bị cháy sáng hoặc quá tối. Và tính năng cân bằng trắng của máy cũng vô cùng hoàn hảo với khả năng xử lý màu da rất ấn tượng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Hiện tại, ống kính yêu thích của tôi là Zeiss 35mm f1.4. Tôi thích cái cách mà ống kính này tái tạo lại hiệu ứng bokeh và màu sắc của bức ảnh, cũng như thiết kế vô cùng tinh tế và sang trọng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Máy ảnh Sony a7II cùng ống kính Zeiss 35mm f/1.4 và Sony 55mm f/1.8 và 70-200mm f/2.8G. Bên cạnh máy ảnh và phụ kiện, tôi còn mang theo thuốc chống muỗi và dung dịch rửa tay.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
