<div class="viet" id="profile-kriengkrai">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Đường Phố + Du Lịch + Tư Liệu</p>
                <p class="name">Kriengkrai Waiyakij</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thái Lan</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">Nhiếp ảnh gia Đường Phố + Du Lịch + Tư Liệu</p>
                    <p class="name">Kriengkrai Waiyakij</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thái Lan</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Kriengkrai Waiyakij là một nhiếp ảnh gia tự do và nhà sưu tầm ảnh lớn lên tại Ratchaburi, một tỉnh phía Tây Thái Lan. Khi còn trẻ, anh dành rất nhiều thời gian để vẽ và chính từ đó, niềm đam mê nghệ thuật của anh đã dần được hình thành. Anh tổ chức triển lãm cá nhân đầu tiên với tên gọi “12 Arts 20” – một bộ sưu tập toàn bộ những bức vẽ của chính ảnh trong suốt 8 năm, đã được chính Kukrit Pramoj ghé thăm trong buổi ra mắt tại quê nhà. Ngoài ra, anh còn nhận được học bổng HRH Narisara Nuvadtivongs cho năng khiếu nghệ thuật, óc sáng tạo và kết quả học tập của chính mình.</p>

            <p>Trong suốt 30 năm sự nghiệp nhiếp ảnh của mình, những bức ảnh của anh đã được trưng bày tại rất nhiều viện bảo tàng và triển lãm, bao gồm Liên Hoan Nghệ Thuật Nhiếp Ảnh Trung Quốc lần thứ 6, Triển Lãm Nhiếp Ảnh Thế Giới Duyun lần thứ 2 tại Cộng Hoà Nhân Dân Trung Hoa, SEE SEA: Tinh Thần Đông Nam Á tại Đại học Thammasat, Nhà Văn và Nhiếp Ảnh Gia Quốc Tế, Kỷ Niệm Quan hệ Ngoại giao Thái Lan – Myanmar lần thứ 65 và 260 Năm Quan hệ Lịch sử Phật Giáo Thái Lan – Sri Lanka.</p>

            <p>Anh cũng là một nhiếp ảnh gia rất thành công và là nhà biên tập cho nhiều cuốn sách: The Golden Jubilee - Lễ kỷ niệm lần thứ 50 ngày Đức vua lên ngôi, Khoảnh khắc đáng nhớ của Công chúa Srinagarindra, Lễ hỏa táng Hoàng gia, Học Thuyết Nhà Vua – Nền Kinh Tế Tự Cung, và còn nhiều cuốn sách khác.</p>

            <p> Nổi tiếng nhờ sự tử tế, lòng nhiệt thành và khả năng thu thập những hình ảnh thể hiện niềm tin, lòng tin của nhân loại và ý nghĩa cuộc sống, anh còn được biết đến như một giảng viên và giao viên thường xuyên tại nhiều trường đại học, cao đẳng, các cơ quan chính phủ và các tổ chức phi lợi nhuận trong nhiều năm. Kriengkrai đã nhận được rất nhiều giải thưởng danh giá như Nhân Viện Của Năm 2010 từ Chandrakasem Rajabhat và Nghệ Sĩ Nhiếp Ảnh Thái Lan 2010.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Kriengkrai Waiyakij là một nhiếp ảnh gia tự do và nhà sưu tầm ảnh lớn lên tại Ratchaburi, một tỉnh phía Tây Thái Lan. Khi còn trẻ, anh dành rất nhiều thời gian để vẽ và chính từ đó, niềm đam mê nghệ thuật của anh đã dần được hình thành. Anh tổ chức triển lãm cá nhân đầu tiên với tên gọi “12 Arts 20” – một bộ sưu tập toàn bộ những bức vẽ của chính ảnh trong suốt 8 năm, đã được chính Kukrit Pramoj ghé thăm trong buổi ra mắt tại quê nhà. Ngoài ra, anh còn nhận được học bổng HRH Narisara Nuvadtivongs cho năng khiếu nghệ thuật, óc sáng tạo và kết quả học tập của chính mình.</p>

            <p>Trong suốt 30 năm sự nghiệp nhiếp ảnh của mình, những bức ảnh của anh đã được trưng bày tại rất nhiều viện bảo tàng và triển lãm, bao gồm Liên Hoan Nghệ Thuật Nhiếp Ảnh Trung Quốc lần thứ 6, Triển Lãm Nhiếp Ảnh Thế Giới Duyun lần thứ 2 tại Cộng Hoà Nhân Dân Trung Hoa, SEE SEA: Tinh Thần Đông Nam Á tại Đại học Thammasat, Nhà Văn và Nhiếp Ảnh Gia Quốc Tế, Kỷ Niệm Quan hệ Ngoại giao Thái Lan – Myanmar lần thứ 65 và 260 Năm Quan hệ Lịch sử Phật Giáo Thái Lan – Sri Lanka.</p>

            <p>Anh cũng là một nhiếp ảnh gia rất thành công và là nhà biên tập cho nhiều cuốn sách: The Golden Jubilee - Lễ kỷ niệm lần thứ 50 ngày Đức vua lên ngôi, Khoảnh khắc đáng nhớ của Công chúa Srinagarindra, Lễ hỏa táng Hoàng gia, Học Thuyết Nhà Vua – Nền Kinh Tế Tự Cung, và còn nhiều cuốn sách khác.</p>

            <p> Nổi tiếng nhờ sự tử tế, lòng nhiệt thành và khả năng thu thập những hình ảnh thể hiện niềm tin, lòng tin của nhân loại và ý nghĩa cuộc sống, anh còn được biết đến như một giảng viên và giao viên thường xuyên tại nhiều trường đại học, cao đẳng, các cơ quan chính phủ và các tổ chức phi lợi nhuận trong nhiều năm. Kriengkrai đã nhận được rất nhiều giải thưởng danh giá như Nhân Viện Của Năm 2010 từ Chandrakasem Rajabhat và Nghệ Sĩ Nhiếp Ảnh Thái Lan 2010.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f-iQ9IhJLYU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
                <img data-original="img/profile/th/kriengkrai/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Kriengkrai">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/kriengkrai/quote-1-vn.png" width="276" height="239" alt="Kriengkrai's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/kriengkrai/quote-2-vn.png" width="315" height="185" alt="Kriengkrai's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích vẽ và qua đó học được rất nhiều. Nhưng khi trải nghiệm và học qua thế giới của những chiếc ống kính, niềm vui luôn xâm lấn tâm hồn tôi. Đó là cảm giác viễn mãn.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi đã bắt đầu chụp ảnh với tình yêu, sự say sưa và sau đó là theo đuổi nhiếp ảnh từ việc làm những gì mình thích. Chiếc máy ảnh đã trở thành một phần và cũng quan trọng như những điều tuyệt vời khác trong cuộc sống của tôi.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-2.jpg" width="611" height="207" alt="Interview with Kriengkrai">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Là một nhiếp ảnh gia, tôi đã sử dụng qua khá nhiều dòng máy ảnh khác nhau với các tính năng tiên tiến nhất, và cảm thấy hài lòng với những công nghệ mới được giới thiệu đến người dùng. Tôi sẽ tiếp tục tìm kiếm những cải tiến trong những thế hệ máy ảnh tiếp theo nhưng thực sự không kỳ vọng quá nhiều vì tôi hiện tại đang rất hài lòng với những gì mình đang có.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đó là cha tôi, ông cho tôi sử dụng máy ảnh từ khi còn là một đứa bé. Đó là một chiếc máy ảnh nhỏ và cũng rất rẻ tiền, nhưng lại vô giá với tôi. Sự quyến rũ và góc nhìn mà từng bức ảnh mang lại khiến tôi liên tưởng ngay đến những bức vẽ. Không một ai khác có thể truyền cho tôi nhiều cảm hứng đến vậy.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi may mắn khi không có quá nhiều trở ngại trong công việc chụp ảnh của mình. Tuy nhiên, a7 mang đến cho tôi sự gọn nhẹ, tính cơ động và không quá phô trương. Kích thước nhỏ gọn của máy cho phép tôi dễ dàng chụp ở những nơi công cộng mà không làm phiền người khác.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Như đã chia sẻ trước đây, sự nghiệp nhiếp ảnh và cuộc sống của tôi như hoà làm một. Mỗi khi nhận một dự án, tôi thường yêu cầu rất cụ thể về sự tự do trong sáng tạo. Nếu khách hàng của tôi đồng ý với điều kiện này, chúng tôi sẽ hợp tác và làm việc cùng nhau một cách thoải mái nhất.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Cảm biến ảnh full-frame trong một thân máy nhỏ gọn, thiết kế thực tế và trên hết, chất lượng ảnh đầu ra ấn tượng, sẵn sàng cho giai đoạn hậu kỳ.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi hài lòng với các sản phẩm Sony mà mình đang sử dụng hoặc sở hữu. Không phải nói quá, nhưng Sony là sự lựa chọn hàng đầu của tôi cho các thiết bị ảnh số sau kỷ nguyên ảnh phim. Sự hài lòng của tôi có lẽ khó có thể diễn tả bằng lời hay những con số.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/kriengkrai/profile_pic-3.jpg" width="611" height="207" alt="Interview with Kriengkrai">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Một trong những ống kính yêu thích của tôi là G lens 70-400mm với chất lượng zoom ấn tượng. Tôi luôn ngạc nhiên về hiệu năng mà mẫu ống kính này mang lại và cho đến thời điểm hiện tại, chưa bao giờ tôi phải thất vọng.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">Niềm vui! Cho dù ở bất kỳ nơi đâu, tôi cũng luôn mang trên người một chiếc máy ảnh. Trong túi tôi luôn có một chiếc máy ảnh a7, ống kính 24-70mm và 70-200mm, và cả 1 chiếc RX1R.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Kriengkrai</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/kriengkrai/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Kriengkrai"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích vẽ và qua đó học được rất nhiều. Nhưng khi trải nghiệm và học qua thế giới của những chiếc ống kính, niềm vui luôn xâm lấn tâm hồn tôi. Đó là cảm giác viễn mãn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi đã bắt đầu chụp ảnh với tình yêu, sự say sưa và sau đó là theo đuổi nhiếp ảnh từ việc làm những gì mình thích. Chiếc máy ảnh đã trở thành một phần và cũng quan trọng như những điều tuyệt vời khác trong cuộc sống của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Là một nhiếp ảnh gia, tôi đã sử dụng qua khá nhiều dòng máy ảnh khác nhau với các tính năng tiên tiến nhất, và cảm thấy hài lòng với những công nghệ mới được giới thiệu đến người dùng. Tôi sẽ tiếp tục tìm kiếm những cải tiến trong những thế hệ máy ảnh tiếp theo nhưng thực sự không kỳ vọng quá nhiều vì tôi hiện tại đang rất hài lòng với những gì mình đang có.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đó là cha tôi, ông cho tôi sử dụng máy ảnh từ khi còn là một đứa bé. Đó là một chiếc máy ảnh nhỏ và cũng rất rẻ tiền, nhưng lại vô giá với tôi. Sự quyến rũ và góc nhìn mà từng bức ảnh mang lại khiến tôi liên tưởng ngay đến những bức vẽ. Không một ai khác có thể truyền cho tôi nhiều cảm hứng đến vậy.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi may mắn khi không có quá nhiều trở ngại trong công việc chụp ảnh của mình. Tuy nhiên, a7 mang đến cho tôi sự gọn nhẹ, tính cơ động và không quá phô trương. Kích thước nhỏ gọn của máy cho phép tôi dễ dàng chụp ở những nơi công cộng mà không làm phiền người khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Như đã chia sẻ trước đây, sự nghiệp nhiếp ảnh và cuộc sống của tôi như hoà làm một. Mỗi khi nhận một dự án, tôi thường yêu cầu rất cụ thể về sự tự do trong sáng tạo. Nếu khách hàng của tôi đồng ý với điều kiện này, chúng tôi sẽ hợp tác và làm việc cùng nhau một cách thoải mái nhất.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Cảm biến ảnh full-frame trong một thân máy nhỏ gọn, thiết kế thực tế và trên hết, chất lượng ảnh đầu ra ấn tượng, sẵn sàng cho giai đoạn hậu kỳ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi hài lòng với các sản phẩm Sony mà mình đang sử dụng hoặc sở hữu. Không phải nói quá, nhưng Sony là sự lựa chọn hàng đầu của tôi cho các thiết bị ảnh số sau kỷ nguyên ảnh phim. Sự hài lòng của tôi có lẽ khó có thể diễn tả bằng lời hay những con số.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Một trong những ống kính yêu thích của tôi là G lens 70-400mm với chất lượng zoom ấn tượng. Tôi luôn ngạc nhiên về hiệu năng mà mẫu ống kính này mang lại và cho đến thời điểm hiện tại, chưa bao giờ tôi phải thất vọng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Niềm vui! Cho dù ở bất kỳ nơi đâu, tôi cũng luôn mang trên người một chiếc máy ảnh. Trong túi tôi luôn có một chiếc máy ảnh a7, ống kính 24-70mm và 70-200mm, và cả 1 chiếc RX1R.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
