<section id="content" class="container-fluid viet">

    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="row max-width center-block marginBottom">

                <div class="col-sm-12">

                    <h1>Where to Buy</h1>

                </div>

                <div class="clearfix"></div>

                <div class="col-sm-5 col-xs-12">

                    <h2>Sony Store</h2>

                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <p>Bugis Junction <span>#01-58/59</span>
                                <br />6837 0646</p>
                            <p>IMM Building <span>#01-23</span>
                                <br />6566 9212</p>
                            <p>NEX Mall #03-21
                                <br />6636 6826</p>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <p>313@somerset <span>#02-28 to 37</span>
                                <br/>6634 9497</p>
                            <p>Changi Airport <span>Terminal 3</span>
                                <br class="hidden-xs" />Departure/
                                <br class="hidden-md hidden-lg hidden-sm" />Transit Lounge
                                <br class="hidden-xs" />North <span>#02-63</span>
                                <br />6546 2567</p>
                        </div>

                    </div>

                </div>

                <div class="col-sm-2 text-center hidden-xs">
                    <img src="img/stores/divider.png" height="284" width="1" alt="">
                </div>

                <div class="col-xs-12 text-left hidden-sm hidden-md hidden-lg">
                    <img src="img/separator-left.png" height="1" width="297" alt="">
                </div>

                <div class="col-sm-5 col-xs-12">

                    <h2>Sony Centre</h2>

                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <p>Funan DigitaLife Mall
                                <br class="hidden-xs" />#03-02/05
                                <br />6339 1110</p>
                            <p>JEM #04-58
                                <br />6694 1011</p>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <p>Sim Lim Square <span>#03-71/72</span>
                                <br />6339 1198</p>
                            <p>Blk 727 Clementi West St 2
                                <br class="hidden-xs" />#01-260/262
                                <br />6778 8980</p>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 text-left hidden-sm hidden-md hidden-lg">
                    <img src="img/separator-left.png" height="1" width="297" alt="">
                </div>

                <div class="col-sm-12">
                    <h2 id="dealers-header">Dealers</h2>

                    <div class="row dealers">

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer first">

                            <a href="http://www.alanphoto.com.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:AlanPhoto', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:AlanPhoto', 'microsite|ilc:sea:viet|whereToBuy|AlanPhoto');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/alan_photo_trading.jpg" class="img-responsive center-block" height="120" width="120" alt="Alan Photo Trading">
                                </div>

                                <div class="description">
                                    <p><strong>Alan Photo Trading</strong></p>
                                    <p>Funan DigitaLife Mall
                                        <br />#02-07
                                        <br />6883 0922</p>
                                    <p class="last">Sim Lim Square
                                        <br />#01-38/39
                                        <br />6336 0922</p>
                                </div>

                            </a>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer">

                            <a href="http://www.slrrevolution.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:SLRRevolution', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:SLRRevolution', 'microsite|ilc:sea:viet|whereToBuy|SLRRevolution');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/slr_revolution.jpg" class="img-responsive center-block" height="43" width="120" alt="SLR Revolution">
                                </div>

                                <div class="description">
                                    <p><strong>SLR Revolution</strong></p>
                                    <p class="last">Funan DigitaLife Mall
                                        <br />#04-18
                                        <br />6336 8767</p>
                                </div>

                            </a>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer last">

                            <a href="http://www.cathayphoto.com.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:CathayPhoto', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:CathayPhoto', 'microsite|ilc:sea:viet|whereToBuy|CathayPhoto');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/cathay_photo_store.jpg" class="img-responsive center-block" height="38" width="120" alt="Cathay Photo Store">
                                </div>

                                <div class="description">
                                    <p><strong>Cathay Photo Store</strong></p>
                                    <p>Peninsula Plaza #01-05
                                        <br />6338 7783</p>
                                    <p class="last">Marina Square
                                        <br />#02-215/216
                                        <br />6339 6188</p>
                                </div>

                            </a>

                        </div>

                        <!-- <div class="clearfix dealer"></div> -->

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer first">

                            <a href="https://www.facebook.com/clickcamerashop" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:ClickMaxPhoto', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:ClickMaxPhoto', 'microsite|ilc:sea:viet|whereToBuy|ClickMaxPhoto');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/click_by_max_photo.jpg" class="img-responsive center-block" height="104" width="120" alt="Click! by Max Photo">
                                </div>

                                <div class="description">
                                    <p><strong>Click! by Max Photo</strong></p>
                                    <p class="last">Funan DigitaLife Mall
                                        <br />#04-15
                                        <br />6226 7226</p>
                                </div>

                            </a>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer">

                            <div class="no-links">

                                <div class="logo">
                                    <img src="img/stores/eclipse_by_max_photo.jpg" class="img-responsive center-block" height="18" width="120" alt="Eclipse by Max Photo">
                                </div>

                                <div class="description">
                                    <p><strong>Eclipse by Max Photo</strong></p>
                                    <p class="last">Funan DigitaLife Mall
                                        <br />#02-08
                                        <br />6336 0308</p>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer last">

                            <a href="http://www.mscolor.com.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:MSColor', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:MSColor', 'microsite|ilc:sea:viet|whereToBuy|MSColor');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/m_s_color_service.jpg" class="img-responsive center-block" height="12" width="120" alt="M S Color Service">
                                </div>

                                <div class="description">
                                    <p><strong>M S Color Service</strong></p>
                                    <p>Blk 711 Ang Mo Kio
                                        <br />Central Ave 8 #01-3501C
                                        <br />6457 6380</p>
                                    <p class="last">Ang Mo Kio Hub #02-24
                                        <br />6452 2828</p>
                                </div>

                            </a>

                        </div>

                        <!-- <div class="clearfix dealer"></div> -->

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer first">

                            <a href="http://tkfoto.com.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:TKPhoto', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:TKPhoto', 'microsite|ilc:sea:viet|whereToBuy|TKPhoto');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/tk_photo.jpg" class="img-responsive center-block" height="137" width="120" alt="T K Foto">
                                </div>

                                <div class="description">
                                    <p><strong>T K Foto</strong></p>
                                    <p class="last">Funan DigitaLife Mall
                                        <br />#02-14/#02-38 to 41
                                        <br />6338 7466</p>
                                </div>

                            </a>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer">

                            <a href="http://www.sprint-cass.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:whereToBuy:SprintCass', 'ilc:sea:viet', 'ilc:sea:viet:whereToBuy:SprintCass', 'microsite|ilc:sea:viet|whereToBuy|SprintCass');" target="_blank">

                                <div class="logo">
                                    <img src="img/stores/sprint_cass.jpg" class="img-responsive center-block" height="38" width="120" alt="Sprint-Cass Pte Ltd">
                                </div>

                                <div class="description">
                                    <p><strong>Sprint-Cass Pte Ltd</strong></p>
                                    <p class="last">Changi Airport
                                        <br />Terminal 1/2/3
                                        <br />6546 2392/6542 7833/
                                        <br />6241 5074</p>
                                </div>

                            </a>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 dealer last"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
