<div class="viet" id="profile-urasha">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">Nhiếp ảnh gia chân dung, du lịch và phong cảnh</p>
                <p class="name">Urasha Jakkachaphol</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thái Lan</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">Nhiếp ảnh gia chân dung, du lịch và phong cảnh</p>
                    <p class="name">Urasha Jakkachaphol</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thái Lan</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Urasha Jakkachaphol là một nhiếp ảnh gia đang nổi của Thái Lan và hiện đang hoạt động trong hội đồng của Royal Photographic Society of Thailand (RPST).</p>

            <p>Sinh ra tại Bangkok, Thái Lan, cô có cơ hội trải nghiệm sự đa dạng về văn hoá thông qua những chuyến du lịch trong và ngoài nước. Cuộc phiêu lưu vào thế giới nhiếp ảnh của cô bắt đầu từ mùa thu 2007, khi cô tham gia khoá học giúp định hình sự nghiệp của mình ngày nay, Trước đó, cô tốt nghiệp cử nhân đại học Assumption ở Thái Lan và thạc sỹ khoa học đại học Surrey ở Anh, cô hoàn tất chứng chỉ cao học của mình tại London College of Communication năm 2008.</p>

            <p>Đam mê nhiếp ảnh đã thúc đẩy cô vượt qua Channel để đến với nước Pháp nơi cô được nhận vào Spéos Paris Photographic Institute. Trải qua nhiều quyết tâm và kiên trì cô đã theo đuổi hoài bão và hoàn tất chứng chỉ Thạc sĩ European Master of Professional Photography năm 2009.</p>

            <p>Khởi đầu, tác phẩm của cô tập trung vào sự sinh động của cộng đồng và những vấn đề xã hội liên quan. Điều này sau đó biến đổi thành những góc độ của phong cảnh thiên nhiên và thành phố. Cô cũng khám phá ảnh nghệ thuật và chân dung môi trường.</p>

            <p>Phong cách, tài năng và sự thấu hiểu đặc biệt của Urasha về chủ thể của mình đã giúp cô chiến thắng rất nhiều giải thưởng như Prix de la Photographie, International Photography Awards trong rất nhiều hạng mục.</p>

            <p>Urasha hiện đang là giảng viên tại King’s Mongkut’s Institute of Technology Ladkrabang (KMITL), Bangkok, Thái Lan và là đại sứ thương hiệu cho Sony Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Urasha Jakkachaphol là một nhiếp ảnh gia đang nổi của Thái Lan và hiện đang hoạt động trong hội đồng của Royal Photographic Society of Thailand (RPST).</p>

            <p>Sinh ra tại Bangkok, Thái Lan, cô có cơ hội trải nghiệm sự đa dạng về văn hoá thông qua những chuyến du lịch trong và ngoài nước. Cuộc phiêu lưu vào thế giới nhiếp ảnh của cô bắt đầu từ mùa thu 2007, khi cô tham gia khoá học giúp định hình sự nghiệp của mình ngày nay, Trước đó, cô tốt nghiệp cử nhân đại học Assumption ở Thái Lan và thạc sỹ khoa học đại học Surrey ở Anh, cô hoàn tất chứng chỉ cao học của mình tại London College of Communication năm 2008.</p>

            <p>Đam mê nhiếp ảnh đã thúc đẩy cô vượt qua Channel để đến với nước Pháp nơi cô được nhận vào Spéos Paris Photographic Institute. Trải qua nhiều quyết tâm và kiên trì cô đã theo đuổi hoài bão và hoàn tất chứng chỉ Thạc sĩ European Master of Professional Photography năm 2009.</p>

            <p>Khởi đầu, tác phẩm của cô tập trung vào sự sinh động của cộng đồng và những vấn đề xã hội liên quan. Điều này sau đó biến đổi thành những góc độ của phong cảnh thiên nhiên và thành phố. Cô cũng khám phá ảnh nghệ thuật và chân dung môi trường.</p>

            <p>Phong cách, tài năng và sự thấu hiểu đặc biệt của Urasha về chủ thể của mình đã giúp cô chiến thắng rất nhiều giải thưởng như Prix de la Photographie, International Photography Awards trong rất nhiều hạng mục.</p>

            <p>Urasha hiện đang là giảng viên tại King’s Mongkut’s Institute of Technology Ladkrabang (KMITL), Bangkok, Thái Lan và là đại sứ thương hiệu cho Sony Thailand.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KnsdCTdd5nw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Urasha</span>
                </p>
                <img data-original="img/profile/th/urasha/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Trò chuyện cùng Urasha">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/urasha/quote-1-vn.png" width="313" height="431" alt="Urasha's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/urasha/quote-2-vn.png" width="313" height="320" alt="Urasha's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh là công cụ giúp tôi thể hiện cảm xúc của mình và cách tôi gửi thông điệp đến khán giả. Đôi lúc, họ nhìn bức ảnh theo cách mà tôi muốn nhưng đôi lúc chính bức ảnh dẫn dắt cảm xúc của họ. Đối với tôi thì đó chính là điều thú vị. Ý nghĩa của nhiếp ảnh có thể thay đổi liên tục tuỳ theo kinh nghiệm sống của mỗi người và đó là sự tuyệt vời của nhiếp ảnh. Đối với tôi, cho đến khi cảm xúc vẫn dân trào mỗi ngày trong cuộc sống, nhiếp ảnh sẽ là phương tiện để thể hiện chúng.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh giữ vai trò quan trọng trong cuộc sống của tôi đến mức tôi thay đổi nghề của mình từ khách sạn sang trở thành nhiếp ảnh gia và giảng viên nhiếp ảnh. Tôi nhận thấy tình yêu của mình đối với nhiếp ảnh và chiếc máy ảnh trở thành người bạn đồng hành không thể xa rời của tôi khi du lịch. Khi trở về, tôi thưởng thức những bức ảnh đến khi ngủ - điều đó thể hiện sự quan trọng của nhiếp ảnh đối với tôi. Hơn thế nữa, nhếp ảnh đem lại cho tôi khả năng nhìn ra những chi tiết nhỏ bé trong cuộc sống quanh mình như cây cối, động vật, con người và tất cả những gì mà tôi có lẽ sẽ bỏ qua nếu không theo đuổi nhiếp ảnh. Tôi tìm thấy hạnh phúc khi nhìn thế giới tuyệt vời này mỗi ngày thông qua ống kính nhiếp ảnh.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-2.jpg" width="611" height="207" alt="Trò chuyện cùng Urasha">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Về yêu cầu của tôi đối với thiết bị nhiếp ảnh, tôi cần chúng phải đáng tin cậy về chất lượng hình ảnh - sự sắc nét, độ chính xác màu sắc và dải động. Tôi hạnh phúc khi có thể thấy những hình ảnh chất lượng mỗi khi xem chúng. Một yêu cầu khác của tôi về thiết bị đó là sự tiện lợi. Mang theo một chiếc máy ảnh trong thời gian dài đã khiến tôi hiện giờ phải gặp những vấn đề về bờ vai của mình. Do đó tôi ưu tiên máy ảnh trọng lượng nhẹ để giúp mình thoải mái hơn, và điều này đồng nghĩa với việc tôi có thể mang nhiều ống kính hơn trong chuyến đi của mình.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Dow Wasiksiri là nghệ sĩ mà tôi yêu thích nhất, từ anh ấy mà tôi có cảm hứng và học cách trân trọng nghệ thuật xung quanh mình. Hơn thế nữa, tôi cũng đã học việc sáng tác một cách có hệ thống từ anh ấy.
                        <br/>
                        <br/>Một nhiếp ảnh gia khác mà tôi yêu thích là Martin Parr, tác phẩm của anh ấy rất dễ để thấu hiểu và có một chút trào phúng. Tôi thích anh ấy vì tôi yêu những câu chuyện về sự đa dạng trong cuộc sống con người chúng ta ở nhiều nơi khác nhau.
                        <br/>
                        <br/>Bên cạnh đó, các tác phẩm của Erwin Olaf và Loretta Lux cũng truyền cảm hứng cho tôi thông qua cách sử dụng dụng màu sắc, sự hoàn thiện và ý tưởng đằng sau chúng.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thông thường khi tôi đi du lịch thật không dễ dàng đem theo những thiết bị nặng nề, đặc biệt là nếu tôi phải du hành nhiều ngày và một số chặng đường không được dễ chịu cho lắm. Tôi cảm thấy Sony a7RII là lựa chọn phù hợp nhất ở bất kỳ điều kiện nào, đặc biệt là khi xét về trọng lượng và chất lượng hình ảnh thì việc chuyển qua Sony a7RII là quyết định tuyệt vời nhất mà tôi từng đưa ra.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony a7RII giúp nhiếp ảnh trở nên thú vị và hiệu quả hơn khi tôi có thể mang chúng bên cạnh bất kỳ lúc nào. Nó mang đến cho tôi cảm giác như lần đầu tôi chạm vào chiếc máy ảnh đầu tiên của mình. Tôi cảm thấy động lực thúc đẩy mình bước ra ngoài và khám phá thế giới nhiều hơn mỗi ngày cũng như việc tôi có thể lưu giữ những khoảnh khắc cá nhân của mình một cách dễ dàng.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ưu điểm tuyệt đối của Sony a7RII là công nghệ tiên tiến được tích hợp vào trong thân máy trọng lượng nhẹ. Tại sao bạn phải đem theo máy ảnh lớn khi có một chiếc máy ảnh nhỏ và chất lượng tốt hơn? Sony a7RII là sự lựa chọn hoàn hảo đối với tôi.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Con số không thể diễn tả hết ưu điểm của Sony a7R, nó là công nghệ tiên tiến nhất hiện có trên thị trường và đem đến tất cả những gì mà tôi mong ước. Chiếc máy ảnh này đã trở thành bạn thân của tôi và tôi rất yêu nó.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/urasha/profile_pic-3.jpg" width="611" height="207" alt="Trò chuyện cùng Urasha">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính yêu thích của tôi là Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS bởi vì nó giống như chiếc ống kính chu du khắp thế giới đối với tôi. Tôi có thể đi du lịch với chiếc ống kính này và chụp nhiều chủ đề với chất lượng hình ảnh ấn tượng.
                        <br/>
                        <br/>Bên cạnh đó, tôi cũng yêu ống kính Sony Distagon T FE 35mm f/1.4 ZA cho chủ đề nhiếp ảnh chân dung môi trường của mình. Tiêu cự đủ rộng để tôi có thể giữ lại môi trường xung quanh trong khi độ sâu trường ảnh vẫn đủ để chủ thể nổi bật một cách hoàn mỹ.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-leHappiness! I carry a camera everywhere. ft">Túi của tôi bao gồm Sony Distagon T FE 35mm f/1.4 ZA, Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS, Sony Sonnar T FE 55mm f/1.8 ZA, Sony Alpha a7RII, 2 viên pin phụ và 4 thẻ nhớ SD 64GB.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Urasha</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/urasha/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Trò chuyện cùng Urasha"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh là công cụ giúp tôi thể hiện cảm xúc của mình và cách tôi gửi thông điệp đến khán giả. Đôi lúc, họ nhìn bức ảnh theo cách mà tôi muốn nhưng đôi lúc chính bức ảnh dẫn dắt cảm xúc của họ. Đối với tôi thì đó chính là điều thú vị. Ý nghĩa của nhiếp ảnh có thể thay đổi liên tục tuỳ theo kinh nghiệm sống của mỗi người và đó là sự tuyệt vời của nhiếp ảnh. Đối với tôi, cho đến khi cảm xúc vẫn dân trào mỗi ngày trong cuộc sống, nhiếp ảnh sẽ là phương tiện để thể hiện chúng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh giữ vai trò quan trọng trong cuộc sống của tôi đến mức tôi thay đổi nghề của mình từ khách sạn sang trở thành nhiếp ảnh gia và giảng viên nhiếp ảnh. Tôi nhận thấy tình yêu của mình đối với nhiếp ảnh và chiếc máy ảnh trở thành người bạn đồng hành không thể xa rời của tôi khi du lịch. Khi trở về, tôi thưởng thức những bức ảnh đến khi ngủ - điều đó thể hiện sự quan trọng của nhiếp ảnh đối với tôi. Hơn thế nữa, nhếp ảnh đem lại cho tôi khả năng nhìn ra những chi tiết nhỏ bé trong cuộc sống quanh mình như cây cối, động vật, con người và tất cả những gì mà tôi có lẽ sẽ bỏ qua nếu không theo đuổi nhiếp ảnh. Tôi tìm thấy hạnh phúc khi nhìn thế giới tuyệt vời này mỗi ngày thông qua ống kính nhiếp ảnh.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Về yêu cầu của tôi đối với thiết bị nhiếp ảnh, tôi cần chúng phải đáng tin cậy về chất lượng hình ảnh - sự sắc nét, độ chính xác màu sắc và dải động. Tôi hạnh phúc khi có thể thấy những hình ảnh chất lượng mỗi khi xem chúng. Một yêu cầu khác của tôi về thiết bị đó là sự tiện lợi. Mang theo một chiếc máy ảnh trong thời gian dài đã khiến tôi hiện giờ phải gặp những vấn đề về bờ vai của mình. Do đó tôi ưu tiên máy ảnh trọng lượng nhẹ để giúp mình thoải mái hơn, và điều này đồng nghĩa với việc tôi có thể mang nhiều ống kính hơn trong chuyến đi của mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Dow Wasiksiri là nghệ sĩ mà tôi yêu thích nhất, từ anh ấy mà tôi có cảm hứng và học cách trân trọng nghệ thuật xung quanh mình. Hơn thế nữa, tôi cũng đã học việc sáng tác một cách có hệ thống từ anh ấy.
                                <br/>
                                <br/>Một nhiếp ảnh gia khác mà tôi yêu thích là Martin Parr, tác phẩm của anh ấy rất dễ để thấu hiểu và có một chút trào phúng. Tôi thích anh ấy vì tôi yêu những câu chuyện về sự đa dạng trong cuộc sống con người chúng ta ở nhiều nơi khác nhau.
                                <br/>
                                <br/>Bên cạnh đó, các tác phẩm của Erwin Olaf và Loretta Lux cũng truyền cảm hứng cho tôi thông qua cách sử dụng dụng màu sắc, sự hoàn thiện và ý tưởng đằng sau chúng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thông thường khi tôi đi du lịch thật không dễ dàng đem theo những thiết bị nặng nề, đặc biệt là nếu tôi phải du hành nhiều ngày và một số chặng đường không được dễ chịu cho lắm. Tôi cảm thấy Sony a7RII là lựa chọn phù hợp nhất ở bất kỳ điều kiện nào, đặc biệt là khi xét về trọng lượng và chất lượng hình ảnh thì việc chuyển qua Sony a7RII là quyết định tuyệt vời nhất mà tôi từng đưa ra.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony a7RII giúp nhiếp ảnh trở nên thú vị và hiệu quả hơn khi tôi có thể mang chúng bên cạnh bất kỳ lúc nào. Nó mang đến cho tôi cảm giác như lần đầu tôi chạm vào chiếc máy ảnh đầu tiên của mình. Tôi cảm thấy động lực thúc đẩy mình bước ra ngoài và khám phá thế giới nhiều hơn mỗi ngày cũng như việc tôi có thể lưu giữ những khoảnh khắc cá nhân của mình một cách dễ dàng.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ưu điểm tuyệt đối của Sony a7RII là công nghệ tiên tiến được tích hợp vào trong thân máy trọng lượng nhẹ. Tại sao bạn phải đem theo máy ảnh lớn khi có một chiếc máy ảnh nhỏ và chất lượng tốt hơn? Sony a7RII là sự lựa chọn hoàn hảo đối với tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Con số không thể diễn tả hết ưu điểm của Sony a7R, nó là công nghệ tiên tiến nhất hiện có trên thị trường và đem đến tất cả những gì mà tôi mong ước. Chiếc máy ảnh này đã trở thành bạn thân của tôi và tôi rất yêu nó.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của tôi là Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS bởi vì nó giống như chiếc ống kính chu du khắp thế giới đối với tôi. Tôi có thể đi du lịch với chiếc ống kính này và chụp nhiều chủ đề với chất lượng hình ảnh ấn tượng.
                                <br/>
                                <br/>Bên cạnh đó, tôi cũng yêu ống kính Sony Distagon T FE 35mm f/1.4 ZA cho chủ đề nhiếp ảnh chân dung môi trường của mình. Tiêu cự đủ rộng để tôi có thể giữ lại môi trường xung quanh trong khi độ sâu trường ảnh vẫn đủ để chủ thể nổi bật một cách hoàn mỹ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Túi của tôi bao gồm Sony Distagon T FE 35mm f/1.4 ZA, Sony Vario-Tessar T FE 24-70mm f/4 ZA OSS, Sony Sonnar T FE 55mm f/1.8 ZA, Sony Alpha a7RII, 2 viên pin phụ và 4 thẻ nhớ SD 64GB.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
