<section id="content" class="container-fluid viet">

    <div class="bg"></div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12 header">

            <span>
                        <img src="img/logo-full_frame.jpg" height="60" width="92" alt="Full-frame logo">
                    </span>

            <h1 class="text-left center-block">FE Lenses</h1>

        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2 col-sm-12 mobile">

            <div class="lenses-content center-block">

                <script id="lenses-content" type="text/x-handlebars-template">​

                    {{#each this}}

                        <div class="lens-content">

                            <div>
                                <img src="{{image}}" class="img-responsive center-block mobile" alt="{{name}}">
                            </div>

                            <div class="content center-block">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 left">

                                        <p class="name">{{{name}}}</p>

                                        <p class="model">Model: {{model}}</p>

                                        <div class="divider">
                                            <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                        </div>

                                        {{#if url}}
                                            <a class="sony-btn" href="{{url}}" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:lenses:{{model}}:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:lenses:{{model}}:discover', 'microsite|ilc:sea:viet|a7Series|lenses|{{model}}|discover','event50');">Discover <span>&rsaquo;</span></a>
                                        {{else}}
                                            Coming Soon
                                        {{/if}}

                                    </div>

                                    <div class="col-xs-12 col-sm-8 col-md-7 right">

                                        {{#each features}}
                                            <div class="features">{{{this}}}</div>
                                        {{/each}}

                                        <div class="functions">

                                            {{#each functions}}

                                                <div class="function">

                                                    <div>
                                                        <img src="{{image}}" class="center-block" height="46" width="46" alt="{{name}}">
                                                    </div>

                                                    <p>{{name}}</p>

                                                </div>

                                            {{/each}}

                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-10 col-md-offset-1 samples">

                                        <p>Sample Images</p>

                                        <div class="sample hidden-xs" id="sample-{{id}}">

                                            {{#each samples}}

                                                <a class="sample-image" target="_blank" href="{{image}}" rel="photo-gallery-{{../id}}" data-model="{{../model}}">
                                                    <img src="{{thumbnail}}" height="91" width="138" alt="Sample Photo of {{../name}}">
                                                </a>

                                            {{/each}}

                                        </div>

                                        <div class="sample-mobile row hidden-sm hidden-md hidden-lg" id="sample-{{id}}">

                                            {{#each samples}}

                                                <a class="sample-image col-xs-6" target="_blank" href="{{image}}" rel="photo-gallery-{{../id}}" data-model="{{../model}}">
                                                    <img src="{{thumbnail}}" class="img-responsive center-block" height="91" width="138" alt="Sample Photo of {{../name}}">
                                                </a>

                                            {{/each}}

                                        </div>

                                    </div>

                                </div>

                                <div class="clearfix"></div>

                            </div>

                        </div>

                    {{/each}}

                </script>

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="hidden-sm hidden-md hidden-lg text-center divider">
            <img src="img/profile/divider-white.png" height="2" width="301" alt="Divider">
        </div>

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="lenses-carousel row max-width center-block" id="maincontent">

                <script id="lenses-carousel" type="text/x-handlebars-template">​
                    {{#each this}}

                        <a class="hidden-xs lens-carousel non-mobile text-center" rel="lens-gallery" href="#" data-model="{{model}}">
                            <div class="wrapper">
                                <img src="{{thumbnail}}" class="img-responsive center-block" height="329" width="225" alt="{{name}}">
                                <div class="lens-carousel-details">
                                    <p class="name">{{{name}}}</p>
                                    <p class="model">Model: {{model}}</p>
                                </div>
                                {{#if logo}}
                                    <div class="lens-logo">
                                        <img src="{{logo}}" class="img-responsive center-block" alt="">
                                    </div>
                                {{/if}}
                            </div>
                        </a>
                    {{/each}}


                    {{#each this}}
                        <a class="hidden-sm hidden-md hidden-lg lens-carousel col-xs-4 text-center" rel="lens-gallery" href="#" data-model="{{model}}">
                            <div class="wrapper">
                                <img src="{{thumbnail-mobile}}" class="img-responsive center-block" height="225" width="225" alt="{{name}}">
                                <div class="lens-carousel-details">
                                    <p class="name">{{{name}}}</p>
                                    <p class="model">Model: {{model}}</p>
                                </div>
                                {{#if logo}}
                                    <div class="lens-logo">
                                        <img src="{{logo}}" class="img-responsive center-block" alt="">
                                    </div>
                                {{/if}}
                            </div>
                        </a>

                    {{/each}}
                    ​</script>

            </div>

        </div>

    </div>

</section>
