<div class="viet" id="other-profile-aloysius">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Aloysius Lim">
            <div>
                <p class="type">Đám cưới và âm nhạc</p>
                <p class="name">Aloysius Lim</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>Tình yêu nhiếp ảnh của Aloysius xuất phát từ 15 năm trước khi anh đến một buổi hoà nhạc và bắt đầu chụp ảnh gia đình bằng chiếc máy point-and-shoot. Vài tháng sau, anh quyết định đầu tư vào một chiếc DLSR để chụp những bức ảnh chất lượng tốt hơn và hi vọng một ngày anh sẽ có thể chụp những tên tuổi lớn trên sàn diễn. Hai năm sau, anh có sự đột phá trong nghề khi có cơ hội chụp nhóm nhạc Scottland, Franz Ferdinand, trong buổi hoà nhạc. Sự phấn khích trong buổi chụp rất cuồng nhiệt, nhưng anh ấy còn muốn nhiều hơn nữa. Sau đó anh bắt đầu chụp những nhạc sĩ như Coldplay, The Police, Rihanna, Jason Mraz,... Kể từ đó anh đã chụp rất nhiều buổi hoà nhạc và lễ hội âm nhạc ở Singapore và những khu vực xung quanh. Niềm cảm hứng của anh với nhiếp ảnh cưới khởi đầu khi tìm kiếm một nhiếp ảnh gia cho chính hôn lễ của mình. Mong muốn tìm hiểu nhiều hơn về thể loại này, anh đã tham dự nhiều buổi workshop về nhiếp ảnh cưới và gặp gỡ nhiều nhiếp ảnh gia từ <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:aloysius:works:link:wpn', 'ilc:sea:viet', 'ilc:sea:viet:profile:aloysius:works:link:wpn', 'microsite|ilc:sea:viet|profile|aloysius|works|link|wpn');" target="_blank"> Sau nhiều thời gian cân nhắc, anh rời bỏ công việc hằng ngày của mình để theo đuổi nhiếp ảnh toàn thời gian năm 2008 và chưa bao giờ hối tiếc. Aloysius là một nửa linh hồn của 39 East Photography, chuyên về ảnh cưới, và cũng là một trong số ít công ty đầu tiên tại Singapore sử dụng toàn bộ máy hệ máy ảnh của Sony.</p>

                <p>Bạn có thể thưởng thức ảnh cưới của Aloysius ở 39 East Photography: <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> và ảnh âm nhạc tại website cá nhân của anh: <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Đám cưới và âm nhạc</p>
                    <p class="name">Aloysius Lim</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Tình yêu nhiếp ảnh của Aloysius xuất phát từ 15 năm trước khi anh đến một buổi hoà nhạc và bắt đầu chụp ảnh gia đình bằng chiếc máy point-and-shoot. Vài tháng sau, anh quyết định đầu tư vào một chiếc DLSR để chụp những bức ảnh chất lượng tốt hơn và hi vọng một ngày anh sẽ có thể chụp những tên tuổi lớn trên sàn diễn. Hai năm sau, anh có sự đột phá trong nghề khi có cơ hội chụp nhóm nhạc Scottland, Franz Ferdinand, trong buổi hoà nhạc. Sự phấn khích trong buổi chụp rất cuồng nhiệt, nhưng anh ấy còn muốn nhiều hơn nữa. Sau đó anh bắt đầu chụp những nhạc sĩ như Coldplay, The Police, Rihanna, Jason Mraz,... Kể từ đó anh đã chụp rất nhiều buổi hoà nhạc và lễ hội âm nhạc ở Singapore và những khu vực xung quanh. Niềm cảm hứng của anh với nhiếp ảnh cưới khởi đầu khi tìm kiếm một nhiếp ảnh gia cho chính hôn lễ của mình. Mong muốn tìm hiểu nhiều hơn về thể loại này, anh đã tham dự nhiều buổi workshop về nhiếp ảnh cưới và gặp gỡ nhiều nhiếp ảnh gia từ <a href="http://www.wpn.sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:aloysius:works:link:wpn', 'ilc:sea:viet', 'ilc:sea:viet:profile:aloysius:works:link:wpn', 'microsite|ilc:sea:viet|profile|aloysius|works|link|wpn');" target="_blank"> Sau nhiều thời gian cân nhắc, anh rời bỏ công việc hằng ngày của mình để theo đuổi nhiếp ảnh toàn thời gian năm 2008 và chưa bao giờ hối tiếc. Aloysius là một nửa linh hồn của 39 East Photography, chuyên về ảnh cưới, và cũng là một trong số ít công ty đầu tiên tại Singapore sử dụng toàn bộ máy hệ máy ảnh của Sony.</p>

                <p>Bạn có thể thưởng thức ảnh cưới của Aloysius ở 39 East Photography: <a href="http://www.39eastimages.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:39eastimages', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:39eastimages', 'microsite|ilc:@@country|profile|aloysius|works|link|39eastimages');" target="_blank">http://www.39eastimages.com</a> và ảnh âm nhạc tại website cá nhân của anh: <a href="http://www.aloysiuslim.com" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'ilc:@@country', 'ilc:@@country:profile:aloysius:works:link:aloysiuslim', 'microsite|ilc:@@country|profile|aloysius|works|link|aloysiuslim');" target="_blank">http://www.aloysiuslim.com</a>.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
                <!-- <img data-original="img/profile/other/aloysius/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Aloysius"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Điều gì đã thúc đẩy tình yêu nhiếp ảnh trong anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tại một lễ cưới, đó có thể là cái ôm ấm áp giữa thành viên hai gia đình, hoặc cái nhìn của chú rể khi cô dâu bước vào giáo đường. Nó cũng có thể là là một cú nhảy ném trong bóng rổ hay tay ghita đánh đàn trên sân khấu trong buổi live show. Kể lại một câu chuyện bằng hình ảnh mà mình chụp và chia sẻ với mọi người chính là động lực của tôi.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhiếp ảnh đóng vai trò quan trọng trong cuộc đời của tôi 15 năm qua.  Nó cho phép tôi gặp gỡ những người mà tôi chưa bao giờ kỳ vọng rằng mình sẽ gặp.  Nó cũng cho phép tôi bước vào cuộc sống những người mà tôi chưa từng biết trong lễ cưới của họ và đem tôi đi khắp nơi trên thế giới. Tôi muốn nói rằng nhiếp ảnh đã dạy tôi sự nhẫn nại và giúp tôi thấy được vẻ đẹp trong mọi thứ hằng ngày và các khoảnh khắc thường bị bỏ qua trong cuộc sống.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-2.jpg" width="611" height="207" alt="Interview with Aloysius">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thử thách lớn nhất mà anh từng gặp trong nhiếp ảnh là gì và cách mà a7 series giúp anh vượt qua nó?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Bên cạnh vấn đề về trọng lượng, điều mà tôi tin rằng nhiều nhiếp ảnh gia cũng gặp phải, một trong những thử thách lớn nhất đối với tôi chính là chụp ở những góc "khác biệt". Có rất nhiều tình huống tôi buộc phải nằm xuống đất để chụp. Tuy nhiên tôi lại không thể làm như vậy nếu như thiếu không gian. Màn hình LCD lật rất hữu dụng cho những tình huống như thế. Tôi có thể nhanh chóng canh góc và điều chỉnh khung hình, chụp, và sẵn sàng cho bức ảnh tiếp theo. Đôi lúc, chụp với màn hình lật sẽ mang lại sự kín đáo và người xung quanh sẽ ít chú ý đến sự hiện diện của bạn.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh thích những tính năng nào trên máy ảnh a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Một trong những tính năng tôi thích nhất là kết nối Wi-Fi khi tôi có thể truyền tải hình ảnh không dây tới điện thoại hoặc ipad, trước khi đăng nó lên các mạng xã hội. Tôi thường xuyên làm điều này khi chụp các buổi hoà nhạc và nó là cách tuyệt vời để giữ sự hào hứng cho các fan và thậm chí là các nghệ sĩ. Tôi cũng thấy màn hình LCD lật rất hữu ích bởi nó cho phép tôi chụp ở những góc lạ, xem trước ảnh và điều chỉnh trước khi chụp. Ống ngắm quang học cũng rất tuyệt để xem thời gian thực các hiệu ứng - cân bằng trắng, tuỳ chọn màu, đen trắng,... Một tính năng hữu ích mà tôi rất thích là khả năng chuyển sang chế độ crop APS-C. Trong tình huống chỉ được phép chụp buổi hoà nhạc ở vị trí xa, bật chế độ crop APS-C cho phép các bức ảnh của tôi gần hơn mà không cần phải dùng teleconverter.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ống kính yêu thích nhất của tôi hiện nay là 55mm f/1.8. Nó nhỏ, nhẹ và tôi yêu chất ảnh của nó. Tôi cũng yêu ống 16-35mm f/4 vì vậy khá khó để chọn ra ống kính yêu thích nhất!</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo gì trong túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Về máy, a7R II (với grip pin) và a7 II là công cụ làm việc chính, tôi cũng mang theo máy RX100 IV. Hiện tại tôi có 3 ống kính, 16-35mm f/4, 55mm f/1.8 và 70-200mm f/4, luôn bên cạnh mình. Tôi cũng có hai đèn flash HVL-F60M, pin thêm cho máy ảnh và flash, và một cục sạc dự phòng cho smartphone hoặc trường hợp khẩn cấp cần phải sạc máy ảnh bằng cổng USB. Ngoài những thiết bị liên quan đến máy ảnh, tôi cũng có một đèn pin LED mini rất hữu dụng khi phải dọn dẹp dụng cụ trong không gian tối của các buổi hoà nhạc hoặc dùng như là một nguồn sáng bổ sung khi chụp chân dung. Ngoài ra còn có áo choàng và áo mưa dành cho ống kính và camera cho những ngày mưa. Một trong những dụng cụ quan trọng nhất đối với tôi chính là bịt tai. Tôi thường xuyên sử dụng chúng trong những buổi hoà nhạc. Phải bảo vệ đôi tai của mình!</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/aloysius/profile_pic-3.jpg" width="611" height="207" alt="Interview with Aloysius">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Aloysius</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/aloysius/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Aloysius"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Điều gì đã thúc đẩy tình yêu nhiếp ảnh trong anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <!-- Q&A 1 -->
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tại một lễ cưới, đó có thể là cái ôm ấm áp giữa thành viên hai gia đình, hoặc cái nhìn của chú rể khi cô dâu bước vào giáo đường. Nó cũng có thể là là một cú nhảy ném trong bóng rổ hay tay ghita đánh đàn trên sân khấu trong buổi live show. Kể lại một câu chuyện bằng hình ảnh mà mình chụp và chia sẻ với mọi người chính là động lực của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Q&A 1 -->

                <!-- Q&A 2 -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng trong cuộc đời của tôi 15 năm qua.  Nó cho phép tôi gặp gỡ những người mà tôi chưa bao giờ kỳ vọng rằng mình sẽ gặp.  Nó cũng cho phép tôi bước vào cuộc sống những người mà tôi chưa từng biết trong lễ cưới của họ và đem tôi đi khắp nơi trên thế giới. Tôi muốn nói rằng nhiếp ảnh đã dạy tôi sự nhẫn nại và giúp tôi thấy được vẻ đẹp trong mọi thứ hằng ngày và các khoảnh khắc thường bị bỏ qua trong cuộc sống.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Q&A 3 -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thử thách lớn nhất mà anh từng gặp trong nhiếp ảnh là gì và cách mà a7 series giúp anh vượt qua nó?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Bên cạnh vấn đề về trọng lượng, điều mà tôi tin rằng nhiều nhiếp ảnh gia cũng gặp phải, một trong những thử thách lớn nhất đối với tôi chính là chụp ở những góc "khác biệt". Có rất nhiều tình huống tôi buộc phải nằm xuống đất để chụp. Tuy nhiên tôi lại không thể làm như vậy nếu như thiếu không gian. Màn hình LCD lật rất hữu dụng cho những tình huống như thế. Tôi có thể nhanh chóng canh góc và điều chỉnh khung hình, chụp, và sẵn sàng cho bức ảnh tiếp theo. Đôi lúc, chụp với màn hình lật sẽ mang lại sự kín đáo và người xung quanh sẽ ít chú ý đến sự hiện diện của bạn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh thích những tính năng nào trên máy ảnh a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Một trong những tính năng tôi thích nhất là kết nối Wi-Fi khi tôi có thể truyền tải hình ảnh không dây tới điện thoại hoặc ipad, trước khi đăng nó lên các mạng xã hội. Tôi thường xuyên làm điều này khi chụp các buổi hoà nhạc và nó là cách tuyệt vời để giữ sự hào hứng cho các fan và thậm chí là các nghệ sĩ. Tôi cũng thấy màn hình LCD lật rất hữu ích bởi nó cho phép tôi chụp ở những góc lạ, xem trước ảnh và điều chỉnh trước khi chụp. Ống ngắm quang học cũng rất tuyệt để xem thời gian thực các hiệu ứng - cân bằng trắng, tuỳ chọn màu, đen trắng,... Một tính năng hữu ích mà tôi rất thích là khả năng chuyển sang chế độ crop APS-C. Trong tình huống chỉ được phép chụp buổi hoà nhạc ở vị trí xa, bật chế độ crop APS-C cho phép các bức ảnh của tôi gần hơn mà không cần phải dùng teleconverter.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite pair of lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích nhất của tôi hiện nay là 55mm f/1.8. Nó nhỏ, nhẹ và tôi yêu chất ảnh của nó. Tôi cũng yêu ống 16-35mm f/4 vì vậy khá khó để chọn ra ống kính yêu thích nhất!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo gì trong túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Về máy, a7R II (với grip pin) và a7 II là công cụ làm việc chính, tôi cũng mang theo máy RX100 IV. Hiện tại tôi có 3 ống kính, 16-35mm f/4, 55mm f/1.8 và 70-200mm f/4, luôn bên cạnh mình. Tôi cũng có hai đèn flash HVL-F60M, pin thêm cho máy ảnh và flash, và một cục sạc dự phòng cho smartphone hoặc trường hợp khẩn cấp cần phải sạc máy ảnh bằng cổng USB. Ngoài những thiết bị liên quan đến máy ảnh, tôi cũng có một đèn pin LED mini rất hữu dụng khi phải dọn dẹp dụng cụ trong không gian tối của các buổi hoà nhạc hoặc dùng như là một nguồn sáng bổ sung khi chụp chân dung. Ngoài ra còn có áo choàng và áo mưa dành cho ống kính và camera cho những ngày mưa. Một trong những dụng cụ quan trọng nhất đối với tôi chính là bịt tai. Tôi thường xuyên sử dụng chúng trong những buổi hoà nhạc. Phải bảo vệ đôi tai của mình!</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
