<div class="viet" id="other-profile-daniel">

    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP Start -->
    <!-- ////////////////////////////////////////////// -->

    <div class="info-wrapper hidden-xs hidden-sm">

        <!-- photographer name -->
        <div class="pull-left text-center">
            <img data-original="img/profile/other/daniel/profile_pic-1.jpg" class="lazy main_profile_pic" width="316" height="328" alt="Daniel Ng">
            <div>
                <p class="type">Landscape + Travel</p>
                <p class="name">Daniel Ng</p>
            </div>
        </div>
        <!-- photographer name -->

        <!-- description -->
        <div class="desc-wrapper hidden-xs hidden-sm pull-right">
            <div class="desc desc-container">
                <p>Daniel is the co-founder, photographer and videographer of Singapore's off-the-beaten-path travel blog, <a href="http://sunriseodyssey.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'ilc:sea:viet', 'ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'microsite|ilc:sea:viet|profile|daniel|works|link|sunriseodyssey');" target="_blank">SunriseOdyssey.com</a>. Ever since his mother bought him a camcorder at the age of 8, he has been involved in a plethora of video projects and hasn't stopped making videos up till today. He later graduated from Nanyang Technological University with a Bachelor of Fine Arts in Digital Filmmaking and worked with clients to shoot for corporate events, advertorials and marketing campaigns. Daniel also has extensive knowledge and experience in motion graphics, music video production, graphic design, web development and aquascaping. Daniel is a founding member of his video production company, Altriginal, in which he and his team members challenge the boundaries of traditional filmmaking techniques to produce exceptionally creative and bespoke videography experiences to value add to companies and brands' marketing campaigns.</p>
                <div class="divider-orange">
                    <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
                </div>
            </div>
        </div>
        <!-- description -->

    </div>
    <!-- ////////////////////////////////////////////// -->
    <!-- DESKTOP End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- photographer name -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="info-container text-center col-xs-6 col-sm-5">

                <div>
                    <p class="type">Landscape + Travel</p>
                    <p class="name">Daniel Ng</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- photographer name -->


    <div class="clearfix"></div>


    <!-- description -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Daniel is the co-founder, photographer and videographer of Singapore's off-the-beaten-path travel blog, <a href="http://sunriseodyssey.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'ilc:sea:viet', 'ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'microsite|ilc:sea:viet|profile|daniel|works|link|sunriseodyssey');" target="_blank">SunriseOdyssey.com</a>. Ever since his mother bought him a camcorder at the age of 8, he has been involved in a plethora of video projects and hasn't stopped making videos up till today. He later graduated from Nanyang Technological University with a Bachelor of Fine Arts in Digital Filmmaking and worked with clients to shoot for corporate events, advertorials and marketing campaigns. Daniel also has extensive knowledge and experience in motion graphics, music video production, graphic design, web development and aquascaping. Daniel is a founding member of his video production company, Altriginal, in which he and his team members challenge the boundaries of traditional filmmaking techniques to produce exceptionally creative and bespoke videography experiences to value add to companies and brands' marketing campaigns.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- description -->

    <!-- ////////////////////////////////////////////// -->
    <!-- MOBILE End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Daniel</span>
                </p>
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What motivates the photographer in you?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Having people dedicate a few precious minutes in their busy work lives to give me a chance to portray my thoughts and emotions through those few image frames.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How important is photography in your work and personal life?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Videography has always been part of my life ever since my mother bought me a camcorder. Since the age of 8, I have been experimenting stop-motion videography techniques with Lego<sup>&reg;</sup> toys and got hooked on this particular storytelling art form. I even casted my family members to star in my little video projects and eventually entered video competitions when I was older. Framing up a scene for my video eventually got me to take an interest in photography. The challenges of photography is a whole different ball game - instead of telling my story in thousands of frames, I have only a single frame. Yet, I believe that mastery in both skills will eventually complement each other. Videography and photography have no doubt become an integral part of my lifestyle. My travel blog <a href="http://sunriseodyssey.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'ilc:sea:viet', 'ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'microsite|ilc:sea:viet|profile|daniel|works|link|sunriseodyssey');" target="_blank">SunriseOdyssey.com</a> has also gained tremendous traction with the spectacular imagery we have captured during our travels.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/daniel/profile_pic-2.jpg" width="611" height="207" alt="Interview with Daniel">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The greatest challenge for me, especially for our travel blog, is definitely the weight. Having a lightweight camera is vital when it comes to moving around quickly, responding to situations fast, and adapting when necessary. Being able to capitilise on a7's mirrorless system and lightweightness allow me to focus on what matters.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Which is/are your favourite features found on the a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Apart from its weight and portablity, I enjoy its dual functionality of being able to excel at both photography and videography. Most of the time when we travel, it is essential for us to capture both stills and videos, and the a7 series of cameras is excellent for that. The electronic viewfinder helped greatly in being able to visualise the final product even before a single frame is shot, and what makes it so amazing is its ability to tilt from the camera, allowing me to composite low angle shots. Being able to shoot videos in S-Log also really helped bring out the colours the location deserves.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What is your favourite pair of lens?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">My favourite would definitely be the 16-35mm since it caters to most of my videography and photography needs during our travels.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What's in your camera bag?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Apart from the camera, I will be carrying either a 24-70mm or the 70-200mm. I will also be carrying a small LED light for darker situations and a Rode mic. I tend to be rather conservative when it comes to taking what I absolutely need for our travels. Thus, being able to trust in my equipment is definitely paramount.</div>
                </div>
                <!-- Q&A 6 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/other/daniel/profile_pic-3.jpg" width="611" height="207" alt="Interview with Daniel">

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Daniel</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/other/daniel/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Daniel"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What motivates the photographer in you?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Having people dedicate a few precious minutes in their busy work lives to give me a chance to portray my thoughts and emotions through those few image frames.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How important is photography in your work and personal life?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Videography has always been part of my life ever since my mother bought me a camcorder. Since the age of 8, I have been experimenting stop-motion videography techniques with Lego<sup>&reg;</sup> toys and got hooked on this particular storytelling art form. I even casted my family members to star in my little video projects and eventually entered video competitions when I was older. Framing up a scene for my video eventually got me to take an interest in photography. The challenges of photography is a whole different ball game - instead of telling my story in thousands of frames, I have only a single frame. Yet, I believe that mastery in both skills will eventually complement each other. Videography and photography have no doubt become an integral part of my lifestyle. My travel blog <a href="http://sunriseodyssey.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'ilc:sea:viet', 'ilc:sea:viet:profile:daniel:works:link:sunriseodyssey', 'microsite|ilc:sea:viet|profile|daniel|works|link|sunriseodyssey');" target="_blank">SunriseOdyssey.com</a> has also gained tremendous traction with the spectacular imagery we have captured during our travels.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is the greatest challenge you faced in your photography and how did the a7 series help alleviate this?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The greatest challenge for me, especially for our travel blog, is definitely the weight. Having a lightweight camera is vital when it comes to moving around quickly, responding to situations fast, and adapting when necessary. Being able to capitilise on a7's mirrorless system and lightweightness allow me to focus on what matters.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Which is/are your favourite features found on the a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Apart from its weight and portablity, I enjoy its dual functionality of being able to excel at both photography and videography. Most of the time when we travel, it is essential for us to capture both stills and videos, and the a7 series of cameras is excellent for that. The electronic viewfinder helped greatly in being able to visualise the final product even before a single frame is shot, and what makes it so amazing is its ability to tilt from the camera, allowing me to composite low angle shots. Being able to shoot videos in S-Log also really helped bring out the colours the location deserves.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What is your favourite pair of lens?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">My favourite would definitely be the 16-35mm since it caters to most of my videography and photography needs during our travels.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What's in your camera bag?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Apart from the camera, I will be carrying either a 24-70mm or the 70-200mm. I will also be carrying a small LED light for darker situations and a Rode mic. I tend to be rather conservative when it comes to taking what I absolutely need for our travels. Thus, being able to trust in my equipment is definitely paramount.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
