<section id="content" class="container-fluid viet">

    <div class="row">

        <div class="col-sm-12 text-center header">

            <span class="full-flame">
                        <img src="img/logo-full_frame.jpg" height="60" width="92" alt="Full-frame logo">
                    </span>

            <br class="hidden-md hidden-lg" />

            <h1 class="text-left center-block">Full-frame, palm-sized</h1>

            <span class="logo-alpha7">
                        <img src="img/logo-alpha_7-large.png" height="40" width="99" alt="Alpha 7 logo">
                    </span>

        </div>

        <div class="clearfix"></div>



        <div class="col-sm-12">

            <div class="cameras">

                <div class="camera-row">

                    <!-- a7sm2 -->
                    <div class="camera text-center" id="a7sm2">

                        <div class="camera-image">
                            <div class="new-blurb center-block">
                                <img src="img/camera/new-blurb-2.png" class="img-responsive" width="136" height="63" alt="New">
                            </div>
                            <img src="img/camera/a7sm2/camera.png" class="img-responsive center-block" width="398" height="278" alt="Alpha 7SII camera">
                        </div>

                        <!-- <div class="awards">
                            <img src="img/camera/a7sm2/awards.png" class="img-responsive center-block hidden-xs hidden-sm" height="73" width="265" alt="Alpha 7SII awards">
                            <img src="img/camera/a7sm2/awards-mobile.png" class="img-responsive center-block img-retina hidden-md hidden-lg" height="185" width="681" alt="Alpha 7SII awards">
                        </div> -->

                        <div class="title">
                            <img src="img/camera/a7sm2/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="383" height="77" alt="Alpha 7SII - Ultimate Supremacy - ISO 409600">
                            <img src="img/camera/a7sm2/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="261" height="55" alt="Alpha 7SII - Ultimate Supremacy - ISO 409600">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7sm2/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="332" height="164" alt="Alpha 7SII Specifications">
                            <img src="img/camera/a7sm2/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="499" height="223" alt="Alpha 7SII Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7sm2?cid=ILCE-7SM2:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7SM2:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7SM2:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7SM2|discover','event50');">Discover
                                <span>&rsaquo;</span>
                            </a>
                        </div>

                    </div>
                    <!-- a7sm2 -->

                    <!-- a7rm2 -->
                    <div class="camera text-center" id="a7rm2">

                        <div class="camera-image">
                            <div class="new-blurb center-block">
                                <img src="img/camera/new-blurb.png" class="img-responsive" width="136" height="63" alt="New">
                            </div>
                            <img src="img/camera/a7rm2/camera.png" class="img-responsive center-block" width="400" height="279" alt="Alpha 7RII camera">
                        </div>

                        <div class="awards">
                            <img src="img/camera/a7rm2/awards.png" class="img-responsive center-block hidden-xs hidden-sm" height="73" width="265" alt="Alpha 7RII awards">
                            <img src="img/camera/a7rm2/awards-mobile.png" class="img-responsive center-block img-retina hidden-md hidden-lg" height="90" width="322" alt="Alpha 7RII awards">
                        </div>

                        <div class="title">
                            <img src="img/camera/a7rm2/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="374" height="77" alt="Alpha 7RII - Back-illuminated Full-Frame Sensor">
                            <img src="img/camera/a7rm2/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="441" height="99" alt="Alpha 7RII - Back-illuminated Full-Frame Sensor">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7rm2/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="296" height="179" alt="Alpha 7RII Specifications">
                            <img src="img/camera/a7rm2/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="397" height="242" alt="Alpha 7RII Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7rm2?cid=ILCE-7RM2:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7RM2:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7RM2:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7RM2|discover','event50');">Discover
                                <span>&rsaquo;</span>
                            </a>
                        </div>

                    </div>
                    <!-- a7rm2 -->


                    <!-- <div class="camera hidden-xs hidden-sm">
                            <div class="spacing"></div>
                        </div> -->


                    <!-- a7m2 -->
                    <div class="camera text-center" id="a7m2">

                        <div class="camera-image">
                            <img src="img/camera/a7m2/camera.png" class="img-responsive center-block" width="398" height="278" alt="Alpha 7II camera">
                        </div>

                        <div class="awards">
                            <img src="img/camera/a7m2/awards.png" class="img-responsive center-block" height="60" width="380" alt="Alpha 7II awards">
                        </div>

                        <div class="title">
                            <img src="img/camera/a7m2/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="405" height="77" alt="Alpha 7II - 5-Axis Image Stabilization">
                            <img src="img/camera/a7m2/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="536" height="86" alt="Alpha 7II - 5-Axis Image Stabilization">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7m2/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="407" height="118" alt="Alpha 7II Specifications">
                            <img src="img/camera/a7m2/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="541" height="145" alt="Alpha 7II Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7m2-body-kit?cid=ILCE-7M2:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7M2:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7M2:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7M2|discover','event50');">Discover
                                        <span>&rsaquo;</span>
                                    </a>
                        </div>

                    </div>
                    <!-- a7m2 -->

                </div>




                <div class="clearfix"></div>



                <div class="camera-row">

                    <!-- a7s -->
                    <div class="camera text-center" id="a7s">

                        <div class="camera-image">
                            <img src="img/camera/a7s/camera.png" class="img-responsive center-block" width="400" height="278" alt="Alpha 7S camera">
                        </div>

                        <div class="awards">
                            <img src="img/camera/a7s/awards.png" class="img-responsive center-block" height="61" width="282" alt="Alpha 7S awards">
                        </div>

                        <div class="title">
                            <img src="img/camera/a7s/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="374" height="80" alt="Alpha 7S - ISO 409600">
                            <img src="img/camera/a7s/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="440" height="84" alt="Alpha 7S - ISO 409600">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7s/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="296" height="153" alt="Alpha 7S Specifications">
                            <img src="img/camera/a7s/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="430" height="223" alt="Alpha 7S Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7s?cid=ILCE-7s:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7s:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7s:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7s|discover','event50');">Discover
                                        <span>&rsaquo;</span>
                                    </a>
                        </div>

                    </div>
                    <!-- a7s -->

                    <!-- a7r -->
                    <div class="camera text-center" id="a7r">

                        <div class="camera-image">
                            <img src="img/camera/a7r/camera.png" class="img-responsive center-block" width="401" height="280" alt="Alpha 7R camera">
                        </div>

                        <div class="awards">
                            <img src="img/camera/a7r/awards.png" class="img-responsive center-block" height="132" width="274" alt="Alpha 7R awards">
                        </div>

                        <div class="title">
                            <img src="img/camera/a7r/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="374" height="80" alt="Alpha 7R - 36.4 Megapixel">
                            <img src="img/camera/a7r/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="476" height="80" alt="Alpha 7R - 36.4 Megapixel">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7r/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="299" height="114" alt="Alpha 7R Specifications">
                            <img src="img/camera/a7r/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="433" height="167" alt="Alpha 7R Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7r?cid=ILCE-7r:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7r:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7r:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7r|discover','event50');">Discover
                                        <span>&rsaquo;</span>
                                    </a>
                        </div>

                    </div>
                    <!-- a7r -->

                    <!-- a7 -->
                    <div class="camera text-center" id="a7">

                        <div class="camera-image">
                            <img src="img/camera/a7/camera.png" class="img-responsive center-block" width="398" height="277" alt="Alpha 7 camera">
                        </div>

                        <div class="awards">
                            <img src="img/camera/a7/awards.png" class="img-responsive center-block" height="60" width="240" alt="Alpha 7 awards">
                        </div>

                        <div class="title">
                            <img src="img/camera/a7/title.png" class="img-responsive center-block hidden-xs hidden-sm" width="374" height="80" alt="Alpha 7 - Fast Hybrid AF">
                            <img src="img/camera/a7/title-mobile.png" class="img-responsive img-retina hidden-md hidden-lg" width="426" height="83" alt="Alpha 7 - Fast Hybrid AF">
                        </div>

                        <div class="specs center-block">
                            <img src="img/camera/a7/specs.png" class="img-responsive center-block hidden-xs hidden-sm" width="243" height="113" alt="Alpha 7 Specifications">
                            <img src="img/camera/a7/specs-mobile.png" class="img-responsive img-retina center-block hidden-md hidden-lg" width="348" height="157" alt="Alpha 7 Specifications">
                        </div>

                        <div>
                            <a class="sony-btn" href="//www.sony.com.sg/electronics/interchangeable-lens-cameras/ilce-7-body-kit?cid=ILCE-7:model:ilc:ms:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:ILCE-7:discover', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:ILCE-7:discover', 'microsite|ilc:sea:viet|a7Series|cameras|ILCE-7|discover','event50');;">Discover
                                        <span>&rsaquo;</span>
                                    </a>
                        </div>
                    </div>
                    <!-- a7 -->

                </div>

            </div>

            <div class="disclaimer">
                *<sup>1</sup> Standard ISO range: 100-102400 for stills and movies. Expandable ISO range: 50-409600 for stills, 100-409600 for movies.
                <br/>*<sup>2</sup> World’s first full-frame sensor capable of full pixel read-out without binning process for videos. Uses full width of sensor in 30p (25p)/24p video setting.
                <br/>*<sup>3</sup> ISO 100-25600 expandable to ISO 50-102400 for shooting still images.
                <br/>*<sup>4</sup> Among interchangeable-lens digital cameras equipped with a 35 mm full-frame image sensor. As of November 2014 based on Sony research.
                <br/>*<sup>5</sup> A 4K compatible recorder is required for 4K video recording.
            </div>

        </div>


    </div>


</section>
