<div class="viet" id="profile-eric">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:368px;">
            <div>
                <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                <p class="name">Ooi Eric</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Malaysia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Ảnh Cưới</p>
                    <p class="name">Ooi Eric</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Malaysia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Ooi Eric. Đúng vậy, đó là tên thật của tôi. Nó có lẽ là cái tên ngắn nhất với chỉ khoảng 7 ký tự.</p>

            <p>Tôi là một nhiếp ảnh gia ảnh cưới và chân dung từ Kuala Lumpur, Malaysia. Tôi chụp ảnh cưới và chân dung ở cả trong và ngoài nước. Tôi yêu việc chụp ảnh cưới vì nó là một trong những khoảnh khắc đầy hạnh phúc và thân mật nhất mà chúng ta trải qua trong cuộc đời mình. Tôi tin rằng những tấm ảnh cưới nên ấm áp, chân thành, thú vị và đáng nhớ vì chúng sẽ tồn tại qua nhiều thế hệ để kể lại câu chuyện của ngày cưới xưa.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Ooi Eric. Đúng vậy, đó là tên thật của tôi. Nó có lẽ là cái tên ngắn nhất với chỉ khoảng 7 ký tự.</p>

            <p>Tôi là một nhiếp ảnh gia ảnh cưới và chân dung từ Kuala Lumpur, Malaysia. Tôi chụp ảnh cưới và chân dung ở cả trong và ngoài nước. Tôi yêu việc chụp ảnh cưới vì nó là một trong những khoảnh khắc đầy hạnh phúc và thân mật nhất mà chúng ta trải qua trong cuộc đời mình. Tôi tin rằng những tấm ảnh cưới nên ấm áp, chân thành, thú vị và đáng nhớ vì chúng sẽ tồn tại qua nhiều thế hệ để kể lại câu chuyện của ngày cưới xưa.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Eric</span>
                </p>
                <img data-original="img/profile/my/eric/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Trò chuyện cùng Eric">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/eric/quote-1-vn.png" width="313" height="337" alt="Eric's quote">

                <img id="vn" class="quote-2 img-responsive center-block" src="img/profile/my/eric/quote-2-vn.png" width="313" height="232" alt="Eric's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ánh sáng đẹp và khoảng khắc đẹp. Tôi luôn bị thu hút bởi ánh sáng bao phủ chủ thể ở một góc độ thú vị giúp thu hút sự chú ý của người xem; và khi tôi chụp ảnh cưới, tôi luôn tìm kiếm khoảnh khắc thể hiện phong thái và cá tính của ngày cưới. Chủ đề ngày cưới đều giống nhau ở bất kỳ đất nước hay nền văn hoá nào. Điểm tạo ra sự khác biệt cho mổi lễ cưới đó là tính cách của cô dâu, chú rể, gia đình hai họ và bạn bè. Tôi liên tục tìm kiếm cách đặc trưng để kể lại câu chuyện của họ sau ống kính.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi bắt đầu nhiếp ảnh như là một sở thích. Tôi muốn mua một chiếc máy ảnh để lưu lại khoảnh khắc những chuyến du lịch vòng quanh thế giới của mình, nhưng tôi không biết gì về cách chụp sao cho đẹp. Do đó tôi bắt đầu nghiên cứu rất nhiều về khía cạnh kỹ thuật và nghệ thuật của nhiếp ảnh, và càng tìm hiểu thì tôi càng muốn biết nhiều hơn về nó. Tôi đã mua chiếc máy ảnh đầu tiên và chỉ chụp phong cảnh cùng ảnh đường phố. Một ngày kia, một người bạn của tôi là ca sĩ kiêm nhà soạn nhạc nhờ tôi chụp ảnh chân dung của anh ấy để sử dụng trên website. Tôi đã nắm lấy cơ hội và kết quả của những tấm ảnh khiến tôi bất ngờ. Tôi biết rằng mình đã tìm được cảm hứng mới từ việc chụp ảnh chân dung. Qua nhiều năm, cuộc phiêu lưu cùng nhiếp ảnh của tôi đã phát triển từ sở thích thành sự nghiệp và tình yêu công việc.Trở thành một nhiếp ảnh gia toàn thời gian, chụp ảnh mỗi ngày cho công việc và cá nhân đã trở thành một phần cuộc sống của tôi. Tôi yêu việc thông qua những bức ảnh của mình, tôi có thể bất tử hoá các khoảnh khắc trong ngày cưới, và cái cách mà bức ảnh chân dung một người có thể toát lên được tâm hồn của họ.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/eric/profile_pic-2.jpg" width="611" height="207" alt="Trò chuyện cùng Eric">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi chụp trong những điều kiện khá khó khăn, vì vậy tôi trông đợi những thiết bị nhiếp ảnh của mình phải cực kỳ chắc chắn và đáng tin cậy.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Khi tôi bắt đầu chụp ảnh cưới và chân dung, tôi học được rất nhiều từ nhiếp ảnh gia người Úc Jerry Ghionis. Anh ấy dạy tôi "tìm ánh sáng" và tôi yêu cách mà anh ấy biến mọi người trở nên đẹp nhất trong những tấm ảnh.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thường xuyên chụp ảnh ở điều kiện thiếu sáng trong nhà thờ và phòng khiêu vũ. Dòng máy a7 hoàn thành rất tốt nhiệm vụ giúp tôi lưu lại khoảnh khắc với chất lượng hình ảnh tuyệt vời ở những khung cảnh như vậy. Điều này đặc biệt đúng với a7SII nhờ hiệu năng ISO cao của nó.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Máy ảnh a7SII đem lại cho tôi chất lượng hình ảnh tuyệt vời và giữ lại rất nhiều chi tiết trên toàn dải ISO.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Hiệu năng ISO cao rất tốt, cảm biến full frame trong thân máy nhỏ và nhẹ, chất lượng hình ảnh tốt với rất nhiều chi tiết được bảo toàn.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony là hãng tiên phong trong lĩnh vực ảnh số, và họ là ngọn cờ đầu trên thị trường máy ảnh không gương lật ở đẳng cấp chưa bao giờ thấy trước đây.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/eric/profile_pic-3.jpg" width="611" height="207" alt="Trò chuyện cùng Eric">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony Zeiss 55mm f/1.8. Tôi yêu 50mm vì nó là một tiêu cự đa dụng. Tôi có thể bước lùi lại để có khung ảnh rộng hơn hay tiến gần hơn để tạo ra bố cục chặt chẽ hơn. Tôi thường chụp ở khẩu độ lớn nhất và tôi rất vui khi ống kính này rất nét ngay từ f/1.8.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">2 thân máy full frame với một ống kính góc rộng (16-35mm), một ống zoom đa đụng (24-70), một ống prime toàn diện khẩu độ lớn (55mm), một ống marco (90 mm), một ống tele (70-200mm), một đèn LED; khoảng từ một đến ba đèn flash rời (tuỳ theo chủ đề mà tôi chụp), rất nhiều pin và thẻ nhớ, laptop của tôi và bánh ăn vặt (đôi lúc bạn sẽ cần ăn trong lúc chụp).</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Eric</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/eric/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Trò chuyện cùng Eric"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ánh sáng đẹp và khoảng khắc đẹp. Tôi luôn bị thu hút bởi ánh sáng bao phủ chủ thể ở một góc độ thú vị giúp thu hút sự chú ý của người xem; và khi tôi chụp ảnh cưới, tôi luôn tìm kiếm khoảnh khắc thể hiện phong thái và cá tính của ngày cưới. Chủ đề ngày cưới đều giống nhau ở bất kỳ đất nước hay nền văn hoá nào. Điểm tạo ra sự khác biệt cho mổi lễ cưới đó là tính cách của cô dâu, chú rể, gia đình hai họ và bạn bè. Tôi liên tục tìm kiếm cách đặc trưng để kể lại câu chuyện của họ sau ống kính.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi bắt đầu nhiếp ảnh như là một sở thích. Tôi muốn mua một chiếc máy ảnh để lưu lại khoảnh khắc những chuyến du lịch vòng quanh thế giới của mình, nhưng tôi không biết gì về cách chụp sao cho đẹp. Do đó tôi bắt đầu nghiên cứu rất nhiều về khía cạnh kỹ thuật và nghệ thuật của nhiếp ảnh, và càng tìm hiểu thì tôi càng muốn biết nhiều hơn về nó. Tôi đã mua chiếc máy ảnh đầu tiên và chỉ chụp phong cảnh cùng ảnh đường phố. Một ngày kia, một người bạn của tôi là ca sĩ kiêm nhà soạn nhạc nhờ tôi chụp ảnh chân dung của anh ấy để sử dụng trên website. Tôi đã nắm lấy cơ hội và kết quả của những tấm ảnh khiến tôi bất ngờ. Tôi biết rằng mình đã tìm được cảm hứng mới từ việc chụp ảnh chân dung. Qua nhiều năm, cuộc phiêu lưu cùng nhiếp ảnh của tôi đã phát triển từ sở thích thành sự nghiệp và tình yêu công việc.Trở thành một nhiếp ảnh gia toàn thời gian, chụp ảnh mỗi ngày cho công việc và cá nhân đã trở thành một phần cuộc sống của tôi. Tôi yêu việc thông qua những bức ảnh của mình, tôi có thể bất tử hoá các khoảnh khắc trong ngày cưới, và cái cách mà bức ảnh chân dung một người có thể toát lên được tâm hồn của họ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi chụp trong những điều kiện khá khó khăn, vì vậy tôi trông đợi những thiết bị nhiếp ảnh của mình phải cực kỳ chắc chắn và đáng tin cậy.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Khi tôi bắt đầu chụp ảnh cưới và chân dung, tôi học được rất nhiều từ nhiếp ảnh gia người Úc Jerry Ghionis. Anh ấy dạy tôi "tìm ánh sáng" và tôi yêu cách mà anh ấy biến mọi người trở nên đẹp nhất trong những tấm ảnh.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thường xuyên chụp ảnh ở điều kiện thiếu sáng trong nhà thờ và phòng khiêu vũ. Dòng máy a7 hoàn thành rất tốt nhiệm vụ giúp tôi lưu lại khoảnh khắc với chất lượng hình ảnh tuyệt vời ở những khung cảnh như vậy. Điều này đặc biệt đúng với a7SII nhờ hiệu năng ISO cao của nó.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Máy ảnh a7SII đem lại cho tôi chất lượng hình ảnh tuyệt vời và giữ lại rất nhiều chi tiết trên toàn dải ISO.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Hiệu năng ISO cao rất tốt, cảm biến full frame trong thân máy nhỏ và nhẹ, chất lượng hình ảnh tốt với rất nhiều chi tiết được bảo toàn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony là hãng tiên phong trong lĩnh vực ảnh số, và họ là ngọn cờ đầu trên thị trường máy ảnh không gương lật ở đẳng cấp chưa bao giờ thấy trước đây.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony Zeiss 55mm f/1.8. Tôi yêu 50mm vì nó là một tiêu cự đa dụng. Tôi có thể bước lùi lại để có khung ảnh rộng hơn hay tiến gần hơn để tạo ra bố cục chặt chẽ hơn. Tôi thường chụp ở khẩu độ lớn nhất và tôi rất vui khi ống kính này rất nét ngay từ f/1.8.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">2 thân máy full frame với một ống kính góc rộng (16-35mm), một ống zoom đa đụng (24-70), một ống prime toàn diện khẩu độ lớn (55mm), một ống marco (90 mm), một ống tele (70-200mm), một đèn LED; khoảng từ một đến ba đèn flash rời (tuỳ theo chủ đề mà tôi chụp), rất nhiều pin và thẻ nhớ, laptop của tôi và bánh ăn vặt (đôi lúc bạn sẽ cần ăn trong lúc chụp).</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
