<div class="viet" id="profile-vin">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:180px;">
            <div>
                <p class="type">Nhiếp ảnh gia Phong Cảnh + Nhiếp ảnh gia Ảnh Cưới</p>
                <p class="name">Vin Buddy</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thái Lan</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-7">

                <div>
                    <p class="type">Nhiếp ảnh gia Phong Cảnh + Nhiếp ảnh gia Ảnh Cưới</p>
                    <p class="name">Vin Buddy</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thái Lan</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Phurith Netimonkholchai (tên thường gọi là Vin) là một nhiếp ảnh gia ảnh cưới nổi tiếng ở Thái Lan. Anh tốt nghiệp cử nhân lĩnh vực quảng cáo ở trường Nghệ Thuật Truyền Thông, đại học Bangkok. Anh sáng lập studio chụp ảnh cưới Buddy's Wedding, tại đây anh đã chụp cho rất nhiều diễn viên nổi tiếng và ảnh cưới cho những cặp đôi đình đám, bao gồm cả trong và ngoài nước. Tính đến nay anh đã chụp ảnh cho hơn 1,000 cặp đôi.</p>

            <p>Thời thơ ấu, Vin ước mơ trở thành một nhạc sĩ. Tuy nhiên, nhiếp ảnh gia đã bén duyên với anh. Vì thế, anh đã từ bỏ giấc mơ thời thơ ấu của mình và theo đuổi nhiếp ảnh, thậm chí anh sang tận Úc để học. Khi trở về, anh đã thực hiện giấc mơ của mình và tạo dựng công việc kinh doanh bằng nghề nhiếp ảnh. Bằng tình yêu nhiếp ảnh, anh đã lập nên một Studio mang tên Buddy's Poppy. Nhờ được lòng của khách hàng, sau đó anh khám phá sang lĩnh vực chụp ảnh cưới. Trong khoảng thời gian Buddy's Wedding hoạt động, anh đã chứng minh được tài nghệ, danh tiếng của mình và trở thành nhiếp ảnh gia ảnh cưới được biết đến nhiều nhất với hơn 200 cặp đôi đến Studio anh chụp ảnh mỗi năm. Ngoài ra Vin còn làm đại sứ thương hiệu quốc tế cho Gopro, Sony, Manfrotto và Incase. Mặc dù vậy, vẫn có rất nhiều người  chỉ biết anh là người chuyên chụp ảnh cưới, thực ra anh chụp tất cả thể loại bao gồm chụp ảnh quảng cáo, và kể cả mở những buổi chia sẻ nhiếp ảnh thường niên cho những người đam mê nhiếp ảnh.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Phurith Netimonkholchai (tên thường gọi là Vin) là một nhiếp ảnh gia ảnh cưới nổi tiếng ở Thái Lan. Anh tốt nghiệp cử nhân lĩnh vực quảng cáo ở trường Nghệ Thuật Truyền Thông, đại học Bangkok. Anh sáng lập studio chụp ảnh cưới Buddy's Wedding, tại đây anh đã chụp cho rất nhiều diễn viên nổi tiếng và ảnh cưới cho những cặp đôi đình đám, bao gồm cả trong và ngoài nước. Tính đến nay anh đã chụp ảnh cho hơn 1,000 cặp đôi.</p>

            <p>Thời thơ ấu, Vin ước mơ trở thành một nhạc sĩ. Tuy nhiên, nhiếp ảnh gia đã bén duyên với anh. Vì thế, anh đã từ bỏ giấc mơ thời thơ ấu của mình và theo đuổi nhiếp ảnh, thậm chí anh sang tận Úc để học. Khi trở về, anh đã thực hiện giấc mơ của mình và tạo dựng công việc kinh doanh bằng nghề nhiếp ảnh. Bằng tình yêu nhiếp ảnh, anh đã lập nên một Studio mang tên Buddy's Poppy. Nhờ được lòng của khách hàng, sau đó anh khám phá sang lĩnh vực chụp ảnh cưới. Trong khoảng thời gian Buddy's Wedding hoạt động, anh đã chứng minh được tài nghệ, danh tiếng của mình và trở thành nhiếp ảnh gia ảnh cưới được biết đến nhiều nhất với hơn 200 cặp đôi đến Studio anh chụp ảnh mỗi năm. Ngoài ra Vin còn làm đại sứ thương hiệu quốc tế cho Gopro, Sony, Manfrotto và Incase. Mặc dù vậy, vẫn có rất nhiều người  chỉ biết anh là người chuyên chụp ảnh cưới, thực ra anh chụp tất cả thể loại bao gồm chụp ảnh quảng cáo, và kể cả mở những buổi chia sẻ nhiếp ảnh thường niên cho những người đam mê nhiếp ảnh.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NRFfJvt1Voo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/>cùng
                    <span class="intv-photographer">Vin</span>
                </p>
                <img data-original="img/profile/th/vin/profile_pic-1.jpg" class="lazy" width="315" height="385" alt="Interview with Vin">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/vin/quote-1-vn.png" width="291" height="495" alt="Vin's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/th/vin/quote-2-vn.png" width="292" height="151" alt="Vin's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích ghi lại từng khoảnh khắc. Vì tôi nghĩ khoảnh khắc đó có thể sẽ không lặp lại bao giờ vì nó chỉ vụt qua trong tít tắt.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left"> Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Như tôi đã nói, tôi là người đàn ông thích ghi lại những khoảnh khắc khác nhau trong cuộc sống. Đó là điều quan trọng, đặc biệt là lúc này khi mà tôi đang có con nhỏ. Tôi muốn ghi lại khoảnh khắc trẻ thơ của con tôi mỗi ngày, bởi vì con tôi chỉ vừa lên một tuổi. Khoảnh khắc đó sẽ trôi qua rất nhanh. Một đứa trẻ sẽ nhanh chóng lớn lên từng ngày cho bạn khoảnh khắc khác nhau. Nhiếp ảnh là công việc rất quan trọng đối với tôi, bởi vì đây là công việc chính mà tôi theo đuổi. Nếu không, tôi sẽ chẳng có tiền để mưu sinh. (Cười)</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-2.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Khi tôi có ý tưởng cho một bức ảnh tôi muốn trông như thế nào, chiếc máy của tôi phải thật hữu dụng để có thể tạo ra bức ảnh đó cho tôi.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trên con đường nhiếp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nhà vua của tôi, ông ấy là nguồn cảm hứng cho nhiếp ảnh của tôi.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi có nhiều việc phải làm, và hầu như tôi bận bịu liên tục. Trước khi tôi biết về dòng máy ảnh a7, bạn bè của tôi biết tôi là người chẳng thích cầm máy ảnh ngoài giờ làm việc bao giờ. Nếu không phải là thời gian làm việc của tôi, tôi chẳng bao giờ đụng đến máy ảnh. Bởi vì việc cầm máy ảnh cho tôi cảm giác như đang làm việc lại rồi. Dòng a7 nhỏ gọn với hiệu năng cực đỉnh đã cho tôi sự tiện lợi thật sự để mang theo bên mình và chụp ở nhiều địa điểm khác nhau. Và như đã đề cập, trước đây tôi không chụp ảnh ngoài thời gian làm việc của mình, nhưng với dòng a7 đã cho tôi cảm giác muốn chụp ảnh kể cả khi đó không phải là thời gian tôi làm việc - cho dù đó là việc chụp ảnh trong một khu mua sắm hoặc bất cứ nơi nào khác mà tôi đến.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Điều đầu tiên mà tôi ấn tượng đó là chất lượng hình ảnh trung thực từ a7 mà tôi nhìn thấy. Tiếp đến là kích thước nhỏ gọn tiện dụng cho khả năng di động tối ưu và thật sự rất tiện lợi. Bởi vì tôi thường xuyên di chuyển, chiếc máy này giúp tôi có được rất nhiều thứ tuyệt vời mà tôi mong đợi.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left"> Kích thước, chất lượng ảnh và phạm vi nhạy sáng cao.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi cho điểm 8 trên thang điểm 10. Những điều tôi muốn cải tiến từ chiếc máy ảnh này là thân máy chắc chắn với báng tay cầm cho thuận tiện chụp ảnh hơn nữa. Các thiết lập là điều rất quan trọng cho một nhiếp ảnh gia để có được những bức ảnh đẹp.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/vin/profile_pic-3.jpg" width="611" height="207" alt="Interview with Vin">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chắc chắn phải là ống kính G Master 24–10 mm.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trong túi của tôi có 2 máy a7R II và a7SII, và một a6300. Về phần ống kính, tôi có 55 mm, 35 mm, 70–200 mm, Baltis 25 mm, 85 mm, Voigtlander 75mm, Zeiss mm, và 16–35 mm. Bên cạnh những ống kính hay dùng, tôi còn không thể nhớ hết mình có bao nhiêu nữa. Vì ngoài công việc, tôi sẽ dùng a7R II với ống kính 85, 16-35 và 55 mm. Ống kính tôi thường mang theo nhất là 35 và 55mm vì chúng rất nhỏ gọn. Tôi thích mang theo những thứ nhỏ gọn, đặc biệt là khi đi nước ngoài, bởi vì nếu tôi mang quá nhiều trang thiết bị chụp ảnh, tôi sẽ chỉ muốn kết thúc nhanh việc chụp ảnh vì không còn sức.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-photographer">Vin</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/vin/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Vin"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích ghi lại từng khoảnh khắc. Vì tôi nghĩ khoảnh khắc đó có thể sẽ không lặp lại bao giờ vì nó chỉ vụt qua trong tít tắt.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1"> Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Như tôi đã nói, tôi là người đàn ông thích ghi lại những khoảnh khắc khác nhau trong cuộc sống. Đó là điều quan trọng, đặc biệt là lúc này khi mà tôi đang có con nhỏ. Tôi muốn ghi lại khoảnh khắc trẻ thơ của con tôi mỗi ngày, bởi vì con tôi chỉ vừa lên một tuổi. Khoảnh khắc đó sẽ trôi qua rất nhanh. Một đứa trẻ sẽ nhanh chóng lớn lên từng ngày cho bạn khoảnh khắc khác nhau. Nhiếp ảnh là công việc rất quan trọng đối với tôi, bởi vì đây là công việc chính mà tôi theo đuổi. Nếu không, tôi sẽ chẳng có tiền để mưu sinh. (Cười)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Khi tôi có ý tưởng cho một bức ảnh tôi muốn trông như thế nào, chiếc máy của tôi phải thật hữu dụng để có thể tạo ra bức ảnh đó cho tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trên con đường nhiếp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nhà vua của tôi, ông ấy là nguồn cảm hứng cho nhiếp ảnh của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi có nhiều việc phải làm, và hầu như tôi bận bịu liên tục. Trước khi tôi biết về dòng máy ảnh a7, bạn bè của tôi biết tôi là người chẳng thích cầm máy ảnh ngoài giờ làm việc bao giờ. Nếu không phải là thời gian làm việc của tôi, tôi chẳng bao giờ đụng đến máy ảnh. Bởi vì việc cầm máy ảnh cho tôi cảm giác như đang làm việc lại rồi. Dòng a7 nhỏ gọn với hiệu năng cực đỉnh đã cho tôi sự tiện lợi thật sự để mang theo bên mình và chụp ở nhiều địa điểm khác nhau. Và như đã đề cập, trước đây tôi không chụp ảnh ngoài thời gian làm việc của mình, nhưng với dòng a7 đã cho tôi cảm giác muốn chụp ảnh kể cả khi đó không phải là thời gian tôi làm việc - cho dù đó là việc chụp ảnh trong một khu mua sắm hoặc bất cứ nơi nào khác mà tôi đến.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Điều đầu tiên mà tôi ấn tượng đó là chất lượng hình ảnh trung thực từ a7 mà tôi nhìn thấy. Tiếp đến là kích thước nhỏ gọn tiện dụng cho khả năng di động tối ưu và thật sự rất tiện lợi. Bởi vì tôi thường xuyên di chuyển, chiếc máy này giúp tôi có được rất nhiều thứ tuyệt vời mà tôi mong đợi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1"> Kích thước, chất lượng ảnh và phạm vi nhạy sáng cao.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi cho điểm 8 trên thang điểm 10. Những điều tôi muốn cải tiến từ chiếc máy ảnh này là thân máy chắc chắn với báng tay cầm cho thuận tiện chụp ảnh hơn nữa. Các thiết lập là điều rất quan trọng cho một nhiếp ảnh gia để có được những bức ảnh đẹp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1"> Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chắc chắn phải là ống kính G Master 24–10 mm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trong túi của tôi có 2 máy a7R II và a7SII, và một a6300. Về phần ống kính, tôi có 55 mm, 35 mm, 70–200 mm, Baltis 25 mm, 85 mm, Voigtlander 75mm, Zeiss mm, và 16–35 mm. Bên cạnh những ống kính hay dùng, tôi còn không thể nhớ hết mình có bao nhiêu nữa. Vì ngoài công việc, tôi sẽ dùng a7R II với ống kính 85, 16-35 và 55 mm. Ống kính tôi thường mang theo nhất là 35 và 55mm vì chúng rất nhỏ gọn. Tôi thích mang theo những thứ nhỏ gọn, đặc biệt là khi đi nước ngoài, bởi vì nếu tôi mang quá nhiều trang thiết bị chụp ảnh, tôi sẽ chỉ muốn kết thúc nhanh việc chụp ảnh vì không còn sức.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
