<div class="viet" id="profile-darren">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-left text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Kiến Trúc</p>
                <p class="name">Darren Soh</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>



    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-left text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Kiến Trúc</p>
                    <p class="name">Darren Soh</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-7"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Sinh ra và lớn lên tại Singapore, Darren đã tốt nghiệp ngành Xã hội học tại Đại học quốc gia Singapore vào năm 2011, trong khi đang làm phóng viên ảnh cho tờ báo tiếng Anh hàng đầu trong nước - The Straits Time.</p>

            <p>Kể từ năm 2001, Darren đã trở thành nhiếp ảnh gia độc lập toàn thời gian, chuyên chụp ảnh phong cảnh và kiến trúc. </p>

            <p>Bộ sưu tập ảnh đầu tay của Darren có tên Trong giấc ngủ, gồm những bức ảnh phong cảnh về đêm ở Singapore, đã được mang ra triển lãm vào năm 2004. Sau đó, Esplanade - nhà hát trên vịnh tại Singapore đã một lần nữa trưng bày những bức ảnh này.</p>

            <p>Năm 2006, Bộ thông tin, truyền thông và nghệ thuật của Singapore (MICA) đã mời Darren tham dự Canvas với tư cách là đại biểu nghệ thuật nhiếp ảnh của Singapore. </p>

            <p>Năm 2007, tuyển tập các tác phẩm của Darren chụp các công trình công cộng ở Singapore được trưng bày tại phòng tranh kiến trúc Kay Ngee Tan. Và dự án của anh, có tên Nhà Cao Tầng, hiện vẫn đang tiếp tục được trưng bày tại đây.</p>

            <p>Năm 2009, với vai trò là một nhiếp ảnh gia tình nguyện, Darren đã đóng góp cho chương trình Rosonance: Bài hát của Thế hệ Cha ông, một sách ảnh kiến trúc lưu lại những địa danh quốc gia của Singapore.</p>

            <p>Năm 2010, cùng với một vài cộng sự nhiếp ảnh khác, Darren đã thành lập website Platform.sg, một dự án nhằm trưng bày ảnh tư liệu về Singapore hoặc của nhiếp ảnh gia trong nước.</p>

            <p>Những bức ảnh về cuộc Tổng Tuyển Cử năm 2011 của Singapore của Darren đã được trưng bày tại liên hoan nhiếp ảnh Noorderlicht danh tiếng tại Hà Lan vào năm 2011.</p>

            <p>Trong nhiều năm qua, Darren đã tham dự nhiều giải thưởng nhiếp ảnh quốc tế như: Giải thưởng nhiếp ảnh Commonwealth, Prix de la Photographie tại Paris và Giải Thưởng Nhiếp Ảnh Quốc Tế.</p>

            <p>Darren cũng được tạp chí Photo District News (PDN) – tạp chị hàng đầu trong lĩnh vực nhiếp ảnh tại New York – bầu chọn là một trong 30 nhiếp ảnh gia nổi bật nhất năm 2009. </p>

            <p>Gần đây nhất, Darren đã nhận giải thưởng Discernmant Award tại lễ trao giải 2013 ICON de Martell Cordon Bleu Photography Award.</p>

            <p>Năm 2013, Darren đã công bố sách ảnh thứ 2 của anh, với tựa đề Cho Con Trai – một bộ sưu tập ảnh về những địa danh bản xứ ở Singapore và là một phần của dự án Twentyfifteen.sg kỷ niệm 50 năm ngày thành lập Singapore vào năm 2015. </p>

            <p>Một số khách hàng của Darren trong lĩnh vực nhiếp ảnh kiến trúc trên toàn thế giới bao gồm Aedas, ARUP, Wilkinson Eyre, Monocle và tạp chí Wallpaper*.</p>

            <p>Bạn có thể chiêm ngưỡng các tác phẩm của Darren tại
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:darren:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:darren:works:link', 'microsite|ilc:sea:viet|profile|darren|works|link');" target="_blank">darrensoh.com</a> và
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:darren:works:linkFB', 'ilc:sea:viet', 'ilc:sea:viet:profile:darren:works:linkFB', 'microsite|ilc:sea:viet|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Sinh ra và lớn lên tại Singapore, Darren đã tốt nghiệp ngành Xã hội học tại Đại học quốc gia Singapore vào năm 2011, trong khi đang làm phóng viên ảnh cho tờ báo tiếng Anh hàng đầu trong nước - The Straits Time.</p>

            <p>Kể từ năm 2001, Darren đã trở thành nhiếp ảnh gia độc lập toàn thời gian, chuyên chụp ảnh phong cảnh và kiến trúc. </p>

            <p>Bộ sưu tập ảnh đầu tay của Darren có tên Trong giấc ngủ, gồm những bức ảnh phong cảnh về đêm ở Singapore, đã được mang ra triển lãm vào năm 2004. Sau đó, Esplanade - nhà hát trên vịnh tại Singapore đã một lần nữa trưng bày những bức ảnh này.</p>

            <p>Năm 2006, Bộ thông tin, truyền thông và nghệ thuật của Singapore (MICA) đã mời Darren tham dự Canvas với tư cách là đại biểu nghệ thuật nhiếp ảnh của Singapore. </p>

            <p>Năm 2007, tuyển tập các tác phẩm của Darren chụp các công trình công cộng ở Singapore được trưng bày tại phòng tranh kiến trúc Kay Ngee Tan. Và dự án của anh, có tên Nhà Cao Tầng, hiện vẫn đang tiếp tục được trưng bày tại đây.</p>

            <p>Năm 2009, với vai trò là một nhiếp ảnh gia tình nguyện, Darren đã đóng góp cho chương trình Rosonance: Bài hát của Thế hệ Cha ông, một sách ảnh kiến trúc lưu lại những địa danh quốc gia của Singapore.</p>

            <p>Năm 2010, cùng với một vài cộng sự nhiếp ảnh khác, Darren đã thành lập website Platform.sg, một dự án nhằm trưng bày ảnh tư liệu về Singapore hoặc của nhiếp ảnh gia trong nước.</p>

            <p>Những bức ảnh về cuộc Tổng Tuyển Cử năm 2011 của Singapore của Darren đã được trưng bày tại liên hoan nhiếp ảnh Noorderlicht danh tiếng tại Hà Lan vào năm 2011.</p>

            <p>Trong nhiều năm qua, Darren đã tham dự nhiều giải thưởng nhiếp ảnh quốc tế như: Giải thưởng nhiếp ảnh Commonwealth, Prix de la Photographie tại Paris và Giải Thưởng Nhiếp Ảnh Quốc Tế.</p>

            <p>Darren cũng được tạp chí Photo District News (PDN) – tạp chị hàng đầu trong lĩnh vực nhiếp ảnh tại New York – bầu chọn là một trong 30 nhiếp ảnh gia nổi bật nhất năm 2009. </p>

            <p>Gần đây nhất, Darren đã nhận giải thưởng Discernmant Award tại lễ trao giải 2013 ICON de Martell Cordon Bleu Photography Award.</p>

            <p>Năm 2013, Darren đã công bố sách ảnh thứ 2 của anh, với tựa đề Cho Con Trai – một bộ sưu tập ảnh về những địa danh bản xứ ở Singapore và là một phần của dự án Twentyfifteen.sg kỷ niệm 50 năm ngày thành lập Singapore vào năm 2015. </p>

            <p>Một số khách hàng của Darren trong lĩnh vực nhiếp ảnh kiến trúc trên toàn thế giới bao gồm Aedas, ARUP, Wilkinson Eyre, Monocle và tạp chí Wallpaper*.</p>

            <p>Bạn có thể chiêm ngưỡng các tác phẩm của Darren tại
                <a href="http://darrensoh.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:darren:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:darren:works:link', 'microsite|ilc:sea:viet|profile|darren|works|link');" target="_blank">darrensoh.com</a> và
                <a href="https://www.fb.com/darrensohphotographer" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:darren:works:linkFB', 'ilc:sea:viet', 'ilc:sea:viet:profile:darren:works:linkFB', 'microsite|ilc:sea:viet|profile|darren|works|linkFB');" target="_blank">fb.com/darrensohphotographer</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x1Kojl99StU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Darren</span>
                </p>
                <img data-original="img/profile/sg/darren/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Darren">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/darren/quote-1-vn.png" width="299" height="304" alt="Darren's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2-vn.png" width="312" height="242" alt="Darren's quote">

                <!-- <img class="quote-2 img-responsive center-block" src="img/profile/sg/darren/quote-2-vn.png" width="304" height="215" alt="Darren's quote"> -->
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Về cơ bản tôi là một nhiếp ảnh gia phong cảnh và kiến trúc, vì vậy môi trường cùng với thiết kế không gian phần nào đó làm cho tôi cảm thấy thích thú. Đối với trong nước, có lẽ không có quốc gia nào mà đô thị hóa phát triển ở mức độ nhanh và có những thay đổi choáng ngợp trong thiết kế không gian như tại Singapore, do đó tôi đặt tâm huyết của mình vào việc thu thập lại tất cả những hình ảnh này cho thế hệ tương lai của Singapore hoặc bất kì ai quan tâm đến chúng, để họ có thể thấy được một Sinpapore trưởng thành như thế nào từ cuối những năm 1990 cho đến thời điểm hiện tại.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chụp ảnh là công việc chính của tôi, nên nếu không có nhiếp ảnh tôi sẽ không có thu nhập. Ha ha. Nhưng nghiêm túc mà nói, nhiếp ảnh là một phần trong cuộc sống của tôi kể từ khi tôi mới 14 tuổi và nó đã gắn liền với tôi hơn nửa đời người. Công việc này bắt đầu từ niềm đam mê về một thứ ngôn ngữ đặc biệt giúp tôi truyền đạt suy nghĩ và ý tưởng của mình đến với thế giới.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-2.jpg" width="611" height="207" alt="Interview with Darren">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi dùng máy ảnh gần như 7 ngày trong tuần, 4 tuần trong tháng, 12 tháng trong năm, vì vậy tôi chỉ có một yêu cầu – đó là sự tin cậy. Dĩ nhiên, thiết bị phải có khả năng ghi nhận ý tưởng của nhiếp ảnh gia để có thể truyền tải được đúng thông điệp mà họ muốn gửi gắm trong từng bức ảnh của mình.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi rất ngưỡng mộ nhiếp ảnh gia Peter Bialobrzeski - những bức ảnh về cảnh quan đô thị và phong cảnh của ông đã truyền những cảm hứng đầu tiên cho tôi, thôi thúc trong tôi sự tỉ mẩn khi ghi lại từng thay đổi của Singapore. Ngoài ra còn có Peter Marlow với những bức ảnh Magnum biến những phong cảnh tưởng chừng rất bình thường trở nên vô cùng thú vị qua lăng kính nghiếp ảnh; và những nhiếp ảnh gia từ trường Düsseldorf với những bức ảnh phong cảnh hoàn hảo đến từng chi tiết.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi phải đối mặt với rất nhiều thử thách trong công việc. Một trong những khó khăn lớn nhất là phải luôn giữ được sự cân bằng giữa chất lượng ảnh và kích thước và trọng lượng của máy. Trước khi Sony a7 series ra đời, máy ảnh ống kính rời không gương lật nhẹ nhất là những chiếc SLR kỹ thuật số khá nặng. A7R xuất hiện đã thay đổi toàn bộ cục diện của ngành nhiếp ảnh kỹ thuật số – lần đầu tiên một chiếc máy ảnh chất lượng cao có thể nhỏ gọn và tiện lợi đến như vậy.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Kích thước và trọng lượng của chiếc máy ảnh này là lý do đáng để cân nhắc, nhưng chất lượng ảnh tuyệt vời tạo ra bởi cảm biến 36MP Exmor CMOS trong a7R đã giúp tôi quyết định mà không phải đắng đo thêm bất kỳ điều gì. Việc a7 series là dòng máy ảnh không gương lật và cho phép sử dụng kết hợp với bất kỳ ống kính của hãng thứ ba nào đã giúp a7R trở thành chiếc máy ảnh full-frame linh hoạt nhất trên thế giới.</div>
                </div>
                <!-- Q&A 6 -->


                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm / lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Như đã nói trước đó, kích thước nhỏ gọn và trọng lượng của máy, cũng như khả năng kết hợp với hầu hết các ống kính khác, là những lý do khiến tôi lựa chọn dòng máy này. 36MP EXMOR CMOS là cảm biến tốt nhất mà tôi từng sử dụng trên một chiếc máy ảnh 35mm, nếu xét về độ chi tiết và dải tần nhạy sáng không gây nhiễu. Có quá nhiều chức năng có thể tùy chỉnh trong một thân máy nhỏ gọn thế này là một lợi thế cực kỳ, cực kỳ lớn.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Mười năm trước đây, nếu bạn bảo tôi rằng sẽ có một ngày các nhiếp ảnh gia chuyên nghiệp chọn máy ảnh Sony như thiết bị chụp ảnh ưu tiên hàng đầu, tôi có thể sẽ cười vì điều đó. Nhưng hôm nay, tôi phải nói rằng Sony đã trở thành một trong những thương hiệu tiên phong, nếu không muốn nói là dẫn đầu, trong lĩnh vực ảnh số chuyên nghiệp.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/darren/profile_pic-3.jpg" width="611" height="207" alt="Interview with Darren">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Không may là ống kính yêu thích của tôi hiện nay lại không phải là những ống kính do Sony sản xuất. Nhưng điều này là bởi vì đó là một mẫu ống kính chuyên biệt – ống kính Tilt Shift 17mm.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">
                        Một máy Sony a7R.
                        <br/>Một ống kính Sony 70-200 f4 FE OSS G và các ống kính tilt-shift (ống kính trượt) sau:
                        <br/> 17mm TSE
                        <br/> 24mm TSE
                        <br/> 45mm TSE
                        <br/> 35mm
                        <br/> 85mm
                    </div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->









    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Darren</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/darren/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Darren"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Về cơ bản tôi là một nhiếp ảnh gia phong cảnh và kiến trúc, vì vậy môi trường cùng với thiết kế không gian phần nào đó làm cho tôi cảm thấy thích thú. Đối với trong nước, có lẽ không có quốc gia nào mà đô thị hóa phát triển ở mức độ nhanh và có những thay đổi choáng ngợp trong thiết kế không gian như tại Singapore, do đó tôi đặt tâm huyết của mình vào việc thu thập lại tất cả những hình ảnh này cho thế hệ tương lai của Singapore hoặc bất kì ai quan tâm đến chúng, để họ có thể thấy được một Sinpapore trưởng thành như thế nào từ cuối những năm 1990 cho đến thời điểm hiện tại.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chụp ảnh là công việc chính của tôi, nên nếu không có nhiếp ảnh tôi sẽ không có thu nhập. Ha ha. Nhưng nghiêm túc mà nói, nhiếp ảnh là một phần trong cuộc sống của tôi kể từ khi tôi mới 14 tuổi và nó đã gắn liền với tôi hơn nửa đời người. Công việc này bắt đầu từ niềm đam mê về một thứ ngôn ngữ đặc biệt giúp tôi truyền đạt suy nghĩ và ý tưởng của mình đến với thế giới.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi dùng máy ảnh gần như 7 ngày trong tuần, 4 tuần trong tháng, 12 tháng trong năm, vì vậy tôi chỉ có một yêu cầu – đó là sự tin cậy. Dĩ nhiên, thiết bị phải có khả năng ghi nhận ý tưởng của nhiếp ảnh gia để có thể truyền tải được đúng thông điệp mà họ muốn gửi gắm trong từng bức ảnh của mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi rất ngưỡng mộ nhiếp ảnh gia Peter Bialobrzeski - những bức ảnh về cảnh quan đô thị và phong cảnh của ông đã truyền những cảm hứng đầu tiên cho tôi, thôi thúc trong tôi sự tỉ mẩn khi ghi lại từng thay đổi của Singapore. Ngoài ra còn có Peter Marlow với những bức ảnh Magnum biến những phong cảnh tưởng chừng rất bình thường trở nên vô cùng thú vị qua lăng kính nghiếp ảnh; và những nhiếp ảnh gia từ trường Düsseldorf với những bức ảnh phong cảnh hoàn hảo đến từng chi tiết.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi phải đối mặt với rất nhiều thử thách trong công việc. Một trong những khó khăn lớn nhất là phải luôn giữ được sự cân bằng giữa chất lượng ảnh và kích thước và trọng lượng của máy. Trước khi Sony a7 series ra đời, máy ảnh ống kính rời không gương lật nhẹ nhất là những chiếc SLR kỹ thuật số khá nặng. A7R xuất hiện đã thay đổi toàn bộ cục diện của ngành nhiếp ảnh kỹ thuật số – lần đầu tiên một chiếc máy ảnh chất lượng cao có thể nhỏ gọn và tiện lợi đến như vậy.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Kích thước và trọng lượng của chiếc máy ảnh này là lý do đáng để cân nhắc, nhưng chất lượng ảnh tuyệt vời tạo ra bởi cảm biến 36MP Exmor CMOS trong a7R đã giúp tôi quyết định mà không phải đắng đo thêm bất kỳ điều gì. Việc a7 series là dòng máy ảnh không gương lật và cho phép sử dụng kết hợp với bất kỳ ống kính của hãng thứ ba nào đã giúp a7R trở thành chiếc máy ảnh full-frame linh hoạt nhất trên thế giới.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm / lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Như đã nói trước đó, kích thước nhỏ gọn và trọng lượng của máy, cũng như khả năng kết hợp với hầu hết các ống kính khác, là những lý do khiến tôi lựa chọn dòng máy này. 36MP EXMOR CMOS là cảm biến tốt nhất mà tôi từng sử dụng trên một chiếc máy ảnh 35mm, nếu xét về độ chi tiết và dải tần nhạy sáng không gây nhiễu. Có quá nhiều chức năng có thể tùy chỉnh trong một thân máy nhỏ gọn thế này là một lợi thế cực kỳ, cực kỳ lớn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Mười năm trước đây, nếu bạn bảo tôi rằng sẽ có một ngày các nhiếp ảnh gia chuyên nghiệp chọn máy ảnh Sony như thiết bị chụp ảnh ưu tiên hàng đầu, tôi có thể sẽ cười vì điều đó. Nhưng hôm nay, tôi phải nói rằng Sony đã trở thành một trong những thương hiệu tiên phong, nếu không muốn nói là dẫn đầu, trong lĩnh vực ảnh số chuyên nghiệp.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Không may là ống kính yêu thích của tôi hiện nay lại không phải là những ống kính do Sony sản xuất. Nhưng điều này là bởi vì đó là một mẫu ống kính chuyên biệt – ống kính Tilt Shift 17mm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">
                                Một máy Sony a7R.
                                <br/>Một ống kính Sony 70-200 f4 FE OSS G và các ống kính tilt-shift (ống kính trượt) sau:
                                <br/> 17mm TSE
                                <br/> 24mm TSE
                                <br/> 45mm TSE
                                <br/> 35mm
                                <br/> 85mm
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>

<!-- END ID CONTENT -->
