<section id="content" class="container-fluid viet">

    <div class="row">

        <div class="col-sm-12 clearfix">
            <div class="series">
                <div class="series-wrapper">

                    <div class="series-container">

                        <div>
                            <img src="img/series/img-series.jpg" width="819" height="355" alt="Series" class="img-responsive center-block">
                        </div>

                        <div class="col-sm-12 col-md-5">
                            <a href="//sonygroup.box.com/shared/static/kkyttwfliwr5610w5826npiwn4843fke.pdf" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:lenses:brochure-download', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:lenses:brochure-download', 'microsite|ilc:sea:viet|a7Series|lenses|brochure-download');">
                                <div class="title-wrap">
                                    <p>FE Lenses</p>
                                </div>
                                <p class="sub-title">Download the brochure</p>
                            </a>
                        </div>

                        <div class="col-sm-12 hidden-md hidden-lg space"></div>

                        <div class="col-sm-12 col-md-7">
                            <a href="//sonygroup.box.com/shared/static/lj3rfes87rip8vju9njyg2mz89qjfapk.pdf" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:cameras:brochure-download', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:cameras:brochure-download', 'microsite|ilc:sea:viet|a7Series|cameras|brochure-download');">
                                <div class="title-wrap textalign">
                                    <div><img src="img/logo-alpha_7-large.png" alt="Alpha 7 logo" class="logo-alpha_7"></div>
                                    &nbsp;
                                    <p>Series Cameras</p>
                                </div>
                                <p class="sub-title textalign">Download the brochure</p>
                            </a>
                        </div>
                        
                    </div>
                    

                    <div id="where_to_buy" class="col-sm-12 banner">
                        <a href="//www.sony.com.sg/microsite/cybershot/dealers/?cid=dealers:alpha_professionals_sg:redirect" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:stores', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:stores', 'microsite|ilc:sea:viet|a7Series|stores');">
                            <div class="title">
                                <p>Where To Buy</p>
                            </div>
                            <div class="bg hidden-xs hidden-sm"></div>
                            <div class="bg-mobile hidden-md hidden-lg"></div>
                        </a>
                    </div>


                    <div id="join_our_workshops" class="col-sm-12 banner">
                        <a href="https://sdw.sony.com.sg/SDWUser/User/SDWHome?cid=sdw-alpha_professionals_sg-join  " target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:workshops', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:workshops', 'microsite|ilc:sea:viet|a7Series|workshops');">
                            <div class="title">
                                <p>Join Our Workshops</p>
                            </div>
                            <div class="bg hidden-xs hidden-sm"></div>
                            <div class="bg-mobile hidden-md hidden-lg"></div>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>
