<div class="viet" id="profile-nick">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:370px;">
            <div>
                <p class="type">Nhiếp ảnh gia Du Lịch + Tư Liệu</p>
                <p class="name">Nick Ng</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Malaysia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Du Lịch + Tư Liệu</p>
                    <p class="name">Nick Ng</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Malaysia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">

            <p>Nick bắt đầu sự nghiệp nhiếp ảnh vào năm 2008 và là một nhiếp ảnh gia chuyên chụp ảnh tư liệu và du lịch với niềm say mê đặc biệt về con người, chân dung và văn hóa. Lòng đam mê nhiếp ảnh của anh được khơi mào ngay từ khi anh vẫn còn là một cậu thiếu niên, nhưng do gánh nặng về tài chính nên mãi đến năm 2008 anh mới mua được cho mình chiếc máy ảnh đầu tiên. Kể từ đó, anh đã giành được rất nhiều những giải thưởng. Anh bắt đầu sử dụng máy ảnh Sony Alpha từ năm 2014.</p>

            <p>“Nhiếp ảnh trong tôi là tuổi thơ, là kỷ niệm về người ông với nghề thợ kim hoàn trong một khu nhà ọp ẹp. Chính điều này đã truyền cảm hứng và thôi thúc tôi khám phá những viên ngọc quý tiềm ẩn qua lăng kính nhiếp ảnh trong những chuyến du lịch của mình. Niềm đam mê của tôi nằm ở những con người tôi đã gặp và những gì diễn ra xung quanh họ, những điều đã góp phần tạo nên văn hoá và truyền thống của họ, cho dù là ở những thành phố hiện đại xa hoa hay ở những làng quê hẻo lánh.”</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Nick bắt đầu sự nghiệp nhiếp ảnh vào năm 2008 và là một nhiếp ảnh gia chuyên chụp ảnh tư liệu và du lịch với niềm say mê đặc biệt về con người, chân dung và văn hóa. Lòng đam mê nhiếp ảnh của anh được khơi mào ngay từ khi anh vẫn còn là một cậu thiếu niên, nhưng do gánh nặng về tài chính nên mãi đến năm 2008 anh mới mua được cho mình chiếc máy ảnh đầu tiên. Kể từ đó, anh đã giành được rất nhiều những giải thưởng. Anh bắt đầu sử dụng máy ảnh Sony Alpha từ năm 2014.</p>

            <p>“Nhiếp ảnh trong tôi là tuổi thơ, là kỷ niệm về người ông với nghề thợ kim hoàn trong một khu nhà ọp ẹp. Chính điều này đã truyền cảm hứng và thôi thúc tôi khám phá những viên ngọc quý tiềm ẩn qua lăng kính nhiếp ảnh trong những chuyến du lịch của mình. Niềm đam mê của tôi nằm ở những con người tôi đã gặp và những gì diễn ra xung quanh họ, những điều đã góp phần tạo nên văn hoá và truyền thống của họ, cho dù là ở những thành phố hiện đại xa hoa hay ở những làng quê hẻo lánh.”</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Nick</span>
                </p>
                <img data-original="img/profile/my/nick/profile_pic-1.jpg" class="lazy" width="316" height="384" alt="Interview with Nick">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/nick/quote-1-vn.png" width="304" height="432" alt="Nick's quote">

                <img id="vn" class="quote-2 img-responsive center-block" src="img/profile/my/nick/quote-2-vn.png" width="297" height="342" alt="Nick's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thế giới quanh ta vô cùng rộng lớn và sống động, những nền văn hóa và truyền thống khác nhau đi qua chúng ta hằng ngày, nhưng rồi lại bị bỏ quên. Tôi có may mắn được xuất hiện trong một vài khoảnh khắc cuộc đời của những con người đã gặp gỡ, những con người như bạn như tôi. Họ dành cho tôi sự tôn trọng như chính sự tôn trọng tôi dành cho họ. Tôi ghé nhìn vào những khoảnh khắc lặng yên tươi đẹp bên trong họ và chính điều đó là đã trở thành nguồn động lực rất lớn cho tôi.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đối với công việc, việc mường tượng trước cảnh chụp là một khía cạnh rất quan trọng với tôi bởi nó ảnh hưởng đến tính thẩm mỹ cuối cùng của bức ảnh. Trong cuộc sống cá nhân tôi, mọi thứ xung quanh đều mang trên mình một vẻ đẹp riêng, chúng ta chỉ cần tìm ra những vẻ đẹp đó và đôi khi chúng nằm ngay bên hiên nhà. Tất cả những điều này đều gắn liền với những bức ảnh của tôi, hoà vào cảm xúc của tôi và đọng lại qua mỗi lần bấm máy. Nhiếp ảnh luôn đòi hỏi phải nắm bắt cả những khoảnh khắc lẫn vẻ đẹp vốn có trong từng khoảnh khắc ấy.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/nick/profile_pic-2.jpg" width="611" height="207" alt="Interview with Nick">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Có thể nói đến thiết bị chụp ảnh của tôi qua nhiều khía cạnh, nhưng trên hết vẫn là chất lượng kỹ thuật số của chúng. Nó phải được thiết kế ít cồng kềnh về kích thước và chắc chắn khi thao tác, và tôi thì luôn “bóc lột” những thiết bị của mình hết mức. Nó phải được thiết kế tinh xảo nhưng phải có khả năng chịu được những điều kiện khắc nghiệt của những nơi tôi đi đến. Bền, nhưng phải mang đến chất lượng ảnh tốt nhất.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi chịu ảnh hưởng khá nhiều từ những tác phẩm của Steve McCurry và Sebastioa Salgado. Tác phẩm của những bậc thầy nhiếp ảnh này thật sự là những chuẩn mực, mang đến ý nghĩa sâu sắc và giá trị thẩm mỹ cao qua từng bức ảnh.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thách hức lớn nhất mà tôi từng gặp phải là khi phải mang theo một chiếc máy ảnh cực nặng và phải đeo nó đi khắp nơi. Nó không thực sự nặng lắm nhưng cảm giác khi phải mang một chiếc máy cồng kềnh nhiều giờ trên vai thật sự rất khó chịu. Với dòng máy ảnh a7, tôi như ở trên thiên đường, cầm trong tay một máy ảnh full-frame với kích thước cực nhỏ gọn, gần như là tất cả những gì tôi cần. Chiếc máy ảnh hoạt động hoàn hảo trong những điều kiện thiếu sáng, cũng như khi chụp ảnh đường phố.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Công việc của tôi về cơ bản cần phải kết nối sâu sắc với những con người tôi tiếp xúc, cho dù đó là những con người trong những làng mạc miền thôn quê hay những trung tâm sầm uất, những đường phố, những con người và cả những khung cảnh xung quanh họ. Dòng a7 series mang đến cho tôi một cảm biến full-frame trong một thiết kế nhỏ gọn. Thêm vào đó, chất lượng ảnh cao chính là điều tôi cần cho những chuyến chụp ảnh, cho dù là trong nước hay ngoài nước. Thân máy nhỏ gọn cho tôi lợi thế của việc không phải di chuyển cồng kềnh, và qua đó, giúp tôi ít bị chú ý hơn mỗi khi tác nghiệp và có thể ghi lại được những khoảnh khác tự nhiên nhất.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chất lượng ảnh vô cùng xuất sắc, thiết kế nhỏ gọn, thân máy chắc chắn và ống kính rời kích thước nhỏ.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trong những năm gần đây Sony đã cho ra đời những dòng máy ảnh tuyệt vời với mức giá vừa phải. Và tốt nhất trong số đó là khi những chiếc máy ảnh full-frame không gương lật của dòng a7 series được ra mắt. Đối với tôi, điều này quả thật là hoàn hảo!</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/nick/profile_pic-3.jpg" width="611" height="207" alt="Interview with Nick">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Hiện tại tôi chủ yếu sử dụng ống kính tiêu cự cố định, F2.0 28mm và 55mm F1.8. Đôi lúc, tôi sẽ chỉ mang theo mỗi ống F4.0 16-35mm. Tất cả tôi đều thích, nhưng nếu buộc phải chọn một, tôi sẽ chọn F2.0 28mm cùng bộ tiếp hợp ngàm.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">a7S và a7II, với ống kính F1.8 55mm, 28mm F2.0 và bộ chuyển góc rộng, 8 pin, một vài thẻ SD, dụng cụ thổi bụi ống kính và vải lau.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Nick</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/nick/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Nick"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thế giới quanh ta vô cùng rộng lớn và sống động, những nền văn hóa và truyền thống khác nhau đi qua chúng ta hằng ngày, nhưng rồi lại bị bỏ quên. Tôi có may mắn được xuất hiện trong một vài khoảnh khắc cuộc đời của những con người đã gặp gỡ, những con người như bạn như tôi. Họ dành cho tôi sự tôn trọng như chính sự tôn trọng tôi dành cho họ. Tôi ghé nhìn vào những khoảnh khắc lặng yên tươi đẹp bên trong họ và chính điều đó là đã trở thành nguồn động lực rất lớn cho tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đối với công việc, việc mường tượng trước cảnh chụp là một khía cạnh rất quan trọng với tôi bởi nó ảnh hưởng đến tính thẩm mỹ cuối cùng của bức ảnh. Trong cuộc sống cá nhân tôi, mọi thứ xung quanh đều mang trên mình một vẻ đẹp riêng, chúng ta chỉ cần tìm ra những vẻ đẹp đó và đôi khi chúng nằm ngay bên hiên nhà. Tất cả những điều này đều gắn liền với những bức ảnh của tôi, hoà vào cảm xúc của tôi và đọng lại qua mỗi lần bấm máy. Nhiếp ảnh luôn đòi hỏi phải nắm bắt cả những khoảnh khắc lẫn vẻ đẹp vốn có trong từng khoảnh khắc ấy.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Có thể nói đến thiết bị chụp ảnh của tôi qua nhiều khía cạnh, nhưng trên hết vẫn là chất lượng kỹ thuật số của chúng. Nó phải được thiết kế ít cồng kềnh về kích thước và chắc chắn khi thao tác, và tôi thì luôn “bóc lột” những thiết bị của mình hết mức. Nó phải được thiết kế tinh xảo nhưng phải có khả năng chịu được những điều kiện khắc nghiệt của những nơi tôi đi đến. Bền, nhưng phải mang đến chất lượng ảnh tốt nhất.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi chịu ảnh hưởng khá nhiều từ những tác phẩm của Steve McCurry và Sebastioa Salgado. Tác phẩm của những bậc thầy nhiếp ảnh này thật sự là những chuẩn mực, mang đến ý nghĩa sâu sắc và giá trị thẩm mỹ cao qua từng bức ảnh.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thách hức lớn nhất mà tôi từng gặp phải là khi phải mang theo một chiếc máy ảnh cực nặng và phải đeo nó đi khắp nơi. Nó không thực sự nặng lắm nhưng cảm giác khi phải mang một chiếc máy cồng kềnh nhiều giờ trên vai thật sự rất khó chịu. Với dòng máy ảnh a7, tôi như ở trên thiên đường, cầm trong tay một máy ảnh full-frame với kích thước cực nhỏ gọn, gần như là tất cả những gì tôi cần. Chiếc máy ảnh hoạt động hoàn hảo trong những điều kiện thiếu sáng, cũng như khi chụp ảnh đường phố.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Công việc của tôi về cơ bản cần phải kết nối sâu sắc với những con người tôi tiếp xúc, cho dù đó là những con người trong những làng mạc miền thôn quê hay những trung tâm sầm uất, những đường phố, những con người và cả những khung cảnh xung quanh họ. Dòng a7 series mang đến cho tôi một cảm biến full-frame trong một thiết kế nhỏ gọn. Thêm vào đó, chất lượng ảnh cao chính là điều tôi cần cho những chuyến chụp ảnh, cho dù là trong nước hay ngoài nước. Thân máy nhỏ gọn cho tôi lợi thế của việc không phải di chuyển cồng kềnh, và qua đó, giúp tôi ít bị chú ý hơn mỗi khi tác nghiệp và có thể ghi lại được những khoảnh khác tự nhiên nhất.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chất lượng ảnh vô cùng xuất sắc, thiết kế nhỏ gọn, thân máy chắc chắn và ống kính rời kích thước nhỏ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trong những năm gần đây Sony đã cho ra đời những dòng máy ảnh tuyệt vời với mức giá vừa phải. Và tốt nhất trong số đó là khi những chiếc máy ảnh full-frame không gương lật của dòng a7 series được ra mắt. Đối với tôi, điều này quả thật là hoàn hảo!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Hiện tại tôi chủ yếu sử dụng ống kính tiêu cự cố định, F2.0 28mm và 55mm F1.8. Đôi lúc, tôi sẽ chỉ mang theo mỗi ống F4.0 16-35mm. Tất cả tôi đều thích, nhưng nếu buộc phải chọn một, tôi sẽ chọn F2.0 28mm cùng bộ tiếp hợp ngàm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">a7S và a7II, với ống kính F1.8 55mm, 28mm F2.0 và bộ chuyển góc rộng, 8 pin, một vài thẻ SD, dụng cụ thổi bụi ống kính và vải lau.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
