<div class="viet" id="profile-bryan">

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhiếp ảnh gia Quảng Cáo + Tạp chí</p>
                <p class="name">Bryan van der Beek</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Singapore</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-5">

                <div>
                    <p class="type">Nhiếp ảnh gia Quảng Cáo + Tạp chí</p>
                    <p class="name">Bryan van der Beek</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Singapore</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- PHOTOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Bryan van der Beek là một nhiếp ảnh gia quảng cáo và tạp chí đã từng đạt nhiều giải thưởng tại Singapore. Những bức ảnh của anh thậm chí nổi tiếng khắp các nước Châu Á, Bắc Mỹ và Châu Âu.</p>

            <p>Không những là cựu Phóng Viên Ảnh Cấp Cao của tờ The Straits Times tại Singapore, Byran còn có thời gian làm việc với những tờ báo khác tại Mỹ. Các tác phẩm của anh đã có mặt tại khá nhiều triển lãm quốc tế như: Time, Time Asia, Newsweek và The Washington Post. Không những thế, những bức ảnh nổi tiếng về sự tinh tế nghệ thuật của anh còn được triển lãm cố định tại Bảo Tàng Quốc Gia Singapore. Sau khi lấy bằng cử nhân tại Đại học Indiana chuyên ngành Báo chí, anh đã có thời gian giảng dạy tại khoa Nghệ thuật, Thiết kế và Truyền thông thuộc Đại học Công nghệ Nanyang, Đại học Bách Khoa Temasek và Học viện tạo hình cho phim và ảnh.</p>

            <p>Bạn có thể xem tác phẩm của Bryan tại
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:bryan:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:bryan:works:link', 'microsite|ilc:sea:viet|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Bryan van der Beek là một nhiếp ảnh gia quảng cáo và tạp chí đã từng đạt nhiều giải thưởng tại Singapore. Những bức ảnh của anh thậm chí nổi tiếng khắp các nước Châu Á, Bắc Mỹ và Châu Âu.</p>

            <p>Không những là cựu Phóng Viên Ảnh Cấp Cao của tờ The Straits Times tại Singapore, Byran còn có thời gian làm việc với những tờ báo khác tại Mỹ. Các tác phẩm của anh đã có mặt tại khá nhiều triển lãm quốc tế như: Time, Time Asia, Newsweek và The Washington Post. Không những thế, những bức ảnh nổi tiếng về sự tinh tế nghệ thuật của anh còn được triển lãm cố định tại Bảo Tàng Quốc Gia Singapore. Sau khi lấy bằng cử nhân tại Đại học Indiana chuyên ngành Báo chí, anh đã có thời gian giảng dạy tại khoa Nghệ thuật, Thiết kế và Truyền thông thuộc Đại học Công nghệ Nanyang, Đại học Bách Khoa Temasek và Học viện tạo hình cho phim và ảnh.</p>

            <p>Bạn có thể xem tác phẩm của Bryan tại
                <a href="http://www.bryanv.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:profile:bryan:works:link', 'ilc:sea:viet', 'ilc:sea:viet:profile:bryan:works:link', 'microsite|ilc:sea:viet|profile|bryan|works|link');" target="_blank">www.bryanv.com</a>
            </p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TotG7eHr4Zg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Bryan</span>
                </p>
                <img data-original="img/profile/sg/bryan/profile_pic-1.jpg" class="lazy" width="316" height="415" alt="Interview with Bryan">

                <img class="quote-1 img-responsive center-block" src="img/profile/sg/bryan/quote-1-vn.png" width="299" height="210" alt="Bryan's quote">

                <img class="quote-2 img-responsive center-block" src="img/profile/sg/bryan/quote-2-vn.png" width="312" height="216" alt="Bryan's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích kể chuyện. Tin rằng một bức ảnh đẹp sẽ chẳng đáng giá nếu không có một điều gì đấy mà người xem có thể cảm nhận về nó – một cảm nhận về khoảnh khắc, cảm xúc, sự tương tác – tất cả những điều này thể hiện trong một tấm hình mang lại cho tôi nhiều ý nghĩa hơn tất thảy những bức ảnh hoàng hôn hoành tráng trên thế giới.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi bắt đầu sự nghiệp nhiếp ảnh từ 20 năm trước và trọn vẹn mà nói, công việc này đã trở thành một phần trong cuộc sống của tôi. Không có một ngày nào trôi qua mà tôi không chụp một vài tấm, cho dù là hình ảnh các con tôi đang lớn lên từng ngày hay những điều thú vị tôi bắt gặp trên đường. Dĩ nhiên, việc chọn để trở thành một nhiếp ảnh gia chuyên nghiệp đã cho tôi cơ hội ngắm nhìn và lưu lại những hình ảnh mà một người bình thường không thể, vì vậy tôi luôn cố nắm bắt những cơ hội này để chia sẻ với mọi người những trải nghiệm đó.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-2.jpg" width="611" height="207" alt="Interview with Bryan">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trước đây khi còn trẻ, tôi sẽ có nhiều lựa chọn hơn khi mang theo càng nhiều thiết bị. Nhưng không may là, càng nhiều thiết bị đồng nghĩa với việc tôi phải mang vác nặng hơn. Còn bây giờ, tôi có thể xoay sở tốt hơn với số lượng thiết bị giới hạn, vì thế mỗi lần chụp tôi chỉ chọn mang theo một vài ống kính ưa thích mà thôi. Nhưng yêu cầu thì vẫn thế, tôi cần một máy ảnh chắc chắn và có khả năng chịu đựng tốt trong quá trình di chuyển (nhất là khi tôi săn ảnh sự kiện), và một vài tính năng chống chọi tốt với các điều kiện thời tiết cơ bản. Tôi cũng cần 3 ống kính cơ bản phục vụ công việc làm báo (16-35, 24-70, 70-200mm) để đảm bảo luôn có trong mình những tiêu cự cần thiết. Tôi cũng có xu hướng thiên về những ống kính tốc độ cao, khẩu độ lớn để chụp ảnh chân dung và đường phố, vì vậy tôi luôn mang trên mình những ống kính này. Khả năng lấy nét tự động nhanh và thiết kế tối ưu cho tay cầm cũng giúp ích cho tôi khá nhiều.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Quá dễ để kể ra những nhiếp ảnh gia nổi tiếng đã ảnh hưởng sâu sắc đến cuộc đời tôi như Sebastiao Salgado, James Nachtwey và Alex Webb, và còn nhiều những nhiếp ảnh gia tài năng khác. Những nhiếp ảnh gia đã làm việc chung với tôi tại các tờ báo và toà soạn, cũng như các biên tập viên, một phần nào đó ở khía cạnh cá nhân, cũng ảnh hưởng khá nhiều đến sự nghiệp nhiếp ảnh của tôi.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Là người đã trải nghiệm nhiều, tôi thích ứng khá dễ dàng với mọi hoàn cảnh, nhưng đôi khi tiếng màn trập khiến tôi khá khó chịu. Màn trập điện tử của α7S là một “báu vật” đối với tôi mỗi khi cần chụp kín đáo và không gây ra tiếng động.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Kích thước nhỏ gọn và số lượng ống kính hỗ trợ ngày càng nhiều cho phép tôi dễ dàng mang bên mình một chiếc máy ảnh full-frame đến bất kỳ đâu. Trước đây tôi thường mang theo một chiếc máy ảnh point-and-shoot khi đi dạo, nhưng thời gian gần đây tôi đã chọn a7S hoặc a7II – những chiếc máy ảnh có thể mang đến cho tôi chất lượng ảnh của một chiếc DSLR, nhưng lại nhẹ hơn đáng kể.</div>
                </div>
                <!-- Q&A 6 -->

                <!-- Q&A 7 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Như đã nói lúc trước, nhẹ và nhỏ gọn là hai ưu điểm lớn nhất, ngoài ra còn có các bộ tiếp hợp ngàm cho phép tôi sử dụng các ống kính chất lượng cao từ những máy khác trên dòng máy này. Tôi đã có thời gian sử dụng máy ảnh rangefinder, và giờ đây tôi vẫn có thể dùng những ống kính rangefinder trên thân máy a7 để tận dụng những ưu thế vốn có của dòng ống kính này. Ngoài ra, tính năng gửi ảnh trực tiếp sang điện thoại qua kết nối NFC và WiFi<sup>&reg;</sup> là vô cùng tuyệt vời – tôi có thể lấy ảnh nhanh cho khách hàng xem trước, cũng như phục vụ cho quá trình làm việc xuyên suốt của mình.</div>
                </div>
                <!-- Q&A 7 -->

                <!-- Q&A 8 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Sony chắc chắn đã tạo ra một đột phá lớn khi ra mắt chiếc máy ảnh full-frame nhỏ gọn với đầy đủ các tính năng ưu việt. Mức giá cũng khá hấp dẫn đối với cả người dùng lẫn các nhiếp ảnh gia chuyên nghiệp, và là một sự khởi đầu hoàn hảo vào thế giới nhiếp ảnh kỹ thuật số - nhất là đối với những người dùng máy ảnh phim, chưa sẵn sàng làm quen với máy ảnh crop.</div>
                </div>
                <!-- Q&A 8 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/sg/bryan/profile_pic-3.jpg" width="611" height="207" alt="Interview with Bryan">

                <!-- Q&A 9 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ống kính yêu thích của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trước đây, ống kính yêu thích của tôi đã từng là 55mm f1.8, mãi cho đến khi 35mm f1.4 ra mắt. Nhưng nếu xét về tính thực tế và sự linh hoạt, nếu phải chọn duy nhất một ống kính, tôi sẽ chọn mang theo 16-35mm f4 bên mình.</div>
                </div>
                <!-- Q&A 9 -->

                <!-- Q&A 10 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Đối với những bức ảnh chụp cho tạp chí, tôi sẽ mang theo a7S và a7II, kèm theo các ống kính 16-35mm, 24-70mm, 70-200mm, 55mm và 35mm.</div>
                </div>
                <!-- Q&A 10 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Trò chuyện
                    <br/> cùng
                    <span class="intv-photographer">Bryan</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/sg/bryan/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Bryan"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Động lực nào thôi thúc anh trở thành một nhiếp ảnh gia?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích kể chuyện. Tin rằng một bức ảnh đẹp sẽ chẳng đáng giá nếu không có một điều gì đấy mà người xem có thể cảm nhận về nó – một cảm nhận về khoảnh khắc, cảm xúc, sự tương tác – tất cả những điều này thể hiện trong một tấm hình mang lại cho tôi nhiều ý nghĩa hơn tất thảy những bức ảnh hoàng hôn hoành tráng trên thế giới.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Nhiếp ảnh đóng vai trò quan trọng như thế nào đối với công việc và cuộc sống cá nhân của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi bắt đầu sự nghiệp nhiếp ảnh từ 20 năm trước và trọn vẹn mà nói, công việc này đã trở thành một phần trong cuộc sống của tôi. Không có một ngày nào trôi qua mà tôi không chụp một vài tấm, cho dù là hình ảnh các con tôi đang lớn lên từng ngày hay những điều thú vị tôi bắt gặp trên đường. Dĩ nhiên, việc chọn để trở thành một nhiếp ảnh gia chuyên nghiệp đã cho tôi cơ hội ngắm nhìn và lưu lại những hình ảnh mà một người bình thường không thể, vì vậy tôi luôn cố nắm bắt những cơ hội này để chia sẻ với mọi người những trải nghiệm đó.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có yêu cầu gì đối với những thiết bị nhiếp ảnh không?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trước đây khi còn trẻ, tôi sẽ có nhiều lựa chọn hơn khi mang theo càng nhiều thiết bị. Nhưng không may là, càng nhiều thiết bị đồng nghĩa với việc tôi phải mang vác nặng hơn. Còn bây giờ, tôi có thể xoay sở tốt hơn với số lượng thiết bị giới hạn, vì thế mỗi lần chụp tôi chỉ chọn mang theo một vài ống kính ưa thích mà thôi. Nhưng yêu cầu thì vẫn thế, tôi cần một máy ảnh chắc chắn và có khả năng chịu đựng tốt trong quá trình di chuyển (nhất là khi tôi săn ảnh sự kiện), và một vài tính năng chống chọi tốt với các điều kiện thời tiết cơ bản. Tôi cũng cần 3 ống kính cơ bản phục vụ công việc làm báo (16-35, 24-70, 70-200mm) để đảm bảo luôn có trong mình những tiêu cự cần thiết. Tôi cũng có xu hướng thiên về những ống kính tốc độ cao, khẩu độ lớn để chụp ảnh chân dung và đường phố, vì vậy tôi luôn mang trên mình những ống kính này. Khả năng lấy nét tự động nhanh và thiết kế tối ưu cho tay cầm cũng giúp ích cho tôi khá nhiều.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có sức ảnh hưởng lớn nhất trong những chuyến chụp ảnh của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Quá dễ để kể ra những nhiếp ảnh gia nổi tiếng đã ảnh hưởng sâu sắc đến cuộc đời tôi như Sebastiao Salgado, James Nachtwey và Alex Webb, và còn nhiều những nhiếp ảnh gia tài năng khác. Những nhiếp ảnh gia đã làm việc chung với tôi tại các tờ báo và toà soạn, cũng như các biên tập viên, một phần nào đó ở khía cạnh cá nhân, cũng ảnh hưởng khá nhiều đến sự nghiệp nhiếp ảnh của tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Thách thức lớn nhất đối với anh trong nhiếp ảnh là gì và a7 đã giúp anh giải quyết điều đó như thế nào?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Là người đã trải nghiệm nhiều, tôi thích ứng khá dễ dàng với mọi hoàn cảnh, nhưng đôi khi tiếng màn trập khiến tôi khá khó chịu. Màn trập điện tử của α7S là một “báu vật” đối với tôi mỗi khi cần chụp kín đáo và không gây ra tiếng động.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh lại chọn dòng a7 cho công việc cũng như những chuyến chụp ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Kích thước nhỏ gọn và số lượng ống kính hỗ trợ ngày càng nhiều cho phép tôi dễ dàng mang bên mình một chiếc máy ảnh full-frame đến bất kỳ đâu. Trước đây tôi thường mang theo một chiếc máy ảnh point-and-shoot khi đi dạo, nhưng thời gian gần đây tôi đã chọn a7S hoặc a7II – những chiếc máy ảnh có thể mang đến cho tôi chất lượng ảnh của một chiếc DSLR, nhưng lại nhẹ hơn đáng kể.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-7">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có thể kể hai hoặc ba ưu điểm/lợi thế của a7 series?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-7">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Như đã nói lúc trước, nhẹ và nhỏ gọn là hai ưu điểm lớn nhất, ngoài ra còn có các bộ tiếp hợp ngàm cho phép tôi sử dụng các ống kính chất lượng cao từ những máy khác trên dòng máy này. Tôi đã có thời gian sử dụng máy ảnh rangefinder, và giờ đây tôi vẫn có thể dùng những ống kính rangefinder trên thân máy a7 để tận dụng những ưu thế vốn có của dòng ống kính này. Ngoài ra, tính năng gửi ảnh trực tiếp sang điện thoại qua kết nối NFC và WiFi<sup>&reg;</sup> là vô cùng tuyệt vời – tôi có thể lấy ảnh nhanh cho khách hàng xem trước, cũng như phục vụ cho quá trình làm việc xuyên suốt của mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-8">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đánh giá Sony như thế nào trong lĩnh vực ảnh số?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-8">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Sony chắc chắn đã tạo ra một đột phá lớn khi ra mắt chiếc máy ảnh full-frame nhỏ gọn với đầy đủ các tính năng ưu việt. Mức giá cũng khá hấp dẫn đối với cả người dùng lẫn các nhiếp ảnh gia chuyên nghiệp, và là một sự khởi đầu hoàn hảo vào thế giới nhiếp ảnh kỹ thuật số - nhất là đối với những người dùng máy ảnh phim, chưa sẵn sàng làm quen với máy ảnh crop.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-9">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ống kính yêu thích của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-9">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trước đây, ống kính yêu thích của tôi đã từng là 55mm f1.8, mãi cho đến khi 35mm f1.4 ra mắt. Nhưng nếu xét về tính thực tế và sự linh hoạt, nếu phải chọn duy nhất một ống kính, tôi sẽ chọn mang theo 16-35mm f4 bên mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-10">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh mang theo những gì trong chiếc túi máy ảnh của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-10">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Đối với những bức ảnh chụp cho tạp chí, tôi sẽ mang theo a7S và a7II, kèm theo các ống kính 16-35mm, 24-70mm, 70-200mm, 55mm và 35mm.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
