<header class="container-fluid navbar-fixed-top viet">

    <div class="row">

        <div class="col-sm-12 navbar navbar-inverse">

            <div class="logo">
                <a href="./"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @@if (typeof country !== 'undefined' && country !== 'sg') {
            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/@@language/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:menu:main:home', 'ilc:sea:viet', 'ilc:sea:viet:menu:main:home', 'microsite|ilc:sea:viet|menu|main|home');" class="home">Trang Chủ</a>
                <a href="@@country/@@language/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:menu:main:gallery', 'ilc:sea:viet', 'ilc:sea:viet:menu:main:gallery', 'microsite|ilc:sea:viet|menu|main|gallery');" class="gallery">Thư Viện Ảnh</a>
                <!-- <a onclick="return false;" class="feature_pro last">Dự Án Nổi Bật<br/><span>(Đang hoàn thiện)</span></a> -->

            } @@if (typeof country !== 'undefined' && country === 'sg') {
            <nav id="navbar" class="text-center navbar-collapse collapse sg-main-nav">

                <a href="@@country/@@language/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:menu:main:home', 'ilc:sea:viet', 'ilc:sea:viet:menu:main:home', 'microsite|ilc:sea:viet|menu|main|home');" class="home">Trang Chủ</a>
                <a href="@@country/@@language/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:menu:main:gallery', 'ilc:sea:viet', 'ilc:sea:viet:menu:main:gallery', 'microsite|ilc:sea:viet|menu|main|gallery');" class="gallery">Thư Viện Ảnh</a>
                <!-- <a onclick="return false;" class="feature_pro">Dự Án Nổi Bật<br/><span>(Đang hoàn thiện)</span></a> -->
                <a href="@@country/@@language/series.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:menu:main:a7Series', 'ilc:sea:viet', 'ilc:sea:viet:menu:main:a7Series', 'microsite|ilc:sea:viet|menu|main|a7Series');" class="series">Dòng sản phẩm <img src="img/logo-alpha_7.png" alt="Alpha 7 Logo" width="27" height="13"></a>
                <!-- <a href="@@country/@@language/other-a7-users.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:Othera7Users', 'ilc:@@country', 'ilc:@@country:menu:main:Othera7Users', 'microsite|ilc:@@country|menu|main|Othera7Users');" class="other-a7users">Other <img src="img/logo-alpha_7.png" alt="Alpha 7 Logo" width="27" height="13"> Users</a> -->
            }

            @@if ((typeof country !== 'undefined' && country === 'th') || (typeof country !== 'undefined' && country === 'sg') || (typeof country !== 'undefined' && country === 'id') || (typeof country !== 'undefined' && country === 'vn')) {
                <a href="//www.sony-asia.com/microsite/ilc/videographers/sea/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:videographers', 'ilc:@@country', 'ilc:@@country:menu:main:videographers', 'microsite|ilc:@@country|menu|main|videographers');" class="videographers last">
                    <img src="img/professional-video.png" alt="Alpha - Professionals Videographers" width="153" height="24">
                </a>
            }
            
            @@if ((typeof country !== 'undefined' && country === 'my') || (typeof country !== 'undefined' && country === 'ph') || (typeof country !== 'undefined' && country === 'sea') ) {
                <a href="//www.sony-asia.com/microsite/ilc/videographers/@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:videographers', 'ilc:@@country', 'ilc:@@country:menu:main:videographers', 'microsite|ilc:@@country|menu|main|videographers');" class="videographers last">
                    <img src="img/professional-video.png" alt="Alpha - Professionals Videographers" width="153" height="24">
                </a>
            }

            </nav>

            <div class="divider hidden-md hidden-lg">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

            <div class="language">
                <select name="language" id="language" class="hidden-xs">
                    <option value="en" selected>English</option>
                    <option value="thai">Thai</option>
                    <option value="viet">Vietnamese</option>
                </select>
                <select name="language" id="language-mobile" class="hidden-sm hidden-md hidden-lg">
                    <option value="en" selected>EN</option>
                    <option value="thai">TH</option>
                    <option value="viet">VN</option>
                </select>
            </div>

        </div>

    </div>

</header>

<div class="container-fluid secondary-nav text-center">

    <div class="row">

        <div class="col-xs-12">

            <a href="@@country/@@language/lenses.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:menu:lenses', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:menu:lenses', 'microsite|ilc:sea:viet|a7Series|menu|lenses');" id="lenses">
                <p>Lenses</p>
            </a>

            <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

            <a href="@@country/@@language/cameras.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:menu:cameras', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:menu:cameras', 'microsite|ilc:sea:viet|a7Series|menu|cameras');" id="cameras">
                <p>Cameras</p>
            </a>

            <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

            <a href="@@country/@@language/accessories.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:sea:viet:a7Series:menu:accessories', 'ilc:sea:viet', 'ilc:sea:viet:a7Series:menu:accessories', 'microsite|ilc:sea:viet|a7Series|menu|accessories');" id="accessories">
                <p>Accessories</p>
            </a>

        </div>

    </div>

</div>
