<!DOCTYPE html>
<html lang="en">

    <head>
        @@include ( '../../template/meta.html', {
            "country": "ID",
            "title": "Photo | α Professional Photographers – Sony SEA Photographers Program",
            "metaTitle": "α Professional Photographers – Sony SEA Photographers Program",
            "metaDescription": "α Professional Photographers project features a portfolio of images shot by photographers from Southeast Asia on Sony α cameras. Explore their works and interviews now."
        } )

        @@include ( '../../template/meta-fb.html', {
            "fbTitle": "α Professional Photographers – โครงการช่างภาพโดยโซนี่",
            "fbImage": "##### domain #####img/profile/{{country}}/{{photographer.nick}}/photo-{{id}}.jpg",
            "fbDescription": "โปรไฟล์ช่างภาพจากการถ่ายภาพโดยใช้กล้อง Sony α ของกลุ่มประเทศเอเชียตะวันออกเฉียงใต้ ค้นหาข้อมูลของพวกเขาและบทสัมภาษณ์"
        } )

        <!-- htmlmin:ignore -->

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/notoserifthai.css">

        @@include ('../../template/css-index.html')

        @@include ('../../template/js-ie8.html')

        <!-- htmlmin:ignore -->

    </head>

    <body id="photo">

        <div id="fb-root"></div>

        @@include ('../../template/preloader.html')



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ('../../template/thai/header-2.html', {
            "country": "id",
            "language": "thai"
        })
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/thai/content-photo.html', {
            "country": "id",
            "language": "thai"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/thai/footer.html', {
            "country": "id"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- htmlmin:ignore -->

        <script>
            var country = 'sea';
            var language = 'thai';
        </script>

        @@include ('../../template/js-template.html')

        @@include ('../../template/js-photo-vendor.html')

        @@include ('../../template/js-font.html')

        @@include ('../../template/js-photo.html')

        @@include ( '../../template/omniture.html', {
            "s.pageName"     : "ms:ilc:sea:thai:fbLike:photo",
            "s.prop1"        : "http://www.sony-asia.com",
            "s.prop2"        : "AP",
            "s.prop3"        : "en",
            "s.prop4"        : "hp",
            "s.prop5"        : "i",
            "s.prop41"       : "ilc",
            "s.prop42"       : "ilc:sea:thai:fbLike:photo",
            "s.hier5"        : "microsite|ilc|sea|thai|fbLike|photo"
        } )

        @@include ('../../template/gtm.html')

        <!-- htmlmin:ignore -->

    </body>

</html>
