<!DOCTYPE html>
<html lang="en">

    <head>
        @@include ( '../../template/meta.html', {
            "country": "MY",
            "title": "Photo | α Professional Photographers – Sony SEA Photographers Program",
            "metaTitle": "α Professional Photographers – Sony SEA Photographers Program",
            "metaDescription": "α Professional Photographers project features a portfolio of images shot by photographers from Southeast Asia on Sony α cameras. Explore their works and interviews now."
        } )

        @@include ( '../../template/meta-fb.html', {
            "fbTitle": "Nhiếp ảnh gia chuyên nghiệp α – Chương trình nhiếp ảnh gia Sony Châu Á",
            "fbImage": "##### domain #####img/profile/{{country}}/{{photographer.nick}}/photo-{{id}}.jpg",
            "fbDescription": "Chương trình Nhiếp ảnh gia chuyên nghiệp α thể hiện những hình ảnh được chụp bởi các nhiếp ảnh gia hàng đầu Châu Á bằng Sony α. Hãy tìm hiểu thêm về họ."
        } )

        <!-- htmlmin:ignore -->

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Sans&subset=vietnamese">

        @@include ('../../template/css-index.html')

        @@include ('../../template/js-ie8.html')

        <!-- htmlmin:ignore -->

    </head>

    <body id="photo">

        <div id="fb-root"></div>

        @@include ('../../template/preloader.html')



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/viet/header-2.html', {
            "country": "my",
            "language": "viet"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ('../../template/viet/content-photo.html', {
            "country": "my",
            "language": "viet"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/viet/footer.html', {
            "country": "my"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- htmlmin:ignore -->

        <script>
            var country = 'sea';
            var language = 'viet';
        </script>

        @@include ('../../template/js-template.html')

        @@include ('../../template/js-photo-vendor.html')

        @@include ('../../template/js-font.html')

        @@include ('../../template/js-photo.html')

        @@include ( '../../template/omniture.html', {
            "s.pageName"     : "ms:ilc:sea:viet:fbLike:photo",
            "s.prop1"        : "http://www.sony-asia.com",
            "s.prop2"        : "AP",
            "s.prop3"        : "en",
            "s.prop4"        : "hp",
            "s.prop5"        : "i",
            "s.prop41"       : "ilc",
            "s.prop42"       : "ilc:sea:viet:fbLike:photo",
            "s.hier5"        : "microsite|ilc|sea|viet|fbLike|photo"
        } )

        @@include ('../../template/gtm.html')

        <!-- htmlmin:ignore -->

    </body>

</html>
